[2019-12-14 17:13] gufmar commented on #1180
hold on ... might found a cause ...

[2019-12-14 18:35] KtorZ commented on #1180
@gufmar Sorry, I read your issue a bit too quickly initially :thinking:

Okay, let's investigate why `366988faf204e98d3cafc4f0656257bca76a93ed6db298e92111aee0c9d00365` doesn't have metadata.

[2019-12-14 18:58] KtorZ commented on #1180
This pools is associated with the following owner on nightly:

[code]

And, there's no metadata associated with this owner in the registry:

![Screenshot from 2019-12-14 19-57-25](https://user-images.githubusercontent.com/5680256/70853275-05477a00-1eac-11ea-929f-249709e23c34.png)

So, there's no metadata attached to this pool.

[2019-12-14 19:07] KtorZ commented on #1180
So to clarify, if your question is

"Why do some stake pools returned by the API don't have metadata?"

The answer is: because only owners who are registered on the CF can be associated with their stake pools. So, some pools may have been registered on-chain, but their owners don't have submitted anything to the registry. (This is seemingly hinted by the [API documentation](https://input-output-hk

[2019-12-15 10:06] hodlonaut opened #1181 "Wallet initialization using blockchain data fails with unique constraint failure and ErrPointAlreadyExists"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | 2019.12.13 (git revision: 6c6d1dc)  |
| Platform     | Mac OS           |
| Installation | source, `master` branch             |

Additional context: https://github.com/input-output-hk/jormungandr/issues/1366

# Steps to Repro

[2019-12-15 10:59] KtorZ commented on #1181
Hey @hodlonaut, thanks for reporting this.
I noticed this recently, one of the pools registered on the testnet has two identical owners. I've raised the concern to Jormungandr's team who don't see any particular issue with this (see https://github.com/input-output-hk/jormungandr/issues/1366).

Therefore, we're going to have to slightly adjust our database interface to play nice with this.

[2019-12-15 11:29] #1158 closed, assigned to KtorZ

[2019-12-15 12:02] KtorZ commented on #1181
@hodlonaut I've updated your ticket to use our BUG template :+1:

[2019-12-15 12:12] hodlonaut commented on #1181
Thanks @KtorZ !

[2019-12-15 13:52] #1164 closed, assigned to rvl

[2019-12-15 13:57] #1090 closed, assigned to rvl

[2019-12-15 13:58] #1180 closed, assigned to nobody

[2019-12-15 14:02] KtorZ commented on #1135
@jonathanknowles it would be nice to point to the actual tests and where to find these (see https://github.com/input-output-hk/cardano-wallet/issues/1090)

[2019-12-15 14:02] #1135 closed, assigned to jonathanknowles

[2019-12-15 14:02] KtorZ commented on #1134
Same remark as #1135, the QA could deserve some more love :)

[2019-12-15 14:02] #1134 closed, assigned to jonathanknowles

[2019-12-15 14:02] #1133 closed, assigned to jonathanknowles

[2019-12-15 14:06] KtorZ commented on #1136
No QA nor Development section here, but deducing from other tickets, I've found:

https://github.com/input-output-hk/cardano-wallet/blob/master/lib/core-integration/src/Test/Integration/Scenario/API/Wallets.hs#L1483-L1518

We are missing:

- Negative tests for the headers and path parameters
- Swagger file description to "stable", putting back "In Progress"

[2019-12-15 14:49] KtorZ commented on #1181
Okay, fix implemented, QA done. Merged into `master`.

[2019-12-15 14:49] #1181 closed, assigned to KtorZ

[2019-12-15 18:58] stakeada opened #1184 "SQLite3 returned ErrorConstraint while attempting to perform step: UNIQUE constraint failed: pool_owner.pool_id, pool_owner.pool_owner"
# Context

Just run cardano-wallet as follows:

[code]

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | 2019.12.13 (git revision: 0000000000000000000000000000000000000000) |
| Platform     | Nixos          |
| Installation | Source          |

# Steps to Reproduce

Just run cardano-wa

[2019-12-15 19:08] KtorZ commented on #1184
Duplicate with #1181
Please use the latest revision _if you need this fixed_.

[2019-12-15 19:08] #1184 closed, assigned to nobody

[2019-12-15 19:51] stakeada opened #1185 "SQLite3 returned ErrorConstraint while attempting to perform step: NOT NULL constraint failed: pool_owner_backup.pool_owner_index"
# Context

Just run cardano-wallet as follows:

[code]

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | 2019.12.13 (git revision: 0000000000000000000000000000000000000000) |
| Platform     | Nixos          |
| Installation | Source          |

# Steps to Reproduce

Just run cardano-wa

[2019-12-15 21:21] Fell-x27 commented on #1185
Cardano node doesnt crash. Wallet can't work with a database from previous version.
Breaking changes again? :)

Should be nice, if there was some tool for DB mirgating between versions.

[2019-12-15 21:27] stakeada commented on #1185
However, I did rename the files in this directory (note the 2 in the name):
[code]

Is there any other file that I need to rename or possibly even delete. From your message I only need to remove the old DB and resync and this problem should be gone?

[2019-12-15 22:16] adatown opened #1186 "Launch fails"
This fails:
[code]

The exact same arguments with latest version of jormungandr works:
[code]

Full output:
[code]

[2019-12-15 23:08] Fell-x27 commented on #1185
Yes, a new storage solves the problem.
I'm afraid that cause is not in filenames, but in database structure.

[2019-12-15 23:21] stakeada commented on #1185
I was saying that renaming the above didn't solve the issue.

So how can I solve the issue. Should I just remove the DBs, are these files the only ones that need to be removed:

- blocks.sqlite-shm
- blocks.sqlite-wal
- blocks.sqlite

Or do I need to do something else?

[2019-12-16 02:22] stanfieldr opened #1187 "Stake pool does not show up in list"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | 2019.12.13 (git revision: f3576be15de4976e753dea212aa5d44c334bd204) |
| Platform     | Fedora Linux 30  x86_64        |
| Installation | Source          |

# Steps to Reproduce

I made an SSH tunnel from the machine i ran card

[2019-12-16 02:31] kristieguo commented on #1167
@KtorZ Hi, we'd really appreciate it if you could answer our questions as soon as possible. Thank you.

[2019-12-16 03:23] stanfieldr commented on #1187
I compiled from master and it's fixed. Thanks guys!

[2019-12-16 03:23] #1187 closed, assigned to nobody

[2019-12-16 03:58] rvl commented on #1185
Hi, we are working on the wallet db schema migrations.

But for your information, the database structure is like this:

[code]

* The wallet databases (your data) are beneath the `wallets` directory.
   - Wallets are named with the wallet ID.
   - Stake pool metrics are in a separate file.
* The jormungandr node backend databases (chain data) are beneath the `chain` directory.
* The `-shm` and `-w

[2019-12-16 04:06] rvl commented on #1186
Hi, When running cardano-wallet, check what version of `jormungandr` you have on your `PATH` environment variable.

This log says "Starting jormungandr 0.8.0-rc10", which is probably incompatible with the running testnet, and may also be incompatible with cardano-wallet 2019.12.13.

The [README.md](https://github.com/input-output-hk/cardano-wallet#latest-releases) file has a table of supported ver

[2019-12-16 07:10] KtorZ commented on #1185
Hey, this one is actually a duplicate of #1181 and is not so much about db migration (though we are also working on it). More details on #1181 but

TL;DR; Use master on a fresh new database

Cheers :)

[2019-12-16 07:10] #1185 closed, assigned to nobody

[2019-12-16 08:18] #1186 closed, assigned to nobody

[2019-12-16 08:20] KtorZ commented on #1167
Hi @kristieguo we are a bit busy on the development side at the moment ^.^
I am trying to find someone to help with your questions. Please be patient :pray:

[2019-12-16 08:23] KtorZ opened #1188 "`active_slot_coeff` ignored in performance calculation."
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | N/A  |
| Platform     | All           |
| Installation | N/A             |

From _Genesis Praos_:

[...]
to be independently selected as a leader for a particular slot `sl_j` with probability `p_i` depending only on its relati

[2019-12-16 08:51] #1136 closed, assigned to jonathanknowles

[2019-12-16 11:48] #1188 closed, assigned to KtorZ

[2019-12-16 15:43] #1071 closed, assigned to KtorZ

[2019-12-16 16:20] #1150 closed, assigned to KtorZ

[2019-12-16 20:16] EdouardLvdl opened #1194 "Cardano wallet wrong port error"
Steps to reproduce:
- Follow official guide until step 3.2.2 https://github.com/input-output-hk/shelley-testnet/blob/master/docs/stake_pool_operator_how_to.md "For the Incentivized Testnet using Cardano-Wallet CLI"
- Then follow https://github.com/cardano-foundation/incentivized-testnet-stakepool-registry/wiki/How-to-Register-Your-Stake-Pool-on-Chain Step 3: Fund your account Option B using cardan

[2019-12-16 22:47] KtorZ commented on #1194
HI @EdouardLvdl , did you start the wallet backend server & its node (Jörmungandr) before running this command? (As explained in [Step 1](https://github.com/cardano-foundation/incentivized-testnet-stakepool-registry/wiki/How-to-Register-Your-Stake-Pool-on-Chain#step-1-start-jormungandr) ?)

[2019-12-16 23:15] KtorZ opened #1196 "API Specifications NETWORK - Calculated next epoch is the next epoch"
# Context

# Test Case

https://buildkite.com/input-output-hk/cardano-wallet/builds/4900#d7f15657-d697-4054-96aa-5b98849a9fce

# Failure / Counter-example

N/A

---

# Resolution

- #1202

---

# QA

[2019-12-17 00:14] EdouardLvdl commented on #1194
Yes, I started jormungandr and my node is synced

[2019-12-17 02:55] rvl commented on #1194
If using Step 3 Option B (cardano-wallet), then you need to also run the command in the "Using cardano-wallet" option of Step 1.

[2019-12-17 11:57] Anviking opened #1197 "Non-linear sync progress from not considering `active_slot_coeff`"
# Context

We display sync progress in % for wallets. We compare against the "slot corresponding to the current time".

We don't use syncedSlotNo / curTimeSlotNo. There might be a large section of empty slots between genesis and the next block. This caused syncProgress to essentially start at 90% on the last balance check testnet.

We **do** use (h / (h + X)) where `h` is the local chain block hei

[2019-12-17 13:17] thevictor13 commented on #923
The above also applies for Ubuntu Server 19.10

[2019-12-17 15:39] KtorZ opened #1200 "Rollbacks issue in stake pool worker"
# Context

Relates to #1181.

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | v2019-12-16 46391803d2a35aa7608d46988411bed13d98b92c  |
| Platform     | All           |
| Installation | N/A             |

# Steps to Reproduce

1. If the node rolls back to a previous epoch, it may happen

[2019-12-17 15:46] EdouardLvdl commented on #1194
Thanks for your help, it is indeed required to install jormungandr by following this guide https://github.com/input-output-hk/jormungandr versus just running the node.

Would be nice to have such step highlighted in https://github.com/input-output-hk/shelley-testnet/blob/master/docs/stake_pool_operator_how_to.md as well

[2019-12-17 15:46] #1194 closed, assigned to nobody

[2019-12-18 15:54] #1200 closed, assigned to KtorZ

[2019-12-18 18:02] alan-mcnicholas commented on #1146
Uploading logs + wallet db from 0 balance instance.
[0balanceIssue.zip](https://github.com/input-output-hk/cardano-wallet/files/3979823/0balanceIssue.zip)

[2019-12-18 18:27] #1196 closed, assigned to KtorZ

[2019-12-18 18:32] KtorZ commented on #1167
Closing this. I believe you guys received an email from Neville to continue the discussion :wave:

[2019-12-18 18:32] #1167 closed, assigned to KtorZ

[2019-12-19 02:18] kristieguo commented on #1167
@KtorZ No we didn't receive any email. The email address is contact@jadepool.io

[2019-12-19 12:36] #1197 closed, assigned to Anviking

[2019-12-19 15:00] KtorZ opened #1207 "Increase API Handlers polymorphism"
# Context

Most of the wallet engine is already very polymorphic and can support multiple types of wallet. In the API, we've instantiated endpoints to work either with `SeqState` or `RndState`, though in practice, any combination of `SeqState`, `RndState` and keys are possible. In particular, for supporting Yoroi, we'll need a combination of `SeqState` and `ByronKey`.

# Decision

- Remove duplica

[2019-12-19 15:09] KtorZ opened #1208 "Support and discriminate 12 and 15 words in the byron createWallet endpoint"
# Context

Byron Daedalus wallets use 12 words, Byron Yoroi wallets use 15.

# Decision

To keep the API simple and user friendly, we'll use the number of words to discriminate between  Yoroi and Daedalus byron wallets and pick a corresponding API layer.

# Acceptance Criteria

1. One _must_ be able to restore a legacy yoroi wallet using a 15 word mnemonic passphrase via the same api endpoint http

[2019-12-20 14:00] Anviking commented on #1160
I think I can close this. No QA since nothing is merged.

I'll open a separate issue for a potentially more extensive prototype.

[2019-12-20 14:00] #1160 closed, assigned to Anviking

[2019-12-20 16:25] #1099 closed, assigned to paweljakubas

[2019-12-22 15:57] Fell-x27 opened #1216 "API data filtration and pagination"
# Context

the REST API list-endpoints needs for filters.

# Decision

For the cardano-sl version of wallet there were filters and pagers as a part of a REST API.
So you can choose how much data you need, how it should be selected and sorted.

Right now there are no any ways to do something like that(except transaction list time-range querying). For example, /v2/stake-pools is returning about 500+

[2019-12-23 08:10] KtorZ commented on #1216
Hi :)
Thanks for reaching out. We are currently analyzing the need for pagination on various endpoint. In most cases however, it is rather reasonable to de-prioritize it over more important features.

Incidentally, we are already measuring database query times as well as API response latency delays on nightly builds (see https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/329).

As

[2019-12-23 08:10] #1216 closed, assigned to nobody

[2019-12-23 15:07] #1153 closed, assigned to paweljakubas

[2019-12-23 15:11] piotr-iohk commented on #1207
lgtm

[2019-12-23 15:11] #1207 closed, assigned to KtorZ

[2019-12-23 22:30] alan-mcnicholas opened #1224 "Migration failing on Windows due to stake-pools.sqlite lock"
# Context

When upgrading from version 2.0.0-ITN1 the client is unable to restart on Windows because the stakepool db migration appears to fail. Manually deleting the `stake-pools.sqlite*` files corrects the issue. This issue appears to be Windows specific; this was not the case on MacOS.

| Information  | -                                                     |
| ---          | ---

[2019-12-24 07:48] piotr-iohk commented on #1208
lgtm.

[2019-12-24 07:48] #1208 closed, assigned to KtorZ

[2019-12-24 14:18] alan-mcnicholas opened #1228 "Unhandled Data.Binary.Get error observed in node logs"
# Context

When running the latest version of Daedalus (https://buildkite.com/input-output-hk/daedalus/builds/10138) the following error message appears in the node logs.

[code]

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | `2019.12.23` |
| Platform     | Windows 10         |
| In

[2019-12-25 13:54] Fell-x27 opened #1230 "Missed UTXO"
# Context

After a big wave of troubles in the network yesterday, some wallets are going to show zero balances. The same for me. I've opened my seq.id.sqlite db with an sqlite explorer and discovered that 'utxo' table is empty. Transactions are ok, checkpoints are ok. Everythnig is fine but UTXO.

Another users got the same by some random factor.

It doesn't recover itself. Also we don't have any

[2019-12-25 16:49] Fell-x27 commented on #1230
Maybe there is a some quick and dirty way to fix it with the current version? Some changes in a database. Something with checkpoints? Or transactions?

[2019-12-27 07:32] KtorZ commented on #1230
@Fell-x27 Thanks for reporting this. May you please check the following on your wallet:

- In which state are transactions? Are they `pending` or `in_ledger` ?
- Are the transactions outgoing or incoming?
- What is your wallet current tip?

Thank you :pray:

(NOTE: I've updated your ticket and moved some of the Resolution and QA section upstream. These sections are for us to complete during the re

[2019-12-27 10:53] Fell-x27 commented on #1230
All transactions are in ledger. There are both of directions also. Wallet is perfectly synced. If I delete and restore wallet, everything is ok.

I have a lot reports from my customers (https://adawallet.io). There are the same reports from Daedalus users in a community channel either.

With the same scenario: wallet wasnt used for 4-5 days, and after that it shows zero balance at a current wallet

[2019-12-27 11:30] KtorZ commented on #1230
Are you able to provide some logs capturing the events?

[2019-12-27 13:02] Fell-x27 commented on #1230
Im afraid, no :(

[2019-12-27 14:52] KtorZ opened #1232 "Allow restoring 24-word mnemonic in the Byron API"
# Context

We ought to support both Trezor and Ledger mnemonic restoration through the API. They both typically use 24-word mnemonic.

# Decision

- Allow 24-word mnemonic in the API
- Provide a way to discriminate between Trezor and Ledger via a query parameter

# Acceptance Criteria

1. One _must_ be able to restore a Hardware Ledger 24-word mnemonic via the API
2. One _must_ be able to restore

[2019-12-27 14:56] KtorZ opened #1233 "Auxiliary seed generation method for Ledger"
# Context

Hardware Ledger devices use a different method than the rest of Cardano to generate root master key from a given mnemonic sentence. After quite some research, it seemed that this boiled down to be done by a firmware primitive named `os_perso_derive_node_bip32_seed_key`.

After more research, I was able to find a reference implementation in Python https://github.com/LedgerHQ/orakolo from

[2019-12-27 14:59] Fell-x27 commented on #1230
Anyway forced resync endpoint could be very useful as new feature at least even if the reason of the problem couldnt be solved.

[2019-12-27 15:07] KtorZ commented on #1230
Well, not really. It's not _as simple as_ that. The wallet is synced and re-syncing continually. Depending on whether the node changes to different chains or not. You're not the first one reporting this but, most of those who reported this problem were actually simply facing some "expected" chain switches coupled with a slow network connection. Hence my questions about the state of your transactio

[2019-12-27 16:03] Fell-x27 commented on #1230
I understand. Its a hardly stohastic thing. I can try to find a way to reproduce, but cant promise any success.

But maybe there could be an option to reset wallet state as if was just created and launch all related processes?

[2019-12-29 18:13] asshhssa commented on #1230
Hello, I have the same problem, the zero balance is displayed to the Daedalus wallet. How can I help in solving this problem?

[2019-12-30 01:53] rvl opened #1235 "Allow logs to be filtered by components"
# Context

[User story WB-31](https://jira.iohk.io/browse/WB-31)

As a technical user using the command-line
I want to be able to increase or decrease logging verbosity of specific components of the wallet server
So that I can debug more easily issues with the software

# Decision

# Acceptance Criteria

- When starting the wallet server (using `start` or `launch` command), it must be possible to

[2019-12-30 08:08] KtorZ commented on #1146
Okay. I think I found the source of the issue while sleeping :upside_down_face:

1. We have a piece of code in the networking layer that we call "the chain follower" and that takes care of following a particular node's chain. A client can ask for next blocks to the follower which yields one of the three responses:
    1. Roll Forward (when new blocks are found)
    2. Roll Backward (when the node

[2019-12-30 13:43] piotr-iohk opened #1237 "Revise usage of lenses in integration tests"
# Context

Lenses in our integration tests DSL seem to add unnecessary cost for maintenance and necessity for adding additional ones when there are new integration tests being added.

# Decision

Remove all hand-written lenses and replace them via generic lens and overloaded labels (so for instance, `availableBalance` becomes `#availableBalance . #getQuantity`. It'll make some of the assertion mor

[2019-12-30 14:09] piotr-iohk opened #1238 "Revise expectations in integration tests"
# Context

In the course of adding integration tests we have added a lot of different and specific assertions which can be replaced with more powerful combinators reducing the code.

# Decision

Replace the myriad of assertions functions with more powerful combinators. For instance, we have `expectFieldEqual`, `expectFieldBetween`, `expectFieldNotEqual` etc ... which can all be expressed via `expe

[2019-12-30 15:25] KtorZ commented on #1230
Hi @asshhssa , should you answer the same questions I posted earlier, that would be fantastic: https://github.com/input-output-hk/cardano-wallet/issues/1230#issuecomment-569211208

[2019-12-30 16:50] asshhssa commented on #1230
Test wallet Daedalus for Shelley test. There are no transactions, except for the transfer of ADA from the main wallet to the test one. Funds are delegated to the pool, ADA (devedents) come every epoch, I launch a wallet every day and often the balance is zero. The balance is fully confirmed.

[2019-12-31 08:41] piotr-iohk commented on #1228
lgtm

[2019-12-31 08:41] #1228 closed, assigned to KtorZ

[2019-12-31 10:23] piotr-iohk commented on #1232
I think there are some cases that would be worth adding:
 - migration/calcuate migration fee of funds for trezor/ledger to shelley
 - listing of interleaving wallets trezor/ledger/icarus/random (it's there for icarus and random)
 - deletion of trezor/ledger
 - listing transactions for trezor/ledger/icarus (only for random)
 - forgeting transactions for trezor/ledger/icarus (only for random)

Maybe

[2019-12-31 10:30] piotr-iohk commented on #1233
lgtm.

[2019-12-31 10:30] #1233 closed, assigned to KtorZ

[2019-12-31 12:41] KtorZ commented on #1232
Yes. Though, I don't think we should _add_ tests per se, but instead modify the existing scenarios so that they run for each type.

[2020-01-01 18:55] Fell-x27 commented on #1230
@KtorZ is there a way to export any logs from a daedalus to help you?

[2020-01-02 10:36] piotr-iohk opened #1242 "Error in the log after deleting a wallet"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | 2019.12.23 (git revision: 7e7c9111c98330c560de7a2a99fd93ef19ebe228) |
| Platform     | Linux (probably all)         |
| Installation | From source            |

# Steps to Reproduce

**Note**: it is observed for all types of w

[2020-01-02 14:50] Anviking opened #1243 "Prototype Wallet Executable supporting Haskell Byron Node"
# Context

We'd like to gain a better understanding of what it will take to support the Haskell node(s).

 The prototype of #1160 didn't connect with the wallet functionality. The work so-far in #1161 was very theoretical, and I am not convinced it gives a accurate enough picture on its own.

# Decision

For better understanding, make a quick and incomplete prototype wallet executable that integra

[2020-01-02 18:22] aidik opened #1244 "Unable to import arbitrarily created credentials"
# Context
 Operating a stake pool with arbitrarily created credentials `jcli key generate --type ed25519` I'm unable to import those credentials, work with the wallet and see staking rewards.

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | 2019.12.13 (git revision: f3576be15de4976e75

[2020-01-02 19:47] KtorZ commented on #1244
Hi, what do you mean with "import those credentials" :thinking: ?

`cardano-wallet` implements various flavor of hierarchical deterministic wallets. Said differently, it creates a tree from a root where nodes and leaves are private keys that can be derived from their parent node. Ultimately, only a single key (the root node) is needed to recover the whole tree; this key is typically encoded as a m

[2020-01-03 13:56] aidik commented on #1244
@KtorZ Hi, thank you for your prompt answer.

Basically to import the root key without mnemonic encode but directly from the `ed25519_sk...` key.

What would you suggest as a solution in the meantime? Is it possible to re-encode the key into a mnemonic sentence?

[2020-01-03 14:16] KtorZ commented on #1244
Well, the issue is subtle here. A key is, in essence, nothing more than a bunch of scrambled bytes. Now, the question is _how you look at these bytes_ and how you consider them. There's nothing really different between a root private key from an HD (HD as in **H**ierarchical **D**eterministic) tree and a address private key except a certain cryptographic relationship that makes it possible to reco

[2020-01-03 14:16] #1244 closed, assigned to nobody

[2020-01-03 18:20] Anviking commented on #1243
Aborted for WB-26.

I almost got a wallet restoring. Will quickly mention difficulties I discovered in the inventory of #1161.

[2020-01-03 18:20] #1243 closed, assigned to Anviking

[2020-01-05 21:52] Anviking commented on #1243
Actually, the balance did increase (encouraging), I just had to be more patient. Full restoration takes a really long time. (~hour)

[2020-01-06 06:30] jonathanknowles commented on #1242
I managed to confirm this error with running with commit `c7d9bc481fd9cebe8dfe25e3f7d9842158ec3f06`.

[2020-01-06 09:20] KtorZ commented on #1243
@Anviking keep in mind that you are restoring against MainNet, where the chain is much much larger than current ITN. I recall the performance of the node the guys measured recently were around 500 blocks/seconds. MainNet is currently 3.6M blocks, which means ~2h provided that we can digest blocks at the same pace (which is certainly the case on a basic wallet).

[2020-01-06 09:36] KtorZ commented on #1230
I'll close this one and mark it as a duplicate of #1146

Thanks for reporting @asshhssa @Fell-x27, I hope we've nailed the issue and will close #1146 once we have confidence about this.

[2020-01-06 09:36] #1230 closed, assigned to KtorZ

[2020-01-06 10:36] Fell-x27 commented on #1230
Well this night was a kind of forking hell, so balances has been dropped to zero again. I think its related with long bootstrapping, when node starts to write its giving up.

[2020-01-06 10:38] KtorZ commented on #1230
@Fell-x27 if you want to give a try to latest `master` and tell me if you still experience this 0-balance issue, that'd be fantastic.

[2020-01-06 10:40] KtorZ commented on #1230
(see: https://hydra.iohk.io/build/1543818/download/1/cardano-wallet-jormungandr-2019.12.23-linux64.tar.gz )

[2020-01-07 05:09] jonathanknowles commented on #1242
Okay. I think I've managed to locate the root cause of this issue. It appears that in the course of the API call, `destroyDBLayer` is called **twice**:

[code]
The second call to `destroyDBLayer` results in an `ErrorMisuse` failure, as we're attempting to close a DB connection that's already closed.

Within the API server implementation of `deleteWallet`, there are two places that indirectly call

[2020-01-07 08:57] KtorZ commented on #1242
@jonathanknowles note that, the `deleteWallet` handler was recently "touched" in order to fix another issue: database files were not properly removed upon deletion (especially on Windows). The tricky part with that function is that we have two concurrent calls that kinda need to be executed in a transaction manner.

1. We need to close and remove the database file.
2. We need to remove the databas

[2020-01-07 10:15] Fell-x27 commented on #1230
Sure! I have a backup of a broken wallet and would be happy to test it!

[2020-01-07 12:40] Fell-x27 commented on #1230
So...looks like this version doesnt recognize wallets from a previous one. All sqlite files are there, but

./cardano-wallet wallet list

returns nothing.
Could it be solved? Because for me that means "you should drop whole your userbase".

[2020-01-07 12:48] KtorZ commented on #1230
@Fell-x27 how did you started the server ?

Can you send me the first ~10 log lines or so ?

[2020-01-07 13:19] Fell-x27 commented on #1230
Jorm do you mean?
As usual
`jormungandr --genesis-block-hash 8e4d2a343f3dcf9330ad9035b3e8d168e6728904262f2c434a4f8f934ec7b676 --config ./config.yaml --secret --secret ./node-secret.yaml`

And cardanowallet:

`cardano-wallet  serve --listen-address 127.0.0.1 --port 8090 --node-port 8080 --database ./wallets --sync-tolerance 300s --genesis-block-hash 8e4d2a343f3dcf9330ad9035b3e8d168e6728904262f2c434

[2020-01-07 14:21] Anviking opened #1250 "Port pool desirability formulas from delegation design document"
# Context

The ranking of pools in the ITN are sub-optimal.

We want to adhere to the ranking described in the [Delegation Design Spec](https://hydra.iohk.io/build/1389333/download/1/delegation_design_spec.pdf), ignoring the differences of:
- Jörmungandr Pool Max Tax Cap (nothing we can do about it, most pools don't have it set anyway)
- Leader stake (always 0 in Jörmungandr)

# Decision

Convert

[2020-01-07 14:40] Fell-x27 commented on #1230
Sure.
[wallet_launch.log](https://github.com/input-output-hk/cardano-wallet/files/4031067/wallet_launch.log)

[2020-01-07 14:41] KtorZ commented on #1230
Okay, looks right (note that `--sync-tolerance` is optional and default to 300s, same for `--port` and `--listen-address`).

What does the logs say about the database? I am expecting something in the form of:

[code]

[2020-01-07 14:41] Fell-x27 commented on #1230
As you can see, it founds wallets and collect their ids, but...but returns an empty list when I ask.

[2020-01-07 14:52] KtorZ opened #1251 "Missing database migration for `active_slot_coeff`"
# Context

We "recently" added the `active_slot_coeff` blockchain parameters to the checkpoint data. Yet, for database existing before the release, we have missed a migration..

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | v2019.12.16+  |
| Platform     | All           |
| Installa

[2020-01-07 14:54] KtorZ commented on #1230
Ho dear. Yes I see... we've missed a database migration. This won't happen once we are done with #1190 . But, that's clearly a bug, and not a very pleasant one.

Tracked as #1251

[2020-01-07 15:00] KtorZ commented on #1230
@Fell-x27 one thing is actually weird. You shouldn't actually face this issue between v2019-12-16 and v2019-12-23 ... are you sure that your "working" version of the wallet is v2019-12-16 (`6feffaf29488d15fbf663afd4029597116bd8cc5`) ?

[2020-01-07 15:02] Fell-x27 commented on #1230
No, actually my "production version" is

`2019.12.13 (git revision: 9280c870d39242125c11683a16d157f4b5ea26ea)`

And right now I cant just migrate from. Or can I? Something mid-version as mid-step and then the last one?

[2020-01-07 15:26] KtorZ commented on #1230
Right now you can't migrate indeed. We'll have to fix this first.

[2020-01-07 15:45] Fell-x27 commented on #1230
Ok,  thank you!

[2020-01-08 07:19] jonathanknowles commented on #1251
Hi @KtorZ

What value should the migration provide, and how should it obtain this value?

The current values seem to be obtained by reading `getActiveSlotCoefficient` from the value obtained by calling `getInitialBlockchainParameters` (which is dependent on the Jormungandr backend). Can this value change between calls?

Is this parameter available at the point where we perform a DB migration, and

[2020-01-08 12:53] Anviking commented on #1243
For the record: `anviking/WB-26/prototype-3`

[2020-01-08 12:55] piotr-iohk opened #1252 "Benchmarks are failing"
# Context

Banchmarks (https://buildkite.com/input-output-hk/cardano-wallet-nightly) have recently been failing, e.g.:

https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/349
:point_down:
[code]

# Test Case

Database and Latency benchmarks, e.g. -> https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/349

# Failure / Counter-example

---

# Resolution

- Will be fi

[2020-01-09 03:44] jonathanknowles commented on #1251
I tried to reproduce this with the following steps:

1. Build release [`v2019-12-13`](https://github.com/input-output-hk/cardano-wallet/releases/tag/v2019-12-13) (the release prior to [`v2019-12-16`](https://github.com/input-output-hk/cardano-wallet/releases/tag/v2019-12-16)).
2. Start the server (with `launch`) and create a wallet.
3. Shut down the server.
4. Build e135938137da3d61d7a9784cd4b3132

[2020-01-09 03:51] jonathanknowles commented on #1251
Just tried with `v2019-12-13` --> `v2019-12-16`, and got the same `pool_owner_index` error on startup:

[code]

[2020-01-09 04:14] jonathanknowles commented on #1251
Okay. I can finally reproduce the bug described in this issue, but **only** after performing the following steps:

1. Build release [`v2019-12-13`](https://github.com/input-output-hk/cardano-wallet/releases/tag/v2019-12-13) (the release prior to [`v2019-12-16`](https://github.com/input-output-hk/cardano-wallet/releases/tag/v2019-12-16)).
2. Start the server (with `launch`) and create a wallet.
3.

[2020-01-09 04:15] rvl commented on #1252
The line I added to fix weeder `ghc-options: {"$locals": -ddump-to-file -ddump-hi}` broke the nix build.

The fix is here: input-output-hk/haskell.nix#393

This would also be the reason why tests are missing from the windows testing bundle.

[2020-01-09 06:08] jonathanknowles commented on #1251
@KtorZ Should we create a separate bug report for https://github.com/input-output-hk/cardano-wallet/issues/1251#issuecomment-572371890?

It's trivial to work around (by deleting `~/.local/share/cardano-wallet/jormungandr/testnet/wallets/stake-pools.sqlite` and restarting), but perhaps it is something that we should handle automatically, instead of asking users to delete files manually.

[2020-01-09 09:21] KtorZ commented on #1251
@jonathanknowles This was a known issue taken care of by https://github.com/input-output-hk/cardano-wallet/issues/1177. The pool database will "migrate" itself automatically but that's only since v2019.12.23 (or exactly, a few commits after v2019.12.16).

[2020-01-09 09:21] KtorZ commented on #1251
So, in order to reproduce the bug above, it's probably best to go from v2019.12.13 to v2019.12.23 (or simply current master) such that the pool db migration error is handled, and remains only the active_slot_coeff one.

[2020-01-09 10:58] paweljakubas commented on #961
In the end, we removed logging-config in #1253. wiki was also updated accordingly

[2020-01-09 10:59] #961 closed, assigned to paweljakubas

[2020-01-09 15:31] piotr-iohk commented on #1115
Running tests on recent master (https://hydra.iohk.io/build/1552156) and there are only 2 failures:

[code]

The first one however passes when re-running with ` --match " --match "/No backend required/Cardano.Wallet.NetworkSpec/Submitting signed transactions (that are not obviously wrong)/no input, one output/""`
The second one probably can be fixed... I think...

[2020-01-09 15:48] KtorZ commented on #1115
@piotr-iohk are you also able to run all tests at once now or do you still run things one-by-one ?

[2020-01-09 16:00] piotr-iohk commented on #1115
@KtorZ I've run everything at once.

[2020-01-10 05:51] bourkefloyd opened #1256 ""Something went wrong" when listing stake pools from inside a Docker container"
# Context

Maybe related to changes here https://github.com/input-output-hk/cardano-wallet/issues/1164

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | 2019.12.23 (git revision: 398565cc1a65553827834520c5a95827a7c48d41) |
| Platform     | Docker FROM ubuntu:18.04    |
| Installation |

[2020-01-10 06:57] bourkefloyd commented on #1256
Just tested with cardano-wallet `v2020-01-07` same issue

[2020-01-10 06:59] rvl commented on #1256
Hi @chbfiv, thanks for reporting.

Would you be able to run `cardano-wallet` again with `--verbose`, and show all log lines containing `Downloading https://github.com/cardano-foundation/incentivized-testnet-stakepool-registry/archive/master.zip`?

[2020-01-10 07:56] rvl commented on #1256
I did some testing locally with ITN and could not reproduce it. Not saying that there isn't a problem, just that we may need to dig further to uncover its cause.

1. Which instructions are you using?
2. Are you connecting to `itn_rewards_v1` ([config links](https://hydra.iohk.io/job/Cardano/iohk-nix/jormungandr-deployment/latest/download/1/index.html)).
3. Are you seeing `stake-pool-monitor ... In

[2020-01-10 08:45] #1232 closed, assigned to KtorZ

[2020-01-10 09:24] KtorZ commented on #1146
Closing this one in hope. Will re-open if the problem arises again.

[2020-01-10 09:24] #1146 closed, assigned to KtorZ

[2020-01-10 09:31] KtorZ commented on #703
closing this one. Tests are now running in hydra:

### unit

- https://hydra.iohk.io/job/Cardano/cardano-wallet/x86_64-pc-mingw32.checks.text-class.unit.x86_64-linux
- https://hydra.iohk.io/job/Cardano/cardano-wallet/x86_64-pc-mingw32.checks.cardano-wallet-launcher.unit.x86_64-linux
- https://hydra.iohk.io/job/Cardano/cardano-wallet/x86_64-pc-mingw32.checks.cardano-wallet-jormungandr.unit.x86_64-l

[2020-01-10 09:31] #703 closed, assigned to rvl

[2020-01-10 09:32] KtorZ commented on #1161
@Anviking , can you make sure to wrap-up this one today? The content of the draft PR should come here in the ticket instead.

[2020-01-10 12:08] Anviking commented on #1161
# Integrating cardano-wallet with the new Byron Haskell node

Goal: identify gaps and risks for integrating with the Haskell node.

Structure:
- [Inventory of Jörmungandr on-chain types we use](#Inventory)
- [Discussion](#Discussion)
- [Other, fuzzier difficulties of integration](#other-fuzzier-differences-of-integration)
- [Summary Byron](#Summary-Byron)
- [Extra: A glimpse into Shelley](#extra-A

[2020-01-10 15:57] bourkefloyd commented on #1256
I'll work on this tonight (logging/master branch build)

At a high level,

[code]

[code]

[2020-01-10 15:59] bourkefloyd commented on #1256
I noticed you are using `launch` instead of `serve`

[2020-01-10 17:46] KtorZ commented on #1256
@chbfiv `launch` will start a `jormungandr` process for you and connects the server to it automatically. `launch` uses `serve` behind the scene.

[2020-01-10 17:46] #1161 closed, assigned to Anviking

[2020-01-11 17:41] bourkefloyd commented on #1256
I updated my entrypoint to the following (using cardano-wallet  `v2020-01-07` because otherwise I need to setup builds for cardano-wallet which is more work/risks)
[code]
So now it's using the bundled `jormungandr`

[code]

I know the epoch is not up to date, but the problem appears to still be the same issue.
[code]
[code]
[code]
[code]

[2020-01-12 07:03] bourkefloyd commented on #1256
I put some more time/effort into this.

So, even with a node in sync I'm getting the same error (see above).

I also downloaded cardano-wallet for mac and tested the same configs (wasn't hard to setup). So both the Docker container (ubuntu:18.04) and the mac have almost identical setups and the same source/release `cardano-wallet v2020-01-07`, just one is for mac and one is for linux.

cardano-wal

[2020-01-13 03:21] jonathanknowles commented on #1251
@KtorZ Unfortunately this doesn't appear to be working.

Going from `v2019-12-13` (f3576be15de4976e753dea212aa5d44c334bd204) to the current `master` (10b5512222e09ef788dcea82628113add4291460) still results in an `NOT NULL constraint failed: pool_owner_backup.pool_owner_index` error:

[code]

But as pointed out in https://github.com/input-output-hk/cardano-wallet/issues/1251#issuecomment-572376486,

[2020-01-13 08:54] piotr-iohk commented on #1252
Benchmarks passing now.

[2020-01-13 08:54] #1252 closed, assigned to rvl

[2020-01-13 11:01] piotr-iohk commented on #1256
Ok, I managed to reproduce it on my Ubuntu 18.04 using docker image and our integration tests' node. Reproducible every time.

1. Start wallet via docker image:
[code]

**Note:** Apparently `--listen-address '0.0.0.0'` is needed. Otherwise one cannot attach to the wallet's host:port from host machine. :man_shrugging:

2. List stake-pools for the first time -> it works FINE.
[code]
 In the log ther

[2020-01-13 11:05] paweljakubas opened #1260 "OWASP risks : Injection"
# Context

**Risk API8:2019**

Injection flaws, such as SQL, NoSQL, Command Injection, etc., occur when untrusted data is sent to an interpreter as part of a command or query. The attacker's malicious data can trick the interpreter into executing unintended commands or accessing data without proper authorization.

This risk was number one in 2017 (A1:2017) and in 2019 it makes 8th place (A8:2019).

[2020-01-13 11:09] KtorZ commented on #1256
@piotr-iohk does the file IS actually present on your file-system at the expected location :thinking: ?

[2020-01-13 11:13] piotr-iohk commented on #1256
@KtorZ, no, as a matter of fact, it isn't here in `/tmp`...

[2020-01-13 12:06] KtorZ commented on #1256
Okay, so this explains why it can't find it and reduces the question to: why isn't the archive saved where it should be?
What bothers me is this log line though:

[code]

The server clearly detects a file at the given location and even the date at which it was last modified.

[2020-01-13 14:00] piotr-iohk commented on #1115
Today, after the fix - https://github.com/input-output-hk/cardano-wallet/pull/1255 - I get such errors on integration tests:

[code]

However, the other day, I think all tests passed for me. :thinking:

Another issue is that after tests are finished - Jormungandr is not killed but left working and logging to the console.

[2020-01-13 14:24] KtorZ commented on #1251
@jonathanknowles indeed :o !
I thought it was an occurence of https://github.com/input-output-hk/cardano-wallet/issues/1200 but, it is yet something else. See #1261

[2020-01-13 22:23] Fell-x27 commented on #1251
I'm afraid there is one more trouble. Don't know why, but sometimes in the end of an epoch cardanoWallet pools worker may just stuck and remove the database with no any actions after. But it recreates this after manually restart. I cant reproduce it by my wish, so didnt open an issue. Prolly its related with something from this thread.

[2020-01-14 07:37] jonathanknowles commented on #1242
Hi @piotr-iohk!

With the merging of PR #1248, it seems that this issue has been addressed. Should I go ahead and close it?

[2020-01-14 07:57] jonathanknowles commented on #1251
Hi @KtorZ

@rvl and I had a discussion about this issue earlier today. We came up with two potential solutions:

# Solution 1: Remove the field
* Change the code so that it gets the `activeSlotCoefficient` value from the (initial) result of calling `getInitialBlockchainParameters` on the backend node (e.g., Jörmungandr) rather than reading it from the `checkpoint` table.
* Remove the `active_slot_

[2020-01-14 08:05] rvl commented on #1256
Probably what is happening is that the download failed for a Docker-container-related reason (e.g. missing ssl certificates, DNS resolution failed), but that exception was not caught by `fetchStakePoolMetaZip`. And then the function that calls `listStakePools` probably swallows the exception. An empty `registry.zip` is left behind, causing failures when it is opened next time.

This is how we can

[2020-01-14 09:48] KtorZ commented on #1251
@Fell-x27 if you'd like to open an issue describing what you saw (logs are especially useful in that case), please do :pray:

@jonathanknowles Solution 1 is not going to be an option I am afraid. The `active_slot_coefficient` belongs to the realm of updatable protocol parameters. Thus, even though reading it from the genesis block would work as an immediate fix, we would have to re-introduce it to

[2020-01-14 11:48] paweljakubas opened #1263 "OWASP risks : Improper Assets Management"
# Context

**Risk API9:2019**

APIs tend to expose more endpoints than traditional web applications, making proper and updated documentation highly important. Proper hosts and deployed API versions inventory also play an important role to mitigate issues such as deprecated API versions and exposed debug endpoints.

# Decision

Check if API is up-to-date reflected in documentation

# Acceptance Cri

[2020-01-14 11:55] paweljakubas opened #1264 "OWASP risks : Insufficient Logging & Monitoring"
# Context

**Risk API10:2019**

Insufficient logging and monitoring, coupled with missing or ineffective integration with incident response, allows attackers to further attack systems, maintain persistence, pivot to more systems to tamper with, extract, or destroy data. Most breach studies demonstrate the time to detect a breach is over 200 days, typically detected by external parties rather than

[2020-01-15 10:56] paweljakubas opened #1267 "OWASP risks - Security Misconfiguration"
# Context

Security misconfiguration is commonly a result of unsecure default configurations, incomplete or ad-hoc configurations, open cloud storage, misconfigured HTTP headers, unnecessary HTTP methods, permissive Cross-Origin resource sharing (CORS), and verbose error messages containing sensitive information.

# Decision

**API7:2019**

Due to the nature of cardano-wallet deployment consider
1

[2020-01-15 11:43] bourkefloyd commented on #1256
Sounds reasonable.

I would add that it's unlikely that it's failing 5/5 to download because of DNS/Network/Cert issues. In anycase if the exception isn't swallowed, it should make it more clear.

[2020-01-15 14:50] piotr-iohk commented on #1115
On the latest https://hydra.iohk.io/build/1566747 all integration tests are passing when running _standalone_:

[code]

Also unit tests passed for me for core and jormungandr...

[2020-01-16 09:37] paweljakubas opened #1269 "OWASP risks - Rate-limiter and others"
# Context

Here I am working on the following assumption :
**cardano-wallet API will be run locally, listening on localhost, for use by a trusted application (daedalus).**

**If it is going to be part of public API** the following areas need to be addressed :
(a) obligatory use of HTTPS
Here, remember about adding response header HSTS, ie.,
`("Strict-Transport-Security", "max-age=31536000")`
(b) m

[2020-01-16 10:33] piotr-iohk opened #1271 "Wallet backend running with file db crashes on integration tests"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | `v2020.1.7` |
| Platform     | MacOS, Linux (might be others)          |
| Installation | Daedalus, standalone           |

Problem reported by @darko-mijic. Observed when running Daedalus automated integration tests.
(Note th

[2020-01-16 11:36] piotr-iohk commented on #1242
@jonathanknowles thanks! Closing, issue no longer observed. (When done please just move into QA column in https://github.com/input-output-hk/cardano-wallet/projects :) )

[2020-01-16 11:36] #1242 closed, assigned to jonathanknowles

[2020-01-16 13:20] rvl commented on #1256
@chbfiv Do you have the [`ca-certificates`](https://packages.ubuntu.com/bionic/ca-certificates) package installed in your image? I think that (absent package) might be the problem.

[2020-01-16 14:17] KtorZ opened #1273 "Log of severity "DEBUG" shows up as "INFO""
# Context

The network chain follower still uses and "old" `Trace IO Text`

[code]

This trace is then captured in a log object as plain text as `MsgFollow`

[code]

during this transformation, it seems that we loose track of the severity information.

| Information  | -                                                     |
| ---          | ---                                                   |
|

[2020-01-16 17:33] Anviking opened #1276 "Sort stake pools on `desirability`"
# Context

WB-48

We implemented a module for calculating the `desirability` of stake pools.

WB-48 asks us to order stake pools by `desirability`. This is a step in the direction on ordering by non-myopic pool member rewards as specified by the delegation design spec.

# Decision

Sort the `listStakePools` endpoint on `desirability` instead of performance.

# Acceptance Criteria

- [x] stake-pool

[2020-01-16 21:52] JSCSJSCS opened #1277 "Suggestion: Move "In sync with the node." output to --trace-stake-pool-monitor=DEBUG"
After upgrading to cardano-wallet via cardano-wallet-jormungandr-win64-v2020-01-14.zip, there is a persistent output of "In sync with the node." that I am unable to find a way to turn off without losing other valuable information output. I appreciate the per-component logging improvements but perhaps this output could be moved to DEBUG rather than INFO so as to clean up the output a bit?

[code]
T

[2020-01-17 02:00] rvl commented on #1277
Thanks for the report. This issue has the same cause as #1273.

In addition to fixing that, we could also:
1. use a trace transformer to log sync status at info level when it changes (otherwise stay at debug level).
2. log sync state as a metric.

[2020-01-17 02:00] #1277 closed, assigned to nobody

[2020-01-17 06:44] rvl commented on #1273
Drat, I thought I would not need to convert Wallet+Registry+Network from Trace to Tracer, which is a fair chunk of work.

[2020-01-17 09:19] KtorZ commented on #1273
@rvl note also that I didn't assign it to you on purpose ^.^
What has to be done is fairly clear and I think a nice exercise also do some knowledge sharing (i.e. leave it to someone else) on how the logging setup works with Tracers.

[2020-01-17 10:48] KtorZ opened #1279 "`persistent` clear foreign tables on automatic migration due to cascading delete"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | All  |
| Platform     | All           |
| Installation | N/A             |

See https://input-output-rnd.slack.com/archives/CGH3J2Q1L/p1579253925019600

# Steps to Reproduce

1. Build master.
2. Start the wallet backend with c

[2020-01-17 18:30] KtorZ opened #1281 "Rolling back stake pools take ages"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | v2020-12-23+  |
| Platform     | All           |
| Installation | N/A             |

# Steps to Reproduce

1. Create a standalone private blockchain (e.g. using the integration config).
2. Turn on the wallet server and wait fo

[2020-01-18 06:25] rvl commented on #1273
Oh I did not realise, was more worried about leaving a defect.
If someone could help finish the PR by getting typed log messages through the worker thread registry, that would be great!

[2020-01-18 14:44] KtorZ commented on #1230
@Fell-x27 Your migration issue will be fixed as part of #1266 .
Also, note that this is now available: https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/forceResync

Cheers :gift_heart:

[2020-01-18 17:04] KtorZ commented on #1271
Most likely fixed as part of #1268 , our integration tests now also run using file database.

[2020-01-18 17:05] KtorZ commented on #1115
@piotr-iohk Shall we close this one then? Perhaps we can now open a new ticket to replace this one about getting the tests to run properly in Hydra? (cc @rvl)

[2020-01-20 04:09] jonathanknowles commented on #1279
@KtorZ

Just as an aside, the persistent manual recommends against the use of automatic migrations in production environments:

(source: https://www.yesodweb.com/book/persistent)

[2020-01-20 07:55] piotr-iohk opened #1283 "Windows tests are failing on hydra"
# Context

Integration and unit tests are now running in Hydra:

https://github.com/input-output-hk/cardano-wallet/issues/703#issuecomment-572949476

Although all integration and unit tests area passing on Windows when running locally:

https://github.com/input-output-hk/cardano-wallet/issues/1115#issuecomment-574693474

Some jobs are still failing on Hydra:

Unit:
 - [cardano-wallet-launcher.unit

[2020-01-20 07:55] piotr-iohk commented on #1115
Closing. New issue created for tracking failing tests on Hydra -> https://github.com/input-output-hk/cardano-wallet/issues/1283.

[2020-01-20 07:55] #1115 closed, assigned to rvl

[2020-01-20 08:32] KtorZ commented on #1279
Perhaps that is something they could highlight even more, especially in the haddock documentation :sweat_smile:  ... Yet, it's open-source, so we might as well give them a little PR.

[2020-01-20 09:02] piotr-iohk commented on #1273
Running `2020.1.14 (git revision: 81ca8e5c0cab59cdbb02427abdfd9acfab6014a9)`.

DEBUG lines (`In sync with the node.`) are not shown in the log while running default log level. OK.
[code]

However running with DEBUG log level:
[code]
Also does not show DEBUG lines, e.g. `In sync with the node.`

CC: @KtorZ, @rvl.

[2020-01-20 09:08] jonathanknowles commented on #1269
Hi @paweljakubas

Thanks for writing this up.

Am I correct in assuming that there is _currently_ no requirement for the wallet backend to be listening on anything other than `localhost`? (Of course, this might change in the future!)

If so, is the correct action to close this ticket (for the moment), but to reopen it if (and when) the requirements change?

[2020-01-20 09:17] piotr-iohk commented on #1256
Verified on recent master docker:
[code]

Runnig docker on local integration tests node:

[code]
Listing stkepools with metadata works fine:

[code]

[2020-01-20 09:17] #1256 closed, assigned to rvl

[2020-01-20 09:34] KtorZ commented on #1273
@piotr-iohk perhaps we need more explanations on how the logging now works with the wallet backend. We've recently switched to a per-component logging, meaning that each component has its own severity level, whereas the global `--log-level` adds an additional filter on top of all the individual severities. Thus, settings the general `--log-level` to DEBUG but, leaving all the component tracers to

[2020-01-20 09:46] KtorZ opened #1284 "[Failing Test Case]: TRANS_CREATE_02"
# Context

https://buildkite.com/input-output-hk/cardano-wallet/builds/5328#1d9a54fe-bcb0-4f21-a17b-9a093b868663/6-7580

https://buildkite.com/input-output-hk/cardano-wallet/builds/5337#ec96cd20-ec2d-4b03-b0e7-f32bb995393c/6-7586

https://buildkite.com/input-output-hk/cardano-wallet/builds/5401#763cc2bb-8c24-4fb3-960f-d8c14c15bcfb/6-7557

https://buildkite.com/input-output-hk/cardano-wallet/builds

[2020-01-20 09:54] piotr-iohk commented on #1251
OK. migration from `2019-12-13` to recent `master` works fine now. I suppose. Wallet is operational and works fine after migration.
[code]

[2020-01-20 09:55] piotr-iohk commented on #1251
Automated migration tests are passing -> https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/371#e64aa5e1-faf7-4ae5-be57-eade6c91f32d

[2020-01-20 09:55] #1251 closed, assigned to jonathanknowles

[2020-01-20 10:13] piotr-iohk commented on #1273
OK. Perhaps entry for `--trace-COMPONENT` could be added to Available options for `launch` and `serve`?
[code]

[2020-01-20 11:43] piotr-iohk commented on #1224
OK. Verified `2019-12-16` -> `2020-01-14` on Windows 10 VM.

That's that if I'm not mistaken.
https://hydra.iohk.io/job/Cardano/cardano-wallet/migration-tests-win64

:tada:

[2020-01-20 11:43] #1224 closed, assigned to rvl

[2020-01-20 11:44] piotr-iohk commented on #1273
OK.

[2020-01-20 11:44] #1273 closed, assigned to rvl, KtorZ

[2020-01-20 12:54] piotr-iohk commented on #1177
Ok. there are automated migration tests in CI for Windows and Linux now.
Note that I couldn't test manually migration between `v2019-11-18` and latest `v2020-01-14` because supported Jormungandr versions (`0.7.0` and `0.8.6` respectively) are not compatible.

The error is:

[code]

[2020-01-20 12:54] #1177 closed, assigned to rvl, KtorZ

[2020-01-20 13:07] piotr-iohk commented on #1271
Closing. Integration tests passing now using filesystem database on recent master.

[2020-01-20 13:07] #1271 closed, assigned to nobody

[2020-01-21 07:21] jonathanknowles commented on #1284
It's worth noting that the linked test cases also show another failure:
[code]

I've added this failure case to the description, as well as the seeds that provoked these failures.

[2020-01-21 07:29] jonathanknowles commented on #1284
I was **unable** to reproduce these failures on `master`, even when using the **exact same seeds**. I used the following commands:

[code]
Just for completeness, I tried to reproduce these failures with the same commits that triggered them, but still could not reproduce the errors.

@KtorZ Perhaps we should close this off for now? We can reopen it if we see similar failures later on.

[2020-01-21 08:04] paweljakubas commented on #1284
@jonathanknowles I confirm your findings - was also looking at the issue yesterday and was not able to reproduce it locally

[2020-01-21 10:49] paweljakubas opened #1291 "Introduce endpoint scaffolding and needed types to service it"
# Context

U/S

As an API client,
I can get blockchain parameters for various epochs,
And I can get blockchain parameters for the latest epoch,
So that I can build better interfaces based on these parameters.

# Decision

We are creating :
[code]

# Acceptance Criteria

1. Create endpoint scaffolding and introduce new types (if necessary to service that)

---

# Development

# QA

Tests in #1302

[2020-01-21 11:15] piotr-iohk commented on #1281
Looks good in terms of stake pools.

**Question**: is this expected? :point_down:

I've repeated steps above slightly modified:

 - Create a standalone private blockchain (e.g. using the integration config).
 - Turn on the wallet server and wait for a few slots / epochs.
 - **Create a wallet**
 - Turn the wallet off.
 - Change a setting in the genesis configuration and re-generate the genesis bloc

[2020-01-21 11:27] KtorZ commented on #1281
That the wallet worker exits, is normal and the expected behavior. The problem is the following:

If the genesis hashes are different, it means that we are so-to-speak on a different blockchain. So we have two choices:

- We could rollback the whole wallet state and silently resync to this new chain.
- We could prevent the wallet from starting because it corresponds to a different chain.

I've cho

[2020-01-21 11:45] piotr-iohk opened #1292 "Cannot list wallets when using same state directory but different genesis"
# Context

https://github.com/input-output-hk/cardano-wallet/issues/1281#issuecomment-576636085

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | 2020.1.14 (git revision: 5e690157e636532fa27de88622aad8f85b7919e5) |
| Platform     | Linux (all?)        |
| Installation | From source cod

[2020-01-21 11:46] piotr-iohk commented on #1281
OK. Issue created -> https://github.com/input-output-hk/cardano-wallet/issues/1292.

[2020-01-21 11:46] #1281 closed, assigned to KtorZ

[2020-01-21 12:34] piotr-iohk commented on #1250
lgtm

[2020-01-21 12:34] #1250 closed, assigned to Anviking

[2020-01-21 13:22] alan-mcnicholas opened #1293 "cardano-wallet-jormungandr.exe not shutting down correctly after 1h on Windows when not connected"
# Context

When testing with a development build of Daedalus on Windows I was unable to complete the bootstrap phase within 1h which lead to the following error in `node.log`:

`Waited too long for Jörmungandr to become available. Giving up!`

Following this the Daedalus client remains open as does the `cardano-wallet-jormungandr.exe` process; `jormungandr.exe` appears to be terminated however
[no

[2020-01-21 17:19] KtorZ opened #1296 "[Failing Test Case]: BYRON_MIGRATE_01"
# Context

# Test Case

https://buildkite.com/input-output-hk/cardano-wallet/builds/5382#6f07a69b-49c0-4dc5-ba07-bc0fc7cba9b0/6-7571

# Failure / Counter-example

[code]

---

# Resolution

---

# QA

[2020-01-21 19:39] Fell-x27 commented on #1230
Just built and tested. Migration was very long actually, but I have many customers=>many wallets.
But it works! My flushed balance is repared now!

And new rating calculation, based on desirability! Thats a real christmas :)

[2020-01-21 21:51] erikd commented on #1230
Christmas is still only once a year isn't it? :smile:

[2020-01-22 04:29] jonathanknowles commented on #1292
Confirmed on `v2020-01-21` (d188a5fcf73d26f51391c5aea5030dc8e152741d).

[2020-01-22 06:44] Fell-x27 commented on #1230
Yeah, and it came early for the current one :)

[2020-01-22 07:09] KtorZ commented on #1230
It's a distributed Christmas with non negligible latency. We have more gifts though. Happy to hear things are fixed.
Out of curiosity, may I ask how many wallets and how long ? We've done some stress tests up to 100 wallets in parallel, but it's hard to reflect real-life data.

[2020-01-22 07:11] KtorZ commented on #1292
@jonathanknowles I did some investigation yesterday. The main issue is due to the worker not being unregistered from the registry when it dies.

[2020-01-22 07:42] jonathanknowles commented on #1292
@KtorZ wrote:

Yes, I found the same thing in my investigation.

But there's something else that's going on. The current implementation of `newWorker` returns a `Worker` **even if** evaluating the `before` action fails:

https://github.com/input-output-hk/cardano-wallet/blob/d188a5fcf73d26f51391c5aea5030dc8e152741d/lib/core/src/Cardano/Wallet/Registry.hs#L216-L220

Though the comment of the functi

[2020-01-22 07:59] rvl commented on #1293
Thanks @alan-mcnicholas.

This is interesting because literally [the next line after that log message](https://github.com/input-output-hk/cardano-wallet/blob/v2020-01-14/lib/cli/src/Cardano/CLI.hs#L1402-L1403) is an `exitFailure` call to exit cardano-wallet.

Calling exitFailure will cause all the shutdown handlers to run. It appears that the one which should terminate jormungandr.exe has complete

[2020-01-22 08:24] jonathanknowles commented on #1292
Just for the record: we discussed this in our team meeting and agreed to adjust the worker life cycle so that `newWorker` will handle the registration, requiring the caller to pass the registry as an argument. On cleanup (when the thread dies), this function will also handle unregistration from the registry map, preventing the situation where we can perform a successful lookup on a worker whose th

[2020-01-22 08:40] piotr-iohk commented on #1279
lgtm

[2020-01-22 09:19] Fell-x27 commented on #1230
I cant tell on a public a count of wallets of my users for some reasons. But I can tell you that test batch of 50 real "not fresh generated" wallets took about 40 mins on a KVM VPS with 2 xeon-based cores.

And I have some sad news. There is a new one bug :)
Looks like the wallet doesnt want to work with a private non-itn blockchain. Its not a problem for production mode and for local ITN tests, b

[2020-01-22 10:31] piotr-iohk commented on #1276
@Anviking, should this go into QA?

[2020-01-22 10:34] Anviking commented on #1276
@piotr-iohk Yes, but I think I should look at a few things first

[2020-01-22 11:03] KtorZ commented on #1230
Thanks, that's already some useful order of magnitude :)

@Fell-x27 this sounds weird since our whole integration test suite run on a private blockchain and this is something we do basically daily. May you describe the issue you're facing?

[2020-01-22 11:33] Fell-x27 commented on #1230
Sure, later, when I'll be home and reproduce it.

[2020-01-22 14:44] piotr-iohk commented on #1279
I've encountered 0 balance issue, can reproduce with local integration node:
 - start 2020.01.14
 - restore faucet byron wallet (it has some funds) -> `arctic decade pink easy jar index base bright vast ocean hard pizza`
 - stop wallet and start 2020.01.21 on the same data
 - restored byron wallet balance = 0

The same behavior observed for shelley faucet wallet -> `vintage poem topic machine haza

[2020-01-22 17:58] Fell-x27 commented on #1230
Hmmm. Today I cant reproduce it. But yesterday, when I tried to launch it over my private network, I got crashes and "ErrStartupMissingIncentiveParameters" error.

[2020-01-22 18:02] KtorZ commented on #1230
Ah. This is probably just missing configuration settings from your genesis block. On what version of Jörmungandr did you attempt to start the latest version of the backend ?

[2020-01-22 18:08] Fell-x27 commented on #1230
The blockchain was generated by 0.8.3 or 0.8.4 but the node at the moment was a 0.8.6.
I've started a new private chain, so its working just as planned now.

[2020-01-22 18:16] Fell-x27 opened #1300 "[Feature Request] GetPool API endpoint"
There are already more than 900 pools. And more in the future.
Right now there is only an endpoint that fetches the whole pools list.

Even if we need for only one, we have to fetch 900+ and then find a needle in the cycle...
Yes, I solve it for myself with my own caching system etc, but would be great to see a simple GET endoint, smth like "getPool" which takes a pool id as parameter.

[2020-01-23 07:44] KtorZ commented on #1284
One more occurrence of this in buildkite today.

[2020-01-23 07:47] KtorZ commented on #1300
Good point. And this makes me realize that we have no template for actual feature request :)
I'll add this to our product backlog and discuss that with the rest of the team.

[2020-01-23 08:34] #1260 closed, assigned to paweljakubas

[2020-01-23 08:35] #1263 closed, assigned to paweljakubas

[2020-01-23 08:35] #1264 closed, assigned to paweljakubas

[2020-01-23 08:35] #1267 closed, assigned to paweljakubas

[2020-01-23 08:35] #1269 closed, assigned to paweljakubas

[2020-01-23 14:31] paweljakubas opened #1302 "Implement blockchain parameters endpoint"
# Context

WB-47

As an API client,
I can get blockchain parameters for various epochs,
And I can get blockchain parameters for the latest epoch,
So that I can build better interfaces based on these parameters.

# Decision

Implement already added endpoint realizing the above goal

# Acceptance Criteria

1. The endpoint's implemention builds on previous PR and satisfies :
- The API must allow fetc

[2020-01-23 19:13] Anviking commented on #1276
Now I moved it

[2020-01-24 14:47] KtorZ opened #1305 "[Failing Test Case] Cardano.Wallet.Jormungandr.Rewards.rewardsAt try-out ITN parameters"
# Context

https://buildkite.com/input-output-hk/cardano-wallet/builds/5435#d507c7a1-2b04-4763-9d9a-28ac6ac4312b/814-1097

https://buildkite.com/input-output-hk/cardano-wallet/builds/5455#a8d777b5-7da0-4540-9a8c-cbd1fded12a2

# Test Case

[code]

# Failure / Counter-example

test/unit/Cardano/Wallet/Jormungandr/RewardsSpec.hs:31:5:
[code]
---

# Resolution

- `epochStart` is set to 1, we need to h

[2020-01-24 18:19] KtorZ commented on #1279
I spent some time looking into this and I believe that in order to fix this properly, we need to:

a) revert the change from #1290 and
b) remove persistent automated migration and have the migration done entirely "manually".

We can inspect the Sqlite database using the SQLite metatables to see whether tables or columns exists. This would give us much more control on what's actually happening and

[2020-01-27 08:55] piotr-iohk commented on #1279
In the meantime the workaround in case of encountering the issue after upgrading to new `cardano-wallet` is to delete and restore the wallet again using mnemonic sentence.

[2020-01-27 12:07] piotr-iohk commented on #1276
lgtm.

[2020-01-27 12:07] #1276 closed, assigned to Anviking

[2020-01-27 15:07] piotr-iohk commented on #1305
Occured again -> https://buildkite.com/input-output-hk/cardano-wallet/builds/5455#a8d777b5-7da0-4540-9a8c-cbd1fded12a2

[2020-01-28 13:28] aqua-regia opened #1311 "How to connect Cardano-wallet to a remote Cardano node instead of spawning a local node ??"
I am using this script [https://github.com/TheDevKnight/cardano-sl-wallet/blob/master/connect-to-mainnet](url) to create a wallet.
The thing is because of some security issues I do not want to start the node in the same machine where I keep the wallet.
I still want to use the wallet apis (create account, publish transactions) but I don't want to keep it in the same machine.

[2020-01-28 13:48] paweljakubas opened #1312 "Better report delegation status in the context of delays"
# Context

U/S

As a wallet client,
I want to reliably know how my delegation changes,
So that I can better inform users about their current and next delegation settings.

A/C

The wallet engine must only report a wallet as being delegated when it actively IS (i.e. after the 2 epochs grace period upon discovering a delegation certificate).

If multiple certificates are discovered within the same e

[2020-01-28 13:57] piotr-iohk commented on #1305
lgtm.

[2020-01-28 13:57] #1305 closed, assigned to Anviking

[2020-01-29 07:46] rvl opened #1314 "Add shutdown handler for new launcher"
# Context

Part of [ADP-92](https://jira.iohk.io/browse/ADP-92) (new launcher).

## User story

As an API client (Javascript)
I want a method to cleanly and reliably stop cardano-wallet (and its node)
so that I can exit my application and release resources allocated to it.

# Decision

Implement the cardano-wallet side of the [launcher shutdown process](https://github.com/input-output-hk/cardano-l

[2020-01-29 10:01] Anviking opened #1316 "Add CLI command for retrieving root private keys from mnemonics"
# Context

[ADP-81](https://jira.iohk.io/secure/RapidBoard.jspa?rapidView=106&projectKey=ADP&view=planning&selectedIssue=ADP-81&issueLimit=100)

It is currently possible to retrieve the reward account private key of a (shelley) mnemonic.

We want to make it possible to expose the root private key (and later address keys) given a mnemonic. And not just for shelley.

# Decision

As a meaningful firs

[2020-01-29 11:54] piotr-iohk commented on #1291
lgtm.

[2020-01-29 11:54] #1291 closed, assigned to paweljakubas

[2020-01-29 12:15] piotr-iohk commented on #1302
lgtm.

[2020-01-29 12:15] #1302 closed, assigned to paweljakubas

[2020-01-29 12:17] piotr-iohk commented on #1235
@rvl is this done/qa ready?

[2020-01-29 14:03] Anviking commented on #1284
Saw it again multiple times in #1303

[2020-01-29 23:31] rvl commented on #1235
@piotr-iohk sorry I forgot - I have updated the QA section.

[2020-01-30 03:51] rvl commented on #1311
Hi @aqua-regia, this script is for the [old codebase](https://github.com/input-output-hk/cardano-sl) - in that case the node is running in the same _process_ as the wallet. There is no way to separate them.

We are currently in the process of integrating the [rewritten cardano-node](https://github.com/input-output-hk/cardano-node) for mainnet into the rewritten cardano-wallet codebase (this repo).

[2020-01-30 03:58] rvl commented on #1311
One thing which might help is placing another node in front of your wallet as a relay.

[2020-01-30 07:28] aqua-regia commented on #1311
In that case I would not my relay node to be connected to be connected to any other node except my node ( which I trust). Is there a provision to do so ??

[2020-01-30 10:13] piotr-iohk commented on #1235
lgtm.

[2020-01-30 10:13] #1235 closed, assigned to rvl

[2020-01-30 14:15] piotr-iohk commented on #1312
@paweljakubas I have a question about the situations:
points 5,6 where we have:
[code]
Aren't we missing `target` here in both `active` and `next`?
I think it would be useful to have it like this :point_down:

[code]

points 8,9:

[code]

again, aren't we missing target in `active`? Like this :point_down:

[code]

[2020-01-30 14:49] paweljakubas commented on #1312
you are right, I forgot to update it. Everywhere where we have status of delegating target should be attached, so
[code]
Updated the examples.

[2020-01-30 15:45] #1237 closed, assigned to piotr-iohk

[2020-01-31 12:41] Anviking commented on #1316
@piotr-iohk @paweljakubas any thoughts on the following plan:

### Extract root xprvs (this ticket)
using same flow as the existing reward-credentials, i.e
Prompts user to enter mnemonic in stdin after executing the command
[code]

### Extract address keys (not this ticket technically)

[code]

Pros:
- Easy to use
- No mnemonics in terminal history (I believe is the idea, = secure)
- When deriving

[2020-01-31 13:09] paweljakubas commented on #1316
I think that the fact that it uses the same flow as the existing reward-credentials is very strong argument in favor. Prompting to enter mnemonics in stdin also seems right - I agree here.

[2020-01-31 13:23] piotr-iohk commented on #1316
lgtm.

Question about the part: _**Extract address keys (not this ticket technically)**_
Is there a way to get key for a specific address rather than which in line?

I mean like:
[code]
I think that would be more useful?

[2020-01-31 13:44] Anviking commented on #1316
That is an interesting idea!

I believe this should be fairly straight-forward to do with random addresses (e.g. byron).

For sequential addresses we'd need to generate a range (say for indices [0, 1000]) of keys, and check if each corresponds to the address.

Maybe that could even help [this user](https://www.reddit.com/r/cardano/comments/ewaw42/this_is_likely_a_stupid_question_but/) brute-force

[2020-02-01 19:08] JSCSJSCS opened #1323 "Astronomical block production reported in cardano-wallet 1-27-2020"
I just upgrade from 14 to 27 of cardano-wallet and found that near the end of epoch 49, it reports that 153,994 blocks were produced when counted! There might be an issue. Below is sample output of one pool's data:

I am running Windows 10 home. I have been using a data connection to a spreadsheet for analytics for weeks and after this upgrade was shocked to see the total blocks. A review of a few

[2020-02-01 19:23] JSCSJSCS commented on #1323
Upload of start of epoch 50 data.
![Untitled](https://user-images.githubusercontent.com/656601/73597821-2c521d80-44e5-11ea-8a97-c25965a221a8.png)

[2020-02-02 11:30] KtorZ commented on #1323
Nothing really shocks me here. 49 epochs with an active coefficient of 10% (like on the ITN) means that ~200k blocks should have been produced at the end of epoch 49.

Note however that since 2037c6049f72b2274f38d91915d310395bc9c690 the API does no longer report the block production of the current epoch but instead, report the TOTAL block production since the existence of a pool. We should make su

[2020-02-02 11:30] #1323 closed, assigned to nobody

[2020-02-02 14:28] JSCSJSCS commented on #1323
I did not see the change and had I done so, would have suggested to add the total quantity as data point, not replace the current epoch block count with total block count. What method is there to see the current epoch block performance for all pools now? Why not have the API report both?

[2020-02-02 17:26] JSCSJSCS opened #1324 "Feature Request: Add back current epoch block production to cardano-wallet API"
Commit [2037c60](https://github.com/input-output-hk/cardano-wallet/commit/2037c6049f72b2274f38d91915d310395bc9c690) changed a quantity data point from blocks in current epoch to a count of total blocks produced. I was using the current epoch blocks produced data point and I cannot find another API call that will give me the previously supplied data. Could the cardano-wallet API be changed to provi

[2020-02-02 18:44] KtorZ commented on #1323
Having the API reports both is a possibility that we considered. As well as simply adding a new field (which would have also been my preferred approach to be fair). Yet, other constraints have pushed us to replace the semantic of the existing field. Getting the current block production from the API is no longer possible.
If that is something you'd be interested in, then I might re-open this ticket

[2020-02-02 18:45] KtorZ commented on #1323
Ok. Just saw this: https://github.com/input-output-hk/cardano-wallet/issues/1324 ^.^

[2020-02-02 18:48] KtorZ commented on #1323
Note that, what's most likely to happen is the creation of a new endpoint which would reconcile both #1324 and #1300 but this needs proper thinking and adequate design for it needs to fit with the upcoming integration with the Shelley Haskell nodes.

[2020-02-02 20:36] JSCSJSCS commented on #1323
Thank you for the consideration, in the interim, is there another method to retrieve all the individual pools and their current epoch blocks produced, at one time, not a sum total or 974 individual calls?

[2020-02-03 16:17] KtorZ commented on #1323
@JSCSJSCS I am afraid there's none.

[2020-02-04 09:39] jonathanknowles commented on #1292
We should investigate what would happen if a worker thread dies, w.r.t. Daedalus.

With PR #1301, if a worker thread dies, then its key is removed from the registry. In that case, the wallet will no longer be listed by `listWallets`, and the wallet will no longer be accessible to Daedalus.

[2020-02-04 10:59] Anviking commented on #1316
For the record: New requirements from Matthias in [ADP-81](https://jira.iohk.io/secure/RapidBoard.jspa?rapidView=106&projectKey=ADP&view=planning&selectedIssue=ADP-81&issueLimit=100)

For this ticket this means taking the mnemonic words as arguments instead of via a secure `getLine`.

Regarding "Extract address keys (not this ticket technically)", this will be more generic. From the provided examp

[2020-02-05 07:49] jonathanknowles opened #1325 "Remove `unsafeHumanReadablePartFromText` from `bech32` library."
# Context

We'd like to switch to using the Hackage version of the `bech32` library instead of our own copy (in `cardano-wallet/lib/bech32`). In order to do so, we must bring our local copy and the Hackage version into parity with one another.

Our local copy of the library has one extra function not present in the Hackage version: `unsafeHumanReadablePartFromText`

# Analysis

The `unsafeHumanRea

[2020-02-05 11:52] Anviking opened #1327 "Stake pools have weirdly high performance"
# Context

We expect statistics to cause small pools to have high performance with small amount of data.

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | 2020.1.27  |
| Platform     | Mac OS |
| Installation | Internal build / from source |

# Steps to Reproduce

[code]

Here is my sq

[2020-02-05 14:41] paweljakubas opened #1328 "CLI support for GET blockchain params"
# Context

U/S

As an API client,
I can get blockchain parameters for various epochs usisng CLI,
And I can get blockchain parameters for the latest epoch using CLI,
So that I can build better interfaces based on these parameters interacting with CLI.

# Decision

We are adding CLI support for this endpoint

# Acceptance Criteria

1. The CLI must allow fetching blockchain parameters for any given e

[2020-02-05 17:10] Anviking commented on #1327
Here's the pool: https://pooltool.io/pool/08b46d4bc5d8110c76dde2cc7a4c9dda0830c4434dedd7fcd32b1a4815c1a4f3

[2020-02-05 17:13] Anviking commented on #1327
Preliminary logs showing the epochs we use, and performances calculated using each of them. (while also following the spec more closely #1329).

It would be nice to have the epoch numbers also. Maybe we have been unlucky and stored stake distributions for the very epochs where the pool did unusually well.
[code]

[2020-02-06 09:33] Anviking commented on #1327
New logs (with epoch numbers this time):

[code]

[2020-02-06 14:33] Anviking opened #1331 "0.5% profit margin of pool is rounded to 0%"
# Context

The pool margin/fee is a rational number on-chain.

It is converted to a `Percentage`-type here: https://github.com/input-output-hk/cardano-wallet/blob/fcde98eeb8e895db0a770be7cab17995881b9ed2/lib/jormungandr/src/Cardano/Wallet/Jormungandr/Binary.hs#L1082-L1083

| Information  | -                                                     |
| ---          | ---

[2020-02-07 01:49] jonathanknowles opened #1332 "Add polish to Hackage `bech32` library."
# Context

The `cardano-wallet` repository is currently using its own copy of the `bech32` library. We'd like to switch to the Hackage version, which is based on the following repository:

https://github.com/input-output-hk/bech32

# Decision

As part of this process, we should make sure that our published library meets standards typically expected by the Haskell community.

# Acceptance Criteria

[2020-02-07 01:53] jonathanknowles opened #1333 "Remove local copies of Bech32 libraries."
# Context

We'd like to switch to using the Hackage version of the [Bech32 libraries](https://github.com/input-output-hk/bech32) instead of our own copy (in `cardano-wallet/lib/bech32`).

# Decision

After bringing the published libraries and our local copies into parity with one another, we will remove our local copies of the libraries, and depend only on the [published versions](https://github.c

[2020-02-07 18:17] Anviking commented on #1327
To me it seems like nothing blatantly is wrong.

More epochs of stake-distributions would help, of course.

Switching back to `slots in epoch * f` instead of `actual number of total blocks produced this epoch`, could be an option, as (*I think* 🤔 ) suggested by [Philipp and Duncan](https://input-output-rnd.slack.com/archives/GJY4XC3DM/p1580899029067400?thread_ts=1580887647.056900&cid=GJY4XC3DM).

[2020-02-08 22:25] Straightpool opened #1335 "Desirability and apparent_performance 0 on Linux build inconsistent with MacOS cardano-wallet"
# Context

Cardano-wallet returns `0` on `apparent_performance` and `desirability` on Linux builds when MacOS (and most likely Windows) builds of cardano-wallet return valid positive data for both.

| Information  | -                                                     |
| ---          | ---                                                   |
| Version Ubunto   | 2020.1.27 (git revision: 23e12d1a2

[2020-02-10 10:47] KtorZ commented on #1335
@Straightpool that is an interesting behavior though there's not particular difference between the MacOS (resp. Windows) and Linux builds. Same source code, same logic, especially regarding the performance calculation.
Are you sure of the versions used in both cases? If you can still reproduce on Linux, I'd be interested in the logs if you could provide them. If possible, may you also increase the

[2020-02-10 11:05] KtorZ commented on #1335
Note that, at least as of today, the pool's performance look _plausible_ to me on Linux. I don't have a Windows machine at hand right now to compare but..

[code]

There are several possible explanations for this discrepancy, so bear with me a minute:

1. An actual bug in `cardano-wallet`.

2. The apparent performance depends on _what the wallet has seen_. Being only a node **client** there are a

[2020-02-10 12:56] KtorZ commented on #1327
As node client, we do not have access to past stake distributions.
Meaning that, we cannot compute the apparent performance as described in the paper and this is precisely why we had to deviate from the spec and adjust things a bit. Because we can't reliably know stake distribution of the past epoch (which is over and  "stable"), we compute the performance based on the ongoing epoch which is.. wel

[2020-02-10 12:56] #1327 closed, assigned to Anviking

[2020-02-10 13:38] Straightpool commented on #1335
KtorZ, thank you for looking into this.

On to your points:

- Yes I am very confident the versions I pasted for both versions are accurate, I double checked. I have a bit of an unusual Daedalus installation on MacOS at the moment, I downloaded the much newer `cardano-wallet` from https://github.com/input-output-hk/cardano-wallet/releases/tag/v2020-01-27 and replaced `cardano-wallet-jormungandr` b

[2020-02-10 14:16] KtorZ commented on #1335
@Straightpool thanks for the details. One more thing, may you run the following query directly on your sqlite database on Linux (the database should be located in `~/.local/share/cardano-wallet/jormungandr/testnet/wallets/stake-pools.sqlite3` if you used the default location for the state directory).

[code]

[2020-02-10 14:39] Straightpool commented on #1335
Sure, the filename has extension .sqlite not .sqlite3.

[code]

My small pool so far successfully produced 4 blocks in epoch 37, 45 and 48 see
https://shelleyexplorer.cardano.org/en/stake-pool/3a192bc7285d7ddfd77c0b854b4008bbf4c5fe53d1ad42770f6ffdf9b3d4c7d6

Seems `cardano-wallet` does only look at the epochs it has seen during uptime and does not look back 14 epochs from today as it should.

[2020-02-10 14:50] KtorZ commented on #1335
@Straightpool Sooo.. I am afraid this is "normal". The software does look back to 14 epochs in the past, but, it can only compute the performance of epochs for which it knows the stake distribution. There's currently no way to retrieve the stake distribution of past epochs from Jörmungandr, and, this is not something that can be computed easily from the blockchain data. The stake distribution goes

[2020-02-10 14:59] Straightpool commented on #1335
Alright, this is plausible then. What I still do not understand though is how PegasusPool still sees 0 with a cardano-wallet node which should be fully synced and running for weeks on end. I have asked him to provide  debugging output from his end to append to this issue.

To confirm this is no bug his sqlite database must have no stake_distribution  data on epoch 45 and 48. Today the calculation

[2020-02-10 15:45] KtorZ commented on #1335
Yes, if they indeed were online all the time, especially during epoch 45 and 48, then this is puzzling. Yet, they might also be on a fork, or simply have missed one or two epochs. Can't really tell.

[2020-02-11 08:31] jonathanknowles commented on #1332
https://github.com/input-output-hk/bech32/pull/8

[2020-02-12 09:00] Straightpool commented on #1335
Today I was shocked to see my Daedalus ranking plummet, by looking at the stake-pool.sqlite DB used by Daedalus I could again confirm that it missed the epochs criticial to calculate rank for my small pool.

For anyone else who wants to do so:

1. Open Daedalus Diagnostics to determine the "Daedalus state directory" within this directory is a `wallet` directory with the s`take-pools.sqlite` file
2

[2020-02-12 09:39] piotr-iohk commented on #1328
Lgtm.
 - Integration tests -> https://github.com/input-output-hk/cardano-wallet/blob/master/lib/core-integration/src/Test/Integration/Scenario/CLI/Network.hs#L53-L87
 - CLI man has been updated as well -> https://github.com/input-output-hk/cardano-wallet/wiki/Wallet-command-line-interface#network-parameters

Also added #1341. (few new cases, and small refactor)

[2020-02-12 10:11] paweljakubas opened #1342 "Multiple nexts in delegation reporting"
# Context

U/S

As a wallet client,
I want to reliably know how my delegation changes irrespective of how often certificate is discovered,
So that I can better inform users about their current and next delegation settings.

A/C

The current implementation handles well cases when the certificate is discovered at most once per 2 epochs. We may want to handle situations where :

In a given epoch ther

[2020-02-12 12:16] #1328 closed, assigned to paweljakubas

[2020-02-12 12:42] Anviking commented on #1238
lgtm! 🎉

[2020-02-12 12:42] #1238 closed, assigned to piotr-iohk

[2020-02-12 16:26] piotr-iohk commented on #1279
Looking at it after #1340.

Testing `2019-12-23` -> `master`.
 - in `2019-12-23` create faucet byron wallet with funds
 - run `master` on the same state-dir
OK: My Byron wallet has funds after migration :tada: .

However I don't see any entry:
[code]
I was expecting some migrations between `2019-12-23` and now... :thinking:

[2020-02-13 02:33] jonathanknowles commented on #1325
Hi @piotr-iohk!
Are you happy with me closing this issue? I believe that all the items are complete.

[2020-02-13 10:48] piotr-iohk commented on #1279
More details of the above :point_up_2: .

**TL/DR:**
 - migration `2019-12-23` -> `2020-01-27`
  migrated wallet has balance 0. Logs indicate there was a migration.

- migration `2019-12-23` -> `master`
  migrated wallet has correct balance, the logs do not say there was a migration.

**Step by step:**

- start wallet [v2019-12-23](https://github.com/input-output-hk/cardano-wallet/releases/tag/v20

[2020-02-13 12:56] #1325 closed, assigned to jonathanknowles

[2020-02-13 15:07] piotr-iohk commented on #1279
Ok, according to @KtorZ:

_So. There's indeed no DB migration since v2019-12-23 ....
v2020-01-27 had the first version of the fix which removed foreign key references and other stuff.. Which.. induced 48 migrations. But, the new fix we merged recently actually revert that, and works differently, so no more migrations are needed._

[2020-02-13 16:11] piotr-iohk commented on #1279
Ok, tested also on:
`v2019-12-09` -> `master`
 - there are migrations between those versions:
[code]
 - also the faucet byron wallet has correct balance after migration
`arctic decade pink easy jar index base bright vast ocean hard pizza`

I have made some sanity testing after migration and wallet seems to work fine :tada:
 - create/delete wallet
 - transactions
 - delegation

[2020-02-13 16:11] #1279 closed, assigned to jonathanknowles, KtorZ

[2020-02-14 07:39] jonathanknowles commented on #1332
Hi @piotr-iohk!
Are you happy with me closing this issue? I believe that all the items are complete.

[2020-02-14 07:59] piotr-iohk commented on #1332
@jonathanknowles lgtm.

One question/remark: there are some tests there in the new repo -> https://github.com/input-output-hk/bech32/blob/master/test/Codec/Binary/Bech32Spec.hs, but I suppose they are only executed "manually" ? Maybe it would be worth to set up small CI (Travis?) to have those tests executed?

[2020-02-14 08:09] jonathanknowles commented on #1332
Good question!

The repository does have Travis set up on it: https://github.com/input-output-hk/bech32/blob/master/.travis.yml

Here's an example build that passed: https://travis-ci.org/input-output-hk/bech32/jobs/649822654

[2020-02-14 08:16] piotr-iohk commented on #1332
Oh, cool, then perhaps a badge pointing to last travis build on the README would be handy? Maybe also a last release badge? (Similar to what we have on [cardano-wallet](https://github.com/input-output-hk/cardano-wallet))

[2020-02-14 08:17] jonathanknowles commented on #1332
Good idea! I'll add it. :)

[2020-02-14 09:03] KtorZ commented on #1332
@jonathanknowles How familiar are you with https://coveralls.io ?

[2020-02-14 09:05] jonathanknowles commented on #1332
I've occasionally looked at the reports relating to `cardano-wallet`. Are you proposing that we add coveralls support to the `bech32` repo?

[2020-02-14 09:07] jonathanknowles commented on #1332
@piotr-iohk Latest build status of `master` now reflected on home page:

![bech32-build-passing](https://user-images.githubusercontent.com/206319/74517012-617e5700-4f4c-11ea-88c2-892285c31f17.png)

https://github.com/input-output-hk/bech32
https://travis-ci.org/input-output-hk/bech32

[2020-02-14 09:15] KtorZ commented on #1332
Precisely :no_mouth:
I know it is _possible_ through cabal directly, but I've always computed coverage via stack builds. So maybe it's too much efforts here (as I see that the .travis.yml makes use of cabal builds).

[2020-02-14 09:19] KtorZ commented on #1332
--> https://github.com/lunaticare/codecov-haskell

This seems fairly "recent" though. It's for https://codecov.io (which IMO is even better than coveralls, in terms of UI and available information, see for instance https://codecov.io/gh/elm-toulouse/cbor). Maybe it's worth giving it a shot.

[2020-02-14 09:36] KtorZ opened #1346 "Complete Local Tx Submission integration"
# Context

When doing the first bits of integration with the Haskell nodes, we left a placeholder for transaction submission: https://github.com/input-output-hk/cardano-wallet/blob/master/lib/byron/src/Cardano/Wallet/Byron/Network.hs#L559

# Decision

- Complete the integration with the local tx submission protocol
- Test this on a private blockchain, if possible.

# Acceptance Criteria

- The net

[2020-02-14 09:42] KtorZ opened #1347 "Add tx submission to the byron API"
# Context

We didn't initially add this for Jörmungandr because it is not possible to make transaction to legacy addresses in Jörmungandr (which makes it fairly impractical to construct transactions from legacy wallets which have change addresses that are necessarily legacy addresses).

Yet, for the Byron integration, we need wallets to support transaction submission in the very same way. So, it'd

[2020-02-14 12:09] piotr-iohk commented on #1342
A "corner case":

1. have a wallet delegating to pool A
2. in epoch X delegate to pool B
[code]
  3. in epoch X+1 quit pool A
[code]
  4. in X + 2
[code]
 5. in X + 3
delegation active = not_delegating
[code]

## Expected behavior

Perhaps, when you are delegating to A and have already any next delegation target active, you shouldn't be able to request quit A in a first place...

or

[code]
Should

[2020-02-14 15:43] KtorZ commented on #1333
@jonathanknowles I think we should really move this to the core bech32 library too: https://github.com/input-output-hk/cardano-wallet/blob/26041904b815f17871bbcc07b85cd14bfbb802bf/lib/core/src/Codec/Binary/Bech32/TH.hs

Don't you agree?

[2020-02-17 07:34] jonathanknowles commented on #1333
I agree that it would be nice to move this out of `cardano-wallet`.

Though one thing that may affect our decision is that this module depends on **Template Haskell**. I'm aware that people have strong opinions about (not) depending on TH.

Perhaps a good compromise solution would be to keep `bech32` as it is, but define **`bech32-th`** as an extension library? That way, people can choose whether

[2020-02-17 08:34] KtorZ commented on #1333
This sounds like a nice compromise! I'd however strongly recommend to NOT create another repository for this, but have both package part of the same `bech32` repository to make maintenance a bit easier.

[2020-02-17 08:50] jonathanknowles commented on #1333
Okay, sounds great, I'll do this. :+1:

[2020-02-17 09:23] Anviking opened #1353 "Add `key child --path` command for CLI key derivation"
# Context

[ADP-81](https://jira.iohk.io/browse/ADP-81)

The groundwork for CLI key derivation is being established in #1316.

# Decision

Implement command for deriving child keys, according to the example:
[code]

# Acceptance Criteria

- We _must_ be able to derive keys using hard derivation.
- We _must_ support soft derivation on relevant paths.

---

# Development

- [x] Added `key child` com

[2020-02-17 12:22] paweljakubas opened #1354 "Prepare new endpoint for hardware wallet restoring"
# Context

As a cardano-wallet API client,
I want to be able to restore a sequential wallet from an account public key
so that I can use cardano-wallet to keep track of my wallet
And I can keep my private keys in another place (e.g. a hardware device)

AC

Given I have a hardware wallet,
And I export my public key,
Then I can restore to Cardano Wallet
with public key from hardware wallet.

# Decis

[2020-02-17 12:28] paweljakubas opened #1355 "Implement restore hardware wallet endpoint"
# Context

As a cardano-wallet API client,
I want to be able to restore a sequential wallet from an account public key
so that I can use cardano-wallet to keep track of my wallet
And I can keep my private keys in another place (e.g. a hardware device)

AC

Given I have a hardware wallet,
And I export my public key,
Then I can restore to Cardano Wallet
with public key from hardware wallet.

# Decis

[2020-02-17 14:00] piotr-iohk opened #1356 "Latency benchmark failing"
# Context

https://input-output-rnd.slack.com/archives/GBT05825V/p1581943000007200?thread_ts=1581929960.003000&cid=GBT05825V

# Test Case

# Failure / Counter-example

https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/399#1d9a3b73-44d5-433c-84fa-9066a5278a6b

[code]

---

# Resolution

---

# QA

[2020-02-18 08:32] jonathanknowles commented on #1333
@KtorZ https://github.com/input-output-hk/bech32/pull/15

[2020-02-18 09:12] jonathanknowles commented on #1332
**Removed code coverage support** from the list of items, in the interests of wrapping up this story.

We can add it to a future story, as and when we need to.

**EDIT:** Added here: https://jira.iohk.io/projects/ADP/issues/ADP-181

[2020-02-18 09:28] jonathanknowles commented on #1332
Hi @piotr-iohk

I believe this task is now finished, as we moved the code coverage work to a new story.

Is there anything left outstanding from your point of view?

[2020-02-18 09:32] KtorZ commented on #1353
We must, on relevant paths.

[2020-02-18 09:36] jonathanknowles commented on #1332
Closing, after discussion with @piotr-iohk.

[2020-02-18 09:36] #1332 closed, assigned to jonathanknowles

[2020-02-18 09:45] Anviking commented on #1353
@KtorZ

How will we know whether to use DerivationScheme1 or DerivationScheme2?

It seems Byron / Random keys are using derivation scheme 1, but Icarus (and Shelley) is using scheme 2.

Do we have to take a `--type KEY-TYPE` cli option?

https://github.com/input-output-hk/cardano-wallet/blob/master/lib/core/src/Cardano/Wallet/Primitive/AddressDerivation/Icarus.hs#L325

https://github.com/input-out

[2020-02-20 07:45] KtorZ commented on #1353
Yes.

No, rather a `--byron` flag, if present, use derivation scheme 1, if not, use derivation scheme 2.

[2020-02-21 01:25] jonathanknowles commented on #1333
Hi @piotr-iohk!

I think all the tasks on this issue are now complete.

Are you okay for me to close the issue?

[2020-02-21 07:19] piotr-iohk commented on #1356
OK, benchmark is passing.

[2020-02-21 07:19] #1356 closed, assigned to paweljakubas

[2020-02-21 07:21] piotr-iohk commented on #1312
lgtm.

[2020-02-21 07:21] #1312 closed, assigned to paweljakubas

[2020-02-21 07:26] #1333 closed, assigned to jonathanknowles

[2020-02-23 13:52] Straightpool commented on #1335
I have decided to reopen this, until the underlying issue in input-output-hk/jormungandr#852 is fixed

[2020-02-24 07:25] jonathanknowles opened #1366 "Create buildable `cardano-coin-selection` repository."
# Context

As part of the work to create a separate [**coin selection and fee balancing library**](https://github.com/input-output-hk/cardano-wallet/milestone/58), we need to create a repository that will ultimately hold this library.

# Decision

Create a repository that is based on a stripped-down version of the [`cardano-wallet`](https://github.com/input-output-hk/cardano-wallet/) repository, b

[2020-02-24 07:27] piotr-iohk opened #1367 "Database migration test failing"
# Context
Failing since build `#406` -> https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds?branch=master

E.g.:
https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/408#276fc6de-ab22-44a5-8219-e076ce7bf253

# Test Case

[code]

# Failure / Counter-example

---

# Resolution

---

# QA

[2020-02-24 08:17] piotr-iohk opened #1368 "[Failing test case] NETWORK_BYRON"
# Context
https://buildkite.com/input-output-hk/cardano-wallet/builds/5852#0c511c3f-17de-433b-869f-b141a821d3d2

# Test Case

[code]
(cannot reproduce locally)

# Failure / Counter-example

---

# Resolution

https://github.com/input-output-hk/cardano-wallet/pull/1361/commits/d87907c870947a4def285d68efd8bb172b2a9b6e

---

# QA

Test turned out to be flaky because sometimes the assertion that walle

[2020-02-25 10:50] piotr-iohk commented on #1368
Flaky test fixed.

[2020-02-25 10:50] #1368 closed, assigned to nobody

[2020-02-25 22:45] KtorZ opened #1376 "Weird log line regarding delegation status"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      |  |
| Platform     | All           |
| Installation | Source             |

# Steps to Reproduce

1. Execute:   STAKE_POOLS_JOIN/QUIT - Checking delegation expectations
2. Observe logs

## Expected behavior

A clear and concise

[2020-02-26 00:13] rdlrt opened #1377 "Reflect jormungandr API status for v2/network/information endpoint"
cardano-wallet-jormungandr currently does not make use of the status of jormungandr API (eg: message returned as "Bootstrapping" when bootstrapping hasnt finished) and waits before bootstrap completes before responding to v2/network/information endpoint.

This in effect causes a bad UX for end users using Daedalus, as Daedalus is not able to show an accurate response (causing users to think there

[2020-02-26 03:42] jonathanknowles commented on #1366
Hi @paweljakubas. Thanks for your feedback on this issue!

I've responded to your points inline:

Well spotted! That's actually **intentional**.

The existing `QuantitySpec` only has roundtrip tests for `ToText`/`FromText` instances. But these type classes (and all instances) have been _completely removed_ from the `cardano-coin-selection` codebase.

We decided to remove them because the textual s

[2020-02-26 05:04] rdlrt opened #1378 "Crash on MacOS (< 10.12) with 'lazy symbol binding failed: Symbol not found: _clock_gettime'"
# Context

The latest update of cardano-wallet-jormungandr that ships with Daedalus Rewards 2.2.0 does not work anymore on Mac OS X 10.11.6 (and as per error, it expects user machines to be using atleast 10.12)

| Information  | lazy symbol binding failed: Symbol not found: _clock_gettime |
| ---          | ---                                                   |
| Version      | 2020.2.17

[2020-02-26 07:25] jonathanknowles opened #1379 "Add continuous integration to `cardano-coin-selection` library."
# Context

As part of the work to create a separate [**coin selection and fee balancing library**](https://github.com/input-output-hk/cardano-wallet/milestone/58), we'll need a way to automatically test new code that is introduced.

# Decision

Add continuous integration support to the [`cardano-coin-selection`](https://github.com/input-output-hk/cardano-coin-selection) library.

# Acceptance Crit

[2020-02-26 07:25] jonathanknowles opened #1380 "Reorganize module structure of `cardano-coin-selection` repository."
# Context

As part of the work to create a separate [**coin selection and fee balancing library**](https://github.com/input-output-hk/cardano-wallet/milestone/58), we created a [repository](https://github.com/input-output-hk/cardano-coin-selection) based on minimal changes to the existing [`cardano-wallet`](https://github.com/input-output-hk/cardano-wallet) library.

# Decision

Simplify the modul

[2020-02-26 09:07] piotr-iohk opened #1386 "Translate integration tests for active/next delegation into unit tests."
# Context

When reviewing and testing https://github.com/input-output-hk/cardano-wallet/issues/1342 we have created 12 integration tests (tagged `STAKE_POOL_NEXT`) that fairly comprehensively test the requirement. They have been quite long to execute adding ~9 minutes of execution to the overal integration test suite exec time and as a result made CI to timeout.

The idea here is to translate all

[2020-02-26 13:38] piotr-iohk commented on #1355
@paweljakubas, I think that few more tests would be handy here on integration level (currently we only have the first one under the tag `WALLETS_CREATE_03`):

Tag | Desc | Tests
-- | -- | --
HW_WALLETS_01 | Can create wallet, wallet preserves funds |  
HW_WALLETS_02 | Can create wallet, wallet preserves delegation |  
HW_WALLETS_03 | Cannot do operations requiring private key on the wallet (approp

[2020-02-26 14:13] piotr-iohk commented on #1366
@jonathanknowles few remarks/questions:
- `unsafeFromHex` - I see there is a helper method that's that's part of the src code in `src/Cardano/Unsafe.hs` and it is only used in the tests `test/Cardano/TypesSpec.hs`... maybe it could be moved there?
- I'm sure that you have this already planned in further tasks but to back up @paweljakubas comment about extending README, I think that it would be nic

[2020-02-26 14:14] piotr-iohk commented on #1342
I will move to in progress for now until #1386 is done.

[2020-02-26 17:30] KtorZ commented on #1386
@piotr-iohk @paweljakubas I've factored out the logic responsible for controlling the delegation transitions as `guardJoin` and `guardQuit`.

From these two pure functions, we can now easily tests various delegation scenarios given some initial `WalletDelegation` state, and control that the outcome is as expected. I didn't think much through it but I believe there also exists some nice properties

[2020-02-26 19:31] Anviking opened #1389 "Add `key public` and `key inspect` cli commands"
# Context

https://jira.iohk.io/browse/ADP-81

We need a command to derive public keys from private keys.

We also need an `inspect` command that splits the 32-byte chain code  from the 64-byte extended private key. It should also do the corresponding thing when inspecting public keys.

The CLI should also _ultimately_ support soft derivation using public keys. This may need some thought to do pro

[2020-02-26 19:36] Anviking commented on #1389
With the current `CliKeyScheme`, it might be as well to implement public key derivation at the same time.

We could also probably be "fine" with a `Text -> m Text` implementation, and a golden test or two. There really shouldn't be any corner cases with converting a `XPub` to hex `Text`. (Unlike the intricacies of going from hex to `XPrv`).

[2020-02-26 21:31] paweljakubas commented on #1379
would be good to have it in such a form (eg., using repo name variables propagated throughout the code ) that it is very quick to reuse it in other repositories we are going to spawn

[2020-02-27 03:02] jonathanknowles commented on #1366
@piotr-iohk wrote:

Well spotted! I've added this to https://github.com/input-output-hk/cardano-wallet/issues/1380.

[2020-02-27 03:04] jonathanknowles commented on #1366
@piotr-iohk wrote:

Thanks! Added to https://github.com/input-output-hk/cardano-wallet/issues/1382

[2020-02-27 03:08] jonathanknowles commented on #1366
Thanks! Added to the following tickets:

* https://github.com/input-output-hk/cardano-wallet/issues/1379
* https://github.com/input-output-hk/cardano-wallet/issues/1383

Added here: https://github.com/input-output-hk/cardano-wallet/issues/1390

[2020-02-27 03:15] jonathanknowles opened #1391 "Document process used to extract `cardano-coin-selection` repository."
# Context

As part of the work to create a separate [**coin selection and fee balancing library**](https://github.com/input-output-hk/cardano-wallet/milestone/58), we created [a repository](https://github.com/input-output-hk/cardano-coin-selection) for this library from a clone of the [`cardano-wallet`](https://github.com/input-output-hk/cardano-wallet/) library.

When creating this clone, we **fi

[2020-02-27 08:58] piotr-iohk commented on #1366
LGTM. Closing, all remarks addressed in furhter tasks.

[2020-02-27 08:58] #1366 closed, assigned to jonathanknowles

[2020-02-27 09:18] jonathanknowles commented on #1366
Thanks @piotr-iohk!

[2020-02-27 09:32] jonathanknowles commented on #1379
@paweljakubas wrote:

Good point!

The CI code is fortunately _very_ simple, for the moment. It doesn't even mention the library name. See:

https://github.com/input-output-hk/cardano-coin-selection/blob/master/.travis.yml

[2020-02-27 10:38] paweljakubas opened #1394 "Implement network/clock endpoint"
# Context
NTP is a protocol to allow time synchronization between remote machines. This is particularly essential for Ouroboros is a time-based protocol. In case a local clock is drifting too much compared to the global clock, one would want to re-sync his clock.

# Decision
We are adding `network/clock` endpoint which returns NtpStatus type (Drift, Pending, Unavailable).

# Acceptance Criteria

1

[2020-02-28 09:34] paweljakubas commented on #1355
@piotr-iohk the suggested tests look very fine! They are executing fast and hopefully will not contribute to timeouts;-)

[2020-02-28 12:23] piotr-iohk opened #1398 "Wallet restoration extremely slow on Windows"
# Context
 | Information  | -                                                     |
| ---          | ---                                                   |
| Version      | 2020.2.17, master, `2020.2.17 (git revision: ede977b563a548d7f36d99332cfaa0835b6533e5)` |
| Platform     | Windows          |
| Installation | From source / github release           |

cardano-wallet on Windows has always been

[2020-02-28 13:13] piotr-iohk commented on #1342
LGTM. Testing addressed in #1386.

[2020-02-28 13:13] #1342 closed, assigned to paweljakubas

[2020-02-28 13:13] #1386 closed, assigned to nobody

[2020-02-28 13:15] Anviking commented on #1284
https://github.com/input-output-hk/cardano-wallet/pull/1369#issuecomment-591501691
[code]

[2020-02-28 14:03] Anviking commented on #1284
Is this a race-condition?

It seems like the source wallet is not subtracting the spending from its available balance in time.

However, these two lines should surely be run in order? 🤔
[code]

[2020-02-28 14:25] paweljakubas commented on #1284
yeah, I do think so also, probably we need to use `eventually` for r and wait for tx to be `Pending`, and then get `ra`.  This is what I planned to do and then invoke bors try 20x ;-)

[2020-03-02 03:22] jonathanknowles commented on #1379
Hi @piotr-iohk!

I've just run a few tests on the CI system, just to check that it does fail as expected. According to my tests, it correctly rejects the following kinds of failure:

- [x] Failure to compile:
        https://travis-ci.org/input-output-hk/cardano-coin-selection/builds/657112216
- [x] Failure of the lint check:
        https://travis-ci.org/input-output-hk/cardano-coin-selection/bui

[2020-03-02 09:00] piotr-iohk commented on #1379
@jonathanknowles - OK for the CI :) One question though:

Is there a code coverage set up? can it the seen somewhere? (a badge for CC would be handy too)

[2020-03-02 09:04] piotr-iohk commented on #1354
lgtm and closing. (Adding some tests in https://github.com/input-output-hk/cardano-wallet/pull/1400, but will keep #1355 in QA for that)

[2020-03-02 09:04] #1354 closed, assigned to paweljakubas

[2020-03-02 09:10] jonathanknowles commented on #1379
There's a separate issue for that here: https://github.com/input-output-hk/cardano-wallet/issues/1390

[2020-03-02 09:13] piotr-iohk commented on #1379
Ok, thx. The point _Add code coverage based on the script used for the bech32 library._ is part of the **Developement** section, hence my question. Closing then!

[2020-03-02 09:13] #1379 closed, assigned to jonathanknowles

[2020-03-02 09:14] jonathanknowles commented on #1379
Ah, that was a typo! I've corrected it to read:

[2020-03-03 07:05] rvl commented on #1398
I have not noticed this because my Windows 10 Home install inside VirtualBox runs very slowly just on its own, even before I start cardano-wallet-jormungandr.

* Could the slowness be due to a virus scanner or something like that?
* Is the `C:\Users` directory on a SSD?

The db benchmark can be extracted from the [windows testing bundle](https://hydra.iohk.io/job/Cardano/cardano-wallet/cardano-wal

[2020-03-03 08:10] KtorZ commented on #1398
I tested this on my Windows 10 laptop (i7-7700HQ Quad-Core 2.80GHz, 32GB DDR4 2400MHz, SSD w/ PCIe NVMe M.2) and got actually better results (~25%) than the nightly benchmarks on our buildkite machines.

Could be a drive issue indeed, although I thought the point of using SQLite was pretty much to cope with possible drive slowness.

@rvl your benchmarks results aren't that far off on big queries,

[2020-03-03 08:19] rvl commented on #1398
Interesting results.

The small query slowness on my windows virtualbox is probably due to hard disk seek time.
SQLite can only help us so much with slow disks. To be durable, it needs to write to the journal file for every query.

So on your very speedy Windows 10 laptop, are you able to reproduce this slow restoration time issue?

[2020-03-03 08:22] KtorZ commented on #1398
Haven't tried yet. I only ran the benchmarks yesterday. I used to try restoring wallets on this machine during the first days of the ITN but I haven't tried in a while. I'll check again this evening when getting home.

[2020-03-03 08:44] piotr-iohk commented on #1316
@Anviking, @KtorZ

1. Question about: https://github.com/input-output-hk/cardano-wallet/issues/1316#issuecomment-581853809

Don't you think that's a bit of a security concern? Also it is not consistent with how we handle mnemonics in CLI in other places, e.g.:
 - `cardano-wallet-jormungandr mnemonic reward-credentials`
 - `cardano-wallet-jormungandr wallet create`

2. I see that `key` option is av

[2020-03-03 14:52] Anviking commented on #1316
Ah. I guess that is not intentional👍

Tbh, yes. I was worried when I tested with a real old Byron mnemonic, and upgraded my shell to have a `fish --private` feature before doing that.

I think being able to provide the mnemonic as _stdin_ or _argument_ should still be possible. But an interactive "secure option" might be nice. Perhaps marketed as default.

I would also like to support [piping betw

[2020-03-03 14:59] Anviking commented on #1316
I should note: I don't really feel confident about what security concerns there are, or how intricate shell details might interplay.

I mostly just know that the interactive prompt way of reading mnemonics avoids putting them in the shell history, and I'm extrapolating from there.

[2020-03-03 16:29] piotr-iohk commented on #1316
Re: https://github.com/input-output-hk/cardano-wallet/issues/1316#issuecomment-593990603

I think that if we think that having mnemonic in arg is a security concern we shouldn't support it. (the only advantage is that such CLI is easier to automate I think, but I don't suppose that is a big advantage over security). Also, I think that we should be consistent in the way we treat mnemonics in CLI, a

[2020-03-03 17:09] piotr-iohk commented on #1314
hm, one of the integration tests fails for me locally. (btw. thanks for handy `PATATE` handler ;) https://github.com/input-output-hk/cardano-wallet/blob/master/lib/jormungandr/test/integration/Test/Integration/Jormungandr/Scenario/CLI/Server.hs#L72)

[code]

[2020-03-03 17:52] KtorZ commented on #1398
So... I might have found the culprit here :no_mouth:

While doing ... something totally different, I noticed that some integration tests, when restoring a wallet were showing something like 1000x `Creating checkpoint at xxxxxxxx-[X.X#X]`.

This caught my attention for a second because:

a. With the setting I had, it should only create around 10 checkpoints, not a thousand.
b. This happened not onl

[2020-03-03 18:28] KtorZ commented on #1314
Also fails for me locally for a reason I can't explain, but does not on CI :thinking:

[2020-03-03 22:54] KtorZ commented on #1398
Here's some finding on my windows machine. It took ~30 minutes to reach 50%.
Looking at the logs (filtered a bit), it's kinda obvious --> The wallet isn't
in "restoration mode", but actually fetches blocks every 10s. I am not sure why at this point, will investigate tomorrow:

[code]

[2020-03-04 09:00] Anviking commented on #1316
Nevertheless these are nice roundtrip tests, but I think they should live somewhere along other unit tests.

They do launch `jcli` as an external process. I originally added them in core:unit, but @KtorZ told me to move them 😄

Are these not enough as integration tests?
https://github.com/input-output-hk/cardano-wallet/blob/master/lib/cli/test/unit/Cardano/CLISpec.hs#L640-L667

(They don't actuall

[2020-03-04 09:16] piotr-iohk commented on #1316
Ok, in my opinion the fact that they use `jcli` to check the result does not make them integration tests :man_shrugging:. But, I guess, that's opinion vs. opinion... so, ok. ;)

Allright, I'll base on your assessment.

[2020-03-04 09:17] piotr-iohk commented on #1355
ltgm.

[2020-03-04 09:17] #1355 closed, assigned to paweljakubas

[2020-03-04 10:51] piotr-iohk commented on #1316
ok, lgtm.

[2020-03-04 10:51] #1316 closed, assigned to Anviking

[2020-03-04 10:51] piotr-iohk commented on #1353
lgtm.

[2020-03-04 10:51] #1353 closed, assigned to Anviking

[2020-03-04 10:51] piotr-iohk commented on #1389
lgtm.

[2020-03-04 10:51] #1389 closed, assigned to Anviking

[2020-03-04 12:39] piotr-iohk commented on #1394
@paweljakubas I'm seeing this error in the log when invoking `network/clock`:

[code]

Also, if I'm not mistaken there is only a single integration test added for this requirement (https://github.com/input-output-hk/cardano-wallet/blob/master/lib/core-integration/src/Test/Integration/Scenario/API/Network.hs#L202-L210).

I'm wondering if there could be some more unit tests (or properties) added for

[2020-03-04 14:55] piotr-iohk commented on #1394
After discussing with @paweljakubas -> #1410.

[2020-03-05 08:04] rvl commented on #1394
The base library `ouroboros-network/ntp-client` might need more unit tests added. It is missing error path tests such as `NtpSyncUnavailable` mentioned by @piotr-iohk.

[2020-03-05 08:18] rvl commented on #1293
Let's wait for Daedalus to integrate [cardano-launcher](https://github.com/input-output-hk/cardano-launcher) into itn_rewards_v1 then see if this behaviour still occurs.

[2020-03-05 08:51] KtorZ opened #1412 "Failing Test: API Specifications STAKE_POOLS_LIST_01 - List stake pools"
# Context

# Test Case

https://github.com/input-output-hk/cardano-wallet/blob/3dcfee19e351e269302513eba4b5414f93ebe673/lib/jormungandr/test/integration/Test/Integration/Jormungandr/Scenario/API/StakePools.hs#L99-L167

# Failure / Counter-example

https://buildkite.com/input-output-hk/cardano-wallet/builds/6099#a939847c-7bc4-423b-bbd7-ac2628ef964c

---

# Resolution

---

# QA

[2020-03-05 08:52] KtorZ commented on #1284
@paweljakubas how are we doing regarding this one?

[2020-03-05 14:16] paweljakubas commented on #1284
I have tried several things until now and still the bug eludes me. My findings:
1. I have tried locally (whole tests suite) many many times and was not able to produce it locally.
2. I thought that maybe that when we have
[code]
then we cannot be sure about call order and we need to enforce it. So I tried
`deepseq` but it did not help
3. Then I just tried what is done for other test, ie.,
[code]
S

[2020-03-05 14:17] paweljakubas commented on #1284
now, will put debugs, also only run Transaction.spec (as logs have 1MB limit) and try to compare failure logs with successful ones.

[2020-03-05 23:42] #1367 closed, assigned to rvl

[2020-03-06 01:51] rvl commented on #1394
@piotr-iohk Those look like bona fide errors to me. Your system has IPv6 enabled but lacks connectivity.

[2020-03-06 08:42] piotr-iohk commented on #1394
Could be... In any case, thanks for new word. ;)

[2020-03-06 13:33] paweljakubas opened #1416 "Restore sequential wallet from account public key - CLI support"
# Context

As a cardano-wallet API client,
I want to be able to restore a sequential wallet from an account public key using CLI

# Decision

# Acceptance Criteria

1. CLI support and corresponding tests are added

---

# Development

# QA

[2020-03-06 19:59] Anviking commented on #1398
I got setup on my windows partition. Restoring a wallet took 1h for me. Benchmarks seemed fast (close to build kite iirc). "Creating checkpoint" was logged often and continuously for the most of the time unlike Matthias' log. CPU and memory seemed kind of high: 12% (i.e a 100% for a core?), and 500-900 MB.

<details>
<summary>picture of filtered node.log when restoring wallet</summary>

![image_fr

[2020-03-09 09:04] piotr-iohk commented on #1314
@rvl, @KtorZ:
 - is this failure on local machine (https://github.com/input-output-hk/cardano-wallet/issues/1314#issuecomment-594061933) is something that should be investigated further?

 - also acceptance criteria for ADP-92 is quite extensive:
[code]
Does this ticket cover all points or part (which part if so)?
 - Also in particular re pt. 9 from AC - do you recommend any manual tests to perfor

[2020-03-09 09:17] piotr-iohk commented on #1394
Closing.

- The errors logged on my machine were indeed a configuration issue (https://github.com/input-output-hk/cardano-wallet/pull/1410#discussion_r388821612).
- Also adjusted log levels to show `Notice` instead of `Warning` or `Alert` (https://github.com/input-output-hk/cardano-wallet/pull/1410#discussion_r388840049)
- since the underlying lib does not support Windows I have also added this in

[2020-03-09 09:17] #1394 closed, assigned to paweljakubas

[2020-03-09 09:29] KtorZ commented on #1398
No. By default it uses an SQLite database with on-disk persistence.

[2020-03-09 09:35] piotr-iohk commented on #1398
I think that `serve` uses in memory db by default but one can specify database dir, so it can be used on disk.

[code]

[2020-03-09 10:44] piotr-iohk commented on #1376
TBH the log now is not very informative and quite confusing...

Ok, clear when delegating or not delegating without any `next` delegations:
[code]

But when awaiting `next` delegation, we get:

[code]
`1377409` is actually an epoch number, and there is no info about where are we going to delegate next (or maybe if we are going to quit)

For instance with two `next` we have:

[code]

I think it wou

[2020-03-09 10:56] piotr-iohk commented on #1331
lgtm!

[2020-03-09 10:56] #1331 closed, assigned to Anviking

[2020-03-09 11:30] paweljakubas commented on #1376
@piotr-iohk you are right, I have made a mistake. I will produce correcting PR in several minutes

[2020-03-09 12:22] rvl commented on #1314
Sorry @piotr-iohk I lost track of your message.

Yes the failure is due to `withShutdownHandler` and I am working on fixing it.

Those items from ADP-92 are user stories and each has its own AC. It's a bit difficult to track because the user stories are implemented in two git repos - cardano-launcher and cardano-wallet.

This ticket covers "7. I want a method to cleanly and reliably stop cardano-w

[2020-03-09 16:22] KtorZ commented on #1296
Closing. Didn't occur again a single time since then. Probably a false negative.

[2020-03-09 16:22] #1296 closed, assigned to nobody

[2020-03-09 19:24] Anviking commented on #1398
Syncing stake pools worker:
Windows: ≈16min, slight wavy pattern on heap profile
Mac: ≈6min
<img width="1287" alt="Skärmavbild 2020-03-09 kl  20 06 54" src="https://user-images.githubusercontent.com/304423/76248610-f4579c00-6241-11ea-8e95-4f6fdf48cc2d.png">

![plot](https://user-images.githubusercontent.com/304423/76248653-09342f80-6242-11ea-98db-086882c1c2a5.png)
_some rogue os thing is prevent m

[2020-03-10 09:28] Anviking commented on #1398
Comparing (byron) wallet restoration, vs concurrent pool metrics worker, vs old run of pool worker only:
<img width="1184" alt="Skärmavbild 2020-03-10 kl  10 24 56" src="https://user-images.githubusercontent.com/304423/76298250-7505af00-62b9-11ea-9473-7befe4ab9a61.png">

[2020-03-10 17:47] Anviking commented on #1398
<img width="1603" alt="Skärmavbild 2020-03-10 kl  18 33 16" src="https://user-images.githubusercontent.com/304423/76341703-b28c2b80-62fd-11ea-8e66-0a7d6c3423a1.png">

This is running a Haskell script that calls `nextBlock` repeatedly, and prints the last slotNo in each batch along with a timestamp.

Noteworthy:
- There are data-points in the flat sections. I.e. it is not pausing, but just going _m

[2020-03-11 09:08] rvl commented on #1398
Nice analysis @Anviking. So you believe the bottleneck is in the network layer? In particular the nextBlocks function?

- About 2. It could be possible that our code is repeatedly downloading the same blocks or something like that. Jormungandr logs would confirm that.
- About 3. If you have confirmed with another language (e.g. shell script, nodejs, python, etc) that block download from jormungand

[2020-03-11 09:39] Anviking commented on #1398
Here is the plot for the node.js script fetching `block/{previous}/next_id` repeatedly.

<img width="634" alt="Skärmavbild 2020-03-11 kl  10 12 11" src="https://user-images.githubusercontent.com/304423/76400723-10158c00-6381-11ea-9842-58cc86e97d8f.png">

Windows took ≈11 times longer. Looking at the previous graphs, the corresponding factor for for pool-worker sync was ≈2.6, and ≈9.2 for byron wal

[2020-03-11 10:28] paweljakubas opened #1427 "CLI support for NTP status"
# Context

There is NTP status endpoint `network/clock` but missing CLI support

# Decision

Adding CLI support for NTP status
# Acceptance Criteria

---

# Development

# QA

[2020-03-11 13:21] Anviking commented on #1398
Haskell version of the previous node.js script:
<img width="809" alt="Skärmavbild 2020-03-11 kl  14 19 22" src="https://user-images.githubusercontent.com/304423/76421036-5aa80000-63a3-11ea-9e6e-101b94597292.png">

- Much faster than node.js
- We see the staircase shape again

[2020-03-11 14:04] Straightpool commented on #1335
This underlying issue fix was just merged and should be in the next Jormungandr build and hopefully used by the next cardano-wallet used by the next Daedalus release!

I will close this issue as soon as I can validate the fix, hopefully next week.

[2020-03-11 15:41] Anviking commented on #1398
Summary so far:

|Experiment| Time (mac) | Time (win) | Slowdown |
|---|---|---|---|
| 1. Pool Metrics worker | 6 min (352s) | 16 min (954s) | 2.7x
| 2. wallet (pool in bg) | 5 min (288s) | 46 min (2739s) | 9.5x
| 2. wallet + pool | 7 min (438s) | 54 min (3243s) | 7.4x
| 3. [`nextBlocks` script](https://github.com/input-output-hk/cardano-wallet/blob/anviking/1398/debug-restoration/debug-restoratio

[2020-03-12 08:53] piotr-iohk commented on #1376
lgtm!
Log line now reads:
[code]

[2020-03-12 08:53] #1376 closed, assigned to paweljakubas

[2020-03-12 11:30] KtorZ commented on #1300
Moved to a separate issue tracker (sorry, not public :s) where we keep incoming product requirements. Chances are that this would likely land for the testnet coming with cardano-node, but not on the ITN.

[2020-03-12 11:30] #1300 closed, assigned to nobody

[2020-03-12 11:36] KtorZ commented on #1311
I moved this to a separate issue tracker. There's currently no way to connect the wallet server itself to a remote node. As of today, the underlying node and the wallet server have be on the same host machine (though the node itself can connect to a remote peer).

[2020-03-12 11:36] #1311 closed, assigned to nobody

[2020-03-12 11:37] KtorZ commented on #1377
Moved to a separate issue tracker where new product requirements are kept :+1:

[2020-03-12 11:37] #1377 closed, assigned to nobody

[2020-03-12 11:44] KtorZ commented on #1378
Thanks for reporting this. We do not support OSX older than 10.12.

More details on system requirements here: https://iohk.zendesk.com/hc/en-us/articles/360010496553-Daedalus-System-Requirements.

[2020-03-12 11:45] #1378 closed, assigned to nobody

[2020-03-12 11:46] KtorZ commented on #1284
Closing this one as it seemed to have resolved itself with the recent CI changes.

[2020-03-12 11:46] #1284 closed, assigned to jonathanknowles

[2020-03-12 11:50] KtorZ commented on #1412
Fixed in a previous PR.

[2020-03-12 11:50] #1412 closed, assigned to nobody

[2020-03-12 12:32] Anviking opened #1431 "[failing test case] syncProgress should never crash"
# Context

https://input-output-rnd.slack.com/archives/GBT05825V/p1584003465022400

# Test Case

[code]

# Failure / Counter-example

[code]

# Resolution

Real but unlikely problem that was caught by the addition of a test (but a test which was unlikely to fail apparently).

- #1430 when divisor is 0, divide by 1 instead (`max 1`)
- #1430 Better test coverage

# QA

- Better test coverage. (see p

[2020-03-12 14:47] piotr-iohk commented on #1346
lgtm

[2020-03-12 14:47] #1346 closed, assigned to KtorZ

[2020-03-12 15:05] piotr-iohk commented on #1314
Ok, the failing test is fixed but there is now also this opened PR related to this task #1424. (Not sure than, shall we move it back to "in progress" or...?)

[2020-03-12 15:06] piotr-iohk commented on #1347
lgtm.

It would be nice then to employ those tests in CI as soon as possible.

[2020-03-12 15:06] #1347 closed, assigned to KtorZ

[2020-03-12 15:25] piotr-iohk commented on #1431
lgtm.

[2020-03-12 15:25] #1431 closed, assigned to Anviking

[2020-03-12 15:32] Anviking commented on #1398
Block decoding seems as performant on windows and Mac in my first attempt at a [criterion bench](https://github.com/input-output-hk/cardano-wallet/tree/anviking/1398/debug-restoration/debug-restoration/6-bench-binary).

But maybe the system needs to be under more stress to trigger the slowdown. In the staircase shaped graphs (including wallet restoration), windows is initially restoring as fast as

[2020-03-13 09:27] paweljakubas opened #1435 "Add endpoint and type scaffolding for byron wallet restoration from xpriv+passwd hash"
# Context

I want Daedalus to be able to automatically restore my existing Byron wallets,
So that I don't need to re-enter my recovery phrase
And I can enjoy a smooth migration experience to Byron reboot.

# Decision

We are going to add separate endpoint that enables byron wallet restoration from XPrv

# Acceptance Criteria
1. Separate endpoint is added.
2. Swagger is extended.
3. Types servicing

[2020-03-13 09:37] paweljakubas opened #1436 "Implement the endpoint for byron restoration from XPrv"
# Context

I want Daedalus to be able to automatically restore my existing Byron wallets,
So that I don't need to re-enter my recovery phrase
And I can enjoy a smooth migration experience to Byron reboot.

# Decision

We have scaffolding present after #1435 , no w we want implementation.

# Acceptance Criteria
1. Implementation of endpoint
2. Add illustrative test that this is correct.

---

# Dev

[2020-03-13 10:52] rvl commented on #1314
I don't know ... the code removal is not part of the epic, it's just a clean up which I wanted to do early because its tests are fragile. I'm not sure when to make a github issue and when not, because we have jira there, and also multiple github repos, ...

[2020-03-13 11:07] piotr-iohk commented on #1380
lgtm.

[2020-03-13 11:21] #1380 closed, assigned to jonathanknowles

[2020-03-13 11:58] piotr-iohk commented on #1427
Updated CLI manual -> https://github.com/input-output-hk/cardano-wallet/wiki/Wallet-command-line-interface#network-clock

[2020-03-13 12:35] piotr-iohk commented on #1314
All right. It seems the original scope for this particular GH task is addressed, so I will close this one.
Then maybe if there are further parts related to ADP-92 that need QA review, let's add them as separate GH tasks moving forward.

[2020-03-13 12:35] #1314 closed, assigned to rvl

[2020-03-13 12:41] piotr-iohk commented on #1427
Closing :+1:
 - updated CLI manual
 - somewhat related -> https://github.com/input-output-hk/cardano-wallet/pull/1438

Closing.
(@paweljakubas - pls don't forget to update QA section (for future tasks) ;) )

[2020-03-13 12:41] #1427 closed, assigned to paweljakubas

[2020-03-13 17:19] Anviking commented on #1398
Heap profile of chain-following script, that blows up, and takes… didn't measure, but definitely more than 10 minutes.

<img width="1027" alt="Skärmavbild 2020-03-13 kl  18 04 42" src="https://user-images.githubusercontent.com/304423/76643359-2d02b880-6555-11ea-96d0-c074d75e5f9a.png">

I note:
- The heap profile stops at 100s, but the script was running much longer.
- The script should print the t

[2020-03-13 17:37] Anviking commented on #1398
Additional random findings:
- I reduced the time of 5-haskell-next-id on Mac from 4 minutes to 2 minutes by removing all logging. But there is **still** a weird distance to the 50 s 3-nextBlocks. (5 should be doing less work… why is it slower?)

[2020-03-14 00:25] PegasusPool opened #1442 "Unable to retrieve stake-pool list"
# Context

Unable to retrieve stake-pool list for the last couple of hours.
v2020-01-27 has been running for months without issues.

Tried deleting the entire database used by cardano-wallet, the error still occurs after restarting. Upgrading to v2020-03-11 did not resolve the issue.

# Steps to Reproduce

Start Cardano-Wallet
[code]

Execute
[code]

## Expected behavior

Return a list of informat

[2020-03-14 11:27] SebastienGllmt commented on #1442
Pool retirements were not part of the scope for cardano-wallet Jormungandr support so there is no plan to add this as far as I know.

[2020-03-14 15:32] KtorZ commented on #1442
@PegasusPool are you able to build cardano-wallet from sources?
I can't sync with the ITN today it seems. My node is at epoch 1 and progressing VERY slowly. I got a fix which is kinda hard to test with a private blockchain so I was thinking trying that out on the actual ITN directly.

[2020-03-14 16:39] KtorZ commented on #1442
@GaborPeto thank you.

Not final fix but at least should fix the current issue if we identified it correctly.

`KtorZ/1442/jormungandr-retirement-certificates`

[2020-03-14 17:09] PegasusPool commented on #1442
@KtorZ

[code]

[code]

[code]

[2020-03-14 18:24] KtorZ commented on #1442
Okay, I went down on a wrong path. Can you try again :pray: ?

[2020-03-14 18:35] PegasusPool commented on #1442
@KtorZ Bingo!
Didn't get the error, and it returned the pools list.

[2020-03-14 18:45] PegasusPool commented on #1442
Thank you and @Anviking for the blazing fast fix :pray:

[2020-03-14 19:03] KtorZ commented on #1442
Indeed! Thanks @Anviking for reacting over the weekend :)

[2020-03-14 19:32] PegasusPool commented on #1442
@KtorZ
Something's wrong.
I tried to retrieve the pool-list again and I got

[code]

It seems to be stuck on 97.33%, I tried deleting the db and then watched it scan from 0 back to 97.33% then stuck again. Can it be that the remaining 2.67% are some retired pools cw is trying to scan but is not able to?

[2020-03-14 19:39] KtorZ commented on #1442
@PegasusPool no. Do you any additional logs? In particular from the "pools-engine" and "pools-db" tracers?

This typically happen when your node is too much ahead of the wallet server. Though, the wallet should catch-up. The wallet not catching up could typically be because the underlying worker has died (because it encountered a fatal exception... probably due to the retirement but I can't think

[2020-03-14 19:43] PegasusPool commented on #1442
Interesting. I keep it running, just checked again and it's now 97.32%

At the time of query I get this in the logs:
[code]

[2020-03-14 19:45] KtorZ commented on #1442
Is there any error log before?

[2020-03-14 20:00] PegasusPool commented on #1442
*edited*

Actually I found this a bit further up, not sure it's related:
[code]

[2020-03-14 20:25] KtorZ commented on #1442
It is. That's not cool. So, I've split the handling of stake pool retirements out of the branch / PR and I'll investigate this issue a bit later. Now the branch just fixes the error + fixes the performance calculations and ranking in the meantime.

Thanks for your help on testing this!

[2020-03-16 08:23] KtorZ commented on #1335
Should be fixed since #1444 . Note that this may take up to 14 epochs to stabilize as cardano-wallet will know record the right stake distribution at each epoch; but this won't go back in already existing data; thus if your wallet server is already synced, you'll have to wait for 14 epochs to see the full effect. Otherwise, removing the stake pool database could be an option; it'll get automatical

[2020-03-16 14:20] Anviking commented on #1398
## 7. Chain-following [rust-script](https://github.com/input-output-hk/cardano-wallet/tree/anviking/1398/debug-restoration/debug-restoration/7-rust-follow)

- Follows chain using `next_id` (one call per block)
- Also downloads each full block binary

| Cmd | Mac | Windows | Slowdown |
|-|-|-|-|
| `cargo run` | 327s | 453s | 1.4x |
| `cargo run --release` | 156s | 250s | 1.6x |

[2020-03-17 08:41] piotr-iohk commented on #1391
@jonathanknowles, I wonder if better place for this type of document would be here -> https://github.com/input-output-hk/adrestia/wiki#engineering-practices

[2020-03-17 09:37] KtorZ opened #1446 "Faling test case: list byron transactions"
# Context

# Test Case

https://buildkite.com/input-output-hk/cardano-wallet/builds/6328#978398e3-7432-4507-8599-0777fbfe2292/6-7753

From the logs, the only error available which seems to match the test is the following:

[code]

This is kinda weird and I don't think particularly connected to this test.

# Failure / Counter-example

---

# Resolution

---

# QA

[2020-03-17 16:40] piotr-iohk commented on #1435
lgtm.

[2020-03-17 16:55] #1435 closed, assigned to paweljakubas

[2020-03-17 16:55] #1416 closed, assigned to paweljakubas

[2020-03-17 17:16] Anviking commented on #1398
There are some inconsistencies of the results of 1) syncing stake-pool metrics (I think Piotr mentioned 50 min, instead of 15 minutes as I saw here) 2) the Haskell chain-following experiments (3, 5 and slight variations of them). There are results on the [branch](https://github.com/input-output-hk/cardano-wallet/blob/anviking/1398/debug-restoration), but I have not compiled them into something mea

[2020-03-18 09:08] piotr-iohk commented on #1391
Linked the article on wiki -> https://github.com/input-output-hk/adrestia/wiki.
LGTM!

[2020-03-18 09:08] #1391 closed, assigned to jonathanknowles

[2020-03-18 09:13] jonathanknowles commented on #1391
After a brief internal discussion, we came to the conclusion that we would like to:

1. Keep the [existing article](https://github.com/input-output-hk/cardano-coin-selection/blob/f61417d0a24bb7c6a1ac85d792e07261e203f8a8/information/repository-creation-process.md) within [`cardano-coin-selection`](https://github.com/input-output-hk/cardano-coin-selection) to serve as a **historical record** of how

[2020-03-18 09:19] piotr-iohk opened #1452 "cardano-node: network/information does not work on cardano-node until one creates a wallet"
# Context
[code]
| Information  | -                                                     |
| ---          | ---                                                   |
| Version      |`2020.3.16 (git revision: 52d2cf591a534051c39366825fcfd723f3512e30)`|
| Platform     | Linux, All?         |
| Installation | From github           |

# Steps to Reproduce

- Start wallet on top of cardano-node
[code]
and

[2020-03-18 09:27] darko-mijic commented on #1398
Are we expecting or already having this issue with Haskell Node integration, or it is something which will affect only walet-backend running with Rust node?

[2020-03-18 09:33] Anviking commented on #1398
@darko-mijic we hope to find out very soon (aiming to bump to support the 1.8 version first)

[2020-03-18 11:26] piotr-iohk opened #1453 "cardano-node: Wallet re-syncs from 0% after restarting cardano-wallet-byron"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      |`2020.3.16 (git revision: 52d2cf591a534051c39366825fcfd723f3512e30)`|
| Platform     | Linux, All?         |
| Installation | From github           |

# Steps to Reproduce

1. start cardano-wallet on cardano-node:
[code]
2. Cre

[2020-03-18 20:28] Straightpool commented on #1335
Ranking looks good and consistent with Daedalus 2.3.1 tested today. I am happy to close the issue. Thanks for the hard work!

[2020-03-18 20:28] #1335 closed, assigned to nobody

[2020-03-19 11:59] Anviking opened #1457 "Delegation fee estimation is 0 instead of 0.8 ADA"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | 2020.3.11 (git revision: 203184fa6a673bfcd1ef5b2181d02b352ef863c6) |
| Platform     | mac          |
| Installation | Daedalus Public installer 2020.2.17, modified with jorm 0.8.14 and recent wallet |

# Steps to Reproduce

1.

[2020-03-19 12:28] KtorZ commented on #1457
This is actually incorrect. cf:

https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/getDelegationFee

I think we discussed the idea of running many estimation at once and taking the average instead of doing it just once.. Yet, an estimation of 0 seems wrong, regardless of what the fees end up being.

[2020-03-19 12:51] Anviking opened #1458 "Bring back old restore benchmark"
# Context

[ADP-97](https://jira.iohk.io/projects/ADP/issues/ADP-97?filter=allopenissues)

This is the old benchmark: https://github.com/input-output-hk/cardano-wallet/blob/ad170689cb6baef306e79de534e99e8098325b14/.buildkite/bench-restore.sh

# Decision

Bring it back. Make it compile. With cardano-wallet-byron.

Let's begin with preserving the script as much as possible, and ignoring any other ne

[2020-03-19 17:36] piotr-iohk opened #1462 "cardano-node: Cannot send transaction on testnet (cardano-node + cardano-wallet-byron)"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | cardano-wallet: `2020.3.16 (git revision: 15d6b4e4d6a33fab19550581ddc967d2121ae537)`, cardano-node 1.8 |
| Platform     | Linux        |
| Installation | from source           |

# Steps to Reproduce

0. start cardano-node + w

[2020-03-20 08:03] piotr-iohk commented on #1446
Another occurence -> https://buildkite.com/input-output-hk/cardano-wallet/builds/6400#62c6c6c5-a54c-4a09-9e8c-6fddba5966c2

[2020-03-20 10:32] #1442 closed, assigned to KtorZ

[2020-03-20 10:57] piotr-iohk opened #1468 "cardano-node: Restarting cardano-node while the wallet is running breaks cardano-wallet"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | cardano-wallet-byron: `2020.3.16 (git revision: 87580b7feb7ea3506d0342a6bad6f69b6e640d9e)`, cardano-node: `1.8` |
| Platform     | Linux, probably all         |
| Installation | From source          |

# Steps to Reproduce

0.

[2020-03-20 12:57] Anviking opened #1470 "cardano-node-integration: ctrl-c leaving cardano-node running in background"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | e30b2ab7522b393c92ff5fead7757a74d0c1bdc3 |
| Platform     |           |
| Installation |             |

# Steps to Reproduce

1. `stack test cardano-wallet-byron:cardano-node-integration`
2. ctrl-c

## Expected behavior

1. Te

[2020-03-20 13:14] Anviking commented on #1470
Might be false alarm. Will confirm soon.

[2020-03-20 14:55] darko-mijic commented on #1398
Any news?

[2020-03-20 15:10] Anviking commented on #1398
Haven't got cardano-wallet-byron for cardano-node 1.8 working correctly on windows yet :/ As of yesterday we have windows build artefacts in CI, but I ran into (the-problem-debugged-by-)#1461 when trying to restore a wallet.

[2020-03-23 07:21] piotr-iohk commented on #1452
lgtm.

[2020-03-23 07:21] #1452 closed, assigned to KtorZ

[2020-03-23 08:49] Anviking commented on #1398
@darko-mijic @KtorZ  First successful attempt: looks slow. ≈52 min on windows vs ≈13 min on mac.
<img width="803" alt="plot" src="https://user-images.githubusercontent.com/304423/77298391-27db0180-6ceb-11ea-8660-c557db75f7f2.png">

But as Matthias commented: windows still is slower, but definitely not as slow as on the ITN. (Windows is 4x slower than unix on byron, and ~9x slower on ITN)

[2020-03-23 09:00] Anviking commented on #1470
Think this only happened when I was modifying the test node launcher code.

[2020-03-23 09:00] #1470 closed, assigned to nobody

[2020-03-23 18:14] KtorZ opened #1477 "Refactor cardano-cli to re-use commands for both Byron & Shelley endpoints"
# Context

Commands in cardano-cli currently "suffer" from two issues:

a) They require a type-level network discriminant which must be provided **at compile-time**. As a direct consequence, it is not yet possible to provide a single command-line that works with two different network discriminations.

b) They are hard-wired to call the "Shelley" endpoints of the wallet, which in the Byron setup, a

[2020-03-24 11:09] Anviking commented on #1398
@darko-mijic Actually, only 1.6x slower. (12min Mac vs 19min win)
<img width="1010" alt="Skärmavbild 2020-03-23 kl  22 04 34" src="https://user-images.githubusercontent.com/304423/77418755-a1482200-6dc7-11ea-88ae-16f095cfe6ba.png">

The plot in the previous comment used slightly differing versions for the Mac and windows series, and it turned out that the network tracing made things a lot slower.

[2020-03-24 12:26] KtorZ commented on #1398
Conclusion of this story:

**w/ cardano-node**

- We'll disable traces on the Mux and ChainSync tracers (i.e. use `nullTracer`)
- We'll preserve traces at the INFO severity for the Tx submission protocol
- We'll preserve traces at the DEBUG or INFO severity for the handshake protocol

**w/ jörmungandr**

- We'll do nothing about it (ITN will be taken down ~~somewhere around the end of the month /

[2020-03-25 10:55] #1453 closed, assigned to nobody

[2020-03-25 13:49] piotr-iohk commented on #1462
It seems the issue is not fixed entirely. Currently transaction is _accepted_ by the wallet and is hanging as pending. However it doesn't seem to be accepted by the node. In the node.log there is:

[code]
cardano-wallet version -> `2020.3.16 (git revision: acac18457f3bf7ad6dd811670994d00f5969c1cb)`

[2020-03-25 14:00] piotr-iohk commented on #1453
For this one perhaps we could have an integration test... :thinking:

[2020-03-25 14:17] KtorZ commented on #1453
We have one that is pending and that we run manually, which is restarting a worker but it doesn't necessarily control anything about the wallet state if I recall correctly.

[2020-03-25 15:01] piotr-iohk commented on #1453
There is one, but it is for Jormungandr's launch (https://github.com/input-output-hk/cardano-wallet/blob/master/lib/jormungandr/test/integration/Test/Integration/Jormungandr/Scenario/CLI/Launcher.hs#L188). I think we should have one for `serve` too.

[2020-03-25 15:15] piotr-iohk commented on #1468
Currently `2020.3.16 (git revision: acac18457f3bf7ad6dd811670994d00f5969c1cb)` I see the following behaviour:
 - start `cardano-node` and `cardano-wallet`
 - create a wallet and wait for it to sync
 - restart `cardano-node`

As a result a wallet is syncing again from 0%...
(Observed while retesting #1453)

[2020-03-25 15:18] piotr-iohk commented on #1453
I don't see behavior described in the ticket any longer (wallet does not sync from 0% again on restarting cardano-wallet), however I am seeing syncing from 0% in slightly different scenario -> https://github.com/input-output-hk/cardano-wallet/issues/1468#issuecomment-603898720

[2020-03-25 15:28] KtorZ commented on #1453
Yes, but #1468 is a whole different story here. I have something in preparation for this but this is NOT trivial, especially with EBB in Byron :(

[2020-03-25 16:31] paweljakubas opened #1483 "Byron wallet CRUD - update-name, update-spending password"
# Context

Those functionalities are needed for Byron Reboot

# Decision

1. Update-name will be as it was done for Jormungandr
2. get utxo statistics will be as it was done for Jormungandr
3. Update spending password will need to take into consideration below requirements:
(a) no password -> valid password   LEGAL
(b) valid password -> valid password   LEGAL
(c) valid password -> no password  ILL

[2020-03-25 17:06] KtorZ commented on #1293
Plan has changed and there shouldn't be any more release of Daedalus on the ITN. The new launcher will only serve the Haskell cardano-node. So this issue doesn't apply anymore. Closing.

[2020-03-25 17:06] #1293 closed, assigned to nobody

[2020-03-25 17:57] #1292 closed, assigned to jonathanknowles

[2020-03-25 17:57] #1398 closed, assigned to Anviking

[2020-03-26 14:26] #1446 closed, assigned to nobody

[2020-03-26 21:11] Fell-x27 opened #1489 "Can't fetch pools registry"
# Context

At my server I have a weird error. Just can't download pools registry.
I can download it manually by wget. But cardano-wallet gets an error

`[cardano-wallet.api-server:Warning:14393] [2020-03-26 20:47:19.46 UTC] [RequestId 27] 503 Service Unavailable in 5.149634288s
`

But when I test it on my local machine, everything is fine.

It worked on the server previously, but just accidentally

[2020-03-26 22:07] Fell-x27 commented on #1489
It didnt wirk work for a week. It's working now. I don't know how.

[2020-03-26 22:07] #1489 closed, assigned to nobody

[2020-03-27 00:15] KtorZ commented on #1489
see https://github.com/input-output-hk/cardano-wallet/issues/1442

[2020-03-27 11:24] piotr-iohk opened #1492 "Submit transaction on staging_shelley gives 500"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | cardano-wallet: `2020.3.16 (git revision: 73c3290b9a4ab173dd9fba54dea79c8cb55f93c3)`, cardano-node 1.8.0 and 1.9.0 |
| Platform     | Linux       |
| Installation | From source      |

# Steps to Reproduce

1. start shelley_st

[2020-03-27 12:56] piotr-iohk opened #1494 "Possible fee disrepancy on the sending tx via cardano-wallet-byron on testnet"
# Context

Discrepancy observed when running tx on testnet which was unsuccessful. https://github.com/input-output-hk/cardano-wallet/issues/1462#issuecomment-603849720

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      |cardano-wallet `2020.3.16 (git revision: 73c3290b9a4ab173dd9fba54dea7

[2020-03-27 14:24] piotr-iohk commented on #1468
Looks good.

One question @KtorZ. While cardano-node is down, triggering
[code]
takes 30seconds before it returns:

[code]
I suppose there is some sort of timeout? Just wondering if it is needed? (I remember that on Jormungandr it responded immediatelly in such a case)

[2020-03-27 14:42] KtorZ commented on #1468
Indeed, there's a 30s timeout for every message we send to the node; after this. On Jörmungandr, requests were going through HTTP, so in many scenarios, it was easy to know whether we could reach Jörmungandr's server or not. With cardano-node, messages are sent through a local socket, and, we wait for a response...

We do know however if we've lost the connection, but there's no particular logic a

[2020-03-27 15:10] #1468 closed, assigned to KtorZ

[2020-03-27 15:17] piotr-iohk commented on #1436
lgtm, additional test for name update -> https://github.com/input-output-hk/cardano-wallet/pull/1497

Note: Also handy would be a test for updating pass of Xprv restored wallet to add (once pass update is available).

[2020-03-27 15:17] #1436 closed, assigned to paweljakubas

[2020-03-27 19:36] Fell-x27 commented on #1489
Yes, looks pretty similar.

[2020-03-30 09:24] KtorZ opened #1501 "Implement master key generation & public id calculation for Byron random"
# Context

As a Daedalus developer,
I want to be able to associate a mnemonic phrase to its corresponding wallet id,
So that I can implement recurring mnemonic checks to make sure users haven't forgotten their mnemonic sentences.

# Decision

- Wallet id can be derived from a JavaScript library depending on their type (byron, icarus, ledger).

# Acceptance Criteria

- Wallet id can be derived from

[2020-03-30 09:30] KtorZ opened #1502 "Implement master key generation & public id calculation for Icarus sequential"
# Context

As a Daedalus developer,
I want to be able to associate a mnemonic phrase to its corresponding wallet id,
So that I can implement recurring mnemonic checks to make sure users haven't forgotten their mnemonic sentences.

# Decision

- Wallet id can be derived from a JavaScript library depending on their type (byron, icarus, ledger).

# Acceptance Criteria

- Wallet id can be derived from

[2020-03-30 10:26] piotr-iohk commented on #1492
After removing wallet and restoring it again, I didn't observed the same behavior again, however it was the same as in #1462.

As for now, this particular issue occurred only once.

[2020-03-30 10:31] KtorZ opened #1503 "Enable server-side TLS support & command-line options for TLS configuration"
# Context

There's a security concern with the way the communication between Daedalus and cardano-wallet current works on an end-user's machine. Since the connection happens on via TCP on localhost, any other process or application which happens to know the right port (which can be looked up pretty easily) can make arbitrary requests to cardano-wallet. While there's no risk for the user's assets,

[2020-03-30 10:39] piotr-iohk opened #1505 "Cannot force resync wallet and cardano-node crash as a result"
# Context

Observed on testnet and staging-shelley and mainnet...

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | cardano-wallet: `2020.3.16 (git revision: fff00d48db58bc73f3b927955944fbeb0f23d23f)`, cardano-node 1.9.1 |
| Platform     | All        |
| Installation | from source

[2020-03-30 14:13] KtorZ commented on #1505
The ... node crashes?

[2020-03-30 16:32] piotr-iohk commented on #1505
Yes.

[2020-03-31 12:31] mrBliss commented on #1505
Somebody showed a more complete log from 1.9.2 today, which contains:
[code]
So it is running out of file descriptors, which matches what you're seeing in the other trace:
[code]
So there's not much else the node can do and it is thus doing what we expect it to do. Either raise the open file descriptor limit for the node process or limit the number of clients (https://github.com/input-output-hk/ou

[2020-03-31 14:47] piotr-iohk commented on #1501
Perhaps that's nitpicking but there could be some negative tests added. Like:
- using faulty 12-length mnemonics (for Byron) and faulty 15-length (for Icarus)
- using different than 12-length mnemonics (shorter and longer) (i.e. 12 for icarus, 15 for byron)
- using non-English 12-length/15-length mnemonics... (respectively Byron and Icarus)
- etc.

[2020-03-31 14:48] piotr-iohk commented on #1502
Same as here -> https://github.com/input-output-hk/cardano-wallet/issues/1501#issuecomment-606674042

[2020-03-31 14:59] KtorZ commented on #1501
@piotr-iohk for points 1 and 3, I am assuming that the https://github.com/bitcoinjs/bip39 is handling those since this is purely mnemonic manipulation. Although the module API takes a list of string, passing anything in there that isn't a valid bip39 mnemonic will simply blow up or give improper result, but that's basically the caller's fault.

For point 2, there's in practice, nothing preventing

[2020-03-31 15:16] piotr-iohk commented on #1501
Right, so by it's nature a negative test would assure it blows up in expected way. ;)

Perhaps it is not necessary then, although it is always better to be more conservative. Anyway, that's why I was wondering if it is not nitpicking... :man_shrugging:

[2020-03-31 16:12] piotr-iohk commented on #1503
When the server uses TLS, then command line is not available:
[code]

[2020-03-31 16:44] KtorZ commented on #1503
Indeed. That's actually a feature. Otherwise, we would need to provide a --ca-cert and --client-cert and --client-key to every command interacting with the API.

The use case for TLS is really for Daedalus or client applications on a end-user desktop. The command-line is meant for debugging and local use in controlled environments where there's no reason to start the server behind TLS.

[2020-03-31 16:49] KtorZ commented on #1501
:)

[2020-03-31 16:50] KtorZ commented on #1501
If you want to PR this, feel free ^.^ .. I am not sure I'll do anything about it today

[2020-03-31 17:13] piotr-iohk commented on #1503
right, just saying... :) Anyway, LGTM.

[2020-03-31 17:13] #1503 closed, assigned to KtorZ

[2020-04-01 08:42] paweljakubas opened #1527 "Add latency benchmarking for byron (integration-like self-node)"
# Context

We had latency benchmarking for Jormungandr. It would be worth to have the one for Byron

# Decision

Add latency benchmark in `lib/byron/bench`

# Acceptance Criteria

1. We have an interesting situation benchmarking in the context of self-node.
2. The benchmark can be invoked by `stack bench cardano-wallet-byron:latency`
3. The report is well-formatted and easy to read
4. Benchmark is

[2020-04-01 09:28] Fell-x27 commented on #1181
The problem is still there. Looks like it happens after epoch changing.
The error is "I can't list stake pools yet because I need to scan the blockchain blah blah blah"  and percent is static until restart the wallet. Then it starts to grow, but very slow. About 1$ per 2-3 mins.

[2020-04-01 12:26] piotr-iohk commented on #1483
lgtm.

[2020-04-01 12:26] #1483 closed, assigned to paweljakubas

[2020-04-01 16:27] KtorZ commented on #1181
What version, what network please :) ?

[2020-04-02 08:52] piotr-iohk commented on #1505
That won't help, it'll only make node, or wallet crash later.

The issues is when doing force-resync, it does not progress with syncing (infinitelly shows 0% syncing) and eventually either node or wallet crashes, because it reaches max files open.

cc: @KtorZ

[2020-04-02 13:28] KtorZ commented on #1494
The fee calculation on Byron can't be perfect (and isn't) because we can't possibly know the size of change addresses upfront. The calculation is also quite complex due to the variable nature of CBOR encoded data structure (encoding the number "2" takes 1 byte, but encoding "26" takes 2 bytes).

Therefore, one thing we have to make sure is that the wallet will always generate fees that are AT LEAS

[2020-04-02 13:28] #1494 closed, assigned to nobody

[2020-04-02 13:29] KtorZ commented on #1494
(Note, there was however mistakes in our estimator when this issue was reported, which were found by the property test above and fixed)

[2020-04-02 13:34] KtorZ commented on #1505
I have an _idea_ that may help:

Instead of re-creating a _new_ connection every time we try to reconnect we could try to get a connection from a connection pool. There are many existing libraries which will make this quite easy to implement and, by having a limited pool size, we can somewhat limit the number of total connections that get created. As a downside, this would also limit the number of

[2020-04-02 13:37] piotr-iohk opened #1534 "Force resync = Something went wrong on Windows"
# Context

Observed only on Windows on the wallet on top of jormungandr and cardano-node.
Not sure if it somehow relates to #1505 (this one is however seen on all platforms on top of cardano-node)

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | `2020.4.1 (git revision: 72fabed6fdd8e3

[2020-04-02 14:15] piotr-iohk commented on #1462
The issue still occurs on testnet:

`cardano-node 1.9.3`
`2020.4.1 (git revision: df83d3f54b96ebe9f516a7a216c0d1cc9f169aa0)`

Sent tx remains `pending`...

[2020-04-02 15:07] piotr-iohk opened #1535 "Icarus wallets are created with Mainnet addresses even if the server is in 'Testnet' mode"
# Context
... what the heck...

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | `2020.4.1 (git revision: df83d3f54b96ebe9f516a7a216c0d1cc9f169aa0)` cardano-node 1.9.3 |
| Platform     | linux, all?          |
| Installation | from release          |

# Steps to Reproduce

0. start car

[2020-04-06 13:27] KtorZ commented on #1462
It should be fixed on cardano-node 1.9.3, but are we sure that 1.9.3 has been deployed on all relays already ?

[2020-04-07 11:28] nikolaglumac opened #1546 "Unexpected address format generation"
# Context

In the latest version of Daedalus Flight which is using the following `cardano-wallet` revision: `563c28f05c1f38c9741277f480a8983d37b05a68` we see unexpected address format when generating new addresses in "Selfnode" builds:

[code]

Daedalus Selfnode genesis and config files: [selfnode-config-and-genesis-files.zip](https://github.com/input-output-hk/cardano-wallet/files/4443860/selfnod

[2020-04-07 11:59] Anviking opened #1547 "Missing funds / rare alternate wallet tx history"
# Context

On 2018-12-12 I lost 4 ada. I opened my cardano-sl wallet, and I believe generated an address before it was fully synced / on an old version, but I don't remember the details to well. I sent 4 ada to that address. I believe I installed a later Daedalus version, synced fully, but I never saw the 4 ada again.

That was — until 2020-04-01. When restoring my wallet in Daedalus FC1, the 4-ad

[2020-04-07 12:59] Anviking commented on #1547
When manually trying to get the wallet to recognise the address in ghci, I traced the error to https://github.com/input-output-hk/cardano-wallet/blob/95a964bbca2ddffd948515d0cfabc9bfd701b0bd/lib/core/src/Cardano/Byron/Codec/Cbor.hs#L778.

[2020-04-07 13:48] Anviking commented on #1535
@KtorZ should this be moved to QA after your #1540 ?

[2020-04-08 07:44] kderme opened #1551 "On Delete Cascade"
# Context
I recently added `On Delete Cascade` options to persistent quasiquoters https://github.com/yesodweb/persistent/pull/1056. I remember that was an issue when I worked at the wallet, long ago, and I think it may still be of interest.

# Decision

# Acceptance Criteria

---

# Development

# QA

[2020-04-08 07:45] kderme commented on #1551
Related https://github.com/input-output-hk/persistent/commit/79f2ece07eafae005a703c8eda1bd2420b5e07b5

[2020-04-08 07:54] KtorZ commented on #1551
Awe, nice!

[2020-04-08 08:00] KtorZ commented on #1551
@kderme, we ran into a very unfortunate issue with the cascading deletion and the way persistent handles automatic migration though. Are you aware of this:

When new fields in a persistent model are found, persistent will, whenever possible attempts to automatically "migrate" the tables and it does so in basically 4 steps:

1. Create a _backup table of an existing table
2. Remove the original tabl

[2020-04-08 08:02] KtorZ commented on #1551
(see also https://github.com/input-output-hk/cardano-wallet/issues/1279 )

[2020-04-08 10:14] jonathanknowles commented on #1551
@KtorZ wrote:

Just to add some info which might be helpful to some:

In order to work around the issue of automatic migration deleting data from tables with foreign key constraints, we developed a workaround (in `cardano-wallet`) which disables foreign key constraints during automatic database migration: https://github.com/input-output-hk/cardano-wallet/pull/1340

[2020-04-08 11:04] piotr-iohk opened #1552 "Migration issue on Jormungandr (v2020-03-16 => v2020-04-01 | 07)"
# Context

After migration `v2020-03-16` => `v2020-04-01` (or `v2020-04-07`) one cannot send tx from Shelley wallet or migrate Byron wallet...

Note: as a workaround one can remove and restore the wallet again.

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | cardano-wallet  `v2020-03

[2020-04-08 11:23] Anviking commented on #1505
I suspect the open file limit is only an indirect symptom from us crashing and retrying in an infinite loop.

`8f860283-[0.0#0] but the given chain continues starting from: 8f860283-[0.0#0]`

comes from https://github.com/input-output-hk/cardano-wallet/blob/cff0e391985887f60b9076aace207674bef6a2b4/lib/core/src/Cardano/Wallet.hs#L726-L731

Seems alarming to me. The `8f860283-[0.0#0]` (which btw is

[2020-04-08 11:44] Anviking commented on #1505
https://github.com/input-output-hk/cardano-wallet/blob/cff0e391985887f60b9076aace207674bef6a2b4/lib/byron/src/Cardano/Wallet/Byron/Compatibility.hs#L253

So `SlotId 0 0` should not actually be genesis. Might be it.

[2020-04-08 11:46] KtorZ commented on #1283
Still failing on Hydra:

job                                                                          | status
---                                                                          | ----
musl64.benchmarks.cardano-wallet-byron.latency.x86_64-linux                  | :x:
musl64.benchmarks.cardano-wallet-byron.restore.x86_64-linux                  | :x:
musl64.benchmarks.cardano-wallet-core.d

[2020-04-08 11:49] KtorZ commented on #1505
Yes.. I assume that's the EBB following genesis...

[2020-04-08 11:51] KtorZ commented on #1505
We do nothing special with EBB, they are simply overwritten by the next block coming after (since most of our foreign keys in the database uses also the slot id as the reference).

The problem is that for genesis, we now basically have 3 blocks at the same slot... ?

- genesis
- the first EBB
- The first block

[2020-04-08 13:59] piotr-iohk opened #1553 "jormungandr and cardano-node release artifacts are broken for MacOS"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | `2020-04-07` |
| Platform     | MacOS         |
| Installation | release            |

# Steps to Reproduce

"Backend" release artifacts are broken on MacOS

1. Download release artifacts for MacOS
2. Run `jormungandr` or `car

[2020-04-08 14:07] piotr-iohk commented on #1535
LGTM.

[2020-04-08 14:07] #1535 closed, assigned to KtorZ

[2020-04-08 14:40] rvl commented on #1553
The `jormungandr` binary in the macos release tarball is actually a Linux binary. Perhaps it was due to the overlays changes that @disassembler implemented.

That `cardano-node` needs `rewrite-libs` applied to it ⇒ #1554.

[2020-04-08 15:37] KtorZ commented on #1546
So. I just checked and ... both addresses are actually TESTNET addresses. But they have a different magic!

`9XQrTpia...` has `459045235` for magic, which is the magic that is set in the genesis file.

However,

`37btjrVyb...` has `1097911063` for magic, which is "default" testnet magic.

What worries me a lot here is that, I generated the `9XQrTpia...` by hand, and manually specified the magic fr

[2020-04-08 15:41] nikolaglumac commented on #1546
Thanks @KtorZ <3

[2020-04-08 17:49] KtorZ commented on #1546
Sorry. That's my bad... It's actually the opposite of what I just said. The `9XQr` are using the `1097911063` magic :man_facepalming:  ... So, addresses generated are the right ones. But not the one I gave you in the generated genesis file.

[2020-04-08 23:33] Mercurial opened #1556 "Cardano Wallet & Cardano Node Communication"
# Context
I was wondering if there are any plans to make Cardano Wallet and Cardano Node communicate via TCP instead of IPC/Unix Sockets? I think there are good use cases where the node is running remotely and multiple wallets are connecting to the node via TCP from different machines.

Is the decision of running it IPC only because of security concerns?

Thanks!

# Decision

# Acceptance Criteria

[2020-04-09 08:45] KtorZ commented on #1556
Hey @Mercurial, I'll forward your question to the networking team who will be able to provide a better answer than I could on the subject.

[2020-04-09 09:44] dcoutts commented on #1556
Yes it is because of security.

The node does not trust remote peers at all, and that is reflected in the features available in the node-to-node protocol and paranoia about limits, timeouts etc.

But for the node-to-client case it provides a less paranoid protocol that is more convenient to use, doesn't have such defensive timeouts, and provides more functionality. For example the node-to-node pro

[2020-04-09 11:46] piotr-iohk commented on #1527
LGTM!

While looking at this (and all benchmarks) I thought that it would be great to have most of those results (like latency or restore) presented in the form of a graph that would show how they change overtime... currently it is quite difficult to spot whenever there is a potential deterioration or improvement...

[2020-04-09 11:46] #1527 closed, assigned to paweljakubas

[2020-04-09 12:11] Anviking commented on #1552
`cardano-wallet-byron` is not affected?

[2020-04-09 12:35] piotr-iohk commented on #1552
No, there is no `v2020-03-16` for cardano-wallet-byron. Migration `v2020-04-01` => `v2020-04-07` seems to be fine.

[2020-04-09 12:54] piotr-iohk commented on #1553
lgtm!

[2020-04-09 12:54] #1553 closed, assigned to rvl

[2020-04-09 19:37] Mercurial commented on #1556
I really appreciate the response and this makes alot of sense as-well, thank you very much!

I mean hey if dcoutts himself has warned me then I should really think this through haha!

have a good day and keep up the good work guys!

<3 IOHK & Cardano

[2020-04-09 19:38] #1556 closed, assigned to nobody

[2020-04-10 00:43] Mercurial opened #1561 "[BUG] Generated an unbalanced tx! Too much left for fees"
# Context
 Hi Guys, I'm trying to estimate fees for my transaction using the cardano-wallet-byron REST API

But I'm getting this error

[code]

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      |  2020.4.7 (git revision: cff0e391985887f60b9076aace207674bef6a2b4) |
| Platform     | Ubuntu

[2020-04-10 00:50] Mercurial commented on #1561
edit: I think its when I send a very low amount transaction

[2020-04-10 06:33] nikolaglumac commented on #1546
No harm done @KtorZ - please send me the updated genesis file. Closing this issue now...

[2020-04-10 06:33] #1546 closed, assigned to nobody

[2020-04-10 08:09] KtorZ commented on #1561
Awe crap. Yes, this is an important one.

TL; DR; We need to allow _slightly_ unbalanced transaction for `cardano-node`.

A bit of context:

`cardano-wallet` is now integrated with two nodes, the `cardano-node` and `jormungandr`. They can have different behaviors on some validations they do. Jörmungandr is actually more strict with regards to fees and require a transaction to be _exactly balanced_

[2020-04-10 08:15] Mercurial commented on #1561
Awesome, I'm glad to help you guys out!

[2020-04-10 08:44] #1501 closed, assigned to KtorZ

[2020-04-10 08:44] #1502 closed, assigned to KtorZ

[2020-04-10 09:51] piotr-iohk opened #1563 "Depth shouldn't be calculated for pending transaction"
# Context

Currently depth is being calculated even if tx is in the pending state. After tx goes "in_ledger" depth is then counted again from 0.

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | `2020.4.7 (git revision: cff0e391985887f60b9076aace207674bef6a2b4)` cardano-node 1.10 / 1.9

[2020-04-10 09:53] piotr-iohk commented on #1462
Transactions are working fine on testnet now after upgrading relays to 1.9.3 and rebuilding volatile/ledger state on edge nodes.

[2020-04-10 09:53] #1462 closed, assigned to KtorZ

[2020-04-10 10:09] piotr-iohk commented on #1561
Indeed, I can reproduce with 1 ada balance and try estimate payment (or send tx) with 800000 lovelace.

[2020-04-14 05:32] rvl commented on #1283
The Hydra [`required` job](https://hydra.iohk.io/job/Cardano/cardano-wallet/required/latest-finished#tabs-constituents) is passing, and this is what counts for CI status in GitHub and Bors. I put an explanation here:  [Hydra wiki page](https://github.com/input-output-hk/cardano-wallet/wiki/Hydra#required-job).

The `stackShell` attr is not documented where it is defined in [`default.nix`](https://

[2020-04-14 09:39] Anviking opened #1567 "Weird tx history and balance when force-resyncing"
# Context

The force-resync endpoint allows artificially rolling back the wallet to (SlotId 0 0).

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | includes the #1559 fix  |
| Platform     | mac          |
| Installation |  Official FC with cardano-wallet manually replaced  |

# Steps

[2020-04-14 12:16] KtorZ commented on #1567
- **Incoming txs disappear from history. Outgoing txs are turned to pending.**

This is the actual expected behavior. When rolling back, incoming txs are forgotten (and will eventually be re-discovered). On the contrary, outgoing txs may still be in a mempool and be accepted somewhere. Possibly, they'll end up invalid because they reference a no-longer existing UTxO. But it is so far up to users t

[2020-04-14 14:52] Anviking commented on #1567
The funds I see must be the change from the pending transactions (from the future): https://github.com/input-output-hk/cardano-wallet/blob/5333afc469294bfa74e07de3317578545661ea05/lib/core/src/Cardano/Wallet/Primitive/Model.hs#L321

_Wondering_:
Say we rollback a tx1, and spend its inputs on the new fork in tx2. tx1 is now invalid. Will tx1 still be pending, and will its change incorrectly contrib

[2020-04-14 15:49] piotr-iohk commented on #1505
lgtm

[2020-04-14 15:49] #1505 closed, assigned to Anviking

[2020-04-15 05:10] rvl commented on #1551
We shouldn't use the automatic migrations generated by persistent. They aren't for production use.

[2020-04-15 06:59] KtorZ commented on #1567
Yes. Or at least, in Daedalus, because Daedalus shows the `total` balance, not the `available` one :/

[2020-04-15 07:35] piotr-iohk commented on #1534
Observed also in CI for cardano-node now for Windows:
https://github.com/input-output-hk/cardano-wallet/runs/587411800?check_suite_focus=true
[code]

[2020-04-15 08:02] Anviking opened #1570 "Rollback to EBBs likely not handled correctly"
# Context

<img width="1025" alt="Skärmavbild 2020-04-15 kl  10 01 22" src="https://user-images.githubusercontent.com/304423/79313055-122eb580-7f00-11ea-86c4-ba84e3aa37f0.png">

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      |  |
| Platform     |           |
| Installation |

[2020-04-15 08:15] Anviking opened #1571 "Byron `initCursor` does not seem to cause DB to rollback"
# Context

https://github.com/input-output-hk/cardano-wallet/blob/5333afc469294bfa74e07de3317578545661ea05/lib/byron/src/Cardano/Wallet/Byron/Network.hs#L259-L268

`initCursor` will find the intersection between the node and the wallet tip.

If `intersection /= walletTip` the wallet DB needs to rollback. I don't think we do that.

| Information  | -

[2020-04-15 08:22] Anviking opened #1572 "Recovery from chain-following exceptions may cause node to crash"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      |  |
| Platform     |           |
| Installation |             |

The chain following code will recover from errors and retry immediately.

It is not throttled, which might lead to a (fast) infinite loop.

Follow-up to  #1505 wh

[2020-04-15 16:03] Anviking opened #1575 "DB.rollbackTo may cause inconsistencies between checkpoints and other data"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      |  |
| Platform     |           |
| Installation |             |

# Steps to Reproduce

If our DB stores:
[code]
And we rollback to some point p between c1 and cpB.

## Expected behavior

- We rollback to `cpA`, and make sure al

[2020-04-16 08:10] rvl opened #1577 "LocalStateQuery: Use params from chain when building txs"
# Context

Part of [ADP-83](https://jira.iohk.io/projects/ADP/issues/ADP-83).

The wallet server must keep track of certain protocol parameters that may change through soft protocol updates. The current parameters of interest both relate to transaction construction:

 - max tx size
 - fee policy

These two parameters are needed when building a transaction before running the coin selection.

Releva

[2020-04-16 08:33] KtorZ commented on #1551
Indeed, there's even a warning in persistent but it's really subtle.

Looking back on this whole persistent integration, I think we shouldn't use persistent at all in the first place :/ ... The abstraction doesn't buy us much and actually add quite a fair level of complexity compared to plain SQL. Instead of plain SQL we now have a hybrid mix of plain SQL and persistent-specific edge cases. Great

[2020-04-16 08:51] rvl commented on #1551
I agree the persistent query api is pretty hopeless unless you are doing really basic queries.

But persistent does provide us the with row <-> entity mapping functions which are useful, and the DDL isn't completely bad.

[2020-04-16 11:05] KtorZ commented on #1551
Yeah, although the mapping we get is pretty useless because we don't actually use the persistent types in the rest of the codebase, but we have other types. So we still require a manual mapping of our application type to the database types: https://github.com/input-output-hk/cardano-wallet/blob/master/lib/core/src/Cardano/Wallet/DB/Sqlite.hs#L669-L892

All these conversion functions completely def

[2020-04-20 08:44] piotr-iohk commented on #1458
Looks great!

Looking at latest build I have small question on artifact [restore-byron-mainnet.svg](https://s3.amazonaws.com/buildkiteartifacts.com/1cc9c544-57dd-4ded-af40-b4b4a7311556/e052f145-fa2d-4a9d-a06f-ae554226cb53/5c8d281b-f379-4434-98b0-0940619cd6bb/58d4e726-a4c0-4a2b-8e64-89a296a4094d/restore-byron-mainnet.svg?response-content-type=image%2Fsvg%2Bxml&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz

[2020-04-20 09:32] piotr-iohk commented on #1283
LGTM.

[2020-04-20 09:32] #1283 closed, assigned to rvl

[2020-04-20 10:41] piotr-iohk commented on #1561
LGTM.

Verified additionally on testnet for random and sequential (icarus, trezor and ledger) wallets.
In all cases transaction (and fee estimation) is successful with balance = 1 ADA and amount to be sent = 800000 lovelaces.

[2020-04-20 10:41] #1561 closed, assigned to KtorZ

[2020-04-20 11:29] Anviking commented on #1458
Yes.

Good question. Maybe GHC is subtracting the time of the profiling code 🤔

[2020-04-20 11:42] Anviking commented on #1458
_trying without heap profiling_: https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/480#18e3377d-219a-4e0a-a16b-766d31e7e84b

[2020-04-21 10:44] Anviking commented on #1570
A solution that was discussed was to rollback further than required, except for genesis:
- `if genesis then deleteWhere (>= slot) else deleteWhere (> slot)`

I believe make it impossible to switch to rollback to genesis and switch to a new fork right after it.

Pros:
- Simple to implement

Cons:
- Cannot handle rollback to genesis properly (but should never happen?)

An alternative could be to use

[2020-04-21 10:50] KtorZ commented on #1570
We do however already store and have access to the blockheight for both jormungandr and cardano-node, don't we? So option 2 seems by far better / cleaner to me.

Although, I am not sure to the "1) filtering out EBBs". Do EBB also have the same block height as the next block :scream:  ?

[2020-04-21 15:08] Anviking opened #1585 "Next delegation status may not work in epoch 0 of Shelley-only testnet"
# Context

- Wallet displays the current and next delegation status
- At one point there will be a new, fresh Shelley testnet starting from the beginning (no Byron) [[src]](https://input-output-rnd.slack.com/archives/C819S481Y/p1587467659195000?thread_ts=1587467219.194700&cid=C819S481Y)

| Information  | -                                                     |
| ---          | ---

[2020-04-21 15:50] KtorZ commented on #1585
Of course, if the certificate is published at epoch 0, you can't possibly be delegating at epoch 0. The delegation is only effective in the next epoch.

[2020-04-21 15:55] KtorZ commented on #1585
Of course, if the certificate is published at epoch 0, you can't possibly be delegating at epoch 0. The delegation is only effective in the next epoch.

[2020-04-21 15:56] Anviking commented on #1570
Outcome of call:
- Rollback to EBB will never happen
- Let's switch to using `BlockNo` for rollback which gives genesis a unique value of 0

However in the [Pool DB](https://github.com/input-output-hk/cardano-wallet/blob/master/lib/core/src/Cardano/Pool/DB/Sqlite.hs#L219-L221) we probably want to keep using `SlotId`.

So we'd either use `rollbackTo :: BlockHeader -> ...` or some kind of polymorphi

[2020-04-21 16:20] KtorZ commented on #1585
Of course, if the certificate is published at epoch 0, you can't possibly be delegating at epoch 0. The delegation is only effective in the next epoch.

[2020-04-22 07:56] Anviking commented on #1585
Yes, but it seems like the code disregards the possibility of having a "next" delegation status during epoch 0.

[2020-04-22 09:19] Anviking commented on #1570
For wallet delegations we would have had to either
1.  Continue rolling back based on `SlotId`
2. Add an extra `BlockNo` field to the delegation certificate table

In addition to changing types around a bit everywhere.

All for the benefit of handling rollbacks to genesis which, even on a Shelley-only testnet would be… very unlikely?

Closing for now.

[2020-04-22 09:19] #1570 closed, assigned to Anviking

[2020-04-22 10:21] Anviking commented on #1458
From [Duncan](https://input-output-rnd.slack.com/archives/C48HA39RS/p1587550702244800?thread_ts=1587550257.244100&cid=C48HA39RS):

@piotr-iohk

[2020-04-22 11:25] piotr-iohk commented on #1563
Fixed. LGTM.

[2020-04-22 11:25] #1563 closed, assigned to paweljakubas

[2020-04-22 11:42] piotr-iohk commented on #1458
ok then, thanks for clarifying!

[2020-04-22 11:42] #1458 closed, assigned to Anviking

[2020-04-23 10:36] kderme commented on #1551
Tbh I'm not familiar at all with the automatic migration provided by persistent, but I'm usually skeptical about similar stuff. They try to do something pretty complicated and general (over many different backends) and when the edge cases start to not work properly, you wonder the whole purpose of using them in the first place.

[2020-04-24 12:07] Anviking opened #1594 "CLI: Support public key derivation"
# Context

ADP-190

Last time we didn't have time to properly allow the `key` CLI commands deal with public keys.

Partially-relevant diagram I made back then (of derivation in wallet, CLI utilities gives more freedom):

<img width="465" alt="Skärmavbild 2020-04-24 kl  14 01 23" src="https://user-images.githubusercontent.com/304423/80210775-9dacf280-8634-11ea-93c6-00e98fc352cf.png">

# Decision

M

[2020-04-24 13:38] piotr-iohk commented on #1575
lgtm.

[2020-04-24 13:38] #1575 closed, assigned to Anviking

[2020-04-27 08:26] KtorZ commented on #1551
Closing this to clean up a bit the issue backlog. I've created a corresponding item in JIRA to track this.

[2020-04-27 08:26] #1551 closed, assigned to nobody

[2020-04-27 08:32] KtorZ commented on #1547
Without clear reproduction path, it seems quite hard to pursue that one :/ ... Also, since these are quite old addresses it could actually be due to some changes in cardano-sl made a while ago (for example, a change to the nonce used for encrypted the payload); although the fact that this doesn't seem deterministic is pretty disturbing.

It could also be that there's something else you missed and

[2020-04-27 08:34] #1547 closed, assigned to nobody

[2020-04-27 09:09] piotr-iohk commented on #1477
LGTM.

[2020-04-27 09:09] #1477 closed, assigned to KtorZ

[2020-04-27 09:23] KtorZ opened #1595 "Move now jormungandr-specific bits regarding stake pool metadata under 'cardano-wallet-jormungandr'"
# Context

Metadata are implemented in a slightly different way between Jörmungandr and cardano-node. In particular, both relies on an aggregation "server" but with drastically different interfaces.

# Decision

As a starter, we want to move the current bits of implementation under the cardano-wallet-jormungandr package, to make room for the other implementation in cardano-node. We also know that

[2020-04-27 09:52] KtorZ commented on #1457
Nikola confirmed it's a frontend issue. Although, I have opened a JIRA ticket to track the "averaged fee" story. ( https://jira.iohk.io/browse/ADP-283 )

[2020-04-27 09:52] #1457 closed, assigned to nobody

[2020-04-27 09:55] KtorZ opened #1596 "Mock metadata aggregation server"
# Context

The specification for the new metadata aggregation server is captured in the following swagger document:

https://gist.github.com/KtorZ/4ee1bf8136c91f2d4c36ed850023cab6

# Decision

In order to test the aggregation server, we'll need to setup a mock HTTP server that satisfies this specification.

# Acceptance Criteria

---

# Development

- [ ] Create a simple servant application that "

[2020-04-27 09:57] KtorZ opened #1597 "Module for fetching and caching metadata from the aggregation server"
# Context

See:

- https://jira.iohk.io/browse/ADP-258
- #1595
- #1596

# Decision

Write a self-isolated module that can offer a simple interface to fetch and refresh metadata from an aggregation server. We'll likely cache these data in a database or on-disk in a second step.

# Acceptance Criteria

---

# Development

- Cached client fetching data from an aggregation server ==> #1623
- ~~Databas

[2020-04-28 10:54] paweljakubas opened #1601 "Use mnemonics from cardano-addresses"
# Context

Mnemonics functionality was relocated to `cardano-addresses` and we want to use it inside cardano-wallet

# Decision

We use mnemonics module of cardano-addresses inside cardano-wallet

# Acceptance Criteria

1. We do not have separate mnemonic module and test in cardano-wallet but rely on mnemonic module of cardano-addresses
2. All other stuff that use mnemonics is adjusted

---

# Dev

[2020-04-28 13:13] Anviking opened #1603 "CLI: Support bech32 encoding"
## Context

ADP-195

## Decision

Add support for bech32 key encoding.

## Acceptance criterea

- `key inspect`, `key child` and `key public` must accept both bech32- and hex-encoded keys.
- `key root` should still default to outputting a hex-encoded key
- `key root` should output bech32 when given `--encoding bech32`
- Chaining commands with pipes (`|`) should be possible.

## Development

- [x]

[2020-04-28 15:43] KtorZ commented on #1324
Now tracked in JIRA as part of the backlog :+1: , closing that one.

[2020-04-28 15:43] #1324 closed, assigned to nobody

[2020-04-29 14:01] piotr-iohk commented on #1492
Closing. It is no longer observed on `cardano-wallet v2020-04-28` and `cardano-node 1.11`.

[2020-04-29 14:01] #1492 closed, assigned to nobody

[2020-04-29 14:06] piotr-iohk opened #1608 "Database migration script is failing on nightly"
# Context

https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/497#98a17e05-2390-4a6f-b0ed-5a42f6ea0887

# Test Case

Database migration is failing on nightly...

# Failure / Counter-example

https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/497#98a17e05-2390-4a6f-b0ed-5a42f6ea0887

---

# Resolution

---

# QA

[2020-04-29 16:03] KtorZ opened #1609 "Broken API doc link for `listByronAddresses`"
# Context

https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/listByronAddresses

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      |  |
| Platform     |           |
| Installation |             |

# Steps to Reproduce

1. Both operations are named the same in the swagge

[2020-04-29 21:55] rvl commented on #1608
This should be fixed by #1604.

[2020-04-30 05:22] #1608 closed, assigned to rvl

[2020-04-30 11:32] piotr-iohk commented on #1609
_Fixed._

[2020-04-30 11:32] #1609 closed, assigned to nobody

[2020-04-30 14:28] piotr-iohk commented on #1595
lgtm.

[2020-04-30 14:28] #1595 closed, assigned to KtorZ

[2020-04-30 15:02] piotr-iohk commented on #1594
lgtm

[2020-04-30 15:02] #1594 closed, assigned to Anviking

[2020-05-04 09:43] Anviking commented on #1597
Btw, did you know about [`managerRetryableException`](https://hackage.haskell.org/package/http-client-0.6.1/docs/src/Network.HTTP.Client.Types.html#managerRetryableException)? Maybe it could have been used for cardano-wallet-jormungandr, or can be used here, if we want retrying.

[2020-05-04 11:43] piotr-iohk commented on #1601
OK. Since `cardano-addresses` is now one of the `cardano-wallet` dependencies I have added this extra step in [release checklist](https://github.com/input-output-hk/cardano-wallet/wiki/Release-Checklist):

cc: @KtorZ

[2020-05-04 11:43] #1601 closed, assigned to paweljakubas

[2020-05-04 12:12] KtorZ commented on #1597
Nope I didn't! Sounds like indeed something that is pretty handy. I've seen the servant client automatically retry on 500 errors. I wonder if it's manual or using this setting from the manager.

[2020-05-04 13:17] piotr-iohk opened #1621 "Database migration tests is failing"
# Context

Seems to be failing:

[code]

# Test Case

https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/502#3cee1ff2-e03a-4e1c-abca-3fac2ff3b1d6

# Failure / Counter-example

https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/502#3cee1ff2-e03a-4e1c-abca-3fac2ff3b1d6

---

# Resolution

---

# QA

[2020-05-04 13:28] piotr-iohk commented on #1621
BTW -> https://github.com/input-output-hk/cardano-wallet/blob/master/nix/migration-tests.nix#L44-L61

It seems that we are testing against fixed versions, which are quite old now. Not sure what would make sense to support in migration, 3 versions back, 5 versions back? Or maybe we need to support migration from any version that was released?

[2020-05-05 05:02] rvl commented on #1621
Oh I see. It wants to drop and recreate the checkpoint table when non-nullable columns are removed. That will be an issue for upgrading Daedalus.

Definitely, we should only test migrating from the versions that we care about. And we should be testing cardano-wallet-byron.

[2020-05-06 06:28] KtorZ commented on #1621
Seems like there's still an issue in the migration tests: https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/505

Unless this nightly was triggered before #1624 was merged somehow.

[2020-05-06 08:05] rvl commented on #1621
Yes that build was triggered before #1624 got merged.
I kicked off another test where it has passed:
https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/506

[2020-05-06 11:45] piotr-iohk commented on #1534
Force resync has been removed.

[2020-05-06 11:45] #1534 closed, assigned to nobody

[2020-05-06 12:11] piotr-iohk commented on #1621
Migration tests passed in https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/506

[2020-05-06 12:11] #1621 closed, assigned to rvl

[2020-05-06 12:57] piotr-iohk commented on #1596
LGTM.

[2020-05-06 12:57] #1596 closed, assigned to KtorZ

[2020-05-07 10:18] paweljakubas opened #1637 "Use address derivation from cardano-addresses"
# Context

We have separate cardano-addresses repo that contains implementation of mnemonics and address derivation interface along with byron, icarus, jomrungandr and shelley implementations

# Decision

We want to use address-derivation's interfaces and impl inside cardano-wallet, and replace it with current ones

# Acceptance Criteria

1. `HardDerivation`, `SoftDerivation`, `StakingDerivation`,

[2020-05-07 16:14] fonov opened #1641 "Does it possible request transaction by id?"
find only method for receive list of transaction

https://github.com/input-output-hk/cardano-wallet/wiki/Wallet-Command-Line-Interface-(cardano-wallet-byron)/fc82be65a7bbd0b24f2d0663c12079d2157a7980#transaction-list

older api (v1) have a filter options for get transaction by id

https://docs.cardano.org/technical/wallet/api/v1/?v=1.3.0#tag/Transactions

[2020-05-07 16:20] KtorZ commented on #1641
This is indeed **not** currently supported by the API.

[2020-05-07 16:22] fonov commented on #1641
May you suggest any workaround for it?

Thursday, 7 May 2020, 19:21 +0300 from notifications@github.com  <notifications@github.com>:

[2020-05-07 16:24] KtorZ commented on #1641
A work around would be to filter the list of results you get from https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/listByronTransactions or https://github.com/input-output-hk/cardano-wallet/wiki/Wallet-Command-Line-Interface-(cardano-wallet-byron)/fc82be65a7bbd0b24f2d0663c12079d2157a7980#transaction-list.

Every resource has an "id" field to filter upon.

[2020-05-07 16:34] fonov commented on #1641
**Ok, thanks for quick answer**. I also will use `start` query with value (pending_since.time) from create transaction output for reduce transaction list

[2020-05-08 09:08] piotr-iohk opened #1644 "Integration BYRON_ADDRESS tests fail intermittently"
# Context

https://buildkite.com/input-output-hk/cardano-wallet/builds/7409#d6d784e5-27e0-47ab-98ee-196d96c12868/6-7586

# Test Case

Those seems to be failing randomly:
 - ADDRESS_CREATE_04, ADDRESS_CREATE_06
 - CLI_ADDRESS_CREATE_04, CLI_ADDRESS_CREATE_06

**On [buildkite](https://buildkite.com/input-output-hk/cardano-wallet/builds/7409#d6d784e5-27e0-47ab-98ee-196d96c12868/6-7586):**
[code]

**L

[2020-05-08 23:18] thevictor13 opened #1646 "Byron wallet restoration not possible on latest versions"
# Context

Back in december I have restored two Byron wallets successfuly, then I migrated one of them. Last month (and today) I tried migrating the other one, unsuccessfully. I run into the same issue as described here: #1552. On that issue there is a workaround mentioned. One needs to delete and restore the Byron wallet. However restoration of said wallet also fails.

| Information  | -

[2020-05-08 23:19] thevictor13 opened #1647 "Blockchain tip not set in REST context"
# Context

Unless I'm missing some configuration changes, it appears that the latest two cardano-wallet versions don't work paired with jormungandr. Either with existing or wiped database (chain folder).

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | v2020.5.6 (git revision: cf3d9c9

[2020-05-09 14:29] KtorZ commented on #1646
Hi Viktor. There has been a breaking change in the API. The style of wallet has moved from path parameters to body parameters. So instead of `http://localhost:8090/v2/byron-wallets/random` you should hit `http://localhost:8090/v2/byron-wallets/` and, the body should now contain a `style` field set to `random`.

See also: https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/postByro

[2020-05-09 14:29] #1646 closed, assigned to nobody

[2020-05-11 02:20] rvl commented on #1647
Thanks for the report.

I can reproduce this error locally with the `itn_rewards_v1` testnet but not the jormungandr self node. So that would explain why the jormungandr integration tests are still passing.

[2020-05-11 05:23] rvl opened #1648 "Add statistics to fee estimation API endpoint"
# Context

Jira user story is ADP-283 Reduce variability in fee estimation

Fee estimation in its current form can be a little confusing. Because the underlying coin selection is a (non-seeded) random algorithm, it is hard to know which coins will be picked for payment in advance.

The current fee estimation in cardano-wallet is quite naive: it applies the normal coin selection process, balance th

[2020-05-11 10:01] piotr-iohk commented on #1597
LGTM.

[2020-05-11 10:01] #1597 closed, assigned to KtorZ

[2020-05-11 11:00] piotr-iohk opened #1649 "DB migration tests failing intermittently"
# Context

DB migration test seem to be failing intermittently. In last 3 nightly builds (all of them being run on the same revision https://github.com/input-output-hk/cardano-wallet/commit/655a45952f3bbfa862140d12843e6d87a3577a6e) they failed twice, i.e.:

[NB 509](https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/509) - passed (:heavy_check_mark:)
[NB 510](https://buildkite.com

[2020-05-11 11:20] rvl commented on #1649
It's due to port 8090 being in use by another running build I think. The migration test should pick a free port to use rather than 8090.

[2020-05-11 11:31] piotr-iohk commented on #1577
@rvl looks good, I just have few questions:

1.

Not sure if it is possibly related but I raised DB migration issue -> #1649

2.

Does that mean we could/should update existing integration tests for transactions to verify this (or add some new integration test checking this)

3. Should it affect maybe `GET /network/parameters` (in terms of returned data perhaps?)

[2020-05-11 12:11] piotr-iohk opened #1650 "Restoration benchmark on mainnet for 1% and 2% ownership unexpectedly slow"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | `2020.5.6 (git revision: 655a45952f3bbfa862140d12843e6d87a3577a6e)` |
| Platform     | All?          |
| Installation | From source          |

Looking at recent restoration benchmark results after introducing pipelining (http

[2020-05-11 12:35] KtorZ commented on #1650
So I thought about this and have an explanation. The new pipelining approach is actually "not particularly optimized" near the tip of the chain, in the sense that it's making checkpoint for the k last slots, whereas before, it was making only 12 checkpoints (one every 1000 blocks, and the 10 last checkpoints). For the 1% benchmark, we can see that it takes:

- 3255 seconds to go from 0% to 99.94%

[2020-05-11 12:38] KtorZ commented on #1647
I recall a configuration change in Jörmungandr  regarding the API prefix. It used to be included in the configuration but was later removed and assumed to always be "/api" and implicitly required. Could it be linked?

[2020-05-11 13:14] piotr-iohk commented on #1650
I suppose this is in line with the pattern from the block height / time plot:

![Screenshot from 2020-05-11 15-08-46](https://user-images.githubusercontent.com/42900201/81565251-55faca80-9399-11ea-8fa9-55df2a2818a9.png)

(http://cardano-wallet-benchmarks.herokuapp.com/nightbuilds/511)