[2020-08-26 05:26] rvl opened #2072 "Tx metadata stored in sqlite database"
# Context

Part of ADP-307

# Decision

Transaction metadata is stored in the SQLite database indexed by TxId.

The metadata is converted to JSON and encoded, and stored in a STRING column.

Schema:
[code]

Pending transactions' metadata are stored in the same manner as confirmed transactions.

Absence of metadata in a transaction corresponds to absence of a `tx_metadata` table row.

I was conside

[2020-08-26 05:27] rvl opened #2073 "Tx metadata accepted in API for creating a transaction"
# Context

ADP-307

When creating a transaction, users should be able to attach their metadata in JSON format.

# Decision

1. Use json conversion functions from `Cardano.Api.MetaData`.

# Acceptance Criteria

1. The API must accept metadata when posting to the shelley create transaction endpoint.
2. The API must accept metadata for the shelley transaction fee estimation endpoint.
3. The metadata

[2020-08-26 05:28] rvl opened #2074 "Tx metadata JSON in API transaction list"
# Context

ADP-307

When listing transactions in the API, the user should see metadata attached to transactions - if it exists.

# Decision

1. Include metadata in `ApiTxMetadata` response.
2. JSON `null` denotes missing metadata (our generic defaults for aeson are to omit `Nothing` fields).

# Acceptance Criteria

1. Transaction list must show metadata in JSON format, if it exists.
2. Missing met

[2020-08-26 05:29] rvl opened #2075 "Tx metadata included in fee calculations"
# Context

ADP-307

Adding metadata to transactions increases their size on chain. Therefore metadata incurs fees.

# Decision

1. Include metadata in any call to `computeTxSize`.

# Acceptance Criteria

1. Adding metadata to a transaction must increase its size, and therefore its fee.

---

# Development

As above.

# QA

1. Added unit test "metadata incurs fees" to `lib/shelley/test/unit/Cardano

[2020-08-26 05:29] rvl opened #2076 "Tx metadata support in CLI for creating transactions"
# Context

ADP-307

For completeness, the CLI should support metadata when creating transactions.

# Decision

Add a `--metadata` option to the CLI:

[code]

I considered supporting loading a JSON file, either a `--metadata-file` option, or through `@` notation ala `curl --data-raw`. But it should be ok in all cases to simply put the entire JSON data as a command-line argument.

# Acceptance Crite

[2020-08-26 05:33] rvl opened #2077 "Tx metadata extracted from binary blocks"
# Context

Metadata must be serialized as CBOR in transactions. However, we should input and output JSON at the system boundary, and convert between JSON/CBOR internally.

### User story ADP-307

### References

See Appendix E of [Delegation Design Spec](https://hydra.iohk.io/job/Cardano/cardano-ledger-specs/delegationDesignSpec/latest/download-by-type/doc-pdf/delegation_design_spec)

# Decision

[2020-08-26 06:51] KtorZ commented on #2076
To be tackle at the very end I think or could even be moved in another story.

[2020-08-26 06:54] KtorZ commented on #2077
@rvl from quickly looking at `cardano-api`, it seems that they provide a `Metadatum` data-type as an intermediate Haskell representation and that transformation are done from this Metadatum type (for JSON & CBOR). Perhaps re-using this data-type is preferable over an opaque aeson Value ? Thoughts?

[2020-08-26 06:59] KtorZ commented on #2005
Perhaps some helpful remark: I've noticed that fetching pools and metadata does have a noticeable impact on the overall server's performance. So perhaps your wallet is still fetching a lot of metadata in background still @piotr-iohk  ?

[2020-08-26 07:49] rvl commented on #2077
Yes it could be better actually because it helps with validating new transactions.

Also I am thinking it's better to have TxMetadata inside the Tx type rather than TxMeta.

[2020-08-26 09:31] piotr-iohk commented on #1919
lgtm

[2020-08-26 09:31] #1919 closed, assigned to Anviking, rvl

[2020-08-26 09:36] piotr-iohk commented on #2005
I don't think so... I waited until all metadata is fetched (at least from looking at the logs) before creating wallets.

I've had repeatable results no matter if wallets were syncing 10% or 50%... by 50% wallets synced I suppose all metadata would be fetched anyway.

[2020-08-26 10:52] piotr-iohk commented on #2005
Ok, I can see difference in case of node 1.18.0. With the very same test condidions (mainnet, 10 wallets syncing):

**cardano-node 1.18.0**

 - with 2020.8.3 (git revision: 40a8b5daa1da77480e4b818c49f2a4977aed4a71) I got:
4:10m
4:30m
3:40m

- with current master -  2020.8.3 (git revision: 9f93d0a98be7c19035dd603149ebf06ac38d7f2f)
47s
50s
51s

**cardano-node 1.19.0** (well, slight difference after

[2020-08-26 11:20] Anviking commented on #2005
maybe not in vain in that case 😌

But 50s still sounds very slow to me 🤔

Worth a new ticket?

@piotr-iohk if you search for `Query` in the logs do you see any slow queries that explain the 50s time?

E.g.:

[code]

I added more traces for the stake distribution itself in #2080

(personally I think I need to reset my DB after testing other code, will try to get back with a more accurate view of wh

[2020-08-26 11:49] #2005 closed, assigned to Anviking

[2020-08-26 14:07] piotr-iohk commented on #2005
Not sure how is the relation but the time of listing pools seems to grow when there are more wallets being synced.
I don't see any obvious outstanding query time that would explain 50s... the longest query is `GetNonMyopicMemberRewards` which is a bit longer the more wallets are syncing. (Which applies to other querries too actually).

**0 Wallets syncing:**
List sp = 3s
Query GetNonMyopicMemberRe

[2020-08-26 14:33] piotr-iohk commented on #2018
lgtm

[2020-08-26 14:33] #2018 closed, assigned to jonathanknowles

[2020-08-27 07:32] piotr-iohk opened #2082 "Listing stake pools time grows when there are wallets syncing in background"
# Context

Not sure how is the relation but the time of listing pools seems to grow when there are more wallets being synced.
I don't see any obvious outstanding query time that would explain 50s... the longest query is `GetNonMyopicMemberRewards` which is a bit longer the more wallets are syncing. (Which applies to other querries too actually).

**0 Wallets syncing:**
List sp = 3s
Query GetNonMyo

[2020-08-27 08:03] Anviking opened #2083 "Windows integration tests fail with "The action has timed out" / node dies"
# Context

https://github.com/input-output-hk/cardano-wallet/actions/runs/203259879
https://github.com/input-output-hk/cardano-wallet/actions/runs/201779298
https://github.com/input-output-hk/cardano-wallet/actions/runs/198447606
https://github.com/input-output-hk/cardano-wallet/actions/runs/209284173
https://github.com/input-output-hk/cardano-wallet/actions/runs/195488381
https://github.com/input

[2020-08-27 08:52] Anviking commented on #2064
I saw it get stuck on "Sqlite State machine tests"
- 1 time in the 29 recent windows CI runs https://github.com/input-output-hk/cardano-wallet/actions/runs/220183084
- When I ran the unit tests manually on windows, at least 3 times, seemed pretty often

[2020-08-27 08:57] Anviking commented on #2067
This seems to make out
14 failures out of the 29 most recent CI runs

https://github.com/input-output-hk/cardano-wallet/actions/runs/212819125
https://github.com/input-output-hk/cardano-wallet/actions/runs/204779287
https://github.com/input-output-hk/cardano-wallet/actions/runs/211288216
https://github.com/input-output-hk/cardano-wallet/actions/runs/200823648
https://github.com/input-output-hk/car

[2020-08-27 10:09] piotr-iohk commented on #2006
lgtm.

Fee estimation with `self` and 19 wallets fully synced + 10 wallets syncing concurrently takes ~3s.

Tested on `testnet` and `mc4`.

[2020-08-27 10:09] #2006 closed, assigned to Anviking

[2020-08-27 11:06] Fell-x27 commented on #2006
@piotr-iohk , yep, because it was solved with #2039 branch that is already merged into master.

[2020-08-27 12:38] hasufell commented on #2040
What's the exact request you send? I get 400 most of the time.

[2020-08-27 12:47] KtorZ commented on #2040
@hasufell I think this may occur when Servant is picking up errors instead of our application layer. Under normal circumstances, Servant would just return a raw error with just text as body but we have a wai-middleware catching these and re-wrapping them into JSON to be consistent with other application errors, yet, the middleware does not change the content type of the response which may still be

[2020-08-27 12:58] hasufell commented on #2040
Without a content type header this results in 415. With a content type header, but non-json input, it results in 400:

[code]

(all of these return `Content-Type: application/json;charset=utf-8`)

[2020-08-27 13:02] KtorZ commented on #2040
Then I am clueless :man_shrugging: . @mcsherrylabs may we have maybe a bit more context?

[2020-08-27 15:30] mcsherrylabs commented on #2040
While developing against the API I had some failures which I fixed by adding the second case for Binary. Some error results were returning response with that type. Unfortunately I can't reproduce this now. I feel it was in the area of recreating wallets.
[code]
So I'm already dealing with it on my side.

[2020-08-27 15:58] KtorZ commented on #2051
On different runs, it seems like the behaviour is not entirely consistent. Somehow, the stake pool restoration worker also seem to have an impact when creating addresses. Once the wallet is fully synced and done fetching metadata, it seems like creating new addresses is done in a decent amount of time. I have however been very inconsistent in my testing here so I am planning to extend the nightly

[2020-08-27 17:16] KtorZ commented on #2062
I've been able to reproduce with an integration test scenario by trying to estimate fee for a wallet using the total balance (available UTxO + rewards). This indeed reaches an edge case of the fee estimation where fees are too big and some extra computation is done to calculate the estimated amount.

[2020-08-28 13:05] mcsherrylabs commented on #2040
Barring any objections, closing with 'Could not reproduce'

[2020-08-28 13:05] #2040 closed, assigned to nobody

[2020-08-29 04:19] Crypto2099 commented on #1980
When historical data? There's no way to spin this as "correct" behavior at this point.

![image](https://user-images.githubusercontent.com/63186174/91628380-166de380-e974-11ea-8b59-ee35dd0c3958.png)

[2020-08-29 07:13] KtorZ commented on #1980
@Crypto2099 what is your point / question exactly?

[2020-08-29 07:39] Crypto2099 commented on #1980
At which point is Daedalus actually going to start ranking pools appropriately? This ticket has had no activity in nearly 3 weeks and an over-saturated IOG pool is currently sitting in the number 1 position. We've been constantly hearing the party line that "We don't have historical data yet in order to properly implement the ranking algorithm". Thus, I feel my question was pretty straightforward

[2020-08-31 08:08] KtorZ commented on #1980
Daedalus does rank pools appropriately, according to the ranking formula defined in [section 5.6 of the Design Specification for Delegation and Incentives in Cardano](https://hydra.iohk.io/build/3744897/download/1/delegation_design_spec.pdf).

The ranking formula requires to be able to evaluate pools' performances in order to rank them, which seemingly require pools to have started producing block

[2020-08-31 08:11] KtorZ commented on #1980
Also, you may disagree with the ranking or, have specific questions about why this or that pool are ranked the way they are. In which case I'll redirect you to cardano-ledger-specs and suggest to open a ticket / start a discussions there about ranking.

We've already identified a few things we are quite sceptical about and working with the ledger team to improve some parts of the ranking formula (

[2020-08-31 09:04] piotr-iohk commented on #1971
LGTM.

[code]

@hasufell @KtorZ I don't suppose we can have automated test for this? (current integration set-up wouldn't allow for such a test or would be flaky I guess as we're testing past hard-fork). Is there perhaps a way to have a test "lower" in the code? If not then maybe I'll create a manual scenario...

[2020-08-31 09:15] KtorZ commented on #1971
@piotr-iohk it is indeed a bit tricky to run an integration on this; we do have a callback triggered when the cluster is up and in the byron era, before triggering the hardfork, but the wallet server isn't started yet at this stage. We could, start it and run a subset of the specs, and then proceed as normal.

That's a bit of busywork for just testing an error message though, yet; that is an error

[2020-08-31 10:00] piotr-iohk commented on #1971
I see now that there is a similar situation like in the original bug also with listing pools.
So, while node is syncing through Byron era and we try to list stake-pools we get:
[code]

In the log there is:
[code]

@hasufell shall I create a separate bug or perhaps it is easy enough to address under this issue?

[2020-08-31 10:38] hasufell commented on #1971
@piotr-iohk let me check

[2020-08-31 11:42] hasufell commented on #1971
So the issue is in:

https://github.com/input-output-hk/cardano-wallet/blob/ba4295974c34ec2f0991d3cfccc7035bc79705b2/lib/shelley/src/Cardano/Wallet/Shelley/Network.hs#L478-L488

This API is hard to change, but it'll likely leak IO Exceptions in other places too.

[2020-08-31 11:53] piotr-iohk commented on #2023
lgtm.

I have adjusted swagger to show that pool id can be hex or bech32 in https://github.com/input-output-hk/cardano-wallet/pull/2093 which should also address #2025.

[2020-08-31 17:42] #2064 closed, assigned to rvl

[2020-08-31 17:51] Proxiweb commented on #1980
Saturated pool with 7% fee ranked No 1 in desirability.... There is something wrong obviously.

[2020-09-01 07:26] jonathanknowles commented on #2082
I wonder if this is simply due to the fact that wallet syncing occupies CPU and disk resources, and having several wallets syncing in parallel might cause so much resource contention that querying the pool database slows down?

One possible factor is that we currently perform at least **(<span>2</span>_n_ + 1)** database queries to construct the list of pools, where **_n_** is the set of known poo

[2020-09-01 12:05] KtorZ commented on #1980
Saturation and ranking are two different things. Pools are ranked based on how much rewards they would provide to a user considering the case where the pool is just saturated. It is a non-myopic (= not short sighted) metric unlike looking at an immediate return on investment.

If we consider a long term view of the system and if everyone was delegating to the top k pools of the system without satu

[2020-09-01 12:13] Fell-x27 opened #2097 "Password encryption specs"
Hi! are these methods covered by some abstract specs?

https://github.com/input-output-hk/cardano-wallet/blob/5af6e35a4f70ca8e1cebe413b19a99439e04addb/lib/core/src/Cardano/Wallet/Primitive/AddressDerivation/Icarus.hs#L421

https://github.com/input-output-hk/cardano-wallet/blob/5af6e35a4f70ca8e1cebe413b19a99439e04addb/lib/core/src/Cardano/Wallet/Primitive/AddressDerivation/Shelley.hs#L370

https://

[2020-09-01 12:17] Anviking commented on #2035
I was about to in #1872, but had migration problems.

The security parameter k should be very static across all eras though...?

[2020-09-01 12:19] KtorZ commented on #2035
@Anviking yes indeed.

[2020-09-01 12:23] Anviking commented on #1980
My take on IOG1:
- IOG1 _does_ have a lot of pledge
- IOG1 so far only seems _slightly*_ over-saturated (and would only be _slightly_ punished).
    - *) I guess the non-myopic-member rewards calculation is using the saturation wrt. the active stake. I guess using the live one would make it more responsive to over-saturation.

Although, seems a bit odd why pools like P2P and BCSH2 also with high p

[2020-09-01 12:32] hodlonaut commented on #1980
You can see rough performance metrics here - e.g. https://adapools.org/pool/00beef284975ef87856c1343f6bf50172253177fdebc756524d43fc1

My understanding is that cardano-wallet is displaying data that's not based on live state of the ledger but is snapshot based, so its severely out of touch with reality (e.g. some pools have had 50+ millions delegated to them since start of the epoch).

If someone c

[2020-09-01 12:51] hodlonaut commented on #1980
To your 'just a little bit saturated' comment @Anviking - I tried invoking the stake pool API with stake parameter value of 250 million ADA ( curl http://localhost:8090/v2/stake-pools?stake=250000000000000) and IOG1 still got returned first in the results, does that sound like a desirable outcome for a whale delegator looking to stake their unearthly wealth?

{
    "metrics": {
      "saturation":

[2020-09-01 12:56] KtorZ commented on #1980
That is correct.

Yes. That is most likely the "less worse" choice one could make under the assumption than one is willing to delegate ALL of these 250M Ada to a single pool. In practice, one would rather split this over multiple pools.

[2020-09-01 12:58] Anviking commented on #1980
I suspect the stake used for the ranking being delayed (i.e. active stake) is true, but that happens in the ledger and not in the wallet. (To me, sounds like a valid suggestion to them to make it less delayed though)

The `saturation` value the wallet returns is currently nonsensical, hence this ticket. **But**, this does **not** affect the ranking.

We cannot fix it without https://github.com/inp

[2020-09-01 13:06] hodlonaut commented on #1980
"Less worse"? It's arguably the worst decision you can make under the circumstances - if you ignore all pools that are yet to mint a block (so you don't know if they are even up and running yet), just about any other pool will give you better annual ROS/ROI if you delegate 250m to them, no? :)

[2020-09-01 13:10] hodlonaut commented on #1980
Thank you for another reference to the open ticket on node side, I completely missed it while scrolling through the thread so far. But I am not completely clear exactly what data that node is returning to cardano-wallet currently is causing this saturation 2.6545 for IOG1 - can you clarify please? (Let's hope there is some progress on it - i.e. providing access to live data - the near future from

[2020-09-01 13:36] KtorZ commented on #2097
Hi @Fell-x27 , they aren't. That format is an implementation detail of cardano-wallet and cardano-crypto.
In brief:

Public keys are stored in the database simply as hex-encoded bytes. Public keys (abbrev. pub) are 32 bytes and stored alongside a chain code (abbrev. cc) of also 32 bytes that is used in key derivation. So, in db you have something that is roughly `hex(pub|cc)`.

Privates keys (abbr

[2020-09-01 14:09] Anviking commented on #1980
https://github.com/input-output-hk/cardano-wallet/blob/406c35fdcbb53195517279cbcae3eb1c21aa2609/lib/shelley/src/Cardano/Wallet/Shelley/Pools.hs#L370

The relative stake the wallet can access, is relative to the active stake, which makes this calculation nonsensical. (Should have worked if it was relative wrt. the total stake)  (NOTE: "But, this does **not** affect the ranking." still applies)

To

[2020-09-01 14:29] Fell-x27 commented on #2097
Hi @KtorZ ! Thanks!

Just exported 2 encrypted private keys with the same mnemonic but different password from the wallet's db. Shelley.
256 symbols of hex. The first 128 symbols are the different, but the last 128 are **the same**. But your "rough" description says that last parts should be different. So can you describe more accurate encryption scheme for every case linked above?

Let me explain

[2020-09-01 14:31] piotr-iohk commented on #2025
Fixed in #2093.

[2020-09-01 14:31] #2025 closed, assigned to piotr-iohk

[2020-09-01 14:33] KtorZ commented on #2097
Sorry, the information above comes from the top of my head. The passphrase is most likely stored before the encrypted key. So the first 128 characters are actually the passphrase hashes which would be different even if the passphrase were the same because of the random salt.

[2020-09-01 14:46] Fell-x27 commented on #2097
What do we use as a key and nonce for chacha? I guess the key is passwd, or another hash of password(not the stored one), but what about nonce? I've found a string, 'serokellfore' (dark legacy?) that is acting like nonce for an old byron scheme probably, but what about Icarus and Shelley?

[2020-09-01 14:51] KtorZ commented on #2097
https://github.com/input-output-hk/cardano-crypto/blob/master/cbits/encrypted_sign.c#L53-L71

[2020-09-01 14:54] Fell-x27 commented on #2097
Please, tell me that this c-code works the same way as cardano-wallet's implementation.

[2020-09-01 14:58] KtorZ commented on #2097
This C code is exactly the cardano-wallet's implementation.

[2020-09-01 15:56] KtorZ opened #2098 "Ajust jsonToMetadata and jsonFromMetadata from cardano-api"
# Context

These functions are making several implicit conversion when dealing with JSON data which make them very unpractical to use.

# Decision

a. Encode JSON as CBOR considering only the following "optimizations"
b. Hexadecimal sequences starting with 0x are encoded as CBOR bytestring.
c. JSON keys that are numbers are encoded as CBOR numbers.
d. CBOR is shown as JSON when possible, or as a s

[2020-09-01 17:01] Anviking commented on #2083
My current hypothesis is that

`postTransactionViaCLI` called with 5 or more coin outputs causes it to block indefinitely.

[code]

@rvl do you have any ideas?

Edit: it seems specifically stuck on `c <- waitForProcess h`

I guess the 5+ outputs might trigger some special behavior because of the length.

[2020-09-01 19:38] cybershaman73 commented on #1980
I see it now, Section 5.6.1 of the Delegation Design Spec: "To determine a pool’s rank, we order pools by decreasing desirability. The most desirable pool gets rank 1, the second most desirable pool gets rank 2 and so on. We predict that pools with rank ≤ k will eventually be saturated, whereas pools with rank > k will lose all members and only consist of the owner(s)"

The design spec is predicti

[2020-09-02 11:01] hasufell commented on #2011
What are the exact steps to reproduce this? I don't even see this endpoint anymore, only for byron wallets.

[2020-09-02 11:10] KtorZ commented on #2011
My mistake, this endpoints only exists for byron wallets indeed.

[2020-09-02 11:20] hasufell commented on #2011
I get:

[code]

[2020-09-02 11:35] rvl commented on #2098
I have a slight preference for a JSON representation which can perfectly map one-to-one with the on-chain metadata.

It's not much more burden on API users. There are already several limitations on what metadata they can set. It's definitely not POJO.

[2020-09-02 11:54] KtorZ commented on #1980
I think there's a misunderstanding about what k is and what saturation means. k is indeed a number that is **chosen** and the saturation threshold is defined as `1/k`, it's a relative proportion of the total stake that is also by extension **chosen**. So, there will ALWAYS be enough pools to welcome the entire active stake. That is true for k = 10, k = 100 or k = 1000000. The size of the cake is t

[2020-09-02 12:02] hasufell commented on #2011
This was (accidentally?) fixed by https://github.com/input-output-hk/cardano-wallet/commit/b94f9f8

[2020-09-02 17:16] piotr-iohk commented on #1953
fixed.

[2020-09-02 17:16] #1953 closed, assigned to nobody

[2020-09-02 17:47] cybershaman73 commented on #1980
Thanks for your repsonse @KtorZ I appreciate the time you took to elaborate on our concerns.

I see the problem now more clearly. Presently ranking is per design spec section 5.6.1. However, there's also an assumption made in section 5.9 that delegators will always have "ALL" of the information they need to make the best choice about their delegations. This is where Daedalus is failing delegators

[2020-09-03 10:17] piotr-iohk commented on #2073
Perhaps this is still in progress, but just to share few observations.

It seems one can send metadata that is _invalid_ in format, should we have more strict validation?

Examples:
1. one can use the same key multiple times which restuls in silently using only first one... maybe there should be validation and such metadata not allowed?
 Metadata: `{"1": 1, "1": 2, "1":123123}` silently results in

[2020-09-03 10:19] piotr-iohk commented on #2072
lgtm.

[2020-09-03 10:19] #2072 closed, assigned to rvl

[2020-09-03 11:30] piotr-iohk commented on #2075
I have managed to brake it:

It seems that estimating fee with too large metadata (and actually sendindg such tx too) results in `500`:
 - metadata used: [meta-fee.txt](https://github.com/input-output-hk/cardano-wallet/files/5168069/meta-fee.txt)

Result:

[code]

In the log there is:
[code]

I have created PR extending tx meta tests -> https://github.com/input-output-hk/cardano-wallet/pull/2110.

[2020-09-03 12:10] piotr-iohk commented on #2074
lgtm

[2020-09-03 12:10] #2074 closed, assigned to rvl

[2020-09-03 12:11] piotr-iohk commented on #2077
lgtm.

[2020-09-03 12:11] #2077 closed, assigned to rvl

[2020-09-03 12:41] KtorZ commented on #2075
Awe crap. I think that's because the guard which checks whether metadata are too large occurs only when one tries to submit the transaction, which happens after this invariant is triggered. We should move the transaction size guard earlier in the pipeline.

[2020-09-03 13:13] piotr-iohk commented on #2075
BTW, Seems that latency benchamark failed for the same reason -> https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/630#f25ae394-5bd6-4422-ae66-12bf6700a0b3

[2020-09-03 13:13] KtorZ commented on #2073
@piotr-iohk see: https://github.com/input-output-hk/cardano-node/pull/1797

[2020-09-03 17:23] Anviking commented on #2021
This was fixed I believe, but they are failing for another reason now:

[code]
https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/630#f25ae394-5bd6-4422-ae66-12bf6700a0b3

[2020-09-03 18:26] piotr-iohk commented on #2021
I think this is the culprit -> https://github.com/input-output-hk/cardano-wallet/issues/2075#issuecomment-686426508

[2020-09-04 10:49] Anviking opened #2114 "CI integration tests timeout"
# Context

[code]

https://buildkite.com/input-output-hk/cardano-wallet/builds/10244
https://buildkite.com/input-output-hk/cardano-wallet/builds/10246
https://buildkite.com/input-output-hk/cardano-wallet/builds/10248
https://buildkite.com/input-output-hk/cardano-wallet/builds/10268
https://buildkite.com/input-output-hk/cardano-wallet/builds/10270
https://buildkite.com/input-output-hk/cardano-walle

[2020-09-06 15:06] aaastakepool commented on #1980
So while we established that saturation value returned by cardano-wallet is broken and needs fixing (pending changes in downstream), I don't see any clarification as to why a saturated pool is getting highest non myopic reward value / first ranking. I heard something about 'things are actually implemented according to specs and can be turned on with some flag but are currently awaiting some amount

[2020-09-07 08:06] KtorZ commented on #1980
Make sure to re-read my answers above. Reformulating: saturation is NOT included in ranking. Pools are ranked by descending non-myopic rewards they would provide **if they were just saturated.**

That last bit is crucial and I think is what is confusing people the most. Saturation and rank are two **distinct** metrics. The rank tells you which pools are the most attractive in an _imaginary future_

[2020-09-07 10:40] Anviking commented on #1980
The full ranking is active.

(During the first — I think 2 or 3 — Shelley epochs the ranking was totally random because pools hadn't started producing blocks yet. I think in an ideal world the ranking would have worked during this time, but…)

**On oversaturation:**
The non-myopic member rewards _do_ take over-saturation into account. The same (capped) rewards will be distributed over more members

[2020-09-07 13:02] #2097 closed, assigned to nobody

[2020-09-07 18:50] KtorZ commented on #2062
### QA

- Added an extra integration test scenario illustrating the problem (fee calculation fallback with withdrawal) (https://github.com/input-output-hk/cardano-wallet/commit/f6e74dca19d77b05a3d3b1838badc538b7d00e93)

- Also added an invariant in-code to make sure that this does not happen by accident. The invariant checks that fee are within an acceptable bound and crashes the server otherwise.

[2020-09-08 04:40] jonathanknowles opened #2118 "Property `prop_rebalanceSelection` occasionally fails."
# Context

Instances of this failure:

1. https://hydra.iohk.io/build/4063979/nixlog/7
1. https://hydra.iohk.io/build/4208599/nixlog/1
1. https://hydra.iohk.io/build/4605661/nixlog/55
1. https://hydra.iohk.io/build/4865823/nixlog/3
1. https://hydra.iohk.io/build/4866583/nixlog/1

# Test Case

`prop_rebalanceSelection`

# Failure / Counter-example

[code]

# Resolution

---

# QA

[2020-09-08 07:50] piotr-iohk commented on #2075
lgtm.
The issue no longer occurs. When metadata is too big error message is presented for both: sending tx and fee estimation:

[code]

[2020-09-08 07:50] #2075 closed, assigned to rvl

[2020-09-08 07:53] piotr-iohk commented on #2011
LGTM.

[2020-09-08 07:53] #2011 closed, assigned to hasufell

[2020-09-08 08:18] piotr-iohk commented on #1971
LGTM. Both listing tx and listing sp while node is in the Byron era result in a nice `503` error:

[code]

[2020-09-08 08:18] #1971 closed, assigned to hasufell

[2020-09-08 08:35] piotr-iohk commented on #2062
lgtm.

[2020-09-08 08:35] #2062 closed, assigned to KtorZ

[2020-09-08 08:59] Anviking commented on #2114
It seems Rodney fixing `TRANS_CREATE_12` fixed this. Closing. We can re-open if we see something similar again.

[2020-09-08 08:59] #2114 closed, assigned to Anviking, rvl

[2020-09-08 09:33] Anviking opened #2119 "Less verbose integration test output by redirecting wallet+node logs to file"
# Context

An overload (~60MB) of log output make CI integration test failures hard to debug.

Right now, the following are printed to stdout:
1. Wallet logs
2. The logs of 4 nodes (node/relay, BFT, pool-0, pool-1, pool-2)
3. hspec output
4. Other integration test setup logs, like faucet tx submission

# Decision

Redirect the node and wallet logs to a file.

The hspec output should be uninterrupt

[2020-09-08 12:33] nikolaglumac opened #2120 "Wallet address pool gap is limited to 232"
# Context

When trying to restore a wallet with a `address_pool_gap` set to `1000` you end up with a wallet with `address_pool_gap` set to `232`.

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | 3feb1d09a4e37b46dcec92585870d8490b6bdf78 |
| Platform     | All         |
| Installation |

[2020-09-08 12:45] KtorZ commented on #2120
Note for whoever pick this:

[code]

and

[code]

[2020-09-09 08:17] piotr-iohk opened #2126 "Fee estimation takes ~20s on empty Byron wallets"
# Context

This is something that has been revealed by [benchmarks](http://cardano-wallet-benchmarks.herokuapp.com/mainnet-restoration?type_of_wallet=all&type_of_measurement=estimating_fees_time) (builds 630-635 e.g. http://cardano-wallet-benchmarks.herokuapp.com/nightbuilds/635 "Rnd 0% Wallet" Estimating fees = 23.63 s).

I could also replicate this for both **random** and **icarus** wallets. Thi

[2020-09-09 09:11] #2021 closed, assigned to paweljakubas

[2020-09-09 11:00] Anviking opened #2127 "CI cleanup failing for Windows Tests"
# Context

#2083 appears to be fixed, but a new issue appears to have taken its place, causing windows CI to still fail a lot.

# Test Case

[Run actions/checkout@v2](https://github.com/input-output-hk/cardano-wallet/runs/1088646206?check_suite_focus=true)

Windows CI has failed twice in the past 3 days due to this:
https://github.com/input-output-hk/cardano-wallet/runs/1088646206?check_suite_focu

[2020-09-09 11:34] piotr-iohk commented on #1905
No longer observed.

[2020-09-09 11:34] #1905 closed, assigned to nobody

[2020-09-09 11:36] piotr-iohk commented on #2051
lgtm

[2020-09-09 11:36] #2051 closed, assigned to KtorZ

[2020-09-09 11:37] piotr-iohk commented on #2032
lgtm

[2020-09-09 11:37] #2032 closed, assigned to KtorZ

[2020-09-09 13:07] Anviking commented on #2067
I tried running `stack test cardano-wallet-core:unit --ta "--match Tls"` on windows while trying to tweak the test. Adding some `threadDelays` didn't change anything. Not launching the server in the failing test curiously made it pass. Not sure if that is trivially making it pass, or interesting.

<details>
  <summary>Notes</summary>

- Trying some things (no conclusions) total: 77/145 = 53%±8% As

[2020-09-10 03:53] jonathanknowles opened #2130 "Couldn't parse `txMetaData` in wallet SQLite state machine tests"
# Context

https://hydra.iohk.io/build/4087307/nixlog/1

# Test Case

[code]

# Failure / Counter-example

[code]
and
[code]
# Resolution

- The current metadata to/from json conversions is broken. We've [proposed an alternative](https://github.com/input-output-hk/cardano-node/pull/1797) that roundtrips for data coming from JSON. This is used in #2131 which fixes conversions issues.

---

# QA

[2020-09-10 06:15] jonathanknowles commented on #2130
Potentially related: https://github.com/input-output-hk/cardano-node/pull/1797

[2020-09-10 07:50] piotr-iohk commented on #2082
LGTM!

Results from manual verification on mainnet -> https://github.com/input-output-hk/cardano-wallet/pull/2111#issuecomment-687007013.

[2020-09-10 07:50] #2082 closed, assigned to jonathanknowles

[2020-09-10 07:59] Anviking commented on #2083
Another failure in integration tests with timeout. Should investigate. https://github.com/input-output-hk/cardano-wallet/runs/1093917083?check_suite_focus=true

[2020-09-10 13:24] piotr-iohk commented on #2058
I was able to reproduce on **testnet** it with cardano-node `1.19.1` and cardano-wallet `2020.9.9 (git revision: 07672712c6c3e5a1dee53a651dd33555aeebe8d1)` and cardano-address `2.0.0`:

1. Created mnemonic `sad mechanic flight ten tragic reform certain surge rent library boy milk` and saved into byron_mnemonic.prv.
2. Generated address:
[code]

3. Restored this wallet on `testnet` in `cardano-wall

[2020-09-11 08:20] KtorZ commented on #1637
Tracked in JIRA as: https://jira.iohk.io/browse/ADP-438

[2020-09-11 08:20] #1637 closed, assigned to paweljakubas

[2020-09-11 08:24] KtorZ commented on #1846
Error message has been improved with: https://github.com/input-output-hk/cardano-wallet/pull/2094

[2020-09-11 13:34] Anviking opened #2133 "Proposed: Report failing integration tests inline in PR diff"
# Context

ADP-419 - Make integration test output in CI more readable

We run integration tests using `bors`, which reports its status in a GitHub comment. Finding the actual failures require many clicks, so we often manually copy-paste it to bors' comment, [like this](https://github.com/input-output-hk/cardano-wallet/pull/2101#issuecomment-685848671).

The [Github Check Runs API](https://docs.git

[2020-09-11 15:36] Anviking opened #2134 "bech32, cardano-{address,tx} release executables don't work on macOS without nix"
# Context

https://input-output-rnd.slack.com/archives/GBT05825V/p1599837130089800?thread_ts=1599834710.084500&cid=GBT05825V

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | multiple ? |
| Platform     | macOS     |
| Installation | Github Release            |

# Steps to Reproduce

1

[2020-09-11 15:44] #2120 closed, assigned to hasufell

[2020-09-11 15:45] #1846 closed, assigned to nobody

[2020-09-11 15:45] #2126 closed, assigned to KtorZ

[2020-09-11 15:50] piotr-iohk commented on #2044
works fine in `v2020.9.11`

[2020-09-11 15:50] #2044 closed, assigned to Anviking

[2020-09-11 15:54] piotr-iohk commented on #2098
lgtm

[2020-09-11 15:54] #2098 closed, assigned to KtorZ

[2020-09-11 15:56] Anviking commented on #2134
@rvl I guess we need something like this
https://github.com/input-output-hk/cardano-wallet/blob/b83fcc428276e39f3970cfa4602a29209d82ec7b/nix/package-cardano-node.nix#L35
for what was added in https://github.com/input-output-hk/cardano-wallet/pull/1857 ?

[2020-09-13 11:47] Fell-x27 commented on #2097
@KtorZ , thanks for the reference. I've implemented it. Works fine, does the same as C-code with the same params. I can encrypt and decrypt keys this way. But I can't decrypt keys from cardano-wallet database :)

The mnemonic:  `asthma seed food drink social income bar canal race spare omit fashion nut cushion green `
The password (sha256-hashed "Q1w2E-345POIUYTd"): `cc8bb592ac4ef4f1ded67bad5b86a3

[2020-09-13 11:58] Fell-x27 commented on #2097
Well, the haskell code says that yes.

`
    serializeXPrv (k, h) =
        ( hex . unXPrv . getKey $ k
        , hex . getHash $ h
        )
`

What hash function is inside getHash?

[2020-09-14 07:40] KtorZ commented on #2097
@Fell-x27 how exactly do you convert the recovery phrase into a root key at the moment?

**edit** The public key look the same though, so your approach is probably correct.

[2020-09-14 07:57] Fell-x27 commented on #2097
@KtorZ , The problem is very simple as I can see.

My case: "memoryCombine(key, my_pre_hashed_pass)"
Your case: "memoryCombine(key, hash(my_pre_hashed_pass))"

So, the last step is repeating "your" hashing. to get the real pass used for encryption with the cardano-wallet.

[2020-09-14 08:56] KtorZ commented on #2097
Which wallets? Old legacy Byron or new recent wallets?

[2020-09-14 09:02] Fell-x27 commented on #2097
Both I think.
For example showed above it was a recent wallet shelley/icarus like. But I will support old legacy byron either, so if there is a some difference, would be nice to know about it.

[2020-09-14 09:13] Fell-x27 commented on #2097
I see what you're talking about . There is some difference for it:

`
serializeXPrv ((ByronKey k _ (Passphrase p)), h) =
        ( hex (unXPrv k) <> ":" <> hex p
        , hex . getHash $ h
        )`

But it touches only key preparing stage. Instead of hex(prv) we get hex(prv):hex(pass), am I right? But getHash function is the same and I need to know what type of hash it provides to reproduce it

[2020-09-14 10:22] KtorZ commented on #2097
There's no primary transformation of the passphrase done before encryption on the Shelley/Icarus wallets except that the passphrase is encoded as UTF-8 bytes.

[2020-09-14 11:12] Fell-x27 commented on #2097
I'm not a haskell programmer, but isn't this code:
` hex . getHash $ h `
the same as 'get hex of hash of h'?

[2020-09-14 12:10] piotr-iohk opened #2137 "Poor performance of wallets with big address_pool_gap"
# Context

On mainnet creating / getting / listing wallets with addres_pool_gap = 100k takes very long time and makes them barely usable.

Visible for both cardano-wallet and cardano-wallet-jormungandr.

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | ` 2020.9.11 (git revision: ea7b58

[2020-09-14 14:01] KtorZ commented on #2097
Yes and no. To give you some explanation about these bits of code:

- This occurs when serializing the encrypted key and the hash of the encryption passphrase to the database.

- The wallet does not store the passphrase unencrypted but, a salted hash of it and even in-memory, we do not generally manipulate the passphrase more than needed so it's converted into a hash and manipulated as such. We co

[2020-09-14 14:07] piotr-iohk commented on #2137
Moved to https://jira.iohk.io/browse/ADP-442.

[2020-09-14 14:07] #2137 closed, assigned to nobody

[2020-09-14 18:36] mcsherrylabs commented on #2040
I have seen another version of this, if you can create a race condition between deleteWallet getWallet and createWallet you will get a `text/plain` response of "Something went wrong", I'n not reopening as a. I'm not going to create a repeatable test case and b. the behaviour might not even be considered a bug, so just capturing.

[2020-09-14 18:46] Fell-x27 commented on #2097
Wait. Maybe I read the stored data wrong way.

There is a stored data in the database.

`57a5325a56a26372dd6170cd98d61c29d909a16a354b314a57090d4c52680240a50b8292c12bc3cd566cf9e2a0e932ff6697fdf49395ef20b6dbd377fd14e8d2870e80ab658196a8cb534eca6d9a4b403e410158c9c4960068571f39d5d3bb3931cbe787ce0bc0d52a94edc2e97ec7e2a1975b81c3974424f7b18a9841095399`

It's 128b length. Last 64b is xpub. So we have only

[2020-09-14 20:12] PhilippeLeLong commented on #1980
Saturation is indeed included in the non-myopic member rewards. If all pools were close to saturation and were of equal performance, oversatured pools would be last in the ranking. Assuming enough pools are performing at close to 100% ther should never be an oversaturated pool among the top pools. You can actually see that the ranking is not working properly when using the slider to set the intend

[2020-09-15 03:05] jonathanknowles commented on #2019
Hi @piotr-iohk

This was finished some time ago, but I forgot to move it into the QA bucket. My apologies!

Hopefully there is nothing more to do, but let me know if you spot anything.

If all is okay, then we can also close https://jira.iohk.io/browse/ADP-376.

[2020-09-15 07:34] piotr-iohk commented on #2019
@jonathanknowles, so I'm looking into integration tests while there are running and we have there 4 pools initially with one of them that is scheduled to be retired in epoch 3. The pool is no longer displayed in list pools since epoch 3 which is OK. I expected however that since epoch 5, data related to this retired pool will be removed from DB, but I still see bits of this pool in DB in epoch 5 a

[2020-09-15 07:49] Anviking opened #2139 "Windows Tests failing on `WALLETS_CREATE_08 - address_pool_gap, 100000`"
# Context

https://github.com/input-output-hk/cardano-wallet/runs/1115049717?check_suite_focus=true

# Test Case

# Failure / Counter-example

[code]

---

# Resolution

---

# QA

[2020-09-15 08:52] KtorZ commented on #2097
1. I guess you're referring to the `root` column of the `private_key` table. The passphrase hash is stored in another column called `hash`.

2. It's an array of bytes, encoded as a base16 string.

3. If you're referring to the `root` column, then it seems like you've done the right thing.

[2020-09-15 09:00] Fell-x27 commented on #2097
I meant what form it has when passed to MemoryCombine? Does wallet pass prv as hex-string, or as byte-array?

[2020-09-15 09:02] KtorZ commented on #2097
byte-array.

[2020-09-15 09:09] Fell-x27 commented on #2097
But password is passed as a string? If password is "qwerty", this string will be passed, not it's str->byte->hex representation, right?

[2020-09-15 09:47] KtorZ commented on #2097
The string is passed via the HTTP API, encoded as JSON. JSON data must be UTF-8 encoded, so strings in JSON are basically an array of bytes, UTF-8 encoded. So I am not sure to get your question?

[2020-09-15 10:17] Anviking commented on #2083
It looks like it was stuck on the CLI `ADDRESS_LIST_03 - Generates new address pool gap`.

Edit: It also failed in pretty much 1h 🤔

It **also** looks like the launcher unit tests failed, despite it having a green checkmark in the GitHub UI:
[code]

[2020-09-15 11:28] Fell-x27 commented on #2097
raw text: `qwerty123^&*`
urlencoded for HTTP:  `qwerty123%5E%26*`
bytearray raw version: `[113, 119, 101, 114, 116, 121, 49, 50, 51, 94, 38, 42]`
hex raw version: `7177657274793132335e262a`
bytearray urlencoded for HTTP  vesrion: `[113, 119, 101, 114, 116, 121, 49, 50, 51, 37, 53, 69, 37, 50, 54, 42]`
hex urlencoded for HTTP version: `7177657274793132332535452532362a`

There are 6 ways to represen

[2020-09-15 12:44] piotr-iohk commented on #2139
I suspect that this issue is in fact a timeout from getting a wallet with 100k addresses, which on Windows is probably more time consuming.
(Yesterday I have created https://jira.iohk.io/browse/ADP-442 addressing performance inprovements of large addr pool gap wallets).

Hopefully [this](https://github.com/input-output-hk/cardano-wallet/commit/671dc9c11197509f62334358ba597e832597f494) will get rid

[2020-09-15 21:06] Fell-x27 commented on #2097
@KtorZ , I did it. I. Did. It. :rocket:

I've found the problem. It was my fault. I compiled my memory_combine version with wrong chacha rounds count. Just re-checked original code, fixed my own and successfully decrypted my keys from cardano-wallet database with my password.

Thank you for your patience!

[2020-09-16 07:39] jonathanknowles commented on #2019
Hi @piotr-iohk.

Do you have a copy of the log output for that test run? It will be useful to see whether there are any entries like this:

[code]

[2020-09-16 09:02] KtorZ commented on #2097
:pray: Glad to hear.

[2020-09-16 11:34] piotr-iohk commented on #2019
I have set `MsgStakePoolGarbageCollection{} -> Info` for the run [here](https://github.com/input-output-hk/cardano-wallet/blob/master/lib/shelley/src/Cardano/Wallet/Shelley/Pools.hs#L657), but indeed, there is no such message "Performing garbage collection of retired stake pools...".

Here are the logs from the run, up to epoch 11.
[tests.log](https://github.com/input-output-hk/cardano-wallet/file

[2020-09-17 09:44] piotr-iohk opened #2145 "Latency benchmark fails"
# Context

# Test Case

[code]

# Failure / Counter-example

https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/643#04d70a54-180e-47b9-8a81-b7bb19b95da7

[code]

---

# Resolution

---

# QA

[2020-09-18 04:26] rvl opened #2148 "Provide slot number (flat slot) in network information"
# Context

ADP-418

### User story

As an API user
I want to have access to the flat slot number (and not only the slot within the epoch)
so that I can construct transaction TTL that are relevant

# Decision

Add new fields to the `GET /network/information` API endpoint.

[code]

# Acceptance Criteria

1. API must show node tip as an absolute slot count from genesis
2. API must show network tip as

[2020-09-18 05:25] rvl opened #2149 "Jormungandr pool metadata unit tests sometimes fail on Windows"
# Context

A test case occasionally fails on Windows because the property has chosen a filename which is illegal on Windows.

In this case, the filename was `prn`, but there are a few other filenames that you can't use: [MSDN: Naming Files, Paths, and Namespaces](https://docs.microsoft.com/en-us/windows/win32/fileio/naming-a-file#file-and-directory-names).

# Test Case

Test case: `Cardano.Pool.Jo

[2020-09-18 08:37] rvl opened #2152 "Flaky test - Cardano.Wallet.Shelley.Transaction estimateMaxNumberOfInputs timeout - macOS"
# Context

A unit test is sometimes failing on macOS due to a timeout.

# Test Case

- Package: cardano-wallet
- Module: `Cardano.Wallet.Shelley.TransactionSpec`
- Spec: estimateMaxNumberOfInputs for ByronKey on Mainnet
- Platform: macOS
- CI: Hydra

# Failure / Counter-example

https://hydra.iohk.io/build/4162295

[code]

---

# Resolution

---

# QA

[2020-09-18 09:23] KtorZ commented on #2152
That test as a timeout on the execution time, which is maybe a bit too tight for the mac mini running this in CI. Since it passes most of the time, we're probably not that far (although I am afraid that we'll hit the same issue with Windows).

We could increase the timeout and still make sure that the function executes within a reasonable time.

[2020-09-18 15:37] #2149 closed, assigned to rvl

[2020-09-18 16:51] #2134 closed, assigned to nobody

[2020-09-20 23:01] rvl commented on #2152
Is the timeout to ensure that excessively slow shrinkers or generators can be stopped? How long is it?

For this failure, is the timeout too short or is the test case too slow?

[2020-09-21 06:10] piotr-iohk commented on #2145
fixed in #2146.

[2020-09-21 06:10] #2145 closed, assigned to piotr-iohk

[2020-09-21 08:30] KtorZ commented on #2152
The timeout is to ensure that the function being testing executes within an acceptable time. That was part of the debugging / slowness analysis of large wallets. That function was on the critical path. Now, the acceptable time was previously set to 100ms yet, it's taking longer in CI for some generated values.

The tests (there are 3 using a timeout) are very short actually, some assertion on the

[2020-09-21 08:56] KtorZ commented on #2130
Should be fixed by #2131

[2020-09-21 08:56] #2130 closed, assigned to KtorZ

[2020-09-21 10:38] piotr-iohk commented on #2139
Should be fixed by https://github.com/input-output-hk/cardano-wallet/pull/2146.

[2020-09-21 10:38] #2139 closed, assigned to nobody

[2020-09-21 12:31] jonathanknowles opened #2154 "DB operation `removePools` doesn't remove pool metadata."
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | b8d0cfbed5eef5fc110900b990f582b7869acc50 (`master`) |
| Platform     | All  |
| Installation | From Source |

# Steps to Reproduce

1. Create a pools database. This can be done in many ways, but one method is to connect a wall

[2020-09-21 13:29] Anviking opened #2155 "Update API documentation for saturation and relative stake"
# Context

#1980, ADP-431

With cardano-node 1.20.0, the `relative_stake` field is now relative to the total stake, not the active stake. This makes the `saturation` calculation correct (tracked by #1980), but it also provides an opportunity to clarify concepts in the API docs.

1.20.0 also made changes to from which snapshot the `relative_stake` is reported. I believe

| -  | 1.19.0 node + wallet

[2020-09-21 15:47] piotr-iohk commented on #2035
lgtm.

I tested few wallets on testnet against `v2020-09-11` and `master`. There are less checkpoints being created for `master` wallet.
E.g.
 - empty wallet on  `v2020-09-11` has 35 checkpoints after restoration.
 - empty wallet  on `master` has 7 checkpoints after restoration.

[2020-09-21 15:47] #2035 closed, assigned to KtorZ

[2020-09-22 09:15] hasufell opened #2163 "Allow flexible SMASH selection without restarting the wallet"
# Context

Currently the wallet needs to be restarted when selecting a SMASH server via cli:

[code]

Daedalus developers would like to have an endpoint to change the smash server while the wallet is running.

# Decision

1 implement the following endpoint: `curl -X PUT --data '{ "settings": { "pool_metadata_source": "my.smash.uri" } }' http://localhost:8090/v2/settings/` ... possible values are `

[2020-09-23 03:48] jonathanknowles commented on #2154
After some discussion, it was decided that we will not fix this (for the moment).

Strictly speaking, when removing pools, we should also be able to remove any pool metadata that becomes unreachable as a result.

However, this is tricky to get right, since it's possible for more than one pool to share the same metadata hash.

For example, if two pools **_p_** and **_q_** issue registration certifi

[2020-09-23 05:50] rvl commented on #1839
We don't need to do resubmission of expired transactions in this way. But even if we wanted, it would be difficult to do in practice, as noted above.

[2020-09-23 05:50] #1839 closed, assigned to rvl

[2020-09-23 06:34] #2154 closed, assigned to jonathanknowles

[2020-09-23 06:53] piotr-iohk commented on #2019
lgtm.

To sum up:
 - Pool that is scheduled to retire in epoch n, is no longer visible in `GET /stake-pools` since epoch n.
 - Garbage collection happens once per epoch. Data of pool that is retired in epoch n is garbage collected in epoch n + 2.
 - All data of retired pool is garbage collected from stake-pools.sqlite except its pool_metadata, as the same metadata can be utilized by many pools.

[2020-09-23 06:53] #2019 closed, assigned to jonathanknowles

[2020-09-23 09:43] piotr-iohk opened #2169 "cardano-wallet-jormungandr --metadata option is redundant"
# Context

Metadata is not supported in Jormungandr so having that option in cardano-wallet-jormungandr CLI seems unnecessary.

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | `2020.9.11 (git revision: ffeca1d9e0f302111588c7890785051b6cc6b0da)` |
| Platform     | all          |
| Inst

[2020-09-23 10:51] piotr-iohk opened #2170 "Estimating fees on empty Shelley wallet takes 5-6s"
# Context

According to [benchmarks](http://cardano-wallet-benchmarks.herokuapp.com/mainnet-restoration?type_of_wallet=all&type_of_measurement=estimating_fees_time) since [nb #636](https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/636) (revision https://github.com/input-output-hk/cardano-wallet/commit/76b3a6d2618d628e4f08d37c92fce8fd1a7eb130) fee estimation time increased from ~1

[2020-09-23 14:50] piotr-iohk commented on #1980
lgtm.

Also, saturation is roughly inline with the ones from adapools.org.
Taking randomly few pools from different parts of wallet ranking(top to bottom).

|pool|wallet|adapools|
|--|--|--|
|SECUR|0.63|0.66|
|ZZZ|0.89|0.87|
|TRUE|0.037|0.037|
|CENT|0.0045|0.0045|
|FORK|0|3.3327770656714e-6|

[2020-09-23 14:50] #1980 closed, assigned to nobody

[2020-09-23 17:04] piotr-iohk opened #2172 "500 "Something went wrong" when listing transactions on wallet with old metadata"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | `2020.9.22 (git revision: 0c9ce882bb1663e11af9e08d7f763834636e5344)` |
| Platform     | All         |
| Installation | from release            |

# Steps to Reproduce

1. Have a wallet with transactions with metadata created i

[2020-09-23 22:57] rvl commented on #2172
This is highly annoying, but thanks for raising the issue.

I feel inclined to solve this by adding a release note saying that if you are one of the tiny number of people who used v2020-09-11 to send or receive transactions with metadata, then you should delete your wallet database and restore from genesis.

[2020-09-24 07:15] KtorZ commented on #2172
@rvl it should be possible to fallback on the old parsing method when de-serializing from the database, at least temporarily. Then, it'll be replace with the right format when re-inserted.

[2020-09-24 09:08] piotr-iohk commented on #2155
lgtm

[2020-09-24 09:08] #2155 closed, assigned to Anviking

[2020-09-24 09:16] jonathanknowles opened #2174 "Create API address derivation path type."
# Context

We need to be able to represent address derivation paths in the API.

# Decision

Create type `ApiAddressDerivationPath` that can encode an address derivation path.

A derivation path should be serialized to JSON as a **list**.

For example, the path `1852H/1815H/0H/0/0` should have the following JSON representation:

[code]

Each entry in the list should have the following pair of fiel

[2020-09-24 09:29] KtorZ opened #2175 "Explore exposing integration tests cluster for a wider audience"
# Context

We use a quite sophisticated setup for our integration tests, with a cluster of pools and pre-registered wallets with funds, rewards etc ... That's useful for testing the wallet, but also for a wider audience looking for testing things with Shelley.

# Decision

# Acceptance Criteria

1. One _must_ be able to start an integration test cluster easily from an executable.
2. The tool _may_

[2020-09-24 09:32] jonathanknowles opened #2176 "Provide a way to map addresses to their derivation paths."
# Context

We need a way to map **wallet-owned addresses** to their **derivation paths**, so that they can be exported through the API using the `ApiAddressDerivationPath` type. (See https://github.com/input-output-hk/cardano-wallet/issues/2174)

# Decision

Extend the `IsOurs` interface to return the derivation path corresponding to an address identified as _ours_ (instead of only a Boolean).

#

[2020-09-24 10:01] KtorZ commented on #2176
You'll also need a given _state_ to make this possible, like `IsOurs` or `IsOwned` also make use of.

[2020-09-24 11:08] piotr-iohk commented on #2172
:+1:

[2020-09-24 11:08] #2172 closed, assigned to KtorZ

[2020-09-24 12:37] KtorZ opened #2180 "Provide a way to validate addresses via the API."
# Context

Exchanges prefer validating data before submission (even though the API will validate things upon submission). There's no easy to simply validate arbitrary string an know whether they are valid addresses or not. That feature exists in cardano-address but only available via command-line.

# Decision

Make the API able to inspect addresses.

# Acceptance Criteria

1. There's a new API end

[2020-09-24 13:12] paweljakubas commented on #2174
I wonder if first three paths, ie., are not superfluous 1852H/1815H/0H. the first two for sure if we are dealing with ada. Last one depicting account maybe also... On the other hand, it is only presentation layer so maybe the full information does not hurt.

Another thing : we want to use relative indexes (counting from 0) also for hardened index?

[2020-09-24 14:26] tatyanavych opened #2182 "Correct/update wallet backend API version"
Cardano wallet [API referenced by release 2020.9.22](https://input-output-hk.github.io/cardano-wallet/api/v2020-09-22/)  leads to API 2.0.0 that has been unchanged for some time though there have been changes in the API in the past releases.
Please, update API version according to the chosen versioning scheme and changes for every release where there are changes.

### Expected version

TBD

### Ac

[2020-09-24 14:49] piotr-iohk opened #2183 "Test fail: Cardano.Wallet.Primitive.Fee.prop_rebalanceSelection The fee balancing algorithm converges for any coin selection."
# Context

https://github.com/input-output-hk/cardano-wallet/pull/2168#issuecomment-698275912
https://hydra.iohk.io/build/4208599

# Test Case

[code]

# Failure / Counter-example

[code]

---

# Resolution

---

# QA

[2020-09-24 20:09] PhilippeLeLong commented on #1980
This is not the pool saturation though, but the ratio of the pool's controlled stake in comparison to total stake.
Pool saturation is not shown at all in the wallet.

[2020-09-24 20:15] cybershaman73 commented on #1980
The point of this issue is to resolve failure of the wallet to follow design spec per section 4.3 and 5.9. In those sections, it is made clear that the wallet has a primary function, in addition to delegation, of providing the information potential delegators need to make informed choices. If a delegator can not CLEARLY see a pool is saturated, either active or live, the wallet is failing to prote

[2020-09-25 02:26] rvl commented on #2182
Hi @tatyanavych, what version number do you expect it be?

Should it match the release, e.g. `2020.9.22`? That would be simple to fix.

Or should it use another versioning scheme? Because sometimes the API does not change at all between releases. Additionally, we use a URL path prefix `/v2` to denote that our API implements the second or third major revision of the cardano-wallet API.

[2020-09-25 08:03] KtorZ commented on #2182
@rvl ideally, the same as the version we release on even if the API does not change so there's consistency. I think we could leave the swagger doc with `unreleased`, `edge` or a git revision so it's clear when looking at the doc from `master` and replace that with a tag when packaging the doc.

[2020-09-25 09:11] piotr-iohk commented on #2020
Tests should be passing now.

[2020-09-25 09:11] #2020 closed, assigned to piotr-iohk

[2020-09-25 10:08] rvl commented on #2174
Was there anything wrong with just using a string to represent derivation path?
It's pretty simple to parse.

[2020-09-25 10:14] jonathanknowles commented on #2174
Hi @rvl.

We could indeed have used a string, and you're right, it would not be very hard to parse.

The use of a JSON list was requested here: https://input-output-rnd.slack.com/archives/GBT05825V/p1600859749018000?thread_ts=1600843830.004300&cid=GBT05825V

[2020-09-25 10:16] jonathanknowles commented on #2174
@paweljakubas

Good point! I've updated the task description to specify that we will use relative indices, ranging from `0` to `2^31 - 1`.

[2020-09-25 10:32] jonathanknowles commented on #2183
Hi @piotr-iohk

This issue looks like it might be a duplicate of issue #2118?

[2020-09-25 11:34] piotr-iohk commented on #2182
How about having the version in swagger updated by https://github.com/input-output-hk/cardano-wallet/blob/master/scripts/make_release.sh script on each new release?

[2020-09-25 13:22] #2183 closed, assigned to nobody

[2020-09-25 20:52] tatyanavych commented on #2182
For the API I would recommend [semver](https://semver.org/), and increment if there is a change in the API.
As cardano-wallet uses date-based versioning you, then, may want to track (code version, API version) info that could be an extra  maintenance work you may not want.
The simple case to use date-based version for both may reduce maintenance work, but will not tell users when there are changes

[2020-09-27 07:37] vae520283995 opened #2186 "Will Byron addresses starting with Ae2 be disabled in the future?"
There are many address formats now, and many exchanges still use addresses in the Byron era, starting with Ddz or Ae2. Now the Shelley era starts with addr1, will the address in the Byron era be disabled in the future?
If it is disabled, when is it?

[2020-09-27 11:03] rdlrt commented on #2186
@vae520283995  They're part of chain history. I would find it very difficult to be getting rid of. But regardless, you *SHOULD* upgrade as features of what you can do with Byron wallets are quite limited.

The exchanges do - however - need to update their backends, and once they've done that, its easier for them to simply use shelley addresses as the default

[2020-09-27 11:06] vae520283995 commented on #2186
Thank you for your answer. Due to time constraints, I cannot update the address to the shelley address. I only support withdrawals to the shelley address

[2020-09-28 03:56] rvl commented on #2174
In that slack thread, a JSON list of strings was requested, not a list of objects. I fail to see how a list of objects like this will help the user.

[2020-09-28 07:19] KtorZ commented on #2186
As @rdlrt pointed out, Byron addresses with all their weirdness (and transactions, and signatures, and.. everything that existed in the Byron chain) are there forever. We can't possibly get rid of those without wiping out the blockchain history. It more of a philosophical question than a technical issue :)

[2020-09-28 07:19] #2186 closed, assigned to nobody

[2020-09-28 11:06] hasufell commented on #2023
@rhyslbw what's missing?

[2020-09-28 12:06] rhyslbw commented on #2023
Done in https://github.com/input-output-hk/cardano-wallet/pull/2055/commits/c36ba7d897b90e3d6bcaaae90b18f0c4cf7b5d68

[2020-09-28 12:06] #2023 closed, assigned to hasufell

[2020-09-28 12:14] KtorZ commented on #1944
Captured as: https://jira.iohk.io/browse/ADP-460

[2020-09-28 12:14] #1944 closed, assigned to nobody

[2020-09-28 16:04] piotr-iohk commented on #2148
lgtm.

[2020-09-28 16:04] #2148 closed, assigned to rvl

[2020-09-28 16:09] piotr-iohk commented on #2180
Lgtm. However I wonder if there is a point of showing `network_tag: null` in case of Mainnet/Staging Byron random and Byron icarus addresses. Perhaps better not to show anything?

[code]
[code]

[2020-09-29 04:23] rvl commented on #2186
For how long will the `/v2/byron-wallets` API be supported?

[2020-09-29 10:15] piotr-iohk opened #2189 "Windows test fail: roundtrip JSON serialization & deserialization"
# Context

https://github.com/input-output-hk/cardano-wallet/runs/1179455249?check_suite_focus=true
https://github.com/input-output-hk/cardano-wallet/runs/1174007888?check_suite_focus=true
https://github.com/input-output-hk/cardano-wallet/runs/1171293981?check_suite_focus=true
etc.

# Test Case

[code]

# Failure / Counter-example

[code]

---

# Resolution

- More information in resolution PR #23

[2020-09-29 12:49] KtorZ commented on #2186
There's no short, medium or long-term plan to discontinue it. Most of our partners are still relying on it and the `/v2/wallets` is not a suitable replacement for most exchanges.
So, until we have a better alternative to offer, it'll be supported.

[2020-09-29 12:56] KtorZ commented on #2180
It'd rather be explicit about that one and show it. It's not that the information is not available (in which case not showing the key would make more sense), it's that, we know that there's no network tag. So that's a bit different and a `null` value is better suited for this IMO.

[2020-09-29 13:59] #2182 closed, assigned to piotr-iohk

[2020-09-29 19:00] #2180 closed, assigned to KtorZ

[2020-09-30 10:40] Anviking opened #2192 "Tweak `it` for more useful information on failures"
# Context

ADP-419

We want to make CI failures easier to understand.

It happens that:
1. CI simply times out on a single test. Identifying _which_ test is non-trivial.
2. Our custom `it` (which automatically retries all tests once on failure), retries something that cannot be retried, and returns an unhelpful error message instead of the first helpful one. (Some tests use hard-coded mnemonics, w

[2020-09-30 13:02] piotr-iohk commented on #2119
lgtm :tada:

[2020-09-30 13:02] #2119 closed, assigned to Anviking

[2020-09-30 14:49] piotr-iohk commented on #2041
These are very nice tests. :tada:
I would like to also add test for Icarus wallet there.

For now I was trying to do `Icarus -> Icarus` transaction manually on testnet constructing tx with `cardano-tx` and trying to submit with cardano-wallet according to https://github.com/input-output-hk/cardano-transactions/wiki/How-to-submit-transaction-via-cardano-tx-CLI but got error in the last step -> http

[2020-10-01 01:10] rvl commented on #2192
I was trying to be funny before when suggesting to prefix the function name with `sh`, but there is an element of truth in every joke...

If we persist with using this variation of `it`, we are potentially hiding real bugs in our application - the tricky type which only happen occasionally - and on users' systems not developers'.

So it should be used with caution. I think we should _try to_ put t

[2020-10-01 07:19] Anviking opened #2196 "Flaky test - STAKE_POOLS_LIST_01 - List stake pools"
# Context

https://github.com/input-output-hk/cardano-wallet/pull/2184#issuecomment-698850257 (build 10764)
https://github.com/input-output-hk/cardano-wallet/pull/2185#issuecomment-699868895
https://github.com/input-output-hk/cardano-wallet/pull/2107#issuecomment-700044743
https://github.com/input-output-hk/cardano-wallet/pull/2193#issuecomment-702491672

https://github.com/input-output-hk/cardano

[2020-10-01 07:40] Anviking commented on #2170
Looking at the commit history around  76b3a6d https://github.com/input-output-hk/cardano-wallet/commits/master?after=647632e17f1a4add822ab76aef01ba6772a7b813+244&branch=master,

it seems https://github.com/input-output-hk/cardano-wallet/pull/2112 was merged just before, which seems suspicious

[2020-10-01 07:47] piotr-iohk opened #2197 "cardano-wallet and cardano-address Shelley bech32 addresses are different"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | cardano-wallet: `2020.9.22 (git revision: a5f269ac7e1f12ad3b7a9bf760090f01872d950f)`, cardano-address: `2.1.0 @ e0ab4587266430a08734e1aec1c29d261a9a3b70ss version` |
| Platform     | Linux, all        |
| Installation | From s

[2020-10-01 07:56] Anviking commented on #2192
😶 When is that not the case? 😞

Otherwise I 100% agree.

[2020-10-01 08:01] rvl commented on #2197
1. In `stack.yaml` we have cardano-address 2.0.0, so I have updated the version (#2198).
2. The addr_test bech32 hrp is not implemented in cardano-wallet yet afaik.
3. cardano-wallet addresses probably include the reward address, which accounts for the difference in length.

[2020-10-01 09:12] hasufell commented on #2196
Have you tried increasing the eventually-timeout? Afair it's 90s.

[2020-10-01 14:00] hasufell opened #2200 "Return unsigned delegation certificate"
# Context

When joining a stake pool, the process is as follows:

1. Check if the account has already a registered stake key.
2. Check if the requested pool can be joined (it exists and it's not retiring).
3. Select coins to cover for either the delegation, or the delegation AND the key registration.
4. Sign the delegation (provide a witness for the stake key).
5. Submit the transaction.

The user

[2020-10-02 07:01] Anviking commented on #2196
The pools are set up at the beginning of the tests (probably at least 10 minutes earlier). By this time, they really should have produced blocks, and have saturation 🤔

[2020-10-02 08:12] Anviking commented on #2196
Running locally I now got
[code]
So seems like `GET /stake-pools` didn't return any pools…

[2020-10-02 09:43] Anviking commented on #2196
I have seen logs like
[code]
and when bisecting I get _consistent_ failures, even all the way back to `v2020-09-11`:
[code]
I wonder if the cardano-node or cardano-cli version has anything to do with it.

Weird that it fails consistently locally, but only occasionally in CI... Or at least it occasionally seems to _succeed_ in CI.

Edit: wait, maybe I had `NO_POOLS` set 😅

[2020-10-02 10:15] hasufell commented on #2196
[code]

Yeah, I wonder if the tests should be skipped if this env var is set

[2020-10-02 10:58] Anviking commented on #2196
It seems that since 2020-09-25 15:00:17, there has been a 30% bors failure rate, and all failures have been due to this issue.
[bors-analysis.txt](https://github.com/input-output-hk/cardano-wallet/files/5317451/bors-analysis.txt)

(Before that point there are more failures, but due to timeouts)

src: https://bors-ng.aws.iohkdev.io/repositories/12

[2020-10-02 11:33] hasufell commented on #2196
The only commit doing changes to the behavior of the handler recently was https://github.com/input-output-hk/cardano-wallet/commit/1b4692c4f8 I think, but that doesn't seem too related.

[2020-10-02 12:28] Anviking commented on #2196
- I have run `stack test cardano-wallet:integration` locally on b9bc46beb8528a348b95cbdf38479ff0a71c9929 5 times and it only succeeded.
- Looking at the wallet logs of the failures, I see no `Got 0 pools`. Only `Got 3 pools` over LSQ from the node.

I guess the last point suggests that there must be missing or faulty DB data causing this `dropMissing` . Not quite sure how to investigate further ye

[2020-10-02 12:48] Anviking commented on #2196
Ah!

[code]

[2020-10-05 08:04] Anviking opened #2207 "Flaky SHELLEY_MIGRATE_01_big_wallet"
# Context

Seen fail once: https://github.com/input-output-hk/cardano-wallet/pull/2201#issuecomment-702835170

# Test Case

https://github.com/input-output-hk/cardano-wallet/blob/master/lib/core-integration/src/Test/Integration/Scenario/API/Shelley/Migrations.hs#L147-L231

# Failure / Counter-example

[code]

---

# Resolution

---

# QA

[2020-10-05 08:07] Anviking commented on #2207
https://hydra.iohk.io/api/scmdiff?branch=&uri=https%3A%2F%2Fgithub.com%2Finput-output-hk%2Fcardano-wallet.git&type=git&rev2=ad8181b61698efc96cd9c44ebf46018c8c7b8c3d&rev1=a1e602a1077f7f6328bcc593beb4f63906cc250b

#2181 should have been included, so the error shouldn't be due to retrying with hard-coded mnemonic.

[2020-10-05 11:18] Anviking opened #2210 "Flaky State Machine Failure"
# Context

https://github.com/input-output-hk/cardano-wallet/pull/2202#issuecomment-703558768

# Test Case

Sqlite State machine tests

# Failure / Counter-example

<details>

[code]

</details>

---

# Resolution

---

# QA

[2020-10-05 12:35] KtorZ commented on #2210
Also ran into this here: https://hydra.iohk.io/build/4312029/nixlog/31

I'll make a PR.

[2020-10-05 13:33] piotr-iohk commented on #2192
lgtm

[2020-10-05 13:33] #2192 closed, assigned to Anviking

[2020-10-06 08:50] piotr-iohk commented on #2073
LGTM.

[2020-10-06 08:50] #2073 closed, assigned to rvl

[2020-10-06 11:15] piotr-iohk commented on #2076
lgtm.

There is actually one issue that is related -> https://github.com/input-output-hk/cardano-wallet/issues/2169.

Also the  way `--metadata $(<tx-meta.json)` of using metadata in cmdline didn't work for me in hash shell, whether the content in a file was single or double quoted. (That was suggested in https://github.com/input-output-hk/cardano-wallet/wiki/TxMetadata#cli)

I have updated https:

[2020-10-06 11:15] #2076 closed, assigned to rvl

[2020-10-06 14:35] Anviking opened #2215 "Flaky prop_rebalanceSelection"
# Context

Seen once: https://github.com/input-output-hk/cardano-wallet/pull/2168#issuecomment-698275912

# Test Case

https://github.com/input-output-hk/cardano-wallet/blob/master/lib/core/test/unit/Cardano/Wallet/Primitive/FeeSpec.hs#L512-L556

# Failure / Counter-example

[code]

---

# Resolution

---

# QA

[2020-10-06 14:40] Anviking opened #2216 "Flaky tests due to faucets running out of funds"
# Context

Written post-fix. We had a period with lots of random CI failures.

# Test Case

Many.

# Failure / Counter-example

They would timeout.

---

# Resolution

Turned out that the faucets ran out of funds.

Matthias added more faucet funds and improved the error handling, I think.

---

# QA

[2020-10-06 14:40] #2216 closed, assigned to KtorZ

[2020-10-06 14:51] Anviking commented on #2216
I linked a bunch of CI failures to this issue. Wile not absolutely certain they were _all_ due to this, I think it's fair to assume they were.

[2020-10-06 15:04] Anviking commented on #2215
Oops, duplicate with #2118

[2020-10-06 15:04] #2215 closed, assigned to nobody

[2020-10-06 15:08] Anviking opened #2217 "Flaky Network.Wai.Middleware.Logging, Logging Middleware, GET, 200, no query"
# Context

https://github.com/input-output-hk/cardano-wallet/pull/2156#issuecomment-704040406

# Test Case

https://github.com/input-output-hk/cardano-wallet/blob/master/lib/core/test/unit/Network/Wai/Middleware/LoggingSpec.hs#L119-L128

# Failure / Counter-example

[code]

---

# Resolution

---

# QA

[2020-10-06 15:10] KtorZ commented on #2210
Fixed in #2211 (:crossed_fingers:)

[2020-10-06 15:10] #2210 closed, assigned to KtorZ

[2020-10-06 15:20] Anviking opened #2218 "Flaky BYRON_ADDRESSES, ADDRESS_IMPORT_05 - I can import 15000 of addresses"
# Context

https://github.com/input-output-hk/cardano-wallet/pull/2161#issuecomment-698634128

The `ADDRESS_IMPORT_05 - I can import 15000 of addresses` test can probably be expected to be somewhat slow.

# Test Case

https://github.com/input-output-hk/cardano-wallet/blob/4ad068a00187df54b52ba1c88ed68b2b264866bf/lib/core-integration/src/Test/Integration/Scenario/API/Byron/Addresses.hs#L401-L433

#

[2020-10-07 06:50] piotr-iohk opened #2220 "Flaky database migration test"
# Context

DB migration tests fail intermittently every now and then.

https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/663 :heavy_multiplication_x:
https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/662 :heavy_multiplication_x:
https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/661 :heavy_multiplication_x:
https://buildkite.com/input-output-hk/

[2020-10-07 07:03] piotr-iohk opened #2221 "Testnet restoration benchmark times out"
# Context

Recently restoration benchmark on testnet times out a lot:

https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/663 <--- Testnet timeout
https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/662 <--- Testnet timeout
https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/661 <--- Testnet timeout
https://buildkite.com/input-output-hk/cardano-wall

[2020-10-07 18:33] Anviking commented on #2196
Should be fixed. We can investigate closer if we something similar again.

[2020-10-07 18:33] #2196 closed, assigned to Anviking

[2020-10-08 05:50] piotr-iohk commented on #2041
lgtm

[2020-10-08 05:50] #2041 closed, assigned to paweljakubas

[2020-10-08 08:21] hasufell commented on #2163
@piotr-iohk I updated QA section

[2020-10-08 11:57] Anviking opened #2224 "Flaky STAKE_POOLS_LIST_01 - List stake pools, has non-zero saturation & stake"
# Context

https://github.com/input-output-hk/cardano-wallet/pull/2214#issuecomment-705172039
https://github.com/input-output-hk/cardano-wallet/pull/2208#issuecomment-705117369

# Test Case

https://github.com/input-output-hk/cardano-wallet/blob/02eecf34d5fee66929a764cf60c669849b0b10bf/lib/core-integration/src/Test/Integration/Scenario/API/Shelley/StakePools.hs#L660-L677

But in contrast to #2196,

[2020-10-09 04:42] rvl opened #2226 "Incorrect mainnet network parameters returned from API"
### Jira tickets

ADP-483 - epoch length and slot length
ADP-554 - ActiveSlotCoeff parameter

### Context

Daedalus is showing this information about the current epoch for mainnet.

![screen_shot_2020-10-08_at_13 48 35](https://user-images.githubusercontent.com/1019641/95543662-8031e080-0a3c-11eb-94a2-cb5aeeb51b01.png)

Cardano-wallet hardcodes the genesis data, including protocol parameters for m

[2020-10-09 09:06] Anviking commented on #2083
_I doubt this has high priority anymore_

[2020-10-09 14:12] Anviking opened #2230 "Flaky STAKE_POOLS_JOIN_05 - Can join when stake key already exists"
# Context

https://github.com/input-output-hk/cardano-wallet/pull/2214#issuecomment-705079913

# Test Case

https://github.com/input-output-hk/cardano-wallet/blob/master/lib/core-integration/src/Test/Integration/Scenario/API/Shelley/StakePools.hs#L530-L553

# Failure / Counter-example

[code]

---

# Resolution

---

# QA

[2020-10-09 14:13] Anviking opened #2231 "[Duplicate] Flaky STAKE_POOLS_JOIN_05 - Can join when stake key already exists"
# Context

https://github.com/input-output-hk/cardano-wallet/pull/2214#issuecomment-705079913

# Test Case

https://github.com/input-output-hk/cardano-wallet/blob/master/lib/core-integration/src/Test/Integration/Scenario/API/Shelley/StakePools.hs#L530-L553

# Failure / Counter-example

[code]

---

# Resolution

---

# QA

[2020-10-09 14:13] #2231 closed, assigned to nobody

[2020-10-09 14:14] Anviking commented on #2231
Got an error from GitHub and created again, but seems the first one got through -> #2230

[2020-10-09 14:18] Anviking opened #2232 "Flaky TRANS_EXTERNAL_03 - Single Output Transaction with Byron witness"
# Context

https://github.com/input-output-hk/cardano-wallet/pull/2223#issuecomment-705836547

# Test Case

https://github.com/input-output-hk/cardano-wallet/blob/e53bce026f05848859d5053b8c7383353c575827/lib/core-integration/src/Test/Integration/Scenario/API/Shelley/Transactions.hs#L1219

# Failure / Counter-example

[code]

---

# Resolution

---

# QA

[2020-10-09 14:23] Anviking opened #2233 "Flaky TRANS_EXTERNAL_02 - Multiple Outputs Transaction - Shelley witnesses"
# Context

 https://github.com/input-output-hk/cardano-wallet/pull/2208#issuecomment-704953387

# Test Case

https://github.com/input-output-hk/cardano-wallet/blob/e53bce026f05848859d5053b8c7383353c575827/lib/core-integration/src/Test/Integration/Scenario/API/Shelley/Transactions.hs#L920-L1090

# Failure / Counter-example

[code]

---

# Resolution

---

# QA

[2020-10-10 23:53] rvl commented on #2226
@piotr-iohk Do you have any ideas for automated testing of this?

I am thinking of doing a "mainnet acceptance test".
It would work in a similar way to the nightly restore tests - i.e. starts a mainnet node, syncs, and runs `cardano-wallet serve --mainnet`.
Then it will assert that network parameters (or a subset of them) are equal to the golden mainnet network parameters.

[2020-10-12 06:29] rvl commented on #2070
@Anviking Is this still an issue for you?
Could you try removing Nix and reinstalling with the instructions here: https://nixos.org/manual/nix/stable/#sect-macos-installation
Also it's good to install with the `--daemon` (multi-user nix) option.

[2020-10-12 07:35] Anviking commented on #2070
Yes, I presume it is the same as https://github.com/NixOS/nixpkgs/issues/91748

Would rather not re-install unless there's something suggesting it would fix things.

[2020-10-12 08:42] piotr-iohk commented on #2175
It just works indeed. :tada:

[2020-10-12 08:42] #2175 closed, assigned to KtorZ

[2020-10-12 11:05] piotr-iohk commented on #2226
@rvl so is this hardcoded for mainnet?
As far as testing, I initially thought that maybe we could just make sure the "hardcoded" values are as expected, with no need to spinning up e2e for mainnet... but on the other hand "mainnet acceptance test" is very good idea. Perhaps we may add more checks there overtime in such suite.

I see that there is also the same problem for "testnet" or "shelley_qa"

[2020-10-12 18:26] hasufell commented on #1963
Why is this in progress?

[2020-10-13 06:37] rvl commented on #2226
@piotr-iohk Yes we may need to provide a `serve --shelley-genesis` option so that the _ActiveSlotCoeff_ value is known. Only mainnet can be hardcoded.

I have had another look and actually the best way to get epoch length and slot duration is from the HardFork History Interpreter.

[2020-10-13 07:58] Anviking commented on #2232
Could be due to fork + retry always failing because of hard-coded mnemonics.

[2020-10-13 07:58] Anviking commented on #2233
Could be due to fork + retry always failing because of hard-coded mnemonics.

[2020-10-13 07:58] Anviking commented on #2207
Could be due to fork + retry always failing because of hard-coded mnemonics.

[2020-10-13 09:28] Anviking opened #2238 "Hard-coded mnemonics in integration tests cause flakiness"
# Context

The test cluster has 3 pools, and forks.

The forks cause tests to fail (_exactly_ how, I don't have in my head, and could be checked closer)

Our solution has been to retry failing tests once with a custom `it`.

However, this doesn't work if the test cannot be retried, for instance due to the test depending on a hard-coded mnemonic with funds that can only be spend once.

# Test Case

[2020-10-13 09:51] Anviking commented on #2238
Maybe it's not useful to create a super-issue 🤔

[2020-10-13 10:19] piotr-iohk commented on #2200
I have two questions/remarks:

Currently one is able to join pool that is retiring... so does this means in `coin-selection` there will be a check to prevent that? I guess that wouldn't be quite right...

Just a thought, but maybe a bit more clear would be to have something like:
 - `POST /wallets/{walletId}/coin-selections/stake-pools/join-certificate/{pool id}`
 - `POST /wallets/{walletId}/coin-

[2020-10-13 11:58] piotr-iohk commented on #2176
LGTM.

[2020-10-13 11:58] #2176 closed, assigned to KtorZ

[2020-10-13 12:13] Anviking commented on #2230
Maybe this is not due to #2238, as there's nothing happening on chain in the test, besides the single join pool request in an `eventually`

[2020-10-14 09:59] piotr-iohk commented on #2163
LGTM.

Additional integration test added in #2225. (Hopefully can be merged some day...)

[2020-10-14 09:59] #2163 closed, assigned to nobody

[2020-10-14 11:45] KtorZ commented on #2197
@piotr-iohk shall we close this one?

[2020-10-14 11:50] piotr-iohk commented on #2197
It would be nice to have consisteny between cardano-address and cardano-wallet. Unless it is tracked elsewhere?

[2020-10-14 11:52] KtorZ commented on #2197
It is not, but I'd rather have that tracked indeed as a tech debt in JIRA instead of a bug ticket here ^.^

[2020-10-14 12:11] piotr-iohk commented on #2197
OK -> https://jira.iohk.io/browse/ADP-493.

[2020-10-14 12:11] #2197 closed, assigned to nobody

[2020-10-15 08:57] jonathanknowles opened #2247 "Differentiate change outputs from standard outputs in coin selection"
# Context

In order to support hardware wallets, we need the API to provide the derivation paths of change output addresses within generated coin selections.

# Decision

Introduce a new `ApiCoinSelectionChange` type that includes a derivation path:

[code]

Modify the `ApiCoinSelection` type so that ordinary outputs (**_without_** derivation paths) and change outputs (**_with_** derivation paths)

[2020-10-15 14:39] Anviking opened #2248 "Mainnet restore bench running out of disk space"
# Context

https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/674#c1933993-5335-4d21-82c6-782cc64f5d92

# Test Case

mainnet restore bench

# Failure / Counter-example

In logs
[code]

---

# Resolution

---

# QA

[2020-10-16 05:53] rvl commented on #2248
Interesting. That machine has 175G free on `/`.

From that error message, it says that the node data is being stored in `/tmp`. Has that changed recently?

`/tmp` is a ramfs on this buildkite container (it often is for many distros), so probably doesn't have much space.

So we need to change the storage path or set the `TMPDIR` environment variable to somewhere that's not a ramdisk.

[2020-10-16 06:49] rvl opened #2250 "PastHorizon exceptions from /network/information"
# Context

If cardano-node is having network problems and can't sync, then cardano-wallet will be stuck at Slot 0.

In this case, cardano-wallet will print errors in the log:

    Time interpreter queried past the horizon: PastHorizon

The error is harmless, but it can distract readers of the logs, and cause them to incorrectly assess the issue.

# Steps to Reproduce

1. Start a cardano-node, but

[2020-10-16 08:02] Anviking commented on #2248
https://github.com/input-output-hk/cardano-wallet/blob/7b19a2f0f10dff07be66327108ed239214c7917a/.buildkite/bench-restore.sh#L17 @rvl shouldn't this have a `export` somehow?

It seems that the haskell bench sees the env var as unset.
https://github.com/input-output-hk/cardano-wallet/blob/7b19a2f0f10dff07be66327108ed239214c7917a/lib/core-integration/src/Cardano/Wallet/BenchShared.hs#L136-L140

But a

[2020-10-16 08:50] Anviking commented on #2248
(Tried this in https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/677#c008f406-d0da-44b1-a977-0df56e35c485 )

[2020-10-19 14:13] hasufell commented on #2200
@piotr-iohk QA section updated

[2020-10-19 17:39] Anviking commented on #2248
Didn't seem to work (this should be the non-trivial failure: https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/678#e7e62ef1-e56d-4b47-a784-6272fd859680)

🤷‍♂️

[2020-10-20 05:21] piotr-iohk commented on #2200
lgtm.

[2020-10-20 05:21] #2200 closed, assigned to hasufell

[2020-10-21 02:12] ghost opened #2259 "The handling fee is higher than the transfer amount"
![image](https://user-images.githubusercontent.com/38401802/96664616-c4e74100-1385-11eb-9d77-424261d1e6bc.png)

[2020-10-21 02:12] ghost commented on #2259
28db52dcebadd7dc5e9f2c91aff584b9bc05aaeedc15e05bdd35b077a7912d3e

[2020-10-21 04:00] ghost commented on #2259
![image](https://user-images.githubusercontent.com/38401802/96671699-04695980-1395-11eb-8aa3-a6ded5e45ea6.png)

[2020-10-21 06:46] piotr-iohk commented on #2259
Hi @satonz, what was the initial balance of the wallet before the transaction? If it was ~2.136429 then I think that'd be expected.
The reason is `minUtxOValue` protocol setting that is currently set to 1 ADA which basically prevents to have UTxO lower than this, hence there cannot be a balance on the wallet that is smaller than 1 ADA.

When you send 1 ADA from a wallet with balance that is 2.1364

[2020-10-21 06:56] ghost commented on #2259
The current balance of the wallet is over 10ADA,

[2020-10-21 07:20] KtorZ commented on #2259
@satonz may you please describe what the actual issue is? What behavior would you expect and also, some reproduction steps?

[2020-10-21 07:22] ghost commented on #2259
I think this is a Bug. I also charged 1ADA for transferring 1ADA, and the current balance of my wallet is more than 10ADA

[2020-10-21 07:29] ghost commented on #2259
Poundage shouldn't be so much

[2020-10-21 07:38] KtorZ commented on #2259
As @piotr-iohk explained above, Cardano is a UTxO blockchain. Your balance is therefore constructed out of several pieces of fixed value also called "coins". When making a transaction, you cannot take part of a coin, you have to spend it fully (as you would do paying to a real merchant with coins from your wallet) and get back some change.

Yet, in order to avoid a certain class of attack, the net

[2020-10-21 07:38] #2259 closed, assigned to nobody

[2020-10-26 10:30] KtorZ commented on #1963
@hasufell good question, why is it not in QA ?

[2020-10-26 11:49] hasufell commented on #1963
@piotr-iohk added QA section... I believe you already tested this, but we didn't follow the process properly I think

[2020-10-26 13:02] piotr-iohk commented on #1963
LGTM. I have added manual test for this in https://github.com/input-output-hk/cardano-wallet/pull/2271 / https://github.com/input-output-hk/cardano-wallet/commit/466a43b0fc82c313174f530a0016e1654be5d008.

[2020-10-26 13:02] #1963 closed, assigned to hasufell

[2020-10-26 15:06] piotr-iohk commented on #2247
LGTM.

However I'd like to add some more tests for coin-selection. In particular verifying the change may be empty, for instance when trying to send 1 ADA having 2 UTXOs with 1 ADA each => Change will be empty due to minUTxOValue = 1 ADA, therefore leftovers < 1 ADA would be included as fee.

[2020-10-27 12:54] piotr-iohk commented on #2247
@jonathanknowles I have added additional cases in https://github.com/input-output-hk/cardano-wallet/pull/2275 (including some missing cases for Byron Icarus wallets).

[2020-10-27 14:47] ghost opened #2276 "wallet api"
How do I get the address balance and the exact transaction fee

[2020-10-27 14:55] ghost commented on #2276
The wallet doesn't seem to provide an API at this time

[2020-10-27 21:29] #2247 closed, assigned to jonathanknowles

[2020-10-28 00:56] rvl commented on #2276
Hi @satonz,

1. **Address Balance** There is currently no API to get the balance at a single address. You can get the balance for the entire wallet, or for a single account of the wallet. You may be able to work around this by using the transaction history API endpoint, and calculating the address balance yourself.

2. **Exact transaction fee** The transaction fee can vary, so the API only provide

[2020-10-28 01:06] ghost commented on #2276
cardano-graphql The relevant information is available, but I find that the repository is constantly changing and may be unstable

[2020-10-28 01:28] 1b1og-com commented on #1774
any updater ?

[2020-10-28 02:30] ghost commented on #2276
@rvl

[2020-10-28 18:56] KtorZ commented on #1774
@WEALLOVESRAM https://input-output-hk.github.io/cardano-wallet/api/edge/#tag/Proxy fully supports transactions from the Shelley era.

[2020-10-29 06:04] rvl commented on #2276
Hi @satonz, cardano-graphql may be more stable if you stay with released versions.

[2020-10-29 07:01] jonathanknowles commented on #2118
Seen again here: https://hydra.iohk.io/build/4605661/nixlog/55/tail.

Extract:

[code]

[2020-10-29 10:45] KtorZ commented on #2276
cardano-graphql is a stable product and we are doing our best to minimize the amount of changes in the API from a release to another.

That is the case for cardano-wallet too :). Both repositories, as any project in Cardano, are changing at a frenetic pace. Yet again, we do our best to limit the integration efforts from the user's side.

@satonz , do you mind if I close this ticket now?

[2020-10-29 13:01] Anviking opened #2279 "Hydra being slow to be scheduled causing bors to timeout"
# Context

Buildkite has a timeout. Hydra has timeouts. Bors waits on both of them to pass. Bors also has a timeout.

# Test Case

N/A

# Failure / Counter-example

https://github.com/input-output-hk/cardano-wallet/pull/2235#issuecomment-707697053

---

# Resolution

---

# QA

[2020-10-29 14:05] jbax opened #2280 "Concurrent requests to the cardano-wallet will cause sqlite to error out and enpoints return non-json error messages"
# Context

When invoking multiple endpoints of the `cardano-wallet` API via HTTP in parallel (i.e. from multiple external processes) the endpoint will return a plain string with the message `"something went wrong"` which is NOT a valid JSON string and does not conform to the documented behavior.

The cardano-wallet will also log this message:
[code]

## Expected behavior

Ideally, the `cardano-wal

[2020-10-29 14:14] jbax opened #2281 "Looking for documentation on how to restore byron wallet from private key"
The documented Byron wallet restore API provides an option to restore the wallet from a private key: `random (from xprv)`:

https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/postByronWallet

The parameters of the request body are defined as

**style** = "random"

**name** = string  [ 1 .. 255 ] characters

**encrypted_root_private_key**   A root private key, encrypted using a gi

[2020-10-29 14:22] KtorZ commented on #2280
@jbax that's interesting. Especially because each wallet has its own database and calls run in atomic transactions. So in principle, there's no parallelism on the database, only concurrency.

May I ask if any of these calls involved _deleting wallets_? There are some known issue with this particular call which could yield to the behavior your describe above (especially on Windows).

[2020-10-29 14:29] jbax commented on #2280
Yes it seems to happen when there is deletion of wallets. I disabled the test that deletes wallets and the error doesn't seem to occur anymore.

Just to highlight, I'm on Linux.

[2020-10-29 16:20] KtorZ commented on #2280
@jbax Okay thanks so this confirms my doubts and is "somewhat expected". We've been struggling getting a reliable approach to wallet deletion that works transparently between all OS. Linux is definitely the easy one on the matter but we still have some work to do here (it is known for a while, but pretty benign to deserve more attention in front of other matters at this stage I am afraid :/)

[2020-10-29 16:32] jbax commented on #2280
I'd be happy if the server at least returned the error in JSON format.
Hopefully that doesn't demand a lot of work and it would make it easier to
handle on the client side.

On Fri, Oct 30, 2020, 2:50 AM Matthias Benkort <notifications@github.com>
wrote:

[2020-10-30 08:32] KtorZ commented on #2281
@jbax cardano-wallet does not support restoring any wallet from a private key at the moment. There's a backward-compatible constructor that can be used for random wallet, true, but we do not expect any client to produce such input. This is specifically to offer a migration path from the old [cardano-sl](https://github.com/input-output-hk/cardano-sl) implementation and users that have lost their re

[2020-10-30 08:42] jbax commented on #2281
Thanks for the input. May I suggest marking endpoints such as these as
deprecated or something?

That way people will know to not even try to mess with them lol.

On Fri, Oct 30, 2020, 7:02 PM Matthias Benkort <notifications@github.com>
wrote:

[2020-10-30 08:49] KtorZ commented on #2281
I thought it was already the case. So will do indeed :+1:

[2020-10-30 08:49] #2281 closed, assigned to nobody

[2020-10-30 08:58] KtorZ commented on #2281
see: https://github.com/input-output-hk/cardano-wallet/pull/2283

[2020-10-30 11:09] Anviking commented on #2280
I've seen it specifically in `GET /wallets` / `GET /byron-wallets` and should have a fix for it.

But I'm curious, did you see it occurring with other endpoints (in conjunction with deleting wallets)?

[2020-11-02 10:35] Anviking commented on #2232
Haven't seen in a while. Think #2240 might have fixed it.

[2020-11-02 10:35] #2232 closed, assigned to nobody

[2020-11-02 10:36] Anviking commented on #2233
Will create a new ticket for the new fee discrepancy failures which are different from the original failures here.

Think #2240 fixed the original problem.

[2020-11-02 10:36] #2233 closed, assigned to nobody

[2020-11-02 10:36] Anviking commented on #2238
Haven't seen in a while. Think #2240 might have fixed it.

[2020-11-02 10:36] #2238 closed, assigned to nobody

[2020-11-02 10:47] Anviking opened #2287 "Flaky TRANS_EXTERNAL_02 - balance is off by ~200 Lovelace"
# Context

Separate from #2233 I think.

TRANS_EXTERNAL_02 creates a hard-coded external tx. It verifies that the target wallet eventually has the balance within `faucetAmt - fee_{min, max} - amtSrc`.

# Test Case

https://github.com/input-output-hk/cardano-wallet/blob/2a052d02d9fb8c22bf35daf8c0ceb6af0fa05a55/lib/core-integration/src/Test/Integration/Scenario/API/Shelley/Transactions.hs#L1129-L114

[2020-11-02 16:46] Anviking commented on #2287
When passing locally it seems that it checks that `999989843200 \in [999989843200, 999989843200]`
When failing we have `999989843000 \in [999989843200, 999989843200]`, i.e. the wallet fee estimation is the same, but the wallet balance somehow is 200 less than expected.

minfeeA is `100`, which is half of the discrepancy. I saw `TRANS_CREATE_03` fail locally at one point, where the discrepancy was

[2020-11-02 16:49] Anviking commented on #2287
What puzzled me immensely at first was that I thought that the relevant tx here was an externally constructed tx, where the fee shouldn't be variable. But that's not the case. It's the wallet that is constructing it:

https://github.com/input-output-hk/cardano-wallet/blob/d6b7627815ccc592d2664eefc14c3795b2fc1377/lib/core-integration/src/Test/Integration/Scenario/API/Shelley/Transactions.hs#L1107

[2020-11-03 09:09] Anviking commented on #2287
TRANS_CREATE_03 failure I saw a long time ago
[code]

which was actually TRANS_EXTERNAL_02 🤔

[2020-11-03 12:10] piotr-iohk opened #2288 "[Duplicate] Flaky STAKE_POOLS_JOIN_05 - Can join when stake key already exists"
# Context

# Test Case

[code]

# Failure / Counter-example

---

# Resolution

---

# QA

[2020-11-04 10:04] Anviking opened #2292 "Flaky test - various DB properties causing timeout"
# Context

Timeouts due to DB properties started occurring at the same time, and have been pretty frequent since. I now merged similar tickets all into this one.

https://github.com/input-output-hk/cardano-wallet/pull/2225#issuecomment-721630391

# Test Case

Several:

https://github.com/input-output-hk/cardano-wallet/blob/970bebbf10a0a984477e14f48033757f6726ce5b/lib/core/test/unit/Cardano/Wallet/

[2020-11-04 15:07] Anviking opened #2295 "Flaky TRANS_TTL_{01,02} - SlotNo 80 > SlotNo 50"
# Context

https://github.com/input-output-hk/cardano-wallet/pull/2191#issuecomment-721668036
https://github.com/input-output-hk/cardano-wallet/pull/2191#issuecomment-720489565

Only seen in #2191 (parallel) so far.

# Test Case

https://github.com/input-output-hk/cardano-wallet/blob/74ebfcaec9b170f9a8dc303b679b00f570537464/lib/core-integration/src/Test/Integration/Scenario/API/Shelley/Transaction

[2020-11-04 15:21] Anviking commented on #2295
Points from discussion with Rodney:
- it shouldn't be due to rollback moving the `slotNo` back, since we get it from the POST /transaction request itself
- 80 slots is 16s, which seems a bit high
- could be due to "some kind of resource or lock contention which prevents the transaction being submitted to the node in good time."
    - I did see tx submission to the node take 0.5s-1s recently, which

[2020-11-05 04:28] jbax opened #2296 "[BUG] - autogenerated genesis file can't be parsed by cardano-wallet. Error parsing `activeSlotsCoeff`"
# Context

Using command `cardano-node shelley genesis create ...` the resulting `genesis.json` file comes out with the following:

[code]

When running the `cardano-wallet` process against that genesis.json file, the following exception is raised:

[code]

It seems like the cardano-wallet is unable to parse this double value `5.0e-2` however the JSON is valid.

**Expected behavior**
The cardano w

[2020-11-05 07:42] rvl commented on #2296
Hi @jbax, what are you trying to do here?

When running `cardano-wallet serve --testnet`, you need to provide the _Byron-era_ genesis json file for the testnet. Shelley genesis parameters are fetched from the chain.

The byron genesis file doesn't have activeSlotsCoeff, so it probably doesn't matter whether or not we can parse numbers in that format.

[2020-11-05 07:49] Anviking commented on #2287
Hopefully fixed through relaxed assertions in #2191.

[2020-11-05 07:49] #2287 closed, assigned to nobody

[2020-11-05 07:57] jbax commented on #2296
Yeah I noticed that few minutes ago. Sorry for wasting your time.

Is there any way to start the wallet without a Byron genesis file? I got a
cardano node running locally with shelley genesis only.

On Thu, Nov 5, 2020, 6:12 PM Rodney Lorrimar <notifications@github.com>
wrote:

[2020-11-05 09:17] KtorZ commented on #2296
@jbax No. Not anymore.

[2020-11-05 10:18] jbax commented on #2296
thanks!

[2020-11-05 10:18] #2296 closed, assigned to nobody

[2020-11-05 11:36] Anviking opened #2298 "Flaky TRANS_CREATE_03 - 0 balance after transaction"
# Context

# Test Case

https://github.com/input-output-hk/cardano-wallet/blob/0bf98c9e65af84702139dacc5ed0165777ff59e7/lib/core-integration/src/Test/Integration/Scenario/API/Shelley/Transactions.hs#L429-L439

# Failure / Counter-example

[code]

From custom build: https://buildkite.com/input-output-hk/cardano-wallet/builds/11719#0c39cbfa-8eac-4930-a3f1-016f08db8500, but I think I've seen it elsew

[2020-11-06 08:26] #2298 closed, assigned to nobody

[2020-11-09 11:49] Anviking opened #2304 "Flaky test - prop_putBeforeInit causing timeout"
# Context

# Test Case

https://github.com/input-output-hk/cardano-wallet/blob/970bebbf10a0a984477e14f48033757f6726ce5b/lib/core/test/unit/Cardano/Wallet/DB/Properties.hs#L608-L636

# Failure / Counter-example

stuck on
[code]

---

# Resolution

---

# QA

[2020-11-09 11:53] Anviking opened #2305 "Flaky test - prop_rollbackTxHistory causing timeout"
# Context

# Test Case

https://github.com/input-output-hk/cardano-wallet/blob/970bebbf10a0a984477e14f48033757f6726ce5b/lib/core/test/unit/Cardano/Wallet/DB/Properties.hs#L824-L880

# Failure / Counter-example

stuck on
[code]

---

# Resolution

---

# QA

[2020-11-09 14:17] Anviking commented on #2292
I wondered if this could be related to the parallelisation in some intricate way (by integration tests taking up more resources in CI).

But it seems the first failures occurred 2020-11-04 10:52 (on 7f745e74f), whereas the parallel (in buildkite) PR was merged 18:09
https://github.com/input-output-hk/cardano-wallet/commit/0bf98c9e65af84702139dacc5ed0165777ff59e7

[2020-11-09 15:05] Anviking commented on #2292
Some PRs which were merged right before (plus the source PR itself):
- #2225 (not the cause)
- #2284 (not the cause)
- #2291 (not the cause)
- #2285 (did touch DB code, but nothing related to this I think)
- #2282 (not the cause)
- #2258 (not the cause)
- #2283 (not the cause)
- #2167 (did touch DB code)

I don't really see how #2167 could explain a sharp increase in these timeouts, but it seems m

[2020-11-09 15:53] Anviking commented on #2292
`stack test cardano-wallet-core --ta '--match "removing" --qc-max-success=30000'` passes locally. I also tried some other `--match` combined with `stress --cpu 18 --io 1000 --timeout 600`, but also passed.

` stack test cardano-wallet-core --ta '--match "can\'t put before wallet exists" --qc-max-size=2000 --qc-max-success=10000'` passed as well.

- It could be possible that the first failure, befo

[2020-11-10 15:07] Anviking commented on #2304
Closing and tracking in #2292.

[2020-11-10 15:07] #2304 closed, assigned to nobody

[2020-11-10 15:10] Anviking commented on #2305
Closing and tracking in #2292

[2020-11-10 15:10] #2305 closed, assigned to nobody

[2020-11-10 15:20] Anviking commented on #2292
Interestingly, `within` didn't help. https://github.com/input-output-hk/cardano-wallet/pull/2307#issuecomment-724756977

[2020-11-11 10:33] Anviking opened #2311 "Flaky test - integration test timeout after/related to STAKE_POOLS_LIST_01"
# Context

Seen once in a normal bors failure: https://github.com/input-output-hk/cardano-wallet/pull/2297#issuecomment-723297161
But also often when trying to run integration tests repeatedly in CI: https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/711#d02cf2a8-f6e9-417a-9097-c42fc5cdd10a

And they always seem to timeout after `STAKE_POOLS_LIST_01`.

### More data

[node log](ht

[2020-11-11 12:33] Anviking commented on #2292
Another peculiar thing is that when we look at the buildkite master builds (https://buildkite.com/input-output-hk/cardano-wallet), there is only _one_ recent unit test failure. There are 13 master builds since 2020-11-04 10:52 (when we saw the first failure), but only 1 failure. I.e. a failure rate of ≈8%

The bors r+ failure rate caused by this issue has recently been something like 30%.

This wa

[2020-11-11 12:44] Anviking commented on #2288
Duplicate with #2230, _re-pointing the failures_. (Happy to see other people classifying failures and opening tickets though — thanks!)

[2020-11-11 12:44] #2288 closed, assigned to nobody

[2020-11-11 16:17] Anviking commented on #2118
Saw locally once:
[code]

[2020-11-11 16:19] Anviking commented on #2292
I ran the full `stack test cardano-wallet-core` like 3 times, and got stuck on
[code]
where the number was ticking upward _very_ slowly. Not sure if it coincided with my computer going to sleep though.

Want to try re-running more.

[2020-11-12 13:31] Anviking commented on #2280
In the commit 9f7d8fcc5995b2503aa4370902fc158fb062f89a (on master but not in a release yet) a race condition matching this description was fixed for `GET /wallets` and `GET /byron-wallets`.

Though I presume the problem remains for other endpoints.

Last week I tried writing a monadic property test for get+deleteWallet and listAddress+deleteWallet race conditions to reproduce this. I saw json 500

[2020-11-13 14:32] rvl commented on #2292
I also found it got stuck on `Sqlite State machine tests` on the third try. I was running:
[code]

I am also trying to make it fail with:
[code]
But no luck yet.

[2020-11-16 08:07] KtorZ opened #2320 "Flaky test - The node backend is unreachable at the moment."
# Context

**Bug report:** https://jira.iohk.io/browse/ADP-647

Saw only once, could just be us overloading the node due to parallel tests, especially in this region

- https://hydra.iohk.io/build/4800986
- https://hydra.iohk.io/build/5279297

# Test Case

- STAKE_POOLS_QUIT_02 from `src/Test/Integration/Scenario/API/Shelley/StakePools.hs:433`
- STAKE_POOLS_QUIT_01x

# Failure / Counter-example

[

[2020-11-16 08:52] rvl commented on #2292
I triggered it in ghci after 38 loops, but had forgotten to add noShrinking - OOM - doh!. I suspect it's a bad shrink function somewhere.

[2020-11-16 09:02] KtorZ commented on #2292
@rvl It's the same crazy shrinker as some weeks ago. Last time, I fixed the failing test but not the shrinker (couldn't find the culprit). So I guess we have a new test failure, but the same crazy shrinker.

[2020-11-17 01:58] #2169 closed, assigned to rvl

[2020-11-17 04:18] rvl commented on #2292
It seems like it could be a generator. The following test slooowly crawls along until it runs out of memory. The test never fails, and shrinking is disabled anyway.

[code]

[2020-11-17 08:04] rvl commented on #2070
There has been progress on this.
Support for the new macOS BigSur library format was merged into nixpkgs master.
Once that has been tested adequately, it will probably be backported to the nixpkgs 20.09 release branch.

[2020-11-17 15:25] Anviking commented on #2207
Something interesting I saw on the #2245 pr when running integration tests locally with lowered stdout severity (`Error`):
[code]
I didn't see any `AcquireFailurePointNotOnChain ` before SHELLEY_MIGRATE_01.

[2020-11-18 07:32] piotr-iohk opened #2328 "Flaky on Windows - BYRON_MIGRATE_01 - migrate a big wallet requiring more than one tx"
# Context

https://github.com/input-output-hk/cardano-wallet/runs/1415410584?check_suite_focus=true

# Test Case

# Failure / Counter-example

[code]

---

# Resolution

---

# QA

[2020-11-18 09:37] piotr-iohk commented on #2174
lgtm

[2020-11-18 09:37] #2174 closed, assigned to jonathanknowles

[2020-11-18 15:20] coderfromhere commented on #2070
@rvl could you point to that commit in master? I'm trying to compile my shell with a bunch of other stuff from the most recent master checkout and it fails on several python packages. As master is not guaranteed to pass all CI checks it makes it hard to trace a properly working checkout. And the more stable `nixpkgs-unstalbe` seems still to have the same linker issue.

[2020-11-18 19:15] Anviking opened #2331 "Flaky STAKE_POOLS_SMASH_01 - Waited longer than 90s to resolve action: "metadata is fetched""
# Context

Seen once so far, but think the test case is new too.

# Test Case

https://github.com/input-output-hk/cardano-wallet/blob/a604358b6c204fe495a082f1c8f0634bdacd5220/lib/core-integration/src/Test/Integration/Scenario/API/Shelley/StakePools.hs#L1101-L1139

# Failure / Counter-example

[code]

---

# Resolution

---

# QA

[2020-11-19 01:20] stakelovelace opened #2333 "Incomplete pool list while trying to retrieve a list of pools using latest cardano-node master via cardano-wallet API"
I downloaded latest master build of cardano-wallet for Mac and Linux (e.g. https://hydra.iohk.io/build/4676806), then compiled latest cardano-node (master branch) as of 3 Nov.

./cardano-wallet version
2020.10.13 (git revision: c9690481e35c9d8f422c80ea8bc0293a758eb6ac)

~/.cabal/bin/cardano-node version
cardano-node 1.22.1 - linux-x86_64 - ghc-8.6
git rev 964811d

Once cardano-node was started and

[2020-11-19 02:40] jonathanknowles opened #2334 "nix-shell fails with error relating to XDG_DATA_DIRS"
# Context

When running a build command with `nix-shell` within a freshly checked-out `cardano-wallet` repository on an Ubuntu 18.04.5 LTS machine, it fails with an error relating to `XDG_DATA_DIRS`.

# Environment

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | `master` (b3d504ee81c

[2020-11-19 06:23] rvl commented on #2070
@coderfromhere Unfortunately it's not a simple matter of building the master branch of something. The whole nixpkgs stdenv needs to be rebuilt, because apple have changed the way libraries are linked. The cardano-wallet build for macos needs to be based on this updated stdenv. So we need to wait for the macos bigsur fix to be tested and backported to the nixpkgs release-20.09 branch. Then we need

[2020-11-19 07:14] piotr-iohk commented on #2333
This is most likely because the cardano-node was still syncing through the Byron era at the time of attempting to list pools. In such case this message is expected. Please wait until cardano-node and cardano-wallet are fully synced and then list pools again.

You'll know that cardano-wallet is fully synced when:

[code]

Also, please note that latest (master) cardano-node may not always be compati

[2020-11-19 07:33] rvl commented on #2334
Hi @jonathanknowles - what OS are you using and what nix version?
I tested it with Ubuntu 20.04.1 and Nix 2.3.8 and did not get any errors.

[2020-11-19 07:53] jonathanknowles commented on #2334
Hi @rvl

I originally wrote this in the description:

Perhaps it's worth upgrading the instance to 20.04.0.1 LTS.

[2020-11-19 08:00] jonathanknowles commented on #2334
As for the `nix` version:

I'm attempting to upgrade it right now.

[2020-11-19 08:03] jonathanknowles commented on #2334
Upgraded to nix version 2.3.8, and the problem goes away.

Thanks @rvl for looking at this.

[2020-11-19 08:03] #2334 closed, assigned to nobody

[2020-11-19 09:53] stakelovelace commented on #2333
Thanks piotr - the cardano-node was definitely in sync with the mainnet, as evidenced by the cardano-cli shelley query tip and comparing with the main Shelley explorers. I will try out your network/information command as well as check the matrix - thanks.

[2020-11-19 10:19] KtorZ commented on #2333
see also: https://github.com/input-output-hk/cardano-node/issues/2067

This is probably because 1.22.1 is 'aware of' Mary and Allegra eras, that are after Shelley. So Shelley no longer is the last era of Cardano and the wallet is mistakenly interpreting errors from the time interpreter as being "past the horizon".

[2020-11-19 10:20] KtorZ commented on #2333
@stakelovelace stick to 1.21.1 until we're done with: https://github.com/input-output-hk/cardano-wallet/pull/2245

[2020-11-19 11:36] stakelovelace commented on #2333
Thanks for the heads up, will keep an eye on the referenced issue until that merge is complete.

[2020-11-19 11:40] jonathanknowles commented on #2118
Seen again here: https://github.com/input-output-hk/cardano-wallet/pull/2335#issuecomment-730285682

[2020-11-19 14:18] jonathanknowles opened #2337 "STAKE_POOLS_GARBAGE_COLLECTION_01 timed out"
# Context
- [18 Nov 2020](https://github.com/input-output-hk/cardano-wallet/pull/2329#issuecomment-730015347)
- [19 Nov 2020](https://github.com/input-output-hk/cardano-wallet/pull/2335#issuecomment-730383980)
- [23 Nov 2020](https://github.com/input-output-hk/cardano-wallet/pull/2338#issuecomment-732079909)
- [23 Nov 2020](https://github.com/input-output-hk/cardano-wallet/pull/2338#issuecomment-7

[2020-11-20 14:14] rvl commented on #2292
Profiling the stuck test above shows that most time is spent in `instance Arbitrary GenTxHistory (arbitrary)` before it runs out of heap space.
I already disabled the obvious one (TxMetadata), but that is not the cause.

[2020-11-22 22:01] jbax opened #2340 "Can't start process on Windows 10 - DeserialiseFailure 2 "codecHandshake.Confirm: unexpected key""
# Context

Started cardano-node with this:

[code]

Then cardano-wallet with this:

[code]

The cardano-wallet process fails almost immediately with:

[code]

If I stop the node and delete the `socket.path` file, the cardano-wallet starts and tries to connect.

Then, if I start the `cardano-node` again, the `cardano-wallet` doesn't connect to the node but keeps retrying.

| Information  | -

[2020-11-23 05:38] rvl commented on #2340
Hi @jbax,

First off, the environment variable `CARDANO_NODE_SOCKET_PATH` is not used by `cardano-wallet`, nor `cardano-node`. It's entirely up to the `cardano-wallet serve --node-socket` and `cardano-node run --socket-path` arguments. This variable is however used by some `cardano-cli` commands.

You seem to have some NTP errors, but these are non-fatal, usually caused by lack of network connecti

[2020-11-23 06:06] jbax commented on #2340
Cardano node version:

[code]

Downloaded from the release package here: https://github.com/input-output-hk/cardano-wallet/releases/tag/v2020-11-03

There is no issue with network connectivity from what I can tell. It seems that the NTP error pops up from the second run onward. First run after a system restart doesn't show that NTP error. Killing the process and starting it again makes that NTP me

[2020-11-23 07:39] rvl commented on #2340
Thanks @jbax - that's the correct version - we will need to investigate further.

[2020-11-23 07:59] jbax commented on #2340
I got this setup in a (rather large) virtualbox VM, happy to share that if you are unable to reproduce.

[2020-11-23 08:45] piotr-iohk commented on #2340
@jbax please try to replace `C:\Users\jbax\Downloads\blockchain\node.socket` with `\\.\pipe\cardano-node-mainnet`:

[code]

On Windows named pipes should be used as socket paths actually.

[2020-11-23 10:15] rvl commented on #2340
Thanks @piotr-iohk - I totally forgot about that.

I have updated the CLI page on the wiki too - https://github.com/input-output-hk/cardano-wallet/wiki/Wallet-command-line-interface#domain-socketnamed-pipe

[2020-11-24 06:18] jbax commented on #2340
@piotr-iohk Thanks that worked like a charm!

[2020-11-24 06:18] #2340 closed, assigned to nobody

[2020-11-24 13:22] Anviking commented on #2337
Interestingly, in https://github.com/input-output-hk/cardano-wallet/pull/2338#issuecomment-732818214, the STAKE_POOLS_GARBAGE_COLLECTION_01 test was marked pending, but there was still a similar-looking timeout.

This would suggest that STAKE_POOLS_GARBAGE_COLLECTION_01 itself is never the cause for the timeout.

Another peculiarity is that our custom `it` function _should_ have a timeout of 10 mi

[2020-11-24 16:06] Anviking commented on #2337
In the wallet logs from https://github.com/input-output-hk/cardano-wallet/pull/2338#issuecomment-732818214, we see that the final hour is spent making no other requests but `/v2/stake-pools`:
[code]

[2020-11-24 18:07] Anviking commented on #2337
Some more messier notes:
- I am seeing an alarming amount of AcquireFailurePointNotOnChain
    - Reducing parallelism doesn't seem to help
    - Mostly for TipSyncClient, but also for delegation client
    - Does increasing slot-length help?
    - I saw it get stuck around stake pool tests. And printing AcquireFailurePointNotOnChain. Not sure why.
    - Seems acquire failures start when entering t

[2020-11-25 07:40] jbax opened #2344 "Valid TLS certificate won't work"
# Context

I'm generating self-signed certificates using Java's keytool and they work fine when used on a regular web server, however, the same certificate files somehow are not accepted when a Java client code connects to the cardano-wallet when I start it with the following parameters:

[code]

Whenever I try to invoke an endpoint such as `/v2/network/clock`, the following message will show up i

[2020-11-25 08:39] #2276 closed, assigned to nobody

[2020-11-25 08:42] KtorZ commented on #2344
@jbax are you using client TLS certificates ?

[2020-11-25 09:05] KtorZ commented on #2344
To clarify: this TLS mechanism is really only intended to secure a connection between a local client and a local server (e.g. in the context of Daedalus). Because the backend uses TCP on localhost, it's quite easy for another program to spoof either the client or the server.

So, one has the option to tunnel the connection between the client and the server through TLS, in which case, certificates

[2020-11-25 09:26] jbax commented on #2344
The certificates are generated to have what we get when daedalus starts up. Is there any documentation on what sort of certificate exactly the cardano-wallet expects?

[2020-11-25 09:56] KtorZ commented on #2344
No. I don't think these options should be visible from the command-line anyway. They really are for internal use in the Daedalus installation and not suitable for a wider use of TLS.

[2020-11-25 09:58] KtorZ commented on #2344
If anything, certificates are generated from: https://github.com/input-output-hk/cardano-sl-x509 and this particular bit of code is fairly transparent about what is expected from each certificate: https://github.com/input-output-hk/cardano-sl-x509/blob/12925934c533b3a6e009b61ede555f8f26bac037/src/Cardano/X509/Configuration.hs#L273-L355

[2020-11-25 10:20] jbax commented on #2344
Perfect, that code is documentation enough. I'll try again and see how it goes. I'm also targeting local wallet to local client.

[2020-11-26 08:00] jbax commented on #2344
Ok I finally managed to make this work. The error shows up depending on the certificate format and by simply changing a certificate generation library, the error went away.

I'm closing this because I solved my issue, but just letting you know that it seems your certificate handling might have some limitations: if I simply change the encryption to ecdsa256 instead of rsa2048 (which is old AF) this

[2020-11-26 08:00] #2344 closed, assigned to nobody

[2020-11-26 08:26] KtorZ commented on #2344
That is correct, the server does some strict validation of the certificates. We never really intended this to be used by a wider audience so either we need to document it properly in the wiki, or to hide the options from the command-line.

[2020-11-26 11:06] Anviking opened #2350 "Integration tests failing with `malloc(): invalid size`"
# Context

https://github.com/input-output-hk/cardano-wallet/pull/2297#issuecomment-724042525
https://github.com/input-output-hk/cardano-wallet/pull/2348#issuecomment-734228245

# Test Case

Since ADDRESS_IMPORT_04 was the last succeeding test, it would seem that it is stuck on ADDRESS_IMPORT_05:
[code]

# Failure / Counter-example
E.g.
[code]

Last successful test `ADDRESS_IMPORT_04 - I can impor

[2020-11-27 10:26] piotr-iohk commented on #2170
Resolved with #2348.

benchmark results on branch -> https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/743.

E.g.:

1-wallets-to-0.1:
"estimateFeesTime":"8.950 ms"
used to be = 9.975 s

100-wallets-to-0.01:
"estimateFeesTime":"117.2 ms"
used to be = 19.7 s

[2020-11-27 10:26] #2170 closed, assigned to nobody

[2020-11-30 12:05] hasufell commented on #2118
https://buildkite.com/input-output-hk/cardano-wallet/builds/12201#551d00fe-857e-45a4-96eb-df60a02a37f5

[code]

[2020-12-02 02:03] jonathanknowles opened #2360 "Flaky test: Cardano.Wallet.DB.Sqlite.DBFactory removeDatabase waits for connections to close"
# Context

This failure was seen in the following overnight test runs of the entire `cardano-wallet-core:test:unit` test suite:

| Test<br>Date<br> | Wallet<br>Version<br> | Run<br>Count<br> | Failure<br>Count<br> | Failure<br> Rate<br> |
| -- | -- | --: | --: | --: |
| 2020-12-02 | 9899d9cf | 100 | 7 | 7% |
| 2020-12-04 | ec22c1ba | 48 | 9 | 19% |

 # Test Case

`/Cardano.Wallet.DB.Sqlite/DBFacto

[2020-12-02 02:09] jonathanknowles opened #2361 "Flaky test: Cardano.DB.Sqlite.Delete.RefCount waitForFree waits for withRef to finish"
# Context

This test failed **10%** of the time, when measured over **100 runs** of the entire `cardano-wallet-core` unit test suite.

# Test Case

`/Cardano.DB.Sqlite.Delete/RefCount/waitForFree waits for withRef to finish/`

# Failure / Counter-example

[code]

---

# Resolution

---

# QA

[2020-12-02 22:57] stakelovelace commented on #2333
@KtorZ downloaded latest cardano-wallet buid from Hydra, ran it against 1.23 release node, for some reason 757 entries returned even though cardano-wallet standard output said "Fetched pool data from node tip using LSQ. Got 1343 pools in the stake distribution, and 1374 pools in the non-myopic member reward map.". Any ideas?

[2020-12-03 01:41] rvl commented on #1888
Eval times are now about 1/3 of what they were.
Still not great, but closing this for the time being.

[2020-12-03 01:41] #1888 closed, assigned to rvl

[2020-12-03 08:54] KtorZ commented on #2333
Note that the wallet is not integrated with 1.23, though I wouldn't expect any issue in that area.

Was the stake pool background worker fully synced with the network (you can see this from the logs on the standard output)?

[2020-12-03 09:20] stakelovelace commented on #2333
curl http://localhost:8090/v2/network/information | jq .sync_progress.status
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   390    0   390    0     0  30000      0 --:--:-- --:--:-- --:--:-- 30000
"ready"

[cardano-wallet.pools-engine:Info:36] [2020-12-03 09:19:17.13 UTC] Applying b

[2020-12-03 13:50] KtorZ commented on #2333
Well, you're counting the number of pools that have metadata, not the total number of pools!

[2020-12-04 01:50] stakelovelace commented on #2333
Over 1200 pools that aren't retired have metadata, I am not sure I understand your point... my own pool (AAA) is not being included in the returned data and it clearly has metadata.

[2020-12-04 03:55] jonathanknowles opened #2368 "Flaky test: Network.Wai.Middleware.Logging, Logging Middleware, different request ids"
# Context

This failure was seen in the following overnight test runs of the entire `cardano-wallet-core:test:unit` test suite:

| Test<br>Date<br> | Wallet<br>Version<br> | Run<br>Count<br> | Failure<br>Count<br> | Failure<br> Rate<br> |
| -- | -- | --: | --: | --: |
| 2020-12-04 | ec22c1ba | 48 | 1 | 2% |

# Test Case

`Network.Wai.Middleware.Logging, Logging Middleware, different request ids`

[2020-12-04 18:00] ghost opened #2371 "Can't submit metadata via wallet API"
# Context

Problem: When trying to submit a transaction using cardano-wallet API, if the transaction includes metadata the metadata is not posted to the blockchain along with the transaction.

Documentation: https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/postTransaction

Results: After submitting a successful transaction (ie, no errors about malformed metadata or any other is

[2020-12-07 02:54] stakelovelace commented on #2333
So the issue seems to be specifically the metadata information is returned for a subset of pools, while the actual number of ids returned seemed okay. I've never used any SMASH-related urls when running wallet locally or when invoking the API call so not sure what's going on there (i.e. how I can end up with half of the pools with tickers and half without)

[2020-12-07 08:19] KtorZ commented on #2333
@stakelovelace many pools are serving metadata different from what they said to have registered. The wallet does check whether metadata registered on-chain matches the metadata served by pools servers. If the hash does not match, the metadata is considered invalid and is not stored.

[2020-12-07 09:39] Anviking commented on #2292
Seems gone now.

[2020-12-07 09:39] #2292 closed, assigned to rvl

[2020-12-07 11:22] rvl commented on #2371
Hi @coconutpool - thanks for the report, and sorry that it's not working for you.

I can't reproduce your issue with cardano-wallet v2020.11.26.

For example, I have sent you a transaction with metadata, and this is what was the API response was:

[code]

Also, please note that cardano explorer does not show transaction metadata. But the next version will.

However, the cardano-wallet transactions

[2020-12-07 13:13] Anviking opened #2372 "Flaky: Various failures due to PastHorizonException from DB"
# Context

We saw a sharp uptick in failures when bumping the node to include the Allegra era. There were PastHorizonExceptions from the DB in many of the failures.

Slack thread: https://input-output-rnd.slack.com/archives/GBT05825V/p1607339108011300

# Test Case

Multiple. A lot of the times: migration tests of big wallets.

# Failure / Counter-example

First we se these in the normal test outpu

[2020-12-09 13:59] hasufell commented on #2118
I think this is fixed, isn't it?

[2020-12-09 14:27] Anviking commented on #2118
We've not seen it recently, so yes, hopefully #2357 fixed it 👍

Closing, can re-open if we do see again.

[2020-12-09 14:27] #2118 closed, assigned to nobody

[2020-12-09 14:29] Anviking commented on #2372
Solved through

[2020-12-09 14:29] #2372 closed, assigned to Anviking

[2020-12-09 15:20] hasufell commented on #2280
@Anviking so can this and ADP-536 be closed for now?

[2020-12-09 15:22] Anviking commented on #2280
I don't think so.

[2020-12-09 15:58] KtorZ commented on #2280
@hasufell unfortunately no. Quite easy to reproduce locally if you create a scenario that create and delete wallets concurrently. At some point, everything turns red and thread starts interleaving fatal errors from SQLite in the least readable way possible.

[2020-12-10 13:27] KtorZ commented on #2226
Tracked as: https://jira.iohk.io/browse/ADP-609

[2020-12-10 13:27] #2226 closed, assigned to rvl

[2020-12-10 13:29] KtorZ commented on #2070
Moved to JIRA: https://jira.iohk.io/browse/ADP-610

[2020-12-10 13:29] #2070 closed, assigned to nobody

[2020-12-10 13:32] tscholak commented on #2070
My condolences 😜

[2020-12-10 13:36] KtorZ commented on #1955
Moved to; https://jira.iohk.io/browse/ADP-611

[2020-12-10 13:36] #1955 closed, assigned to KtorZ

[2020-12-10 13:38] KtorZ commented on #1743
Moved to: https://jira.iohk.io/browse/ADP-612

[2020-12-10 13:38] #1743 closed, assigned to nobody

[2020-12-10 13:39] KtorZ commented on #1733
Moved to: https://jira.iohk.io/browse/ADP-613

[2020-12-10 13:39] #1733 closed, assigned to nobody

[2020-12-10 13:40] #1984 closed, assigned to jonathanknowles

[2020-12-10 13:41] #1986 closed, assigned to nobody

[2020-12-10 13:41] #2042 closed, assigned to Anviking

[2020-12-10 13:41] KtorZ commented on #2042
Tracked as: https://jira.iohk.io/browse/ADP-410

[2020-12-10 13:42] KtorZ commented on #2070
:sob: ...

[2020-12-10 17:10] dorranh opened #2388 "Missing documentation for client TLS cert extensions"
`cardano-wallet` supports TLS, but places a restriction on client x.509 certificates that they set their purpose to `clientAuth` (https://github.com/input-output-hk/cardano-wallet/blob/master/lib/core/src/Cardano/Wallet/Api/Server/Tls.hs#L44).

Submitting requests with a client certificate signed by the proper CA but with additional purposes enabled yields a fairly uninformative error message on t

[2020-12-11 09:51] rvl commented on #2388
Hi @dorranh - thanks for the report. That error message suggests that your client certificate is not X509.V3.
What does `openssl x509 -in client.crt -text | grep Version` say about it?

[2020-12-11 10:51] dorranh commented on #2388
Hi @rvl, thanks for the tip. The failing certificate was indeed V1 x509. It looks like I was conflating things since openssl (v1.1.1) by default creates a V1 x509 certificate but generates a V3 certificate when you specify additional extensions. Forcing V3 (by passing an empty extensions config, e.g. `openssl x509 -extfile foo.cnf`) makes things work.

Also, after reading the docs for the validati

[2020-12-11 13:32] ghost commented on #2371
I got it. It took awhile, but I didn't realize just how limited and specific the metadata has to be in order to submit it via the wallet.

I've discovered that while you can submit ANYTHING that's JSON via the command line (cardano-cli) you can ONLY submit very specialized formatted metadata from the wallet.

Personally I think that's dumb. I've been told it's to prevent "spam" from meta transacti

[2020-12-11 14:13] rvl commented on #2371
With `cardano-cli --json-metadata-no-schema`, it will convert "any" json into the on-chain metadata format. The conversion is automatic, but the results on chain might not be what you expected!!

Use the programming language of your choice to convert your data to and from the wallet tx metadata format. The tx metadata format used by the cardano-wallet API maps directly to how transactions are enco

[2020-12-11 14:37] KtorZ commented on #2371
As @rvl pointed out, one can convert any JSON into binary on-chain metadata, but you cannot convert any binary on-chain metadata back to JSON. So instead of converting any arbitrary JSON value and risking breaking client applications which would be rightfully expecting to see the same metadata reported to them as they posted it, we've opted for a safer approach and use JSON to _describe_ what the

[2020-12-11 14:37] #2371 closed, assigned to rvl

[2020-12-11 16:14] ghost commented on #2371
I don't want to use the command line, that's why I am specifically using the wallet API and not the command line (I mean yes, technically I can use the command line, but that's not what I'm trying to do here).

How do I "describe" the metadata then? What does that even mean? Like do I say I'm think of a number between 1 and 10 instead of giving an actual number? Like come on, help me out here so I

[2020-12-11 16:41] KtorZ commented on #2371
You have linked the [API documentation](https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/postTransaction) above so I assume that you have read it and in particular the bits regarding `metadata` in transactions. The key take-aways are:

- Metadata should be defined as object where top-level keys are positive integers.
- Each object pointed by a top-level key must be made using o

[2020-12-11 18:30] Anviking opened #2393 "Flaky test: Validate generators & shrinkers, Shrinker for CreateWallet"
# Context

`Validate generators & shrinkers` was added recently in #2354, to catch problems with our shrinkers and generators. Seems the CreateWallet one is now failing.

https://github.com/input-output-hk/cardano-wallet/pull/2357#issuecomment-740124434
https://github.com/input-output-hk/cardano-wallet/pull/2382#issuecomment-742453481

Perhaps this could be the underlying cause for #2394 too.

# T

[2020-12-11 18:34] Anviking opened #2394 "Flaky test: "Can rollback to any arbitrary known checkpoint" times out"
# Context

https://github.com/input-output-hk/cardano-wallet/pull/2375#issuecomment-740589546
https://github.com/input-output-hk/cardano-wallet/pull/2375#issuecomment-740549051

Could have a similar cause as #2393

# Test Case

https://github.com/input-output-hk/cardano-wallet/blob/master/lib/core/test/unit/Cardano/Wallet/DB/Properties.hs#L776-L809

# Failure / Counter-example

[code]

---

# Reso

[2020-12-11 18:43] ghost commented on #2371
I get that now, it's not super clear that that is literally the only thing it accepts in that format. Especially since having done transactions with the CLI and getting entirely different results I think you can understand how frustrated I feel.

So help me out and show me  how you tell somebody what "14" means or what it's related to if all I can say is in the meta is "int:14".

Am I just suppose

[2020-12-11 20:41] KtorZ commented on #2371
@coconutpool I can't write your application for you. If you have specific questions about the format or the structure of metadata themselves, we will answer them. The wiki is [full of examples](https://github.com/input-output-hk/cardano-wallet/wiki/TxMetadata#examples), and include an example for each of the primitive.

1. I'll start by looking at [CIP-0010](https://github.com/cardano-foundation/C

[2020-12-11 21:11] ghost commented on #2371
I don't need you to do anything for me, I just want to understand what I'm working with since it's obviously only clear to you and your documentation is frustratingly vague to the non-devloper. Also it would be helpful to maybe include a link to the wiki in the API docs since it is slightly more helpful than what you post there and I didn't know about that until now.

So if I wanted to explicitly

[2020-12-11 21:20] ghost commented on #2371
If you want average people to build apps and dApps on Cardano you're going to need to seriously improve the documentation because it sucks.

[2020-12-11 22:08] KtorZ commented on #2371
Ok thanks for your feedback.

[2020-12-12 21:27] ghost commented on #2371
I appreciate everyone's help and I get it now. I would like to take a second to make a suggestion after having a minute to look back on how frustrating things were. I think the most confusing part of the whole thing is in the examples of how the metadata is formed (as seen in the API docs, not the wiki). The problem to me was that it all looks like "placeholder" data. When i read it and i see "str

[2020-12-14 08:42] rvl commented on #2371
Hi @coconutpool - yes I see what you're saying. In the API docs, there is not adequate space to provide an explanation, examples, etc. This needs to be fully documented in the user guide, and then the API docs should link to that.

[2020-12-14 09:25] skazichris opened #2395 "How can I restore wallet from secret.key file from daedalus 0.15.1"
I got your contact from Nikola Glumac.

I understand that you're the right team to contact in terms of older cardano wallets.
Would you happen to be so kind and review the following subject?
https://github.com/input-output-hk/daedalus/issues/1234#issuecomment-734457593

Long story short:
There are plenty of users stuck on the 0.15.1 daedalus wallet
which suddenly stopped working and our ADA funds

[2020-12-14 11:25] Anviking commented on #2218
The integration tests looks pretty simple, I'd guess the problem isn't there.

This should be the responsible function:
[code]
There _is_ an `atomically`.

I'm guessing though, that `importRandomAddresses` might inherently not work with rollbacks? The addresses are saved to a _new_ checkpoint, which is thrown a way on rollback.

I'm guessing changing that would be pretty complex. And low priority,

[2020-12-14 14:59] KtorZ commented on #2218
@Anviking the point of the `atomically` is also to prevent rollbacks from affecting this function. As soon as `importRandomAddresses` is given access to the database, no rollback can happen until it has completed (because the restoration loop will pause).

The problem may not be in this function but somewhere else, a function that would read and update a checkpoint in two separate `atomically`, wh

[2020-12-14 15:09] Anviking commented on #2218
I know. But if `importRandomAddresses` merely inserts addresses to the latest checkpoint, then this doesn't matter. The rollback will wait, and _then_ remove the checkpoint with the new addresses.

I'm thinking something like this:
[code]

[2020-12-14 15:39] KtorZ commented on #2218
Ouch. Yes. Because addresses are then added only at a recent slot which gets dropped with the rollback. That's quite bad and a pretty major issue.

[2020-12-31 09:45] vkconsult commented on #2296
Ran into the same issue. The error message could be more specific in this came imo.

[2020-12-31 13:07] KtorZ opened #2414 "(Instance of #2855) Flaky Test: COMMON_CLI_NETWORK, CLI_NETWORK - cardano-wallet network information"
# Context

- #2370

# Test Case

`CLI Specifications, COMMON_CLI_NETWORK, CLI_NETWORK - cardano-wallet network information`

# Failure / Counter-example

[code]

[2020-12-31 13:09] #2220 closed, assigned to nobody

[2020-12-31 13:10] #2328 closed, assigned to nobody

[2020-12-31 13:10] #2360 closed, assigned to jonathanknowles

[2020-12-31 13:10] #2207 closed, assigned to nobody

[2020-12-31 13:10] #2361 closed, assigned to nobody

[2020-12-31 13:30] #2333 closed, assigned to nobody

[2020-12-31 13:31] KtorZ opened #2415 "Flaky Test: STAKE_POOLS_JOIN_01rewards, Can join a pool, earn rewards and collect them"
# Context

- #2370 ( https://hydra.iohk.io/build/5250461/nixlog/1/tail )

# Test Case

`STAKE_POOLS_JOIN_01rewards`

# Failure / Counter-example

[code]

[2021-01-01 13:23] brandyandy30 commented on #2058
Hello together,

I am new to Git and not much of a developer ( a bit rusty experience in C#).

It seems i got the exact same Problem but in mainnet with my real ADA.
As i tend to be a real HODLER i had it 3 years on paper.....

[code]
Version 3.00 Daedalus , Node Version 1.24.2
My last resort is i would try to send ADA to Exchanges and sell there but they probably all updated to Shelley Wallets a

[2021-01-01 15:48] KtorZ commented on #2058
@brandyandy30 it seems as if you're trying to redeem Ada which were given away as part of the initial funding. The wallet does not support this anymore. You need to get in touch with the Cardano Foundation for redeeming these old certificates.

[2021-01-01 15:56] brandyandy30 commented on #2058
Hello Guys,
thanks for Info, but it seems its solved now just with waiting. So i think the transaction was somehow stuck, my wallet now shows the transaction is successfull, i have the ADA at the shelley wallet now....
So for me the Issue is solved i won`t use the Byron wallet anymore. But in general ( as i defintely got the error like you can see at my logs) it might be still an Issue for "old" B

[2021-01-04 04:22] hasufell commented on #2415
Is this the same? https://buildkite.com/input-output-hk/cardano-wallet/builds/12747#e17ab417-994b-4af3-9186-09aec0959bc4

[code]

[2021-01-04 05:47] rvl commented on #2415
It seems likely. I have also had various stake pools tests fail like this locally.

[2021-01-04 07:30] mkr-j commented on #2395
I am in a similar situation as skazichris. Looking forward to support from the dev team in restoring access to the stuck ADA coins. Re-enabling the import wallet feature to allow access through the secret.key file would be great.

Appreciate the help!

[2021-01-04 08:13] KtorZ commented on #2395
Questions for both of you @skazichris and @mkr-j:

- What operating system are you on / familiar with?
- What is your level of expertise in IT?

[2021-01-04 10:29] mprymek commented on #2395
I'm in the same situation.

Linux, MacOS. Can use Windows if it's absolutely necessary :)

Masters degree in computer science. Basic knowledge of Haskell. Good knowledge of Python, Go, C. For me personally, a good specification of secrets.key file format and a process how to obtain private keys or a wallet phrase from it could be enough.

[2021-01-04 12:40] KtorZ commented on #2395
@mprymek have a look at: https://github.com/input-output-hk/cardano-sl/pull/4278#issuecomment-600553878, there's a pre-compiled binary which should work on any GNU linux. This however requires that you still have access to the old wallet database AND the secret key file. The tool will extract all known encrypted keys from the keystore and spit them in a nicer JSON format.

There has been a few add

[2021-01-04 15:15] mprymek commented on #2395
Thanks a lot, @KtorZ. I think I have a backup of the acid-state db too but must find it and restore somewhere. And also recall the master password. Will take a while I'm afraid :)

[2021-01-05 05:24] mkr-j commented on #2395
I am on Windows. I've done some basic coding in the long past but generally am not too familiar with non-GUI operations. With some guidance, however, I'd be willing to attempt something a little more complex.

I do remember the encryption phase, but I do not see an acid-state database. My Daedalus version is 1.0.3769, wallet 0.8.2. Is the tool you referenced expected to work with this version of t

[2021-01-05 12:17] rvl commented on #2415
Aside from that error message, this test case is inherently flaky.

If epoch rollover happens just after the rewards withdrawal transaction is submitted, then new rewards accrue before the test case can check that previous rewards were withdrawn.

Symptom of this is:
[code]

[2021-01-06 10:25] rvl commented on #2217
I saw this failure on a recent master commit 6194a931374d0376b2d24aa2dd8e99b470b46184.

https://hydra.iohk.io/jobset/Cardano/cardano-wallet#tabs-evaluations
https://hydra.iohk.io/job/Cardano/cardano-wallet/native.checks.cardano-wallet-core.unit.x86_64-darwin#tabs-status

Disabling the test is probably a reasonable thing to do for now.

I forgot @KtorZ, are we tracking flakies in github or jira?

[2021-01-06 10:28] KtorZ commented on #2217
Github @rvl, as per: https://input-output.atlassian.net/wiki/spaces/AD/pages/1824292925/Strategy+to+fix+flaky+CI+test+failures

[2021-01-07 07:59] KtorZ opened #2426 "Flaky: SHELLEY_TRANSACTIONS/TRANS_LIST_RANGE_xx"
# Context

https://hydra.iohk.io/build/5278704

# Test Case

`SHELLEY_TRANSACTIONS/TRANS_LIST_RANGE_02 `

# Failure / Counter-example

[code]

[2021-01-07 08:08] KtorZ opened #2427 "Flaky: ProcessHasExited "cluster didn't start correctly"
# Context

https://hydra.iohk.io/build/5275648

# Test Case

N/A - error during local test cluster setup before tests.

# Failure / Counter-example

[code]

[2021-01-07 08:52] KtorZ commented on #2218
Not flaky but a real issue: [ADP-619](https://jira.iohk.io/browse/ADP-619)

[2021-01-07 08:52] #2218 closed, assigned to nobody

[2021-01-07 09:16] #2224 closed, assigned to Anviking

[2021-01-07 09:16] #2230 closed, assigned to nobody

[2021-01-07 09:16] #2311 closed, assigned to Anviking

[2021-01-07 09:16] #2350 closed, assigned to nobody

[2021-01-07 09:16] #2394 closed, assigned to nobody

[2021-01-07 09:19] KtorZ opened #2428 "(Instance of #2855) Flaky: HW_WALLETS_01x - Restoration from account public key preserves funds"
# Context

https://hydra.iohk.io/build/5280393

# Test Case

SHELLEY_CLI_HW_WALLETS/HW_WALLETS_01x

# Failure / Counter-example

[code]

[2021-01-07 09:20] KtorZ opened #2429 "(Instance of #2855) Flaky: SHELLEY_CLI_WALLETS, WALLETS_UTXO_02 - Utxo statistics works properly"
# Context

https://hydra.iohk.io/build/5280393

# Test Case

SHELLEY_CLI_WALLETS, WALLETS_UTXO_02 - Utxo statistics works properly

# Failure / Counter-example

[code]

[2021-01-07 11:32] Anviking opened #2430 "Flaky TRANS_LIST_RANGE_03 / TRANS_LIST_RANGE_01"
# Context

https://github.com/input-output-hk/cardano-wallet/pull/2370#issuecomment-753741824

# Test Case

https://github.com/input-output-hk/cardano-wallet/blob/c8ac57faea0e9d9a9bee21a498ee678c997f176e/lib/core-integration/src/Test/Integration/Scenario/API/Shelley/Transactions.hs#L2088-L2096

# Failure / Counter-example

[code]

---

# Resolution

---

# QA

[2021-01-07 11:46] rvl commented on #2427
It looks as if the pool nodes were running and the `cardano-cli transaction submit` commands succeeded.
But either the registrations didn't work, or checking for stake distribution didn't work.
It's impossible to know without Info level logging.

I double checked the minor exception handling fix that I recently made to `withCluster`. The changes just ensured that when exiting, the cluster nodes ar

[2021-01-07 12:29] rvl commented on #2320
@KtorZ That error message is a big red herring.
There is no evidence that the node backend is unreachable.
All it means is that some LSQ returned some kind of failure.
We should review and merge #2419 as a matter of urgency, so that we stop seeing this error message, and instead have enough information logged so that we can debug the failure.

[2021-01-07 15:55] KtorZ commented on #2320
@rvl I agree. The error message isn't really helpful as it is but I am pretty convinced that it would suffice to retry the `stakeDistribution` query after re-acquiring a more recent point.

[2021-01-08 03:47] rvl commented on #2427
I was repeating a test case locally and found this error on the 68th run.
The log message was:
[code]
So a timing issue.

We will be using InstaFork™ technology once #2400 is merged, so I think it's safe to not bother fixing this.

[2021-01-08 08:45] mprymek commented on #2395
@KtorZ I have some findings, probably not very good for me...

Sidenote: It doesn't work on "any" Linux distribution. It's dynamically linked and at least `librocksdb.so.5.8` is a little bit problematic. It's not available in Ubuntu 20.04. I found it's available in Ubuntu 18.04.

I can confirm it's working on Ubuntu 18.04:
[code]

But i found the original Daedalus version I have a backup of, was p

[2021-01-08 10:05] mikestead opened #2433 "OpenAPI transaction metadata docs don't warn about PII"
# Context

If a developer submits personally identifiable information (PII) to the blockchain there's no way to reverse it and the repercussions could be significant.

## Essential Information

The OpenAPI docs around [transaction creation](https://github.com/input-output-hk/cardano-wallet/blob/master/specifications/api/swagger.yaml#L798), while thorough, don't warn about submitting PII metadata t

[2021-01-08 10:15] rvl commented on #2433
Thanks for the suggestion @mikestead. I think we should note the PII issue in the OpenAPI docs.

ADP-646

[2021-01-09 04:37] rdlrt commented on #2395
Just to add, it's probably something zendesk support should have heaps of tickets above, but we have tons of users reporting on telegramnover past few months who - do not seem to have read the warnings and have their funds locked due to missing 12 word seed.

Atleast for those that have the spending password available, it would be really helpful if there's a published way from IOG to use as a work

[2021-01-09 11:29] devilus commented on #2395
Hello @KtorZ and @mprymek
I can confirm that unfortunately export-wallets-qa util doesn't works.

[code]

[2021-01-09 12:44] PegasusPool opened #2434 "Missing address and amount fields from Tx Inputs"
# Context

## Essential Information

 - **Version**:      2020.12.21 (git revision: 62df413064605323d59ef1816cb223b13b9ce386)
 - **Platform**:     Ubuntu 20.04
 - **Installation**: Binary from GitHub release page
 - **Network**:      mainnet

[code]

# Steps to Reproduce

1. Generate a 24 words passpharse using cardano-wallet
2. Create a wallet using the generated passphrase
3. Send some ADA from

[2021-01-09 13:07] KtorZ commented on #2434
Nope, this behavior is correct. We can only populate these fields for **outgoing** transactions (and in some rare cases, for some incoming). The reason being that in order to lookup which address and amount correspond to any arbitrary input, one needs an access to the entire ledger. However, the wallet does not maintain a complete ledger but only a subset narrowed down to the assets belonging to t

[2021-01-09 13:07] #2434 closed, assigned to nobody

[2021-01-09 13:07] KtorZ commented on #2434
I thought the API documentation was already making this clear though.. We might want to revise this a bit.

[2021-01-09 13:11] PegasusPool commented on #2434
Thank you for the clarification. I thought something like this is the case.
I'm wondering though how it's possible for Daedalus and Yoroi wallets to show the sender on an incoming transaction. What do you suggest for my usecase? Using cardano-db-sync instead to listen blocks with transactions where my address is an output and that way I can tell the input address?

[2021-01-09 13:15] KtorZ commented on #2434
I'd suggest using an explorer api like cardano-graphql where you can easily lookup this information. A local one or an instance already deployed (though I don't think there are any publicly available instance of cardano-graphql. At least Input Output does not provide one, yet).

[2021-01-09 13:25] KtorZ commented on #2434
[code]
À query like this should give you what you're looking for.

[2021-01-09 13:31] PegasusPool commented on #2434
Thank you @KtorZ

[2021-01-10 00:33] clovehitch commented on #2395
I'm trying to restore a wallet that was created with Daedalus 0.13.1

When using the utility I'm getting the error "user error (There's no acid-state database matching the given path.)"

I'm not %100 on what path or file I should be pointing this too. I have tried:
DB-1.0/
Wallet-1.0-acid/
Wallet-1.0-sqlite.sqlite3

@mprymek mentioned that this utility might not work with this db version. Does any

[2021-01-10 23:25] khughes5 commented on #2395
I am in the same predicament.. i had my wallet in Daedalus 0.13.1 and although i can get the script to work under ubuntu 18.04 with the test data in the gzip, it seems not work with my 0.13.1 data (same as @clovehitch)

I still have 0.13.1 installed on my windows PC (it runs, just can't connect).. is upgrading to 0.15.1 (after taking a VM snapshot) to upgrade the data structure an option? i had a

[2021-01-11 02:57] testbookbear commented on #2395
same error here. There's no acid-state database matching the given path
events.version file shows 0.15.0.
need to import wallet using secret.key.
Please help

[2021-01-11 08:46] piotr-iohk commented on #2395
I have just checked some old Daedalus versions: `0.13.0`, `0.13.1` and `0.15.1`. From what I see, in all those versions the state directory looks as follows:

[code]
Where:
[code]

I am able to run the `export-wallets` tool on all three Daedalus versions like this:
[code]

It is a bit counter-intuitive but, I think, the "rule" would be: if you have those two items in your state directory: _**Walle

[2021-01-11 10:38] khughes5 commented on #2395
My Daedalus installation was on windows, would that make a difference?

My 0.13.1 directory structure looks like the following (its a copy, so date stamps are not original) :
10/01/2021  01:39 PM    <DIR>          .
10/01/2021  01:39 PM    <DIR>          ..
10/01/2021  01:36 PM    <DIR>          blob_storage
01/09/2020  12:05 PM               167 config.json
10/01/2021  01:39 PM    <DIR>

[2021-01-11 11:34] rvl opened #2436 "Cardano.Wallet.DB.Sqlite.TypesSpec/Coverage checks for generators/TokenQuantity times out"
# Context

The test-suite `cardano-wallet-core:test:unit` is failing in CI

# Test Case

The tests seem to get stuck at `Cardano.Wallet.DB.Sqlite.TypesSpec - Coverage checks for generators / TokenQuantity`.

# Failure / Counter-example

[code]

https://hydra.iohk.io/build/5300927

---

# Resolution

---

# QA

[2021-01-11 11:50] piotr-iohk commented on #2395
Hi @khughes5, I just did the same, i.e. copied Daedalus (0.13.0) state dir from Windows to Linux:

My state directory looks as follows:
[code]

where:

[code]

With that I am able to run the tool like this:

[code]

Is there any error you are seing?

[2021-01-11 14:13] piotr-iohk commented on #2433
Addressed in #2437.

[2021-01-11 14:13] #2433 closed, assigned to nobody

[2021-01-11 21:53] mikestead commented on #2433
Great thanks for actioning that so quickly

[2021-01-11 23:00] khughes5 commented on #2395
@piotr-iohk - Thanks SO much!!!! i just got it to work! and thanks to @KtorZ for originally providing reference to the tools and @mprymek for the heads up on linux version

Before i was just copying a subset of files and Directories (Wallet-1.0-acid, Wallet-1.0-sqlite.sqlite3 and Secrets-1.0)..

This time i copied the whole Directory (c:\users\Name\AppData\Roaming\Daedalus) across into linux, dump

[2021-01-12 04:24] jonathanknowles commented on #2436
Hi @rvl

Thanks for reporting this.

I haven't been able to reproduce this locally just yet, even after running the relevant section of the test suite **1000** times:

[code]
As for the `TokenQuantity` coverage check, the lower coverage bounds are actually rather conservative, being set at `2%`:

[code]

Indeed, when we run the test, we see a much higher coverage:
[code]

I'll do some more testing

[2021-01-12 04:24] clovehitch commented on #2395
@khughes5 Did you figure out how to import the encrypted strings?

[2021-01-12 04:48] jonathanknowles commented on #2436
@rvl Perhaps the faulty test is elsewhere?

Looking at the log of a _successful_ run, we see that the `SlotNo` roundtrip persistence test is:
- immediately followed by the `NominalDiffTime`/`POSIXTime` roundtrip persistence test;
- shortly afterward, followed by the `Cardano.Wallet.DB.Sqlite / Validate generators & shrinkers` test section.

I'll soak test the `Cardano.Wallet.DB.Sqlite/Validate gen

[2021-01-12 05:17] jonathanknowles commented on #2436
I ran this section of the test suite 1000 times locally, and didn't see any failures yet.

[2021-01-12 05:20] rvl commented on #2436
Perhaps. The source of the loop will be one of the test cases after the last one shown to have passed.
It may not be the ones immediately after, but they are:
[code]

[2021-01-12 05:26] jonathanknowles commented on #2436
@rvl Do you know whether buffering is used when writing to the test log on CI? If so, perhaps we can disable it?

Perhaps this would help with narrowing down the source of the failure, if we see it again.

As for the section mentioned:

I've run this entire section 1000 times locally, but without seeing a single failure (so far).

Perhaps it's sporadic enough that we can de-prioritize it for now,

[2021-01-12 05:39] rvl commented on #2436
Fair chance it's defaulted to block buffering, if Haskell thinks that it's outputting to a file.

Here is what I did for the integration tests: https://github.com/input-output-hk/cardano-wallet/blob/a2e8c7b342453695c788437ab8d0a2984dbfb8a9/lib/shelley/test/integration/Main.hs#L205-L207

Same could be done for unit tests.

[2021-01-12 06:26] khughes5 commented on #2395
Unfortunately not yet (i am not a programmer).. and i don't even know if i am on the right track here.. but i was hoping to use my Daedalus flight 3.1.0 install on windows (which seems to run the cardano-node.exe on a random listening port), along with the method described in https://iohk.zendesk.com/hc/en-us/articles/900000672303-How-to-migrate-a-Byron-Legacy-wallet-to-cardano-wallet- with the pa

[2021-01-12 06:30] rvl commented on #2320
I opened an issue - ADP-647.

[2021-01-12 06:35] rvl commented on #2436
It's possible that this is a re-occurrence of a previous issue - #2394 - but currently the cause is unknown.

[2021-01-12 06:40] rvl opened #2439 "TRANS_LIST_02,03x - PatternMatchFail or ErrorCall"
# Context

This is a flaky test failure where the wallet response was not expected.

# Test Case

- API Specifications, SHELLEY_TRANSACTIONS, TRANS_LIST_02,03x - Can limit/order results with start, end and order
- API Specifications, SHELLEY_WALLETS, WALLETS_LIST_01 - Wallets are listed from oldest to newest

# Failure / Counter-example

Build failed:
  * [buildkite/cardano-wallet](https://buildki

[2021-01-12 09:34] KtorZ opened #2440 "(ADP-644) Withdraw rewards from hardware wallet reward account"
# Context

(public exposure of ADP-644)

##### Story

- As a hardware wallet user
- I want to withdraw my rewards from my rewards accounts
- So that I can spend my rewards

##### Acceptance Criteria

- Given I have a hardware wallet
- And I have accumulated rewards
- And I have it connected to Daedalus
- Then I can create a transaction, withdrawing my reward from my reward account
- To some paymen

[2021-01-12 09:39] Anviking commented on #2320
Seems odd that this failure only appeared recently though

[2021-01-12 16:43] piotr-iohk commented on #2395
@khughes5 I have a tool that can be handy for your use case, but you'll need to have ruby installed on your system. For Windows `Ruby+Devkit 2.7.2-1 (x64)` from https://rubyinstaller.org/downloads/ should be OK.

The tool (https://github.com/piotr-iohk/ikar) is a lightweit web app over cardano-wallet and can be easily connected with underalying `cardano-wallet` of your Daedalus instance.

1. To st

[2021-01-12 20:26] #2427 closed, assigned to rvl

[2021-01-12 23:20] khughes5 commented on #2395
@piotr-iohk I can't thank you enough!!! thanks so much, using your instructions (and install git for windows) i was able to easily import it into my Daedalus app, and transfer the ADA across to a new shelley wallet!!

That's a massive weight off my shoulders! and i can't thank you enough!!! I am sure i am not the first to be saved from everyones guidance and advice through this thread!!

[2021-01-13 09:10] devilus commented on #2395
I trying to rename "Wallet-1.0" to "Wallet-1.0-acid" but use "Wallet-1.0" in command line instead, so now the error "There's no acid-state database matching the given path." resolved:

`./export-wallets --wallet-db-path /Wallet-1.0 --keyfile /Secrets-1.0/secret.key --mainnet`

But now I get the error
[code]

I used daedalus in 2018 last time and now I have only Secrets-1.0 and Wallet-1.0 folders b

[2021-01-13 11:59] KtorZ commented on #2395
[export-wallets-c1815b7d.tar.gz](https://github.com/input-output-hk/cardano-wallet/files/5808432/export-wallets-c1815b7d.tar.gz)

@devilus

I triggered a compilation during lunch of the latest version of the export tool linked earlier. That version makes the acid-state database optional (as it is only really used to extract wallet names and map them to keys in the keystore). So you could use that

[2021-01-13 12:42] devilus commented on #2395
@KtorZ

Which linux version do you use? I can't find librocksdb.so.6 package for ubuntu 18.

[code]

[2021-01-13 12:51] KtorZ commented on #2395
The binary isn't statically linked sorry. That'd take a bit more work to do for Haskell system dependencies are typically dynamically linked. You need rocksdb to run that one unfortunately. On aptitude, you get the necessary dependencies by installing `librocksdb-dev`

[code]

[2021-01-13 14:26] devilus commented on #2395
@KtorZ
Thanks a lot :)

Ok now I have a restored key from secret key:

[code]

Don't understand fully what I need to do now?

[2021-01-13 14:42] piotr-iohk commented on #2395
@devilus one option is to try with this -> https://github.com/input-output-hk/cardano-wallet/issues/2395#issuecomment-758784374.

(Probably you might want to change `"name": null` into something like `"name": "My wallet"`)

[2021-01-13 14:46] devilus commented on #2395
@piotr-iohk
I trying your solution right now :)

I have a lastest 3.1.0 version Daedalus Mainnet installed and synced with fresh wallet. But after https connection to node only "Tools->Generate mnemonics" menu active. What I'm doing wrong?

[2021-01-13 14:48] piotr-iohk commented on #2395
Did you click at Discover button and Connected to your Daedalus?

[2021-01-13 14:51] devilus commented on #2395
Yes sure.

After click "Discover"
<img width="1792" alt="image" src="https://user-images.githubusercontent.com/19307892/104467867-d9735800-55c7-11eb-9bca-5484ea733b2b.png">

After click "Connect"
<img width="1792" alt="image" src="https://user-images.githubusercontent.com/19307892/104467959-f3ad3600-55c7-11eb-9170-cb5009c35c25.png">

[2021-01-13 15:20] piotr-iohk commented on #2395
Ok, I've noticed this sometimes happening when you were already connected to different Daedalus instance and now trying to re-connect to another one. The only solution for now is to restart ikar (i.e. kill ruby process and start `ruby app.rb` again) and try to discover and connect again. If this doesn't help, you may try making a request to Daedalus' underlying `cardano-wallet`  via curl (just rep

[2021-01-13 15:47] devilus commented on #2395
@piotr-iohk
Unfortunately doesn't work by curl. Where is my mistake?

`curl -X POST http://localhost:4444/v2/byron-wallets --cert /Users/max/Library/Application\ Support/Daedalus\ Mainnet/tls/client/client.pem --cacert /Users/max/Library/Application\ Support/Daedalus\ Mainnet/tls/client/ca.crt -d '{"encrypted_root_private_key":"__KEY__","name":"My Old Byron Wallet","passphrase_hash":"__HASH__","st

[2021-01-13 16:00] piotr-iohk commented on #2395
Port should be a Daedalus' wallet port, so based on your screenshot from https://github.com/input-output-hk/cardano-wallet/issues/2395#issuecomment-759498554 `61103`.

[2021-01-13 16:19] devilus commented on #2395
I did it! Thank you guys @piotr-iohk @KtorZ  for help!🥳

[2021-01-14 18:18] Anviking commented on #2415
I see
[code]
locally a lot now

[2021-01-15 14:44] diego76 commented on #2395
Hi, I still do not get how to install librocksdb.so.6. The libsrocksdb-dev package installs the 5.8.8 version.
I have also downloaded from github the latest rocksdb, compiled and installed it. Still, I do not see the version 6 of librocksdb.
Do I need a specific setup?

[2021-01-15 22:59] diego76 commented on #2395
Ok, I got it. I modified the Makefile to create dynamic libraries (LIB_MODE?=shared). All good.

[2021-01-16 05:08] rvl commented on #2415
@Anviking  @piotr-iohk

I think this new failure may be because I added a `waitForNextEpoch` command near the end of `STAKE_POOLS_JOIN_01rewards` to fix a timing-related flakiness.

That changes the start time of the later test case `STAKE_POOLS_JOIN_01`, which could alter its result.

Then I think these two lines are in the wrong order:
[code]
and/or the expected value `currentEpoch + 3` is incor

[2021-01-16 18:36] Fell-x27 opened #2453 "xpub and phrase restoration have different addresses"
# Context

I just use cardano-wallet to check if I do my own research by the right way.

# Test Case

There is a mnemonic(24): "produce fresh flock very unfold shine moon connect priority path nice galaxy oven stomach script session protect oak inch shiver square tool riot meadow"

It's expub is(hex): "b722fa14be04b0ad476d44a97cae8d1879872af01a01e98abb53732587c27cdcdeab4517d3b8c03ee59ccb2547b3e883

[2021-01-17 11:34] PegasusPool opened #2454 "Unable to create address"
# Context

This is not so much a bug report, but rather a question about how to create a new address for a wallet using the CLI.

<b>Edit:</b>
I also looked at [Construct address](https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/postAnyAddress) using the API but I could not manage to generate an address as I can't get the payload right. It's not clear to be what should be the e

[2021-01-17 19:38] PegasusPool commented on #2454
Eventually I managed to generate a new address using the API.

I'm just going to leave this here for the record:
I have a previously generated 24 words phrase in the file called `phrase`

[code]

[code]

[code]

Final output of the above is `addr_vk1d30aphw9vaac5fmndgdz6azxt4pzga59wxnd85rftexxzcr6nxwqw5qk9w`

Then I `POST`-ed the following on my running cardano-wallet API:

Endpoint: `http://local

[2021-01-17 20:03] PegasusPool commented on #2454
Interestingly, I sent 2 ADA to the generated address, which is shown [here](https://explorer.cardano.org/en/address?address=addr1vydt4tz2k56qkwxkc6stf64vfwgtuddr5a3jvycjm4ntjgsw3sky9)

However when I get the wallet summary using `cardano-wallet wallet get --port 3102 WALLET_ID` the balance of the wallet is still 0. I'm very curious to know what I'm missing here. I thought this generated address be

[2021-01-18 03:11] rvl commented on #2454
Hi @PegasusPool - once you have the account 0 extended public key, use it to derive address keys.
cardano-wallet searches at the _address level_ of account 0 for funds. So:
1. Use `cardano-address key public --with-chain-code` to get the extended public key.
2. Derive the key for address 0 with:
[code]
   (edited to fix mistake)
3. Use the `cardano-address` program to make an address from the key.

[2021-01-18 03:17] rvl commented on #2453
Hi @Fell-x27, The most likely explanation is that your program is using a different key derivation path to cardano-wallet. What derivation paths are you using for the account and addresses?

[2021-01-18 04:30] PegasusPool commented on #2454
Thank you for your rely @rvl .
I tried following your instructions but did not succeed.

1. I reused `root.prv` from above
2. I recreated `acct.pub` with
[code]
3. `cat acct.pub | cardano-address key child 0/0` gives me `addr_xvk1r0440sa...`
4. when I pipe the above into `cardano-address key public --with-chain-code` I get this error:
[code]

Did I make a mistake somewhere?

[2021-01-18 06:17] rvl commented on #2454
Sorry I made a mistake in the message above. The second `cardano-address key public --with-chain-code` pipeline step is not necessary. The address key is already a public key (`addr_xvk` prefix) because it was derived from a public account key.

[code]

[2021-01-18 06:49] PegasusPool commented on #2454
That worked @rvl
Thanks for your help here.

Now the question is how I can send my 2 ADA back to the original address. I cannot do that with cardano-wallet, but I think somehow it should be possible.
I have the files `acct.prv  acct.pub` that were created in the first run before I sent the 2 ADA

[2021-01-18 07:04] rvl commented on #2454
Yes it should be possible to spend the 2 Ada from the original address, but you'll need to build the transaction manually.

Here are the instructions for doing that using `cardano-cli`: https://docs.cardano.org/projects/cardano-node/en/latest/reference/building-and-signing-tx.html

[2021-01-18 08:15] Fell-x27 commented on #2453
Hi! It's not about my apps and algos. It's about cardano-wallet behaviour only.
It allows to restore the same wallet twice. It uses the root_xpub to calculate walletId instead of account_xpub. Heritage of "random-wallets-obly" time?

[2021-01-18 08:16] KtorZ commented on #2453
I am not sure I fully understand the above but, some clarifications:

The `walletId` used in the API is generated from the wallet's root public key. If restoring from an account public key, the account public key is used instead. So far, wallets are only ever using the first HD account available thus indeed, at this stage it is possible to restore the same _account_ from two different means and ha

[2021-01-18 08:20] KtorZ commented on #2454
@PegasusPool note that we only let users create addresses for random wallets. It is so-to-speak forbidden for sequential wallets because there are rules and pre-conditions which need to be satisfied before creating a new sequential address. This is why the wallet manages that internally and instead, gives you a way to list your unused / available addresses that are safe to use.

If you derive sequ

[2021-01-18 08:38] Fell-x27 commented on #2453
Yep. But, probably, would be better if cardano-wallet used account_xpub for sequential wallets to prevent duplicating? It derives and stores it separately already, so why not?

[2021-01-18 08:52] KtorZ commented on #2453
Because wallets aren't not accounts. We are working on enabling multiple accounts within wallets, and using an identifier that is not linked to a particular account makes more sense.

[2021-01-18 12:23] PegasusPool commented on #2454
Thank you both. Your help is much appreciated. I'll close this issue for now

[2021-01-18 12:23] #2454 closed, assigned to nobody

[2021-01-18 21:33] Fell-x27 commented on #2453
I see. Correct me if I wrong, but, technically, it's already possible to use multi-acc wallet if we derive it manually? Not with cardano-wallet yet, but in theory.

I mean H1852/H1815/H(0...N), where N - is wished account number. And then use this key to derive addresses.

[2021-01-19 04:19] rvl commented on #2453
Yes, that's correct @Fell-x27.

[2021-01-19 11:02] #2453 closed, assigned to nobody

[2021-01-19 13:09] piotr-iohk opened #2456 "Flaky test: ADDRESS_LIST_03 - Generates new address pool gap"
# Context

seen locally

# Test Case

[code]

# Failure / Counter-example

---

# Resolution

---

# QA

[2021-01-19 13:18] piotr-iohk commented on #2415
I think it shouldn't make a difference actually. :thinking:

It is a bit awkward, but they are OK I think. It might as well be:

[code]
and then `currentEpoch + 2`.

I'm seeing this failure also locally though.

[2021-01-19 13:27] Anviking commented on #2415
Btw, I believe I saw it
- _Frequently_ when working on an early version of #2449, locally (potentially due to wrong implementation in that PR)
- _Once_ on something unrelated to #2449, locally
- _Not anymore on_ #2449. Or just too rarely to see it. (however occasionally a `WithdrawalsNotInRewardsDELEGS` error. Details in that PR)

[2021-01-20 10:16] KtorZ commented on #2395
Note: there's now a pure typescript implementation of the `extract-wallet` tool above:

https://github.com/input-output-hk/daedalus/pull/2308

This should make it possible to restore the recovery feature in Daedalus and unlock those who haven't managed to go with the command-line way.

[2021-01-20 11:03] mprymek commented on #2395
Wonderful!

Now I have this structure decoded from my `secret.key`:

[code]
What can I do next? Can I test some passwords against the password hash? Can I somehow get the recovery phrase? Or anything else to do with that data?

[2021-01-20 11:13] KtorZ commented on #2395
@mprymek the best you can do now is to use these inputs to feed into the wallet server via:

https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/postByronWallet

![Screenshot from 2021-01-20 12-12-25](https://user-images.githubusercontent.com/5680256/105167332-de309280-5b18-11eb-888c-be2477bbbc6d.png)

This will restore your wallet, and you'll be able to make a payment from it pro

[2021-01-20 11:16] KtorZ commented on #2395
You could, although it's not straightfroward. The password hash is using a scrypt algorithm, ran on top of the a blake2b_256 hash of your passphrase, serialized as CBOR.

No. Never. There's a one way transformation from the recovery phrase to the wallet root private key. What you have in the keystore is the (encrypted) root private key; there's no way back to the recovery phrase.

[2021-01-20 11:31] mprymek commented on #2395
I'm sorry, I don't understand this. There's a required property `mnemonic_sentence` on this endpoint. I don't have it. How can I use this endpoint?! Everything I have is `encryptedPayload`, `passphraseHash` and `walletId`. None of them is used by this endpoint.

Could you please post a function which will accept a `passphraseHash` and a password and return true if matched, false otherwise?

[2021-01-20 12:00] KtorZ commented on #2395
@mprymek this endpoints accepts 6 different kind of input payloads. See the screenshot I've shared, you need the one labelled "random (from xprv)" which doesn't require a mnemonic sentence, the documentation has tabs you can click on.

Not yet, but I'll see if I find time. In the meantime, you could let the server do it by trying to change the passphrase to something else. If the old passphrase do

[2021-01-20 12:05] mprymek commented on #2395
Ah, ok, my bad. What should I feed to `encrypted_root_private_key`? Whole `encryptedPayload` converted to hex string?

Ok, thanks!

[2021-01-20 12:12] jonathanknowles opened #2458 "[Duplicate] STAKE_POOLS_JOIN_04 fails sporadically"
# Context

[code]

# Test Case

# Failure / Counter-example

---

# Resolution

---

# QA

[2021-01-20 12:14] KtorZ commented on #2395
Exactly.

[2021-01-20 12:14] mprymek commented on #2395
It worked! My old wallet successfully imported into the current Daedalus!

Thank you, @KtorZ very very much!

[2021-01-20 12:15] piotr-iohk commented on #2458
This seems to be an instance of https://github.com/input-output-hk/cardano-wallet/issues/2320. I saw that error recently also on some other tests.

[2021-01-20 12:27] Anviking commented on #2320
Let's keep this open still.

[2021-01-20 12:30] Anviking commented on #2458
Re-classified. Closing as duplicate.

[2021-01-20 12:30] #2458 closed, assigned to nobody

[2021-01-21 06:02] rvl commented on #2320
This should be closed because the tests fail due to an actual bug not a flaky test.
Also the error message has been improved, so the title of this issue is no longer relevant.

[2021-01-21 08:21] Anviking commented on #2320
I think it's useful that new failures end up in the same group as the previous 16 failures, such that people see that this is a common problem, and don't create new tickets for it.

It's still a test failure, even if it is also a bug.

[2021-01-21 08:28] piotr-iohk commented on #2320
Would this be a relevant bug report? -> https://jira.iohk.io/browse/ADP-647

[2021-01-21 08:30] Anviking commented on #2320
Yes

[2021-01-21 09:21] rvl commented on #2320
OK

[2021-01-24 13:12] PegasusPool opened #2463 "produced_blocks is stuck"
# Context

This behaviour has been observed many times sometimes for days and the only fix is to restart cardano-wallet.

## Essential Information

 - **Version**:      2020.12.21 (git revision: 62df413064605323d59ef1816cb223b13b9ce386)
 - **Platform**:     Ubuntu 20.04
 - **Installation**: Binary from GitHub release page
 - **Network**:      mainnet

# Steps to Reproduce

If I run cardano-wallet

[2021-01-25 04:34] rvl commented on #2463
Hi @PegasusPool, thanks for reporting this. Are there any error messages in the cardano-wallet log when it happens?

[2021-01-25 06:52] PegasusPool commented on #2463
Hi @rvl
I checked the logs for when I was doing this test and I see no errors.

[code]

[2021-01-25 11:34] Anviking commented on #2320
Should be fixed now.

[2021-01-25 11:34] #2320 closed, assigned to Anviking

[2021-01-25 19:04] Anviking commented on #2430
Should have been fixed.

[2021-01-25 19:04] #2430 closed, assigned to nobody

[2021-01-25 19:05] Anviking commented on #2426
Should have been fixed by #2455

[2021-01-25 19:05] #2426 closed, assigned to nobody

[2021-01-26 10:56] Anviking opened #2467 "Various reward-related flaky tests"
# Context

#2449 recently changed core logic in the network layer.

Very rarely, this failure appeared on the branch:
[code]
though I have also seen it _once_ before.

After merging it, there seem to be an uptick in failures related to withdrawals.

Need to investigate, but _might_ be that the reward balance is less consistently updated when the wallet is under high load (as in integration tests),

[2021-01-26 13:30] Anviking commented on #2463
Hi,
Do you have logs further back? It would in particular be interesting to see recent `[cardano-wallet.pools-engine]` logs, because it sounds like it has stopped.

[2021-01-26 13:39] PegasusPool commented on #2463
@Anviking I think you are onto something. I had to go back quite some time (~17hours) but this is the last message from `[cardano-wallet.pools-engine]` before Jan 24 12:57:36.

[code]

[2021-01-28 15:26] KtorZ opened #2472 "Unit tests sometimes time out."
# Context

- https://hydra.iohk.io/build/5448328
- https://hydra.iohk.io/build/5470171
- https://hydra.iohk.io/build/5757989/nixlog/1/tail

# Test Case

?

# Failure / Counter-example

[code]

[2021-01-29 06:11] rvl commented on #2472
This time out is likely to be the same one as #2393 and #2436.
They all stop at pretty much the same place.

[2021-01-30 21:55] laplasz opened #2481 "cardano-node build wth ghc-8.6 not with ghc-8.10"
Hi There!

Latest release 1.25.1 [assets](https://github.com/input-output-hk/cardano-wallet/releases/download/v2021-01-28/cardano-wallet-v2021-01-28-linux64.tar.gz) has a cardano-node binary compiled with ghc-8.6
However the [installation guide](https://docs.cardano.org/projects/cardano-node/en/latest/getting-started/install.html) suggests that latest version of ghc should be used - 8.10.3

thanks

[2021-02-02 04:47] PegasusPool commented on #2463
I have updated to the latest version, but this is still happening, and if anything even more often. I find myself having to restart cardano-wallet on a daily basis because of this. I can see that it's in the list of known issues, hopefully you'll find a fix soon.

[2021-02-02 07:41] jonathanknowles opened #2486 "Flaky test: "Wallet with wrong wallet Id cannot be got""
# Context

https://hydra.iohk.io/build/5479393/nixlog/1/tail

# Test Case

`/Cardano.Wallet/WalletLayer works as expected/Wallet with wrong wallet Id cannot be got/`

# Failure / Counter-example

[code]

# Resolution

Fixed by #2487

[2021-02-02 08:22] KtorZ commented on #2463
@PegasusPool if the background worker synchronizing pool dies, it certainly leaves a trace in the logs. If you could get that trace, we would be able to pinpoint the issue much faster :pray:

[2021-02-02 08:24] KtorZ commented on #2463
(From the error above, it seems that the connection is lost with the node at some point, maybe because your system enters in hibernation and forces the connections to terminate..)

[2021-02-02 08:43] PegasusPool commented on #2463
@KtorZ That's the only log I see at the time the worker dies. Is there another method to get this trace you are referring to? I'm happy to investigate it with guidance.
My system does not go into hibernation so I'd take that out of the equation.
But even if the connection to the node is lost (maybe it's restarted) is it not reasonable to expect that cardano-wallet reconnects after some time?

[2021-02-02 10:08] KtorZ commented on #2463
The wallet background worker does, not the one for the stake pool. That's indeed arguably a bad decision :upside_down_face: I do think that in most cases, we do not want to reconnect because that worker is not supposed to exit the first place. However, there are obviously some cases where this would be a desired behavior, like when the connection with the node is lost.

We'll look into it.

[2021-02-03 13:51] #2486 closed, assigned to rvl

[2021-02-05 13:15] rvl commented on #2481
Hi, thanks for your question.

We are still building cardano-wallet and cardano libraries with ghc-8.6.3.
When we have a moment we will switch to ghc-8.10, but for now ghc-8.6.3 is working fine.
cardano-node can build with ghc-8.6.3, and this is what we test the wallet against.
In future, cardano-node will probably stop compiling with ghc-8.6, because nobody is using it, so that's probably why the

[2021-02-05 13:15] #2481 closed, assigned to nobody

[2021-02-05 16:01] chmieleslav commented on #2395
Dear @piotr-iohk , dear all,

I am trying to use the Ikar tool to restore my old Daedalus 0.11.2 wallet, but so far with no success:

- I have Ikar and my Daedalus running ("Connecting to network..."), When I click on Discovery, it says "Wallet servers discovered: 0"
![image](https://user-images.githubusercontent.com/5642017/107056187-5b732d00-67d2-11eb-8daa-459e0c795a70.png)

- However, when I cl

[2021-02-05 16:22] chmieleslav commented on #2395
Dear @mprymek could you explain how you managed to do that? Many thanks in advance

[2021-02-05 16:41] KtorZ commented on #2395
@chmieleslav I am not familiar with Ikar but this:

![Screenshot from 2021-02-05 17-40-19](https://user-images.githubusercontent.com/5680256/107062149-44840900-67d9-11eb-938d-4660012658cb.png)

looks like a drop-down menu where you may be able to select `https` as a protocol to run subsequent queries?

[2021-02-05 17:01] chmieleslav commented on #2395
Dear @KtorZ , thanks for your quick reply. The https connection / discovery didn't work for me either... I just installed the very last version of Daedalus, but the "import from earlier version " is not implemented... Is there a chance it gets implemented someday?

https://iohk.zendesk.com/hc/en-us/articles/900002473086-Wallet-import-feature-is-currently-disabled

I'm wondering if it WAS available

[2021-02-05 21:12] piotr-iohk commented on #2395
@chmieleslav as far as I see from the screenshot you shared (https://github.com/input-output-hk/cardano-wallet/issues/2395#issuecomment-774123084) you are trying to connect Ikar to old Daedalus (0.11). That won't work as the underlying cardano-wallet won't even start (I think) on that old version of Daedalus.

The steps I have described in https://github.com/input-output-hk/cardano-wallet/issues/2

[2021-02-07 11:22] chmieleslav commented on #2395
But now I get the error

Dear @devilus how did you solve the "Could not parse saved checkpoint due to the following error: Failed reading: safecopy" error? Thank you in advance

[2021-02-07 11:51] chmieleslav commented on #2395
Dear @piotr-iohk , dear @diego76
Could you please help me get  librocksdb.so.6 on my PC? At this point I tried pretty much everything from this thread, including building and installing the latest version of librocksdb from github by myself, but still no success...

My config:

[code]

I get the master branch of rocksdb from github: https://github.com/facebook/rocksdb

In the INSTALL.md file I rea

[2021-02-07 19:44] chmieleslav commented on #2395
I just realized that I was missing *export* (sorry...!)

[code]

With the following command:
`root@chmiel:~# export LD_LIBRARY_PATH=/lib:/usr/lib:/usr/local/lib
`I moved forward, but I have a new error...:

[code]

After the upgrade to Ubuntu 20.04:

[code]
I'm not sure I understand "acid" term correctly, but wasn't it supposed to be optional? Thank you in advance

[2021-02-08 09:45] KtorZ commented on #2395
@chmieleslav note that it now exists a pure TypeScript version of that keystore exporter. See the following pull request:

https://github.com/input-output-hk/daedalus/pull/2308

Thus, provided that you have `node` and `npm` installed, you could do as follows:

[code]

| OS     | Command                                                                    |
| ---    | ---

[2021-02-08 11:49] piotr-iohk opened #2497 "Flaky: STAKE_POOLS_JOIN_01 - Can rejoin another stakepool"
# Context

https://iohk-nix-cache.s3-eu-central-1.amazonaws.com/log/261smfb5rh2d2dkckjx7avprrk4jp6xf-cardano-wallet-test-integration-2021.1.28-x86_64-unknown-linux-musl-check-x86_64-unknown-linux-musl.drv

# Test Case

# Failure / Counter-example
[code]
---

# Resolution

---

# QA

[2021-02-08 14:22] KtorZ commented on #2393
Fixed in #2471

[2021-02-08 14:22] #2393 closed, assigned to nobody

[2021-02-08 14:37] Anviking opened #2498 "Flaky SHELLEY_STAKE_POOLS, STAKE_POOLS_LIST_01 - List stake pools, has non-zero saturation & stake"
# Context

# Test Case

# Failure / Counter-example

e.g.
[code]

---

# Resolution

---

# QA

[2021-02-08 18:42] chmieleslav commented on #2395
This worked like a charm, it gave me:
[code]

Then I used Ikar, did the steps described in #2395 and voilà, I can see my old wallet syncing in the new Daedalus:

![image](https://user-images.githubusercontent.com/5642017/107272025-5cfc5980-6a4d-11eb-9294-9f0382f2cc1c.png)

Thank you so much @piotr-iohk and @KtorZ - you saved my ADA savings and I learnt a lot from you! :)

[2021-02-08 20:04] aaronk6 commented on #2395
Worked for me, too! Thanks so much, folks! (Yes, I’m one of those who were “smart” enough to backup `secret.key` instead of writing down the mnemonic back in 2018).

However, I ran into two issues with the steps above which might be related to me being on macOS (not sure though).

Here is what I did to make the `restore-keystore.ts` utility work:

* Replace the first line in `restore-keystore.ts`

[2021-02-09 03:58] #1840 closed, assigned to rvl

[2021-02-09 04:03] rvl opened #2500 "(Instance of #2855) Flaky: SHELLEY_CLI_TRANSACTIONS/TRANS_CREATE_06 - ResourceVanished"
# Context

A CLI test randomly failed.

The broken pipe error message suggests that the `cardano-wallet transaction` command exited while the integration test framework was reading its stdout.

# Test Case

* `/CLI Specifications/SHELLEY_CLI_TRANSACTIONS/TRANS_CREATE_06 - Invalid amount/string with diacritics/`

# Failure / Counter-example

[code]

---

# Resolution

---

# QA

[2021-02-10 18:19] strangedesign11 commented on #2395
I was able to restore my wallet from my old state directory, so big thanks to everyone on this thread. However, that was only half the battle for me in regaining control of my ADA as I do not have my seed phrase (which is, admittedly irresponsible and entirely my fault given the warnings in Daedalus) and I am unable to recall my spending password.

Is there any method to decrypt/extract/recover th

[2021-02-10 21:27] KtorZ commented on #2395
No. The seed is encrypted with strong encryption. It'd take you more than a lifetime to brute force it. So, best you can do is to try passphrases you can think of. Again and again :/...

[2021-02-11 01:36] wawabiker commented on #2395
The method worked perfectly well for me: https://github.com/input-output-hk/cardano-wallet/issues/2395#issuecomment-775014725

I am a windows user. I have used the virtualbox with Ubuntu 20.04 and installed npm and node:
https://www.geeksforgeeks.org/installation-of-node-js-on-linux/
Copied the secrets dir and run the restore-keystore tool.

Ikar worked perfectly well to import wallet back to daed

[2021-02-11 16:50] strangedesign11 commented on #2395
Thanks for the reply. Unfortunately for me, I used my password manager to generate a secure spending password and then somehow failed to save it.

To come at it from a different angle, is there a way to repeatedly retry/check the spending password without manual intervention such that I could use a password cracking program to try to crack the spending password? I'm fairly certain I know the numbe

[2021-02-11 18:06] KtorZ commented on #2395
I am really sorry but, If this was possible we would have a major vulnerability problem. Things is, with the current encryption algorithm and parameters, each verification takes around 50ms on a high-end CPU. If you've generated your passphrase using a passphrase manager, then it's likely a quite _secure passphrase_, with quite many characters. The encryption is resistant to rainbow tables and dic

[2021-02-14 19:33] mbrosparky100 commented on #2440
Bump.

hi guys is this scheduled to be fixed? I can’t withdraw 000s of my rewards on my Nano Ledger X because of this issue

[2021-02-15 01:20] seaplanedude commented on #2440
I would also like to know about the progress of this fix. I set up a hardware wallet and would like to send the rewards from my previous wallet but I am unable to send from a wallet only containing rewards.

[2021-02-15 08:58] Anviking commented on #2368
Seen again https://github.com/input-output-hk/cardano-wallet/pull/2506#issuecomment-776931203

[2021-02-15 22:38] rvl opened #2522 "Flaky test: Cardano.Wallet.Shelley.Transaction, estimateMaxNumberOfInputs for IcarusKey, more outputs ==> less inputs"
# Context

This property test failed during CI of a completely unrelated PR (#2519).

# Test Case

- `/Cardano.Wallet.Shelley.Transaction/estimateMaxNumberOfInputs for IcarusKey/more outputs ==> less inputs/`

# Failure / Counter-example

https://hydra.iohk.io/build/5572607

[code]

---

# Resolution

---

# QA

[2021-02-16 07:55] michael8359 commented on #2395
Hi KtorZ, I tried to restrore my wallet using Daedalus Flight 3.3.0 using my secret.key but i got below error message. Is my secret.key corrupt or won't work with Daedalus Flight 3.3.0?

![Error](https://user-images.githubusercontent.com/79134476/108033704-48494280-7099-11eb-9c50-209370bfbfdc.jpg)

[2021-02-16 09:57] KtorZ commented on #2395
@michael8359 Sounds like your secret.key is empty or corrupted indeed.

[2021-02-16 10:59] piotr-iohk opened #2526 "Flaky: .\\cardano-wallet-core-test-unit.exe fails in Windows GH actions"
# Context

# Test Case

https://github.com/input-output-hk/cardano-wallet/runs/1906871545?check_suite_focus=true
https://github.com/input-output-hk/cardano-wallet/runs/1909329666?check_suite_focus=true

In the log there is:

[code]

# Failure / Counter-example

---

# Resolution

@KtorZ says that the high memory usage (well, too high for github actions) is probably due to the number of simultaneou

[2021-02-16 13:49] Anviking commented on #2472
Could _perhaps_ be related:

Here, locally, it seems it blows up when trying to display the counterexample:

<img width="1536" alt="Skärmavbild 2021-02-16 kl  14 48 44" src="https://user-images.githubusercontent.com/304423/108071542-22ef1100-7066-11eb-89c1-fdf839839d23.png">

The error was specific to #2521, but maybe the size of the counterexample could be related to this issue.

[2021-02-16 18:16] michael8359 commented on #2395
@KtorZ No way for me to recover my wallet?

[2021-02-16 23:24] rvl commented on #2472
Yeah nice hypothesis @Anviking - plausible because Arbitrary checkpoints will probably include Arbitrary TokenBundles now.

[2021-02-18 08:59] KtorZ commented on #2395
@michael8359 I am afraid not. For any help with Daedalus however, please contact the technical support desk or, reach out on https://github.com/input-output-hk/daedalus/issues/1234.

Incidentally, one of the last comment on that thread recommend to make sure to close the old Daedalus before attempting to restore from the `secret.key` file. Make sure it's the case :+1:

Closing this issue now since

[2021-02-18 08:59] #2395 closed, assigned to nobody

[2021-02-18 13:57] KtorZ commented on #2440
This is now being addressed by #2528

[2021-02-22 04:04] nathannoble commented on #1701
Looks like the issue is back. I restored two wallets into Daedalus and the last one had this error.

wallet table does not contain required field 'passphrase_scheme'. Adding this field with a default value of "EncryptWithPBKDF2".

Is there something that can be done to fix this?

[2021-02-22 07:57] KtorZ commented on #1701
@nathannoble that message in itself isn't an issue. It's part of the normal migration process actually; the server will announce what migrations are being done upon start. When you say, "the last one had this error.", could you give slightly more details?

[2021-02-22 17:16] gitmachtl opened #2532 "Major Wallet locking Issue with NativeAssets overflow in UTXOs"
## Essential Information

Daedalus 3.3.0#16328 Frontend
Public-Testnet

# Steps to Reproduce

Wallet-Owner:
* Create a new Wallet in Daedalus/Cardano-Wallet via SeedPhraseMethod
* Sends 10M Ada to fund the Wallet to the first Receive-Address

Now a bad actor starts to come in:
* Sends 18446744073709551614 XCoins to the first Receive-Address
* Sends again 18446744073709551614 XCoins to the first Re

[2021-02-22 17:55] nathannoble commented on #1701
@KtorZ It is all good. IOHK support helped me get over it. Apparently I had to delete the State directory. Something I had done before in older version of Daedalus. I understand these issues are growing pains. So if this happens to anyone else. 1. Delete the State Directory then re import your wallets.

[2021-02-22 19:33] Crypto2099 commented on #2532
I have also independently verified this in my Daedalus Testnet 3.3.0 wallet using a wallet with utxo's with sub-max tokens as well as several max-token utxo's and a few non-token utxo's. The amount that can be sent either to your own wallet or to an external wallet randomly fails depending upon which utxo's Daedalus selects for the tx-in. In a wallet with ~28 Ada total in it, 20 non-tokened and 8

[2021-02-22 21:08] KtorZ commented on #2532
@gitmachtl Thanks for reporting this. I was actually discussing this very limitation with the team this morning. The underlying issue is not an overflow, but actually the opposite. The wallet does handle the high token quantity just fine...  but does it a bit too much. As a matter of fact, the serialization codecs do expect asset's quantities to fit in a uint64. Yet, in case you have assets with v

[2021-02-22 21:41] gitmachtl commented on #2532
I am on your side, thats why i am testing such stuff on the edge cases. We all care much about cardano, so also about possible backlashes from 3rd parties about such issues. Its no problem to sort theses things out on the CLI, but its not possible for the "normal" cardano user using the major wallets. So maybe we need an "expert" mode to make handpicking of input utxos possible in the future. A po

[2021-02-23 11:47] Anviking commented on #2472
I tried reproducing the above and failed. Strange thing is that it seems like `"/Cardano.Wallet.DB.Sqlite/Check db reading/writing from/to file and cleaning/put and read checkpoint/"` doesn't contain any arbitrary values. Only a static one.

I ran ``stack test cardano-wallet-core:unit --ta '+RTS -M100m -s -RTS'`` a few time, but nothing strange happened.

It's also interesting how this issue only

[2021-02-23 12:36] KtorZ commented on #2472
Are you sure of that?

[2021-02-23 12:59] Anviking commented on #2472
Using a modified* bors-stats.sh, all 12 failures of this ticket are hydra-failures.

Browsing old related tickets manually GH, I only see hydra too.

Maybe there's some Buildkite failures too, sure, I can't say for sure, but at least it seems to be mostly hydra.

<details>

<summary>
Output
</summary>

[code]

</details>

*) Should make that script more powerful btw.

[2021-02-23 13:04] Anviking commented on #2472
I also looked into `GenTxHistory` though:

And maybe it is a bit slow?

[code]

- Originally 4.87s
- Replacing arbitrary ByteStrings in `Address` and `RewardAccount` for a static `twentyNineNulls` makes it run in just 1.5s
- Making TokenBundles with _all_ coin values -> 0.8s
- Reducing number of inputs, outputs and withdrawals in `Arbitrary Tx` from 5 to 1 -> 0.45s

[2021-02-23 17:59] Anviking commented on #2472
I _did_ manage to observe timeouts locally finally. Several times in a row, before it disappeared.

I wonder if HLS was consuming all my memory at that point. (But I didn't notice anything at the time)

On the same track, it seems `stack test cardano-wallet-core:unit --ta '--match "Sqlite" +RTS -M100m -s -RTS` is not effective — or not what I believe it is — my system manager shows the unit tests

[2021-02-23 18:18] dcoutts commented on #2532
There's no cause for alarm here. There's no overflows here and no risk to anyone's funds.

Yes the wallet will need a few more tweaks to the coin selection to account for the new things we can do with multi-assets. The wallet team are aware of that. They've been updating the wallet in phases, starting with basic support for multi-asset.

Indeed. I'm sure the solution will be along those lines.

[2021-02-24 16:26] santins77 opened #2534 "cardano-wallet doesn't allow use unspoiled rewards when you join a a stake-pool with the wallet rest api"
# Context

We are running a Cardano Node in Linux. We use cardano-wallet rest api to communicate with it. When we use cardano-wallet rest api to delegate to external stake pool it works right. But when we receive the rewards for the delegation we can't access them. They never pass to available amount.

## Essential Information

 - **Version**:      2021.2.15 (git revision: a37c9856b4d96286e3f01a95

[2021-02-24 22:26] vicepool opened #2535 "An option to send unspent amount to the same origin address"
I am writing a service that will make small transactions from the same wallet/address using cardano-wallet api. Initially, I have funds only on the one address. But once I make a small transaction, the unspent amount is sent to the next unused address. So after 10k TXs cardano-wallet is monitoring 10k addresses for incoming TXs. That slows it down and makes it impossible to use after the TX number

[2021-02-24 22:49] olegandreyev commented on #2535
Missed epoch rewards as well (248), after registering pledge wallet in voting (actual transaction). As a temporary solution I sent all funds back to the original address.

[2021-02-25 09:23] KtorZ commented on #2535
Thanks for your feedback on this. This is certainly something we've been considering for a while but hasn't got any major priority yet.

Do you have any numbers backing this claim?

[2021-02-25 09:25] KtorZ commented on #2534
Hi, reward withdrawals must be explicitly requested for them to happen. You can do this by specifying a `withdrawal` body parameter when constructing a transaction.

https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/postTransaction

[2021-02-25 10:44] santins77 commented on #2534
Thanks! This worked perfectly!

[2021-02-25 10:44] #2534 closed, assigned to nobody

[2021-02-25 11:45] jonathanknowles commented on #2532
@gitmachtl wrote:

@dcoutts wrote:

That is indeed the solution we've opted to go for. (See https://github.com/input-output-hk/cardano-wallet/pull/2536)

When we construct a change output, if we detect that any quantity would exceed the maximum, we partition the output into **_n_** outputs whose bundles are approximately equal in size. (We cannot guarantee exact equality, as sometimes a token quan

[2021-02-25 17:04] philkunz opened #2539 "docker-compose.yml not running"
the current docker-compose file is not running.

[2021-02-26 02:33] philkunz commented on #2539
some error on my side

[2021-02-26 02:33] #2539 closed, assigned to nobody

[2021-02-26 09:39] Anviking opened #2540 "Flaky: Integration tests sometimes time out"
# Context

# Test Case

 https://github.com/input-output-hk/cardano-wallet/pull/2523#issuecomment-779714295

# Failure / Counter-example

---

[code]

# Resolution

---

# QA

[2021-02-26 15:29] vicepool commented on #2535
Yes. I do. I will attach some screenshots and errors I am getting performing the same actions on a wallet with used 6.3k addresses vs 50.

At the moment I was making those screenshots, cardano-wallet was not sending or making any tx, so the comparison should be correct. I left it just running without performing any actions so Load average could be compared.

This is the server load with 50 address

[2021-02-26 16:01] vicepool commented on #2535
Seed to this testnet wallet is:
`journey combine topple sand rescue tray knife title differ flock essence brown slush hedgehog outdoor verify pistol bulb year color tenant track orange glad`

Only rare tries to make a TX will go through. cardano-wallet even thinks that it has 0 balance most of the time and fails with `not_enough_money` a lot. While testing it I also detected another bugs related t

[2021-02-26 20:59] gitmachtl opened #2541 "Please increase the maxLength of the AssetTicker field"
This is linked to

https://github.com/input-output-hk/metadata-server/issues/30

please move it into the right place.

------------------------

Hi,

https://github.com/input-output-hk/metadata-server/blob/master/specifications/wallet/submission-schema.json

specifies a maxLength of only 4 chars for the ticker field of the native token.

please increase this to 8 chars!

why is there such a short