[2021-02-27 03:28] #2532 closed, assigned to jonathanknowles

[2021-02-27 04:37] rvl commented on #2541
Hi @gitmachtl, you don't need to use the `ticker` field - it's an optional abbreviation of the asset name. When `ticker`, is not present, user interfaces will display `name` instead. If the name is long, however, the GUI may need to truncate it to fit in the space.

[2021-02-27 04:41] rvl commented on #2541
We could probably increase the ticker max length to 5 so it matches the stake pool ticker. Longer than this, it starts looking less like an abbreviation, and more like a name.

[2021-02-27 08:12] gitmachtl commented on #2541
Ok, than please increase it to 5 chars. So we have it set up the same way like a pool ticker. You have 5 chars for pool tickers and a longer Name. So this would be consistent.

Short tickers can be confusing:
GPWR -> GREENPWR, GPWR -> GREATPWR, PWRL -> POWERLESS
BTC, BCH, BSV, BTG, etc... are all very confusing and are all "Bitcoin".

[2021-03-01 08:38] KtorZ commented on #2535
@vicepool thanks for the detailed reports, that is useful. Some numbers above aren't right. I do have a few extra questions to understand the problem a bit better.

- I reckon your wallet is a Shelley wallet (i.e. created via the `/v2/wallets` endpoint)  ?

- You say you've been making "tiny transactions". At what pace? Why am I asking this is because, in order to make transactions, you need to ha

[2021-03-01 15:34] jonathancross opened #2544 "[feature] Add "birthday" (aka "block height") option when restoring wallet"
[being moved here from [daedalus#2416](https://github.com/input-output-hk/daedalus/issues/2416)]

When restoring a wallet from seed phrase, the user should have an option to set a so-called "birthday" (block height or date) of the first transaction. The idea is that transactions from older blocks can be ignored unless they have direct bearing on UTXOs owned by this wallet.

The goal is dramaticall

[2021-03-01 15:37] jonathancross opened #2545 "[feature] Newly created wallet should not need to sync history"
[moved here from [daedalus#2415](https://github.com/input-output-hk/daedalus/issues/2415)]

When creating a new wallet in an instance of Daedalus that has already synced older wallets, Daedalus will immediately go through a long, slow process of syncing:

This makes no sense as there is verifiably zero transactions and zero balance on a newly generated wallet.

Instead, Daedalus should recognize t

[2021-03-01 17:39] KtorZ commented on #2544
@jonathancross Thanks for your feedback here. Note that we have captured this (i.e. the ability to restore a wallet from a given date / slot number) in a user story some times ago already. As for many other UX improvements that we have in the backlog, what we are missing so far is a bit of time to go through them. As you know, Cardano is evolving at a quite crazy pace and so far, we've been busy i

[2021-03-01 18:43] KtorZ commented on #2535
@vicepool I've just tried restoring your wallet. It's doing quite fine on my side. The wallet contains ~6.7K addresses, ~16.8K transactions. The CPU usage once restored is basically close to 0 and constant and it demands about 1.3GB of RAM (that sounds a little bit high, but nothing quite alarming at this stage).

I've tried estimating fees and sending a transaction, it went through pretty much in

[2021-03-01 19:50] jonathancross commented on #2544
Transparency and open collaboration are good  :-)

[2021-03-02 13:36] Anviking commented on #2472
Should be fixed by #2537

[2021-03-02 22:56] rvl commented on #2545
Hi @jonathancross, thanks for the report.
Yes, the cardano-wallet backend API does not make a distinction between creating a wallet and restoring a wallet.
I believe that your suggestion in #2544 would fix this issue.
Because if Daedalus knows that it has generated a fresh random mnemonic, then it could set the wallet birthday to the current time, and the new wallet would be available for use imme

[2021-03-02 22:56] #2545 closed, assigned to nobody

[2021-03-02 23:06] jonathancross commented on #2545
If / when #2544 is implemented, this would sill need to be used when syncing.
Shouldn't that be an open task here or in Daedalus?

[2021-03-03 03:08] JasinYip opened #2547 "[feature] Support reward history API"
As @feraldruid22 and @nikolaglumac talked about the feature of reward history displaying on wallets(e.g. Daedalus) in Daedalus issue(https://github.com/input-output-hk/daedalus/issues/2347).

We might need this project to offer an API to implement the feature:

[2021-03-03 09:14] KtorZ commented on #2547
Hi, this is unfortunately not possible due to the very nature of the wallet. In order to calculate rewards and reward history, one needs to maintain the entire ledger state. However, the wallet only has a user-centric view of the ledger state, that is, it only maintains UTxO that belongs to it.

Note that even the node / ledger isn't able to go as far back in the past. The UTxO is an ever evolving

[2021-03-03 09:14] #2547 closed, assigned to nobody

[2021-03-03 21:15] emesik opened #2550 "Error when building: No instance for (Ord KeyHash) arising from a use of ‘Map.lookup’"
# Context

I'm trying to build `cardano-wallet` using `cabal`. The build fails as described below. Same happens with version 2021.02.12, while 2021.01.12 within the same environment builds successfully.

## Essential Information

 - **Version**: 2021.02.15 (from release file)
 - **Platform**: Linux
 - **Installation**: source from GitHub
 - **ghc**: 8.6.5
 - **cabal**: 3.2.0.0

[code]

# Steps to

[2021-03-03 21:22] vicepool commented on #2535
It runs as a daemon with:
`cardano-wallet serve --testnet /home/cardano/cardano-node/testnet-byron-genesis.json --node-socket /home/cardano/cardano-node/db/socket --database /home/cardano/cardano-node/wallets --log-level notice`

[2021-03-04 01:01] rdlrt opened #2551 "Feature Request: Ability to re-fetch a specific pool's metadata using ID"
The issue originates as a requirement on Daedalus end, but since pool queries are made against `cardano-wallet` , I believe the issue belongs here.

Allow users who already know a pool ID they want to delegate to, to be able to refresh/download the metadata independently of SMASH server status.

Currently due to various design complications/networking reasons, a pool's metadata may be fetched and

[2021-03-04 01:36] rvl commented on #2551
Hi, what's your exact problem here?
Do you have a newly registered pool, or an existing pool for which you would like to change the metadata?

[2021-03-04 04:02] rdlrt commented on #2551
@rvl - I do not have a problem myself, but across community channels there are 100s of cases where pool operators who either update metadata or register new pool - at times (due to limitations on SMASH now, before used to be wait times on wallet) often end up getting frustrated and anxious because the updates are not realtime. In fact it is becoming a common caution to not touch the pool metadata

[2021-03-04 05:14] glitch40 commented on #2551
If an operator updates anything on their existing pool meta, even if everything is correct metadata hash is correct, no url conflict or cache issues, it can still be hours or days for the wallet to update and sync. This new update leaves pools left in the "unknown" status and missing from the wallet UI for sometimes days it appears Daedalus has cached the old information and is conflicting with th

[2021-03-04 07:52] rvl commented on #2551
The cardano-wallet release this week will contain PR #2432 which will make refreshing all metadata faster.
If pool operators need to quickly check that their metadata looks correct then they could disable SMASH.
I do not know why the SMASH server introduces long delays.
If not otherwise busy, the wallet should fetch new metadata fairly promptly after it finds a registration certificate with a new

[2021-03-04 11:53] Anviking commented on #2472
Seen again 🙁  https://github.com/input-output-hk/cardano-wallet/pull/2542#issuecomment-790557256

[2021-03-06 23:20] Straightpool opened #2556 "[FR] Allow separate reward receive address for normal delegators"
Internal / Exernal
External

Describe the feature you'd like
A regular delegator might want to specify a separate reward receive address for these reasons:

Tax purposes (in some juristaction re-staked coins extend the holding period)
Accounting purposes to keep track of rewards
Reward savings account for multiple people to pool rewards into one address to fund e.g. something
...
Currently this is

[2021-03-08 10:10] KtorZ commented on #2550
This is because of a dependency mismatch regarding `cardano-addresses` :thinking:
We updated the `cabal.project` a bit late so it may be possible that older versions doesn't build with cabal (we mainly use stack and nix, and only maintain support for cabal for convenience).

You'll need to apply the patch from #2531

[2021-03-08 13:32] emesik commented on #2550
Thank you. 2021-03-04 builds without errors.

[2021-03-08 13:32] #2550 closed, assigned to nobody

[2021-03-11 07:26] gitloverr opened #2558 "why am I getting the wallet address type sometimes as test address?"
Hi everyone,

I'm running with Cardano-wallet for mainnet. I started the docker-compose with `NETWORK=mainnet` I created a wallet with mnemonic_sentence then I checked the wallet addresses, (get wall) those addresses  sometimes look like this:"addr_test1qpsfrdk43mm......." (with test tag) and sometimes normally (addr1q9sfrdk43mmxpqtqalv2....like..) -without test prefix-

why happened this?
Thank y

[2021-03-12 09:32] Anviking commented on #2556
Is the idea that you want _all funds_ in a wallet to be associated with a specified stake key, e.g. a stake key belonging to a different wallet?

[2021-03-12 10:26] Straightpool commented on #2556
Yes, this is a good summary.

[2021-03-15 10:28] jonathanknowles opened #2564 "SHELLEY_TX_REDEEM_03"
# Context

https://hydra.iohk.io/build/5802017/nixlog/7/tail

# Test Case

`SHELLEY_TX_REDEEM_02`

# Failure / Counter-example

[code]

# Resolution

---

# QA

[2021-03-15 10:36] jonathanknowles opened #2565 "BYRON_RESTORE_01"
# Context

https://hydra.iohk.io/build/5803003/nixlog/1/tail

# Test Case

`BYRON_RESTORE_01`

[code]

# Failure / Counter-example

[code]

# Resolution

---

# QA

[2021-03-15 15:41] gitmachtl commented on #2532
The solution is not yet implemented in the Flight Version 4.0.2-FC3#17097 i guess?

![image](https://user-images.githubusercontent.com/47434720/111180468-5b263880-85ad-11eb-8961-76a48d6dc8e4.png)

![image](https://user-images.githubusercontent.com/47434720/111180397-4c3f8600-85ad-11eb-82d3-c10655f29c64.png)

[2021-03-15 22:53] rvl commented on #2532
Hi @gitmachtl, Daedalus 4.0.2-FC2 is using [cardano-wallet v2021-03-04](https://github.com/input-output-hk/cardano-wallet/releases/tag/v2021-03-04), so it should include the fix for this particular issue.

When it says "An error occurred," the actual error from cardano-wallet is probably a different one to before. The tx may now be rejected for a new reason. @jonathanknowles will have more details

[2021-03-17 17:42] Anviking commented on #2565
There can't really be any race-conditions here — I think the wallet simply is overloaded and can't keep up.

[2021-03-19 12:36] piotr-iohk commented on #2532
Hi @gitmachtl, Can you share what is the error that cardano-wallet throws when you hit "Send"?
Errors should be displayed in Daedalus developer console. To open it click (Ctrl + Alt + i) and go to console tab.

Once you click "Send" the actual error that is coming from cardano-wallet backend should be displayed there.

[2021-03-19 18:20] gitmachtl commented on #2532
It is a Ledger HW-Wallet with Ledger Cardano App 2.2.0.

Here is the console output. Verification on the Ledger is working normal.

[code]

[2021-03-22 10:38] piotr-iohk commented on #2532
@gitmachtl thank you! It seems to be different issue related with HW wallets support. I've managed to reproduce it as well and we will look into it.

[2021-03-23 13:09] Anviking opened #2575 "Flaky UTxOIndexSpec coverage checks"
# Context

# Test Case

e.g.
[code]

# Failure / Counter-example

[code]

---

# Resolution

---

# QA

[2021-03-24 16:32] whosystem opened #2578 "cabal build all uses the -msse2 FLAG = Compiling on arm64 - how to reconfigure"
# Context

==================== compile uses the -msse2 FLAG =====================
Compiling on arm64  !!!!
using: cabal-install-3.4.0.0
vbox@it4us:~$ cabal --version
cabal-install version 3.4.0.0
compiled using version 3.4.0.0 of the Cabal library

## Essential Information

 - **Version**:
 - **Platform**:
 - **Installation**:
 - **Network**:
vbox@it4us:~/src/cardano-wallet$ lsb_release -a:
No LS

[2021-03-25 02:32] rvl commented on #2578
Hi, this issue seems to be related to the Haskell build environment on your Raspberry Pi, and nothing to do with cardano-wallet. We can't really help you with that.

In any case, at present, we do not build and test cardano-wallet for aarch64. It's not certain that an aarch64 build will work without code changes.

---

However... It _may almost_ be possible use Nix to cross-compile for your rpi4 f

[2021-03-25 04:59] whosystem opened #2579 "Cabal build fails with random-1.2.0 (2)"
cabal build Cardano.Wallet.DB.Sqlite.Types
# Context
`
Build profile: -w ghc-8.10.4 -O1
In order, the following will be built (use -v for more details):
 - cardano-wallet-core-2021.3.4 (lib) (first run)
Preprocessing library for cardano-wallet-core-2021.3.4..
Building library for cardano-wallet-core-2021.3.4..
[51 of 83] Compiling Cardano.Wallet.DB.Sqlite.Types ( src/Cardano/Wallet/DB/Sqlite/Types

[2021-03-25 07:05] whosystem commented on #2578
I understand that it is not guaranteed -
But I added to the issue with more data and logs and it appears that scrypt is natively available on arm.
So the build dependency needs to be removed and the executable has to be linked with the libscrypt-dev package.
So this has nothing to do per se with arm - the builds  might be better off linking with native material rather bringing in sources from othe

[2021-03-25 08:01] rvl commented on #2578
OK. See if you can get the https://github.com/informatikr/scrypt Haskell package to build first, then try cardano-wallet.

[2021-03-25 17:09] whosystem commented on #2578
Thank you for the pointer.
The package you pointed to me is completely unsuitable and unnecessary for inclusion in the arm architecture.
I am new to this environment and have the following difficulties:
The documentation on cabal is voluminous but does not point out how to debug cabal scripts/setups
for example - how to I know the value of os() being used?
how do I know the evaluation of a if cond

[2021-03-26 04:22] rvl commented on #2578
cardano-wallet needs scrypt because it's used for wallet spending passwords. So if scrypt (Haskell wrapper) won't build then cardano-wallet won't build. See informatikr/scrypt#8.

It's often not simple to diagnose cabal build failures. In the case of [scrypt.cabal](https://github.com/informatikr/scrypt/blob/master/scrypt.cabal), it does not provide an option to link with an external scrypt library

[2021-03-26 22:57] whosystem commented on #2578
That is what I thought  - the scrypt included is intel architecture specific - it is not just a wrapper - it is the whole library from what I gathered inspecting the code - and an arm replacement is available that does not need
the sse sub-processor.

Do I need to do the 'hacking'.

[2021-03-28 07:45] mark-stopka commented on #2578
Have you guys considered moving to [cryptonite](https://hackage.haskell.org/package/cryptonite)? It is multi-platform, has Scrypt support and is already used at least in `cardano-wallet-core`.

[2021-03-28 08:26] mark-stopka commented on #2578
Even Scrypt library "maintainer" recommends to move on...

https://github.com/cdepillabout/password/issues/15#issuecomment-624475279

[2021-03-28 15:51] coconutpool opened #2584 "When will we be able to create and send assets?"
When will we be able to create and send assets from the wallet-server?

[2021-03-28 21:42] rvl commented on #2584
cardano-wallet server can send assets but it doesn't yet have a minting function. You can mint assets with cardano-cli.

[2021-03-28 21:47] rvl commented on #2578
Oh right - it's in cryptonite, thanks @mark-stopka. We can use that then, unless there was some particular reason that the scrypt package needed to be used, which I doubt.

[2021-03-28 22:45] coconutpool commented on #2584
Ok great, but it's not documented in the API docs. Could somebody please update that?

Only get asset metadata and list assets are documented.

https://input-output-hk.github.io/cardano-wallet/api/edge/

[2021-03-29 01:18] rvl commented on #2584
Perhaps we can make the docs more clear, thanks for pointing that out.
Assets are treated more or less the same as ada, and appear wherever there are ada amounts.
So you can add assets to the `payment` field of [`postTransaction`](https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/postTransaction), and you can see them in the wallet balance..

[2021-03-29 01:25] coconutpool commented on #2584
Thanks for addressing my concerns. I appreciate your help.

[2021-03-29 01:25] #2584 closed, assigned to nobody

[2021-03-30 05:38] rvl commented on #2541
This was resolved in [v2021-03-04](https://github.com/input-output-hk/cardano-wallet/releases/tag/v2021-03-04)

[2021-03-30 05:38] #2541 closed, assigned to nobody

[2021-03-30 05:42] rvl commented on #2558
Hi, you need to add `--mainnet` to the RUN arguments of the cardano-wallet container.

[2021-03-30 05:42] #2558 closed, assigned to nobody

[2021-03-31 16:54] leobel opened #2591 "Include CARDANO_WALLET_HOST environment variable when running a cluster"
Include CARDANO_WALLET_HOST environment variable when running a cluster so you can interact with the cluster outside the local machine.

Right now the host `127.0.0.1` is hardcoded here https://github.com/input-output-hk/cardano-wallet/blob/master/lib/shelley/exe/local-cluster.hs#L266 and maybe we can change it the same way the other parameters does (e.g. CARDANO_WALLET_PORT) and keep `127.0.0.1`

[2021-04-01 00:26] rvl commented on #2591
Good idea.

[2021-04-01 12:46] gitloverr opened #2595 "unexpected floating number error"
hi everyone,

I try to send ADA, from an address to another. When I try  this ADA value ( 2.0190109999999994 ADA) for sending to another wallet, I got this error:

`'{"code":"bad_request","message":"Error in $.payments[1].amount.quantity: parsing AddressAmount failed, parsing Natural failed, unexpected floating number 2019010.9999999995"}'`

Why this situation happened? I would like to send all AD

[2021-04-01 13:59] piotr-iohk commented on #2595
@gitloverr I assume that you are trying to send your ADA using https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/postTransaction endpoint sending request to `cardano-wallet` directly?

Please note that wallet API operates at `lovelace` level (1ADA = 1 000 000 lovelace) and whole numbers only:
![Screenshot from 2021-04-01 15-57-33](https://user-images.githubusercontent.com/429002

[2021-04-01 21:34] ricn opened #2596 "Missing content-type application/json;charset=utf-8 for status code 404 on /wallets"
# Context

I'm building a library for Elixir that talks to the cardano-wallet and I think I found a bug.

The content-type header seems to be missing when calling http://localhost:8090/v2/wallets/<wallet_id> with an non existing id which returns with status code 404.

This is the headers I get back:
    {"date", "Thu, 01 Apr 2021 21:12:48 GMT"},
    {"server", "Warp/3.3.5"},
    {"content-length",

[2021-04-02 07:23] KtorZ commented on #2596
Good catch thanks. It may actually be the case for other endpoints too :thinking: , we should test this generically using the API data types to make sure not to miss any.

[2021-04-02 07:51] rvl commented on #2596
I also remember seeing some non-JSON plain text error responses from the API - which would be annoying for API consumers which unconditionally expect JSON. But I forget which error it was... edit: it is the unhandled exception 500 response.
Anyway, WIP PR #2597.

[2021-04-02 08:39] gitloverr commented on #2595
Hi, @piotr-iohk  thank you your support. Yes, I'm using the Cardano-wallet.

Actually my scenario is that:

My wallet total ada balance is : 8.1 ADA

and We assume my ada wallet address is : X
I would like to send 5.9 ADA to Y address

The network says (Cardano-wallet) this transaction fee will be 0.180989 ADA

Now;

Remaining ADA = **My Wallet Total ADA Amount - Transfer amount to Y Address - Fee

[2021-04-02 09:00] KtorZ commented on #2595
@gitloverr You **should not** use floating arithmetic when dealing with finance. Floating arithmetic is poorly suited for precise computation over large decimals and can cope well with rounding. For example, in your calculation above, the resulting amount is actually:

[code]

What you should do instead use plain integer at a higher resolution. In Cardano, we use `Lovelace`, 1 Ada is worth 1.000.0

[2021-04-02 09:11] gitloverr commented on #2595
ok, I see @KtorZ, thank you!

[2021-04-02 09:11] #2595 closed, assigned to nobody

[2021-04-02 12:11] gitloverr opened #2599 "About the Cardano-wallet Shelley addresses"
Hi everyone,

Cardano-wallet uses on Shelley called Random wallets, and the wallet comes with unused addresses (given as wallet pool gap parameter, when wallet create ) All ok, but I have a question at this point:

1- when the wallet generates a new address? when I use an address or another?

2- Exchanges or wallets apps serves a new address for each customers, at this point: If I give an address

[2021-04-02 12:53] KtorZ commented on #2599
1. The wallet maintains an invariant that is always keep a fixed number of **consecutive unused addresses** (following the specification from [CIP-1852](https://github.com/cardano-foundation/CIPs/blob/master/CIP-1852/CIP-1852.md)). Therefore, if an address is used within what we call the _edge_ and splits the consecutive sequence in two, then the set of unused addresses is automatically extended t

[2021-04-02 14:39] yurayakimenko opened #2600 "How to generate new addresses for wallet in Shelley protocol?"
Hi! Please, could anyone explain, how to generate new address for Cardano wallet on Shelley version of protocol? I'm using official docker image of cardano-wallet and it's API docs. But it's unclear to me, where to get possible credentials with prefixes: 'script_vkh', 'script_vk' or 'script_xvk' ?

Shelley Wallet API docs got paragraph (https://input-output-hk.github.io/cardano-wallet/api/edge/#op

[2021-04-02 15:08] KtorZ commented on #2600
Hello, the short answer is that: you can't.

The long answer is written with more details in the following Cardano Improvement Proposal https://github.com/cardano-foundation/CIPs/blob/master/CIP-1852/CIP-1852.md.

[2021-04-02 15:29] gitloverr commented on #2599
hi @KtorZ ,

I'm clearly now! I have a one question too: are address at the same point (or same index) in wallet, everytime or changeable ?

thank you

[2021-04-02 15:52] KtorZ commented on #2599
@gitloverr I do not understand your question? Could you try to reformulate it please?

[2021-04-02 16:11] gitloverr commented on #2599
hi @KtorZ ,

if I call the addresses of wallet with Cardano-wallet list address method, are those addresses always in the same index?

for example:

we assume;

at t time:  if the addresses of wallet sequence is like this: A, B, C, D, E, F

is it same sequence at t+1 time -everytime- : A,B,C,D,E,F ?

[2021-04-02 17:13] KtorZ commented on #2599
Addresses are ordered by derivation indexes, so yes.

[2021-04-03 14:18] jkain88 opened #2601 "Is it possible to create native token using cardano wallet?"

[2021-04-03 14:58] gitloverr commented on #2599
thank you so much @KtorZ !

[2021-04-03 14:58] #2599 closed, assigned to nobody

[2021-04-03 18:03] leobel opened #2602 "Provide some way to get the wallet Id from the recovery phrase or account public key"
I think that will be useful to get the wallet Id on "restore" or in another dedicated method. If for some reason you lost track of the wallet Id but the wallet is already loaded you'll find a hard time to get the wallet Id and effectively use it again.

I mean, maybe from an UI point of view is ok to just return an error when the wallet already exist ("This operation would yield a wallet with the

[2021-04-04 01:25] rvl commented on #2602
Hi @leobel, thanks for the suggestion. We will be implementing this soon to support the "reset password from recovery phrase" feature in Daedalus.

[2021-04-04 01:36] rvl commented on #2601
Hi @jkain88, not from the cardano-wallet API, not yet.
But you can use cardano-cli. See https://developers.cardano.org/en/development-environments/native-tokens/working-with-multi-asset-tokens/

[2021-04-04 01:36] #2601 closed, assigned to nobody

[2021-04-04 19:52] Anviking commented on #2575
Should be fixed.

[2021-04-04 19:52] #2575 closed, assigned to nobody

[2021-04-08 08:22] #2596 closed, assigned to nobody

[2021-04-13 15:26] leobel opened #2610 "Cardano-wallet malformed tx payload on Submit External Transaction endpoint"
I’m trying to submit an already signed tx from `cardano-cli` using the `cardano-wallet` endpoint: `https://localhost:8090/v2/proxy/transactions`

the signed transaction look like this:

       txBody = {
            "type": "Tx MaryEra",
            "description": "",
            "cborHex": "83a400818258202d7928a59fcba5bf71c40fe6428a301ffda4d2fa681e5357051970436462b89400018282583900c0e88694ab569f4

[2021-04-13 15:45] KtorZ commented on #2610
That endpoint does not accept JSON, it accepts a raw octet-stream. I don't know what HTTP client you're using, but there's certainly a way to provide a plain Buffer as a request. Following your examples and assuming Node.js, you would construct such a Buffer as:

[code]

Now, it's a matter of passing that buffer as THE request payload to your HTTP client.

[2021-04-14 19:08] leobel commented on #2610
@KtorZ I just tried that way without any luck. I'm using the autogenerated code from swagger, it looks like this:

[code]

I'm using this way:

[code]

Could be another problem but the API is just returning this generic error?

[2021-04-15 09:53] benapetr opened #2614 "Allow user to send without splitting the wallet balance into more addresses"
This is copy paste from Daedalus issue tracker as they said Daedalus is just using cardano-wallet and therefore can't affect this behaviour:

I noticed Daedalus right now has some annoying feature, where it randomly (at least when it decides to auto-withdraw rewards) splits the balance by sending ADA from address A, but returns unspent ADA back to address B (both A and B belonging to same wallet,

[2021-04-15 09:58] benapetr commented on #2614
also this leads to hypothetically unwanted scenario when ADA is split in a way that it's going to be expensive to send out, imagine this:

wallet with balance of 4ADA is split into multiple UTXOs due to this "feature":
[code]

Now imagine that owner of the wallet wants to send 1.7 ADA to someone - how? The minimal amount of ADA to send is 1ADA no address has balance enough to send 1.7 and other ad

[2021-04-17 17:00] LuisCRSousa opened #2617 "Origin address sometimes does not show the input address in the input transaction json"
The Input address shows in the testnet explorer but sometimes it doesn't in the cardano-wallet transaction json.

The first image shows the input address for transaction id: 0e9fb584d12bf70964d54a7ab26ddbe3e6a301b929767662a2b8619345a8595b
![02643009ef0c5e42a9e30aaa2949aae5164aff723fd0b66ac5e84d38835b5612](https://user-images.githubusercontent.com/8472158/115120701-b8474c80-9fa6-11eb-957e-83e51f8c2

[2021-04-17 18:13] KtorZ commented on #2617
The wallet can only show inputs details for transactions it knows of. That is the case of all outgoing transactions (because all inputs belong to the wallet), and generally not the case for incoming transactions (although, a transaction from the wallet to itself consuming rewards may be marked as incoming, and inputs fully known).

This is mentioned in the relevant section of the API documentation

[2021-04-17 18:13] #2617 closed, assigned to nobody

[2021-04-26 08:09] falassiry opened #2622 "Issues with wallet containing many unique native assets"
Sharing some issues I am facing with an NFT focused wallet which contains more than 700 different unique native asset NFTs.

For almost any send transaction, the "calculating fees" step can take from 1 minute to sometimes up to 10 minutes until a transaction fee is shown and I can click send.

Sometimes, this ultimately leads to a failure to complete transaction after entering a correct spending p

[2021-04-26 09:55] nikolaglumac commented on #2622
This is more of a question for [cardano-wallet](https://github.com/input-output-hk/cardano-wallet).
@rvl can you please transfer this card to cardano-wallet GitHub repository and provide some feedback for @falassiry 🙏

[2021-04-26 10:20] falassiry commented on #2622
I appreciate, sorry, could not navigate to the right repo.

[2021-04-26 17:02] piotr-iohk commented on #2622
@falassiry thanks for reporting.

Would you mind telling how many utxos has your wallet? You can check in Daedalus by going to 'More -> Wallet UTXO distribution' for the wallet. It says there: "This wallet contains X ADA in **N** UTXOs"

[2021-04-27 00:18] cheapstaking opened #2625 "Unable to invoke api calls when using TLS flags"
# Context

Unable to invoke any remote api calls when using TLS flags - Error "HandshakeFailed Error_EOF" - also cardadno-wallet cli commands that require API fail "This server only accepts secure HTTPS connections."

## Essential Information

 - **Version**:     2021.4.8
 - **Platform**:     Linux
 - **Installation**: Built from source
 - **Network**:      testnet

# Steps to Reproduce
1. Create

[2021-04-27 00:59] falassiry commented on #2622
71 UTXOs.
65 of them between 1 and 10 ADA.

[2021-04-27 03:27] jonathanknowles commented on #2622
@falassiry The variation in transaction fee is likely to be due to the random nature of the wallet's coin selection algorithm. When selecting coins from your wallet to make a payment, the algorithm selects randomly, until we've got enough to cover the target quantity of each asset. (The algorithm also tries to select a little more of each asset, in order to generate "nice" change values to give ba

[2021-04-27 03:33] falassiry commented on #2622
Is the consistent 1.5+ ADA transaction cost a result of this algorithm? My non NFT heavy wallet almost always gives costs below the 0.2 ADA mark. Knowing whether this is intended design or otherwise will help structure personal wallet setup decisions - one to receive and store NFTs and another one to send payments.

If it is not intended design which causes consistently higher transaction costs fo

[2021-04-27 03:51] jonathanknowles commented on #2622
Yes, it is a direct consequence of the particular way in which assets are distributed within your UTxO, and the way in which the coin selection algorithm selects them.

The transaction cost depends on:
- the number and nature of inputs selected by the coin selection algorithm
- the number and nature of the outputs that the user specifies
- the number and nature of the change outputs generated by t

[2021-04-27 04:01] falassiry commented on #2622
I appreciate the explanation and clarification. Could this also be directly related to my wallet eventually failing to calculate transaction costs in Daedalus, or taking abnormally long time to calculate them - therefore preventing normal usage? I am seeing 10+ minutes of just waiting for that calculation to happen for 1 single transaction of sending just some ADA from this NFT heavy wallet.

[2021-04-27 04:17] jonathanknowles commented on #2622
10 minutes seems very long indeed!

One factor that might be relevant is that the wallet **_currently_** estimates the fee by running the coin selection algorithm **100 times**, and then giving a fee estimate based on a range:

- `estimated_min`: a fee that is less than or equal to 90% of the fees observed in the sample set
- `estimated_max`: the highest fee observed in the sample set

The reason

[2021-04-27 04:22] falassiry commented on #2622
As long as my use case is noted out there - I hope this is eventually resolved.

In the meantime, is there any other workaround on my end for this same wallet of mine to become usable? Whether that means adding ADA assets to offset the amount of NFTs or something else, I am willing to consider. Otherwise I will wait for updates to sort this and keep using another wallet for payments until this is

[2021-04-27 04:29] jonathanknowles commented on #2622
Yes: if you have the ability to add one or more **_pure-ada_** entries to your wallet, then I'd propose giving this a try.

(It should be enough to send a small amount of ada from another wallet to the wallet that's exhibiting the problem.)

On another subject: it strikes me that our current UTxO distribution feature might not be very useful here for debugging, as it only describes the distributio

[2021-04-27 04:32] jonathanknowles commented on #2622
@falassiry It is definitely noted. Many thanks for your help in describing this problem. As I mentioned above, there are plans in the works to improve the way we report fees, which will hopefully remove the need to run coin selection 100 times.

Taking 10 minutes to make an estimation is definitely not what we want!

[2021-04-27 04:34] falassiry commented on #2622
I realize my case is not typical either so I understand and am willing to work around the limitation. Is there any other detail I can offer here to help debug or expose bottlenecks?

[2021-04-27 04:42] rvl commented on #2625
Hi there - Let's Encrypt certificates are primarily for publicly accessible servers.
You do not want to run the cardano-wallet API in this way.

Furthermore, the cardano-wallet API server requires HTTPS clients to authenticate with a client certificate.
You can create self-signed server and client certificates with `openssl`.

[2021-04-27 05:00] jonathanknowles commented on #2622
It's true that your case is probably not typical at the moment. Though knowing about your case is extremely valuable to us, as the number of users with NFTs and other non-ada assets will almost certainly increase over time.

@falassiry I'll confer with others in the team as to the best way to approach this, and we'll get back to you as soon as we can!

[2021-04-27 05:04] cheapstaking commented on #2625
Thanks Rodney - im trying to make it accessible but restricted to only a serverless logicApp via https with a firewall rule. (which wouldnt have a client cert)

Sounds like what im trying to do is not possible then

[2021-04-27 07:57] piotr-iohk commented on #2622
Thanks @falassiry. I was trying to reproduce your case on testnet building wallet with 500 unique tokens but with no luck so far. My fee estimation times are in the range of seconds. I'll add more tokens and try to reorganize utxo a bit.

In the meantime if you'd willing to share with us the account public key of the wallet we could debug your case in detail. Sharing account public key would give

[2021-04-27 08:07] rvl commented on #2625
You could run the cardano-wallet API behind a reverse proxy (e.g. NGINX) which does your SSL termination.

[2021-04-27 08:33] falassiry commented on #2622
I can share it - I can access the public key and just need details on how you'd like me to send it.

[2021-04-27 08:53] cheapstaking commented on #2625
Good call - ill take that route, thanks!

[2021-04-27 08:53] #2625 closed, assigned to nobody

[2021-04-28 08:24] jonathanknowles commented on #2622
@falassiry that's great news.

Would you be able to send it to one of the following addresses:

- `jonathan.knowles` at `iohk.io` (GPG public key available [here](https://keyserver.ubuntu.com/pks/lookup?search=jonathan.knowles%40iohk.io&fingerprint=on&op=index)).
- `piotr.stachyra` at `iohk.io` (GPG public key available [here](https://keyserver.ubuntu.com/pks/lookup?search=piotr.stachyra%40iohk.io

[2021-04-29 08:03] ceno666 commented on #2622
Greetings and thanks to @falassiry for redirecting me here.

I have the exact same problem, fee calculation takes like forever.
My wallet cointans 316 NFT tokens.

33 UTXOs between 1-10 ADA
1 UTXO between 100-1k ADA
1 UTXO between 1k-10k ADA

[2021-04-29 08:43] piotr-iohk commented on #2622
@ceno666 @falassiry thanks for reporting! We managed to reproduce your behavior with a testnet wallet and have this issue in our backlog now.

If you'd willing to share your public account key of the wallet that would be helpful too to get more insight into the issue -> https://github.com/input-output-hk/cardano-wallet/issues/2622#issuecomment-828256986

For the record we'd need output from this e

[2021-04-30 02:24] jonathanknowles opened #2630 "Flaky test: `Migration.SelectionSpec.prop_extend`"
# Context

Seen in local testing.

Fails around 2% of the time (20 failures seen over 1000 tests).

# Test Case

`Migration.SelectionSpec, Extending selections, prop_extend`

# Failure / Counter-example

[code]

Seeds known to provoke failure:
- `779325056`
- `301898547`
- `943930477`
- `880641516`
- `1000314715`
- `830602854`
- `14079222`
- `883834686`
- `171480765`
- `1820043751`
- `1562591007`

[2021-04-30 02:38] jonathanknowles commented on #2630
My working hypothesis is that `minimizeFee` is not fulfilling its obligation to be idempotent. I'd like to add a test for idempotency to this function.

I've added a set of seeds that cause this failure to the issue description.

[2021-04-30 12:08] ggcaponetto opened #2635 "docker compose is not starting the stack"
# Context

When executing

[code]
i expect the starting of all containers.

Currently i get the error: ``ERROR: manifest for inputoutput/cardano-wallet:2021.4.28-shelley not found: manifest unknown: manifest unknown``

[2021-04-30 12:36] rvl commented on #2635
Hi @ggcaponetto you are best off using configs from a released version, rather than `master`, which is the unstable development branch. So:
[code]

[2021-04-30 13:19] ggcaponetto commented on #2635
@rvl thanks. I got it to work.

[2021-05-02 16:24] NeedHelp305 commented on #2395
@KtorZ or anyone I have used the virtualbox with Ubuntu 20.04 and installed npm and node. Copied the secrets dir and run the restore-keystore tool as described above in Ubuntu Terminal. I get the below error. What am I doing wrong? Am I missing a package or library? Thanks.

(node:4030) UnhandledPromiseRejectionWarning: Error: Additional info not implemented: 30
    at Decoder._parse (/home/cmende

[2021-05-03 12:15] #2630 closed, assigned to jonathanknowles

[2021-05-04 03:42] face0612 commented on #2610
having a similar issue. I am getting `malformed_tx_payload` error even when sending through octet-stream

[2021-05-04 07:26] piotr-iohk commented on #2395
@NeedHelp305 the feature of importing old wallet from state directory or `secret.key` is now available directly in Daedalus. Have you tried that? (Add wallet -> Import)

![Screenshot from 2021-05-04 09-25-54](https://user-images.githubusercontent.com/42900201/116972058-c55c7f00-acba-11eb-8edc-cd2e39f70ba2.png)

[2021-05-04 16:14] dario97 opened #2639 "Image cardano-wallet:2021.4.28-shelley does not exists"
I get the following error when running docker-compose up command:

if I change that image to "inputoutput / cardano-wallet: 2021.4.28", everything works fine.

[2021-05-04 23:12] electic commented on #2610
Having the same issue here as well.

[2021-05-05 03:12] rvl commented on #2639
Hi @dario97 - yes, thanks, since the [v2021-04-28](https://github.com/input-output-hk/cardano-wallet/releases/tag/v2021-04-28) release, the image is now tagged as `inputoutput/cardano-wallet:2021.4.28`. Fixed in #2640.

[2021-05-05 06:13] #2639 closed, assigned to nobody

[2021-05-05 17:27] leobel commented on #2610
I solved the issue, the problem on my case was here:
[code]

It seems that the swagger code generation here: [https://editor.swagger.io](https://editor.swagger.io) has some issues generating the typescript/axios client since these lines:
[code]
are the problem. Here the `Buffer` is being "stringified" but we need to pass it as THE REQUEST as @KtorZ mentioned above.

So replacing the 2 above lines

[2021-05-06 02:22] rvl commented on #2635
Great!

[2021-05-06 02:22] #2635 closed, assigned to nobody

[2021-05-07 13:29] zxpectre commented on #2614
I guess this is a common practice on UTXO model for the unspent values but the ability to build and submit transactions with total control of inputs and outputs on cardano-wallet (as you can do in cardano-cli) would be really appretiated as for now we cannot develop payment processing using 1 derived address per 1 user using single mnemonic account because checking if addresses are in use i'ts not

[2021-05-07 13:35] #2610 closed, assigned to nobody

[2021-05-08 20:47] NeedHelp305 commented on #2395
Indeed I did was the first thing I tried actually. I get the dreaded 'Wallets not found...' error as attached even though I point to directory and there is data in both State directory and secret.key file.
![Daedalus State2](https://user-images.githubusercontent.com/82916377/117552851-e8b95e00-b01b-11eb-9756-a184a893eb58.JPG)

and this:
![Daedalus State1](https://user-images.githubusercontent.com/

[2021-05-08 22:43] NeedHelp305 commented on #2395
Also tried the ./restore-keystore.ts tool in Ubuntu 18.04 and I got stuck with that one at this point with this error:

![Ubuntu restore-keystore error 1](https://user-images.githubusercontent.com/82916377/117555327-43f34c80-b02c-11eb-8708-1a86214b7c70.JPG)

So I ran the suggested 'npm fund' which showed me this:

![Ubuntu restore-keystore error 2](https://user-images.githubusercontent.com/8291637

[2021-05-15 02:04] varianchu opened #2653 "Cardano Wallet Serve Couldn't connect to Node"
I am trying to use this command:

 cardano-wallet serve \
  --testnet testnet-byron-genesis.json \
  --node-socket CARDANO_NODE_SOCKET_PATH_OR_PIPE \
  --database ./wallets-testnet

However once executed, I couldn't seem to connect to the node. Any ideas as to why this is happening?
![Screen Shot 2021-05-15 at 10 01 19 AM](https://user-images.githubusercontent.com/2063765/118345094-dcc22480-b564-1

[2021-05-17 04:16] rvl commented on #2653
Hi there @varianchu, the text `CARDANO_NODE_SOCKET_PATH_OR_PIPE ` is supposed to be replaced with the actual filepath of the socket for a running `cardano-node`. You need to run both `cardano-wallet` and `cardano-node`, and they communicate using this file. Here are [instructions on how to run cardano-node](https://docs.cardano.org/projects/cardano-node/en/latest/).

[2021-05-19 06:04] rvl opened #2657 "Flaky test: /tmp/stack-2dfd0bd162f34f1a/test-ghc-env: openBinaryFile: resource busy (file is locked)"
# Context

There are rare failures just after the `stack test` run completes. The error message is:
[code]

It could be a bug in `stack`. See https://github.com/commercialhaskell/stack/issues/5024.

# Test Case

Buildkite stack build & test.

# Failure / Counter-example

https://buildkite.com/input-output-hk/cardano-wallet/builds/14712#f922ddf0-672a-43cc-8414-bd7aad2d49d6

[code]

---

# Resolutio

[2021-05-26 10:18] ghost commented on #2622
Hi there,
Currently we mint a thousands NFT with scenario as below:

We minted NFTs by ~ 24 transactions, each transaction contain 100 NFTs
After that, we sent 50 NFTs ( = 50 transactions, respectively) to others. And the fee arround 1.9 ADA for total
But for now, we try to send NFT, the fee is higher (~ 6ADA ) and unsuccessful.

![image](https://user-images.githubusercontent.com/67568662/11964373

[2021-05-27 16:54] leobel commented on #2614
Hi @benapetr, maybe [this article](https://iohk.io/en/blog/posts/2018/07/03/self-organisation-in-coin-selection/) can help you to understand better

[2021-05-31 15:04] SmaugPool commented on #2622
My wallet is stuck too with 7 UTXOs and 209 tokens, using a Ledger Nano S.

I can provide more information if needed.

[2021-05-31 15:38] piotr-iohk commented on #2622
Fix for this issue landed already in master (https://github.com/input-output-hk/cardano-wallet/pull/2676). It should improve fee estimation in case of NFT-packed wallets and thus hopefully unblock them. It will be available in the next cardano-wallet release.

In the meantime, if you'd like, you may check if current cardano-wallet master handles your wallet better. :+1:

[2021-05-31 15:45] SmaugPool commented on #2622
That's great news! Thank you.

[2021-06-01 02:53] ghost commented on #2622
That's great. Thank you!
And when is next release @piotr-iohk ?

[2021-06-01 14:36] Mercurial commented on #2579
I'm also experiencing this issue when compiling under `Ubuntu 20.04` can anyone advice how to get past this? I've tried both ghc `8.10.2` and `8.10.4`

[code]

[2021-06-01 15:33] Mercurial opened #2685 "Cabal build fails with random-1.2.0"
# Context

When trying to compile `cardano-wallet` using cabal I'm getting the following error:

[code]

tried ghc `8.10.2` and `8.10.4`

## Essential Information

 - **Version**:      `cardano-wallet` release/tag ` v2021-05-26`
 - **Platform**:    Linux (Ubuntu 20.04)
 - **Installation**: from source
 - **Network**:  any

# Steps to Reproduce
1. git clone https://github.com/input-output-hk/cardan

[2021-06-01 17:33] KtorZ commented on #2685
The team mostly use Stack and Nix for building the project. We try to maintain build for Cabal along the way but few things might have broken in the cabal build with the various updates for Alonzo.

This will get addressed eventually, but for now it's better if you stick with stack. It seems that cabal is picking either and old or too recent version of persistent somehow.

Note that It's surprisin

[2021-06-01 17:34] KtorZ commented on #2685
For any questions about building with stack, please refer to: https://github.com/input-output-hk/cardano-wallet/wiki/Building#stack

Alternatively, you may also get a precompiled binary or a docker image to avoid building yourself from sources (unless this is specifically what you want).

[2021-06-01 17:46] Mercurial commented on #2685
Thank you, I am writing a documentation about Cardano Components so I'm trying all the options. But looks like I'll just recomend using `stack` for now when dealing with `cardano-wallet`.

[2021-06-01 17:49] Mercurial commented on #2685
I also found this related issue: https://github.com/input-output-hk/cardano-wallet/issues/2579

[2021-06-02 03:09] rvl commented on #2685
It's due to changes in [random-1.2.0](http://hackage.haskell.org/package/random-1.2.0/changelog).

Cabal picks whatever versions are newest according to its local index state, and any package version contraints.
Stack uses curated "LTS snapshot" package sets.
So there are often slight differences between dependency versions, depending on which build tool that you use.

Here is a workaround for Cab

[2021-06-02 03:11] rvl commented on #2579
Hello @whosystem, @Mercurial, thanks for reporting. You can work around this either by using the stack build tool, or adding a Cabal option like this:
[code]

[2021-06-02 03:12] Mercurial commented on #2579
Thank you very much!

[2021-06-02 03:14] Mercurial commented on #2685
Thank you so much for the answer, much appreciated!

[2021-06-02 03:38] rvl commented on #2579
I'll set this as a duplicate of #2685.

[2021-06-02 03:38] #2579 closed, assigned to rvl

[2021-06-03 12:48] rajqumar opened #2689 "Lists all incoming and outgoing wallet's transactions issue"
https://localhost:8090/v2/wallets/{walletId}/transactions
This API is fetching transactions only within the addresses generated by a single wallet.
It is not showing transactions from other wallet or if you deposit funds from faucet site.
External Transactions are not included in the response

[2021-06-03 13:36] den-is opened #2690 "Release artifact version string differs from what actual binary returns"
SysOps minor issue related to consistency and conventions.

I'm building small automation script to setup cardano-wallet component on a node - why not :)

So for example: Release tag in the git repo and github releases web UI says **v2021-05-26**
But actual binaries return
[code]

Difference in `v`, `-`, `0`

while it is easy to manipulate outputs, like bellow, imho better consistency is always be

[2021-06-03 21:46] matiwinnetou commented on #2622
Check out if today's 4.1.0 Daedalus contains this fix...

[2021-06-04 05:48] nikolaglumac commented on #2622
I am sorry to disappoint you but this fix was merged after the release of cardano-wallet [`v2021-05-26`](https://github.com/input-output-hk/cardano-wallet/tree/v2021-05-26) which is the version used in Daedalus 4.1.0...

[2021-06-04 06:01] ghost commented on #2622
@nikolaglumac
We hope in the next version of Daedalus soon

[2021-06-04 06:07] nikolaglumac commented on #2622
I am pretty sure we will have it in the next Daedalus version.
Thanks for the patience!

[2021-06-04 07:02] ghost commented on #2622
Thank you very much @nikolaglumac

[2021-06-04 09:35] rajqumar commented on #2689
I am generating enterprise address, its not showing in list addresses, neither the balance is getting updated.

[2021-06-04 11:15] rvl commented on #2690
Yes OK, thanks for reporting.
It's showing the Cabal package version and the Cabal package manager disallows leading zeroes in version numbers.
But for the git tags (shown in GitHub releases page), we like to use the nicer date formatting.
Perhaps in the `cardano-wallet version` CLI we could format the Cabal version to match the git tag.

[2021-06-07 06:09] #2685 closed, assigned to rvl

[2021-06-07 07:54] ghost commented on #2622
Hi @piotr-iohk.
Today I tried to pull newest code of cardano-wallet
[code]

And try to run the API for calculating fee: http://localhost:8090/v2/wallets/{walletID}/payment-fees   but it seems the issue has not fixed on latest merged yet because I have to wait long time and no respond from that API.

Otherwise, If I use the API: http://localhost:8090/v2/wallets/{walletID}/transactions
I got an erro

[2021-06-07 08:25] piotr-iohk commented on #2622
Hello @oanhsaitec, please note that the fix is not included in the latest wallet release (2021-05-26). If you'd like to try out the master version of the wallet with docker-complose you have to modify docker-compose.yml (https://github.com/input-output-hk/cardano-wallet/blob/master/docker-compose.yml#L21) replacing `2021.5.26` with `dev-master` before:
[code]

[2021-06-07 10:42] ghost commented on #2622
Thank you @piotr-iohk,
When I changed to the dev-master, first transaction I created successfully, the second on I got
[code]

but actually, I check on pool.pm has nothing sent to it

Any clues?

p/s: it seems I have to wait a couple of minutes before send the next transaction.
Also, I checked at the local log and got

[code]

[2021-06-07 13:21] piotr-iohk commented on #2622
@oanhsaitec please note that your transaction was still in pending state:
[code]
i.e. submitted to the local node but not yet propagated. You need to wait until transaction status changes to `in_ledger` to be able to observe it on the blockchain.

[2021-06-07 13:43] ghost commented on #2622
@piotr-iohk,
Yes, you are right. it needs time to be on-chain then I should add TTL around 1 min.

Thank you so much for your support!

[2021-06-08 16:33] Anviking opened #2695 "Weeder: Command exited with code -9"
# Context

# Test Case

Weeder check

# Failure / Counter-example

[code]

# Resolution

---

# QA

[2021-06-09 01:49] rvl commented on #2695
On Linux, if a process exits with -9, it's because it's been killed with SIGKILL.

Normally builds or processes are stopped with SIGTERM or SIGINT.

So I believe this build failure is probably due to the Linux OOM killer running on the Buildkite build agent.

It may have been another project's build running at the same time which used all the memory and caused our build to be zapped.

This would h

[2021-06-10 10:27] Anviking opened #2699 "Failing migration tests (e.g. SHELLEY_MIGRATE_08)"
# Context

# Test Case

[code]

# Failure / Counter-example

[code]

---

# Resolution

We use `eventually` and the normal, nonretrying `Hspec.it` here.

This means that the condition of `eventually` can be satisfied, but then rolled back.

We should either use:
1. `waitForTxImmutability`
2. A cluster without forks
3. Retry test on failures

---

# QA

[2021-06-10 12:22] Anviking commented on #2695
@rvl FYI they are linked indirectly through github:

<img width="890" alt="Skärmavbild 2021-06-10 kl  14 22 06" src="https://user-images.githubusercontent.com/304423/121524095-3d733e80-c9f7-11eb-9534-8e8edb3029d3.png">

But e.g. https://buildkite.com/input-output-hk/cardano-wallet/builds/15044

[2021-06-10 20:15] Anviking opened #2703 "Hydra builds time out or get killed"
# Context

https://github.com/input-output-hk/cardano-wallet/pull/2692#issuecomment-856781615

- Hydra / macOS

# Test Case

This is while running a build, not while running a test suite.

# Failure / Counter-example

[code]
https://hydra.iohk.io/build/7548540
[code]

---

# Resolution

---

# QA

[2021-06-11 03:08] rvl commented on #2695
OK I see. The monitoring shows something gobbled all the memory at the time the build failed:

![grafana-packet-ipxe-2](https://user-images.githubusercontent.com/1019641/121625040-09ab1e00-cab6-11eb-80b7-e5dc6eb1e1e9.png)

[2021-06-11 03:34] rvl commented on #2695
I wonder if it's a problem with weeder itself. Because after looking at the logs for packet-ipxe-2, the only jobs running around the same time were:
- https://buildkite.com/input-output-hk/cardano-wallet/builds/15044#15be0fbf-9d48-4997-b874-643c35bebbf3 (weeder)
- https://buildkite.com/input-output-hk/cardano-wallet/builds/15045#828bcede-9de4-4eae-87b3-aad77d844eb8 (docker)
- https://buildkite.com

[2021-06-11 04:35] rvl commented on #2699
What if we created an API endpoint that could pause/resume syncing of a wallet?

Once the `eventually` condition is met, pause chain updates, check the condition a second time, run the block of assertions, then resume the wallet.

[2021-06-11 04:40] rvl commented on #2703
I updated the title and description. The log shown is from a nix build not a stack build.

The cause is mac mini issues. Sometimes the VMs freeze up.

[2021-06-11 11:29] Anviking commented on #2695
😮 nice finding!

✔️ 🤔

[2021-06-11 13:10] #2690 closed, assigned to nobody

[2021-06-11 14:15] mikaint opened #2706 "Node to client version error"
# Context

Keep getting this error when connecting on testnet:
`IP LocalAddress "" ErrorPolicyUnhandledApplicationException (Refused NodeToClientV_8 "version data mismatch: NodeToClientVersionData {networkMagic = NetworkMagic {unNetworkMagic = 1097911063}} /= NodeToClientVersionData {networkMagic = NetworkMagic {unNetworkMagic = 764824073}}")
`

## Essential Information

 - **Version**:      1.25.

[2021-06-11 14:31] KtorZ commented on #2706
You are trying to connect to the testnet using a mainnet configuration (the default). This can be changed using the `--testnet` command option. See also: https://github.com/input-output-hk/cardano-wallet/wiki/Wallet-command-line-interface#examples

If you're using the `docker-compose` setup, you can configure the target network using an environment variable as:

[code]

[2021-06-11 15:55] mikaint commented on #2706
This is the command for wallet i have:
`
cardano-wallet serve --node-socket /ipc/node.socket --database /wallet-db --listen-address 0.0.0.0 --testnet /genesis/byron.json`

[2021-06-13 01:36] rvl commented on #2706
Hello @mikaint - please provide some more details about exactly which docker images you are using and how you are starting the wallet and node (e.g. `docker` command lines) so that we can help you.

[2021-06-14 03:20] MrMitch17 opened #2710 "[feature] Show incoming tx Input address in wallet API"
I need to get the incoming address of transactions.   I am using cardano-wallet for a service and need to use the incoming address for who sent transactions into the wallet.  The rest API lists what I am looking for and on the testnet I was getting the address, but on mainnet I am not getting the address.   I would like to not have to use another service / API to get this information.

GET /v2/wal

[2021-06-14 09:18] rvl commented on #2710
Hi @MrMitch17, thanks for the report.
That feature is on our backlog but it's not a high priority at the moment.
You will need to query an explorer for now.

[2021-06-14 17:27] Anviking commented on #2565
Logs of past failures:
[2565.zip](https://github.com/input-output-hk/cardano-wallet/files/6650172/2565.zip)

Looking for db-busy warnings: didn't find that many.

Although before the logging rework, they wouldn't have been visible.
[code]

[2021-06-14 18:06] Anviking commented on #2699
Should be fixed.

[2021-06-14 18:06] #2699 closed, assigned to nobody

[2021-06-14 18:10] Anviking commented on #2248
Old ticket, must have been solved some time.

[2021-06-14 18:10] #2248 closed, assigned to nobody

[2021-06-14 18:15] Anviking commented on #2152
Haven't seen again since 22 Jan. Think we can close.

[2021-06-14 18:15] #2152 closed, assigned to nobody

[2021-06-14 18:23] Anviking commented on #2564
This seems to be Mac only so far

[2021-06-14 19:29] Anviking commented on #2415
Should hopefully be fixed by #2698
<img width="920" alt="Skärmavbild 2021-06-14 kl  21 13 21" src="https://user-images.githubusercontent.com/304423/121948291-59f4db00-cd57-11eb-842f-b6e4bc6fc746.png">

Can re-open otherwise.

Note: the issue in the ticket description is technically different from all recently logger errors, but looking past it as it's really old.

[2021-06-14 19:29] #2415 closed, assigned to rvl

[2021-06-14 19:31] Anviking commented on #2467
<img width="1052" alt="Skärmavbild 2021-06-14 kl  21 30 43" src="https://user-images.githubusercontent.com/304423/121948671-d12a6f00-cd57-11eb-8e20-12fcf132b2b6.png">

Hoping this is fixed by #2698. Can re-open if not.

[2021-06-14 19:31] #2467 closed, assigned to nobody

[2021-06-14 19:33] Anviking commented on #2221
Old issue, fixed at some point.

[2021-06-14 19:33] #2221 closed, assigned to nobody

[2021-06-14 19:35] Anviking commented on #2189
Don't think windows tests are passing, but I think this problem was fixed. Think we can close.

[2021-06-14 19:35] #2189 closed, assigned to rvl

[2021-06-15 11:06] Anviking commented on #2565
[2565.zip](https://github.com/input-output-hk/cardano-wallet/files/6655066/2565.zip)

Using `./scripts/bors-stats.rb download-logs --tag "#2565" --after "25 Mar"` to fetch logs from after the rework: I think it looks like there are "SQLITE_BUSY" errors right before each failure.

<img width="978" alt="Skärmavbild 2021-06-15 kl  13 05 03" src="https://user-images.githubusercontent.com/304423/12204

[2021-06-15 20:52] Anviking opened #2715 "Flaky: reward wallets don't have rewards"
# Context

# Test Case

All tests which use reward wallets

# Failure / Counter-example

[code]

---

# Resolution

There might have been rollbacks in the reward-wallet setup code.

---

# QA

[2021-06-15 21:04] Anviking commented on #2564
Tracking as the more general https://github.com/input-output-hk/cardano-wallet/issues/2715

[2021-06-15 21:04] #2564 closed, assigned to nobody

[2021-06-16 06:21] jonathanknowles commented on #2715
@Anviking could this be the result of https://github.com/input-output-hk/cardano-wallet/pull/2700?

[2021-06-16 07:13] Anviking commented on #2715
I don't think so — this failure occurred earlier: https://github.com/input-output-hk/cardano-wallet/pull/2687#issuecomment-852923175

[2021-06-16 09:28] Anviking opened #2719 "Flaky: pool is setup without stake"
# Context

At the beginning, we setup the stake pools with stake, to make them produce blocks.

# Test Case

# Failure / Counter-example

[code]

Note that one pool has `relativeStake = Quantity {getQuantity = Percentage {getPercentage = 0 % 1}}`.

---

# Resolution

Like #2715, this might be something rollback-related in the cluster setup.

---

# QA

[2021-06-16 09:59] Anviking opened #2720 "Flaky: Tests failing due to failed cluster setup"
# Context

# Test Case

Between 3 and 50 ones.

# Failure / Counter-example

Instance:

### 50 failures

First
[code]
but also

[code]

At the end.

### 3 SHELLEY_STAKE_POOLS failures (previously #2719 )

###  12 reward failures (previously #2715 )

[code]

---

# Resolution

The syncing problems might be caused by the previous mass-failures. Think just fixing the setup rollback problem would solv

[2021-06-16 10:02] Anviking commented on #2719
Tracking as #2720

[2021-06-16 10:02] #2719 closed, assigned to nobody

[2021-06-16 10:03] Anviking commented on #2715
Tracking as #2720

[2021-06-16 10:03] #2715 closed, assigned to nobody

[2021-06-16 19:12] Anviking commented on #2472
Grouping recent Mac hydra timeouts by month in lack of better ideas, but not sure what to tell from it:

[code]

[2021-06-18 11:36] Anviking commented on #2720
Should hopefully be fixed now.

[2021-06-18 11:36] #2720 closed, assigned to Anviking

[2021-06-21 05:49] jonathanknowles opened #2728 "Deadlock in test case: `Logging Middleware/different request ids`"
# Context

Seen when running multiple concurrent instances of the `cardano-wallet` unit test suite in parallel on a Xeon 16-core machine running Ubuntu Linux.

# Test Case

```--match "different request ids"```

# Failure / Counter-example

This test case deadlocks and makes no further progress, requiring the process to be killed.

![Screenshot from 2021-06-21 13-48-16](https://user-images.githubu

[2021-06-21 19:03] Fell-x27 opened #2730 "Cardano wallet's threads are dying while syncing"
# Context
There is a cardano wallet instance with few hundreds wallets connected to.
But you can't syncronize it, because threads are unstable.

## Essential Information

 - **Version**:      v2021-06-11 (git revision: 1532352c75cfe02015873c4c82b0d76eb798dfd8)
 - **Platform**:      LInux
 - **Installation**:  Binaries from release
 - **Network**:      mainnet

logs piece with an error:

[code]

#

[2021-06-21 19:09] Fell-x27 commented on #2730
Also log is full of messages like this:
[code]

But the node is online and perfectly synced.

[2021-06-21 19:15] Fell-x27 commented on #2730
Also when you do
[code]
You see hundreds of  "[cardano-wallet.wallet-db:Info:6721] [2021-06-21 19:12:04.74 UTC] Found existing wallet: etc" messages,
but
[code]
in the console

and

[code]

in the log

[2021-06-22 04:38] jonathanknowles opened #2731 "Flaky test group: `/Cardano.Wallet.Api.Server/API Server/`"
# Context

Seen during weekend repetition tests:

| Test date | Commit | Test run count | Failure count | Failure rate |
|--|--|--|--|--|
| `2021-06-19` | ca9cbedbf253afdb4623c74d7d137a68317985ad | 2000 | 2 | 0.1% |
| `2021-06-26` | 690e5a2bee1bd4cfbd760c65e8a7f20b71cbfad0 | 1000 | 5 | 0.5% |

# Test cases

[code]

# Failures

## `NoSuchThing`

[code]

## `UserError`

[code]

# Resolution

---

#

[2021-06-22 04:42] jonathanknowles opened #2732 "Flaky test: `/Cardano.Wallet.DB.Sqlite/Properties/Tx History/`"
# Context

Seen during `2021-06-19` weekend stress test. (2 failures in 2000 runs.)

Test setup: 4 instances of `cardano-wallet-core:test:unit` running repeatedly in parallel on 16-core Xeon CPU / Ubuntu for 60 hours.

[code]

# Test Cases

[code]

# Failure / Counter-example

[code]
---

# Resolution

---

# QA

[2021-06-22 04:44] jonathanknowles opened #2733 "Flaky test: `Does not return until 'before' is completed`"
# Context

Seen during `2021-06-19` weekend stress test. (2 failures in 2000 runs.)

Test setup: 4 instances of `cardano-wallet-core:test:unit` running repeatedly in parallel on 16-core Xeon CPU / Ubuntu for 60 hours.

[code]

# Test Case

[code]

# Failure / Counter-example

[code]
# Resolution

---

# QA

[2021-06-22 09:20] rvl commented on #2730
Thanks for the report and logs @Fell-x27.
It seems to be a problem with error handling.
We are going to investigate this further.

[2021-06-22 09:56] piotr-iohk commented on #2730
I have reproduced this on testnet and filed Jira ticket: ADP-1013.
It is somewhat similar in observed behavior to ADP-798 (Intermittent 500 Internal Server Error on GET or DELETE Wallet)

[2021-06-22 14:42] Anviking commented on #2368
Test removed in  #2734

[2021-06-22 14:42] #2368 closed, assigned to nobody

[2021-06-23 19:08] discosultan opened #2735 "cardano-wallet fails to connect to cardano-node after docker-compose down && docker-compose up"
# Context

I started the cardano-wallet and cardano-node using `NETWORK=mainnet docker-compose up`. I let the node fully sync and the wallet was functional. After doing `docker-compose down` and starting up again with `NETWORK=mainnet docker-compose up`, the wallet fails to connect to node with the following logs:

[code]

These warning messages keep going forever.

## Essential Information

 - **

[2021-06-23 19:09] discosultan commented on #2735
Seems to start eventually. Can just take very long time.

[2021-06-23 19:09] #2735 closed, assigned to nobody

[2021-06-24 06:04] rvl commented on #2735
This would probably be because cardano-node is rebuilding its ledger DB, which can take a while.
cardano-node only creates the socket file after this rebuild has finished.

[2021-06-26 19:14] MrMitch17 commented on #2710
Sure thing, just figured I would make a note for visibility.

[2021-06-27 01:41] gringokiwi commented on #2602
Commenting just to say I second this; having the wallet ID get returned as a seperate key in a conflict error could be nice, or better, have a single endpoint to get details on a wallet (via xpub) regardless of whether it exists on the DB. Thanks for raising this (and making cardano-wallet-js) @leobel

[2021-06-28 14:38] piotr-iohk opened #2742 "Cabal build fails in CI"
# Context

https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/997#314d5b8b-1d1b-4c95-b121-be272bfa742b

# Test Case

https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/997#314d5b8b-1d1b-4c95-b121-be272bfa742b

# Failure / Counter-example

[code]

I have different error running cabal build all locally: (:thinking: )
[code]

---

# Resolution

---

# QA

[2021-06-29 03:07] jonathanknowles opened #2743 "Flaky test group: `/Network.Wai.Middleware.Logging/Logging Middleware/`"
# Context

| Test date | Commit | Test run count | Failure count | Failure rate |
|--|--|--|--|--|
| `2021-06-26` | 690e5a2bee1bd4cfbd760c65e8a7f20b71cbfad0 | 1000 | 2 | 0.2% |

# Flaky test cases

This test group seems to suffer from cascading failure, meaning that if one test fails, other subsequent tests in the group are also likely to fail.

[code]

# Failure example

[code]

# Resolution

---

[2021-06-29 11:13] Anviking commented on #2472
Though we haven't had _that many_ merges since the merging of #2727, we've not seen it again, and I think it helped.

[2021-06-29 11:13] #2472 closed, assigned to nobody

[2021-07-01 09:31] #2742 closed, assigned to rvl

[2021-07-05 14:48] #2653 closed, assigned to nobody

[2021-07-07 11:26] piotr-iohk opened #2753 "(Instance of #2855) Flaky test: `SHELLEY_CLI_WALLETS, WALLETS_CREATE_04` - fd:146: hFlush: resource vanished (Broken pipe)"
# Context

https://buildkite.com/input-output-hk/cardano-wallet/builds/15401#6bd555ea-a279-464a-9097-7c57af05b7fc

# Test Case

[code]

# Failure / Counter-example

[code]

---

# Resolution

---

# QA

[2021-07-10 15:55] hussu010 opened #2757 "Question: How to include passphrase while creating a transaction"
Hi, I'm using the CLI command to create a transaction and trying to use it in my script but I'm prompted to enter the passphrase. Is there a way to include a passphrase in the command itself?
`cardano-wallet transaction create WALLET_ID --payment=AMOUNT@RECIPIENT_ADDRESS`

[2021-07-11 16:54] hussu010 commented on #2757
Found the solution. Could have used the Cardno API instead.

[2021-07-11 16:54] #2757 closed, assigned to nobody

[2021-07-12 11:24] tmazhuan opened #2759 "Couldn't connect to node"
Hi all,
i'm trying to run the cardano-wallet against my mainnet node but always get the following message:
`[cardano-wallet.network:Warning:13] [2021-07-12 11:17:02.46 UTC] Couldn't connect to node (x87). Retrying in a bit...`

I use the following comand to start the wallet:
`docker run  inputoutput/cardano-wallet:2021.6.11 serve --node-socket=/home/thomasm/Cardano/cardano-node/node-ipc/mainnet/no

[2021-07-12 12:32] piotr-iohk commented on #2759
Hi, I believe you need to use https://docs.docker.com/storage/bind-mounts/ to access node.socket that is on your local system, e.g.:

[code]

Have a look at our https://github.com/input-output-hk/cardano-wallet/blob/master/docker-compose.yml which provides cardano-walet and cardano-node docker containers with compatible versions. You can start wallet + node from there on mainnet too:

[code]

[2021-07-19 03:39] rvl commented on #2695
Happened again in https://buildkite.com/input-output-hk/cardano-wallet/builds/15563#d800ef36-7911-4a15-aced-2e28621653ce/10267-10269. The weeder step was running for 27 minutes before it was killed.

[2021-07-19 14:21] rvl commented on #2695
After the weeder config fixes, I found this error on Buildkite:
[code]
That is due to loading a cached `.stack-work` built with a previous compiler version.

Perhaps the weeder problem is due to corrupted `.hie` files or something like that?

[2021-07-19 15:33] ghost commented on #2578
Any progress on this issue? I'd be fantastic to run cardano-wallet on a RPi.

[2021-07-19 18:22] rvl commented on #2578
Please try the flag in PR #2767.

[2021-07-20 14:38] #2695 closed, assigned to nobody

[2021-07-20 19:34] ghost commented on #2578
I gave the PR a try. Unfortunately it still fails (see below).. not sure if it is related:

[ 7 of 20] Compiling Plutus.V1.Ledger.Scripts ( src/Plutus/V1/Ledger/Scripts.hs, dist/build/Plutus/V1/Ledger/Scripts.o, dist/build/Plutus/V1/Ledger/Scripts.dyn_o )

src/Plutus/V1/Ledger/Scripts.hs:102:21: error:
    * Overlapping instances for Flat.Flat [a]
        arising from a use of `Flat.flat'
      Ma

[2021-07-21 06:37] HeinrichApfelmus commented on #2578
This seems to be unrelated. Which compiler version are you using? The original poster used GHC 8.10.4.

[2021-07-21 07:57] ghost commented on #2578
I've tested it with ghc-8.10.5 and ghc-8.10.4.. For both versions, compilation fails in the same way. Let me know if there is something I can test/run for you to help tracking this down. Thx!

[2021-07-21 08:05] benapetr commented on #2614
FYI I cross referenced this issue here - https://forum.cardano.org/t/is-there-any-way-to-investigate-where-ada-from-transaction-ended-or-confirm-it-was-delievered/67257 this is a good example of why this can be a problem.

This model makes blockchain transactions so confusing and obfuscated to end-users that they are not even able to understand if ADA was delivered to their wallet or not (or even

[2021-07-21 11:34] rvl commented on #2578
Oops, looks like the Cabal build is broken again. We generally use stack.

Some package is missing a version bound. We'll fix it when we update to cardano-node 1.28.0.

[2021-07-21 13:45] piotr-iohk opened #2771 "Restoration benchmark fails (hp2pretty gets killed)"
# Context

It seems to be happening since build 1018. All the restoration benchmarks (1018 - 1023) fail for that reason except for 1021 (which passes)
e.g.:

https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/1018#aac6e105-1322-4022-994f-157be5a4508c
https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/1023#0a4f701a-dc86-4782-9f67-647ce3e3573e

# Test Case

# Failur

[2021-07-21 16:27] xptodevx opened #2772 "Can't run, Mac OS M1!"

[2021-07-21 16:36] #2772 closed, assigned to nobody

[2021-07-21 17:00] xptodevx opened #2773 "Cardano wallet Killed no more information provided?"
# Context

I have a node running on test net using docker, I entered on its bash and wget cardano-wallet for ubuntu 64, extracted to my /usr/local/bin, when I execute cardano-wallet --help it shows only Killed as message, no more information provided.

## Essential Information

 - **Version**:
 - **Platform**:     Mac OS M1 host dev environment running node 1.27.0 on docker
 - **Installation**:  L

[2021-07-21 17:34] ghost commented on #2578
Thanks! What's your prediction when cardano-node 1.28.0 will be released? Just roughly, should I wait a few days, weeks.. Thanks!

[2021-07-21 17:36] ghost commented on #2578
I saw that there is already a 1.28.0 tag: https://github.com/input-output-hk/cardano-node/tree/1.28.0 Is that already worth testing? Cheers!

[2021-07-21 19:49] xptodevx commented on #1194
lol is that for real still or not?

[2021-07-22 03:04] ghost commented on #2578
I've built stack for arm64. Could you share how to pass the -f-scrypt flag to stack?

[2021-07-22 06:00] #2759 closed, assigned to nobody

[2021-07-22 06:13] piotr-iohk commented on #2773
and

If I understand correctly from your description you've downloaded cardano-wallet for Linux platform and trying to run it on MacOS platform? If so please try corresponding to your platform cardano-wallet release package i.e. cardano-wallet-v2021-06-11-macos64.tar.gz from latest [release](https://github.com/input-output-hk/cardano-wallet/releases/tag/v2021-06-1).

[2021-07-22 06:16] piotr-iohk commented on #2622
Fix for this issue has been delivered in cardano-wallet v2021-06-11 and Daedalus 4.2.0.

[2021-07-22 06:16] #2622 closed, assigned to rvl

[2021-07-22 06:43] rvl commented on #2578
This should do it:
[code]

And here we shall later fix the Cabal build - PR #2763 (cc @Anviking).

[2021-07-22 08:28] rvl commented on #2771
It's probably using too much memory because there's so much data in the `.hp`!

[2021-07-22 16:44] xptodevx commented on #2773
Hi, the cardano node is running in a docker container. I'll close this because I could manage to run this on a real server but for anybody else in a dev environment may experience this problem.

[2021-07-22 16:44] #2773 closed, assigned to nobody

[2021-07-22 22:11] ghost commented on #2578
Unfortunately, the stack build fails as well during the compilation of "prettyprinter":

prettyprinter                  > [20 of 28] Compiling Data.Text.Prettyprint.Doc.Render.Tutorials.StackMachineTutorial
prettyprinter                  >
prettyprinter                  > /tmp/stack-38055d87f44d1aa4/prettyprinter-1.7.0/src/Data/Text/Prettyprint/Doc/Render/Tutorials/StackMachineTutorial.hs:14:1: wa

[2021-07-23 21:04] ghost commented on #2578
Ok, so I figured the previous bug out.. I had to regenerate the locales on the RP.

Next stop: It's still trying to compile scrypt despite using the newly introduced flag to turn it off:

~/.cabal/bin/stack build -v --no-test --no-bench --jobs=1 --flag cardano-wallet-core:-scrypt cardano-wallet:exe:cardano-wallet  --ghc-options "--jobs=1  -v"

2021-07-23 23:01:43.973629: [debug] Run process within

[2021-07-23 21:23] ghost commented on #2578
It appears "cardano-wallet-core-integration" -> "scrypt" is still pulling in scrypt. It looks like --flag cardano-wallet-core-internal:-scrypt is required too.

[2021-07-24 11:20] ghost commented on #2578
The integration code is still using Crypto.Scrypt. Could you adjust the PR? That'd be awesome.. I think I'm almost there to run it on the RaspPi and I'll share a docker image!

cardano-wallet-core-integration> build (lib)
cardano-wallet-core-integration> Preprocessing library for cardano-wallet-core-integration-2021.6.11..
cardano-wallet-core-integration> Building library for cardano-wallet-core-i

[2021-07-24 21:11] xptodevx opened #2775 "Error at recovering wallets"
I made a mistake now I can understand more about it.

[2021-07-25 14:12] #2775 closed, assigned to nobody

[2021-07-26 19:46] Anviking opened #2779 "STAKE_POOLS_JOIN_01rewards (primarily) failing from WithdrawalsNotInRewardsDELEGS"
# Context

There are two layers caching rewards in the wallet due to historical reasons:
1. In memory (the reward `Observer` for all wallets)
2. In each wallet DB

Different from the original error in #2415, but maybe related.

# Test Case

`API Specifications, SHELLEY_STAKE_POOLS, STAKE_POOLS_JOIN_01rewards - Can join a pool, earn rewards and collect them`

# Failure / Counter-example

[code]

--

[2021-07-29 03:29] jordy25519 opened #2780 "Shared Wallet API status"
Hi,

Wondering about the status of the Shared Wallet API.

It's reported in the docs as "unstable": https://input-output-hk.github.io/cardano-wallet/api/edge/#tag/Shared-Wallets
<img width="880" alt="Screen Shot 2021-07-29 at 15 28 37" src="https://user-images.githubusercontent.com/5133901/127427056-5aa96212-a7ad-457a-aee0-3ca45dd1cab5.png">

Is anything expected to change soon etc.

[2021-07-29 05:41] rvl commented on #2780
Yes @holygits we put shared wallets development on hold temporarily while we complete the work to support plutus application backend. We plan to add the final pieces of shared wallet support after that.

[2021-07-30 07:58] rvl opened #2785 "Weeder picks up stale `.hie` files from build cache and fails"
# Context

When making a stack build, there are `.hie` files generated in `.stack-work` that weeder users.
The `.stack-work` directories are saved in cache between builds.

If a source file is removed, the `.hie` file still remains in the `.stack-work` directory.

This causes false positives from weeder.

# Test Case

# Failure / Counter-example

---

# Resolution

---

# QA

[2021-07-30 12:40] #2785 closed, assigned to nobody

[2021-07-30 13:29] Fell-x27 commented on #1708
After a year its still actual.
[cardano-wallet.network:Warning:958] [2021-07-30 13:26:58.03 UTC] Connection lost with the node. Network.Socket.recvBuf: resource vanished (Connection reset by peer)

and then worker becomes crushed

[2021-07-30 14:03] piotr-iohk commented on #1708
Thanks. We are aware of this, it's been tracked in our Jira backlog (ADP-871) and is currently our highest priority bug... unfortunately a little bit on hold recently due to Alonzo work.

[2021-08-04 23:23] monkey-jsun opened #2803 "are cardano-node/cardano-cli executables suitable for setting a staking pool?"
So far I have been building those 2 binaries from source like [CoinCashew site](https://www.coincashew.com/coins/overview-ada/guide-how-to-build-a-haskell-stakepool-node) suggests.

I just notice that cardano-wallet binary package contain these 2 binaries as well.  I just wonder if they are suitable for setting up the staking pool so that I don't have to build myself.  Are they of any difference a

[2021-08-05 07:02] rvl commented on #2803
Hi @monkey-jsun - they should be suitable. The binaries are built with the default GHC optimization level, are fully statically linked, with symbols stripped. These builds are also included with Daedalus.

[2021-08-05 15:55] monkey-jsun commented on #2803
I went ahead and did a test on testnet.  Everything seems fine.  Let me close the issue.

[2021-08-05 15:55] #2803 closed, assigned to nobody

[2021-08-08 07:59] DDevine opened #2806 "Cannot start API server using docker-compose on NETWORK=testnet"
# Context
I am trying to bring up the API server using the docker-compose config. Because I am doing some development I specifically want to use the testnet.

However, the cardano-wallet service won't come up.

# Steps to Reproduce
The main README indicates that I should bring up a stack on the testnet by doing the following.
[code]

## Expected behavior

The cardano-wallet service should come up

[2021-08-10 05:02] rvl opened #2812 "Flaky test: Stack not rebuilding updated packages in a snapshot"
# Context

Stack builds the snapshot once and caches it in `$STACK_ROOT/snapshots/SYSTEM/HASH/COMPILER_VER`.

The hash seems to be made from the snapshot's `name` attribute only, not from its contents.

Therefore, if we update a snapshot YAML, but don't update its name, Stack may try to use outdated snapshot builds, leading to obscure compile errors.

This happens both locally and on Buildkite CI.

[2021-08-10 08:46] Anviking commented on #2812
If @jonathanknowles ran into this locally from current `master`, it seems to suggest this happens irregardless of whether the snapshot name is updated along side changes, as the name for the new snapshot in the recently merged #2801 _was_ a new and unique one.

[2021-08-10 14:24] Anviking commented on #2806
Thanks for reporting! Mirroring in ADP-1068.

Seems broken for me on mainnet too (`NETWORK=mainnet docker-compose up -d`)

[code]
where it's passing in `--testnet /config/*-mainnet-byron-genesis.json` rather than `--mainnet`.

[2021-08-13 17:08] hi3rophant commented on #2556
Let s hope it goes through!

[2021-08-15 01:35] red3nzo commented on #2806
I am getting the same issues following what @DDevine said. Keep getting `cardano-docker_cardano-wallet_1 exited with code 33`

[2021-08-15 05:34] atx-barnes opened #2824 "Could not load module ‘System.Random.Internal’ when building from source using Cabal on MacOS"
### Version

v2021-07-30

### Platform

macOS Catalina

### Installation method

Built from source

### Network configuration

mainnet

### Context

I've been following the Cardano developer documentation for building the cardano-wallet CLI but every time I try to build from source using cabal it throws this error shown below.

[code]

I've seen a couple of issues already that sort of relate to th

[2021-08-16 07:03] rvl commented on #2824
Hi @atx-barnes, thanks for reporting.
It seems like those instructions are wrong.

We will get them corrected, but in the mean time, the command to build cardano-wallet with Cabal is simply:
[code]
If you have previously run `cabal configure` or `cabal build` with the wrong flags, then remove `cabal.project.local` beforehand.

[2021-08-16 21:02] Yatsei opened #2828 "[cardano-wallet.network:Warning:15] [ UTC] Couldn't connect to node . Retrying in a bit..."
### Just checking...

- [X] This is a `cardano-wallet` bug.
- [X] I am using the latest `cardano-wallet` release.
- [X] I am using the *correct* `cardano-node` version for that release of `cardano-wallet`.

### Version

2021.8.11

### Platform

Ubuntu

### Installation method

IOHK Docker image

### Network configuration

mainnet

### Context

When I installed cardano-wallet with :
wget https://ra

[2021-08-17 00:41] rvl commented on #2828
Hi, thanks for the report. This message usually means that the `cardano-node` process which provides the socket file `/ipc/node.socket` is not running. You should be able to use docker or docker-compose to check the status and logs of the `cardano-node` service.

[2021-08-17 06:36] Yatsei commented on #2828
Ok when I check my logs I see :
Named volume "node--db:/data:rw" is used in service "cardano-node" but no declaration was found in the volumes section.

It seems that the node is running but something else is wrong.

[2021-08-17 07:24] piotr-iohk commented on #2828
[code]
This message is from docker, not cardano-wallet or cardano-node. It appears e.g. when you do not set NETWORK env variable when starting docker compose.

Your description and cardano-wallet logs you shared suggest that cardano-node crashed/stopped working at some point and cardano-wallet couldn't connect to it any longer as @rvl mentioned. (hard to tell what happend without the node logs)

P

[2021-08-17 08:06] Yatsei commented on #2828
Tried to install everything again from scratch, tell me if I did anything wrong:
sudo apt-get update
sudo apt-get install automake build-essential pkg-config libffi-dev libgmp-dev libssl-dev libtinfo-dev libsystemd-dev zlib1g-dev make g++ tmux git jq wget libncursesw5 libtool autoconf -y

sudo apt-get install \
    apt-transport-https \
    ca-certificates \
    curl \
    gnupg \
    lsb-release

[2021-08-17 08:49] piotr-iohk commented on #2828
For starting our docker-compose only having docker and docker-compose should be enough.

[2021-08-18 06:35] #2806 closed, assigned to nobody

[2021-08-18 06:56] Yatsei commented on #2828
The problem still not solved even with a new fresh install. Is it may be because I have to make the volume shared or does the script already makes it.

[2021-08-18 09:14] piotr-iohk commented on #2828
I'm not sure what might be the problem. I suspect the node stopping and now cannot recover somehow. Is it possible that you share logs from cardano-node?

One option to recover might be also to clean-up your docker volumes/images/processes and try starting docker-compose again. (But pls note that you will need to restore the whole blockchain from scratch)

This should clean up all of what you have

[2021-08-18 10:12] piotr-iohk commented on #2806
It should be now fixed in master. One should also be able to start docker-compose on `alonzo-purple` as well as `mainnet` or `testnet`.

[2021-08-18 15:03] Yatsei commented on #2828
This is what I get when I check the logs :
ERROR: Named volume "node--db:/data:rw" is used in service "cardano-node" but no declaration was found in the volumes section.

The node is running, tried a fresh install and still the same result. Is it built for ubuntu 20.4?

[2021-08-18 16:38] piotr-iohk commented on #2828
This suggests that NETWORK env variable is somehow not picked up by docker :thinking: ...

Yes, it works on Ubuntu 20.04 for me.

Can you follow those steps please?

0. `wget https://raw.githubusercontent.com/input-output-hk/cardano-wallet/master/docker-compose.yml`
1. Start `NETWORK=mainnet docker-compose up` (do you see some logs from node and wallet here after starting the command?)
2. Check ru

[2021-08-23 13:39] got3nks opened #2839 "Wallet is crashing while connecting to local node. EraIndex: invalid index 4"
### Just checking...

- [X] This is a `cardano-wallet` bug.
- [X] I am using the latest `cardano-wallet` release.
- [X] I am using the *correct* `cardano-node` version for that release of `cardano-wallet`.

### Version

2021-08-11 (git revision: 9cc1b563cd2363b1fd878ac5fe6aff874b36a1b8)

### Platform

Linux 4.15.0-55-generic #60-Ubuntu SMP Tue Jul 2 18:22:20 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

[2021-08-23 13:52] piotr-iohk commented on #2839
I think this is a node issue as `latest` tag does not point to latest version. (https://hub.docker.com/r/inputoutput/cardano-node/tags?page=1&ordering=last_updated&name=latest)

In the meantime for mainnet I think it is safest to use last official releases of node and wallet:
https://github.com/input-output-hk/cardano-wallet/releases/tag/v2021-06-11
https://github.com/input-output-hk/cardano-node/

[2021-08-23 14:14] got3nks commented on #2839
When updating the `image:inputoutput/cardano-wallet:latest` using `docker-compose pull` command, v2021-08-11 (git revision: 9cc1b563cd2363b1fd878ac5fe6aff874b36a1b8) was installed as you can see from the logs.

I updated the docker-compose.yml file to use the images you mentioned and the wallet is working again, thanks.

An update for the upcoming fork is coming soon? I suppose cardano-wallet:2021

[2021-08-23 14:24] piotr-iohk commented on #2839
Yes, 2021.6.11 will not work after hard-fork and there will be official cardano-node and cardano-wallet releases published prior to hardfork. v2021-08-11 is a pre-release that is intended mainly for testing on `alonzo-purple` testnet. To retain normal operations on mainnet pls use recent official releases for the time being. Sorry for inconvenience.

[2021-08-23 15:43] Anviking commented on #2812
Should be fixed with #2831

[2021-08-23 15:43] #2812 closed, assigned to nobody

[2021-08-24 11:25] #2839 closed, assigned to nobody

[2021-08-24 11:26] #2780 closed, assigned to nobody

[2021-08-25 09:42] Anviking commented on #2703
I'm generalising this to include hydra timeouts on all OS, and being killed rather than timing out, etc

[2021-08-25 11:16] xdzurman opened #2845 "All transactions through /v2/proxy/transactions are failing"
### Just checking...

- [X] This is a `cardano-wallet` bug.
- [X] I am using the latest `cardano-wallet` release.

### Version

dev-master

### Platform

Ubuntu 20.04

### Installation method

IOHK Docker image

### Network configuration

alonzo-purple

### Context

cardano-node 1.29.0-rc2

### Description

## Steps to Reproduce

1. create a valid transaction successfully submittable by cardano-cl

[2021-08-25 12:20] piotr-iohk commented on #2845
Thanks for reporting!

I'm able to reproduce also with cardano-wallet master and cardano-node 1.29.0-rc3.
Jira ticket: https://jira.iohk.io/browse/ADP-1094

[2021-08-26 02:16] jonathanknowles opened #2847 "Flaky test: `/Cardano.Wallet.DB.Sqlite/Properties/rollback/Correctly re-construct tx history on rollbacks/`"
### Please ensure:

- [X] This is actually a flaky test already present in the code and not caused by your PR.

### Context

Discovered during local test run with master (commit 088079982dc1060b9a0279b18ca4a3d4abc156e6).

### Job name

N/A

### Test case name(s)

`/Cardano.Wallet.DB.Sqlite/Properties/rollback/Correctly re-construct tx history on rollbacks/`

### Error message

[code]

### Build li

[2021-08-26 11:35] piotr-iohk commented on #2845
Issue should be fixed now in master.

[2021-08-26 11:35] #2845 closed, assigned to nobody

[2021-08-26 18:04] Anviking commented on #2753
From https://stackoverflow.com/questions/34002720/why-am-i-getting-hputchar-resource-vanished-errors-from-simple-haskell-networ:

So sounds like the load is too high, just like in #2428, and #2854 should hopefully help.

[2021-08-26 18:13] Anviking opened #2855 "Flaky test: Various CLI tests failing due to high load"
### Please ensure:

- [X] This is actually a flaky test already present in the code and not caused by your PR.

### Context

From #2854:

(balance is 0, and wallet is unsynced even after 90s). They seem CLI
specific.

It seems createWalletViaCLI does not automatically clean up wallets
using ResourceT. In the CLI.Shelley.Wallets module there are 15 calls to
createWalletViaCLI, but only 5 correspond

[2021-08-26 18:58] Anviking commented on #2753
Tracking as #2855

[2021-08-26 18:58] #2753 closed, assigned to nobody

[2021-08-26 18:59] Anviking commented on #2428
Tracking as #2855

[2021-08-26 18:59] #2428 closed, assigned to nobody

[2021-08-26 19:00] Anviking commented on #2500
Tracking as #2855

[2021-08-26 19:00] #2500 closed, assigned to nobody

[2021-08-26 19:01] Anviking commented on #2429
Tracking as #2855

[2021-08-26 19:01] #2429 closed, assigned to nobody

[2021-08-26 19:19] Anviking commented on #2414
Most likely instance of #2855

[2021-08-26 19:19] #2414 closed, assigned to nobody

[2021-08-27 04:32] rvl commented on #2855
Good analysis, thanks @Anviking. :+1:

[2021-08-30 08:32] jonathanknowles opened #2861 "Flaky test: `/Cardano.Wallet.DB.Sqlite/State machine test (SharedState 'Mainnet SharedKey)/Sequential/`"
### Please ensure:

- [X] This is actually a flaky test already present in the code and not caused by your PR.

### Context

Run tests on `master` (9e71c1c9f96720975278cce7714cd32d59ab545f) with the following command:

[code]

### Job name

N/A

### Test case name(s)

`/Cardano.Wallet.DB.Sqlite/State machine test (SharedState 'Mainnet SharedKey)/Sequential/`

### Error message

[code]

### Build l

[2021-09-01 04:20] #2861 closed, assigned to nobody

[2021-09-01 04:26] stephenhuh opened #2864 "docker-compose not running properly on OSX `failed to create symbolic link '/cardano-wallet/data: File exists'"
### Just checking...

- [X] This is a `cardano-wallet` bug.
- [X] I am using the latest `cardano-wallet` release.
- [X] I am using the *correct* `cardano-node` version for that release of `cardano-wallet`.

### Version

n/a

### Platform

macOS Big Sur

### Installation method

IOHK Docker image

### Network configuration

testnet/mainnet

### Context

_No response_

### Description

## Steps to R

[2021-09-01 11:57] rumourscape opened #2865 "Wallet returns error: "not enough money" after 3 successful txs, when making several txs in immediate succession"
### Just checking...

- [X] This is a `cardano-wallet` bug.
- [X] I am using the latest `cardano-wallet` release.
- [X] I am using the *correct* `cardano-node` version for that release of `cardano-wallet`.

### Version

2021.4.8 (git revision: b0701a9c1a59d766e9f611160235a196b016b336)

### Platform

WSL Linux-Ubuntu 20.04

### Installation method

Binary from GitHub release page

### Network confi

[2021-09-01 12:19] piotr-iohk commented on #2865
The error "not enough money" indicates that there is not enough available balance on the wallet to create a transaction.

When you submit a transaction, it is first in "pending" status until it is accepted by the node. While tx is in "pending" status all the utxos that are used in this transaction are blocked such that they cannot be used in another transaction at the same time (this is to prevent

[2021-09-01 12:21] piotr-iohk commented on #2828
Cannot reproduce.

[2021-09-01 12:21] #2828 closed, assigned to nobody

[2021-09-01 13:14] rumourscape commented on #2865
Understood! Thanks for the help. I guess I should just create more Utxos to avoid this problem.

[2021-09-01 13:14] #2865 closed, assigned to nobody

[2021-09-03 07:41] #2706 closed, assigned to nobody

[2021-09-03 19:35] benapetr commented on #2614
Hello, can something be done about this? It costs us some money at this moment, because cardano-wallet always clears the primary address of our pool in its "random redistribution" which I then have to recharge by sending some ADA there from our own wallet, otherwise scripts to modify pool registration do not work, using alternative secondary addresses for transaction result in this error:

[code]

[2021-09-05 08:28] godofrefuse opened #2873 "Daeladus + Other Wallets Unable to send $ADA to wallet address to change Pledge"
The wallet address on a pool pledge uses the oldest address, I've had too many transactions on my old address and I am now unable to send myself more than 1800 ADA to change my Pledge. I don't want to send multiple small transactions and get all those fees.

The only solution I see is creating an entirely new hardware wallet and sending the ADA to that wallet. But considering my pool is setup with

[2021-09-05 08:29] godofrefuse commented on #2873
Here is the thread I created on the Cardano Forums

https://forum.cardano.org/t/transaction-too-big-due-to-too-many-inputs/71637

[2021-09-06 09:53] nikolaglumac commented on #2873
Let me see if I got this straight:
- You have a personal wallet with many NFTs
- You want to send ada from that wallet to your stake pool's pledge address
- Daedalus and other wallets allow you to create only a transaction of 1800 ADA

If my understanding is correct, I would say your real problems are the NFTs and that you should first try to move all of them into a different wallet or at least gr

[2021-09-06 13:49] piotr-iohk commented on #2864
Thanks for reporting. Jira issue for tracking: https://input-output.atlassian.net/browse/ADP-1115.

[2021-09-06 16:00] godofrefuse commented on #2873
There is only a few nfts in that wallet. The problem is I did a NFT sale of 999 so I had many Ada transactions not nfts.
addr1qx6vn73v3qch8s5vjch59a94wf7kxt9namjgnkw3z0fhsv90fuc73jmmwpz6fene7k2wanxdn0zvgwfdrr9yte5pr9vsut78l3
https://pool.pm/addr1qx6vn73v3qch8s5vjch59a94wf7kxt9namjgnkw3z0fhsv90fuc73jmmwpz6fene7k2wanxdn0zvgwfdrr9yte5pr9vsut78l3
Sent from my iPhone

[2021-09-07 06:18] piotr-iohk opened #2872 "Flaky test: restoration benchmarks time out on "Fetching tip failed, retrying""
### Please ensure:

- [X] This is actually a flaky test already present in the code and not caused by your PR.

### Context

Nightly benchmark is failing due to:
[code]
There is 120 min timeout for fetching the tip, but it fails within this timeout.

In `piotr/restoration-benchmark-tip` I have changed timeout to 240 mins but it was still failing. (cd24e3a57ea460e4f406437f66a026c70a42c985)

On the

[2021-09-07 07:54] nikolaglumac commented on #2873
It sounds like a cardano-wallet issue.
@diicasses please share the logs.
@rvl can you please transfer this ticket to https://github.com/input-output-hk/cardano-wallet repo?

[2021-09-07 08:33] godofrefuse commented on #2873
Heres my logs  https://drive.google.com/file/d/1swFgupX-p5CiIuMxCJcxhF9UdUcyS22L/view?usp=sharing
Sent from my iPhone

[2021-09-07 09:16] nikolaglumac commented on #2873
Thanks @diicasses!

@rvl has transferred this issue to the cardano-wallet repo and the Adrestia team will continue the investigation. Thanks!

[2021-09-07 10:33] piotr-iohk commented on #2873
Looking at the logs there is actually only single transaction sent from HW wallet there, and it seems to be successful:

[code]

However, looking at the bug report:

I'm guessing that the error from the wallet is actually:
[code]
So, my guess is that the wallet has a lot of relatively small UTxOs and if you try to send some bigger amount of ADA (in this case < 1800) the coin selection needs to tak

[2021-09-07 10:36] nikolaglumac commented on #2873
@diicasses can you please send us the screenshot of the "UTXO Distribution" screen from within Daedalus?
Please go to your wallet and navigate to "More > UTXO Distribution".

[2021-09-07 17:15] godofrefuse commented on #2873
Here is the screenshot

[image: image.png]

On Tue, Sep 7, 2021 at 6:36 AM Nikola Glumac ***@***.***>
wrote:

--
www.anti.biz

[2021-09-07 17:16] godofrefuse commented on #2873
![image](https://user-images.githubusercontent.com/79003733/132385087-1aed2293-5b5d-464b-9c73-aaecaea03623.png)

[2021-09-07 18:59] piotr-iohk commented on #2873
@diicasses thanks for sharing. Ok, so your wallet has 72 UtxOs now. (I assume it is the same HW wallet you were able to sent 1000ADA from before - looking at previous logs you shared):
[code]
So after this transaction your wallet rebalanced to 72 Utxos (from previous 173 = 101 + 72). If my previous assumption is correct you should be able to send bigger transaction now as the coin selection algori

[2021-09-07 21:05] godofrefuse commented on #2873
Okay I just tried again and it sent to my oldest address.

Thanks for the help

One thing I would like to add is when I use my Trezor Model T inside of Daeladus it ask me to type my password twice in the Trezor device before it works and I have a long password so its definitely time consuming.

Also adding empty passwords with Trezor Model T doesn't really work, I havent been able to add an empty

[2021-09-08 07:54] piotr-iohk commented on #2873
Thanks @diicasses. Seems to be sorted then. Closing :+1:.

Bringing to your attention @nikolaglumac:

[2021-09-08 07:54] #2873 closed, assigned to nobody

[2021-09-08 08:04] nikolaglumac commented on #2873
It is a Trezor bug which will be resolved in the next firmware version.

[2021-09-10 09:23] jonathanknowles opened #2886 "Flaky test: `/CLI Specifications/SHELLEY_CLI_TRANSACTIONS/TRANS_DELETE_01`"
### Please ensure:

- [X] This is actually a flaky test already present in the code and not caused by your PR.

### Context

https://github.com/input-output-hk/cardano-wallet/pull/2885#issuecomment-916761510

### Job name

https://buildkite.com/input-output-hk/cardano-wallet/builds/16551#ed15249e-3da0-4700-b514-80607214777a

### Test case name(s)

/CLI Specifications/SHELLEY_CLI_TRANSACTIONS/TRANS

[2021-09-11 16:46] tperrelli opened #2890 "cardano-wallet: create/restore a new wallet error"
### Just checking...

- [X] This is a `cardano-wallet` bug.
- [X] I am using the latest `cardano-wallet` release.
- [X] I am using the *correct* `cardano-node` version for that release of `cardano-wallet`.

### Version

2021-09-09

### Platform

5.11.0-27-generic #29~20.04.1-Ubuntu SMP Wed Aug 11 15:58:17 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

### Installation method

cardano-wallet docker metho

[2021-09-11 20:50] waalge commented on #2890
I just had the same issue and couldn't find any (readable) docs on this.

Using [this](https://github.com/trezor/python-mnemonic) package and based on the snippet in the readme, I could generate a post.

[code]

[2021-09-12 14:52] tperrelli commented on #2890
@waalge interesting. And your payload is pretty much the same, there is no additional parameter on that. I'll try to do it without using insomnia or postman and see what happens.

I've just tried using curl directly but in this case it gets frozen and nothing happens.

[code]

[2021-09-12 15:25] waalge commented on #2890
Hanging? Not sure about that. Maybe the address is not localhost?

Regarding the original error: there's some magic in BIP39 that means that not all sequences of words are valid. They must satisfy some criteria which this python lib is written to do.

Why this isn't in the API, or more verbosely and explicitly stated, I'm not sure.
Maybe i'm just looking in the wrong places.

[2021-09-12 15:30] tperrelli commented on #2890
Yeah, i don't know why. And the payload is the same. When i try using isonmnia i get the error saying that there is something about the last word used. I've changed it a lot and nothing happens differently. Oh, and i always use some of these words

https://github.com/input-output-hk/cardano-wallet/blob/master/specifications/mnemonic/english.txt

[2021-09-12 15:52] waalge commented on #2890
The last word has to solve some very specific condition - I'm not sure if there is a unique or very few options based on the first 23 (or n - 1) words.

[2021-09-12 18:14] piotr-iohk commented on #2890
HI, I believe the recovery phrase you are trying to use is invalid (perhaps it is incomplete?), you can verify it for instance here -> https://iancoleman.io/bip39/.

As far as I see from your code snippet:
[code]
and your generated mnemonic sentence has 15 words (`squirrel aerobic baby twice direct slush pistol razor acid junk kingdom flee squirrel dizzy cram`). However when I try the same code it

[2021-09-12 18:30] waalge commented on #2890
@piotr-iohk : The script is from me, and yeah it works. Thanks for poiinting out this is part of the wallet cli. i was only looking at the api.

@tperrelli After reading [This](https://bitcoin.stackexchange.com/questions/97154/bitcoin-recovery-forgot-my-12th-recovery-word-for-recovering-my-crypto-account) and bagging my head against the keyboard it looks like you can substitute the invalid word `c

[2021-09-12 19:55] torphix commented on #2824
@rvl
Hi I had the same problem once I removed  cabal.project.local and run cabal build all -frelease it returns Cannot find the program 'ghc'. User-specified path 'ghc-8.10.5'
Thank you

[2021-09-13 08:00] piotr-iohk commented on #2890
Ok, closing. As stated before the recovery phrase mentioned here is invalid, so wallet returning error (`Error in $['mnemonic_sentence']: Invalid entropy checksum: please double-check the last word of your mnemonic sentence.`) is expected.

[2021-09-13 08:00] #2890 closed, assigned to nobody

[2021-09-13 11:30] tperrelli commented on #2890
@piotr-iohk, regarding of recovery phrase i'm not sure about that, cuz the error i get is related to the mnemonic words. On the other hand this site (https://iancoleman.io/bip39/) really tells me that the mnemonic words that i'm passing are invalid. Once i had this in mind, i've generated some mnemonic words from this website and they worked for me!

So can we assume that the words provided from t

[2021-09-13 11:41] waalge commented on #2890
But not all choices of 15 words are valid.
You have to take the first 14 words, replace them with their respective index , encode the indices into 11 digiti binary values, concat with 6 "0"'s onto the tail, shasum, take the first 5 bits of this output, and this dictates the 15th word.
Its convoluted

[2021-09-13 11:45] piotr-iohk commented on #2890
https://github.com/input-output-hk/cardano-wallet/blob/master/specifications/mnemonic/english.txt

No, this is the full list of allowed words in the generated mnemonic sentence. It doesn't mean that you can just randomly pick any of the words and have a valid wallet recovery phrase out of them. See [BIP39](https://github.com/bitcoin/bips/blob/master/bip-0039.mediawiki) - a standard for generating

[2021-09-14 06:57] Im0 commented on #2824
@henry8th out of interest, what version of ghc do you have installed? `ghc --version`

[2021-09-14 07:04] Im0 commented on #2824
@rvl after running into the same issue (Ubuntu 20.04) I ran the following:

[code]

But that also returned:

[code]

Essentially I've ran:
[code]

[2021-09-14 11:32] piotr-iohk commented on #2864
I was trying to reproduce the issue on MacOS (MacOS 10.15 and MacOS 11) on GH actions, but it seems work fine there. Both cardano-node and cardano-wallet spin up with no issue from docker-compose there -> https://github.com/input-output-hk/cardano-wallet/actions/runs/1233307144.

[2021-09-15 08:21] torphix commented on #2824
Hi thanks for your reply I fixed it by removing --constraint=random<1.2
from cabal configure

On Tue, 14 Sep 2021, 07:57 John Imison, ***@***.***> wrote:

[2021-09-15 09:39] Im0 commented on #2824
@henry8th nice one, thank you for that!  Worked a treat for me too.

[2021-09-15 16:53] raveli commented on #2864
I'm able to reproduce this with the exact steps described by op. Tested on Windows 11 WSL2 (Ubuntu 20.04). Docker version 20.10.8, build 3967b7d.

[2021-09-16 15:51] piotr-iohk commented on #2864
Few questions:
 - is is a first launch of docker-compose on this machine or was it working fine before? (e.g. with previous versions of wallet and node)
 - does cleaning up docker possibly help? e.g.:
[code]

[2021-09-17 09:21] v0d1ch opened #2907 "Doc example for create/restore wallet doesn't work out of the box"
### Just checking...

- [X] This is a `cardano-wallet` bug.
- [X] I am using the latest `cardano-wallet` release.
- [X] I am using the *correct* `cardano-node` version for that release of `cardano-wallet`.

### Version

0d21f8b9e4d9b903676cea035a6bfb274bf661ea

### Platform

NixOS 20.09

### Installation method

IOHK Docker image

### Network configuration

testnet

### Context

The example in the

[2021-09-17 09:28] runeksvendsen commented on #949
I would really appreciate this feature. Would you accept a PR? The https://github.com/input-output-hk/cardano-wallet-laboratory/issues/14 gives me a 404.

[2021-09-17 09:33] piotr-iohk commented on #2907
Hello, thanks. These mnemonic phrases examples are invalid on purpose, because in the past we had some users restoring  wallets from these doc mnemonics and using them as their personal wallets.

To generate valid mnemonic phrase you can use:
 - cardano-wallet CLI (`$ cardano-wallet recovery-phrase generate`)
 - external library implementing [BIP39](https://github.com/bitcoin/bips/blob/master/bip-

[2021-09-17 09:33] #2907 closed, assigned to nobody

[2021-09-17 14:41] stephenhuh commented on #2864
@piotr-iohk

• this is a first launch
• just ran the docker clean commands and still running into the issue

[2021-09-17 14:42] stephenhuh commented on #2864
the cardano node itself seems to be functioning well, just the wallet image is giving that error

[2021-09-20 14:08] v0d1ch opened #2913 "How to get public key (xpub) for a test wallet address?"
### The problem that you wish to solve

Have an easy way of obtaining wallet public key suitable for use in cardano-wallet api

### Description

Cardano wallet api docs mention possibility of restoring a wallet using public key (`account_public_key`).

This feature works nicely if I use the public key found in my Yoroi wallet, however I couldn't find useful resources on how to obtain public key fo

[2021-09-21 08:08] v0d1ch commented on #2913
I see there is https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/getAccountKey but I need to have a `walletId` for that to work. It is a bit like a chicken/egg problem where I need to have public key in order to get a `walletId` but if I don't have a public key and want to obtain one I need a `walletId`. Might also easily be I missed something while browsing the docs.

[2021-09-22 21:02] npattman commented on #2864
I've got this issue too on Windows 10 Enterprise with Docker. I can get the node and wallet running if I download and run the release assets directly from https://github.com/input-output-hk/cardano-wallet/releases
i.e.
`cardano-wallet serve --node-socket \\.\pipe\cardano-node-testnet --testnet testnet-byron-genesis.json --database /wallet-db --listen-address 0.0.0.0`
and
`cardano-node run --config

[2021-09-22 21:13] stephenhuh commented on #2864
i worked around this by building the cardano-wallet from source using stack. this method is definitely way more involved and also dont get the benefits of docker. but, if cardano-wallet is needed immediately it does work.

[2021-09-23 01:58] daoleno commented on #1556
## Getting nodes and wallets to communicate

Install `socat` on each of the two machines

[code]

Proxy Unix sockets on the node machine using TCP

[code]

Run a Unix socket proxy using TCP on the wallet machine

[code]

[2021-09-23 08:00] runeksvendsen opened #2919 "error "restoreBlocks: given chain isn't a valid continuation" when quickly creating new wallets after startup"
### Just checking...

- [X] This is a `cardano-wallet` bug.
- [X] I am using the latest `cardano-wallet` release.
- [X] I am using the *correct* `cardano-node` version for that release of `cardano-wallet`.

### Version

v2021-09-09 (git revision: fca1cdc89dbf56b328d625f7e5c539107e1d01d3)

### Platform

`nixos/nix:2.3.12` docker image (`uname -a` output: `Linux 33117d699f44 5.10.47-linuxkit #1 SMP

[2021-09-23 08:53] piotr-iohk commented on #2919
Jira ticket for tracking: ADP-1148.

[2021-09-24 19:28] benapetr opened #2921 "feature to request additional addresses for a wallet"
### The problem that you wish to solve

Right now from perspective of someone who implements a "merchandize" system such as e-shop based on cardano - you need to be able to distinguish customers from each other. In ideal situation you assign each customer unique address to which they should send ADA in order to recognize which customer sent ADA (in some cases you may need to have unique address fo

[2021-09-26 16:03] tnsantana commented on #2600
Is it possible to import keys or addresses generated with cardano-addresses? Any solution for utxos and balance management with enterprise addresses?

[2021-09-27 12:08] HeinrichApfelmus commented on #2921
Thanks for the feedback!

Note that if the wallet detects a payment to or from an address listed in the https://localhost:8090/v2/wallets/{walletId}/addresses endpoint, it will automatically discover new addresses so that ~ 20 unused addresses are available. Unfortunately, that's not quite what you are looking for, in that you probably have many more addresses for which you expect payments.

Unfor

[2021-09-27 12:19] HeinrichApfelmus commented on #2600
@tnsantana Unfortunately not, as this affects the ability to restore the wallet from a single seed mnemonic (payments to or from imported addresses would be missed when restoring). This is a technical limitation of industry standard BIP-44 on which Cardano CIP-1852 is based.

[2021-09-27 12:26] benapetr commented on #2921
well, the thing is I don't even have these extra addresses, but I would like to have them, basically right now I would be only able to handle first 20 customers, or actually, first 20 orders, for other orders I would have to return error "address pool depleted" or something like that.

Or I would need to create huge amount of wallets, each to get 20 addresses, but that also would be very impractic

[2021-09-27 12:30] benapetr commented on #2921
I can't even solve this by knowing senders address, even if I told customers to send to adress addr_XXXXX and fill their address before they start transaction - they will never know from which address is ADA going to be sent, due to this bug - https://github.com/input-output-hk/cardano-wallet/issues/2614 cardano-wallet randomly redistributed ADA across the wallet, and automatically picks which add

[2021-09-27 12:57] paweljakubas commented on #2921
hi @benapetr  One way to create addresses (having the same mnemonic, account index=0 - for now only this is supported and arbitrary address index) is to use https://github.com/input-output-hk/cardano-addresses/

1. So let's assume we have mnemonics:
[code]
2. Create extended root private key:
[code]
3. Create stake verification key (this would be needed if you want to stake, so create base address

[2021-09-27 13:16] piotr-iohk commented on #2921
Actually Shelley wallets API allows creating wallets with larger address pool gap (up to 100k addresses), however it comes with some wallet performance cost (see: https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/postWallet).

Another option at the moment can be Byron wallets (see: https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/postByronWallet). Byron walle

[2021-09-27 14:54] HeinrichApfelmus commented on #2921
benapetr :

piotr-iohk:

Some exchanges do use Byron wallets, I suppose for this very reason.

[2021-09-27 15:05] HeinrichApfelmus commented on #2921
@benapetr

Instead of using addresses to disambiguate users, you could also try to use transaction metadata to disambiguate them. This is very similar to the "transfer note" or "intended purpose" for SEPA bank transfers, where retail shops often instruct buyers to include their invoice number. The drawback is that this is extra information which has to be provided by the user.

[2021-09-29 07:53] ygcool opened #2932 "How to set up https?"
### The problem that you wish to solve

How to set up https?

### Description

exec:
[code]

then:
[code]

How to set up https?
[code]

### Implementation suggestions

_No response_

[2021-09-29 10:07] benapetr commented on #2921
@HeinrichApfelmus

this is interesting idea, but is it supported by mainstream wallets? so in theory:

there would 1 central address to which all users would send ADA, each merchant order would be distinct by ID which user would need to provide as transaction metadata. If metadata and amount matches - order is confirmed, otherwise user is asked to correct the amount. For orders that don't match (o

[2021-09-29 13:53] HeinrichApfelmus commented on #2921
Thanks for bringing this up, it seems to me that "refunding" is indeed a useful feature. In fact, it seems to be useful even for the original problem of matching customers to addresses: In the worst case, customers may send money to the wrong address and then the funds are gone. When using metadata, at least the shop now owns those funds and can refund them in principle. (Granted, transaction meta

[2021-09-29 14:07] piotr-iohk commented on #2932
cardano-wallet needs to be started with additional parameters:

[code]

Then client needs to utilize corresponding client certificates to communicate with the server. e.g.:

[code]

BTW, this is how it works in Daedalus.

[2021-10-09 08:47] #2932 closed, assigned to nobody

[2021-10-11 06:38] refi93 opened #2963 "/v2/proxy/transactions endpoint extremely slow when network is congested"
### Just checking...

- [X] This is a `cardano-wallet` bug.
- [X] I am using the latest `cardano-wallet` release.
- [X] I am using the *correct* `cardano-node` version for that release of `cardano-wallet`.

### Version

inputoutput/cardano-node:1.30.1

### Platform

Ubuntu 20.04 (should not be relevant)

### Installation method

IOHK Docker image

### Network configuration

mainnet

### Context

A

[2021-10-11 09:53] arielelkin opened #2966 "Binaries should be codesigned and notarized to avoid "X can’t be opened because it is from an unidentified developer" error"
### Just checking...

- [X] This is a `cardano-wallet` bug.
- [X] I am using the latest `cardano-wallet` release.
- [X] I am using the *correct* `cardano-node` version for that release of `cardano-wallet`.

### Version

6626489542ce442a8451fb46fb5339346e62b4ee

### Platform

macOS 11.6

### Installation method

Binary from GitHub release page

### Description

None of the macOS binaries work out o

[2021-10-12 10:21] piotr-iohk commented on #2963
@paweljakubas @KtorZ is this something that we could potentially address with tx re-submission mechanism (presumably added to new submit tx endpoint https://github.com/input-output-hk/cardano-wallet/pull/2959)?

I understand that `POST /v2/proxy/transactions` is mostly used with HW wallets integration. It has no re-submission. I suppose that new tx submit ep could be potentially used in the contex

[2021-10-12 10:38] KtorZ commented on #2963
This is actually already how the submission operates. Right now, the protocol only awaits for the transaction to be accepted in the node's local mempool. Yet, if the mempool is full, the protocol is blocking until there's room for the transaction as a mechanism to apply back pressure on clients.

While we would imagine an extra buffer in the wallet to accept transactions and automatically try to s

[2021-10-12 11:37] refi93 commented on #2963
I see, at the same time if the request takes that long and it's made from a browser or via another service such as heroku, there may be globally imposed timeouts which are well below these let's say 10-15 minutes a tx submission request can take. Does the transaction submission from cardano-wallet's perspective continue if the request is aborted by the caller?

[2021-10-13 20:39] glneto commented on #2864
are you using `docker compose up` or `docker-compose up`? it may seem stupid but I was having this issue with `docker compose up` and using `docker-compose up` seems to have fixed it

[2021-10-13 21:51] npattman commented on #2864
Hey Geraldo, I have just tried

docker-compose up

and that appears to work… so I think you’re correct… that’s awesome, many thanks for your help :)

From: Geraldo Neto ***@***.***>
Sent: 13 October 2021 21:40
To: input-output-hk/cardano-wallet ***@***.***>
Cc: Nick Pattman ***@***.***>; Comment ***@***.***>
Subject: Re: [input-output-hk/cardano-wallet] docker-compose not running properly on OSX `

[2021-10-14 01:06] stephenhuh commented on #2864
@glneto no that doesn't seem to be it. i believe i was running `docker-compose up` and retried just to confirm.

[2021-10-14 10:54] piotr-iohk commented on #2966
ADP-1215 added for tracking.

[2021-10-20 08:49] jonathanknowles opened #2980 "(Instance of #2855) Flaky test: `/CLI Specifications/SHELLEY_CLI_TRANSACTIONS/TRANS_CREATE_06`"
### Please ensure:

- [X] This is actually a flaky test already present in the code and not caused by your PR.

### Context

https://github.com/input-output-hk/cardano-wallet/pull/2979#issuecomment-947445721

### Job name

https://buildkite.com/input-output-hk/cardano-wallet/builds/17337#162299be-70ce-4613-a1fb-9f9193c13795

### Test case name(s)

/CLI Specifications/SHELLEY_CLI_TRANSACTIONS/TRANS

[2021-10-20 11:00] HeinrichApfelmus opened #2982 "Flaky test: unit_computeMinimumAdaQuantity_fixedSizeBundle_256"
### Please ensure:

- [X] This is actually a flaky test already present in the code and not caused by your PR.

### Context

I'm working on the chain following logic (https://github.com/input-output-hk/cardano-wallet/pull/2750) which has nothing to do with Ada quantities.

### Job name

Build 8002560 of job Cardano:cardano-wallet-pr-2750:required

### Test case name(s)

/Cardano.Wallet.Shelley.Com

[2021-10-20 21:24] wspi opened #2984 "wallet is not accessible and database Issue after upgrading from v2019-09-09 to v2019-09-29"
### Just checking...

- [X] This is a `cardano-wallet` bug.
- [X] I am using the latest `cardano-wallet` release.
- [X] I am using the *correct* `cardano-node` version for that release of `cardano-wallet`.

### Version

v2021-09-29 (git revision: 6626489542ce442a8451fb46fb5339346e62b4ee)

### Platform

Linux 4.18.0-147.8.1.el8_1.x86_64 #1 SMP Thu Apr 9 13:49:54 UTC 2020 x86_64 x86_64 x86_64 GNU/Li

[2021-10-21 08:33] HeinrichApfelmus commented on #2984
The error message from the logs suggests that something is wrong with the `local_tx_submission` table in the database. It seems very likely that the serialization format for transactions changed between wallet versions and the table was not migrated automatically (that's a bug in the wallet). Fortunately, the `local_tx_submission` table stores temporary data only — transactions that have been subm

[2021-10-21 09:10] piotr-iohk commented on #2984
Thanks for reporting. Created Jira ticket to track the migration issue -> ADP-1224.
It seems that issue is happening only when there are pending transactions on the wallet. Another workaround then would be to make sure all transactions are in ledger before migrating from `v2021-09-09` to `v2021-09-29`.

[2021-10-21 14:57] wspi commented on #2984
We've tried to upgrade again now making sure all recent transactions were in ledger, and it went smooth, thanks for the help

[2021-10-21 14:57] #2984 closed, assigned to nobody

[2021-10-23 09:09] DreamHackchosenone commented on #2984
How did you solve it？delete the local_tx_submission table？

[2021-10-29 15:03] khelle opened #2994 "Worker has exited: Unhandled exception"
### Just checking...

- [X] This is a `cardano-wallet` bug.
- [X] I am using the latest `cardano-wallet` release.
- [X] I am using the *correct* `cardano-node` version for that release of `cardano-wallet`.

### Version

v2021-09-29 (git revision: 6626489542ce442a8451fb46fb5339346e62b4ee)

### Platform

Ubuntu 16.04

### Installation method

Binary from GitHub release page

### Network configuratio

[2021-10-29 15:06] piotr-iohk commented on #2994
Thanks for reporting! This seems to be the same issue as https://github.com/input-output-hk/cardano-wallet/issues/2984.
Possible workarounds:
 - https://github.com/input-output-hk/cardano-wallet/issues/2984#issuecomment-948383550
 - https://github.com/input-output-hk/cardano-wallet/issues/2984#issuecomment-948413202

[2021-10-29 16:36] khelle commented on #2984
Can someone describe how can I delete the `local_tx_submission` from `she${WalletId}.sqlite` step-by-step?

When I try to open it using sqlite:
[code]

I get response
[code]

Of course I did replace the template with the actual file name

[2021-10-29 16:59] wspi commented on #2984
before upgrading, we've listed the recent transactions of every wallet we have and checked if all were "in ledger" that being true, we've stopped cardano-wallet and cardano-node, upgraded both, and started again

[2021-10-29 18:02] khelle commented on #2994
Thank you @piotr-iohk , I posted my next question in the topic you provided but seems it has been closed so I will repeat my quetion here in regards to that topic as the author:

Can someone describe how can I delete the local_tx_submission from she${WalletId}.sqlite step-by-step?

When I try to open it using sqlite:

sqlite she${WalletId}.sqlite
I get response

Unable to open database "she${Walle

[2021-10-29 18:12] piotr-iohk commented on #2994
@khelle you may use https://sqlitebrowser.org/ to open the db and delete `local_tx_submission` table.

[2021-10-30 17:23] khelle commented on #2994
Ok, the method with deleting the `local_tx_submission` table worked. Everything seems to work correctly now, thank you.

Just for future reference - on Ubuntu you should use `sqlite3` instead of `sqlite`. That's why I had problems with opening the db file.

[2021-10-30 17:23] #2994 closed, assigned to nobody

[2021-11-01 06:19] DreamHackchosenone commented on #2984
Thanks, i recover wallet from mnemonic

[2021-11-04 06:11] abcirta commented on #2864
Hi,
any update ?

[2021-11-08 09:53] marijanp opened #3005 "Create a cardano-wallet-api package containing servant API and Client"
### The problem that you wish to solve

I'm developing a haskell application which I want to interact with the HTTP server of cardano wallet.

Instead of regenerating/ rewriting the servant API definitions using swagger-codegen it would make more sense to use the already existing definitions in [API.hs](https://github.com/input-output-hk/cardano-wallet/blob/master/lib/core/src/Cardano/Wallet/Api.h

[2021-11-09 12:43] bremengnaht opened #3009 "Create a cardano wallet without showing passphrase."
### The problem that you wish to solve

For some reason, i want to create a wallet for one time use only.

### Description

And i really don't want to CLI give me the passphrase (for security reason).

### Implementation suggestions

Add an option on API to let user can decide to receive passphrase or not

[2021-11-09 15:43] piotr-iohk commented on #3009
Can you clarify what that means? CLI doesn't give you the passphrase... you have to provide one when creating a wallet and that's because of security reasons, because you need to provide passphrase to spend from the wallet later.

[2021-11-12 08:04] bremengnaht commented on #3009
Sorry, that is my misunderstanding. Close Ticket

[2021-11-12 08:04] #3009 closed, assigned to nobody

[2021-11-12 09:49] rvl commented on #3005
Thanks, yes this is a good idea.

I have opened ADP-1264 and added it to our wish list.

[2021-11-14 13:35] Alteryy opened #3015 "How to convert a 12-digit mnemonic phrase into 15 or more？"
### Just checking...

- [X] This is a `cardano-wallet` bug.
- [X] I am using the latest `cardano-wallet` release.
- [X] I am using the *correct* `cardano-node` version for that release of `cardano-wallet`.

### Version

cardano-wallet-v2021-09-29

### Platform

ubuntu

### Installation method

Binary from GitHub release page

### Network configuration

_No response_

### Context

_No response_

##

[2021-11-14 19:17] piotr-iohk commented on #3015
Using cardano-wallet CLI you can only create Shelley type wallet. Shelley wallets can be created with 15, 18, 21 or 24 words mnemonic phrase only. There is no way to convert 12-word recovery phrase to 15-word or more. However you can generate new mnemonic phrase with:

 - cardano-wallet CLI (`$ cardano-wallet recovery-phrase generate --help`)
 - external library implementing [BIP39](https://github

[2021-11-14 19:24] Alteryy commented on #3015
Hi,
I have restored my wallet with postbyronwallet, but this method is deprecated at present.
What is the risk if I keep 12 mnemonics all the time,Will my 12 bit mnemonics not be restored to my wallet one day and What should I do?

[2021-11-16 12:18] bhoudebert opened #3024 "Doc: how to resync local wallet with testnet"
### The problem that you wish to solve

Current case:
- wallet created from local node
- faucet has provided ADA to wallet
- wallet db deleted unfortunately / switch from docker to simple nix usage to avoid node socket issue with PAB
- recreate locally wallet
- node is running, several logs indicates so
- wallet is running too nothing to say here too
- chain ok
- pab ok
- daedalus @testnet is corr

[2021-11-17 08:52] bhoudebert commented on #3024
Ok maybe I was impatient, even if it was sync 100% I finally get ADA 1 day after.

So nothing to do except it should work and wallet will see something like this `[cardano-wallet.wallet-engine:Info:57] [2021-11-17 08:49:01.07 UTC] ....: discovered 1 new transaction(s)`

[2021-11-17 08:52] #3024 closed, assigned to nobody

[2021-11-23 14:09] Alteryy commented on #3015
I have restored my wallet with postbyronwallet, but this method is deprecated at present.

will postbyronwallet method always exist?

I can’t change the mnemonic words with more digits now (more than 12+), what should I do?

[2021-11-23 15:36] piotr-iohk commented on #3015
There is no intent for dropping support of Byron wallets in the future, however you miss on the Shelley wallets features, like delegation.
One way would be to create new Shelley wallet and transfer all your funds from the old Byron wallet to the new one.
For better user experience you can use https://daedaluswallet.io/. Daedalus wallet actually uses cardano-wallet in the bg and provides nice UI on

[2021-11-23 18:14] hSloan opened #3035 "Submitting transactions constructed by cardano-wallet API endpoint are failing"
### Just checking...

- [X] This is a `cardano-wallet` bug.
- [X] I am using the latest `cardano-wallet` release.
- [X] I am using the *correct* `cardano-node` version for that release of `cardano-wallet`.

### Version

d9a6a19cd3447eb4d92b5337fe24e0e4925d3897

### Platform

NixOS

### Installation method

Nix

### Network configuration

testnet 1097911063

### Context

`cardano-wallet` does not s

[2021-11-23 19:10] piotr-iohk commented on #3035
Atm, signed transaction needs to be encoded to binary format before passing to `proxy/transactions`. Check _Submit transaction_ in https://input-output-hk.github.io/cardano-wallet/user-guide/common-use-cases/pab.

[2021-11-23 19:55] Alteryy commented on #3015
Hi, We are an exchange that provides services. We will assign each user an address produced with 12-digit mnemonic words. There are many addresses. If the mnemonic words are upgraded, the cost of redistributing user addresses will be very high. So we are worried that the 12-digit mnemonic will not be used in the future。

[2021-11-23 20:10] #3035 closed, assigned to nobody

[2021-11-24 11:51] Alteryy commented on #3015
Is it risky to keep 12 mnemonic words all the time?

[2021-11-24 12:28] piotr-iohk commented on #3015
There is no intent to drop support for Byron wallets (12-word mnemonic wallets included). However it is recommended to use Shelley wallets for any new applications.

[2021-11-24 12:30] piotr-iohk commented on #2730
This should be fixed in v2021-11-11.

[2021-11-24 12:31] #2730 closed, assigned to rvl

[2021-12-01 01:52] bakon11 opened #3041 "Asset Metadata"
### Just checking...

- [X] This is a `cardano-wallet` bug.
- [X] I am using the latest `cardano-wallet` release.
- [X] I am using the *correct* `cardano-node` version for that release of `cardano-wallet`.

### Version

v2021-09-29

### Platform

Armbian

### Installation method

Built from source

### Network configuration

testnet

### Context

_No response_

### Description

When querying the A

[2021-12-01 02:23] #3041 closed, assigned to nobody

[2021-12-01 09:08] rvl commented on #2864
Hi there,

1. Do you have any old images listed in `docker ps --all`?
2. Are there any volumes mounted at `/cardano-wallet`, anything like that?

[2021-12-01 10:40] runeksvendsen opened #3044 "`listTransactions` endpoint: add assets to the "amount" object"
### The problem that you wish to solve

Currently, the [listTransactions](https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/listTransactions) endpoint only returns the amount of ADA sent/received for a transaction inside the `amount`  field.

### Description

Add to the object in this field an `asset` property, which contains the native tokens received/sent by the given transact

[2021-12-11 20:31] os11k opened #3054 "Can't build cardano-wallet anymore"
### Just checking...

- [X] This is a `cardano-wallet` bug.
- [X] I am using the latest `cardano-wallet` release.
- [X] I am using the *correct* `cardano-node` version for that release of `cardano-wallet`.

### Version

N/A

### Platform

Ubuntu 20.04

### Installation method

Built from source

### Network configuration

mainnet

### Context

I'm trying to build cardano wallet:

[code]

Seems the

[2021-12-12 14:45] nubelcr commented on #3054
Also getting the same issue. Several other reports on stack overflow and cardano discord.

[2021-12-12 18:26] ghost commented on #3054
same problem here can't build

[2021-12-12 18:26] ghost commented on #3054
using MacOs btw

[2021-12-13 02:08] mauro-zac commented on #3054
Me too. Ubuntu 20.04

[2021-12-13 17:45] Anviking opened #3057 "Flaky test: `StakeKeyAlreadyRegisteredDELEG` from `Plutus scenarios, withdrawal`"
### Please ensure:

- [X] This is actually a flaky test already present in the code and not caused by your PR.

### Context

This is a relatively newly introduced test.

### Job name

stack rebuild

### Test case name(s)

_No response_

### Error message

[code]
[code]

[2021-12-13 21:24] danbigthink commented on #2730
I'm still seeing this in version 2021-11-11, node version 1.30.1

logs:
[cardano-wallet.wallet-db:Info:11817] [2021-12-13 21:18:21.07 UTC] Found existing wallet: xyz
[cardano-wallet.wallet-db:Info:11817] [2021-12-13 21:18:21.07 UTC] Stopping database connection pool /wallet-db/she.abc.sqlite
[cardano-wallet.wallet-db:Info:11817] [2021-12-13 21:18:21.07 UTC] Closing single database connection (/wal

[2021-12-13 22:37] mauro-zac commented on #3054
I retried today and it worked. Thanks.

[2021-12-14 17:47] Anviking commented on #3054
Thanks. Should be fixed.

[2021-12-14 17:47] #3054 closed, assigned to nobody

[2021-12-14 19:23] danbigthink opened #3059 "Releases should show hardware requirements like cardano-node releases does"
### The problem that you wish to solve

Hardware requirements section in releases

### Description

Please follow the same structure as the cardano-node releases does for hardware requirements.

Thanks

### Implementation suggestions

_No response_

[2021-12-14 20:58] os11k commented on #3054
Works now, thank you!

I would like to add that links are broken in Readme.md -- like Testing & Building. Building should point to https://input-output-hk.github.io/cardano-wallet/developers/Building and Testing seems should point to https://input-output-hk.github.io/cardano-wallet/contributing/Testing.

Or should I just create PR for it?

[2021-12-14 21:17] Anviking commented on #3054
Thanks for pointing out — that seems right!

If you like to, that would be awesome!

[2021-12-14 23:43] os11k commented on #3054
Created PR with correct links for README.md

https://github.com/input-output-hk/cardano-wallet/pull/3060

[2021-12-15 09:20] #3015 closed, assigned to nobody

[2021-12-15 15:10] Anviking commented on #2855
There has been a recent uptick of similar-looking failures:

`./scripts/bors-stats.rb --after "13 nov" --tag "#2855" --details true`:
[code]

[2021-12-15 15:15] Anviking commented on #2980
Thanks. Closing and tracking as #2855.

[2021-12-15 15:16] #2980 closed, assigned to nobody

[2021-12-20 02:59] quangthienit1994 commented on #2395
Excuse me, Can you explain about algorithm of passphare ? I don't see any document said about it.

[2021-12-20 08:20] kbj1213 opened #3066 "Flaky test: Connecting to a cardano-wallet service"
### Please ensure:

- [X] This is actually a flaky test already present in the code and not caused by your PR.

### Context

Hi, I'm beginner developer for Cardano.

My environment is Ubuntu18.04.

I'm trying to follow the documents for developers on https://developers.cardano.org/docs/get-started/

I tried to connect to a cardano-wallet service and get network information.
So I tried the followin

[2021-12-21 07:45] #3066 closed, assigned to nobody

[2021-12-21 07:48] kbj1213 opened #3069 "Flaky test: Connecting to a cardano-wallet service​"
### Please ensure:

- [X] This is actually a flaky test already present in the code and not caused by your PR.

### Context

I'm following the process of the example in https://developers.cardano.org/docs/get-started/cardano-wallet-js

I installed docker-compose and operated "NETWORK=testnet docker-compose up"

And at the other terminal, I tested a simple javascript code in nodejs environment

My

[2021-12-25 12:37] btfdip opened #3070 "really slow to on-ramp setup in <docker-compose up>"
### The problem that you wish to solve

I spent three days to try to fully sync the cardano-wallet server. Still cannot make it work.

Everyone interested in this repo directly got rejected by setting up the  dev environment.

![image](https://user-images.githubusercontent.com/96004784/147384909-8fcd4755-40ce-4955-97ed-02e154087c31.png)

### Description

RT

### Implementation suggestions

_No res

[2022-01-03 08:55] piotr-iohk commented on #3070
[docker-compose.yml](https://github.com/input-output-hk/cardano-wallet/blob/master/docker-compose.yml) works fine for me.
[code]
Spins up both cardano-node and cardano-wallet and I'm able to use the wallet API fine:
[code]
Looking at the logs you shared it seems that probably cardano-node didn't start for some reason :thinking:.
Can you share your `docker ps` output and some cardano-node logs (`do

[2022-01-16 22:21] benapetr opened #3082 "Provide transaction input information in transaction details"
### The problem that you wish to solve

Right now one of most crucial information is missing in transaction details - WHO sent it. If I want to know that I have to use external service to lookup tx details and see where the inputs came from, the cardano wallet data only show this:

[code]

that's useless

### Description

Show information about inputs, this information must be on blockchain, other

[2022-01-18 14:10] #2771 closed, assigned to nobody

[2022-01-23 15:53] benapetr opened #3094 "Fee estimates are sometimes lower than real fee"
### Just checking...

- [X] This is a `cardano-wallet` bug.
- [X] I am using the latest `cardano-wallet` release.
- [X] I am using the *correct* `cardano-node` version for that release of `cardano-wallet`.

### Version

v2022-01-18 (git revision: a5085acbd2670c24251cf8d76a4e83c77a2679ba)

### Platform

Linux cardano-relay-test 4.19.0-14-amd64 #1 SMP Debian 4.19.171-2 (2021-01-30) x86_64 GNU/Linux

[2022-01-23 16:25] benapetr commented on #3094
sorry I found there was error in my own code, fee estimated are correct

[2022-01-23 16:25] #3094 closed, assigned to nobody

[2022-01-28 11:52] wout commented on #2710
I'd love to see this as well. Recently we launched an NFT mint that was using the wallet API to watch for transactions coming in. We had to close again because we were missing the buyers' addresses. We're now converting the app to use Blockfrost.

[2022-01-28 12:06] wout commented on #2617
We had the same issue. Sometimes the addresses are present; other times, they are not. We had this even with two equal transactions on testnet. Both with the same amount. Both from the same source wallet to the same destination wallet. They were about 20 minutes apart. In the first transaction, the input address was missing. But in the second transaction, it wasn't.

On testnet, it's there in most

[2022-02-04 12:58] tomsmalley opened #3107 "Nix-build is broken, `nix build` works"
### Just checking...

- [X] This is a `cardano-wallet` bug.
- [X] I am using the latest `cardano-wallet` release.
- [X] I am using the *correct* `cardano-node` version for that release of `cardano-wallet`.

### Version

dde627009c98ee85be8fda09d453d5078e6616f7

### Platform

Linux nixos 5.10.88 #1-NixOS SMP Wed Dec 22 08:31:00 UTC 2021 x86_64 GNU/Linux

### Installation method

Nix

### Network co

[2022-02-08 03:55] rvl commented on #3107
Hi @tomsmalley, The next release of `cardano-wallet` will be using nix flakes for its build.
Could I ask you to please install `nix` version 2.6.0 (or greater) and enable this configuration:
[code]
Then build with the command:
[code]
More information:
- https://input-output-hk.github.io/cardano-wallet/developers/Building#nix
- https://input-output-hk.github.io/cardano-wallet/user-guide/installatio

[2022-02-08 08:45] 34r7h commented on #1708
plz update if possible

[2022-02-08 09:58] runeksvendsen opened #3112 "Export `ApiValidityBound` constructors from `Cardano.Wallet.Api.Types`"
### The problem that you wish to solve

When using the `constructTransaction` endpoint from Haskell, one may need to construct a value for the `validityInterval` field of the `ApiConstructTransactionData` type which has the type `ApiValidityBound`. However, the constructors of `ApiValidityBound` are not exported from `Cardano.Wallet.Api.Types`, which means there's no way to construct such a value

[2022-02-08 11:07] piotr-iohk commented on #1708
The issue is fixed since [v2021-11-11](https://github.com/input-output-hk/cardano-wallet/releases/tag/v2021-11-11), and should be good also in current wallet version [v2022-01-18](https://github.com/input-output-hk/cardano-wallet/releases/tag/v2022-01-18).

[2022-02-08 12:46] benapetr opened #3113 "Provide endpoint that allows user to obtain min UTXO size for potential transaction in machine friendly format"
### The problem that you wish to solve

Right now, when you are trying to obtain fees using payment-fees endpoint you get error when UTXO is too small (when sending native assets). That's kind of expected, but you need to understand that user doesn't know what min UTXO is and perhaps need cardano-wallet to calculate it for them.

Right now when I use this endpoint, I get 404 error with machine unf

[2022-02-09 19:29] said1296 commented on #2602
I got stuck on something similar today, this feature would have been really helpful.

[2022-02-10 11:44] Anviking opened #3120 "Flaky test: Various arcane `stack` problems in buildkite (pantry, libffi, ...)"
### Please ensure:

- [X] This is actually a flaky test already present in the code and not caused by your PR.

### Context

In the past we've sometime had to clear the `stack` caches due to weird and arcane problems.

### Job name

Buildkite

### Test case name(s)

_No response_

### Error message

Currently at least two. Mostly:

[code]

But also one instance of:
[code]

### Build link

https://

[2022-02-10 11:50] Anviking opened #3121 "Flaky test: `gai_strerror not supported: 11002` from `API Server, handles bad host name`"
### Please ensure:

- [X] This is actually a flaky test already present in the code and not caused by your PR.

### Context

I don't have any context.

### Job name

cardano-wallet-core:unit

### Test case name(s)

Cardano.Wallet.Api.Server, API Server, handles bad host name

### Error message

[code]

### Build link

https://hydra.iohk.io/build/12711687

[2022-02-10 11:56] Anviking opened #3122 "Flaky test: `Plutus scenarios`, `missing_witnesses_in_transaction`"
### Please ensure:

- [X] This is actually a flaky test already present in the code and not caused by your PR.

### Context

`missing_witnesses_in_transaction` was added in #3047. May not work well with Plutus, although why it sometimes works and sometimes doesn't is not clear to me.

Might hopefully be fixed with https://github.com/input-output-hk/cardano-wallet/pull/3110/commits/b4ee55b861f5d848

[2022-02-10 12:05] piotr-iohk commented on #2602
This feature has been added to cardano-addresses actually, See "How to generate a wallet id based on extended root or account keys" in the [README](https://github.com/input-output-hk/cardano-addresses/blob/master/README.md).

(it is currently in cardano-addresses `master` but should be released soon)

[2022-02-10 12:09] Anviking opened #3123 "Flaky test: Lots of integration tests errors due to cluster or setup"
### Please ensure:

- [X] This is actually a flaky test already present in the code and not caused by your PR.

### Context

Some recent failures appear related to the integration test setup, rather than an individual test. It's not just one test failing, but lots of them.

There seem to exist both failures where just stake-pool tests are failing, as well as failures where all tests past a certain

[2022-02-10 12:14] Anviking commented on #3123
Seems similar to #2720, but may or may not be a different problem this time.

[2022-02-10 12:25] Anviking opened #3124 "Flaky test: ValidationFailedV1 NotEnoughSpace from `Plutus scenarios, currency`"
### Please ensure:

- [X] This is actually a flaky test already present in the code and not caused by your PR.

### Context

According to @paweljakubas, these failures are related to some hard-coding of values for the Plutus integration scenario @HeinrichApfelmus added. There is an idea of a proper solution.

So far only seen on 27 Jan and 28 Jan in one PR.

### Job name

cardano-wallet:integratio

[2022-02-11 06:36] #3121 closed, assigned to rvl

[2022-02-11 10:34] gituser commented on #2921
Any update on this?

Why not make an API function of extending the address pool manually?

Sometimes it is needed when you have e.g. 0 incoming transactions and your address pool is exhausted.

[2022-02-11 12:00] #3112 closed, assigned to nobody

[2022-02-14 22:38] jeffhappily opened #3136 "Wallet not reflecting the actual balance"
### Just checking...

- [X] This is a `cardano-wallet` bug.
- [X] I am using the latest `cardano-wallet` release.
- [X] I am using the *correct* `cardano-node` version for that release of `cardano-wallet`.

### Version

v2022-01-18 (git revision: a5085acbd2670c24251cf8d76a4e83c77a2679ba)

### Platform

Linux jeffhappily 5.13.0-28-generic #31~20.04.1-Ubuntu SMP Wed Jan 19 14:08:10 UTC 2022 x86_64 G

[2022-02-15 14:01] HeinrichApfelmus commented on #3136
The wallet is fully synced? 🤔 You can get the synchronization status with `GET /v2/network/information` (field `sync_progress`).

[2022-02-15 14:10] HeinrichApfelmus commented on #2921
Compliance with the industry standard BIP-44 / CIP-1852 does not allow us to change the `address_pool_gap`. 😞

The address pool gap cannot be changed dynamically. As a workaround, you can specify a value of `address_pool_gap` when restoring a wallet, though.

Could you elaborate? When you make any transaction, the address pool should enlarge automatically.

The "e-shop" scenario was never meant to

[2022-02-15 14:20] piotr-iohk commented on #3136
Just to make sure, is the wallet that you were using on Yoroi a Shelley wallet? Yoroi used to support also `sequential` Icarus Byron wallet's. Note that if your addresses in the wallet are prefixed with `addr_` then it is a Shelley wallet, otherwise it is most likely Icarus.

Icarus type of wallet can be restored in cardano-wallet with different endpoint:

[POST /byron-wallets](https://input-outpu

[2022-02-15 15:19] gituser commented on #2921
@HeinrichApfelmus

If you accept Cardano (ADA) payments only and do not do any withdrawals the pool might be quickly exhausted.

[2022-02-15 16:18] teddyjfpender commented on #2921
@benapetr I'd really like to know a little more about this use case you're describing for `cardano-wallet`. Can you dive into the scenario a little more, perhaps touch on some things like: comparable existing products/payment services (decentralised/centralised), benefits of one-user-one-address, and extensions of this model (e.g. analytics, what you'd like to achieve if such a feature was created

[2022-02-16 11:23] Straightpool commented on #2556
There is a CLI hack for this, not yet tested, but I see no reason why this should not work.

Create two wallets, one for the stake, one for the rewards e.g. using two hardware wallets or two seed phrases. Delegate the rewards wallet to the pool of your choice.

Obtain receive addresses for both wallets.

Create a franken-address with the stake wallet payment key + reward wallet stake key.

Go into

[2022-02-17 09:48] gitstar2022 opened #3142 "Unable to send Byron era"
Having issues sending Byron era ada which was not moved into shelley with fork. How can this be resolved. Is it possible to get an old version of Daedalus (2.0.0) to attempt to do this here.

[2022-02-17 09:54] nikolaglumac commented on #3142
Old versions of Daedalus will not help you as they can no longer connect to the network.
Please share more details:
- Do you have access to your Byron wallet in the latest Daedalus version?
- Do you see the correct balance?
- What error do you get when trying to send funds from that wallet?

Logs and screenshots would help us a lot 🙏

[2022-02-17 09:59] nikolaglumac commented on #3142
@rvl this is the individual who has reached out to us via Twitter.
Please let us know if there is any progress on this issue 🙏

[2022-02-17 10:22] gitstar2022 commented on #3142
https://github.com/input-output-hk/cardano-wallet/issues/2395
@rvl @nikolaglumac could anything on the above issue help solve the problem. Secret.key file is not in json version so also unable to drop it into any other wallets

[2022-02-17 12:01] rvl commented on #3142
There are 3 separate bugs from the 2017 code which apply to this.
1. One is that the cardano-sl wallet never generated address indices in the hardened index range.
2. The other is that deriveXPub used the wrong range for hardened indices.
3. The last seems to be an off-by-one error for address indices.
I need to run some tests locally to reproduce it - then we can use a few CLI commands to verify

[2022-02-17 12:03] gitstar2022 commented on #3142
Ok thats great, do you have any kind of timeline for a fix on this issue.

[2022-02-17 12:07] gitstar2022 commented on #3142
Also from one Aussie to another - THANK YOU!!

[2022-02-18 07:53] rvl commented on #3113
Thanks - this is a good idea because the [getNetworkParameters](https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/getNetworkParameters) endpoint only provides the fixed part of `minimum_utxo_value`.

[2022-02-18 18:30] locallycompact opened #3146 "Conflicting family instance declarations"
### Just checking...

- [X] This is a `cardano-wallet` bug.
- [X] I am using the latest `cardano-wallet` release.
- [X] I am using the *correct* `cardano-node` version for that release of `cardano-wallet`.

### Version

9684c1cb002ec980f71e7a7c157fa134df1f0f97

### Platform

linux

### Installation method

Built from source

### Network configuration

_No response_

### Context

_No response_

###

[2022-02-21 12:28] v0d1ch opened #3147 "ApiCoinSelection json instance"
### Just checking...

- [X] This is a `cardano-wallet` bug.
- [X] I am using the latest `cardano-wallet` release.
- [X] I am using the *correct* `cardano-node` version for that release of `cardano-wallet`.

### Version

6508a5f8939bab5fa6ca8df0e1d056585607c5e6

### Platform

NixOs

### Installation method

Built from source

### Network configuration

testnet

### Context

We have a http call to c

[2022-02-22 17:19] locallycompact opened #3151 "Couldn't match expected type 'Word32' with actual type 'Word16'"
### Just checking...

- [X] This is a `cardano-wallet` bug.
- [X] I am using the latest `cardano-wallet` release.
- [X] I am using the *correct* `cardano-node` version for that release of `cardano-wallet`.

### Version

d001a56aa3a4bb794094c40c8cba560064b879d5

### Platform

linux

### Installation method

Built from source

### Network configuration

_No response_

### Context

_No response_

###

[2022-02-26 07:53] jeffhappily commented on #3136
@HeinrichApfelmus Yes it's fully synced
@piotr-iohk It's a Shelley wallet

I'm not sure what happened, I was guessing it _could_ be that the address I transferred to isn't in the list of addresses managed by `cardano-wallet`, so possibly `cardano-wallet` only looked up for those addresses? I don't know, but I managed to resolve this by transferring the fund (via Yoroi) to another `cardano-wallet`

[2022-02-26 07:53] #3136 closed, assigned to nobody

[2022-02-26 23:58] gitstar2022 commented on #2395
@stive131 > @KtorZ Hi KtorZ. I have a secret.key which is set no spending password. Is it possible to get unencrypted private key(192 character) by export-wallets? I would like to import to yoroi.

Hey! currently dealing with the same issue. I've got a fair bit of info on solutions, can possibly point you in the right direction of troubleshooting on your own.

You can not decrypt your secret.key-

[2022-02-27 01:00] gitstar2022 commented on #2395
@stive131 when was your key file generated. is this a shelley wallet or byron?
do you know what the error code is? how many UXTOW are available and when was your last incoming or outgoing transaction. have you verified your balance on the blockchain?

[2022-02-28 09:24] bogerv commented on #2921
Example of exchanges like Binance
Each user needs to have its own unique address identification, in order to know which user has actually deposit on the chain.
However, most exchanges currently do not support additional meta data for withdrawal ADA.

[2022-03-02 19:23] Fell-x27 commented on #2005
Hi again. In the mainnet it takes about 15 min. Again :(

[2022-03-03 14:02] Anviking commented on #2005
@Fell-x27 in general or specifically with many wallets? (cc @HeinrichApfelmus )

[2022-03-03 15:18] Fell-x27 commented on #2005
In general. There are no wallets connected to cardanowallet instance I use to test it.

[2022-03-03 18:11] HeinrichApfelmus commented on #2005
Unfortunately, it appears that the Cardano blockchain has grown so much that long waiting times for stake pools listings are the new normal — computing the stake distribution and ranking takes a long time. We're working on it:

* cardano-node 1.34 could bring some improvements (incremental stake computation) in conjunction with #2781
* at the same time, we're implementing a [light-mode](https://in

[2022-03-06 00:14] jbax opened #3162 "Adjust local-cluster to include Bryon/Shelley/AlonzoGenesisHash in the node.config file that is generated"
### The problem that you wish to solve

I'm doing some local tests using the `local-cluster` (https://github.com/input-output-hk/cardano-wallet/blob/master/lib/shelley/exe/local-cluster.hs) but making that work with cardano-db-sync is being problematic because I need to manually edit the generated `node.config` file (under `/tmp/test-cluster*/node`) and add the following:

[code]

### Description

[2022-03-06 00:36] jbax commented on #3162
Also when starting cardano-db-sync connected to this cluster it stops with the following error:

[code]

It would be great if the local-cluster could be used by other components without errors.

[2022-03-13 23:48] michael8359 commented on #2395
@fukur0kuju I have secret.key file but when i did import key and come out with error “wallet not found ”. Would you able to help me?

[2022-03-14 00:17] MSC-InfoTech commented on #2395
@fukur0kuju I just reached out to you, I have a similar issue, would really appreciate any help you can provide!

[2022-03-15 13:34] benapetr commented on #2921
yes exactly this - imagine you need to create an endpoint where 10 000 different users can deposit some tokens or ADA and you differentiate each of them. Easiest would be to generate 10 000 different addresses, assign one to each user, and track their balance by adding what is sent to these addresses.

of course it's necessary to separately track the balances in separate database, you can't trust

[2022-03-16 03:59] gitstar2022 commented on #3142
No thanks @fukur0kuju - I’m working directly with @rvl and IOHK. I don’t have any desire to be scammed considering you are asking people for money upfront and tagging everyone. Something is a bit fishy. This is not an issue that anyone can fix. I have trust in the Iohk team.

[2022-03-16 04:05] gitstar2022 commented on #2395
@stive131 @michael8359 @MSC-InfoTech do not send your secret.key file to anyone. They will wipe your account. This person above is a scammer, they will ask for your secret.key or money upfront. Stay away!

[2022-03-16 05:47] gitstar2022 commented on #2395
![FD44F93E-B911-461A-85B5-35BEC6EA506D](https://user-images.githubusercontent.com/83436726/158524230-67aa74c8-0fe9-4ccb-b7a9-c73db54077bd.png)
From your own repository- you asking someone to send secret key.

#1 - I removed my entire error code due to the fact that I didn’t know if it contained sensitive information and was concerned when I saw someone post the same code above here. Have been deal

[2022-03-17 17:15] locallycompact opened #3179 "Use cardano-node systemd service independently of cardano-wallet."
### The problem that you wish to solve

Hi, I'd like a version of the cardano-wallet systemd service that does not override the cardano node package. I can currently override it by doing something like this:

[code]

But then I get this error

[code]

### Description

As above

### Implementation suggestions

_No response_

[2022-03-18 10:53] adetante opened #3181 "404 Not found on transactions-submit endpoint"
### Just checking...

- [X] This is a `cardano-wallet` bug.
- [X] I am using the latest `cardano-wallet` release.
- [X] I am using the *correct* `cardano-node` version for that release of `cardano-wallet`.

### Version

v2022-01-18 (git revision: a5085acbd2670c24251cf8d76a4e83c77a2679ba)

### Platform

MacOS

### Installation method

IOHK Docker image

### Network configuration

testnet

### Conte

[2022-03-18 12:45] bhoudebert commented on #3181
Hello there,

This is not a bug, you are looking at something that is not in the release you are using. If you have a look at the file describing the new endpoint at the specific sha1 version, you'll see that it does not have it.

[2022-03-18 12:58] adetante commented on #3181
Thank you. It was not clear in the doc...
But that's ok with the current `dev-master` docker tag.

[2022-03-18 12:58] #3181 closed, assigned to nobody

[2022-03-18 13:13] piotr-iohk commented on #3181
Indeed, the release `v2022-01-18` was tagged at a5085acbd2670c24251cf8d76a4e83c77a2679ba. It doesn't yet include this endpoint.

[2022-03-18 14:43] Anviking opened #3183 "Flaky test: when passed unresolved inputs, may fail - Passed only 99 tests"
### Please ensure:

- [X] This is actually a flaky test already present in the code and not caused by your PR.

### Context

Combination of
[code]

[code]

### Job name

cardano-wallet-core:unit

### Test case name(s)

when passed unresolved inputs, may fail

### Error message

[code]
[code]

[2022-03-21 06:49] kk-hainq opened #3187 "Support Aeson 2"
### The problem that you wish to solve

We would like to have Aeson 2 support in `cardano-wallet` so we could integrate it into the likes of `plutus-apps` that is on such a move.

### Description

Many packages (`cardano-base`, `plutus`, `cardano-ledeger`, etc.) in the Cardano ecosystem have added Aeson 2 support to bump dependencies together. More and more are following and it would be nice for t

[2022-03-25 07:53] abrkn commented on #3181
When can we expect `transactions-submit` in a Docker image release?

[2022-03-29 05:46] rvl commented on #3179
Hello @locallycompact, that error message probably means that the cardano-wallet service user doesn't have write permission on the cardano-node socket file.

I don't think that the `cardano-node` package is overridden in `cardano-wallet.nixosModule` - is it?

[2022-03-29 06:15] locallycompact commented on #3179
I don't really know what it's doing https://github.com/input-output-hk/cardano-wallet/blob/master/flake.nix#L76

In any case, I made a new set of systemd services that force everything to be owned by the same user. https://github.com/cardano-system/cardano-system

[2022-03-31 06:19] rvl commented on #3179
Yeah that line of `flake.nix` looks like a bug to me.

It looks like `DynamicUser` in our systemd service causes difficulties with permissions. We should just have a `services.cardano-wallet.user` option as you have done.

[2022-04-01 16:29] #2578 closed, assigned to nobody

[2022-04-04 07:18] rvl commented on #3187
Yeah we shall need to do this next time we bump the cardano-node version.
@kk-hainq, if you already have a branch, please by all means open a PR.
Thanks.

[2022-04-04 10:05] danielalexlarsen commented on #2395
I am happy to see everyone who used Daedalus have regained access to their old wallets :)

Does anyone here have experience in regaining access to other wallets, such as Nami/CCVault?

I have an encrypted key + spending pass from ccvault, mistakingly lost the seed phrase.
I was told you could regain access to the wallet using only the encryption key + spending pass?

[2022-04-05 08:17] rvl commented on #2578
Hi @ghost, @whosystem, would you be able to retest the build on latest master?

Disable the `scrypt` flag first with:
[code]

[2022-04-05 19:51] Anviking commented on #3183
Should be fixed.

[2022-04-05 19:51] #3183 closed, assigned to Anviking

[2022-04-06 02:33] wandyyd opened #3219 "Cardano - cardano-wallet - couldn't be find policy-key endpoint."
### Just checking...

- [X] This is a `cardano-wallet` bug.
- [X] I am using the latest `cardano-wallet` release.
- [X] I am using the *correct* `cardano-node` version for that release of `cardano-wallet`.

### Version

v2022-01-18 (git revision: a5085acbd2670c24251cf8d76a4e83c77a2679ba)

### Platform

Linux - Ubuntu 18.04.6 LTS

### Installation method

Built from source

### Network configuratio

[2022-04-06 07:54] piotr-iohk commented on #3219
This endpoint is not yet available in the last release https://github.com/input-output-hk/cardano-wallet/releases/tag/v2022-01-18, and here's the corresponding API doc for the last release -> https://input-output-hk.github.io/cardano-wallet/api/v2022-01-18/. (linked also in the release notes)

The endpoint is available in the current `master` though and the corresponding API doc for `master` is ->

[2022-04-06 08:14] wandyyd commented on #3219
Hi @piotr-iohk ! Thanks for your detail info!
I didn't realize it's different, since the `master doc` also stated as `v2022-01-18` instead `master` (maybe it will make things clearer or maybe add some notes).

Sorry for false-report this as bug 😅

*edit - question related to documentation.
Been wonder, if there's mint/burn nft documentation using `cardano-wallet`
I saw this [guide](https://input-o

[2022-04-11 02:31] #3219 closed, assigned to nobody

[2022-04-11 14:23] runeksvendsen commented on #2280
Does this only cover creating a deleting the same wallet? Or can it also problematic to delete an existing wallet while trying to create a new (unrelated) wallet?

[2022-04-12 19:00] b00kdev commented on #3181
I just ran into this as well. The `v2022-01-18` release docs do show this endpoint as being included, which adds to the confusion. https://input-output-hk.github.io/cardano-wallet/api/v2022-01-18/#operation/submitTransaction

So while it may not be a bug in the code (as @bhoudebert pointed out) it does seem to be a bug in the docs. Could there be a bugfix release that includes this endpoint or wil

[2022-04-12 20:11] bhoudebert commented on #3181
As I assume you are on the development timeline you could also just use the `main` latest sha1 and then build & start.

I usually do this kind of thing for the whole cardano/plutus env to avoid waiting for release, unfortunately it is not safe for production to do so but allow you to be unblocked for now.

[2022-04-12 20:49] b00kdev commented on #3181
@bhoudebert Yeah, that's what I did to unblock for now, but like you mentioned it's not really ideal for going to production (which we're hoping to do soon).

[2022-04-14 14:24] cedcardano commented on #3113
For now you can implement this yourself for the current set of network parameters with

![image](https://user-images.githubusercontent.com/96455322/163409895-12e60936-23a1-4aa1-be9d-950ae9488861.png)

Here your parameters are:

- The number of distinct asset types (ie, a utxo with two types of fungible token with different policy IDs and two NFTs with the same policy ID will have this parameter be

[2022-04-19 16:53] locallycompact opened #3240 "Support GHC-9.2.2"
### The problem that you wish to solve

Hi, we're trying to get somewhere with compiling plutus-apps for ghc-9.2. I've had a go at updating cardano-wallet dependencies such as Oddword [here](https://github.com/locallycompact/OddWord). Something seems to have changed such that I get this error:

[code]

### Description

As above

### Implementation suggestions

_No response_

[2022-04-19 19:15] locallycompact commented on #3240
Actually, I don't think this is a 9.2 problem. This problem seems to occur even if I just copy this repo into git and put it in an 8.10 build

[2022-04-21 03:59] jonathanknowles opened #3242 "Test failure: distributeSurplusDelta, when no change output is present, will burn surplus as excess fees"
### Please ensure:

- [X] This is actually a flaky test already present in the code and not caused by your PR.

### Context

This failure happens on **around 3% of all runs**. (Over **1000** test runs, I saw **34** failures.)

To reproduce:
[code]

The following seeds all reproduce the problem:
[code]

### Job name

Appeared in local stress testing.

### Test case name(s)

`distributeSurplusDelta,

[2022-04-21 10:16] #3242 closed, assigned to jonathanknowles

[2022-04-22 04:42] jonathanknowles opened #3248 "Flaky test: Compare Wallet impl. with Specification"
### Please ensure:

- [X] This is actually a flaky test already present in the code and not caused by your PR.

### Context

https://hydra.iohk.io/build/13887987/nixlog/1/tail

Seen on CI for:
https://github.com/input-output-hk/cardano-wallet/pull/3247

### Relevant team discussions

https://element.adrestia.iohkdev.io/#/room/!pVmOFJiBkItJMNTmCR:adrestia.iohkdev.io/$-unJ0isT24cCiJETY75z3G2eWQYSDYE

[2022-04-22 05:53] jonathanknowles commented on #3248
Relevant team discussion: https://element.adrestia.iohkdev.io/#/room/!pVmOFJiBkItJMNTmCR:adrestia.iohkdev.io/$-unJ0isT24cCiJETY75z3G2eWQYSDYEiGXxZb-eRWao?via=adrestia.iohkdev.io

[2022-04-22 12:41] cedliang commented on #2578
I've built it successfully based on the latest master and have a native `cardano-wallet` binary working on Apple Silicon with performance that's qualitatively an order of magnitude better! I'm new to working with cabal so I'm not sure if the following is bad practice, but it worked for me:

`cabal configure --disable-tests --disable-benchmarks -f-scrypt -O2 && cabal build cardano-wallet:exe:cardan

[2022-04-26 16:02] ghost commented on #3146
Please check that `ouroboros-network`'s pinned commit in your cabal.project is the same as in `cardano-wallet`'s `cabal.project`. That should fix this issue.

[2022-05-11 07:56] jonathanknowles commented on #2331
Seen again in https://hydra.iohk.io/build/14522213.

Log extract:
[code]

[2022-05-25 07:05] NanPuDuRen opened #3291 "App retrieves transaction history"
### The problem that you wish to solve

I want to add a function in the App to obtain transaction history by address

### Description

I want to add a function in the App to obtain transaction history by address

### Implementation suggestions

_No response_

[2022-05-28 09:08] manonthemat commented on #3187
The comment on `452975f8afe5b9c5c168e972c4c4993f08f10e7f` from April 2021 mentioned something along those lines.

https://cs-syd.eu/posts/2021-09-11-json-vulnerability further highlights the importance. Looking forward to the next cardano-node release for one more reason.

[2022-05-30 20:03] a-osiecki opened #3302 "Cardano Wallet sets an empty ValidityRange while balancing a transaction"
### Just checking...

- [X] This is a `cardano-wallet` bug.
- [X] I am using the latest `cardano-wallet` release.
- [X] I am using the *correct* `cardano-node` version for that release of `cardano-wallet`.

### Version

v2022-05-27 (git revision: 78a8e6c272b66d74be55e782c5d199f704887239)

### Platform

Running on Linux 5.15.41-1-MANJARO #1 SMP PREEMPT Wed May 18 09:20:01 UTC 2022 x86_64 GNU/Linux

[2022-05-30 22:02] a-osiecki commented on #3302
@james-iohk Hey, I've created this issue to show the error we've been getting, which I commented [here](https://github.com/input-output-hk/cardano-node/issues/3090). Thanks!

[2022-05-31 06:41] piotr-iohk commented on #3302
@a-osiecki thanks for reporting! I have a few questions/asks:
 - would you mind posting the CBOR of the transaction that goes into the wallet backend (if possible the whole payload that is consumed by [balanceTransaction](https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/balanceTransaction) endpoint)
- I've noticed that in https://github.com/joinplank/simple-contract/blob/main/c

[2022-05-31 20:57] a-osiecki commented on #3302
Hey @piotr-iohk thanks for your reply. I looked into the things you asked:

- I updated the  **.cabal** file in the repository, the build issue you had should be fixed. We left a dependency from a private repository there.
- Regarding the second item, I had in mind that updating the tag in the repository was necessary if using the Cardano wallet as a library and that it was not necessary if using

[2022-06-01 11:50] piotr-iohk commented on #3302
Thanks @a-osiecki!

I tried few things but couldn't reproduce the issue so far.

1. I've tried this payload on several wallets with different UtxO distributions on testnet and I was able to balance (and sign) it with no issue. I was not able to submit it, but I guess that's because my wallets were not "compatible" with the contract.

 - balance
[code]

- sign

[code]

- submit

[code]
On submittin

[2022-06-01 17:21] francolq commented on #3302
Thanks @piotr-iohk for the quick answer! With @a-osiecki we found that the issue has to do with the protocol version 5 we were using in our private testnet. The txInfoValidRange value is always set to this interval:
[code]
This is done in the TxInfo module of cardano-ledger. The function [`slotToPOSIXTime`](https://github.com/input-output-hk/cardano-ledger/blob/ded4296ee7dc26da3504b0148363de39edd6

[2022-06-02 10:38] piotr-iohk commented on #3302
Thanks @francolq and @a-osiecki!

Yes :pray: . Best that ledger team triages it and decides about the action/fix.
I assume that this ticket can be closed. :+1:

[2022-06-02 10:38] #3302 closed, assigned to nobody

[2022-06-07 08:19] jonathanknowles commented on #2331
Seen again:
https://github.com/input-output-hk/cardano-wallet/pull/3313#issuecomment-1148333772

[2022-06-20 17:09] Anviking commented on #3120
Ain't got no stack no more.

...now we have cabal cache issues instead 😃

[2022-06-20 17:09] #3120 closed, assigned to rvl

[2022-06-29 07:57] benapetr opened #3363 "Wallet is bloating address pool unnecessarily"
### The problem that you wish to solve

Hello,

Right now due to random fund reshuffling - https://github.com/input-output-hk/cardano-wallet/issues/2614 the wallet is slowly allocating more and more addresses, which may be by design and OK for small users. But for large users (e-shops etc.) this might be a problem.

For example here is this cardano-wallet used as a backend for automated tool - whi

[2022-07-06 16:44] benapetr opened #3376 "Getting lots of Connection lost with the node. warnings"
### Just checking...

- [X] This is a `cardano-wallet` bug.
- [X] I am using the latest `cardano-wallet` release.
- [X] I am using the *correct* `cardano-node` version for that release of `cardano-wallet`.

### Version

v2022-07-01 (git revision: 315ee078e7466147c985155fbc0bccfc176831a3)

### Platform

Linux debian

### Installation method

Binary from GitHub release page

### Network configuratio

[2022-07-07 09:35] Anviking commented on #3187
Done with #3280, which is in latest release

[2022-07-07 09:35] #3187 closed, assigned to nobody

[2022-07-07 13:44] hasufell opened #3379 "Submitting transactions with ad-hoc datums (and redeemers)"
### The problem that you wish to solve

I'm trying to figure out how to create a script transaction *without the plutus PAB backend*. I have a use case where I want to be able to send arbitrary datums (and redeemers) to a script, without going through the PAB. The nodes will reject invalid datums anyway. And PAB requires explicit knowledge about endpoints, which I don't have.

Currently there are

[2022-07-07 13:44] hasufell commented on #3379
@jonathanknowles @migamake

[2022-07-08 08:31] jonathanknowles commented on #3379
Hi @hasufell

Many thanks for creating this issue. I'll make sure that this issue is raised within our team.

[2022-07-08 20:03] red3nzo opened #3380 "Error while trying to restore wallet that was previously created with mnemonic_sentence"
### Just checking...

- [X] This is a `cardano-wallet` bug.
- [X] I am using the latest `cardano-wallet` release.
- [X] I am using the *correct* `cardano-node` version for that release of `cardano-wallet`.

### Version

v2022-4-27

### Platform

Linux Fedora Workstation 36

### Installation method

IOHK Docker image

### Network configuration

testnet

### Context

When I try to restore a users wa

[2022-07-09 10:24] mgajda opened #3381 "Keep wallet key in Hardware Security Module or Key Management Service..."
### The problem that you wish to solve

Wallet private key should be impossible to steal even if attacker manages to hack the `cardano-wallet`.

The best way to assure that would be to hold private key in Hardware Security Module, like the ones [provided by Thales](keybase://chat/streamcardano#general/1221), [Yubi](https://loomx.io/developers/ko/hsm.html#setting-up-the-yubico-hsm).

Note that thes

[2022-07-09 10:24] mgajda commented on #3381
@maerwald @migamake

[2022-07-09 10:35] mgajda commented on #3179
@locallycompact Would such service support multiple `cardano-wallet`s for different users on a single machine?

[2022-07-09 10:40] mgajda commented on #3381
@jonathanknowles This feature would increase security of the wallet private key, by making it very hard to steal it. (For stealing, one would have to also breach HSM.)
The attacker who hypothetically breaks the wallet could sign a transaction, but it would have to be real time attack.

Could this feature be supported in the next version?

[2022-07-11 05:32] piotr-iohk commented on #3380
You are trying to create a wallet again that you have already created in your `cardano-wallet` instance, therefore you get error message `wallet_already_exists`. This is expected.

Note that you only need to create wallet once. Once you do that, your wallet is available for you via other endpoints. In particular you can look up it's balance with [getWallet](https://input-output-hk.github.io/cardan

[2022-07-11 05:32] #3380 closed, assigned to nobody

[2022-07-11 15:14] red3nzo commented on #3380
@piotr-iohk I understand that but how do I allow a user to recover a wallet if they have delete my application but haven't deleted the wallet from my `cardano-wallet` instance?

[2022-07-11 15:38] piotr-iohk commented on #3380
@thatsbrandon I don't know what exactly is your setup, but I suppose if you receive `409` from the api (i.e. `"code": "wallet_already_exists",`), which means that wallet exists on your server, then you can just return the wallet ID from the message (`"message": "This operation would yield a wallet with the following id: 8209f39a872faa51a63c0f7bb8d748067cf7b2b0...`)

Please note also that `cardano-

[2022-07-12 15:20] red3nzo commented on #3380
I figured that was the case, thank you for your response ;)

[2022-08-10 20:13] benapetr commented on #3363
over 34 000 addresses now with same staking key, I am wondering when cardano-wallet starts having troubles scanning the chain with so many addresses belonging to single wallet

[2022-08-14 20:09] Kubick4 opened #3438 "Enable access to the wallet via seed phrase of hardware wallet"
### The problem that you wish to solve

Recently I found out that it is not possible to enter wallet via entering the seed phrase from the hardware wallet (Ledger, Trezor, etc..).
I know it is not recommended, but it could lead to misinterpretation. When someone enters the seed phrase a clean wallet is derived and he can think that his funds are already not there.
It's already embedded in people's

[2022-08-16 11:44] Anviking opened #3440 "Flaky test: Stake pools, expected: 3 but got: 4 / One of the pools should retire"
### Please ensure:

- [X] This is actually a flaky test already present in the code and not caused by your PR.

### Context

There is one pool which is supposed to retire at epoch 3. Presumably the retirement cert failed to make it on chain when we see errors like this.

We removed the relay node when making the integration cluster support Babbage. Perhaps we need to either:
1. Re-add the relay no

[2022-08-16 13:01] Anviking opened #3441 "Flaky test: Somethingwentwrong in migration tests"
### Please ensure:

- [X] This is actually a flaky test already present in the code and not caused by your PR.

### Context

- Migration tests use `Hspec.it` rather than the default retrying `it`
- This might be a very real problem (occasional err500) which despite not being related to migrations shows up here

### Job name

cardano-wallet:integration

### Test case name(s)

MIGRATE

### Error mes

[2022-08-16 13:07] Anviking opened #3442 "Flaky test: Various odd machine/CI related failures out of our control"
### Please ensure:

- [X] This is actually a flaky test already present in the code and not caused by your PR.

### Context

Ticket for failures seemingly out of our control in lieu of better categorisation.

### Job name

Various

### Test case name(s)

_No response_

### Error message

[code]

### Build link

https://github.com/input-output-hk/cardano-wallet/pull/3374#issuecomment-1216462894

[2022-08-18 10:38] HeinrichApfelmus opened #3447 "Flaky test: Stake pools, TRANS_NEW_JOIN_01a"
### Please ensure:

- [X] This is actually a flaky test already present in the code and not caused by your PR.

### Context

The "TRANS_NEW_JOIN_01a" integration test is about delegating to a stake pool, fetching rewards, and spending them. As such, it is sensitive to timing issues such as the passage of an epoch.

This test appears to fail quite often on macOS, I noticed this locally as well.

##

[2022-08-18 11:40] Anviking commented on #3440
Should be fixed with #3444  🤞

[2022-08-18 12:07] Anviking commented on #2331
Heinrich suggested that many of the recent failures of SMASH_01 really might have been #3440 in disguise.

This might be right, but it seems like this is also a failure on its own (to what extent only time will tell, after the #3444 fix). This is a failure from https://github.com/input-output-hk/cardano-wallet/pull/3362 before the Babbage cluster setup rework:

[code]

We see "Genesis Pool C" is t

[2022-08-19 11:36] HeinrichApfelmus commented on #2067
Reopening, as iohk-bors accidentally interpreted the phrase "This might fix #xyz" as "fix #xyz" and automatically closed this issue.

[2022-08-25 10:10] Anviking opened #3461 "Flaky test: test cluster setup - no wallets are syncing"
### Please ensure:

- [X] This is actually a flaky test already present in the code and not caused by your PR.

### Context

- Problem with cluster setup
- Seen more after #3444 (but not exclusively after?)
- Logs from pool-1 when it happens: [integration-pool-1.log](https://github.com/input-output-hk/cardano-wallet/files/9423694/integration-pool-1.log)
    - Some `badInputs` and `chainDensity 0`

[2022-08-25 17:38] Anviking commented on #3447
Hopefully alleviated with #3455

[2022-08-25 17:38] #3447 closed, assigned to HeinrichApfelmus

[2022-08-26 00:55] melchoir55 opened #3465 "Latest docker-compose not compatible with preprod"
### Just checking...

- [X] This is a `cardano-wallet` bug.
- [X] I am using the latest `cardano-wallet` release.
- [X] I am using the *correct* `cardano-node` version for that release of `cardano-wallet`.

### Version

v2022-08-16 (git revision: 0000000000000000000000000000000000000000)

### Platform

linux (as defined by the dockerfile)

### Installation method

IOHK Docker image

### Network co

[2022-08-26 10:17] piotr-iohk commented on #3465
`inputoutput/cardano-wallet:2022.8.16` on dockerhub has been updated with the version containing new environments (preview and preprod). Perhaps you already had previous version (also tagged `2022.8.16` but without new environments) on your system and therefore it is using the old one that doesn't have those missing configs?

In that case, in that case you may want to remove old `inputoutput/carda

[2022-08-26 12:59] marijanp commented on #3179
I can't make `cardano-ogmios` work with `cardano-node` because `cardano-node` opens up a socket which has read-only permissions while `cardano-ogmios` needs write permissions additionally. And since none of both services offer a way to change the group I have to manually change permissions for the socket

[2022-08-26 13:32] marijanp commented on #3179
Thanks to Nix I was able to figure out the following workaround
This is what I have to do:
[code]

[2022-08-26 17:37] melchoir55 commented on #3465
That solved this particular problem.

With respect, it is unusual to release a new image with the same tag as an old image. Most CI flows assume an image is immutable once tagged. Approaching updating your images in this way is going to cause a lot of headache for a lot of people.

[2022-08-26 17:38] #3465 closed, assigned to nobody

[2022-08-26 22:48] bhatt-deep opened #3469 "Wallet is unable to connect with Cardano-node, getting lots of connect lost warnings."
### Just checking...

- [X] This is a `cardano-wallet` bug.
- [X] I am using the latest `cardano-wallet` release.
- [X] I am using the *correct* `cardano-node` version for that release of `cardano-wallet`.

### Version

v2022-08-16

### Platform

Linux Ubuntu 20.04

### Installation method

IOHK Docker image

### Network configuration

preprod

### Context

I have tried to started Cardano-wallet w

[2022-08-27 00:47] bhatt-deep commented on #3469
Wallet is connecting to Node, But those are false warnings shown on logs. The issue is already reported earlier for different version here #3376 , but still it's there. closing down this issue.

[2022-08-27 00:47] #3469 closed, assigned to nobody

[2022-08-29 17:07] Anviking commented on #3440
Seen once more. Perhaps an extra `threadDelay` is needed in addition to https://github.com/input-output-hk/cardano-wallet/pull/3444?

[2022-08-31 05:24] jonathanknowles opened #3482 "(Instance of #3461) Flaky test: Waited longer than 90s to resolve action: "waitForNextEpoch""
### Please ensure:

- [X] This is actually a flaky test already present in the code and not caused by your PR.

### Context

https://github.com/input-output-hk/cardano-wallet/pull/3476#issuecomment-1232432181

### Job name

linux.musl.checks.cardano-wallet.integration

### Test case name(s)

SHELLEY_CREATE_MIGRATION_PLAN_06

### Error message

[code]

### Build link

https://hydra.iohk.io/build/18

[2022-09-13 13:11] gunar6 commented on #2864
Hi,
I'm getting the following error while running `NETWORK=testnet docker-compose up`
`ERROR: Named volume "node-testnet-db:/data:rw" is used in service "cardano-node" but no declaration was found in the volumes section.`

Also when I run `NETWORK=testnet docker compose up`
I'm getting this `service "cardano-wallet" refers to undefined volume wallet-testnet-db: invalid compose project`

It seems t

[2022-09-13 13:58] piotr-iohk commented on #2864
Testnet is legacy environment which will be decommissioned soon therefore we've removed configuration for that environment alltogether. Instead there are two new test environments: [preview](https://book.world.dev.cardano.org/environments.html#preview-testnet) and [preprod](https://book.world.dev.cardano.org/environments.html#pre-production-testnet). You should be able to access both:
[code]
or
[c

[2022-09-15 11:11] stefiix92 commented on #3465
sorry to bother you guys, but I ran into similar issue and I use `--preprod /configs/preprod-byron-genesis.json` command in `inputoutput/cardano-wallet:2022.8.16` docker image, but the log says: "Invalid option `--preprod'"

[2022-09-15 11:35] piotr-iohk commented on #3465
I believe what you want to use is `--testnet /configs/preprod-byron-genesis.json`.

[2022-09-19 10:56] #3376 closed, assigned to Unisay

[2022-10-05 10:16] jmchapman opened #3527 "link wallet spec from readme"
### The problem that you wish to solve

The wallet spec contains useful information but is hard to find.

### Description

Linking it from the readme for the project would aid discovery.

### Implementation suggestions

put a link in the readme in the documentation section

[2022-10-15 22:05] Nighty13 opened #3537 "Wallet sign in for games"
### The problem that you wish to solve

Hello ,
currently im trying to push cardano integration for games as much as possible & see how far i can go .
so the idea is the player download Daedalus , launch the game & he will be able to see & connect to his Wallets ( locally game will connect to cardano-wallet & use same Daedalus DB)... all cool to this point , you can sign transactions & do a lot of

[2022-10-17 09:15] teddyjfpender commented on #3537
Hi @Nighty13 - thanks for this!

I agree, this would a message signing feature is something we should support in cardano-wallet. Do you also require a means of verifying a signed message in the wallet? 😄

[2022-10-17 10:42] Nighty13 commented on #3537
Indeed both sign and verify ,  currently i looked into libraries built on top of cardano-wallet ( like cardano-wallet-js and others ) they do handle the message signing themselves everytime .. . having such a feature built into cardano-wallet will be a life saver.

[2022-10-18 22:52] benapetr opened #3541 "Cardano Wallet unable to prioritise the selection of larger UTxOs when transaction space is limited."
### Just checking...

- [X] This is a `cardano-wallet` bug.
- [X] I am using the latest `cardano-wallet` release.
- [X] I am using the *correct* `cardano-node` version for that release of `cardano-wallet`.

### Version

v2022-10-06 (git revision: 2130fe0acf19fa218cef8de4ef325ae9078e356e)

### Platform

Linux cardano-relay-test 4.19.0-14-amd64 #1 SMP Debian 4.19.171-2 (2021-01-30) x86_64 GNU/Linux

[2022-10-19 06:53] jonathanknowles commented on #3541
Hi @benapetr

Many thanks for your bug report. Selecting an excessive number of small UTxOs is indeed a problem that would occur if your wallet's average UTxO size is much smaller than the payment you wish to make.

Could you try the workaround below and let me know if it works for you?

## Suggested Workaround

First create one or more "re-balancing" transactions that adjust your wallet's UTxO di

[2022-10-19 12:28] benapetr commented on #3541
Hi @jonathanknowles thanks for the reply I will try this, but I don't think it will work, I will give you some more context so that you understand my current situation (the example I gave you is from preview network, but on mainnet the situation is much worse).

We are running a service called "vending machine" - it's a token distribution platform, where cardano-wallet helps us manage the UTXOs so

[2022-10-28 15:52] HeinrichApfelmus opened #3560 "Polish and publish `dbvar` on Hackage"
### The problem that you wish to solve

Polish and publish the [dbvar][] library on Hackage, perhaps under a different name such as `delta-encodings`.

### Description

The following modules are an appropriate scope for publication:

* `Data.Delta`
* `Data.DBVar`
* `Data.Chain` — not entirely sure, may need cleanup.

while the other modules relating to tables and databases are probably better left

[2022-11-02 21:48] Nighty13 commented on #3537
Hello , i wanted to share with you some work in progress for the unreal engine plugin im building around cardano-wallet api :
https://www.youtube.com/watch?v=CiY5r_Foeoo

[2022-11-03 13:23] ThatGuyLLC opened #3569 "Repo Preparation for MBO"
### The problem that you wish to solve

This repo has been marked as core tech and is part of initiative of repo preparation, part of this includes adding needed missing documentation.

### Description

This repo in particular needs:
Include the Standard Code of Conduct
Identify the Core Maintainers

### Implementation suggestions

This repo in particular needs:
Include the Standard Code of Conduc

[2022-11-11 18:35] iiinnniii opened #3581 "Spend specific UTXO(s)"
### Related Jira Issue

https://cardanofoundation.atlassian.net/browse/ADP-3269

### The problem that you wish to solve

Currently it is not possible to spend specific UTXOs.

### Description

With Cardano we have an UTXO based ledger and a rewards address.

I'd like to spend specific UTXOs in particular the ones of the staking rewards and it seems that this is not possible with Daedalus.

With El

[2022-11-15 17:32] mhassan102 opened #3586 "testnet Support with cardano-wallet"
### The problem that you wish to solve

Can we have documentation for executing cardano-wallet on `testnet` network ?

### Description

`testnet` config seems to missing in cardano-wallet latest version.

I tried following execute following docker-compose:
[code]
and face this error:
[code]

Inside container I didn't find `testnet` config
[code]

volumes for `testnet` also missing in docker-compos

[2022-11-15 17:51] mgajda commented on #3586
It is much safer to test transaction submission on testnet, rather than playing with real Adas.
#migamake

[2022-11-16 09:00] piotr-iohk commented on #3586
Yes, you can use `cardano-wallet` on preprod and preview testnets.
[code]
(:warning: `preview` testnet has been forked to cardano-node 1.35.4 with which current cardano-wallet is not yet compatible, but preprod should work fine)

See also:
 - https://book.world.dev.cardano.org/environments.html
 - https://docs.cardano.org/cardano-testnet/tools/faucet

[2022-11-16 09:02] piotr-iohk commented on #3586
Note: Configs for old `testnet` have been intentionally removed as it is a legacy network which I believe doesn't work anyway on any node version >= 1.35.3.

[2022-11-16 19:33] HeinrichApfelmus commented on #3581
Thanks for the suggestion!

However, I'd like to ask for clarification: When making a transaction, the wallet typically selects additional UTXOs to cover the desired outputs and also creates additionally change outputs that move excess funds back to the wallet.

When you say "spend specific UTXOs" — do you mean "spend *exactly* these specific UTXOs", or "a *subset* of these" or "a *superset* of th

[2022-11-20 21:08] iiinnniii commented on #3581
I mean spend exactly those UTXOs that you selected like it works in Electrum. Not a subset and not a superset, exactly those. And you can only spend what's at max available at the selected UTXOs minus fees of course.

Lets say you have three UTXOs

A. 1000 ADA
B. 1500 ADA
C. 2000 ADA

And you want to send lets say 1750 to somebody then you should have the choice which outputs you want to spend. Yo

[2022-11-23 13:00] Anviking commented on #3541
Update: The [minimal selection strategy](https://github.com/input-output-hk/cardano-wallet/blob/999e7e15c9cf04133b6ae8593e1dcaca1d1c31d2/lib/coin-selection/lib/Cardano/Wallet/CoinSelection/Internal/Balance.hs#L293-L328) (fallback to selecting only 1x the output amount rather than 2x) should now have made its way to the [constructTransaction](https://input-output-hk.github.io/cardano-wallet/api/edg

[2022-11-23 20:47] mgajda commented on #3586
Thanks a lot!

Since we want maximum stability of our tests, and `preprod` is long running network, we will use `preprod` for our wallet tests.

[2022-11-24 16:46] mhassan102 commented on #3586
Thanks for the support

[2022-11-24 16:46] #3586 closed, assigned to nobody

[2022-11-25 12:54] mgajda opened #3604 "Transaction chaining after another transaction or after certain block hash"
### The problem that you wish to solve

If we have just received the block or transaction with a specific hash, and we want to make another transaction _only if the previous has been confirmed_.

### Description

We would like to create or submit transaction after a fixed _block number_ **and** _hash_, or after a fixed _transaction id_ and _block number_.

In case of transactions, this is called _