[2020-05-11 13:20] KtorZ commented on #1650
Indeed :no_mouth: When I originally looked at the graph I thought "hey, so we are actually reaching 100% quite fast, but... not quite.

[2020-05-11 13:25] KtorZ opened #1651 "Allow importing random address by address"
# Context

As an Exchange currently integrated with cardano-sl,
I want to import generated addresses (via random derivation) into cardano-wallet,
so that I can migrate my installation and do not fear re-generating already generated addresses.

# Decision

Add a new endpoint for importing already generated random addresses inside the wallet.

# Acceptance Criteria

- A new endpoint `PUT /byron-wall

[2020-05-11 17:17] piotr-iohk commented on #1651
LGTM.

[2020-05-11 17:25] #1651 closed, assigned to KtorZ

[2020-05-12 09:23] piotr-iohk commented on #1644
I think it is still an issue. The NB failed for the same reason -> https://buildkite.com/input-output-hk/cardano-wallet/builds/7450#ff424d99-21b8-4fdb-a2dd-7ffdbab779c6.

Also, I think I managed to observe it locally using latest cardano-wallet version (`2020.5.6 (git revision: ce8d18d4b8eabd4ee8635f6ef0ced60ac79f0037)`.

I have reproduced it using our docker-compose and mainnet:
[code]
 - Create

[2020-05-13 02:17] rvl commented on #1577
Thanks @piotr-iohk

I do not think it's related. The two causes are port conflicts and `jormungandr` changes. There was one migration test failure because I removed some table columns, but they started passing again once I put the columns back.

I decided that a parameter change integration test will be slow and flaky.

Something I could possibly do for the integration tests is set the initial TxP

[2020-05-13 07:50] Anviking opened #1657 "Add basic cardano-wallet-shelley package"
# Context

ADP-289

# Decision

Do the initial scaffolding to integrate with a Shelley node.

# Acceptance Criteria

Straight from the U/S:

- [x] There should be a `cardano-wallet-shelley` new package target which instantiates the wallet core engine and API for Shelley wallets with a working networking layer.
- [x] The integration tests must be setup to work with a Shelley cardano-node.
- [x] Int

[2020-05-13 08:02] piotr-iohk commented on #1577
ok, closing. :+1:

[2020-05-13 08:02] #1577 closed, assigned to rvl

[2020-05-13 08:55] paweljakubas opened #1658 "(ADP-257) Change ByronMigration endpoints"
# Context

As an API Client,
I want to be able to empty a wallet and send all funds to a list of addresses,
So that I can easily move funds around and have the wallet dealing with fees for me.

# Decision

We first add new migration endpoint that enables to transfer a given wallet to the addresses specified. The following cases are to be supported :
(a) byron wallet -> shelley addresses
(b) byron

[2020-05-13 10:57] piotr-iohk commented on #1603
LGTM.

[2020-05-13 10:57] #1603 closed, assigned to Anviking

[2020-05-13 12:31] Anviking commented on #1644
I think I managed to more consistently reproduce by running `stress --cpu 13 --timeout 600` at the same time.

[code]

[2020-05-13 13:03] Anviking commented on #1644
With #1659
[code]

[2020-05-14 07:04] KtorZ commented on #1644
I think this is now fixed by #1659 , good catch.

[2020-05-14 08:42] piotr-iohk commented on #1644
OK! Integration tests passing, not able to reproduce manually now.

[2020-05-14 08:42] #1644 closed, assigned to KtorZ

[2020-05-15 08:08] piotr-iohk opened #1666 "Cardano.Wallet.Byron.Network.getTxParameters unit test fails on Windows"
# Context

https://github.com/input-output-hk/cardano-wallet/runs/676421111?check_suite_focus=true

# Test Case

# Failure / Counter-example

[code]

---

# Resolution

---

# QA

[2020-05-15 08:17] piotr-iohk commented on #1657
@Anviking

I see a lot of these in wallet log:
[code]
It looks like wallet fails to fetch blocks?
I see the node is moving up, the node log says from time to time:
[code]

But the wallet doesn't seem to keep up and wallets become unsynced.
Also node tip from /network/information is not moving up.

**To reproduce:**

1. start cardano-node:
[code]

2. start wallet:
[code]

3. Observe that wallet get

[2020-05-15 08:20] piotr-iohk commented on #1649
Closing #1662 should improve stability.

[2020-05-15 12:14] KtorZ commented on #1641
This is now tracked in a separate (non public) ticket system as part of our backlog :+1:

[2020-05-15 12:14] #1641 closed, assigned to nobody

[2020-05-15 12:42] KtorZ commented on #1571
So, after investigation this scenario doesn't look plausible. Here's why:

1. When the restoration loops start, the wallet initialize a cursor using a list of checkpoints.

[code]

2. For initializing the cursor, the list of headers is sent to the node via a `FindIntersect` message and the cursor is initialized **at the intersection point**:

[code]

3. Then, we _know_ from the protocol specificat

[2020-05-15 13:09] #1650 closed, assigned to KtorZ

[2020-05-18 06:12] KtorZ opened #1670 "Different behavior regarding resolved inputs when listing transactions with and without query parameters"
# Context

Reported by an exchange on Slack.

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | Unknown  |
| Platform     | Unknown           |
| Installation | Unknown             |

# Steps to Reproduce

see #1685

## Expected behavior

Responses are coherent with and without `start`

[2020-05-18 06:26] KtorZ commented on #1670
Going quickly through the code, one of the reason might be:

[code]

So, we the history returned is used both as the result, but also as an index for resolving transaction inputs. Therefore, if a transaction input refers to a known transaction that is discarded by the range parameters, then it won't be present in the return history and will fail the lookup.

Making `assemble` fetch transactions fr

[2020-05-18 06:29] psychoplasma commented on #1670
Here is an example case from my test wallet

`cardano-wallet transaction list <wallet_id> --order ascending --start 2020-05-14T05:53:31Z`

[code]

As you can see the first transaction(`e5af89b9cdd7d35c47e177a995360edfabb1f923561e3190e8c08a85ec1822a9`) is missing the input values and addresses.

If I fetch the transactions without `--start` parameter here is the corresponding part,

[code]

[2020-05-18 07:41] piotr-iohk commented on #1657
@Anviking
After #1668 I see that wallets (byron and shelley) do keep up with the chain :tada:. However there is still problem with `GET network/information`, i.e. the node tip is not moving and it reports as being unsynced after a while...

[2020-05-18 10:55] Anviking opened #1672 "(ADP-319) Add transaction support to cardano-wallet-shelley"
# Context

ADP-319

# Decision

Make sure `cardano-wallet-shelley` supports making transactions by implementing `TransactionLayer` and using the cardano-address-Shelley-implementation.

# Acceptance Criteria

The following existing integration test scenarios should be passing:
- Wallets
- <s>ByronWallets</s>
- Transactions
- <s>ByronTransactions</s>

---

# Development

- #1673 We added transactio

[2020-05-18 13:10] Anviking commented on #1658
What is the reason to not also support "Shelley wallet -> Shelley addresses"?

[2020-05-18 13:18] paweljakubas commented on #1658
Because in this task I am after refactoring ByronMigration. In the next task I will add address shelley -> shelley in a sense that the endpoints will be added to shelley transactions endpoint family

[2020-05-18 14:49] piotr-iohk commented on #1670
Indeed I can reproduce:

I have 3 outgoing txs on my wallet:
id1 -> inserted at: 2020-05-18T**14:15:36Z**
id2 -> inserted at: 2020-05-18T**14:26:56Z**
id3 -> inserted at: 2020-05-18T**14:31:56Z**

TC0: Listing all transactions. => The amount is shown for every input for each tx.

[code]

TC1: List txs with _--start 2020-05-18T**14:15:36Z**_ ( start before tx id1) => Amount for tx id1 is missing.

[2020-05-18 15:45] piotr-iohk commented on #1649
It seems the same/similar issue occured again despite changing port to non-default `9090`...
https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/516#39f40217-30d4-47c9-b7da-71a3761998bb

[code]

[2020-05-19 05:54] rvl commented on #1649
@piotr-iohk The port 8090 conflict was still a problem, so changing the port would have fixed that. This other error is due to #1647 I think.

[2020-05-19 08:09] piotr-iohk commented on #1650
After #1665 :tada:

![Screenshot from 2020-05-19 10-08-13](https://user-images.githubusercontent.com/42900201/82301590-bf419580-99b8-11ea-88e5-54dd6e728561.png)

[2020-05-19 09:42] Anviking opened #1674 "(ADP-319) Add golden test vectors for Shelley Transactions"
# Context

ADP-319

We want to add Shelley transaction support.

There is a `cardano-cli` which should now support creating txs.

3rd part folks also want test vectors.

# Decision

- Add a `yaml` file with transaction test vectors

# Acceptance Criteria

- There must exist a `yaml` file with transaction test vectors
- The wallet must pass these tests

---

# Development

# QA

[2020-05-20 06:47] rvl commented on #1670
Similar issue, but for incoming transactions: #573.

[2020-05-20 10:41] #1666 closed, assigned to rvl

[2020-05-20 11:46] paweljakubas opened #1675 "(ADP-257) Add Shelley migration endpoints and Byron (haskell impl) support of migrateWallet"
# Context

As an API Client,
I want to be able to empty a wallet and send all funds to a list of addresses,
So that I can easily move funds around and have the wallet dealing with fees for me.

# Decision

We are adding migration endpoints as done in https://github.com/input-output-hk/cardano-wallet/issues/1658 in Shelley

# Acceptance Criteria

1. Shelley has migration sendAll endpoints and cost

[2020-05-20 13:17] KtorZ commented on #1675
When reviewing #1658 I noticed that the current migration endpoints are actually associated with a `/migrations` namespace / resource. So, perhaps it makes sense to keep the separation between transactions / migrations in our API types as well? @paweljakubas

[2020-05-21 10:10] piotr-iohk commented on #1647
If I am not mistaken the issue is that currently during Jormungandr bootstrap when you ask it for a network tip the response is `500`.

Start Jorm:
[code]
Check status:
[code]
While it is boostrapping, try to get the tip:
[code]

And I suppose this is what is happening, we are asking for tip while Jormungandr is still bootsrapping and it returns 500 then.

Probably here -> https://github.com/input

[2020-05-21 11:31] rvl commented on #1647
Doh ... it keeps changing. The endpoint used to return HTTP status 503 during bootstrap. But before that I think it did return 500 - however now we consider 500 to be a fatal error.
I don't think it's right to check the `/api/v0/node/stats` endpoint. The thing we need to succeed is `/api/v0/tip`. And there shouldn't be a reason why this endpoint can't work during bootstrap.

[2020-05-21 13:32] piotr-iohk commented on #1647
`/api/v0/node/stats` is a bit misleading name I guess... But it actually shows the `state` of Jorm and, as far as I see, currently on  `state:"Boostrappting"` pretty much all other endpoints return 500 (except for `/api/v0/node/stats`)... so, currently it seems to be the only valid endpoint to query for the state.

Well, the alternative is to raise error in Jormungandr and desrcibe what would we e

[2020-05-21 15:04] piotr-iohk commented on #1658
Doing some exploratory testing and encountered this case on jormungandr. When trying to migrate to an address `DdzFFzCqrhtCNjPk5Lei7E1FxnoqMoAYtJ8VjAWbFmDb614nNBWBwv3kt6QHJa59cGezzf6piMWsbK7sWRB5sv325QqWdRuusMqqLdMt` I am getting `500`.

To reproduce:
1. Launch Jorm:
[code]
:point_down:

2. Create byron wallet with funds:
[code]

3. Try to migrate to address: `DdzFFzCqrhtCNjPk5Lei7E1FxnoqMoAYtJ8Vj

[2020-05-22 10:46] #1647 closed, assigned to rvl

[2020-05-22 10:46] #1649 closed, assigned to rvl

[2020-05-22 13:33] piotr-iohk commented on #1658
Added scenario to illustrate :point_up_2:  in https://github.com/input-output-hk/cardano-wallet/pull/1682.

[2020-05-22 15:32] piotr-iohk commented on #1658
Closing, there is still https://github.com/input-output-hk/cardano-wallet/issues/1675 in progress.

[2020-05-22 15:32] #1658 closed, assigned to paweljakubas

[2020-05-22 15:43] piotr-iohk commented on #1657
OK, closing. Wallet seems to work fine on f&f now.

[2020-05-22 15:43] #1657 closed, assigned to Anviking

[2020-05-26 14:59] piotr-iohk commented on #1675
I have updated swagger spec -> #1687.
It would be nice to also address this -> #1682.

[2020-05-27 03:04] jonathanknowles opened #1690 "Remove `epochId` argument from `getNetworkParameters`."
# Context

The presence of the `epochId` path parameter in the `/network/parameters/<epochId>` endpoint might give callers the _impression_ that calling `GET` on the endpoint will retrieve parameters corresponding to a particular epoch.

In reality, however, this endpoint only ever returns parameters corresponding to the _latest_ epoch, _regardless_ of which epoch is specified.

# Decision

Remove

[2020-05-27 03:21] jonathanknowles opened #1692 "Add skeletal `decentralizationLevel` field to `ApiNetworkParameters`."
# Context

We need to provide a way for API users to query the current level of decentralization in the Cardano network, represented by the `d` network parameter.

# Decision

Add a field `decentralizationLevel` (of type `Quantity "percent" Percentage`) to the `ApiNetworkParameters` record type, and make corresponding adjustments to the swagger API definition.

For _this_ task, we will arrange tha

[2020-05-27 03:26] jonathanknowles opened #1693 "Report live value of `d` parameter in `decentralizationLevel`."
# Context

Task #1692 will have added a skeletal `decentralizationLevel` parameter to the `ApiNetworkParameters` object.

# Decision

Adjust the code so that this parameter reflects the true value of the `d` parameter, as reported by the network.

# Acceptance Criteria

- The `GetNetworkParameters` API endpoint **must** return a decentralization level percentage that reflects the true value of the

[2020-05-27 09:33] piotr-iohk commented on #1648
@rvl two questions:

1. Currently the "fee" response is as follows:
[code]
The acceptance criteria mentions also `9th centile`, was that not included intentionally, or maybe `9th centile` became `estimated_min`? (I suppose it was but wanted to make sure).

2. The change influences:
`POST /byron-wallets/{walletId}/payment-fees`
`POST /wallets/{walletId}/payment-fees`
`GET /wallets/{walletId}/delega

[2020-05-27 14:24] piotr-iohk commented on #1670
Looking at my previous example https://github.com/input-output-hk/cardano-wallet/issues/1670#issuecomment-630233182 the original issue is no longer the case. I.e. the amount is being shown when one uses `start` to narrow listed transactions.

I noticed however that there is some discrepancy on transaction input amounts before and after the fix. I mean transactions on the wallet that is restored on

[2020-05-27 14:40] piotr-iohk commented on #1675
I'll leave it in QA for now because Shelley migrations are not quite testable currently without transactions.

[2020-05-27 14:43] piotr-iohk commented on #1648
Ok, question 2 sorted -> https://github.com/input-output-hk/daedalus/pull/2021. :)

[2020-05-28 04:32] rvl commented on #1690
Just noting here that the only parameter in the current ApiNetworkParameters that will ever update in shelley is activeSlotCoeff. The rest come from the genesis block.

[2020-05-28 04:47] jonathanknowles commented on #1693
@rvl wrote:

[2020-05-28 04:51] rvl commented on #1648
1. Yes - 9th centile becomes `estimated_min` and 10th centile becomes `estimated_max`.
2. Thanks @piotr-iohk  - I just mentioned `POST /wallets/{walletId}/payment-fees` and the `swagger.yaml` diff, but we can put all in the release notes as well.

[2020-05-28 05:03] jonathanknowles commented on #1690
@rvl wrote:

That's a great point. Perhaps we could break this type up into two separate types: one for static parameters, and another for parameters that can be updated.

I've started a discussion thread about this here: https://input-output-rnd.slack.com/archives/GBT05825V/p1590642003077400

[2020-05-28 08:31] piotr-iohk commented on #1648
lgtm.

[2020-05-28 08:31] #1648 closed, assigned to rvl

[2020-05-28 12:57] piotr-iohk commented on #1690
lgtm.

[2020-05-28 12:57] #1690 closed, assigned to jonathanknowles

[2020-05-28 19:28] piotr-iohk commented on #1692
lgtm.

[2020-05-28 19:28] #1692 closed, assigned to jonathanknowles

[2020-05-29 07:10] KtorZ commented on #1670
@piotr-iohk , should be fixed by #1697 now :ok_hand:

[2020-05-29 08:09] piotr-iohk commented on #1670
lgtm.

[2020-05-29 08:09] #1670 closed, assigned to KtorZ

[2020-05-30 11:05] #1571 closed, assigned to KtorZ

[2020-06-01 11:47] piotr-iohk commented on #1675
I encounter a `500` response when running migrations from **Byron** wallet on F&F testnet (for Shelley wallets migrations seem to work fine).

Steps to reproduce:
1. Run migration on Byron wallet having funds and as a result you'll have `500` response:

[code]

In the wallet.log there is:
[code]

Byron wallet on F&F testnet with funds to reproduce ->
[code]

[2020-06-01 12:08] nikolaglumac opened #1701 "Wallet "passphrase" info gets lost after updating cardano-wallet"
# Context

We are currently working on a next Daedalus ITN release ([2.4.0-ITN1](https://buildkite.com/input-output-hk/daedalus/builds/12987)) which uses cardano-wallet `031835950a38384b289f3adc43c671a00ef9000b` revision.
We've found an issue that is currently blocking us from proceeding with our release.
Given that you had a wallet created in the current production Daedalus ITN version ([2.3.1-IT

[2020-06-02 08:45] ntfreem opened #1705 "Import address API /{walletId}/addresses/{addressId} returns an error"
Using this release:
 $ ./cardano-wallet-byron version
 2020.5.6 (git revision: cf3d9c91e895d1a01f90e4ab3d10b81e260b3510)

Here is the example (random Byron wallet):
 $ curl -X PUT http://localhost:8090/v2/byron-wallets/eb8dcd2ab76316a9d1396265c4a5d962992bf3b8/addresses/37btjrVyb4KERafEBA9ueNVE1nuuP5bLvf81LPf4DEnivffZU4qKKQTR5EujejBW4ifzRsUdUhxciLsK97tf3kfxEx3PsVCZgb8ebebhqQMPETR6gJ

Output:
{"code

[2020-06-02 09:06] KtorZ commented on #1705
This endpoint is only available since: c99ec255d736731da0c2efe917a7acb623a54963

So far, this hasn't been released.

[2020-06-02 09:41] piotr-iohk opened #1707 "BYRON_MIGRATE_05 - failing on Jormungandr"
# Context

# Test Case

https://buildkite.com/input-output-hk/cardano-wallet/builds/7820#af35c97c-e5fa-47ed-b31f-a1970e11acc9

# Failure / Counter-example

[code]

---

# Resolution

---

# QA

[2020-06-02 10:32] ntfreem commented on #1705
Thank you @KtorZ any idea when this will be released?

[2020-06-02 10:48] piotr-iohk opened #1708 "Cardano-wallet-shelley workers crash"
# Context
| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | cardano-wallet: 2020.5.6 (git revision: 3fb783f5545862fbd5cd7c55c8251167e37d1377), cardano-node: 1.12 044e82d68a5e5d05258c93eda6c00d8541e4d977   |
| Platform     | Linux         |
| Installation | From source            |

###

[2020-06-02 12:20] paweljakubas opened #1709 "Implement join/quitStakePool and delegation fee in Shelley"
# Context

ADP-157

We would like to have an ability to join, and quit stake pool and check delegation fee in cardano-wallet-shelley.

# Decision

We will use `deriveRewardAccount` to get sks and then vsk (public key of sks) and treat it as stake key registration certificate. Then we will try to reuse mkUnsignedTx to make certificate registration and joining pool. We will not expose registrate/der

[2020-06-02 12:24] KtorZ commented on #1705
_today_

[2020-06-02 14:44] piotr-iohk commented on #1675
Shelley migrations are also lacking any integration tests at this moment.

[2020-06-02 20:50] ntfreem opened #1713 "Performance issues /v2/byron-wallets/{walletId}/addresses API"
Account functionality has been removed in cardano-wallet, as a result when we return a list of addresses from the cardano-wallet, we see performance issues.

Previously we use the following API from cardano-sl to return only a list of addresses in a specific account:

https://docs.cardano.org/technical/wallet/api/v1/#tag/Accounts%2Fpaths%2F~1api~1v1~1wallets~1%7BwalletId%7D~1accounts~1%7BaccountId

[2020-06-03 06:29] piotr-iohk commented on #1701
If I'm not mistaken this is the manifestation of the issue -> https://github.com/input-output-hk/cardano-wallet/issues/1552 (Migration issue on Jormungandr (v2020-03-16 => v2020-04-01 | 07)).

Daedalus ITN version: **2.3.1-ITN1** actually uses cardano-wallet _v2020-03-16._

[2020-06-03 07:00] piotr-iohk commented on #1701
I see that there is a problem when doing migration v2020-03-16 -> current master (2020.6.2 (git revision: b3cfd5fd523a332bfcb1ac9e63a97bb25bc41dad)):

1. Start v2020-03-16 on Jormungandr.
[code]
2. Create a wallet.
3. Start current version.
On starting we have:
[code]

And trying to list wallet give 500:
[code]

[2020-06-03 07:07] piotr-iohk commented on #1701
I didn't see a problem when doing this migration path:

v2020-03-16 -> (master before the fix https://github.com/input-output-hk/cardano-wallet/pull/1704) -> (master after the fix https://github.com/input-output-hk/cardano-wallet/pull/1704)

but

v2020-03-16 -> (master after the fix https://github.com/input-output-hk/cardano-wallet/pull/1704)

is problematic... (as described above)

cc: @KtorZ.

[2020-06-03 12:24] Anviking opened #1718 "List id and stake of pools"
# Context
We want to implement this endpoint for (the cardano-node-) Shelley.
https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/listStakePools

There is a `LocalStateQuery` command to [`GetStakeDistribution`](https://github.com/input-output-hk/ouroboros-network/blob/e24f14f837d3ea4ee1942121ecdb4a4169a8df99/ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger

[2020-06-03 12:40] Anviking opened #1719 "Margin, cost & pledge for pools"
# Context

We want to implement this endpoint for (the cardano-node-) Shelley.
https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/listStakePools

Pool margin and cost cannot be retrieved through the node's local state query.

# Decision

It seems we have to traverse the chain for pool registration certificates, to get this data?

# Acceptance Criteria

- Stake pool `margin` must

[2020-06-03 12:50] Anviking opened #1720 "Order stake pools by non-myopic member rewards"
# Context

We want to implement this endpoint for (the cardano-node-) Shelley.
https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/listStakePools

To help users chose between pools, the endpoint, which was added during the ITN, used to provide:
- `apparent_performance`
- `desirability`
- (and `saturation`)

According to the delegation design spec pools should be sorted by non-myop

[2020-06-03 13:29] KtorZ commented on #1720
@Anviking double-check this with Alex + Darko. I don't think this is desirable. So we probably need to push this upstream if these values aren't yet available from the local state query protocol. The saturation we can likely compute from knowing the total stake delegated to the pool. Others, it'd be preferable to get from the local state query (I don't have the formula in mind but can't we also co

[2020-06-03 14:47] piotr-iohk commented on #1552
fixed with #1717.

[2020-06-03 14:47] #1552 closed, assigned to KtorZ

[2020-06-03 14:48] piotr-iohk commented on #1701
fixed with #1717.

[2020-06-03 14:48] #1701 closed, assigned to KtorZ

[2020-06-03 16:15] #1672 closed, assigned to Anviking

[2020-06-05 08:25] jonathanknowles opened #1727 "Remove redundant `tx_parameters` table."
# Context

Issue https://github.com/input-output-hk/cardano-wallet/issues/1693 will introduce a new database table `protocol_parameters`. This table will include all columns included in the pre-existing `tx_parameters` table, and add a new `decentralization_level` column.

The pre-existing `tx_parameters` table will become redundant.

# Decision

Create a startup task to remove the `tx_parameters`

[2020-06-07 18:03] got3nks opened #1730 "Recovering a Cardano-SL wallet"
We had originally created a wallet in Cardano-SL using a 24 words seed.

[code]

When trying to restore the wallet in the new cardano-wallet using:

[code]

This is the error:
**{"code":"bad_request","message":"Error in $['mnemonic_sentence']: Invalid number of words: 12 words are expected."}**

Trying with the first 12 words only:
**{"code":"bad_request","message":"Error in $['mnemonic_sentence']

[2020-06-08 20:08] Anviking commented on #1567
A similar-looking occurrence on the ITN without force-resync: https://input-output-rnd.slack.com/archives/CDM8B0AN9/p1591216845381400

[2020-06-09 07:29] piotr-iohk commented on #1707
Fixed in #1711.

[2020-06-09 07:29] #1707 closed, assigned to piotr-iohk

[2020-06-09 08:22] KtorZ commented on #1730
The API currently enforces 12-word indeed, although there's no technical limitation to this. It is more of a convention on Byron / Daedalus wallets. Yet indeed, the V1 API didn't have any limitation in place regarding the length of recovery phrases; We could relax this a bit.

[2020-06-09 10:32] piotr-iohk opened #1733 "cardano-wallet-shelley address CLI has import and create commands which are not supported for shelley wallets"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | `2020.6.5 (git revision: e37a43303fdbc7d1e7df4de07a1d0b498c1cfbc2)` |
| Platform     | Linux, all          |
| Installation | GH release / source           |

# Steps to Reproduce
[code]

## Expected behavior

cardano-wallet-s

[2020-06-09 16:30] got3nks commented on #1730
If we are not able to restore our wallet the only option is to create a new one and move all the funds. But deposit addresses given to customers will cease to work, which is not ideal.

After the hard fork, will we be able to use the old Cardano-SL wallet to move funds to the new wallet generated with Cardano-wallet?

[2020-06-10 09:58] yupasik commented on #1713
Most requests do not pass at all
`>>> r = requests.get('{url}/v2/byron-wallets/{wallet_id}/addresses'.format(url=wallet_url, wallet_id=wallet_id))
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/lib/python2.7/dist-packages/requests/api.py", line 67, in get
    return request('get', url, params=params, **kwargs)
  File "/usr/lib/python2.7/dist-packages/requests

[2020-06-10 12:11] KtorZ commented on #1713
As a first mitigation, what about increasing the default timeout on your http client ?

[2020-06-10 14:52] KtorZ commented on #1730
No.

[2020-06-10 14:53] KtorZ commented on #1730
@got3nks we've added the item to our backlog. So expect the cardano-wallet v2 API to accept mnemonics from 9 to 24 words in a near future. We have a few items to go through regarding Shelley first, but we'll try to get this done in-between some other tasks as this is pretty straightforward.

[2020-06-10 16:01] got3nks commented on #1730
I hope it will be possible before the hard fork, so we can gracefully switch to the new version.
Also I seem to get error **Found an unknown word not present in the pre-defined dictionary. The full dictionary is available here**, can this check be disabled and use any word? Because I guess we would have the same issue and be unable to restore our wallet.

[2020-06-10 16:58] KtorZ commented on #1730
Definitely yes.

Nope. The mnemonic sentence are encoding bytes by group of 11 bits, where each group correspond to an index which maps to a specific word in a 1024-word dictionary. So words in a mnemonic sentence are _well-known_.

[2020-06-10 21:46] johnalotoski opened #1740 "Tx fee estimation is off when tx amount approaches wallet's balance"
# Context

1) When calculating a transaction fee, if the amount to pay is set to the same value as the wallet holds (in a single address in this test case) or close to it, the TX fee is about as large as the wallets value.  This likely has no functional impact as it looks like these TXs should fail anyway due to insufficient fee ADA.  But in case it impacts something somewhere else, just FYI.

2)

[2020-06-11 08:54] ricksumi commented on #1713
same problem.

the api may be need paginate for working.

[2020-06-11 14:19] johnalotoski opened #1743 "Required wallet DB fields do not get persistently added"
# Context

After creating a wallet using the `cardano-wallet-shelley create from-mnemonic $NAME` command, each restart of cardano-wallet server shows the following messages in the logs:

[code]

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | 2020.6.5 (git revision: 5290acf) |
| Platf

[2020-06-11 14:50] piotr-iohk commented on #1740
Indeed, I am able to reproduce it for both: shelley and byron wallet. The boundary value (on Shelley testnet) seems to be `165281` lovelace.

I.e.
Where value is the amount for which you want to estimate fee:
If (value <= wallet_balance - 165281) then :+1:
if (value > wallet_balance - 165281) then :-1:

**For instance:**
wallet balance = 5 000 000

1. Estimate fee for 5000000−165281 = 4834719

[2020-06-11 21:43] Fell-x27 opened #1745 "Old Byron addresses support is broken"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | Master branch  |
| Platform     | Linux        |
| Installation | From source   |

# Steps to Reproduce

1. Use the /v2/byron-wallets/{walletId}/payment-fees with any valid old-style address like DdzFFzCqrhseTBUHRGNjAv57khfvYy

[2020-06-12 06:36] KtorZ commented on #1745
[code]

This seems indeed like a legit Byron mainnet address. May I ask what command did you use to spin up a wallet server?

[2020-06-12 10:14] Fell-x27 commented on #1745
1) Run Cardano-node in the mainnet mode.
2) do a

`./cardano-wallet-byron serve --listen-address 127.0.0.1 --port 8090 --node-socket path/to/socket/byron-mainnet-socket --database ./wallets --sync-tolerance 300s --testnet genesis.json`

And then just try to estimate fees with the byron endpoint. When I try to do this for a fresh-generated address, everything works fine. For example address like:

[2020-06-12 10:20] piotr-iohk commented on #1745
I cannot reproduce it on Byron mainnet using most recent wallet `2020.6.5 (git revision: 3bafec15d862c81c052c4cf450fa7e6cf29d0f76)`.

Are you getting this on Byron mainnet, byron testnet or shelley testnet maybe? (If the latest, then byron addresses are not really supported there yet).

[2020-06-12 10:22] Fell-x27 commented on #1745
Byron mainnet.

[2020-06-12 10:23] Fell-x27 commented on #1745
ok, I'll try to rebuild my wallet in case there were some changes in the last commits.

[2020-06-12 10:24] piotr-iohk commented on #1745
@Fell-x27 just read your comment. I think you need to drop `--testnet genesis.json` in favour of `--mainnet`, e.g.:

[code]

[2020-06-12 10:49] Fell-x27 commented on #1745
Make sense, I just didnt see "mainnet" parameter in the docs. It was strange, but doc is the doc. Will try.

[2020-06-12 11:01] Fell-x27 commented on #1745
Well, I've rebuilt the wallet and used the "mainnet" flag and..it works. Estimation is working as well now. Thanks!

[2020-06-12 11:01] #1745 closed, assigned to nobody

[2020-06-12 11:41] piotr-iohk commented on #1745
It is mentioned in the cmd "usage":
[code]
However not explained in the cmdline help "available options", indeed.

Mentioned in the doc also:
https://github.com/input-output-hk/cardano-wallet/wiki/Wallet-Command-Line-Interface-(cardano-wallet-byron)#example

[2020-06-12 12:26] KtorZ commented on #1745
The error is not great though... "Unable to decode Address: not a well-formed Byron Address." should really be "Invalid network discrimination, expected Testnet address but received Mainnet address".

[2020-06-12 12:26] KtorZ commented on #1745
The address is, so-to-speak, well-formed.

[2020-06-12 12:53] piotr-iohk opened #1749 "Sync percentage seems to be off on Shelley testnet"
# Context

Observed when the network block height on Shelley testnet was ~17900 and I have a wallet and node that was syncing from scratch. Here's what it was showing on different levels of height (for both, wallet's sync progress, and sync progress reported on /network/information):
network block height = ~17900.
local block height = 11412, sync progress = 7.83%
local block height = 12688, sync p

[2020-06-12 12:58] piotr-iohk commented on #1749
**Note also:**

Also noticed that `network/information`  is a bit "behind". I had my wallets already showing status "ready" and block height being "up-to-date", say 17900, and `network/information` was still showing lower block height, e.g. 17852 and sync progress ~90%.

[2020-06-12 13:21] Fell-x27 commented on #1745
The same problem, if you tried to post a mainnet transaction with the "testnet connection". The message is not about wrong network, its looks like:

[code]

[2020-06-12 13:43] KtorZ commented on #1745
@Fell-x27 this is using which endpoint exactly? `/v2/proxy/transactions` ? Because the message is actually about a network mismatch, but it's caught by the node. This endpoint is, like the name suggests, just proxying the request to the node; The wallet does some sanity check about the well-formness of the transaction, but not much. In particular, it doesn't check that addresses have the right dis

[2020-06-12 13:52] Fell-x27 commented on #1745
Yes. I understand you :)

[2020-06-12 14:00] rvl opened #1750 "Get reward account balance"
# Context

Jira ticket: [ADP-302](https://jira.iohk.io/browse/ADP-302)

### User Story

### Overview

The delegation rewards balance is shown as part of the shelley wallet balance in the API.

This task is to implement the function in the shelley network layer which queries the cardano-node backend for the reward account balance.

There is some overlap with [ADP-301 Check current delegation prefer

[2020-06-12 14:29] piotr-iohk opened #1751 "Cannot migrate big wallet"
# Context

There is -> https://github.com/input-output-hk/cardano-wallet/blob/master/lib/shelley/src/Cardano/Wallet/Shelley/Transaction.hs#L215

[code]
which causes that big wallets cannot be migrated using migration endpoint.

Integration test -> `SHELLEY_MIGRATE_01_big_wallet` (PR: https://github.com/input-output-hk/cardano-wallet/pull/1739)

| Information  | -

[2020-06-13 01:16] #1727 closed, assigned to nobody

[2020-06-14 13:04] piotr-iohk commented on #1693
lgtm.

[2020-06-14 13:04] #1693 closed, assigned to jonathanknowles

[2020-06-15 10:13] piotr-iohk commented on #1709
@paweljakubas I am not able to join stake-pool that is on Shelley testnet. They all seem to give me 404.

To reproduce:
1. start cardano-node + cardano-wallet on testnet.
e.g.:
cardano-node:
[code]

cardano-wallet-shelley:
[code]

2. Query stake pools registered on testnet:
[code]
:point_down:
[code]
3. Try to join a pool using one of the pool ids:

[code]
:point_down:

[code]

[2020-06-15 10:21] piotr-iohk opened #1758 "cardano-wallet-shelley transaction submit returns "Something went wrong" on Shelley testnet"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | `2020.6.5 (git revision: 4cd2ce655fa9e0163d2389759519445bcb52f47b)` |
| Platform     | Linux, all?          |
| Installation | From source           |

# Steps to Reproduce

Following [tutorial](https://github.com/input-output

[2020-06-15 10:32] piotr-iohk commented on #1709
OK, misunderstood comment `please notice that at the time of doing listStakePools was not implemented and we hardcoded pool id from cluster associated with integration tests)`.  I thought it is only valid in the integration tests "realm". Ok, I understand we need to have list stake pools implemented in order to be able to join/quit actually...

So leaving in QA for the time being to be able to do

[2020-06-15 11:55] piotr-iohk opened #1759 "List/create shelley wallet while cardano-node is syncing takes a long time"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | `2020.6.5 (git revision: 0fd72625c3ed83999a59c6187445774210ac5d12)` |
| Platform     | Linux, all?        |
| Installation | From source            |

# Steps to Reproduce

1. start cardano-node + cardano-wallet on Shelley tes

[2020-06-15 13:59] KtorZ opened #1761 "Extract stake pool registration from on-chain data"
# Context

As a wallet user I want to Check stakepool metadata so that I can make an informed delegation choice.

Stake pool metadata are registered on chain inside stake pool registrations alongside some interesting data like the margin, cost or pledge amount. These registrations can be parsed and the information inside them extracted as we crawl the chain so that we can access it later.

# Decis

[2020-06-15 14:43] KtorZ opened #1762 "Collect stake pool metadata from remote servers"
# Context

While SMASH is being developed, we'll be fetching metadata directly from their remote URL, caching the content in another database.

# Decision

- Fetch metadata from _URL_ and persist the content
- Remove from the queue metadata successfully fetched
- Have a rather short timeout to prevent one server from slowing down the entire service.
- Make fetching the metadata decoupled from the

[2020-06-16 14:46] Anviking commented on #1719
Superseded by #1761

[2020-06-16 15:46] Anviking commented on #1719
That ticket seems more about the writing of it, so re-opening this for the reading-aspect.

[2020-06-16 22:14] Fell-x27 opened #1770 "Error in $.protocolParams: key "minPoolCost" not found"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      |Last master (17.06.2020) |
| Platform     | Linux        |
| Installation | From Source?       |

# Steps to Reproduce

Just trying to launch with:

`cardano-wallet-shelley serve --listen-address 127.0.0.1 --port 8090 --node-so

[2020-06-16 23:47] rvl commented on #1770
Hi @Fell-x27, cardano-wallet master branch currently requires using the very latest cardano-node code. The ff testnet is running cardano-node 1.13.0. The genesis file on hydra will be updated when the next release of cardano-node is deployed to ff testnet. Even if you add the extra key to `ff-genesis.json` you will probably find that the node can't sync with ff testnet.

[2020-06-17 10:08] Fell-x27 commented on #1770
Ok, Will try to build the latest node, fix genesis.json and try again later!

[2020-06-17 10:31] rvl commented on #1770
That will probably not be a successful endeavour. As far as I know, the current master branch cardano-node is not compatible with ff testnet. This should be sorted out in the coming week. We are testing cardano-wallet with local nodes for the time being.

[2020-06-17 13:26] piotr-iohk opened #1773 "Cannot submit tx with"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | `2020.6.5 (git revision: 00a46043ad37c0714986d33d08795e83d612c1fc)`|
| Platform     | Linux, all?         |
| Installation | From source          |

# Steps to Reproduce

1. ...

## Expected behavior

## Actual behavior

---

[2020-06-17 13:27] #1773 closed, assigned to nobody

[2020-06-17 13:27] piotr-iohk opened #1774 "Cannot submit transaction with POST /proxy/transactions"
# Context

https://github.com/input-output-hk/cardano-wallet/pull/1766#issuecomment-644825477

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | `2020.6.5 (git revision: 00a46043ad37c0714986d33d08795e83d612c1fc)`|
| Platform     | Linux, all?         |
| Installation | From source

[2020-06-17 20:19] Fell-x27 commented on #1770
Yep... will try to build local shelley testnet.

[2020-06-17 21:23] #1770 closed, assigned to nobody

[2020-06-18 09:40] ntfreem opened #1778 "Final transaction fee - /v2/byron-wallets/transactions"
Please return the actual final fee that was used to send a tx, we can only figure that out by using the explorer API, and not when sending a tx using  cardano-wallet using POST /v2/byron-wallets/transactions

[2020-06-22 09:03] KtorZ opened #1781 "TRANS_CREATE_04"
# Context

Seen on mac-mini builder: https://hydra.iohk.io/build/3121867/nixlog/1

# Test Case

- API Specifications/TRANS_CREATE_04 from `src/Test/Integration/Scenario/API/Shelley/Transactions.hs:396`

# Failure / Counter-example

[code]

---

# Resolution

---

# QA

[2020-06-22 09:08] KtorZ commented on #1774
@piotr-iohk the underlying binary format for transaction is different between Shelley and Byron. Unfortunately, cardano-transactions still lives in the _Byron_ era and therefore, produce transactions that can't be comprehended by the _shelley-only_ transaction layer.

[2020-06-22 11:18] piotr-iohk commented on #1758
ok

[2020-06-22 11:18] #1758 closed, assigned to paweljakubas

[2020-06-23 11:43] piotr-iohk commented on #1762
lgtm

[2020-06-23 11:43] #1762 closed, assigned to KtorZ

[2020-06-23 11:43] piotr-iohk commented on #1761
lgtm

[2020-06-23 11:43] #1761 closed, assigned to KtorZ

[2020-06-23 12:20] paweljakubas opened #1789 "Get transaction by its id"
# Context

I want to get information about a transaction based on an ID

# Decision

# Acceptance Criteria

1. the endpoint capable of doing that is added.
2. integration test illustrating transaction info lifecycle from valid id and invalid id behavior is added

---

# Development

# QA

A number of things were added in this task that are worth checking :
1. getTx in DBlayer and corresponding pro

[2020-06-24 08:07] lijianl opened #1792 "cardano-wallet-shelley-linux64"
I am using cardano-wallet-shelley-latest-release on Linux for a wallet service. when I start with './cardano-wallet serve'
it hits "Missing: --node-socket FILE --testnet FILE", where could I find these two files of mainnet? ; is it impossible to connect the mainet yet??

[2020-06-24 08:32] lijianl commented on #1792
i get a mainnet file from "https://hydra.iohk.io/build/3175192/download/1/mainnet-genesis.json";
and the log shows this file is not JSON valid ??????/

what should I do to run Cardano-wallet on mainnet

[2020-06-24 08:53] KtorZ commented on #1792
For current mainnet, you'll need `cardano-wallet-byron` unfortunately. The transition to Shelley will happen soon but hasn't happened yet. The genesis file looks indeed correct for the current Mainnet chain.

For further details, please follow the instructions in the command-line manual: https://github.com/input-output-hk/cardano-wallet/wiki/Wallet-command-line-interface-cardano-node#serve

[2020-06-24 09:21] piotr-iohk opened #1793 "TRANS_CREATE_05, TRANS_ESTIMATE_08 and STAKE_POOLS_JOIN_04 fail on Jormungandr"
# Context

3 scenarios failed on Jormungandr:
https://buildkite.com/input-output-hk/cardano-wallet/builds/8496#3a7edef1-0925-4024-9708-5da492de71cb

# Test Case

STAKE_POOLS_JOIN_04
TRANS_CREATE_05
TRANS_ESTIMATE_08

# Failure / Counter-example

3 scenarios but generate 20 failures...

[code]

---

# Resolution

- Fixed as part of the jormungandr update to 0.9.0 ==> #1779

---

# QA

see latest ni

[2020-06-24 09:23] piotr-iohk commented on #1751
lgtm

[2020-06-24 09:23] #1751 closed, assigned to paweljakubas

[2020-06-24 09:43] lijianl commented on #1792
when I run with file "https://hydra.iohk.io/build/3175192/download/1/mainnet-genesis.json";
the log shows 'You may want to check the filepath given via --genesis and make sure it points to a valid JSON genesis file. Here's (perhaps) some helpful hint: Error in $: key "maxMajorPV" not found'

and indeed for key "maxMajorPV" is not exist in the "mainnet-genesis.json"

[2020-06-24 10:12] KtorZ commented on #1792
`maxMajorPV` is a parameter required by the **Shelley** node. Please re-read my previous answer, you need `cardano-wallet-byron`, not `cardano-wallet-shelley`.

[2020-06-24 15:08] Anviking opened #1794 "Wallet on new testnet fails with UNIQUE constraint failed: pool_registration.pool_id"
# Context

Using:
- `shelley_testnet` https://hydra.iohk.io/job/Cardano/iohk-nix/cardano-deployment/latest/download/1/index.html
- cardano-node 1.14.0

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | a1db69e710d492e4297cdea4c4d8c73b47315495 |
| Platform     |           |
| Installatio

[2020-06-24 15:27] KtorZ commented on #1794
@Anviking a first clue which is something I suspected this morning when you talked about it.

- The pool monitoring worker uses the last `X` block headers to compute an intersection where `X` is `max k 100` (wrongly copied over from the ITN code...)

- The genesis configuration specifies `securityParam: 108`

This means that, if a node switches to a chain that has between 100 and 108 blocks differ

[2020-06-24 15:36] Anviking commented on #1794
This is a different bug.

I tried removing the `max 100`, but it didn't work. Besides, I used an empty DB.

I looked at the logs again: and it seems `31d6318b` is registering twice. (edited ticket). I suspect re-registration _is_ allowed after all 🤔

[2020-06-24 15:41] KtorZ commented on #1794
It's not allowed for stake key surely. But for stake pools, that is indeed a possibility? Can you find the answer?

[2020-06-24 15:56] Anviking commented on #1794
Yes, confirmed.

[2020-06-24 17:06] piotr-iohk commented on #1794
Here's what I see in the log:
[code]

[2020-06-24 17:07] Anviking opened #1796 "Conflicting pool production"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      |  |
| Platform     |           |
| Installation |             |

# Steps to Reproduce

Haven't managed to reproduce yet. Think I saw it multiple times when tweaking genesis params when running integration tests.

## Expected be

[2020-06-24 17:19] KtorZ commented on #1794
@piotr-iohk you need the 1.14.0 branch to get the correct hash lengths.

[2020-06-24 17:39] piotr-iohk commented on #1794
I was on cardano-node `1.14.0` and cardano-wallet `anviking/bump-node-1.14.0` - but the latter was not up-to-date. After updating cardano-wallet I get the same error indeed :man_shrugging:

[2020-06-25 12:31] piotr-iohk commented on #1675
For the record this is still the case on cardano-node `1.14.1` -> https://github.com/input-output-hk/cardano-wallet/issues/1675#issuecomment-636810531

[2020-06-25 15:11] piotr-iohk opened #1799 "Cannot join stake-pool on shelley_testnet"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | 55ffb6b4abcbc7f7ab15c60d2bc4b1c61208cfff `anviking/fix-pools-for-testnet`|
| Platform     | Linux        |
| Installation | From source           |

# Steps to Reproduce

https://hydra.iohk.io/job/Cardano/iohk-nix/cardano-depl

[2020-06-25 16:04] KtorZ commented on #1674
closing, this was done: https://gist.github.com/KtorZ/5a2089df0915f21aca368d12545ab230

[2020-06-25 16:04] #1674 closed, assigned to nobody

[2020-06-25 16:05] #1705 closed, assigned to nobody

[2020-06-25 21:04] #1781 closed, assigned to nobody

[2020-06-26 08:04] #1774 closed, assigned to nobody

[2020-06-26 08:07] #1730 closed, assigned to nobody

[2020-06-26 08:08] KtorZ commented on #1709
@piotr-iohk I think this is now visible from integration tests :+1:

[2020-06-26 08:31] piotr-iohk commented on #1740
lgtm

[2020-06-26 08:31] #1740 closed, assigned to paweljakubas

[2020-06-26 10:16] got3nks commented on #1730
I see the issue has been closed.
Has this been solved in a recent / upcoming release? Thanks.

[2020-06-26 10:27] piotr-iohk commented on #1793
lgtm

[2020-06-26 10:27] #1793 closed, assigned to KtorZ

[2020-06-26 11:18] #1792 closed, assigned to nobody

[2020-06-26 11:19] KtorZ commented on #1675
@piotr-iohk we can't yet do transactions from Byron addresses. We need to acknowledge for Byron witnesses in transactions, which only landed recently on cardano-node. We can keep this ticket open perhaps until we solve this.

[2020-06-26 12:33] KtorZ commented on #1799
Seems like we are missing a required deposit needed when registering a stake key. This wasn't caught by our integration tests because the value for key deposit is set to `0` in our cluster genesis!

[2020-06-26 13:05] paweljakubas opened #1803 "Allow for different mnemonics for random/icarus wallets"
# Context

As a wallet user (Byron random and Icarus wallets)
I want to be able to restore a wallet based on various mnemonic lengths
so that I restore from out of date wallets

# Decision

we will allow for [12,15,18,21,24] mnemonic lengths for random/icarus wallets

# Acceptance Criteria

1. different mnemonic lengths are accepted
2. the tests illustrating the case are added

---

# Development

[2020-06-26 14:57] Anviking commented on #1796
I see a lot of these errors on #1783 where activeSlotCoeff is increased, and d decreased.
[code]
Despite seeing many errors, I see no rollbacks, which is interesting.

[2020-06-26 16:49] piotr-iohk commented on #1789
Looking good. I have added additional checks in integration tests for Byron wallets (API & CLI) in #1804.

Also added tests for "get tx by id" into "nightly shelley testnet tests". (And hopefully fixed them to run -> https://github.com/piotr-iohk/cardano-wallet-rb/actions?query=workflow%3ANightly)

[2020-06-26 16:53] piotr-iohk commented on #1794
lgtm. I don't see that on shelley testnet any longer.

[2020-06-26 16:53] #1794 closed, assigned to Anviking, KtorZ

[2020-06-26 17:14] Anviking commented on #1796
When adding a more low-level `ChainSyncLog`:
[code]
Seems like the abstractions that sit on top of the chain sync doesn't correctly notice the rollback.

[2020-06-26 17:22] disassembler opened #1805 "metadata hash mismatch for re-registered pools"
# Context

When a pool is re-registered with new metadata, the wallet still expects the previous metadata hash.

Logs:
[code]

Pool registration certificate submitted to chain:

[code]

version: bcc0ff009b4695589c107fdf21272a470b2362c0

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      |

[2020-06-26 17:42] KtorZ commented on #1796
@Anviking do you have the list of blocks given for intersection?

[2020-06-26 17:42] Anviking commented on #1796
Adding more tracing inside `follow`:
[code]
So problem should be here:
https://github.com/input-output-hk/cardano-wallet/blob/0243ac496dc395516ef18764a37d74df1785da46/lib/core/src/Cardano/Wallet/Network.hs#L394-L396

[2020-06-26 17:48] Anviking commented on #1796
Ah! `cps` is what was originally used to start the follower. So it seems all rollbacks are ignored in that case 😬

[2020-06-26 17:56] KtorZ commented on #1796
Right :facepalm:

[2020-06-26 17:58] KtorZ commented on #1796
I imagine we can work-around that by making that `cps` contains the latest block applied, passing it around to `step` and `sleep`.

[2020-06-26 18:22] piotr-iohk commented on #1789
lgtm

[2020-06-26 18:22] #1789 closed, assigned to paweljakubas

[2020-06-26 21:49] KtorZ commented on #1778
As mentioned on Slack: I am not 100% sure that this is necessary, since actual fees can be computed as the sum of the inputs amount minus the sum of the outputs amounts (which are both provided as part of the response already).

[2020-06-26 21:49] #1778 closed, assigned to nobody

[2020-06-27 12:11] KtorZ commented on #1730
Sorry, I should mentioned:

- This ticket is now superseded by https://github.com/input-output-hk/cardano-wallet/issues/1803
- PR implementing #1803 is landing into the master branch soon.

[2020-06-28 00:37] rvl opened #1811 "Cardano.Wallet.Shelley.Network.getTxParameters tests are flaky"
# Context

The `Cardano.Wallet.Byron.Network.getTxParameters` and `Cardano.Wallet.Shelley.Network.getTxParameters` unit tests are flaky on windows wine.

I previously increased the time available for the test to succeed to 100 seconds, but suspect that there is actually an occasional deadlock preventing the test from succeeding.

Additionally, there is the issue that these shouldn't be unit tests

[2020-06-28 03:06] rvl opened #1812 "Database migration notices on fresh database"
# Context

The integration tests are showing the following log messages:

[code]

On a fresh database there should be no migrations necessary. These fields should either be added to the persistent models, or removed from the migrations.

# Steps to Reproduce

1. Run byron integration tests.
2. Inspect logs for Notice messages.

## Expected behavior

No database migrations occur.

## Actual behavio

[2020-06-28 05:47] KtorZ commented on #1812
Duplicate of https://github.com/input-output-hk/cardano-wallet/issues/1743 I believe?

[2020-06-28 07:31] lijianl opened #1813 "Shelley api are not avaliable"
I am using wallet V1 from `cardano-sl` and migrating my wallet data to `cardano-wallet`;
and blocked by some problem.. hope you can give some hit.

P1:    I started a `cardano-node` on `byron mainnet`. and the log show like these

[code]
are these normal log? the information is so little to make sure whether the node is ready..

[code]

P2: I built my wallet `cardano-wallet` from sources with cmd

[2020-06-28 09:21] lijianl commented on #1813
pass problem localhost

[2020-06-28 09:23] rvl commented on #1812
So it is!

[2020-06-28 09:23] #1812 closed, assigned to nobody

[2020-06-28 09:35] rvl commented on #1813
Hi @lijianl

P1. "Chain extended, new tip" - these mean that cardano-node is operating normally. Use the cardano-wallet [/network/information](https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/getNetworkInformation) endpoint to get sync state in terms of epoch and slot numbers.

P2. "ntp client experienced error" - the wallet runs NTP queries to check if your system clock is acc

[2020-06-28 09:47] lijianl commented on #1813
are there any difference between SHELLY wallet and BYRON wallet in link https://input-output-hk.github.io/cardano-wallet/api/edge/ ??

these two wallets are all supported by Shelley

[2020-06-28 10:14] lijianl commented on #1813
my passphrase of `cardano-sl wallet` is too short to restore into cardano-walllet, could you help for this ?

[code]

[2020-06-28 10:31] rvl commented on #1813
The main difference between SHELLY wallet and BYRON wallet in the API is in how new addresses are generated. See https://github.com/input-output-hk/cardano-wallet/wiki/About-Address-Derivation for a good explanation.

After restoring the byron wallet, you can transfer your ada from the byron wallet into a new shelley wallet.

Use a different, longer passphrase with cardano-wallet. This passphrase

[2020-06-28 11:59] lijianl commented on #1813
So as your words, I can only use `/v2/byron-wallets/`  before the 8th of June 2020.
and on the 8th of June 2020, I should rebuild my `cardano-node` and `cardano-wallet` to support ` Shelley` and change API to `/v2/wallets/`?

[2020-06-28 12:16] lijianl commented on #1813
I make a list of steps:

**Before:  the 8th of June 2020.**

1. build `cardano-node` and `cardano-wallet` to support byron-wallet
2. create a new walletId  on `cardano-wallet` and  transfer ADA from `cardano-sl` to the new walledId.
3. change `cardano-sl` api to `byron-api` in link https://input-output-hk.github.io/cardano-wallet/api/edge/#tag/Byron-Wallets

**After: the 8th of June 2020.**

1. re

[2020-06-28 12:37] rvl commented on #1813
For now -
1. Use `cardano-wallet-byron` and `cardano-node` with byron mainnet.
2. Restore your existing wallet mnemonic with [POST /v2/byron-wallets](https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/postByronWallet). Check that the balance is correct. There is no need to make any transactions yet.
3. Adjust your application to use the v2 cardano-wallet API.

Later - cardano-sl

[2020-06-28 13:22] lijianl commented on #1813
I get the changes for now.....

also I noticed there is not an API to validate an address before a transaction.  anyways to validate an address in advance???

hope The SHELLEY ERA comes smoothly on the 8th of June 2020

[2020-06-29 07:46] piotr-iohk commented on #1719
lgtm

[2020-06-29 07:46] #1719 closed, assigned to Anviking, KtorZ

[2020-06-29 08:13] jonathanknowles opened #1815 "Extend SQLite DB to store pool retirement data."
# Context

As part of the work to track pool retirements, we need a way of storing **pool retirement data** in the database.

This is complicated by the fact that:

1. A _single block_ can contain _multiple_ certificates relating to the same pool.
2. A _single transaction_ can contain _multiple_ certificates relating to the same pool.
3. The _relative order_ of these certificates is _significant_.

[2020-06-29 08:29] jonathanknowles opened #1816 "Extend DB layer to allow reading and writing of pool retirement data."
# Context

As part of the work to track pool retirements, we need to provide a way for users of the DB layer to record that a pool will retire at a given epoch, or to query the DB to determine whether such a retirement has already been recorded.

# Decision

Add the following operations (or equivalent operations) to the DB layer:

[code]

For a discussion of `SlotInternalIndex` see https://github.

[2020-06-29 08:37] jonathanknowles opened #1817 "Extend pool monitoring code to store retirements in the DB."
# Context

As part of the work to track pool retirements, we need to make sure that when the wallet encounters a pool retirement certificate, that the relevant information is recorded in the DB.

# Decision

Extend the pool monitoring code to store pool retirements in the DB. Adjust the `forward` function within `monitorStakePools` to call `putPoolRetirement`, along with the corresponding _slot_ a

[2020-06-29 08:46] jonathanknowles opened #1818 "Add skeleton `retirement` field to `ApiStakePool`."
# Context

As part of the work to track pool retirements, we need to provide a way for API users to determine whether a given pool has a retirement certificate associated with it.

# Decision

Add a skeleton `retirement` field to the `ApiStakePool` type:

[code]

Values of the above type are returned by the `ListStakePools` endpoint.

# Acceptance Criteria

- [x] The `ApiStakePool` type **_must_**

[2020-06-29 08:53] jonathanknowles opened #1819 "Extend Shelley `listPools` operation to provide real pool retirement data."
# Context

As part of the work to track pool retirements, we need to ensure that the API server actually reports real pool retirement data as stored in the database (rather than always returning `Nothing`).

# Decision

Extend the Shelley `listPools` operation to provide real pool retirement data:

- [x] Extend `PoolDBMetrics` to include retirement data.
- [x] Extend `readDBPoolData` to provide po

[2020-06-29 08:56] jonathanknowles opened #1820 "Ensure that pool retirement data is correctly rolled back during a rollback operation."
# Context

As part of the work to track pool retirements, we need to record pool retirements in the pool database. However, it will also be necessary to remove such entries in the event of a database rollback.

# Decision

Ensure that the `PoolRetirement` database table entries are correctly rolled back in the context of a DB rollback operation.

# Acceptance Criteria

- [x] `PoolRetirement` datab

[2020-06-29 09:47] piotr-iohk commented on #1799
ok. Able to join/quit on shelley testnet.

[2020-06-29 09:47] #1799 closed, assigned to KtorZ

[2020-06-29 11:11] piotr-iohk commented on #1803
lgtm

[2020-06-29 11:11] #1803 closed, assigned to paweljakubas

[2020-06-29 11:28] Anviking commented on #1815
You might find the "Pool Inference Rules" figure from the
[shelley ledger specs](https://hydra.iohk.io/build/3202141/download/1/ledger-spec.pdf) interesting.

<img width="782" alt="Skärmavbild 2020-06-29 kl  12 24 29" src="https://user-images.githubusercontent.com/304423/85999500-798ed880-ba0c-11ea-9b01-27ca13b2d1e9.png">

Simply reading the latest values from the two tables
- PoolRegistration
- P

[2020-06-29 11:56] KtorZ opened #1821 "Tentatively allow having an initial reserve amount for running coin selection."
# Context

In the context of Shelley, Coin Selection becomes a bit more complex. There are now "things" that can be on the left side of the balance when making transaction that aren't unspent transaction inputs. In particular, we can now find:

- deposit sent back to wallet
- rewards from a stake address

# Decision

These special inputs will be treated separately from standard UTxO inputs, but fu

[2020-06-29 11:57] piotr-iohk commented on #1709
LGTM.

[2020-06-29 11:57] #1709 closed, assigned to paweljakubas

[2020-06-29 12:06] piotr-iohk commented on #1718
lgtm

[2020-06-29 12:06] #1718 closed, assigned to Anviking

[2020-06-29 12:28] paweljakubas opened #1822 "Introduce K parameter"
# Context

As a wallet user
I want to receive the K(optimal pool number) value
so that I can know the maximum amount of ADA I can delegate in one delegation certificate

# Decision

we want to have K parameter available

# Acceptance Criteria

1. Extend protocol parameters and propagate the change throughout codebase
2. Update sqlite tables
3. Add update parameter tests

---

# Development

# QA

[2020-06-29 14:51] rvl commented on #1585
Who would you delegate to in the first epoch? There would be no pools registered yet.

[2020-06-29 15:13] piotr-iohk opened #1823 "Trying to join pool returns 500 while delegation next = not_delegating"
# Context

While delegation next = not_delegating one doesn't seem to be able to join pool.

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | `2020.6.5 (git revision: bcc0ff009b4695589c107fdf21272a470b2362c0)` |
| Platform     | Linux, all?          |
| Installation | From source

[2020-06-29 16:00] KtorZ opened #1824 "Can't quit pools when reward account is non-empty"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | All  |
| Platform     | All           |
| Installation | Sources             |

# Steps to Reproduce

1. Join a pool
2. Wait until there's some reward in the reward account.
3. Quit the pool

## Expected behavior

To be clarif

[2020-06-29 16:11] nikolaglumac opened #1825 "Estimate fee Api endpoint response taking ~10 seconds"
#1569
Context

There is a regression in the performance of the "Estimate fee" Api endpoint (https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/postTransactionFee) for which the response time has been increased from ~100 milliseconds to ~10 seconds. This happens regardless of the wallet's UTXO fragmentation (it is the same for wallets with a single UTXO as for the ones with >100 U

[2020-06-29 16:57] Anviking commented on #1585
Good point.

But there _could_ be pools registered in epoch 0, just that we would currently not show them. [If fixed](https://input-output-rnd.slack.com/archives/C819S481Y/p1593396135437600), I _believe_ delegation to them should be possible.

IIRC it is also possible on jormungandr.

Of course, pretty small problem though.

[2020-06-30 02:30] rvl opened #1828 "Jormungandr TRANS_GET_01 flaky"
# Context

One of the jormungandr integration tests is failing locally for me on master branch (7ab53abccda7765e2d2f65fc9465b0a6123df750). They don't seem to fail every time.

# Test Case

[code]

- `/API Specifications/TRANS_GET_01` - Can get Incoming and Outgoing transaction
- `/CLI Specifications/TRANS_GET_01` - Can get Incoming and Outgoing transaction

# Failure / Counter-example

[code]

---

[2020-06-30 06:03] rvl commented on #1825
I did some more testing - even estimating transaction fees on a completely empty wallet is slow! (it takes 10 seconds to say there is not enough ada)

* Interestingly, on the cardano-wallet-byron backend, fee estimation is fast. On both byron and shelley, the estimation is run 100 times and statistics gathered.

   We only have a nightly benchmark running for byron, not shelley. These byron benchm

[2020-06-30 07:11] rvl commented on #1813
@lijianl You can use the [estimate fee](https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/postByronTransactionFee) endpoint to test that an address is encoded well, and matches the network (i.e. mainnet/testnet). But this is not foolproof - use caution.

I believe @neville-freeman has contacted you by e-mail about the shelley hard fork.

[2020-06-30 07:11] #1813 closed, assigned to rvl

[2020-06-30 08:21] jonathanknowles commented on #1815
@Anviking wrote:

This is a very good point. Thank-you for raising it.

If multiple pool certificates appear within a _single block_, or even within a _single transaction_, it's my current understanding that we process these certificates _in the order that they appear_. In other words, transactions that appear earlier in a block are processed before transactions that appear later on, and entries t

[2020-06-30 09:43] KtorZ opened #1831 "STAKE_POOLS_JOIN_01"
# Context

https://buildkite.com/input-output-hk/cardano-wallet/builds/8707#bfb3375e-aed3-4c46-ab57-763b9d4c5c02

# Test Case

STAKE_POOLS_JOIN_01, in `src/Test/Integration/Scenario/API/Shelley/StakePools.hs:123:15`

# Failure / Counter-example

[code]

---

# Resolution

Seems like that somehow, one of the cluster's pools isn't listed anymore, but only during this scenario. It could be a momentar

[2020-06-30 11:12] melmccann opened #1832 "Testnet config file missing and causing docker container to fail"
I did a full system prune and cleared all volumes. pulled cardano-wallet and ran "NETWORK=testnet docker-compose up"
I am getting the following error in the wallet logs.

Usage: cardano-wallet-byron COMMAND
  Cardano Wallet Command-Line Interface (CLI)
Invalid argument `/config/pdnsmv1gi6llr92fk7sgs3j2gcphm6fm-shelley-testnet-genesis.json'

Container will not start in testnet mode.

[2020-06-30 11:49] piotr-iohk opened #1833 "There are un-joinable pools on shelley_testnet"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | node: 1.14.2, cardano-wallet `bcc0ff009b4695589c107fdf21272a470b2362c0` |
| Platform     | Linux, all?         |
| Installation | from source            |

There are some pools that one cannot join on shelley testnet although

[2020-06-30 13:07] piotr-iohk commented on #1832
It seems that currently within the cardano-node docker image there are bunch of genesis files:
[code]
when doing NETWORK=testnet the wallet takes `pdnsmv1gi6llr92fk7sgs3j2gcphm6fm-shelley-testnet-genesis.json`

and should be taking `7106qjwral616j6p5049m7hhi5ih0r33-testnet-genesis.json` since it is the one correct for Byron testnet...

[2020-06-30 14:09] KtorZ commented on #1832
Changing line 25 from:

[code]

to

[code]

should fix it, the genesis shouldn't really change hash anyway.
Yet locally, I am running into some other issues when trying out `cardano-node:latest`

[code]

[2020-06-30 15:12] piotr-iohk opened #1835 "Cannot join pool with ITN rewards wallet on shelley testnet"
# Context

Cannot join pool from ITN reward wallet.
_(Known but haven't seen that reported, so reporting.)_

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | node 1.14.2, wallet `bcc0ff009b4695589c107fdf21272a470b2362c0`|
| Platform     | All         |
| Installation | From source

[2020-06-30 15:26] Anviking commented on #1833
Summarizing [info from Jared](https://input-output-rnd.slack.com/archives/CCRB7BU8Y/p1593514703374600):
A pool retiring "in" epoch 5 will:
- Disappear from the stake distribution query at the 6/7 epoch boundary
- Be un-joinable at the 5/6 epoch boundary

[2020-06-30 17:14] Anviking commented on #1833
A solution might be to use the work @jonathanknowles now is starting, and ourselves decide, in the DB, which pools to displays or not.

[2020-06-30 21:53] Fell-x27 commented on #1720
At present time this sorting can be "attacked" by fake pledge amount. Just tested my app on shelley-testnet and found this:

![image](https://user-images.githubusercontent.com/18358207/86180125-33cd2f80-bb34-11ea-9c80-306b2e60328b.png)

Its a non-myopic member rewards for 100K ada stake in the top-right corner and pledge of the pool 0c6fb7f6499477e3100bcc93624ab218abc58782fc79c2bcc27a91af below

S

[2020-06-30 22:17] Anviking commented on #1720
@Fell-x27 There was a problem with the calculation of the non-myopic member rewards fixed by https://github.com/input-output-hk/cardano-ledger-specs/pull/1601. Before that change makes it to `cardano-node`, the ranking will be… well, I think pretty useless.

It previously mistakingly used the pool owners' stake as the stake of the pool member about to delegate.

[2020-07-01 00:50] rvl commented on #1835
I reproduced too, after transferring some "real" testnet ada to my ITN rewards wallet to pay for the transaction.

I think we were working under the assumption that stake key registration was idempotent, so multiple registrations would not be a problem.

[2020-07-01 06:21] piotr-iohk commented on #1828
Should be fixed by #1837.

[2020-07-01 06:21] #1828 closed, assigned to piotr-iohk

[2020-07-01 06:54] rvl opened #1838 "Expire transactions when TTL reached"
# Context

ADP-93 Transaction scheduler

Introduce a time-to-live (TTL) value for transactions, stating that the transaction must be included in the blockchain before a certain slot and simply dropped otherwise.

# Decision

- TTL value is a number of slots, and hardcoded initially.
- The Tx expiry slot is calculated when the transaction is created, and recorded in the DB with pending transactions

[2020-07-01 07:00] rvl opened #1839 "Resubmit transactions after expiry"
# Context

ADP-93 Transaction scheduler

Transactions which have passed their expiry slot are removed from the pending set and effectively cancelled.
A new transaction with the same payment (but possibly different coin selection) should be signed and submitted.

# Decision

- Any transactions in the database which are marked Expired, but have not been resubmitted, should be resubmitted.
- The paym

[2020-07-01 07:57] rvl opened #1840 "API/CLI support for transaction expiry"
# Context

ADP-93 Transaction scheduler

Transaction TTL/expiry should be exposed in the API and the CLI.

# Decision

- Add optional `ttl_seconds` field to  [POST /wallets/{walletId}/transactions](https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/postTransaction). This will be internally converted into slots and determines the expiry time of the transaction.
- Default TTL is 2

[2020-07-01 08:03] Fell-x27 commented on #1720
Well, everything I need is building master branch, right?

[2020-07-01 08:51] piotr-iohk commented on #1759
LGTM. Issue not observed currently on shelley testnet.

[2020-07-01 08:51] #1759 closed, assigned to rvl

[2020-07-01 09:19] Anviking commented on #1720
No, the [cardano-ledger-specs dependency](https://github.com/input-output-hk/cardano-node/blob/master/stack.yaml#L62) inside cardano-node needs to be bumped, which they do regularly

[2020-07-01 09:30] Anviking commented on #1835
Don't think we assume it's idempotent. We are checking for the existence of a previous key registration here:
https://github.com/input-output-hk/cardano-wallet/blob/5af4490e7f050dcba21692e7ddb9230b7f9d5b85/lib/shelley/src/Cardano/Wallet/Shelley/Transaction.hs#L190-L202

But that check is probably incomplete in the context of ITN rewards. Sounds like MIR certificates will create a stake key too?

[2020-07-01 09:41] KtorZ commented on #1835
No. But they come along with a stake key registration certificate which we do not process or store. Right now, we _assume_ the existence of stake key by looking at the wallet's delegation certificate. This is sort of wrong as it's based on implementation details of the wallet (both that, on the one hand, we register a stake key before delegating and, we de-register it when "quitting").

Yet for IT

[2020-07-01 13:48] piotr-iohk commented on #1720
I think let's keep this item in QA until the https://github.com/input-output-hk/cardano-ledger-specs/pull/1601 goes into cardano-node. @Anviking it is not in the node 1.14.2, correct?

[2020-07-01 13:54] Anviking commented on #1720
Yeah, I think that's sane to do.

No, it's not even on (cardano-node-)master yet. It was updated 6 days ago, but the fix was merged yesterday.

[2020-07-01 14:20] Fell-x27 commented on #1720
Thanks! Will watch this.

[2020-07-01 14:48] piotr-iohk commented on #1805
I have registered a pool and re-registeted with changed metadata on shelley testnet. No problem observed. New metadata is available. :+1:

[2020-07-01 14:48] #1805 closed, assigned to KtorZ

[2020-07-01 14:52] piotr-iohk commented on #1750
lgtm. However cannot really see if rewards stop due to "Can't quit pools when reward account is non-empty #1824". Also for that matter I suppose the part of the test `STAKE_POOLS_JOIN_04 - Rewards accumulate and stop` is commented out.( https://github.com/input-output-hk/cardano-wallet/blob/master/lib/core-integration/src/Test/Integration/Scenario/API/Shelley/StakePools.hs#L304)

[2020-07-01 14:54] piotr-iohk commented on #1796
Haven't observed for a while now. Closing.

[2020-07-01 14:54] #1796 closed, assigned to Anviking, KtorZ

[2020-07-01 15:45] KtorZ commented on #1720
Note: https://github.com/input-output-hk/cardano-wallet/pull/1841

[2020-07-01 16:27] Anviking commented on #1720
So `cardano-node` from https://github.com/input-output-hk/cardano-node/pull/1350 includes the fix

[code]
^ seems more promising

[2020-07-01 18:36] paweljakubas opened #1844 "Introduce diverse witnesses in shelley"
# Context

As a user
I want to move my funds from my Byron wallet to my shelley wallet
so that I manage my funds

# Decision

We want to enable sending txs with Icarus/Byron witnesses within shelley style wallet. This will require introducing `TxWitnessTagFor` typeclass on key parameter, add the constraint in `newTransactionLayer`. This will allow adding dedicated `mkWitness` implementation, also

[2020-07-02 04:20] rvl commented on #1708
I saw this when running latest master revision on `shelley_testnet` last night.

Only one of the two wallet workers has crashed. `cardano-node` is still running.

It is still possible to get the details of the wallet which did not crash. But listing wallets fails.

Luckily I have been running with `| tee -a cardano-wallet.log`, so at least there is an Info-level log to look through.

More details

[2020-07-02 06:48] jonathanknowles commented on #1838
@rvl

Just to clarify, is the intention to represent this as an additional constructor on `TxStatus` (and corresponding DB field `txMetaStatus`)?

[2020-07-02 06:54] jonathanknowles commented on #1839
I have a couple of questions:

- Which component of the wallet will be responsible for rescheduling expired transactions, and at what point in the execution flow will the rescheduling be initiated?
- On a practical level, how will the wallet perform the re-signing of the newly created transaction?

[2020-07-02 06:58] jonathanknowles commented on #1839
What should the TTL of the replacement transaction be? Will it inherit the TTL of the transaction it replaced?

[2020-07-02 08:06] KtorZ commented on #1839
Friendly reminder that this also exists: https://github.com/input-output-hk/cardano-wallet/blob/master/specifications/wallet/formal-specification-for-a-cardano-wallet.pdf, in particular, chapter 10

[2020-07-02 12:16] rvl commented on #1839
@KtorZ What about it in particular? I was going by section _10.4 Transactions with TTL_. And the TTL is covered by #1838.

[2020-07-02 19:29] piotr-iohk commented on #1708
@rvl I observe it pretty regularly on Ubuntu test env I'm using. If there are any DEBUG level logs that are worth turning on let me know. Attaching info - level wallet log from an "incident":

[wallet.log](https://github.com/input-output-hk/cardano-wallet/files/4866248/wallet.log)

Relevant excerpt (I think):
[code]

[2020-07-02 21:11] KtorZ commented on #1839
@rvl Nothing special, I just wanted to make sure it gets acknowledged. There are some good ideas to take inspiration from, but not everything maybe applies to the current wallet's design so I trust you to make a sound decision ^.^

[2020-07-03 07:27] piotr-iohk opened #1846 "Listing stake-pools while wallet is syncing takes long or returns 503"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | node 1.14.2, wallet:  `2020.6.5 (git revision: a60c27729ea7915ddc00e6970dbd49b60d0e5c5f)`|
| Platform     | Linux, all          |
| Installation | From source          |

Observation similar to https://github.com/input-output-

[2020-07-03 07:28] rvl commented on #1750
@piotr-iohk Thanks, yes the STAKE_POOLS_JOIN_04 scenario is testing multiple things. The "rewards accumulate" part applies to this user story ADP-302. The "rewards stop" part is blocked by #1824 - I added a note there.

[2020-07-03 07:29] rvl commented on #1824
Reminder to whoever is working on this - uncomment the second part of the "STAKE_POOLS_JOIN_04 - Rewards accumulate and stop" test scenario once this is fixed.

[2020-07-03 07:38] #1750 closed, assigned to rvl, paweljakubas

[2020-07-03 10:12] piotr-iohk commented on #1822
lgtm.

I have added tests for Byron and Jormungandr -> https://github.com/input-output-hk/cardano-wallet/pull/1848.

For Shelley I was also thinking about testing the parmeter (in integration test) by comparing the value with the nOpt parameter taken from `cardano-cli shelley query protocol-parameters --testnet-magic 42 --out-file protocol.json` with the desiredPoolNumber reported by the endpoint.

[2020-07-03 11:11] piotr-iohk commented on #1825
Manually testing on shelley testnet it takes ~1-2 seconds for fees to be returned.

[2020-07-03 13:40] KtorZ commented on #1846
I don't think this is a "bug" per se. The software is behavior correctly here. It returns a `503 Temporary Unavailable` which sounds relevant to the situation.

It is perhaps not the best user experience I agree, but I'd rather log this as an improvement in JIRA than as a bug.

[2020-07-03 13:43] KtorZ commented on #1824
@rvl yes and no :s.
In order to "fix" this, I am going to:

1. Wrap up the work on #1821, so that rewards can be turned into UTxO
2. Make the server fail with a proper error "you need to consume your reward before quitting".

Then, being able to automatically consume the rewards when quitting will be done as part of a next U/S. Note that we are currently discussing the existence of this "quit" end

[2020-07-03 13:56] #1822 closed, assigned to paweljakubas

[2020-07-03 15:36] piotr-iohk commented on #1825
LGTM. Latency benchmarks for shelley, which were sort of introduced along with the fix, are still to be merged.

[2020-07-03 15:36] #1825 closed, assigned to rvl

[2020-07-04 04:28] jonathanknowles opened #1853 "Prevent staking to a retired pool."
# Context

As part of tracking stake pool retirements, we need to return an error if a user attempts to stake to a pool that has already retired.

# Decision

- Adjust `joinStakePool` to return `ErrNoSuchPool` if the current epoch is later than or equal to the retirement epoch of the specified pool.

# Acceptance Criteria

- [x] The wallet _must_ produce an error if a user attempts to stake to poo

[2020-07-04 12:00] willcbanks commented on #1813
is there a list somewhere of what these Notices and Errors mean?
I am getting:
ChainDB:Notice:26
what does it mean?

[2020-07-04 13:03] KtorZ commented on #1813
This is a question for https://github.com/input-output-hk/cardano-node I am afraid.

[2020-07-05 12:38] gufmar opened #1855 "metadata hash mismatch / no re-check"
# Context

cardano-wallet  does complain about metadata hash mismatch, and then don't refresh/recheck again

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | v2020.7.6 (git revision: 298f91d677658e5c69066daed35fec719164ab51) |
| Platform     | Windows     |
| Installation | as part of

[2020-07-05 15:15] Fell-x27 opened #1856 "Byron->Shelley migration doesn't work"
# Context

When I try yo migrate funds from Byron wallet to a fresh created Shelley one, got error.

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | 2020.7.6 (git revision: 8078cf054141ea1642bc80679411a1a229f15a31) |
| Platform     | Linux 64bit  |
| Installation | From source  |

# S

[2020-07-05 15:22] piotr-iohk commented on #1856
Thanks @Fell-x27, this is currently in the works (https://github.com/input-output-hk/cardano-wallet/issues/1844). The story introduces byron transaction support in shelley wallet which will enable migrations as well.

[2020-07-05 21:15] gufmar commented on #1855
even after 8 more hours and some restarts the metadata file wasn't loaded and verified again. There were no more traces in the log file see attached pub.zip)
I removed the application and renamed the whole Daedalus...v2 folder in appdata/roaming
While syncing up from genesis it found the first (obsolete pre 1.14.2) certificate and logged a hash mismatch for the new metadata file. Then after catchi

[2020-07-06 05:47] KtorZ commented on #1855
@gufmar Was your **registered** metadata hash the same in this two registration certificates? (not talking about the actual hash, but the one written in the certificate?)

That metadata hash is used as a primary key when it comes to caching fetch attempts on metadata, behind an exponential backoff; so if the registered metadata hash was the same, that would explain it (your first attempts "burnt"

[2020-07-06 06:38] KtorZ opened #1858 "Make withdrawals on-demand (via query flag)"
# Context

At the moment, withdrawals occur on Shelley transaction as soon as they are deemed worthy. However, this implicit behavior is leading to some confusion on the user's side which interpret the "absence of rewards" in their reward accounts as a bug (whereas, the balance as merely be turned into actual UTxO).

# Decision

- Disable withdrawals by default, and allow making them on-demand whi

[2020-07-06 06:44] gufmar commented on #1855
This was a two step process from my side

I first registered on chain with a pre 1.14.2 version. Also placed the metadata file to the registered URL.

Daedalus 1.2 didn't show this first registration and file at that point

Log: 09:18:02  saw 46e4... expected 2a86...

As this first versions Description field contained an ' (...what's... ) I decided to remove such a potential breaker character and

[2020-07-06 07:19] KtorZ commented on #1855
cardano-wallet & Daedalus supports UTF-8 just fine :)

One thing you have to keep in mind is that, you're not the only pool. The wallet is reaching out to over more than 300 servers at the moment, so it can't allow to wait for all of them to kindly reply, especially when most are either unimplemented or are returning bad data. This is actually a quite big surface of attack and the wallet is being

[2020-07-06 08:58] gufmar commented on #1855
and

please forgive when I tell you now that based on my experiences I will not do this anymore.

The Design specs have a paragraph about this topic.

![image](https://user-images.githubusercontent.com/13198220/86574413-19e97d80-bf76-11ea-9b62-1a4b38b2fedc.png)

and so I thought it might is worth to start such an initiative, by also considering the performance and attack vector issue for wallets.

[2020-07-06 09:11] KtorZ commented on #1855
IOHK started some work in the direction of a proxy. It's a little project called "SMASH" (https://github.com/input-output-hk/smash/).
It's basically a server that fetches metadata from peers, cache them and have a little API to return them on demand based on the hash. The setup is a little heavy as it requires a node and a [cardano-db-sync](https://github.com/input-output-hk/cardano-db-sync/) runn

[2020-07-06 10:04] KtorZ opened #1861 "Include withdrawals one level down, during the coin selection (instead of during fee balancing)."
# Context

In a first iteration, I added withdrawals as a part of the coin selection data type. The withdrawals were taken into account during fee balancing, such that they could be used to pay for fees. Adding them there was easier in a first step as they required very little change to coin selection and fee balancing logic.

# Decision

Yet, being able to use the reward account _during_ the coin

[2020-07-06 10:55] piotr-iohk commented on #1824
When quitting the pool and having rewards earned there is now following error being shown:
[code]

One is able to join another pool even if he earned rewards :ok_hand: .

[2020-07-06 10:55] #1824 closed, assigned to KtorZ

[2020-07-06 10:59] piotr-iohk commented on #1835
LGTM. Able to join stake pool with ITN rewards wallet on shelley testnet.

[2020-07-06 10:59] #1835 closed, assigned to Anviking

[2020-07-06 14:03] piotr-iohk commented on #1858
lgtm

[2020-07-06 14:03] #1858 closed, assigned to KtorZ

[2020-07-06 14:45] piotr-iohk commented on #1821
lgtm

[2020-07-06 14:45] #1821 closed, assigned to KtorZ

[2020-07-06 15:26] gufmar commented on #1855
Sorry, I wanted to write "how to _SMASH_such an idea" as a pun.  :-)

I started working on the metadata proxy back in January 2020 after I found it mentioned in the specs. And it probably was also my first realization from the ITN: we should do better than the github pullrequest based metadata registry. CIPs first appeared only 4 months later.

When I started nobody knew anything about the plans t

[2020-07-06 16:01] KtorZ commented on #1855
Hell yeah. You can thank me for that (or blame me :upside_down_face:). We were quite in a hurry for the ITN launch and there had been unforeseen complications regarding pools metadata. So we needed a quick'n'dirty solution that would work. I wonder how github didn't block this repository, but it kinda did the job the ITN.

This was however never intended to be a long-term solution. It is wrong in

[2020-07-07 03:21] liuxh-go opened #1866 "I used to use cardano-sl wallet to generate addresses and receive tokens, but now I want to use cardano-wallet, how do I transfer the tokens from cardano-sl wallet to cardano-wallet?"

[2020-07-07 05:43] mestakepool opened #1867 "Wallet doesn't show meta data re-registered (in case of changing metadata url without changing metadata hash)"
I have done re-registration multiple times hoping that I will be able to register meta data in wallet successfully but wallet back-end running doesn't show meta data information or at least issues while fetching it.

I have exhausted trying all possible options by discussing with the community members. So raising issue here with below details. Kindly help.

Options tried till now.
1. Removed all s

[2020-07-07 07:45] piotr-iohk commented on #1867
@mestakepool I was just able to re-register metadata of the stake-pool following -> https://github.com/input-output-hk/cardano-tutorials/blob/master/node-setup/080_register_stakepool.md (the only difference is that re-registration does not require deposit, only fees). I see my updated metadata in the wallet.

My metadata -> https://piotr-iohk.github.io/adrestia-qa-board/QAPool1.json
Steps I did:

[2020-07-07 07:51] KtorZ commented on #1867
@mestakepool I've just resync with the shelley testnet and your pool just doesn't exist? Or at least, there are no pool registered with such metadata URL. Did you register your pool on chain?

[2020-07-07 07:56] mestakepool commented on #1867
hi,
I did all steps same as mentioned by you. Didn't pay deposit as it is re-registration. I have wallet backend running on my node but it doesn't show any details about my pool. Steps followed by me is mentioned below.

wget https://www.adaglobe.com/adaglobe.json
cardano-cli shelley stake-pool metadata-hash --pool-metadata-file adaglobe.json
5ab7b895eb868fec37d4d22489eb2b2821d969d5a712119c60038ec

[2020-07-07 07:57] KtorZ commented on #1866
Have you written down your mnemonic words you used to create your wallet in cardano-sl ?

[2020-07-07 07:58] liuxh-go commented on #1866
no

[2020-07-07 08:03] KtorZ commented on #1867
So okay, the logs are filled with:

- Fetching metadata with hash 5ab7b895 from https://foo.bat/poolmeta.json
  Failed to fetch metadata from https://foo.bat/poolmeta.json: HTTP exception.

I supposed this is one of your first registration. Yet, pools metadata attempts are cached based solely on their hash and retried on failure with an increasing delay. I am afraid that this URL is taking all the

[2020-07-07 08:03] KtorZ commented on #1866
Then there's nothing we can do for you, sorry.

[2020-07-07 08:03] #1866 closed, assigned to nobody

[2020-07-07 08:13] mestakepool commented on #1867
My pool is running and produced 48 blocks by now. I did re-registration at least 6-8 times for last 3 days as wallet backend was not showing any log related to my meta data fetch attempts.

The one mentioned above was my first registration but I changed it with correct file name long back.

Do you mean I should create a different hash and try again as this hash was retired on initial failures?

[2020-07-07 08:15] mestakepool commented on #1867
One more thing is that pooltool picked up my hash correctly.

https://pooltool.io/pool/76e9f93e2e5d3b4eca8d0577f6b071a33befaf92bc793220dc3b5c60/delegators

[2020-07-07 08:18] liuxh-go commented on #1866
I see a data table named privilege_key in the rnd.xxx.sqlite database. Can I restore it by the value of the root field?

[2020-07-07 08:18] mestakepool commented on #1867
you can check for below pool ID

76e9f93e2e5d3b4eca8d0577f6b071a33befaf92bc793220dc3b5c60

[2020-07-07 08:29] KtorZ commented on #1867
That would certainly fix the issue indeed (you could extend your description by a few chars). Although, I believe this could deserve a little fix on our end too.

[2020-07-07 08:30] liuxh-go commented on #1866
I tested the following on the test network, this is possible, restore my wallet through the root and hash information in the database.

[2020-07-07 08:42] liuxh-go commented on #1866
The document in the cardano-rest project is wrong. Can you solve the following? @KtorZ

explorer-api: https://input-output-hk.github.io/cardano-rest/explorer-api/
submit-api: https://input-output-hk.github.io/cardano-rest/submit-api/

Unable to open the api document page, the following is the error message:

[code]

[2020-07-07 08:44] mestakepool commented on #1867
Thank you for quick update. I will try with a different hash as suggested and will update here.

[2020-07-07 10:25] Anviking commented on #1720
@piotr-iohk is this ok now?

[2020-07-07 10:33] Anviking opened #1868 "Properly support BlockHeader <-> HF.Point conversions"
# Context

We can no longer (correctly) convert `SlotNo` to `SlotId` using the genesis epoch length when
the hard fork arrives. Shelley may use a different epoch length.

To interact with the node we need to provide points which are `(slotNo, headerHash)`.

Rollbacks to EBBs are not a concern as they have already ceased to be produced.

# Decision

- Replace SlotId with SlotNo in DB
- Concider usi

[2020-07-07 10:41] Anviking opened #1869 "Support SlotNo <-> UTCTime conversions"
# Context

⚠️ **Ticket may be partly wrong. In the Shelley phase of Byron;Shelley, we have unlimited forecast range** ⚠️

We currently have naive point -> time conversions that are going to break with the hard fork. We:
- Show the time transactions were inserted to the ledger
- Show the time of the next epoch
- Show the time of future changes to the delegation status

To help us, there will be a q

[2020-07-07 10:44] Anviking opened #1870 "Actually integrate with HFC (byron-shelley) node"
# Context

User story: ADP-356

Creating this task for the actual integration with the HFC node, where as other tasks in the milestone are more preparatory.

### Questions

1. Q: We probably need to switch dynamically between the byron and shelley transaction layer.
    A: This is no longer the case - we don't need to support single-era mode any more.

2. Q: Can there be race conditions where tip

[2020-07-07 10:46] piotr-iohk commented on #1720
@Anviking I don't see difference on current wallet master and cardano-node `1.4.2`:
[code]

[2020-07-07 10:49] Anviking commented on #1720
It should be working with https://github.com/input-output-hk/cardano-node/commit/a2161bac700fac55d2400b37f9935ed8ea527550 which is what is specified on the wallet readme

[2020-07-07 10:59] KtorZ commented on #1866
Hmm. Things are working just fine for me on both Firefox and Chrome. Are you using a stable Internet connection? Are you behind a firewall that would block github?

[2020-07-07 11:03] Anviking opened #1872 "Remove `GenesisParameters` from wallet checkpoints"
# Context

In ADP-356 we are integrating with Hard Fork Combinator.

In each wallet checkpoint we are currently storing:

[code]

Note that
- `epochLength`, `slotLength` may change in the byron-to-shelley transition, but I don't think wallet checkpoints are suitable for keeping track of this.
- `epochStability` (i.e. `k`/ `securityParam`) is completely static
- We store recent `TxParameters` in a

[2020-07-07 12:48] Anviking commented on #1868
I think it would be neat to even use the _very same_ `SlotNo` definition as other projects https://github.com/input-output-hk/cardano-base/blob/5c6db42be8ed83463f89e6257d8eb94ca4df8ca9/slotting/src/Cardano/Slotting/Slot.hs#L31-L35

[2020-07-07 15:16] piotr-iohk commented on #1720
lgtm

[2020-07-07 15:16] #1720 closed, assigned to Anviking

[2020-07-08 00:04] SViksha opened #1876 "Metadata submited with json will allow multiple pools creating same ticker"
# Context

Metadata for wallet is accepted via json file which will allow multiple pool to use same Ticker . Also that will allow pool to high-jack the most famous pool to defame them. We have build good reputation on the ITN and would like to keep same Ticker but there are chances that other pool operator may high-jack the Ticker.

# Resolution

Allow way to transfer the  ITN ticker by signing ma

[2020-07-08 02:11] liuxh-go opened #1878 "After using random(from xprv) to restore the wallet, Migrations reports an error"
I used random(from xprv) to restore the wallet, and then I want to use Byron Migrations to transfer my assets to the new wallet, but the following error occurred:

[code]

Because it is on the test network, so I did not delete the key information in the error message.

How should I transfer my assets?

[2020-07-08 05:19] liuxh-go commented on #1866
Everything works on my network, it doesn't seem to be a problem with the network

[2020-07-08 05:20] liuxh-go commented on #1878
@KtorZ Can you help me?

[2020-07-08 06:50] KtorZ commented on #1876
Unfortunately, there's _"nothing"_ the wallet can do about it :/ . There's no rules enforced by the ledger about the uniqueness of the ticker for this generates many other problems (suppose for a second that the ticker are unique, what prevents an attacker from registering all known tickers from the ITN before, if not everyone, most legit pool operators?)

The problem isn't quite simple but after

[2020-07-08 06:50] #1876 closed, assigned to nobody

[2020-07-08 06:54] KtorZ commented on #1876
There could be an ad-hoc process however for _proving ownership_ of metadata (like you're suggesting as a resolution). This would have to be implemented by any client software  consuming metadata. If you find time for it, I'd highly suggest to draft a [CIP proposal](https://github.com/cardano-foundation/CIPs) about it, from the top of my head I believe that something in light of what you just ment

[2020-07-08 06:55] rvl commented on #1838
@jonathanknowles Yes, I think so, but after further digging this decision may change.

[2020-07-08 07:02] KtorZ commented on #1878
You previous messages suggest that you've been fiddling with the database by hand: https://github.com/input-output-hk/cardano-wallet/issues/1866#issuecomment-654681776

If that's the case, I can't (or at least, I am not willing to) help you there. Stick with the publicly exposed API and do not play with the software internals unless you know what you're doing. If you know what you're doing, you wo

[2020-07-08 07:02] #1878 closed, assigned to nobody

[2020-07-08 13:09] jonathanknowles opened #1880 "Add DB function to read the current lifecycle status for a pool."
# Context

As part of the work to track pool retirements, we need to be able to **determine the latest lifecycle status for a pool**.

A pool's current lifecycle status is determined by _registration_ and _retirement_ certificates, which are published on the blockchain.

This is complicated by the fact that:

1. A _single block_ can contain _multiple_ certificates relating to the same pool.
2. A _

[2020-07-08 13:48] KtorZ opened #1881 "Add withdrawals to core transaction data-type"
# Context

In order to correctly report an history of all withdrawals made by a user, we need to be able to filter the transaction history based on whether or not they included withdrawals.

# Decision

- Add a new database table to store withdrawals alongside input and output
- Wire down everything from the block discovery so that withdrawals are correctly inserted into the database for transacti

[2020-07-08 13:51] KtorZ opened #1882 "Allow filtering txs by minimal withdrawal amount in the API"
# Context

See #1881

# Decision

- Add a query parameter to the API `minWithdrawal` to filter transactions based on a minimal withdrawal amount (discard any withdrawal that doesn't belong to _us_).

# Acceptance Criteria

1. The API _must_ be able to filter the transaction history based on a minimal withdrawal amount.

---

# Development

- #1892

# QA

- There's a new query parameter available w

[2020-07-08 16:04] KtorZ opened #1883 "Allow configuring an additional pool metadata registry when starting wallet server"
# Context

The wallet currently fetches pool metadata from all pool remote servers. Not only this present some security _risks_ for cardano-wallet (denial of service, although the wallet is being quite defensive about things here), but it is also inefficient since every wallets have to fetch many pool metadata servers (which can be arbitrarily located on the planet).

Beside, IOHK has developed a

[2020-07-08 17:29] disassembler opened #1885 "Wallet doesn't support staging and other non-mainnet environments without address discrimination"
# Context

Suggestion is to add a `--staging` flag that takes a genesis file but disables address discrimination. This is required for the mainnet candidate as it is a testnet that can't have network discrimination since we're using a utxo snpashot from mainnet.

Let's go for:
[code]
Where staging supposes no explicit discrimination

| Information  | -

[2020-07-08 21:02] CONQUISTADORA0101 opened #1886 "Transaction fee changed"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      |  |
| Platform     |           |
| Installation |             |

# Steps to Reproduce

1. ...

## Expected behavior

## Actual behavior

---

# Resolution

---

# QA

[2020-07-08 21:08] CONQUISTADORA0101 commented on #1886
standard transaction fee changed from .172629 to .574125 on 1 out of 9 transaction

[2020-07-09 03:43] rvl opened #1888 "Nix eval is slow and memory hungry"
# Context

The Hydra evaluator requires gigabytes of memory to evaluate `release.nix`. This leads to occasional OOM errors on Hydra when multiple builds are being evaluated in parallel.

It is also rather slow -- typically 10-15 minutes!

# Steps to Reproduce

Run the following from a cardano-wallet repo clone:

[code]

## Expected behavior

Builds start quickly.

## Actual behavior

Builds start

[2020-07-09 06:29] rvl commented on #1886
Hello @CONQUISTADORA0101
This is expected.
The transaction fee depends on the transaction size.
The transaction size depends on the number of transaction inputs,
which depends on the coins which were selected to make the payment.
You can check your transactions in Cardano explorer to see.

[2020-07-09 13:32] piotr-iohk opened #1889 "inputs_depleted error when sending tx / estimating fee / running coin selection on wallet with total balance = 0"
# Context

The error used to be `not_enough_money`, now it is:
[code]

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | `2020-06-07` |
| Platform     | Linux, all          |
| Installation | from source            |

# Steps to Reproduce

1. Try to send tx / estimate fee or run random

[2020-07-10 07:02] piotr-iohk commented on #1861
Testing manually on shelley testnet. So, balance available = 1 ADA, rewards = 5 ADA, you can make successful tx (with withdrawals) for 2 ADA :tada:

About this:

See that. So, total balance = 0 ADA, rewards = 5 ADA, and making any transaction in such case (with or without withdrawals) results in `inputs_depleted` error.
Actually I think that it would be quite nice to be able to "withdraw" rewards

[2020-07-10 11:12] paweljakubas opened #1893 "Introduce minimum UTxO value"
# Context

Minimal UTXO size needs to abide by the min utxo value set by the protocol (initially in the genesis file, and via protocol updates). This value is currently set to `0` to not break the current behavior of the system but we are looking into increasing it for mainnet.

# Decision

We add minimumUTxOValue in ProtocolParameters

# Acceptance Criteria

1. `ProtocolParameters` and `ApiNetwro

[2020-07-10 12:07] KtorZ commented on #1861
This is actually a limitation of the ledger (and also why we are doing things in such way here). This is in order to prevent _replay_ attacks. Would the ledger allow such transaction with no UTxO, then it'd be possible for attacker to resubmit the exact same transaction later (including its witnesses). By requiring at least one UTxO (which can't be spent twice), this is prevented. So, I agree with

[2020-07-10 12:39] paweljakubas commented on #1675
@piotr-iohk now this can be re-looked

[2020-07-10 12:40] paweljakubas commented on #1675
this one is in QA https://github.com/input-output-hk/cardano-wallet/issues/1844 and related

[2020-07-10 14:49] piotr-iohk commented on #1861
lgtm

[2020-07-10 14:49] #1861 closed, assigned to KtorZ

[2020-07-11 09:27] got3nks commented on #1730
I confirm we was able to restore our wallet using latest cardano-wallet Docker image.

[2020-07-13 05:52] piotr-iohk commented on #1889
lgtm

[2020-07-13 05:52] #1889 closed, assigned to KtorZ

[2020-07-13 06:25] rvl commented on #1886
The random-improve coin selection strategy is designed to reduce "dust" and therefore fees on average _over time_. As a consequence, individual transactions may have slightly higher fees than they could have.

[2020-07-13 06:25] #1886 closed, assigned to nobody

[2020-07-13 14:59] piotr-iohk commented on #1844
LGTM, I have enabled additional tests for Byron txs, migrations (and also tests for byron addresses, and hw wallets) in integration tests. Also extracted the newly introduced integration test byron tx -> shelley to separate file not to run it on Jormungandr. (Jorm does not support Byron txs so it failed nightly last night). All in -> #1900.

[2020-07-13 15:00] piotr-iohk commented on #1675
lgtm, closing. Migration tests enabled in #1900.

[2020-07-13 15:00] #1675 closed, assigned to paweljakubas

[2020-07-14 06:40] piotr-iohk commented on #1881
lgtm

[2020-07-14 06:40] #1881 closed, assigned to KtorZ

[2020-07-14 08:07] piotr-iohk commented on #1893
Do I understand correctly that this will translate into minimal transaction output value and hence minimal transaction amount that can be sent?

If so It would be nice maybe to set this in out CI's [genesis.yaml](https://github.com/input-output-hk/cardano-wallet/blob/master/lib/shelley/test/data/cardano-node-shelley/genesis.yaml). I have tried to explicitely add there (minUTxOValue: 1), but the cl

[2020-07-14 09:43] paweljakubas commented on #1893
@piotr-iohk  the `minUTxOvalue` will set `dustThreshold` in feeOpt -> see comment below https://github.com/input-output-hk/cardano-wallet/blob/master/lib/core/src/Cardano/Wallet/Primitive/Fee.hs#L84

[2020-07-14 10:53] rvl opened #1903 "Performance issues importing many addresses into byron random wallet"
# Context

Using the import byron random address endpoint for transferring unused addresses from a cardano-sl random address derivation wallet is slow.

Related to #1713.

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | 2020-07-06 |
| Platform     | All          |
| Installation |

[2020-07-14 11:00] piotr-iohk opened #1904 "Wallet does not work on mainnet_candidate testnet"
# Context

Both `shelley_testnet` and `mainnet_candidate` run on cardano-node 1.15.1.
Wallet seems to work fine on `shelley_testnet` fails to start on `mainnet_candidate`.

One difference I noticed is that `mainnet_candidate` has `"minUTxOValue": 1000000` whereas `shelley_testnet` has `"minUTxOValue": 0` in genesis. Could be unrelated.

| Information  | -

[2020-07-14 12:26] piotr-iohk opened #1905 "Fee estimation on shelley wallet when tx amt > available balance takes much longer time"
# Context

Observed by @alan-mcnicholas on Daedalus Windows on shelley testnet. I am also able to observe on Linux, however the difference in time is not so siginficant.

While fee estimation of normal transaction takes 2-4 seconds, when we try to estimate tx that amt > utxo the estimation takes even 13s after it reaches `not_enough_money`.

| Information  | -

[2020-07-14 22:41] CONQUISTADORA0101 commented on #1886
Thank you

On Wed, Jul 8, 2020 at 11:30 PM Rodney Lorrimar <notifications@github.com>
wrote:

[2020-07-15 13:40] piotr-iohk commented on #1882
That looks good initially. Still not able to fully test on testnet cause there are no rewards yet on any of the wallets I have.

I see one, small corner case:

[code]

So giving `minWithdrawal=0` I'd expect to list all transactions actually, yet nothing is returned.

[2020-07-15 18:44] piotr-iohk commented on #1882
Able to confirm working on shelley_testnet also.

[2020-07-16 07:24] jonathanknowles commented on #1818
Hi @piotr-iohk!

I believe the work for this ticket is complete. Would you be okay with me closing it?

[2020-07-16 07:24] jonathanknowles commented on #1815
Hi @piotr-iohk!

I believe the work for this ticket is complete. Would you be okay with me closing it?

[2020-07-16 07:25] jonathanknowles commented on #1816
Hi @piotr-iohk!

I believe the work for this ticket is complete. Would you be okay with me closing it?

[2020-07-16 07:25] jonathanknowles commented on #1820
Hi @piotr-iohk!

I believe the work for this ticket is complete. Would you be okay with me closing it?

[2020-07-16 07:25] jonathanknowles commented on #1880
Hi @piotr-iohk!

I believe the work for this ticket is complete. Would you be okay with me closing it?

[2020-07-16 07:52] piotr-iohk commented on #1903
LGTM!
Importing 130k addresses => ~7s.
Listing 130k addresses => ~3s.

[2020-07-16 07:52] #1903 closed, assigned to jonathanknowles, paweljakubas

[2020-07-16 08:14] piotr-iohk commented on #1893
I have requested minUtxoValue change on shelley_testnet. It used to be 0 and now is 1ADA. I see that value in `GET /network/parameters` is updated properly.

But when now one tries to send transaction with amt < 1, the wallet returns `500`:

[code]

Perhaps, that's not really related with that "story"? If so, I'll close this one and report it elsewhere.

@paweljakubas let me know.

[2020-07-16 08:22] piotr-iohk opened #1914 "Sending tx with amt < minUtxoValue returns 500"
# Context

Sort of https://github.com/input-output-hk/cardano-wallet/issues/1893.

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | `2020.7.6 (git revision: 53805cc60e6264054c501da85a5d05ab8df1ae10)`|
| Platform     | linux, all         |
| Installation | from source           |

# Ste

[2020-07-16 08:22] piotr-iohk commented on #1893
Closing this one. Bug for the issue -> https://github.com/input-output-hk/cardano-wallet/issues/1914.

[2020-07-16 08:22] #1893 closed, assigned to paweljakubas

[2020-07-16 09:32] piotr-iohk opened #1915 "Reward history: minWithdrawal = 0 behaves the same as minWithdrawal = 1"
# Context

https://github.com/input-output-hk/cardano-wallet/issues/1882

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | `2020.7.6 (git revision: 53805cc60e6264054c501da85a5d05ab8df1ae10)` |
| Platform     | Linux all          |
| Installation | from source            |

# Steps to R

[2020-07-16 09:33] piotr-iohk commented on #1882
Closing this one. Issue for the corner case => https://github.com/input-output-hk/cardano-wallet/issues/1915.

[2020-07-16 09:33] #1882 closed, assigned to KtorZ

[2020-07-16 09:34] piotr-iohk commented on #1820
lgtm.

[2020-07-16 09:34] #1820 closed, assigned to jonathanknowles

[2020-07-16 09:36] piotr-iohk commented on #1815
lgtm.

[2020-07-16 09:36] #1815 closed, assigned to jonathanknowles

[2020-07-16 09:37] piotr-iohk commented on #1880
lgtm.

[2020-07-16 09:37] #1880 closed, assigned to jonathanknowles

[2020-07-16 09:38] piotr-iohk commented on #1818
lgtm.

[2020-07-16 09:38] #1818 closed, assigned to jonathanknowles

[2020-07-16 09:38] piotr-iohk commented on #1816
lgtm.

[2020-07-16 09:38] #1816 closed, assigned to jonathanknowles

[2020-07-16 12:45] paweljakubas opened #1917 "Shelley activation countdown"
# Context

We want to have information when the era transition happens

# Decision

we are extending network parameters and account for era transition information which will be powered from consensus layer via local network protocol

# Acceptance Criteria

1. NetworkParameters is extended
2. swagger is updated
3. we support the information about transition from consensus layer via local network pr

[2020-07-17 11:16] rvl opened #1919 "Remove cardano-wallet-byron package"
# Context

ADP-356

With the hard fork combinator we have a wallet which works on both byron and shelley networks. This will be in the cardano-wallet-shelley package.

We no longer require wallets that can only work with single-era nodes.

# Decision

Remove the cardano-wallet-byron package.

Salvage any tests or benchmarks and copy them across to the cardano-wallet-shelley package.
- Restore benc

[2020-07-17 11:21] rvl opened #1920 "Hard fork integration tests"
# Context

ADP-356

With the hard fork combinator, we now have a wallet that must work in both byron and shelley eras.

Therefore we should run our integration tests during both eras.

# Decision

1. Adjust the local cardano cluster setup so that it runs in dual era mode and is able to hard fork.
2. Modify cardano-wallet-shelley:test:integration API specs so that they are run initially in byron mo

[2020-07-17 13:32] piotr-iohk opened #1923 "Transaction with withdrawRewards=true shows misleading amount sent"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | `2020.7.6 (git revision: cf3847dd08d1c1848c675a1ee94ae12c1d85aadf)` |
| Platform     | Linux, all         |
| Installation | Daedalus           |

# Steps to Reproduce

On shelley testnet:
0. A wallet, total balance = 1,1M ada

[2020-07-18 09:47] piotr-iohk commented on #1923
This translates basically to wrong sent amount being displayed in Daedalus in case of transactions with withdrawals:

![Screenshot from 2020-07-17 14-45-25](https://user-images.githubusercontent.com/42900201/87849892-75a7f500-c8ec-11ea-8ea7-c8ca6963eac0.png)
![Screenshot from 2020-07-17 14-51-47](https://user-images.githubusercontent.com/42900201/87849897-79d41280-c8ec-11ea-81d5-00552de9241a.png)

[2020-07-18 10:00] piotr-iohk commented on #1914
Tested this on branch https://github.com/input-output-hk/cardano-wallet/pull/1916#issuecomment-659479276. There were some minor changes in the meantime so for now I'll leave it in QA until minUtxoValue will be set again on testnet. To be checked then.

[2020-07-18 10:46] paweljakubas opened #1926 "Minimum utxo value should not influence inputs"
# Context

We have #1916 dealing with outputs in the context of minimum value utxo. Also in #1894 we make dust determined by it.
The min value rule in the ledger is simple: new outputs must be bigger than the minimum.
The min value can be changed, and this can lead to existing UTxOs being below the current minimum for new outputs. Those existing UTxOs are still spendable.

# Decision

Revert the d

[2020-07-18 11:38] piotr-iohk commented on #1708
I saw manifestation of this in Daedalus few times. In Daedalus it looks then as if all wallets suddenly disappeared. That is because listing Shelley wallets in case of this error results in:
[code]
Luckily restarting Daedalus usually helps and everything is back to normal.

[2020-07-18 12:29] piotr-iohk commented on #1823
This is no longer observed. Probably fixed opportunistically.

[2020-07-18 12:29] #1823 closed, assigned to nobody

[2020-07-18 13:04] piotr-iohk commented on #1713
This should no longer be the issue after recent improvements -> https://github.com/input-output-hk/cardano-wallet/issues/1903#issuecomment-659226775.

[code]

[2020-07-18 13:04] #1713 closed, assigned to nobody

[2020-07-18 16:01] Anviking commented on #1749
FYI @piotr-iohk, #1901 changed the sync percentage calculation

[2020-07-20 08:06] piotr-iohk commented on #1749
I don't see this behavior on current testnet. Closing.

[2020-07-20 08:06] #1749 closed, assigned to nobody

[2020-07-20 08:18] rvl commented on #1904
This will be fixed by #1909.

[2020-07-20 08:32] piotr-iohk opened #1929 "Benchmarks are failing"
# Context
 https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/576

# Test Case
![Screenshot from 2020-07-20 10-28-16](https://user-images.githubusercontent.com/42900201/87916491-cac24300-ca73-11ea-9174-b098a5f13d52.png)

# Failure / Counter-example

Restore benchmarks:
[code]

Database benchmark:
[code]

Latency benchmark:
[code]

---

# Resolution

---

# QA

[2020-07-20 08:49] piotr-iohk opened #1930 "Stakepools are not shown immediately in wallet after they are registered."
# Context
 https://input-output-rnd.slack.com/archives/GBT05825V/p1595052799003600

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | `2020.7.6 (git revision: cf3847dd08d1c1848c675a1ee94ae12c1d85aadf)` |
| Platform     | all         |
| Installation | Daedalus / From source          |

[2020-07-20 10:46] Anviking commented on #1930
Copying from slack for visibility:

even if that might technically be a separate ticket

[2020-07-20 12:37] piotr-iohk commented on #1915
lgtm

[2020-07-20 12:37] #1915 closed, assigned to paweljakubas

[2020-07-20 12:37] piotr-iohk commented on #1868
lgtm

[2020-07-20 12:37] #1868 closed, assigned to Anviking

[2020-07-20 14:50] piotr-iohk commented on #1844
Closing. This is basically working OK. Still #1900 with additional tests to be merged.

[2020-07-20 14:50] #1844 closed, assigned to paweljakubas

[2020-07-21 07:58] SimonVillage opened #1933 "cardano wallet: ConnectionError"
I have followed the instructions on https://github.com/input-output-hk/cardano-wallet/blob/master/README.md
using mainnet.

command `curl http://localhost:8090/v2/network/information` works but `docker run --network host --rm inputoutput/cardano-wallet network information` does not

[code]

[code]

[2020-07-21 09:07] SimonVillage commented on #1933
It works without using docker. Solved for me

[2020-07-21 09:07] #1933 closed, assigned to nobody

[2020-07-21 09:09] KtorZ commented on #1933
I think `--network host` only works on Linux systems, Docker doesn't support this type of network layer for OSX and Windows. Are you running on OSX by any chance?

[2020-07-21 09:10] piotr-iohk commented on #1933
@SimonHausdorf this might be a docker limitation if you're base system is not Linux. -> https://docs.docker.com/network/host/

[code]

On my end I see it is working on Ubuntu 20.04:

[code]

[2020-07-21 09:11] SimonVillage commented on #1933
Hm that's weird, I am on ubuntu 20.04 as well, didn't make any customizations except switchting it to mainnet.

[2020-07-21 09:11] KtorZ commented on #1930
This is a necessary limitation until we are done with the retirement certificates story. As a matter of fact, we currently rely on the ledger's state to know whether pools are active or not.

We are processing and discovering pool's registration certificates ourselves, indeed but I am not quite sure about the status of the retirement discovery and handling at the moment? cc @jonathanknowles

[2020-07-21 09:12] SimonVillage commented on #1933
[code]
[code]

[2020-07-21 09:19] #1831 closed, assigned to nobody

[2020-07-21 10:08] jonathanknowles commented on #1930
@KtorZ wrote:

I'll try to shed some light on this.

## Current status

When constructing the list of pools to return in `GetStakePools`, we currently rely on **two data sources**:

1. Our database record of _registration_ and _retirement_ certificates.
2. The data returned by local state query (via `getStakeDistribution`).

As for the former (our database record), we update this whenever we proce

[2020-07-21 10:17] piotr-iohk commented on #1933
:thinking: Not sure what might be the issue. I am able to switch between NETWORK=mainnet and NETWORK=testnet (with this small fix for byron testnet, but that should not be related to your problem -> https://github.com/input-output-hk/cardano-wallet/pull/1934).

But perhaps clearing volumes might be helpful? (if that's an option).

[2020-07-21 10:27] KtorZ commented on #1930
So, now that we store retirement certificates, we could change this particular behavior here:

https://github.com/input-output-hk/cardano-wallet/blob/5161dde504e3326b47833de30e2c462348d8ab96/lib/shelley/src/Cardano/Wallet/Shelley/Pools.hs#L205-L207

to not drop pools that we are aware of but aren't active yet. The question is what do we do with:

a. The non myopic member reward
b. The relative own

[2020-07-21 11:02] piotr-iohk commented on #1832
Fixed by #1934.

[2020-07-21 11:02] #1832 closed, assigned to nobody

[2020-07-21 13:18] piotr-iohk commented on #1930
I don't know if this is equivalent but pool **is** visible in the ledger state immediately after it is registered, at least it is visible when querying with `cardano-cli`:
[code]
But maybe it is not marked as "active" yet...

So from the observation retired pool is no longer visible in the LSQ data since `e + 4`, where `e` is the retirement epoch -> https://github.com/input-output-hk/cardano-walle

[2020-07-21 16:17] piotr-iohk commented on #1817
lgtm

[2020-07-21 16:17] #1817 closed, assigned to jonathanknowles

[2020-07-22 04:42] jonathanknowles commented on #1930
@KtorZ wrote:

So it would seem that the only sensible default for each of these values is **zero**?

I've coded up a PR that does this here: https://github.com/input-output-hk/cardano-wallet/pull/1936

[2020-07-22 04:50] jonathanknowles commented on #1930
@piotr-iohk

Assuming we use the approach suggested above (to use default values for LSQ data when LSQ data is not available), this would mean that retired pools no longer disappear from the list returned by `ListStakePools`, unless we **either**:

- exclude retired pools from the `ListStakePools` listing (by filtering out pools where `currentEpoch >= retirementEpoch`); **or**
- garbage collect re

[2020-07-22 06:38] KtorZ commented on #1930
@jonathanknowles IMO, it's not a `or` statement, but a `and then`, where the first one (exclude retired pools from listing) MUST be done as part of the retirement certificates story. We should not show pools that are retired (which I believe we do not currently because of the way we combine data from the LSQ, a retired pool wouldn't show up). Yet if we change this behavior such that _some pools_ n

[2020-07-22 06:53] jonathanknowles commented on #1930
@KtorZ wrote:

As far as I know, this requirement is _not yet_ an explicit part of [ADP-313](https://jira.iohk.io/browse/ADP-313), which merely states:

In other words the story doesn't specify a preference between:

1. keeping retired pools in the list, but indicating that they are retired; and
2. removing retired pools from the list.

Of course, if we wanted to remove pools from the list returne

[2020-07-22 08:09] KtorZ commented on #1930
Make it so then :upside_down_face: ! It should've been.

Yes, though this filtering needs to happen inside a database query and NOT in-memory after fetching pools.

[2020-07-22 08:23] jonathanknowles commented on #1930
@jonathanknowles wrote:

@KtorZ responded:

Done!

I've added the following requirement to those listed in [ADP-313](https://jira.iohk.io/browse/ADP-313):

Also:

:+1:

[2020-07-22 09:34] jonathanknowles opened #1937 "Do not list retired pools in the API."
# Context

As part of the work to track stake pool retirements, we need to prevent pools that have already retired from being listed in public API operations.

# Decision

- Prevent the `ListStakePools` API operation from listing pools that have already retired.
- If practical, use a database query to filter out retired pools, rather than in-memory filter.

# Acceptance Criteria

- [x] The wallet

[2020-07-23 07:23] jonathanknowles opened #1939 "Provide more information on failure to determine current epoch."
# Context

As part of the work to track stake pool retirements, we must reject attempts to join stake pools that have already retired.

In order to do this, we must compare the pool's retirement epoch with the _current_ epoch.

However, determining the current epoch is an operation that might fail:

https://github.com/input-output-hk/cardano-wallet/blob/05d377418b02e59e1299a0eaee135802c52735d2/lib

[2020-07-23 08:29] jonathanknowles opened #1940 "`STAKE_POOLS_LIST` tests fail due pools appearing out of order."
# Context

As part of the stake pool integration tests, we verify that pools within the test cluster have the  retirement epochs that we expect.

However, this test relies on pools being listed in a certain order, which turns out to be a condition that we can't currently rely on.

# Test Case

`STAKE_POOLS_LIST_01 / pools have the correct retirement information`

# Failure / Counter-example

https

[2020-07-23 09:13] piotr-iohk commented on #1885
lgtm

[2020-07-23 09:13] #1885 closed, assigned to KtorZ

[2020-07-23 20:43] paweljakubas opened #1944 "Account for reclaims in primitive model"
# Context

In #1942 we accounted for `withdrawals` in `mkTxMeta` of `Cardano.Wallet` and in primitive model in `prefilterBlock`. Still, `reclaim` is to be addressed. We need to take reclaims into account in the primitive model when prefiltering blocks.
Ideally, we would look at the explicit fees on the transaction to know whether there are implicit reclaims or not. But, we don't have these explici

[2020-07-24 14:11] piotr-iohk commented on #1923
lgtm.

[2020-07-24 14:11] #1923 closed, assigned to paweljakubas

[2020-07-24 19:17] PegasusPool opened #1948 "Stake-pool list can return pools without cost, margin and pledge"
# Context

The Pegasus app crashed when processing the pools from cardano-wallet on "Shelley Testnet 2".
After investigating I realised that some pools have missing fields that I never expected to be null.

Query:
`cardano-wallet-shelley stake-pool list --port 3102 --stake 1`

Response:
[code]

| Information  | Cardano-node                                          |
| ---          | ---

[2020-07-24 19:33] KtorZ commented on #1948
Pools information are fetched from 3 different places (ledger state, on-chain data and metadata server). It is utterly complicated / not desirable to maintain these three data-sources in sync. The pool cost, margin and pledge comes from on-chain certificates that are eventually read discovered. Yet, if you query the API right before they are, the wallet may not yet know about them but still know a

[2020-07-24 20:18] PegasusPool commented on #1948
Thanks for the explanation @KtorZ
I'll deal with this in the app now and hope your proposal to discard data received from the ledger in the absence of a certificate will be implemented at some point.

[2020-07-25 09:02] jonathanknowles opened #1949 "Decide how to show retired pools in the `delegation` field of `ApiWallet`."
# Context

After a stake pool _**p**_ retires, it will no longer appear in the output of `ListStakePools`.

However, if wallet _**w**_ delegated to pool _**p**_ while it was still active, then after pool _**p**_ retires, the ID of pool _**p**_ will still show in the `delegation` field of `ApiWallet` objects returned by the `GetWallet` and `ListWallets` API operations (assuming wallet _**w**_ did n

[2020-07-25 09:10] jonathanknowles commented on #1939
@Anviking Do you have any opinion on how we might make this particular error more informative?

[2020-07-25 09:24] jonathanknowles commented on #1833
I suspect this issue is fixed by:
- https://github.com/input-output-hk/cardano-wallet/pull/1913
- https://github.com/input-output-hk/cardano-wallet/pull/1945

@piotr-iohk what do you think?

[2020-07-25 09:42] piotr-iohk commented on #1937
lgtm

[2020-07-25 09:42] #1937 closed, assigned to jonathanknowles

[2020-07-25 10:25] piotr-iohk opened #1950 "Migration of wallets with utxos having <= minUTxOValue"
# Context

Introducing minUTxO value parameter causes problems migrating such wallets.

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | 2020.7.6 |
| Platform     | all          |
| Installation | from release          |

# Steps to Reproduce

1. Try to migrate wallet (byron or shelley

[2020-07-25 10:44] piotr-iohk commented on #1819
ok

[2020-07-25 10:44] #1819 closed, assigned to jonathanknowles

[2020-07-25 10:45] piotr-iohk commented on #1940
ok

[2020-07-25 10:45] #1940 closed, assigned to jonathanknowles

[2020-07-25 12:19] piotr-iohk commented on #1926
Do I understand correctly that this change will be discarded? @paweljakubas, @KtorZ

[2020-07-25 12:42] KtorZ commented on #1926
This issue is to be discarded indeed. The dust threshold has no influence on the inputs but operate on the change outputs.

[2020-07-25 12:43] KtorZ commented on #1950
see #1947

[2020-07-25 13:30] piotr-iohk commented on #1926
Closing.

[2020-07-25 13:30] #1926 closed, assigned to paweljakubas

[2020-07-25 13:45] piotr-iohk commented on #1914
This is no longer an issue -> integration tests added in #1935 https://github.com/input-output-hk/cardano-wallet/commit/4b8c2c559d3ebc9faa2e967fc3d6b29cbd2b3138

(integration tests to be merged yet)

[2020-07-25 20:58] Anviking commented on #1939
It's possible with #1943, with the change from `TimeInterpreter IO` to `TimeInterpreter (ExceptT IO PastHorizonException)` (Sorry, I think I indicated some time that the `Nothing` of `currentEpoch` could "include" `PastHorizonException`, but that is not the case.)

There should be reasons for failure:
- Current time is behind genesis. Action: 🤷‍♂️
- Node is in the Byron era of Byron;Shelley, and t

[2020-07-25 21:01] piotr-iohk commented on #1833
By brute force test all 268 pools on shelley testnet joinable.

[2020-07-25 21:01] #1833 closed, assigned to jonathanknowles

[2020-07-26 06:53] piotr-iohk opened #1952 "Incoming tx with withdrawals shows wrong amount received"
# Context

https://github.com/input-output-hk/cardano-wallet/issues/1923 addresses amount being displayed on **outgoing** transaction, however we missed the **incoming** tx part...

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | `2020.7.6 (git revision: 71c0b8fd10aaf7e09c62c42571780f

[2020-07-26 17:33] hasufell opened #1953 "Haddock link returns 404"
https://input-output-hk.github.io/cardano-wallet/haddock/edge

[2020-07-26 19:29] KtorZ commented on #1953
We've indeed removed automatically exported haddock documentation. The link to Haddock needs to be removed :+1:

[2020-07-26 21:12] Anviking opened #1955 "Balance temporarily increases when spending rewards"
# Context

- When spending rewards, we spend everything
- Restoring a ITN wallet is an easy way to get a wallet with only rewards
- Think Alan created a thread about this in #adrestia-dev some time ago

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      |  |
| Platform     |           |
|

[2020-07-27 02:08] QiFengWHu opened #1956 "Concern about signature used in Cardano"
Dear developers, I'm wondering about the signature used in Cardano. Is it a general version of Ed25519, or I mean does the message need to be hashed before signing? According to the NIST standard, there are two versions of Ed25519, there are EdDSA and HashEdDSA. Looking forward to hearing from you.

[2020-07-27 07:20] piotr-iohk commented on #1920
lgtm

[2020-07-27 07:20] #1920 closed, assigned to Anviking

[2020-07-27 08:34] rvl commented on #1956
Hi, we use the cryptonite [Crypto.PubKey.Ed25519](http://hackage.haskell.org/package/cryptonite-0.25/docs/Crypto-PubKey-Ed25519.html) library for signing transactions. The transaction body is hashed before signing.

[2020-07-27 08:37] QiFengWHu commented on #1956
I see, thanks a lot.

[2020-07-27 08:37] #1956 closed, assigned to nobody

[2020-07-27 08:59] rvl commented on #1956
Correction @QiFengWHu - there are two payment signing schemes in Cardano Shelley - "normal" and "extended". cardano-wallet only uses "extended" Ed25519. See [BIP32-Ed25519](https://github.com/input-output-hk/adrestia/blob/master/user-guide/static/Ed25519_BIP.pdf) for details and [cardano-crypto](https://github.com/input-output-hk/cardano-crypto/) for the implementation.

[2020-07-27 09:14] QiFengWHu commented on #1956
The cardano-crypto for the implementation is really helpful. You are so nice to answer me by this resources.
By the way, the Ed25519_BIP.pdf is somehow invalid now, it's kindly unfortunate.

[2020-07-27 10:46] lijianl opened #1958 "Prepare for shelley hardfork"
I have a cardno-wallet service running of Byron-Wallets and waiting for the Shelley hardfork coming soon.

what should I do to prepare for this hardfork, any information, or link to introduce?

Do I need to change my wallet API from 'byron' to SHELLEY, any else to pay attention to?

[2020-07-27 10:50] Anviking opened #1959 "Sort pools with equal rewards randomly"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      |  |
| Platform     |           |
| Installation |             |

# Steps to Reproduce

1. List pools

## Expected behavior

1. Having a poolId starting with `0` shouldn't be better than one starting with `f`
2. Pools with equal

[2020-07-27 12:19] KtorZ commented on #1708
@rvl From a few experiments I conducted the other day (observing crashes in the integration test cluster), I observed 3 failures that had the same symptoms and led to a "wallet_not_responding" kind of situation.

Symptoms were, at some point in time, the wallet would fail to acquire a point on chain:

[code]

And, within a few seconds later, the worker would suddenly exits with a:

[code]

With no

[2020-07-27 12:36] Anviking commented on #1708
If I run 3 instances of
[code]
against the relay node while the integration tests are running, I get many
[code]
, but that is different from `Resource temporarily unavailable`

My original suspicious was whether our strategy to close-and re-open the connection when the wallet worker rolls back actually was sound, as we can rollback often.

[2020-07-27 13:26] piotr-iohk commented on #1870
lgtm

[2020-07-27 13:26] #1870 closed, assigned to rvl

[2020-07-27 14:07] piotr-iohk opened #1960 "GET http://localhost:8090/v2/network/information returns 500 on mainnet while wallet is syncing through Byron era."
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | `2020.7.6 (git revision: 93c177b179fc4fc500858ebfbbf4ed7ecfc2c6bc)` |
| Platform     | Linux       |
| Installation | From source            |

# Steps to Reproduce

1. Start cardano-wallet-shelley on mainnet. (https://hydra.i

[2020-07-27 14:34] KtorZ commented on #1958
We'll detail what to do in the upcoming release notes. But in brief:

- The API stays the same. The "Byron" sections of the API keeps working identically (modulo disclaimer below).
- Byron wallets won't have any delegation capability, so if you intend to delegate, you'll have to create new "Shelley" wallets.
- You'd have to use a new binary that can survive the hard-fork (upcoming release)
- On th

[2020-07-27 15:23] Anviking commented on #1960
Should be solved by #1943

[2020-07-27 16:11] KtorZ commented on #1948
Should be fixed in latest `master` now.

Fixed as in: pools will only be returned with cost, margin and pledge.

[2020-07-27 18:12] Anviking opened #1963 "Stake pool DB worker doesn't save sync progress in Byron"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      |  |
| Platform     |           |
| Installation |             |

# Steps to Reproduce

1. Start a `cardano-node` connected to the byron mainnet
1. `cardano-wallet-shelley serve --node-socket socket --mainnet --database wallet-d

[2020-07-27 21:00] Fell-x27 opened #1964 "An error during the sync of existence wallets "Unexpected error following the chain""
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | Current master |
| Platform     | Linux    |
| Installation | From sources          |

# Steps to Reproduce

1. Launch the Node 1.18.
2. Launch the cardano-wallet-byron over old wallets storage (from version for node 1.15)
3.

[2020-07-27 21:21] KtorZ commented on #1964
There's an overflow in the sync progress calculation indeed. #1943 should make things better here.

[2020-07-27 21:28] KtorZ opened #1965 "Redeem ITN rewards from mainet wallet"
# Context

- As a ADA stakeholder who participated in the ITN,
- I want to be able to redeem my rewards from the ITN to my mainnet wallet,
- Without having to send a transaction to my ITN account first.
- So that I can enjoy my ITN rewards.

# Decision

- Make it possible to redeem rewards of a wallet A from the API using another wallet B.

# Acceptance Criteria

1. It _must not_ be necessary to r

[2020-07-28 07:53] rvl opened #1970 "Shelley integration test cluster setup on windows"
# Context

On windows, the shelley integration test cluster fails to submit a hard fork update proposal.

# Test Case

`cardano-wallet-shelley-test-integration.exe`

# Failure / Counter-example

Seen in PR #1912.

---

# Resolution

### Analysis

The bft node is not able to forge blocks. This is because it has started about 15 seconds after its configured start time, and our epoch length is quite

[2020-07-28 09:13] piotr-iohk commented on #1930
LGTM. Pool is immediately visible in wallet after registering. You can also delegate to it.

Checked on MC4:

[code]

[2020-07-28 09:13] #1930 closed, assigned to jonathanknowles

[2020-07-28 09:15] piotr-iohk commented on #1948
lgtm

[2020-07-28 09:15] #1948 closed, assigned to jonathanknowles

[2020-07-28 10:02] piotr-iohk commented on #1853
Works as expected. Also checked that pool that is about to retire (but not yet retired) is still joinable.

[2020-07-28 10:02] #1853 closed, assigned to jonathanknowles

[2020-07-28 10:06] piotr-iohk commented on #1952
lgtm

[2020-07-28 10:06] #1952 closed, assigned to KtorZ

[2020-07-28 10:07] piotr-iohk commented on #1917
lgtm

[2020-07-28 10:07] #1917 closed, assigned to paweljakubas

[2020-07-28 11:18] piotr-iohk commented on #1955
I have tried to test it also on MC4 with earned rewards.
 - while transaction is `pending` there is no increase in total amount
 - for a very brief period upon transaction transition into `in_ledger` I _think_ I saw doubled total amount
 - then it was all OK when it was already `in_ledger`

Is it possible?

[2020-07-28 11:20] piotr-iohk commented on #1914
Ok, as this is no longer the case, I'm closing this. PR #1935 (setting minUTXOValue in CI) is _in progress_.

[2020-07-28 11:20] #1914 closed, assigned to paweljakubas

[2020-07-28 11:38] Anviking commented on #1955
That sounds like:

So I think that is currently possible for short periods of time.

[2020-07-28 11:54] KtorZ commented on #1955
It is possible indeed. The reward balance update and the block processing happens concurrently in two separate workers. They're invoked roughly at the same time but possibly with a visible delay. As a result there could be a point in time where there's no more pending withdrawal, but the balance hasn't been updated to `0` yet.

We could "force" our cached balance to zero after processing a withdra

[2020-07-28 12:42] piotr-iohk commented on #1950
lgtm

[2020-07-28 12:42] #1950 closed, assigned to paweljakubas

[2020-07-28 12:44] piotr-iohk commented on #1955
Shall we return it ticket to "in progress"?

[2020-07-28 12:47] KtorZ commented on #1955
Oui.

[2020-07-28 12:57] KtorZ commented on #1856
I imagine that this issue is now fixed.

[2020-07-28 13:17] Anviking opened #1971 "Listing transaction when node is still in the Byron era may fail with 500"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | Close to Shelley Mainnet release |
| Platform     |           |
| Installation |             |

With #1869, we use a `TimeInterpreter` from the node for time and slotting conversions. The conversions fails if "Past the Horizon

[2020-07-28 14:04] piotr-iohk opened #1974 "Error on listing wallets after migrating from cardano-wallet-byron to cardano-wallet-shelley"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | node 1.13.0 / wallet 2020.06.05 => node 1.18.0 / wallet 2020.07.28 |
| Platform     |           |
| Installation | from source            |

# Steps to Reproduce
on mainnet:
1. set up node 1.13 and wallet 2020.06.05 (config: [

[2020-07-28 14:53] piotr-iohk commented on #1856
It is fixed.

[2020-07-28 14:53] #1856 closed, assigned to nobody

[2020-07-28 17:38] piotr-iohk commented on #1974
Fixed in https://github.com/input-output-hk/cardano-wallet/pull/1973

[2020-07-28 17:38] #1974 closed, assigned to nobody

[2020-07-28 22:16] piotr-iohk commented on #1960
lgtm

[2020-07-28 22:16] #1960 closed, assigned to Anviking

[2020-07-29 08:25] piotr-iohk commented on #1708
lgtm. I haven't seen that lately :tada:

[2020-07-29 08:25] #1708 closed, assigned to rvl

[2020-07-29 10:28] Anviking opened #1980 "The reported value of pool saturation is incorrect"
# Context

The wallet calculates and shows the saturation of stake pools. This does not affect the ranking, since the non myopic rewards are calculated in the ledger.

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | `2020.7.28 (git revision: 351a1b1134fc67b90b16ed6d129bd1e1d509a1cc)`

[2020-07-29 10:51] piotr-iohk commented on #1904
yes.

[2020-07-29 10:51] #1904 closed, assigned to nobody

[2020-07-29 11:50] piotr-iohk commented on #1919
I is this completed? I suppose there are integration tests to be "merged" to shelley, e.g. -> https://github.com/input-output-hk/cardano-wallet/blob/master/lib/byron/test/integration/Main.hs#L128, not sure about other stuff?

QA section filled would be helpful :sweat_smile:

[2020-07-29 11:53] Anviking commented on #1919
@piotr-iohk This is not in the QA column. Are you talking about another ticket?

[2020-07-29 12:23] piotr-iohk commented on #1919
Sorry, my bad. I thought I saw it in QA... Jesus :tired_face:

[2020-07-29 12:27] piotr-iohk commented on #1959
lgtm. Also looking a bit on mainnet candidate and looks like pools on different wallets are sorted differently.

[2020-07-29 12:27] #1959 closed, assigned to KtorZ

[2020-07-29 12:45] piotr-iohk commented on #1964
ok

[2020-07-29 12:45] #1964 closed, assigned to Anviking

[2020-07-29 12:56] piotr-iohk commented on #1971
That is the case indeed on mainnet currently:
[code]

[code]

[2020-07-29 12:56] piotr-iohk commented on #1869
lgtm.

[2020-07-29 12:56] #1869 closed, assigned to Anviking

[2020-07-29 12:59] KtorZ commented on #1971
As "expected", though the server should really catch this error and return something more meaningful to users.

[2020-07-29 12:59] piotr-iohk commented on #1970
Looks like the last one timed out? :thinking:
https://github.com/input-output-hk/cardano-wallet/runs/921219707?check_suite_focus=true

[2020-07-29 13:34] Anviking opened #1981 "Don't fetch nOpt another time, separately from stake distribution"
# Context

ADP-388

# Decision

Re-use the existing nOpt.

# Acceptance Criteria

- `nOpt` is not fetched again with `getProtocolParameters`

---

# Development

See decision.

# QA

- This issue is a tiny cleanup / refactoring.

[2020-07-30 01:40] rvl commented on #1970
Hmm, yes it failed in `/CLI Specifications/WALLETS_UTXO_02 - Utxo statistics works properly`.
I have looked at the logs.
It submits a big transaction while waiting for the result of chain intersection query.
Then the test case never finishes, until the job times out 23 minutes later.

<details>
  <summary>Click to expand integration test list</summary>

### Passing

[code]

### Stuck

[code]

###

[2020-07-30 06:43] jonathanknowles opened #1984 "Impose minimum execution time on `withRootKey` in the event of failure."
# Context

For API operations that require the user to specify their passphrase, we wish to impose a minimum response time in the event of an authentication failure, where the minimum response time is:

- significantly longer than the actual time required to service the request (seconds, rather than milliseconds).
- independent of the actual time required to service the request (so that no timing

[2020-07-30 08:22] piotr-iohk commented on #1981
ok.

[2020-07-30 08:22] #1981 closed, assigned to Anviking

[2020-07-30 14:01] darko-mijic commented on #1965
Looking forward to this one. :)

[2020-07-30 16:31] disassembler opened #1986 "Ability to delegate (and pledge) to multiple pools from a single wallet"
# Context

The general idea is that we would like the ability to have multiple stake addresses generated from a single wallet root private key and be able to transparently choose multiple pools to delegate to and the wallet would handle moving balances around to meet those delegations. The primary driver for this feature is to be able to pledge multiple pools from a single ledger device. We'd have

[2020-07-31 08:31] jonathanknowles commented on #1949
It was decided to leave this behaviour as-is for now. (See https://input-output-rnd.slack.com/archives/GBT05825V/p1596182939258700)

If a retired pool appears within the `delegation.active` or `delegation.next` fields, it should be viewed as a dead reference. Any attempts to use such a pool ID in an API call will result in `ErrNoSuchPool`.

This method has the advantage that the wallet will not si

[2020-07-31 08:31] #1949 closed, assigned to jonathanknowles

[2020-07-31 13:44] Anviking commented on #1872
Maybe we should abort this for now because of https://input-output-rnd.slack.com/archives/GBT05825V/p1596197796271100?thread_ts=1596197783.271000&cid=GBT05825V

[2020-07-31 15:10] lijianl opened #1988 "cardano-node error"
my cardano-wallet met a error:
`[nuls-nov:cardano.node.DnsSubscription:Error:13712] [2020-07-31 15:04:23.86 UTC] [String "Application Exception: 127.0.0.1:3001 MuxError MuxBearerClosed \"<socket: 28> closed when reading data, waiting on next header True\" []",String "SubscriptionTrace",String "\"relays-new.cardano-mainnet.iohk.io\""]
[nuls-nov:cardano.node.ErrorPolicy:Warning:63] [2020-07-31 15:04

[2020-07-31 15:13] KtorZ commented on #1986
That's one complicated thing.

[2020-07-31 15:44] androzd opened #1989 "Lost addresses when restore wallet from cardano-sl to byron"
# Context

Clean inputoutput/cardano-node:1.18.0
Clean any of inputoutput/cardano-wallet:shelley or inputoutput/cardano-wallet:byron

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | inputoutput/cardano-wallet:shelley or inputoutput/cardano-wallet:byron |
| Platform     | Docker |
| In

[2020-07-31 16:05] piotr-iohk commented on #1965
I have tested manually on MC4 and locally on cluster, trying out different cases:

 - Can redeem rewards from self/other sending more than rewards, but utxo should cover
 - Can redeem rewards from self/other  sending more than utxo, rewards should cover
 - Can redeem sending my all utxo, rewards should cover fees
 - Can redeem sending all rewards, utxo should cover fees
 - Can't redeem rewards fro

[2020-08-01 07:55] lijianl opened #1990 "cardano-wallet sync error"
deplosy cardano-wallet version latest master and running with `nix-build -A cardano-wallet-byron`.

`[cardano-wallet.wallet-engine:Error:37] [2020-08-01 07:51:14.54 UTC] 5180708f: Unexpected error following the chain: ExceptionInLinkedThread ThreadId 389937 DecoderFailure (ChainSync (ByronBlock) (Tip ByronBlock)) ServerAgency TokNext TokCanAwait) (DeserialiseFailure 1015 "Found unknown tag 2 while

[2020-08-01 08:10] lijianl commented on #1988
`nuls-nov:cardano.node.LocalErrorPolicy:Error:64] [2020-08-01 07:53:17.85 UTC] [String "ErrorPolicyUnhandledApplicationException (MuxError MuxBearerClosed \"<socket: 359> closed when reading data, waiting on next header True\")",String "ErrorPolicyTrace",String "LocalAddress {getFilePath = \"\"}"]`

cardano-node 1.18.0 error...... how to solve the problem

[2020-08-01 09:11] KtorZ commented on #1990
Do not use cardano-wallet-byron. This version can no longer sync behind the hard fork. It is currently being removed from the repository

Instead, use cardano-wallet-shelley

[2020-08-01 09:12] #1990 closed, assigned to nobody

[2020-08-01 09:15] KtorZ commented on #1989
Restoring a wallet is a process which uses on-chain data. Change addresses generated locally and never used in chain can't be restored from the chain.

Therefore, you'll have to manually import those pre-generates unused address.

See: https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/importAddresses

[2020-08-01 09:15] #1989 closed, assigned to nobody

[2020-08-03 02:31] lijianl opened #1991 "Api link can not be reached"
https://input-output-hk.github.io/cardano-wallet/api/edge

why this link can not be reached?  any this wrong happened

[2020-08-03 03:26] jonathanknowles commented on #1991
Hi @lijianl

I've just tried, and the link works from my location. Could you try again and let us know if it's still not working for you?

Some other things to try:

1. Are you able to reach the `input-output-hk.github.io` with a ping?

    Try the following in a terminal:
[code]
2. Are you able to resolve the domain name `input-output-hk.github.io`?

    Try the following in a terminal:

[code]
[

[2020-08-03 06:21] lijianl commented on #1991
thanks for reply

[2020-08-03 06:53] lijianl opened #1993 "account syncing error"
my account's  syncing  was blocked by error below:

`[cardano-wallet.wallet-engine:Error:5452] [2020-08-03 06:41:30.34 UTC] 5180708f: Unexpected error following the chain: ExceptionInLinkedThread ThreadId 125077 DecoderFailure (ChainSync (ByronBlock) (Tip ByronBlock)) ServerAgency TokNext TokCanAwait) (DeserialiseFailure 1015 "Found unknown tag 2 while decoding Block")`   from cardano-wallet

and

[2020-08-03 07:03] lijianl commented on #1993
I have some ADA in my wallet, and the wallet is not available since syncing blocked.
it  is very urgent for me,  could you guys help me with these error..

[2020-08-03 07:09] KtorZ commented on #1993
Hi, the mainnet has _forked_  since July 29th to a new Era. Therefore, you need to use a version of the wallet that is compatible with this new era. We're in the process of removing `cardano-wallet-byron`, in the meantime, you ought to use `cardano-wallet-shelley`.

Cheers.

[2020-08-03 07:22] lijianl commented on #1993
how to build cardano-wallet from source  to support Shelley ERA?  could you give some link or tips to move wallet from byron to shelley

[2020-08-03 07:24] lijianl commented on #1993
could you give some links to introduce  how to move to new ERA with source code

[2020-08-03 07:34] lijianl commented on #1993
cardano-wallet only provided byron type `nix-build -A cardano-wallet-byron`, any building way for shelley with source code

[2020-08-03 08:13] jonathanknowles commented on #1993
Have you tried:

`$ nix-build -A cardano-wallet-shelley`

You might want to check that you've pulled the latest changes to the `cardano-wallet` repository, or just clone it again from scratch.

[2020-08-03 08:52] lijianl commented on #1993
thanks for your replay, I will try it

[2020-08-03 09:34] lijianl commented on #1993
hello.
I build cardano-wallet with `nix-build -A cardano-wallet-shelley`;

however it is impossible to retore byron-wallet into shelly, it happened `"message": "Error in $['mnemonic_sentence']: Invalid number of words: 15, 18, 21 or 24 words are expected."`, indeed my byron-wallet has 12 words.

what should I do to retore my byron-wallet and resue my ADA from this wallet

[2020-08-03 09:47] lijianl commented on #1993
should I build source code with Shelley mode and use API with byron mode? isn't it  wired

[2020-08-03 09:52] KtorZ commented on #1993
@lijianl, yes. The naming may looks a bit confusing but, the *entire* API is available now because, the chain isn't just Shelley. The chain is the continuation of Byron -> Shelley. So, blocks, addresses, transactions etc.. are present in BOTH format in the chain. Therefore, anything that existed in Byron still exists after the hard fork. Wallets that existed in Byron and new Shelley wallets have d

[2020-08-03 13:17] KtorZ commented on #1572
That is no longer the case, the wallet now "sleeps" between each retry and only retry "retryable" exceptions. Other will simply lead to crash.

[2020-08-03 13:17] #1572 closed, assigned to nobody

[2020-08-03 14:59] KtorZ opened #1997 "Wallets are extremely slow to restore for large wallets (e.g. exchanges)."
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | edge  |
| Platform     | All           |
| Installation |             |

# Steps to Reproduce

1. Have a big wallet (50k+ pending addresses and UTxO).
2. Restore a wallet an observe

## Expected behavior

1. The wallet _just w

[2020-08-03 19:37] cryptohoard-io commented on #1856
Hi, I have been getting this error whilst trying to register my stake pool on 1.18.0:

Error while submitting tx: ApplyTxError [LedgerFailure (UtxowFailure (MissingVKeyWitnessesUTXOW (WitHashes (fromList [KeyHash "1acd9a8e248a3b896cee183e776638bb6ba8142274c61f3409d871be"]))))]

Is there a fix or workaround?

[2020-08-04 02:39] lijianl commented on #1993
thanks for your reply and I have solved my problem;
Here is the summary:

1. build  Cardano-node from source:  v-1.18.0
`
git clone https://github.com/input-output-hk/cardano-node.git
cd cardano-node
nix-build -A scripts.mainnet.node -o mainnet-node-local
`

2. build Cardano-wallet from source: v-1.18.0:

`
git clone from source
nix-build -A cardano-wallet-shelley
`

3.  retore my wallet and serve

[2020-08-04 04:37] jonathanknowles commented on #1993
@lijianl Good to hear that it's now working for you!

[2020-08-04 05:43] rvl commented on #1988
Hi @lijianl,

1. Use [`cardano-wallet-shelley`](https://github.com/input-output-hk/cardano-wallet/releases) now because we have hard forked into the shelley era.
2. The log message from cardano-node `MuxBearerClosed ... waiting on next header True` means that a connection to cardano-node was closed by the other end. It is actually not an error, even the the log message has Error severity. I have r

[2020-08-04 05:43] #1988 closed, assigned to nobody

[2020-08-04 06:11] rvl commented on #1991
It works for me too. The web site is hosted by GitHub.
If you still can't access it, use https://github.com/input-output-hk/cardano-wallet/blob/master/specifications/api/swagger.yaml instead.

[2020-08-04 06:11] #1991 closed, assigned to nobody

[2020-08-04 06:18] rvl commented on #1872
Yes when we have a better db migration system we can revisit this.

[2020-08-04 07:24] #1993 closed, assigned to nobody

[2020-08-04 10:14] KtorZ commented on #1856
This errors tells you that your transaction is missing a witness / signature. Have a look at the `cardano-cli shelley transaction witness` and `cardano-cli shelley transaction sign-witness`commands.
For more information, refer to the [tutorials](https://github.com/input-output-hk/cardano-tutorials/)

[2020-08-04 12:24] disassembler opened #2000 "Swagger docs say payments list >= 0"
# Context

When you try to create a tx with just withdrawals (and no payments) wallet returns:
[code]

But swagger docs show `payments` is a list `>=` 0. @KtorZ confirmed the behavior is correct but docs are wrong.

# Steps to Reproduce

1. ...

## Expected behavior

## Actual behavior

---

# Resolution

---

# QA

[2020-08-05 02:56] #1939 closed, assigned to jonathanknowles

[2020-08-05 07:32] KtorZ commented on #1585
Seems like it worked :shrug:

[2020-08-05 07:32] #1585 closed, assigned to nobody

[2020-08-05 21:42] Fell-x27 opened #2004 "Pools fetching and fees calculation for not null withdrawal param takes 3-10mins"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      |  v2020-08-03 |
| Platform     | Linux |
| Installation | From binaries |

# Steps to Reproduce

1. Try to calculate fee with active "withdrawal" param or try to fetch pools list  **in the mainnet**.
2. ...
3. PROFIT!

## Expec

[2020-08-06 06:51] KtorZ commented on #2004
@Fell-x27 would you mind opening two separate bug tickets for these two separate issues please :pray:

Regarding pool fetching, are you doing this _while_ syncing? (cf: https://github.com/input-output-hk/cardano-wallet/issues/1846). One of the problem regarding pools listing is that, in order to reply to such request, cardano-wallet needs a few information from the node it's connected to and, the

[2020-08-06 07:28] Fell-x27 commented on #2004
No. The node and wallets are perfectly synced. But node fetches pools list up to 10 mins.

Sure

I can't. But  tested it by myself. It doesn't depend on wallet size\UTxO amount\Reward amount. The same result for funded wallet without reward, rewarded without UTxO, and even for zero-balanced one.

Probably, both problems are related with the **count of wallets** because there are dozens. But only p

[2020-08-06 07:38] Fell-x27 opened #2005 "The pools list fetching takes 3-10 mins"
# Context

Splitted from https://github.com/input-output-hk/cardano-wallet/issues/2004

When I try to fetch pools list, it takes too much time. The same problem appeared within ITN either and it could be solved by shadow-caching at the application level. But I'm not sure if that behaviour is fine.

I noticed almost linear progression for time spending depends on pools count. So, this problem not a

[2020-08-06 07:44] Fell-x27 opened #2006 "Fees calculation with not null withdrawal param takes 3-10mins"
# Context

Splitted from https://github.com/input-output-hk/cardano-wallet/issues/2004

When I'm trying to calculate fees with "withdrawal"!="null", it takes up to 10 minutes. 5 as average.

It doesn't depend on wallet size\UTxO amount\Reward amount. The same result for funded wallet without reward, rewarded without UTxO, and even for zero-balanced one.

Probably, this problem is related to the co

[2020-08-06 07:48] Fell-x27 commented on #2004
@KtorZ , ^^^

[2020-08-06 07:48] #2004 closed, assigned to nobody

[2020-08-06 07:54] KtorZ commented on #2005
Testing locally against the current mainnet, listing stake pools takes between 1.2 and 1.5 **seconds** for me.

Note that the number of wallets does not (in theory) affect the underlying stake pools engine which lives in a completely separate database. Yet, wallets are also currently using "unbound" resources and will simply consume as much as they can, each wallet lives in its own thread and mana

[2020-08-06 07:55] KtorZ commented on #2006
May you provide the result of the `network information` command please ?

[2020-08-06 08:13] Fell-x27 commented on #2005
The results are the same for me as for 4xCPU 8Gb server either 24xCPU 32GB local machine. So I don't think it's just because of system is too busy. When I fetch wallets, addresses, transactions everything works fast.

But the wallets count is the same for server and local.

Sure, but later, when came home.

Yeah, I know 👍

[2020-08-06 08:16] Fell-x27 commented on #2006
[code]

[2020-08-06 10:56] #1965 closed, assigned to KtorZ

[2020-08-06 10:57] KtorZ commented on #1965
Scenarios have been a bit reviewed in #1987 to avoid having too many cases taking _a long time_ at the integration level. Many of the original edge-cases in #1987 are actually tested at the unit level via the coin selection algorithm, so only a few end-to-end tests are needed to confirm that the behavior works as intended :+1:

[2020-08-06 10:58] KtorZ commented on #1867
Fixed in latest master, all mainnet pools with valid registrations are now listed. There was a remaining issue regarding TLS compatibility for some pools servers which has been fixed yesterday.

[2020-08-06 10:58] #1867 closed, assigned to KtorZ

[2020-08-06 11:00] KtorZ commented on #2000
:+1:

[2020-08-06 11:00] #2000 closed, assigned to jonathanknowles

[2020-08-06 11:00] KtorZ commented on #1883
:+1: tested manually against mainnet and latest deployed verison of SMASH.

[2020-08-06 11:00] #1883 closed, assigned to KtorZ

[2020-08-06 11:29] KtorZ commented on #2006
I can't reproduce this locally. Are you able to provide some additional details about your request and setup? In particular:

- May you confirm which git revision you've been using? (the logic behind withdrawals has changed quite a few times since the latest release already..)

- What sort of withdrawal are you trying? Self or, from another wallet?

- What does your payment look like?

[2020-08-06 12:16] Fell-x27 commented on #2006
The latest **release.**

So, I have to compile the latest master and try again? Ok, will do later.

Self

I can't show it right now, I dont have an access to my devmachine. But it's a valid.

As I understand - the solution is trying the latest master or some stable commit between the latest release and the master. And confirm that problem is gone or not after.

[2020-08-06 14:18] KtorZ commented on #2006
I can indeed reproduce this locally with ~10 wallets in parallel. It takes _a lot_ longer than it should. I think it's an instance of the _philosophers problem_ here basically where all wallets are trying to take a lock for themselves and are all fighting for it. Which is made worse by the fee estimation which runs several hundred times for each wallet in order to get a statistically satisfactory

[2020-08-06 15:08] KtorZ opened #2007 "SMASH API breaking-change"
# Context

SMASH just undergone a breaking change in its API, going from:

[code]

  to

[code]

# Decision

We need to update the SMASH url builder.

# Acceptance Criteria

---

# Development

- See #2008

# QA

- Manually tested on the mainnet candidate and a local instance of SMASH latest master. Providing a wrong URL:

[code]

And providing a correct URL:

[code]

[2020-08-06 15:32] Fell-x27 commented on #2006
So...In my case the count is much higher.

Ok, but:
1) This problem doesn't appear _when no reward withdrawal specified_.
2) Is it necessary to run it for every wallet at one time to estimate fee just for one of them? So what If I had only one wallet? Fee estimation would be more rough? Is that accuracy worth all these resouces? How many people use more than 1-2 wallets to get benefits from it?

J

[2020-08-06 20:35] Fell-x27 commented on #2005
@KtorZ , I've checked what you asked for.
1. ~5sec with just one undersynced wallet.
2. ~1.5 sec with just one well-synced wallet.
3. About 6-7min for 50 well-synced wallets.

[2020-08-07 08:38] disassembler opened #2009 "Failure after quitting a stake pool from API"
# Context

I quit a stake pool with intention of getting my deposit back and now my wallet throws this error in the logs:

[code]

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      |  |
| Platform     |           |
| Installation |             |

# Steps to Reproduce

1. ...

## Expected

[2020-08-07 18:27] Fell-x27 commented on #2009
Got the same error today,:

`[cardano-wallet.wallet-engine:Error:1114] [2020-08-07 18:20:38.15 UTC] 4ec9262c: Unexpected error following the chain: arithmetic underflow
`

The wallet can't sync and spamming node with:

`[developM:cardano.node.LocalErrorPolicy:Error:62] [2020-08-07 18:20:41.11 UTC] [String "ErrorPolicyUnhandledApplicationException (MuxError MuxBearerClosed \"<socket: 82> closed whe

[2020-08-07 19:39] Fell-x27 commented on #2009
Fortunately I discovered that it's a person I know :)
The wallet's owner is an enthusiast, who tried to _undelegate_ his stake today :)

The full log section:

`[cardano-wallet.wallet-engine:Error:32] [2020-08-07 19:38:16.50 UTC] 4ec9262c: Unexpected error following the chain: arithmetic underflow
[cardano-wallet.network:Notice:32] [2020-08-07 19:38:16.50 UTC] Destroying cursor connection at Threa

[2020-08-08 15:56] KtorZ commented on #2009
@Fell-x27 see #2010, if you feel like building from sources. Samuel confirmed it worked indeed. The issue lied in the calculation of the amount for the transaction Metadata, or more exactly, how we interpret the amount.

In the past, the transaction would always be "balanced" and there was an easy equation between inputs, outputs and fees with the nice property that outputs were necessarily smalle

[2020-08-08 16:20] Fell-x27 commented on #2009
Yep, I've found, built and tested it about 3hrs ago and can confirm it works. Thanks! My service is online again!
Hope that https://github.com/input-output-hk/cardano-wallet/issues/2006 will be fixed soon for full happiness :)

[2020-08-09 01:36] bergr01 commented on #1980
Any updates on this one, amigos?

[2020-08-09 11:42] PegasusPool commented on #1980
With random ranking and hidden saturation level on daedalus delegators might see well saturated pools ranked in top 10 or so. Is this really a MINOR issue?

[2020-08-09 14:10] KtorZ commented on #1980
@PegasusPool ranking is only random in the first epochs where there are no historical data to compute a ranking from. As for the saturation, it currently uses the active stake instead of the total stake. So it is incorrect, but it still gives a right idea of which pools have too much stake compared to others. So it's not blatantly wrong and doesn't prevent the software from operating correctly wit

[2020-08-10 08:25] KtorZ opened #2011 "import an invalid single non-random address does not fail but return `204 No Content`"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | v2020-08-03  |
| Platform     | All           |
| Installation | Sources             |

# Steps to Reproduce

1. Take an arbitrary Shelley address (or Byron addresses, but which does not belong to the wallet)
2. Import it via

[2020-08-10 08:39] #1872 closed, assigned to Anviking

[2020-08-10 10:53] Anviking commented on #1997
This is from a recent benchmark:
<img width="853" alt="Skärmavbild 2020-08-10 kl  12 40 45" src="https://user-images.githubusercontent.com/304423/89775381-f501a080-db07-11ea-899e-fa015cab7704.png">

The _shape_ of 1% seems very peculiar, and I think it used to be [≈50 min](https://cardano-wallet-benchmarks.herokuapp.com/mainnet-restoration) instead of ≈ 1h35 min

[2020-08-10 11:04] KtorZ commented on #1997
I'd actually somewhat expect this shape for the last k blocks (since checkpoints are much more frequent in this area). but, the behavior seems to drastically change around block #600.000 o.O ... That makes no sense.

**edit:** The restoration actually failed around 12%:

![Screenshot from 2020-08-10 13-05-45](https://user-images.githubusercontent.com/5680256/89776474-46129400-db0a-11ea-8f09-647dca

[2020-08-10 20:51] PegasusPool commented on #1980
Thank you for the explanation :+1: I really appreciate it

[2020-08-11 05:47] jonathanknowles opened #2016 "Add pool DB operation `listRetiredPools`."
# Context

As part of the work to perform garbage collection of retired pools from the database, we need to be able to determine _which_ pools have retired.

# Decision

Create a pool database operation `listRetiredPools`:

[code]

## SQLite implementation

The SQLite implementation of this operation can be based on the following **view**, which lists all pools that have active retirement certific

[2020-08-11 05:53] jonathanknowles opened #2017 "Add pool DB operation `removePools`."
# Context

As part of the work to perform garbage collection of retired pools from the database, we need a convenient and safe way to _remove_ pools that have retired.

# Decision

Create a pool database operation `removePools`:

[code]

# Acceptance Criteria

- [x] The pool DB _must_ provide a `removePools` operation.
- [x] The `removePools` operation _must_ remove each pool _atomically_.
- [x] T

[2020-08-11 05:57] jonathanknowles opened #2018 "Add pool DB operation `removeRetiredPools`"
# Context

As part of the work to perform garbage collection of retired pools from the database, we need to be able to conveniently and safely remove _retired_ pools.

# Decision

Create a pool database operation `removeRetiredPools`:

[code]

This operation _reuses_ the existing [`listRetiredPools`](https://github.com/input-output-hk/cardano-wallet/issues/2016) and [`removePools`](https://github.

[2020-08-11 06:05] jonathanknowles opened #2019 "Call `removeRetiredPools` from `monitorStakePools`."
# Context

As part of the work to garbage collect retired pools from the database, we need to periodically _initiate_ the garbage collector.

# Decision

Within `monitorStakePools`, at appropriate points call [`removeRetiredPools`](https://github.com/input-output-hk/cardano-wallet/issues/2018) with epoch number _**e**_, where:

The choice to wait two epochs after retirement is a conservative one,

[2020-08-11 06:49] KtorZ opened #2020 "Nightly Jörmungandr tests are failing"
# Context

https://buildkite.com/input-output-hk/cardano-wallet/builds/9809

# Test Case

- The jormungandr unit test suite is timing out.
- The jormungandr integration tests are failing.

# Failure / Counter-example

---

# Resolution

---

# QA

[2020-08-11 06:56] KtorZ commented on #1855
Closing this as the behavior has changed. Both the URL and the hash are used as primary key and publishing a new certificate with either a different hash or a different URL will therefore go over the fetching phases again.

[2020-08-11 06:56] #1855 closed, assigned to nobody

[2020-08-11 06:59] KtorZ opened #2021 "Latency benchmark are failing on nightly"
# Context

https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/602#72d838c5-e0b3-4215-abae-1754493a09fc

# Test Case

- Latencies for 2 fixture wallets scenario

# Failure / Counter-example

[code]

Could

---

# Resolution

- It seems that the faucets are not correctly setup for the latency benchmarks. With the Byron;Shelley chain, we now need an extra step after the hard-fork has

[2020-08-11 07:06] KtorZ opened #2022 "Nightly restoration benchmark are silently failing for 1% wallets"
# Context

https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/602

There really are two issues here (which could have the same root cause):

a) The restoration tests are taking a very long time to run.
b) Failures are reported as success.

# Test Case

- 1% wallet

# Failure / Counter-example

- The test runs for about 6h before returning invalid results as "green"
- Both the heap

[2020-08-11 07:43] KtorZ opened #2023 "Wrong user-facing encoding for poold id and reward account"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      |  |
| Platform     |           |
| Installation |             |

- [x] Pool id are currently encoded as base16 strings.
- [x] Reward accounts are currently encoded as bech32 with a "stake_addr" prefix

# Steps to Reproduce

N/A

[2020-08-11 09:58] rvl commented on #2022
This matches my results when I run the 1% test locally.

Reacting to CI benchmark failures is slightly tricky - you don't want to immediately crash on an error, otherwise all the successful results will be lost, there will be no charts, etc.

[2020-08-11 10:04] rvl commented on #2020
It says `jormungandr-integration` failed and `cardano-wallet-jormungandr:test:unit` timed out.
You can find logs in the "Artifacts" tab of the build.
The last thing I see in the cardano-wallet-jormungandr test logs is the Cardano.Wallet.Jormungandr.Binary Decoding tests. But they would not be the cause.

[2020-08-11 11:39] melmccann opened #2025 "'minLength' must be lower value than 'maxLength'"
https://github.com/input-output-hk/cardano-wallet/blob/e096e3403bdd94a67805ede25e2c3818fc875d7a/specifications/api/swagger.yaml#L1404

[2020-08-11 11:41] KtorZ commented on #2022
Yes indeed and in the end, we get the right information by looking at the logs. Yet having a green check indicating that everything is okay may be quite misleading. That's pretty minor though, understand what's going on and the restoration is interrupted is a bigger concern.

[2020-08-11 11:42] KtorZ commented on #2025
That's an interesting one. These two seem to have been swapped.

[2020-08-11 11:45] melmccann opened #2026 "DELETE operations cannot have a requestBody."
https://github.com/input-output-hk/cardano-wallet/blob/e096e3403bdd94a67805ede25e2c3818fc875d7a/specifications/api/swagger.yaml#L2208

[2020-08-11 12:15] Anviking commented on #2006
I tried measuring `n` workers of fetching the stake distribution against a mainnet node:
[code]

There seemed to be a nice pattern until it stopped and I got different results for some reason:
[code]

[2020-08-11 12:53] KtorZ commented on #2026
Hmm? What do you mean @melmccann ?

[2020-08-11 14:54] melmccann commented on #2026
I added this just to keep in line with OpenAPI, so stubs can be generated from swagger.yaml without error.
You can have a requestBody for a DELETE but for some reason OpenApi doesn't allow it.
https://github.com/OAI/OpenAPI-Specification/issues/1801
You can close this issue if you feel it is their problem not ours @KtorZ

[2020-08-12 05:07] rvl commented on #1970
The original problem is fixed. Now the nightly windows test is broken due to #1919. That should be fixed tomorrow I hope. I suggest that we close this and open a new ticket if there is another windows test failure.

[2020-08-12 05:49] rvl commented on #1958
See the [releases page](https://github.com/input-output-hk/cardano-wallet/releases) for the Shelley wallet.

[2020-08-12 05:49] #1958 closed, assigned to nobody

[2020-08-12 05:52] rvl commented on #1811
These tests are gone.

[2020-08-12 05:52] #1811 closed, assigned to rvl

[2020-08-12 06:40] KtorZ commented on #2026
Well, request bodies on `DELETE` request is actually not forbidden by the [RFC 7231](https://tools.ietf.org/html/rfc7231) which specifies the HTTP/1.1 protocol. The only verb that for which a request body is strictly forbidden is `HEAD`.

It also seems that the OpenAPI specifications eventually changed their own design to allow this: https://github.com/OAI/OpenAPI-Specification/pull/2117

[2020-08-12 06:40] #2026 closed, assigned to nobody

[2020-08-12 06:49] #2007 closed, assigned to KtorZ

[2020-08-12 06:53] #2009 closed, assigned to KtorZ

[2020-08-12 06:56] KtorZ commented on #1929
Fixed in a previous PR.

[2020-08-12 06:56] #1929 closed, assigned to nobody

[2020-08-12 08:13] Anviking commented on #2006
Btw:
This code https://github.com/input-output-hk/cardano-wallet/blob/a7670ed340427f3f86dba192325eb7abf67a4ca9/lib/core/src/Cardano/Wallet/Api/Server.hs#L1359-L1365
seems to fit nicely with:

We only fetch the account balance over LSQ with the withdrawal specified, and this is when it is slow.

[2020-08-12 08:47] Anviking commented on #2006
No, the fee calculation itself shouldn't be affected by the number of wallets you have.

[2020-08-12 15:32] KtorZ opened #2032 "'listAddresses' is extremely slow / unusable for large wallets."
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | 2020-08-03  |
| Platform     | All           |
| Installation | Source             |

# Steps to Reproduce

1. Restore a wallet with a large UTxO (> 10K)
2. List addresses via the corresponding endpoint

## Expected behavior

[2020-08-12 18:35] Anviking commented on #2005
@Fell-x27 if you're eager to try something out then, #2034 (WIP!) speeds it up from 2-3 min to 5s for me (with 10 wallets).

Edit: https://hydra.iohk.io/build/3811070#tabs-constituents in case I break the build in further commits.

[2020-08-13 01:19] rvl commented on #2020
Is it possible that the jormungandr integration tests fail because they don't have built-in retrying like the shelley integration tests?

[2020-08-13 06:31] KtorZ opened #2035 "Too many intermediate checkpoints created in one go"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | v2020-08-03  |
| Platform     | All           |
| Installation |             |

# Steps to Reproduce

1. Restore a wallet
2. Wait until the wallet cross the hard-fork (or a protocol update)
3. Observe checkpoints in the databa

[2020-08-13 06:35] KtorZ commented on #2020
@rvl we introduced the retrying `it` for the Shelley integration tests because of the frequent rollbacks we had. We never had such issues on Jörmungandr because the self-node doesn't rollback as often (or rollback at all actually...). So my two cents would be: no, it is unlikely.

[2020-08-13 10:44] #1997 closed, assigned to KtorZ

[2020-08-13 11:29] gopherine opened #2039 "Cardano-wallet Failed to parse genesis configuration for Testnet"
`docker run inputoutput/cardano-wallet serve --node-socket /ipc/node.socket --database /wallet-db --listen-address 0.0.0.0 --testnet testnet-shelley-genesis.json `

I downloaded the above configuration however it is not able to detect the genesis file I see that using --mainnet works out of the box. I would like to run this without docker compose, I don't see documentation regarding this. Thanks

[2020-08-13 11:53] mcsherrylabs opened #2040 "Error code results often contain `application/octet-stream` content type"
# Context

Exercising the API trying to perform simple value transfers

| Information  | -                                                     |

Version
Platform     Ubuntu
Installation  docker

# Steps to Reproduce

1. Exercise the API and generate a 403 Forbidden for example use

https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/postWallet

create/restore wallet with incorrec

[2020-08-13 12:57] Fell-x27 commented on #2005
Thanks! Will check it and share results!

[2020-08-13 13:05] paweljakubas opened #2041 "Test external tx endpoint"
# Context

This is counterpart task for https://github.com/input-output-hk/cardano-transactions/issues/16
The idea is to prepare wallet's inputs on integration side, then in cardano-transactions side create blob and use via external tx endpoint, and finally verify expectations.

# Decision

Add several tests : for one and two inputs, both using shelley and byron witnesses, and use blobs produced u

[2020-08-13 14:30] KtorZ commented on #2039
Hi, you should use the **Byron** genesis configuration. The chain starts in Byron, Shelley parameters are published later on on-chain so the wallet figure them out alone :+1:

[2020-08-13 14:30] #2039 closed, assigned to nobody

[2020-08-13 16:02] Anviking opened #2042 "Cleanup observed reward accounts"
# Context

To fix #2005 a immediate solution is to observe the rewards of a `Set ChimericAccounts` on every tip change.

The not yet merged #2034 is only adding to the `Set`, but never removing.

We suspect this is acceptable for the moment because
1. The `Set` is cleared when the wallet restarted
2. Creating and deleting say 100s of wallets in a single session seem like a extremely rare user beha

[2020-08-14 10:50] gopherine commented on #2039
Hey @KtorZ  i also used byron genesis configuration the problem is that it's not detecting the genesis file itself, i tried downloading everyone of them present in the doc ...

```Failed to parse genesis configuration. You may want to check the filepath given via --genesis and make sure it points to a valid JSON genesis file. Here's (perhaps) some helpful hint: GenesisDataIOError testnet-byron-gen

[2020-08-14 16:48] KtorZ commented on #2039
Seems like you've specified an invalid path to the byron genesis file?

[2020-08-15 14:57] philkunz opened #2044 "BUG: cardano-wallet docker container exits with code 127 - command not found"
# Context

I'm in the process of creating a MIT licensed TypeScript client for the the cardano wallet api, that replicates daedalus functionality in TypeScript.

For testing I checked out the repo and started the docker compose file with `NETWORK=mainnet docker-compose up`

| Information  | -                                                     |
| ---          | ---

[2020-08-17 09:22] gopherine commented on #2039
@KtorZ  I am pretty sure I didn't mess up the path, since I am trying to run this in the same directory where I downloaded my genesis file. I thought earlier that I don't need to download anything, so I also tried to run it with /config/testnet-byron-genesis.json assuming nix is picking up this path.

However, i get the same error in both cases

[2020-08-17 09:44] KtorZ commented on #2039
@gopherine if you're running this inside a docker container, you need to make sure that the file is in a volume that is mounted in the container, which is likely not your case here. Check the `--volume` and `--mount` options from docker for more details about this.

[2020-08-17 09:45] gopherine commented on #2039
@KtorZ  right now I am trying to run this locally just to add more details on my system, I am trying to run this on mac os - catalina - ram -16 GB  2017 model

[2020-08-17 10:20] rvl commented on #2044
@philkunz Your project sounds interesting. Perhaps you could add it to [cardano-launcher](https://github.com/input-output-hk/cardano-launcher)?

[2020-08-17 11:03] piotr-iohk commented on #2017
I guess that's this one that needs to be merged first: https://github.com/input-output-hk/cardano-wallet/pull/2038.

[2020-08-17 11:05] piotr-iohk commented on #2016
LGTM.

@jonathanknowles this introduces new DB view `active_pool_retirements`. Do we need to consider any additional migration testing?

[2020-08-17 11:16] piotr-iohk commented on #1970
ok

[2020-08-17 11:16] #1970 closed, assigned to rvl

[2020-08-17 13:13] philkunz commented on #2044
@rvl I took a look at cardano-launcher and created a ticket there https://github.com/input-output-hk/cardano-launcher/issues/86

My goal is to make cardano consumable to the average TypeScript dev implementing a website or simple shop by nothing a more than a simple `npm install [packagename]`. I'm more than happy to include this work into iohk later should it find your approval upon completion (i

[2020-08-17 13:48] Anviking commented on #2005
Today I was suddenly unable to reproduce the problem using `cardano-wallet` `master` (and 10 wallets). It only took ~6 seconds to list pools. 🤔 But after a while it slowed down to 3 minutes. And switching to #2034 at that point made it ~6 seconds again.

[2020-08-17 14:04] piotr-iohk commented on #2022
Currently it fails due to removing of `cardano-wallet-shelley`:

[code]

https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/610#6c0f5b0c-559f-416a-851f-07cbc8ad4fe5

[2020-08-18 04:48] jonathanknowles commented on #2017
Yes, that's the one!

[2020-08-18 05:14] jonathanknowles commented on #2016
This is a good question. I think our existing tests should be sufficient at this stage.

The view in question is created with a `CREATE VIEW IF NOT EXISTS` statement: https://github.com/input-output-hk/cardano-wallet/blob/75b583a14faa5bc1875f6dddd2a94a897c47080d/lib/core/src/Cardano/Pool/DB/Sqlite.hs#L489-L495

So it should be idempotent over multiple startups.

In future, if we wish to adjust thi

[2020-08-18 06:23] rvl commented on #2022
That will be fixed by #2045.

[2020-08-18 08:13] piotr-iohk commented on #2016
lgtm

[2020-08-18 08:13] #2016 closed, assigned to jonathanknowles

[2020-08-18 14:00] Fell-x27 commented on #2005
Ok. Will try to build master today and check it for my case :)

[2020-08-18 19:13] Anviking commented on #2044
It [seems](https://hub.docker.com/r/inputoutput/cardano-wallet/tags) `latest` is not updated immediately, but after setting this:
[code]
in `docker-compose.yml`, ` NETWORK=mainnet docker-compose up` starts correctly.

I suppose `latest` will be updated next time we make a wallet release, which might be soon, so no need to PR docker-compose-yml. cc @piotr-iohk @rvl

[2020-08-18 21:48] Fell-x27 commented on #2005
Master (1d7914c7e530770dce3a248960e22eb3f0e143f2)
1033 pools, 100+ wallets
30 mins taken.

And 1-2s if there are no any wallets attached to process.

So...I've just launched one more wallet-serve just for fetching pools list to a cache-layer :laughing:
Works fine(kinda), but can't be used for fees calculation which are very slow neither.

[2020-08-19 07:00] KtorZ commented on #2044
@Anviking latest correspond to the latest release. So, on August 3rd at the moment.

[2020-08-19 09:32] Anviking commented on #2005
@Fell-x27 have you tried using the appropriate cardano-wallet binary from https://hydra.iohk.io/build/3811070#tabs-constituents ? It contains the #2034 fix which is not _yet_ on master.

(It has the `cardano-wallet version`: `2020.8.3 (git revision: 825d3f64cd641f6ba3347c5f04877145ffe9e0ae)`)

[2020-08-19 11:11] Fell-x27 commented on #2005
Not yet. I'll try to test it later, thanks :)

[2020-08-19 15:21] Anviking commented on #2022
After #2045 it times out after 10 hours instead 🙈

https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/612#0bb60c55-f9d2-443c-9acd-dd83e1ff6d2e

08:43: node starts syncing
10:33: first wallet bench starts
10:40 second wallet bench starts
10:47: third wallet bench starts
11:44: fourth wallet bench starts

Final logs before timeout are:
[code]
It shouldn't timeout until 18:43, so tha

[2020-08-19 16:12] KtorZ opened #2051 "Creating an address takes a massive amount of time on large wallets"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      |  |
| Platform     |           |
| Installation |             |

# Steps to Reproduce

1. Have a large Byron wallet (100K+ transactions, 50K+ UTxO, 50K+ existing addresses).
2. Import a single address using the `/byron-wallets/

[2020-08-19 21:10] Fell-x27 commented on #2005
About 3 sec for 50 wallets. Can't test for 100+ right now, but even for 50 it's obviously working good.

[2020-08-19 21:24] Fell-x27 commented on #2005
Looks like fees reward-related calculation problem isn't appearing neither.

[2020-08-19 21:27] Fell-x27 commented on #2005
Is this branch production-ready or unstable? Should I wait until it merged to the master or can deploy?

[2020-08-20 08:32] KtorZ commented on #2005
@Fell-x27 anything that isn't in `master` cannot be considered production-ready. And even `master`, we have nightly tests running once a day (which are mostly for tracking performance regressions) that would in principle be necessary to wait for until claiming that `master` is production-ready.

[2020-08-20 08:48] Fell-x27 commented on #2005
I see. But I'm happy anyway.

[2020-08-20 09:36] Fell-x27 commented on #2005
Looks like also CPU utilization for this version just dropped from "crazy" to "almost zero" either.

[2020-08-20 09:58] KtorZ commented on #2005
Ho. I didn't realize this was causing huge CPU spikes, which is something I find _bizarre_. From the analysis, I'd have expected the slowness to be due to thread blocking on shared concurrent variables (which is supposedly a 0-cost operation ... ).

[2020-08-20 11:32] Fell-x27 commented on #2005
Well, I can see spikes for now. Looks like they appear when new block comes. For a moment, CPU usage becomes very high, but then its almost 0 until new block coming.  But previously it was a stable very high CPU load with a small periods of resting.

So now its 1% time high and 99% almost zero load.
But previously it was 1% almost zero and 99% of timeline was very intensive usage.

Anyway new stat

[2020-08-20 13:13] KtorZ commented on #2051
Even on a rather "small" wallet, importing 10K addresses took 5s, and then, importing a new address took more than 10minute. So there's something quite fishy.

[2020-08-20 19:32] Fell-x27 commented on #2005
@Anviking @KtorZ , bug alert, guys. #2034 doesn't sync reward balance for fresh-restored wallets. It keeps reward balance for already restored with prev release version, but you tried to delete and restore it again with #2034, reward balance wont be restored and scary zero will be there.

[2020-08-20 20:57] Fell-x27 commented on #2005
Sorry, it was actual for build of 825d3f64cd641f6ba3347c5f04877145ffe9e0ae, but not for 03ed32945e01086fbc918ca0b3ff22ba4b1fef73 which is working fine.

[2020-08-20 21:12] Anviking commented on #2005
Thanks, good to know!

[2020-08-20 21:13] Anviking commented on #2005
I was pretty sure I saw the relevant integration tests pass on both 825d3f6 and 03ed32945e01086fbc918ca0b3ff22ba4b1fef73, though, which I find a bit odd 🤔

[2020-08-20 21:16] Fell-x27 commented on #2005
I'm just sharing my local testing results.

[2020-08-20 21:21] Fell-x27 commented on #2005
But if you want some funny data, I have it.
Just tried to send about 10k reward and got 18446744062438080512 lovelace estimated fees :)

request payload:

`{"payments":[{"address":"addr1qxvslv6qslr5zwecafquffkaseahaus8sjecx7uu0u6k5jm4g50xym02uf23pfzy3hw67sywl29sngrug8rpk7998w6stqxy2a","amount":{"quantity":11273643926,"unit":"lovelace"}}],"withdrawal":"self"}`

response:

`{"estimated_min":{"quanti

[2020-08-20 21:31] Fell-x27 commented on #2005
Looks like it appears when fee + transfered_sum >= total_sum.

But estimated **_migration_** fees are ok.

[2020-08-20 21:50] Fell-x27 commented on #2005
demo - https://youtu.be/dZ_NQGGxkXg

[2020-08-21 11:30] hasufell commented on #2023
Where in the API can I reproduce this?

----

Edit:

- pool id: https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/listStakePools
- reward account: e.g. https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/listTransactions

Any other endpoints affected?

The offending code spots are these, afais:

https://github.com/input-output-hk/cardano-wallet/blob/d7994e9c83ed

[2020-08-21 13:58] hasufell commented on #2023
Afais this will change various API endpoints, such as: https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/joinStakePool where the pool ID is a parameter

Having the encoding for parameter and json output diverge is probably going to be confusing?

[2020-08-24 10:42] piotr-iohk commented on #2017
lgtm.

[2020-08-24 10:42] #2017 closed, assigned to jonathanknowles

[2020-08-24 10:58] hasufell commented on #1971
@piotr-iohk I'm not sure how to reproduce this properly (I don't have a byron wallet on mainnet).

[2020-08-24 11:03] hasufell commented on #1971
@KtorZ the error is catched and rethrown:

https://github.com/input-output-hk/cardano-wallet/blob/b5b292b5a9f0ddccc0fc5d9e98bf3bf80f1a9d13/lib/shelley/src/Cardano/Wallet/Shelley/Network.hs#L478-L488

So:
1. what's the expected status code? 400?
2. what's a more meaningful message?

[2020-08-24 11:10] Anviking commented on #1971
Forgot to write down a step: The node (and wallet) needs to be syncing in the byron part of the chain. Once it reaches the hard-fork to Shelley, no time interpreter queries will fail anymore.

_Description updated._

[2020-08-24 11:15] Anviking commented on #1971
Btw, when the wallet and node is still in Byron, `cardano-wallet network information` will not contain the `next_epoch` and `node_tip` fields — a way to tell.

[2020-08-24 11:17] melmccann opened #2058 "Cannot send funds from Byron random address created via cardano-address"
Summary of problem

1. create mnemonic - 12 words - import into cardano-wallet Byron wallet.
2. Create Byron random address using cardano-wallet. Address_A.
3. Use cardano-address to create another address(Address_B) and import into cardano-wallet.
4. Request funds from faucet to Address_B.
5. Using cardano-cli try to create and sign and send a transaction to send the funds from Address_B to Addre

[2020-08-24 11:18] melmccann commented on #2058
Please contact me directly if you want the mnemonic I used here.

[2020-08-24 11:30] piotr-iohk commented on #1971
@hasufell, possible to reproduce also on current testnet:

 - get latest `testnet` config files into, say, ~/relay from https://hydra.iohk.io/job/Cardano/iohk-nix/cardano-deployment/latest/download/1/index.html

 - start node
[code]

 - start wallet
[code]

 - while the node is still syncing through Byron era (it should for a while, there are 70+ byron epochs there), create a Byron wallet:

[code]

[2020-08-24 13:43] melmccann commented on #2058
Deleted pending transactions in wallet. Stopped wallet and then ran in memory without the --database flag.
stopped node, removed the "ledger" & "volatile" folders, upgraded to node 1.19.0. restarted and sent transaction again. Worked.

[2020-08-24 17:43] Fell-x27 opened #2060 "Can't build: Unsupported tarball from /tmp/with-repo-archive4121/foo.tar"
| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | master|
| Platform     | Linux |

# Steps to Reproduce

git clone https://github.com/input-output-hk/cardano-wallet.git
cd cardano-wallet
git checkout master
stack build --test --no-run-tests

## Expected behavior

Build completed.

## A

[2020-08-24 17:50] KtorZ commented on #2060
Yes, the ledger revision from `master` is currently broken. See https://github.com/input-output-hk/cardano-wallet/pull/2056

[2020-08-24 18:23] Fell-x27 opened #2061 "Rewards migration?"
# Context

When I want to migrate funds, I want to click "send all" ant send then all. Literally. But there is a problem.

# Steps to Reproduce

1. Call migration endpoint for a wallet with reward.

## Expected behavior

All funds are migrating, rewards are included.

## Actual behavior

UTxO migrate, reward doesn't

---
## Comment
Yep, I can do it with simple transaction, but I think that it make

[2020-08-24 19:39] Fell-x27 opened #2062 "Fees are excessively high sometimes"
# Context

Sometimes when you want to estimate fees, you can get weird result;

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      |2020.8.3 (git revision: b5b292b5a9f0ddccc0fc5d9e98bf3bf80f1a9d13) |
| Platform     | Linux        |
| Installation | From Hydra            |

# Steps to Repro

[2020-08-24 19:49] KtorZ commented on #2061
The rewards aren't indeed included as part of the migration. The primary goal of the migration was to cover migrating from a legacy wallet (where rewards aren't a thing) to a new Shelley wallet. This has then be (perhaps "abusively") extended to Shelley wallets too.

I'll ping our product owner about this to see if that's something we are willing to support moving forward :+1:

[2020-08-24 19:49] #2061 closed, assigned to nobody

[2020-08-24 19:51] KtorZ commented on #2062
Looks like a proper under/over flow in the fee estimation.

[2020-08-24 20:39] Fell-x27 opened #2063 "Reward account refreshing has a lag"
# Context

When you send some funds+rewards your UTxO and reward balances don't get updated at the same time.

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | 2020.8.3 (git revision: b5b292b5a9f0ddccc0fc5d9e98bf3bf80f1a9d13) |
| Platform     | Linux          |
| Installation | From Hy

[2020-08-24 20:46] Fell-x27 commented on #2061
Ok, but I thought that the primary goal is "This operation attempts to preserve the UTxO "shape" of a wallet as far as possible." :)

Oh, ok, I'll check changelogs twice to catch if you removed it.

[2020-08-25 03:59] rvl commented on #2060
Fixed in fece720cb18d9676c4f1f6b0d3a69a37fab93f1c.

[2020-08-25 03:59] #2060 closed, assigned to rvl

[2020-08-25 05:46] rvl opened #2064 "cardano-wallet-core:test:unit sometimes consumes all available memory and fails."
# Context

The `cardano-wallet-core:unit` test suite sometimes consumes all available memory and fails.
- On linux it says the test suite exited with status -9 (this is because the oom killer has killed it).
- On macos it says the test suite was killed.
- On windows (wine) it says that a memory allocation failed.

The cause is likely to be an infinite loop, perhaps due to a faulty QuickCheck gener

[2020-08-25 06:57] KtorZ commented on #2063
Thanks for reporting @Fell-x27 :)
This one is known and a duplicate of #1955 (see last-ish comment).

[2020-08-25 06:57] #2063 closed, assigned to nobody

[2020-08-25 06:59] KtorZ commented on #2061
It is also correct. Yet, note that the rewards are NOT UTxOs. They use a chimeric ethereum-like account model which are turned into UTxO via a special operation called "withdrawal".

[2020-08-25 08:20] piotr-iohk commented on #1919
Perhaps that is not a result of this change but Benchmarks and Windows tests are failing for quite a while now. (Although benchmarks are hopefully fixed :crossed_fingers: )

[2020-08-25 08:23] piotr-iohk commented on #1919
As per https://github.com/input-output-hk/cardano-wallet/issues/1970#issuecomment-672576025 this item was supposed to "fix" Windows tests...

[2020-08-25 10:46] rvl opened #2067 "cardano-wallet-core:test:unit TlsSpec fails on windows"
# Context

The [nightly windows tests](https://github.com/input-output-hk/cardano-wallet/actions?query=workflow%3A%22cardano-wallet+Windows+Tests%22) sometimes fail in the ` cardano-wallet-core:unit` test suite.

# Test Case

- `test/unit/Cardano/Wallet/Api/Server/TlsSpec.hs:117:13:`
  Cardano.Wallet.Api.Server.Tls, TLS Client Authentication, Deny client with wrong certificate if TLS is enabled

#

[2020-08-25 10:47] rvl commented on #1919
The windows tests were fixed but then there was a new failure. I have opened #2067 for it.

[2020-08-25 12:26] KtorZ commented on #2022
nightly restoration benchmarks are up-and-running :+1:

[2020-08-25 12:26] #2022 closed, assigned to nobody

[2020-08-25 13:24] piotr-iohk commented on #2005
My results are a bit inconclusive so far. I repeatedly get all stakepools within 50s - 1 min for each wallet version I tested below:

 - v2020-08-03 `2020.8.3 (git revision: 40a8b5daa1da77480e4b818c49f2a4977aed4a71)`
 - 51221c7f0 `2020.8.3 (git revision: 51221c7f06fa119048b763b0737202c646100456)`
 - current master `2020.8.3 (git revision: fece720cb18d9676c4f1f6b0d3a69a37fab93f1c)`

**Test conditio

[2020-08-25 14:53] Anviking opened #2070 "nix-build -A cardano-wallet fails on macOS Big Sur"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | fece720cb18d9676c4f1f6b0d3a69a37fab93f1c |
| Platform     | macOS 11.0-beta (20A5354i)          |
| Installation |     |

# Steps to Reproduce

1. `nix-build -A cardano-wallet`

## Expected behavior

It succeeds.

## Actual be

[2020-08-25 17:13] Anviking commented on #2005
With the same test conditions as above, https://github.com/input-output-hk/cardano-wallet/issues/2005#issuecomment-680022983
and testing
- 2020.8.3 (git revision: fece720cb18d9676c4f1f6b0d3a69a37fab93f1c)
- 2020.8.3 (git revision: 40a8b5daa1da77480e4b818c49f2a4977aed4a71)

I get 10-13s for both

With cardano-node `1.19.0` the need for the wallet fix _should be_ lessened, which is what I see ^^ (ma

[2020-08-25 18:16] piotr-iohk commented on #2005
With cardano-node 1.19.0 yes. Haven't check with 1.18.0. I will...

Are you syncing 10 wallets? Your times are awesome (10-13s)... For me on 1.19.0 it was at least ~45s...