[2019-06-06 08:06] #371 closed, assigned to nobody

[2019-06-07 21:24] Anviking opened #386 "Unable to decode Jörmungandr BFT blocks"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code  v Configuration v Environment v Human v Unknown |

# Context

Jörmungandr decoders had only been tested with the genesis block. Thanks to #382 there are more blocks to test on.

# Steps to Reproduce

[code]

`stack ghci cardano-wallet-jormungandr`

[code]

## Expecte

[2019-06-07 21:27] Anviking commented on #386
*wasn't sure whether to create a bug or add a point to #359*

[2019-06-10 03:09] jonathanknowles commented on #368
@KtorZ

If commands are verbs, the perhaps we should call this command `cardano-wallet launch`?

[2019-06-10 03:51] jonathanknowles commented on #357
@KtorZ wrote:

Instead of using a compilation flag, why not just have two different executable targets (two different executable sections within `cardano-wallet.cabal`)? The two different executables could depend on a (mostly) common set of libraries.

[2019-06-10 14:37] KtorZ commented on #386
@Anviking Bug is right here since it's about a task that is now "done" and closed.

[2019-06-11 02:58] jonathanknowles commented on #351
The [`iohk-monitoring-framework`](https://github.com/input-output-hk/iohk-monitoring-framework/) defines a number of [severity levels](https://github.com/input-output-hk/iohk-monitoring-framework/blob/b0ea8317ba5a887d46969e9b3040862a10e6efb3/iohk-monitoring/src/Cardano/BM/Data/Severity.lhs#L33-L44):

| **Severity Level** | **Meaning** |
| -- | -- |
| Debug | detailed information about values and d

[2019-06-11 04:02] jonathanknowles commented on #350
The [`iohk-monitoring-framework`](https://github.com/input-output-hk/iohk-monitoring-framework/) defines a number of [severity levels](https://github.com/input-output-hk/iohk-monitoring-framework/blob/b0ea8317ba5a887d46969e9b3040862a10e6efb3/iohk-monitoring/src/Cardano/BM/Data/Severity.lhs#L33-L44):

| **Severity Level** | **Meaning** |
| -- | -- |
| Debug | detailed information about values and d

[2019-06-11 09:17] piotr-iohk opened #397 "CLI wrongly returns exit code 0 when providing not existing wallet id"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Linux | Code |

# Context

cf -> https://github.com/input-output-hk/cardano-wallet/pull/395#discussion_r292334188
When providing wallet id that does not exist on the node (e.g. which was previously deleted) the API returns `404` and appropriate message `I couldn't find a wallet with the given id:

[2019-06-11 10:02] piotr-iohk commented on #144
Hi @rvl and @KtorZ. I've noticed that, as part of this ticket, cardano-wallet's `--port` lost its default value and currently one needs to provide `--port` on each `cardano-wallet` command, which is quite inconvenient. (Well, we had that before, obviously, but I was mostly using a default port value so it was not bothering me).

I'm just thinking if we could `save` the port somehwere on `cardano-w

[2019-06-11 12:30] piotr-iohk opened #398 "CLI unnecessarily asks for password when posting transaction from a non-existing wallet"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Linux | Code  v Configuration v Environment v Human v Unknown |

# Context

When trying to post tx and providing wallet id that is valid 40 char hex encoded string (yet not belonging to existing wallet), the CLI is asking for password, and only after providing the password it shows message that `I

[2019-06-12 04:44] jonathanknowles opened #401 "CLI port argument marked as optional but actually required when creating wallet."
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code |

# Context

The CLI help claims that the `wallet create` command accepts an **optional** `--port` argument:
[code]
However, attempting to create a wallet using the CLI without specifying a port results in an error indicating that the `--port` argument is **required*

[2019-06-12 06:43] jonathanknowles commented on #397
Fix available: #402

[2019-06-12 06:51] jonathanknowles commented on #397
@piotr-iohk My apologies. I hadn't realized that you had already created a PR to address this (PR #399). Feel free to disregard my PR #402 if necessary.

[2019-06-12 07:06] rvl commented on #144
Hi @piotr-iohk, yes good point. This change has made testing the CLI less convenient.

Three workable solutions I can think of:

1. Change the default port back to 8090, and add a separate option `--random-port` to enable random port selection.
2. Your suggestion - the server could drop the port number into `~/.cache/cardano-wallet/port` (and delete the file when exiting).
3. A "soft default" for

[2019-06-12 07:15] KtorZ commented on #144
3. is probably enough at the moment? It will be a sort of biased random :)
This is probably fine in most development environment and surely okay in users' systems too.

[2019-06-12 07:27] piotr-iohk commented on #397
Woops, my bad for not updating the bug... ¯\_(ツ)_/¯ (@jonathanknowles - essentially I made the same change as you, plus I've updated integration tests. I suppose you did not do the latter, hence #402 fails on CI)

[2019-06-12 07:34] piotr-iohk commented on #401
Yes, in fact, after #387, `--port` lost it's default value and therefore became mandatory for all `cardano-wallet` operations that need server, which made usage of CLI a bit inconvenient. cf discussion -> https://github.com/input-output-hk/cardano-wallet/issues/144#issuecomment-500775033

[2019-06-12 07:38] piotr-iohk commented on #144
Sure, 3 seems reasonable. So, if I understand correctly, that would require also giving back `--port` it's default value `8090`?

[2019-06-12 07:43] KtorZ commented on #144
This is how I see the behavior for 3. (@rvl to confirm if he sees things the same way):

- 8090 remains a default for the port, in very much the same way as it is now: if no `--port` is specified, the option value is `8090` for all commands.

- When starting the server, if no port is given, then we first try to start the server on the default port `8090`. If it fails because something's already li

[2019-06-12 07:46] rvl commented on #144
I prefer 1 because it's easiest to implement, and avoids confusing behaviour if the user has accidentally started two wallets.

[2019-06-12 08:10] jonathanknowles commented on #401
@KtorZ @rvl  @piotr-iohk

Perhaps we could change the wallet server startup behaviour so that we choose a port (on which to listen) according to the following order of precedence:

1. User-supplied port, if provided.
2. A default port (`8090`), if no user-supplied port was provided.
3. A random port, should the default port be unavailable.

Then, later on, when the user invokes the wallet CLI with

[2019-06-12 08:54] KtorZ opened #403 "API swagger specification isn't a valid swagger file"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Configuration |

# Context

We have a hand-written swagger API specification [here](https://github.com/input-output-hk/cardano-wallet/blob/master/specifications/api/swagger.yaml). However, this isn't a valid swagger structure for there are some attributes and parameters in

[2019-06-12 11:31] KtorZ commented on #154
I just run into some unexpected issues while running the integration tests scenarios using the SQLite engine. It seems that the way the checkpoint UTxO is retrieved is wrong and also include pending transaction. I am currently investigating / fixing this.

[2019-06-12 13:47] piotr-iohk commented on #302
lgtm :+1:

[2019-06-12 13:47] #302 closed, assigned to paweljakubas

[2019-06-13 14:59] piotr-iohk commented on #403
lgtm :+1:

[2019-06-13 14:59] #403 closed, assigned to KtorZ

[2019-06-13 15:52] piotr-iohk opened #409 "cardano-wallet server fails with unpleasant error when does not connect to http-bridge within a few seconds"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Linux | Code  |

# Context

# Steps to Reproduce

Start `cardano-wallet server` and wait for ~20 seconds

## Expected behavior

Either `cardano-wallet server` should infinitely listen or fail more gracefully after some timeout.

## Actual behavior

[code]

---

# Resolution Plan

- [x] Handle erro

[2019-06-13 16:20] KtorZ commented on #409
`or fail more gracefully after some timeout.`

Well, this is our "graceful termination after timeout" already :joy: ... I guess we can work out a better error message :man_shrugging:

[2019-06-14 05:20] jonathanknowles opened #410 "Not possible to specify default API server port when using `cardano-wallet-launcher`."
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code |

# Context

The `cardano-wallet-launcher` command makes it easy to start `cardano-http-bridge` and `cardano-wallet server` in a single step.

Once started, a user can then use `cardano-wallet` to issue client commands.

The `cardano-wallet` command is pre-configured

[2019-06-14 07:42] jonathanknowles commented on #410
Fix available: #411

[2019-06-14 07:43] piotr-iohk commented on #356
@jonathanknowles it seems to be ready to move to QA? (related integration tests added in #395)

[2019-06-14 07:57] jonathanknowles commented on #356
Yes, I believe this one is finished.

[2019-06-14 08:06] KtorZ commented on #356
Then let's fill in the QA section properly and move it to the appropriate section :pray:

[2019-06-14 09:01] KtorZ commented on #410
As explained in https://github.com/input-output-hk/cardano-wallet/pull/411#issuecomment-502013598, not a bug. The launcher will be merged with the wallet soon (most probably today) and therefore we're trying to avoid any extra work in the launcher code that is already present in the `cardano-wallet` executable.

[2019-06-14 09:19] #410 closed, assigned to jonathanknowles

[2019-06-14 10:31] KtorZ commented on #397
LGTM :+1:

[2019-06-14 10:31] #397 closed, assigned to jonathanknowles, piotr-iohk

[2019-06-14 10:50] piotr-iohk commented on #356
Done. Implemented & tested. :+1:

[2019-06-14 10:50] #356 closed, assigned to jonathanknowles

[2019-06-14 12:19] KtorZ commented on #398
:+1:

[2019-06-14 12:19] #398 closed, assigned to piotr-iohk

[2019-06-14 13:42] piotr-iohk commented on #154
This looks good :+1: .
I have added additional tests in #413 checking if `--database` and `--state-dir` produce files as expected.

[2019-06-14 14:21] piotr-iohk commented on #401
lgtm :+1:  (outstanding test suite!!!)

[2019-06-14 14:21] #401 closed, assigned to KtorZ, paweljakubas

[2019-06-17 03:13] jonathanknowles commented on #350
Hi @KtorZ

Just curious if there is a business requirement for this criterion:

If not, then perhaps we can leave this until later, in order to keep things simple. What do you think?

[2019-06-17 10:53] piotr-iohk opened #422 "Parameters --port and --bridge-port not validated correctly by CLI"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Linux| Code  v Configuration v Environment v Human v Unknown |

# Context

Currently both `serve` and `launch` commands of `cardano-wallet` come with:
 - `--port`
 - `--bridge-port`
e.g.:

[code]
There are few issues:

1. Provided port for both commands (either for `--port` or `--bridge-port`) is

[2019-06-17 11:01] piotr-iohk opened #423 "Starting `mainnet` server on `testnet` bridge results in unfriendly error message."
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Linux | Code  v Configuration v Environment v Human v Unknown |

# Context

Starting `mainnet` server on `testnet` bridge (or vice-versa) results in unfriendly error message.

# Steps to Reproduce

1. `cardano-http-bridge start --port 8080 --template mainnet`
2. `cardano-wallet serve --network tes

[2019-06-17 12:05] KtorZ commented on #422
I'll tackle that as part of #368

[2019-06-17 12:05] #422 closed, assigned to KtorZ

[2019-06-18 04:10] jonathanknowles opened #427 "`cardano-wallet launch` does not respect `--min-log-severity`"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code |

# Context

The `cardano-wallet launch` command has a parameter `--min-log-severity` that is useful for controlling the verbosity of logging. Setting this parameter **should** mean that log entries with a severity lower than `--min-log-severity` are **not** written

[2019-06-18 06:49] piotr-iohk commented on #386
lgtm :+1:

We can as BFT is only in scope for now.

[2019-06-18 06:49] #386 closed, assigned to Anviking

[2019-06-18 08:26] jonathanknowles commented on #427
We've decided that the tasks mentioned in this issue **should** be addressed, but that they fall within the scope of issue #350 (which has been updated to include the tasks mentioned in this issue). So we can close this issue.

[2019-06-18 08:26] #427 closed, assigned to nobody

[2019-06-18 13:30] #154 closed, assigned to rvl, KtorZ, paweljakubas

[2019-06-20 10:09] piotr-iohk commented on #368
lgtm

[2019-06-20 10:09] #368 closed, assigned to KtorZ

[2019-06-20 11:38] piotr-iohk commented on #144
@rvl, @KtorZ

That lgtm. Few things I'd just like to clarify:

 - When running the test `DaedalusIPC` I see at the end of it (test itself passes):
[code]
Not sure if that is a problem, but looks kind of strange/buggy.

 - `mock-daedalus.js`. I'm thinking maybe it would be worth adding `--random-port` when doing `child_process.spawn`, since that would probably be the use in the real world(?) (or ma

[2019-06-20 11:40] piotr-iohk commented on #352
@KtorZ

The unit tests using mock server are very nice. Perhaps we could also have few cases in integration environment in particular for checking if sensitive info is not logged (passphrase, mnemonic, mnemonicsnd). So at least for creating wallet, updating passphrase, posting transaction. What do you think?

Also, probably not related, but I noticed that there is a tone of queries logged in `DEBU

[2019-06-20 12:22] KtorZ commented on #352
A bit tricky to setup to be honest :thinking: ... If we turn on logging in the integration tests, they're going to become quite noisy. There's also the option of spinning up another wallet that has logging enabled in a TVar too. Though to be honest, I think it's a bit overkill here since it doesn't buy us much than the `unit` tests (since this is already what the unit tests are testing! So we woul

[2019-06-20 12:30] KtorZ commented on #144
Nope, that's actually what happen when the pipe is closed between the client and the server, and that's a particular termination case handled by the the module already:

https://github.com/input-output-hk/cardano-wallet/blob/master/lib/core/src/Cardano/Wallet/DaedalusIPC.hs#L113-L116

Not that in practice, this would also terminates the wallet server which is the behavior we do want. It is possibl

[2019-06-20 13:26] piotr-iohk commented on #352
Ok, acknowledged that mechanism works and is well tested. I'm just a bit concerned that there is no check that it works in _real_ code... (like, when someone makes some unintentional change in the future and suddently it stops hiding sensitive info... but maybe that's too pesimistic). Maybe, just to be safe, a _stupid_ unit test checking the contents of -> https://github.com/input-output-hk/cardan

[2019-06-20 13:28] piotr-iohk commented on #144
lgtm :+1:

[2019-06-20 13:28] #144 closed, assigned to rvl

[2019-06-20 13:55] KtorZ commented on #352
Well, the thing is that the list of things we should hide isn't specific to the logging module. And, we could also hard-code the list of sensitive things and verify in the tests that what we have in the test isn't shown in logs but.. it doesn't really prevent us from making any mistake here since this wouldn't catch:

- parameter that are renamed
- new parameters that are added
- old parameters th

[2019-06-20 14:03] piotr-iohk commented on #352
That sounds good too (and would make me sleep better...) ;)

[2019-06-21 08:56] rvl commented on #351
Privacy section needs to be updated with our simpler plan, and TSD may yet have some input.

[2019-06-21 17:54] KtorZ commented on #352
Added an entry in the release checklist :+1: (see https://github.com/input-output-hk/cardano-wallet/wiki/Release-Checklist)

[2019-06-21 17:54] #352 closed, assigned to jonathanknowles, KtorZ

[2019-06-21 17:57] KtorZ commented on #351
Closing the ticket since the document exists and has been reviewed by a few already; It will be refined over time and make more precise as we demand it.

[2019-06-21 17:57] #351 closed, assigned to rvl

[2019-06-22 11:50] KtorZ commented on #350
@jonathanknowles Just seeing your last comment. The criteria is `may`, hence this is optional. A nice-to-have if time allowed. If you'd rather keep it for later, then that's good.

[2019-06-24 02:05] jonathanknowles commented on #350
I definitely think it's a good idea to keep this one for later. Users can already exert control over the verbosity through the `--quiet` and `--verbose` flags, which have the benefit of being very explicit.

[2019-06-24 02:08] jonathanknowles commented on #350
Moving this to QA, as all the items on the development plan are now completed, and the acceptance criteria should now be satisfied (to the best of my knowledge).

[2019-06-24 04:34] jonathanknowles commented on #357
Removed `cardano-wallet-launcher` from the acceptance criteria, as this no longer exists as a separate executable.

[2019-06-24 05:27] jonathanknowles commented on #357
@KtorZ I'd like to confirm one thing: should the CLI commands should all be basically exactly the same? Or are there expected to be any differences in the calling conventions?

[2019-06-24 07:07] KtorZ commented on #357
@jonathanknowles The only "discrepancy" we tolerate here are in the `launch` & `serve` commands, since they interact directly with the wallet backend. For Jörmungandr for instance, we will need a genesis block hash to be provided which isn't the case for the bridge.

[2019-06-24 07:14] KtorZ commented on #350
(@jonathanknowles before moving it to QA, make sure to fill-in the 'QA' section with details about testing and how things are being tested, if they are :wink:)

[2019-06-24 12:06] piotr-iohk commented on #364
Looking good. Just added few more scenarios in https://github.com/input-output-hk/cardano-wallet/pull/458

[2019-06-24 13:11] KtorZ opened #460 "Technical Debts Sprint 27-28"
# Context

This ticket is a collection of small tasks to be done during down times to reduce the technical debts. These are small things identified by looking at the code-coverage and logs.

# Decision

- [x] [@piotr-iohk] [#489] Testing missing or invalid options in the CLI (key, not value)
- [x] [@paweljakubas] [#540] Send a transaction from valid but not owned addresses
- [x] [@KtorZ] Enable co

[2019-06-24 13:26] KtorZ opened #461 "Defer selection improvement in random-improve algorithm"
# Context

The current coin selection works following a so-called random-improve algorithm (see [Formal Specification For A Cardano Wallet - Chapter 11](https://github.com/input-output-hk/cardano-wallet/blob/master/specifications/wallet/formal-specification-for-a-cardano-wallet.pdf) for all outputs, one output after the other.

We have identified that for some users, doing the improvement for each

[2019-06-24 13:56] KtorZ opened #462 "Estimate max number of allowed inputs in coin selection"
# Context

We currently use a hard-coded limit of `10` inputs for a single transaction. This is pretty far from what reality allows.

https://github.com/input-output-hk/cardano-wallet/blob/eccc130290f71a18b471f2e16a31614b3cddc2d4/lib/core/src/Cardano/Wallet/Api/Server.hs#L363-L364

When working on benchmarking, we've already explored a bit the _true_ limitation of the system, although based on a t

[2019-06-25 02:36] jonathanknowles commented on #357
@KtorZ

Are we expecting the user to provide this hash (if so, how will they know what to provide?), or will we hard-code the hash and pass it to Jormungandr behind the scenes?

[2019-06-25 06:27] #364 closed, assigned to paweljakubas

[2019-06-25 06:42] piotr-iohk commented on #460
Just to clarify:

Meaning more tests like this one? -> https://github.com/input-output-hk/cardano-wallet/blob/master/lib/core/test/integration/Test/Integration/Scenario/CLI/Mnemonics.hs#L37-L40

I suppose you don't mean this? -> https://github.com/input-output-hk/cardano-wallet/blob/master/lib/core/test/integration/Test/Integration/Scenario/CLI/Transactions.hs#L319-L333

[2019-06-25 07:31] KtorZ commented on #460
Well, yes, also for the multi-args parsing (like `payment...`). I was surprised to see the corresponding function not covered although we don't count partially covered lines as covered and we don't see whether lines are partially covered or not in coveralls (so we'd have to check with a local code-coverage report to see exactly what's not covered regarding the argument parsing, maybe it's just som

[2019-06-25 07:36] piotr-iohk commented on #460
I suppose it cannot be covered using the integration scenario? (as you provide a wallet id as a source of transaction and address as a destination, so _Send a transaction from valid but not owned addresses_ would not be easy to do with this)

[2019-06-25 07:37] KtorZ opened #465 "Implement `listTransactions` endpoint (no filtering)"
# Context

The following endpoint is still missing but crucial for end-users:

https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/listTransactions

# Decision

The main difficulty on this endpoint lies in the `Range` parameter and the filtering and sorting requirements that goes behind it. This ticket leaves that aside and focus on implementing the endpoint "raw', returning all t

[2019-06-25 08:03] KtorZ opened #466 "Implement filtering and sorting for the `listTransactions` endpoint."
# Overview

This task will make it possible for callers of the **[`listTransactions`](https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/listTransactions)** API endpoint:

1. to specify a _**time range**_, so that the endpoint will return only transactions that fall within the given range.

2. to specify a _**sort order**_, so that returned transactions can be returned in either

[2019-06-25 08:10] KtorZ opened #467 "Implement `transaction list` command in CLI"
# Context

Follow-up for #466 and #465. We do want to provide this capability in the CLI too, in a very similar fashion to what we currently do with other commands.

# Decision

This ticket can in practice starts after #465 but can only be completed once #466 is done. The CLI will support filtering through two extra options `--start` & `--end` both optional and accepting a date in  ISO-8601 UTC fo

[2019-06-25 08:23] KtorZ opened #469 "Implement `estimateFee` endpoint & `transaction fee` command"
# Context

https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/postTransactionFee

The implementation regarding the logic of this endpoint is already more-or-less available here:

https://github.com/input-output-hk/cardano-wallet/blob/master/lib/core/src/Cardano/Wallet.hs#L565-L581

Fees are the result of `sum outs - sum inps` which is easily computed after creating an unsigned tr

[2019-06-25 08:26] KtorZ commented on #460
Tricky indeed since we don't _yet_ allow API users to specify their own inputs. This can be covered at the unit-test level however.

[2019-06-25 10:11] piotr-iohk commented on #350
Hi @jonathanknowles, indeed filled QA section would be helpful (e.g. something like here would be handy -> https://github.com/input-output-hk/cardano-wallet/issues/352).

Anyway, I've looked through PRs and comments and as far as I see (correct me if I'm wrong):
 - In the end for setting log level we can use in CLI for `launch` and `server` commands
   - no param -> log level: info
   - `--quiet`

[2019-06-25 12:07] KtorZ opened #472 "Implement `wallet passphrase update` command in CLI"
# Context

The API does support have a dedicated endpoint to update a wallet's passphrase:

https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/putWalletPassphrase

The corresponding command in the CLI is still missing.

# Decision

Implement a `wallet update passphrase` command.

# Acceptance Criteria

1. A `wallet update passphrase` command _must_ be available in the command-lin

[2019-06-25 16:23] piotr-iohk commented on #350
Ok, I've added some tests under #474. Will add more (for launcher) tomorrow.

[2019-06-26 06:49] KtorZ commented on #357
@jonathanknowles We'll need this to be provided by the user since we can't realistically know what the hash is going to be. Plus, in the early phases we are going to tweak and tweak the genesis file that the hash is constantly going to change.

In the long run, we might provide some hard-coded shortcut to refer to well-known hash like `--mainnet` or `--testnet` but there's no such thing yet.

[2019-06-26 13:03] KtorZ opened #484 "Restoration workers aren't restarted with the wallet"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code |

# Context

When creating a wallet via the API, we also start a restoration worker in charge of keeping the wallet in sync with the chain. There's one dedicated worker per wallet, and they're fairly resilient to network issues.
However, when restarting a wallet usin

[2019-06-27 07:18] KtorZ commented on #461
*Add info about existing regression tests

[2019-06-27 07:22] KtorZ commented on #461
*Add examples of properties

[2019-06-27 07:40] KtorZ commented on #466
*review acceptance criteria 3 -> use previous range

[2019-06-27 07:50] KtorZ commented on #467
- [x] ~~review must/should semantic above for options~~

[2019-06-28 07:59] piotr-iohk commented on #484
lgtm

[2019-06-28 07:59] #484 closed, assigned to KtorZ

[2019-06-28 15:37] Anviking commented on #460
Aren't the following two cases covered?

https://github.com/input-output-hk/cardano-wallet/blob/c9f19dd0856f44f6882156edc79d99217fab16e0/lib/jormungandr/test/integration/Cardano/Wallet/Jormungandr/NetworkSpec.hs#L113-L137

To avoid testing `JormungandrLayer` directly, maybe we can provide a mock `getDescendantIds` that returns invalid ones 🤔

[2019-07-01 06:29] piotr-iohk commented on #354
Hm, I don't remember reviewing this, also #492 has been referenced to this item after closing. Should this be still in progress?

[2019-07-01 06:31] piotr-iohk commented on #350
Well, I didn't want to close this one until #474 gets merged...

[2019-07-01 07:12] KtorZ commented on #350
@piotr-iohk sorry about that!
On fridays, I sometimes close some of the ticket to get Zenhub updated and do some predictions on what can be the work of next week. Seems like I forgot to re-open them this time :/

I should have reopened the relevant stuff though I am commuting at the moment; I'll have a second look once I get my hand on a laptop.

[2019-07-01 07:22] rvl commented on #462
1. Should the estimate be a max bound? That is, if there were coin selection with maxNumInputs + 1, then the encoded tx would exceed the max size.
2. About the estimation strategy. "Control that its size doesn't exceed the maximum transaction size" -- what does that mean? Does it mean to repeatedly run coin selection with lower maxNumInputs until the transaction size is below the max?
3. Should th

[2019-07-01 07:38] KtorZ commented on #462
@rvl

1. It should be as close as possible to a realistic max bound, using what we know of how the CS algorithm work (for instance, there's at least one input per output). And it's preferable for this limit to be slightly more permissive than the opposite. We may indeed sometimes end up with transaction that are slightly too big (cf answer to your second question).

2. No, it means that we run it

[2019-07-03 12:18] piotr-iohk commented on #461
LGTM, I've only added integration tests producing ErrInputsDepleted in #500.

[2019-07-04 06:30] Anviking commented on #219
Having hidden limit of 255 ins/outs on `(Tx,[TxWitness])` might be fine for transactions created with our coin-selection.

If we want to serve an endpoint corresponding to [`signTx`](https://github.com/input-output-hk/cardano-wallet/blob/a2f24584b3a1015487ecadff523bd89242024616/lib/core/src/Cardano/Wallet.hs#L610-L642) (not sure if we ever will) it might be nice to check that limit and fail early.

[2019-07-04 07:24] #461 closed, assigned to paweljakubas

[2019-07-04 07:25] piotr-iohk commented on #350
:+1:

[2019-07-04 07:25] #350 closed, assigned to jonathanknowles

[2019-07-04 11:15] piotr-iohk commented on #219
lgtm :+1:

[2019-07-04 11:15] #219 closed, assigned to Anviking, akegalj, KtorZ, paweljakubas

[2019-07-04 19:22] #359 closed, assigned to nobody

[2019-07-05 15:53] piotr-iohk commented on #354
lgtm

[2019-07-05 15:53] #354 closed, assigned to rvl, KtorZ

[2019-07-10 03:53] jonathanknowles commented on #472
Hi @KtorZ

After adding this command, we'd end up with the following:

| Command | Effect |
| -- | -- |
| `cardano-wallet wallet update` | update wallet metadata (currently just the name) |
| `cardano-wallet wallet passphrase update` | update wallet passphrase |

If the user types `cardano-wallet wallet --help` they'll see something similar to:
[code]
In my opinion, this is a bit inconsistent, as

[2019-07-10 06:32] jonathanknowles commented on #472
@KtorZ Another question:

Unix commands like `passwd` notify the user if they attempt an idempotent update. Should we do the same for a passphrase update?

Something like this:

<pre>
$ cardano-wallet wallet passphrase update 4ce7b5440f94054925cead9247e406cb28ea7add
Please enter your current passphrase: **********
Please enter a new passphrase: **********
Please enter your new passphrase a second

[2019-07-10 07:24] jonathanknowles commented on #465
@Anviking @KtorZ

I was just wondering: do we have a **type** for this endpoint yet, or are there more details to work out before we can be sure what the type should be?

If we are already sure what the type should be, then I'm wondering if it would be convenient to  implement a small PR to add a skeleton endpoint, returning just the empty list? (We wouldn't have to merge this immediately.)

If we

[2019-07-10 07:41] KtorZ commented on #465
@jonathan.knowles

https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/listTransactions ?

Is it what you meant?

[2019-07-10 07:50] jonathanknowles commented on #465
Yup! But practically speaking, to translate this into a `ListTransactions` type in `Cardano.Wallet.Api`.

If we could make a small PR to implement this first (with a dummy implementation that returns `[]`), then that would potentially allow #467 (the CLI part) to proceed in parallel.

[2019-07-10 07:51] Anviking commented on #465
_resurrecting an old un-rebased commit doing that_

--> #518

[2019-07-10 08:14] KtorZ commented on #472
I think your first proposal makes sense. And I'd be more inclined to have `update name` than `update metadata` at first, and either add a new one or, review the command-line if we ever come to add more metadata :)

I've more reserved about the second proposal, the main reason being that the API doesn't act this way. So we start having a difference of logic between the CLI and the API which is some

[2019-07-10 08:40] jonathanknowles commented on #472
Great. Thanks for confirming.

Fair enough!

If the user is attempting to change the passphrase to the same value, it's possible he/she has made a mental error. As a user, I personally like to be reminded when I've made an error like this. But I guess it boils down to the kind of experience we want to provide.

[2019-07-10 13:11] piotr-iohk commented on #358
lgtm :+1:

[2019-07-10 13:11] #358 closed, assigned to KtorZ, paweljakubas

[2019-07-10 13:54] KtorZ opened #522 "Maximum number of inputs are applied to each output individually and not globally"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code  |

# Context

The coin selection selects coins from available UTxO up to a certain limit (which is implicitly fixed by the transaction size). However, it seems that this limit isn't respected as, in some cases, our coin selection would generate transactions with far

[2019-07-11 02:12] rvl commented on #466
I'm not sure I like using the Range header to define sort direction. It's a bit too implicit, and if the client has a bug that requests incorrect ranges, this will amplify their problems. Also, there is no way to set the sort order for an (half-) open range. I think we should use a query parameter to provide sort field and direction.

[2019-07-11 14:58] piotr-iohk commented on #409
Integration tests added in #528.
¯\_(ツ)_/¯

[2019-07-11 16:04] piotr-iohk commented on #472
Looks good :+1: . I'd like to add few more integration tests for it to the suite.

[2019-07-11 16:05] piotr-iohk commented on #409
lgtm :+1:  (#528 to be merged later, but I can close this one)

[2019-07-11 16:05] #409 closed, assigned to KtorZ

[2019-07-12 13:34] KtorZ commented on #462
Moving this back to `In Progress` since we aren't using the corresponding functions in the wallet layer at the moment:

https://github.com/input-output-hk/cardano-wallet/blob/39050fd491e36ca0c40e5519fcb5e402d44b0bc3/lib/core/src/Cardano/Wallet.hs#L624-L629

I'll add a bullet point to the ticket and make sure it's used.

[2019-07-12 13:42] KtorZ commented on #462
@rvl I've also extended the QA section with links. The idea is really to make the work easy for @piotr-iohk and avoid having him figuring out where to look for the tests. We're starting to have a rather big codebase, with tests spread across many modules, and even though there are some naming convention, it's always good to point at the information you want to highlight :+1:

[2019-07-12 16:38] #357 closed, assigned to jonathanknowles, KtorZ

[2019-07-15 01:02] rvl commented on #462
I thought the corresponding wallet layer functions would be implemented in another ticket. There is nothing in the AC about it.

[2019-07-15 05:54] piotr-iohk commented on #472
More tests added in #535.

[2019-07-15 05:54] #472 closed, assigned to jonathanknowles

[2019-07-15 14:31] piotr-iohk commented on #522
lgtm :+1:

[2019-07-15 14:31] #522 closed, assigned to KtorZ

[2019-07-15 14:34] piotr-iohk commented on #462
lgtm :+1:

Sort of related tests are in #533.

[2019-07-15 14:34] #462 closed, assigned to rvl

[2019-07-16 09:18] piotr-iohk commented on #423
lgtm :+1:
I've added additional integration test in #546.

[2019-07-16 09:18] #423 closed, assigned to rvl

[2019-07-16 14:13] piotr-iohk commented on #469
Looking good. (I've played around with API and CLI manually also) :+1:

Two questions to `validateSelection` about `ErrExceededInpsOrOuts` in Jormungandr (https://github.com/input-output-hk/cardano-wallet/blob/master/lib/jormungandr/src/Cardano/Wallet/Jormungandr/Transaction.hs#L89):
1. As far as I understand, it is not likely to be reached since the max number of inputs or outputs should be alway

[2019-07-17 07:53] KtorZ opened #549 "Implement `utxoStatistics` endpoint"
# Context

The following endpoint from the specification is still not implemented:

https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/getUTxOsStatistics

An original implementation is available in [`cardano-sl/wallet`](https://github.com/input-output-hk/cardano-sl/blob/develop/wallet/src/Cardano/Wallet/Types/UtxoStatistics.hs#L180-L302)

Not everything in this implementation is

[2019-07-17 07:54] piotr-iohk commented on #460
lgtm :+1:

[2019-07-17 07:54] #460 closed, assigned to nobody

[2019-07-17 10:03] KtorZ opened #551 "SQLite StateMachine test failure"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Unknown |

# Context

In an unrelated PR, I ran into the following unit test failure:

<details>
    <summary> Cardano.Wallet.DB.Sqlite.StateMachine - Sequential</summary>

[code]
</details>

Removing a bit of the noise within the commands, we have the following sequence:

[2019-07-17 13:07] KtorZ opened #553 "Prepare ground for random derivation support"
# Context

As we introduce support for random derivation alongside sequential derivation, we may want to review a bit how our code is structured. Right now, code regarding address discovery and address derivation is located in:

- Cardano.Wallet.Primitive.AddressdDiscovery
- Cardano.Wallet.Primitive.AddressDerivation

# Decision

- Move `SeqState`, `AddressPool` and other elements related to seque

[2019-07-17 13:19] KtorZ opened #554 "Crypto primitives for random derivation and legacy seed generation"
# Context

Legacy random wallets use a different function for seed generation that what we use for sequential derivation:

- [cardano-crypto/Cardano.Crypto.Wallet#generate](https://github.com/input-output-hk/cardano-crypto/blob/master/src/Cardano/Crypto/Wallet.hs#L94)

Derivation functions work also slightly differently since in the legacy random derivation scheme, we consider only 2 derivation pa

[2019-07-17 13:36] KtorZ opened #555 "Binary CBOR serialization / unserialization for an address derivation path payload"
# Context

As shown in the following diagram <sup><a href="https://github.com/input-output-hk/cardano-wallet/wiki/About-Address-Derivation">see: About Address Derivation</a></sup>:

[code]

Random address derivation carries an encrypted payload containing the derivation path indexes. More details can be found in the [wallet-prototype](https://github.com/KtorZ/wallet-prototype/blob/master/app/Main.

[2019-07-17 14:20] KtorZ opened #557 "Parameterize the wallet layer over `Key`"
# Context

We currently define `Key` as:

[code]

However, with the introduction of the random derivation scheme, there's a couple of issues that arise from this model. Random derivation requires more information than just the raw public key in order to derive addresses from Key. This is captured by the `KeyToAddress` class.

In the case of random derivation, one needs:

- The wallet root public k

[2019-07-17 14:30] KtorZ opened #558 "Implement `IsOurs` for random derivation scheme"
# Context

[Cardano.Wallet.Primitive.AddressDiscovery](https://github.com/input-output-hk/cardano-wallet/blob/e752723b35764d57fe50aa2998a0eece7167709c/lib/core/src/Cardano/Wallet/Primitive/AddressDiscovery.hs#L109-L130)
[code]

# Decision

We need to define a new state `RndState` upon which will be defined all the discovery capabilities for defining a wallet.

Address are considered _ours_ in the

[2019-07-17 14:33] KtorZ opened #559 "Implement `IsOwned` for random derivation scheme"
# Context

[Cardano.Wallet.Primitive.AddressDerivation](https://github.com/input-output-hk/cardano-wallet/blob/e752723b35764d57fe50aa2998a0eece7167709c/lib/core/src/Cardano/Wallet/Primitive/AddressDiscovery.hs#L132-L149)
[code]

# Decision

For the random scheme, this is rather similar to `IsOurs` but goes one step further: the derivation path needs to be extracted from the address and used to re-

[2019-07-17 14:53] KtorZ opened #560 "Implement `GenChange` for random scheme"
# Context

[Cardano.Wallet.Primitive.AddressDiscovery](https://github.com/input-output-hk/cardano-wallet/blob/e752723b35764d57fe50aa2998a0eece7167709c/lib/core/src/Cardano/Wallet/Primitive/AddressDiscovery.hs#L151-L161)
[code]

# Decision

Ideally, we want to keep track of previously generated change indexes so we don't generate already generated indexes (even if we generate random indexes, clashe

[2019-07-17 14:56] KtorZ opened #561 "Implement `CompareDiscovery` for random scheme"
# Context

[Cardano.Wallet.Primitive.AddressDiscovery](https://github.com/input-output-hk/cardano-wallet/blob/e752723b35764d57fe50aa2998a0eece7167709c/lib/core/src/Cardano/Wallet/Primitive/AddressDiscovery.hs#L163-L184)
[code]

# Decision

Unlike sequential derivation, we can't derive this information from the index only nor anything else in the address itself. Therefore, we'll simply consider tha

[2019-07-17 15:00] KtorZ opened #562 "Implement `KnownAddresses` for random scheme"
# Context

[Cardano.Wallet.Primitive.AddressDiscovery](https://github.com/input-output-hk/cardano-wallet/blob/e752723b35764d57fe50aa2998a0eece7167709c/lib/core/src/Cardano/Wallet/Primitive/AddressDiscovery.hs#L186-L194)
[code]

# Decision

Unlike sequential derivation, we can't derive this information from the index only. We will likely need to store this information in the state too. This overlap

[2019-07-18 11:06] paweljakubas commented on #469
@piotr-iohk

ad 1. So we have coin selection options https://github.com/input-output-hk/cardano-wallet/blob/master/lib/core/src/Cardano/Wallet/Primitive/CoinSelection.hs#L82 that has `maximumNumbeInputs` now working properly. Usually it is going to be lower than 256, and if so we will not catch `validateSelection` for Jormungandr. And in such a case, this functions as an additional guard. But, if

[2019-07-18 12:08] piotr-iohk opened #564 "Problems due to $HOME/.cardano-wallet being default state-dir for jormungandr and http-bridge"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux | Code  v Configuration |

# Context

State dir has currently a default value `$HOME/.cardano-wallet` and it is the same for `cardano-wallet-http-bridge` and `cardano-wallet-jormungandr`. If you are a tester and play around with both backends interchangeably you may stumble u

[2019-07-22 08:02] Victoryfan opened #571 "There is not cardano-wallet command"
After used the stack to build cardano-wallet,  but there is not cardano-wallet command to use.
Is there something wrong?

[2019-07-22 08:22] piotr-iohk commented on #571
Hi @Victoryfan,

Currently we have `cardano-wallet-http-bridge` and `cardano-wallet-jormungandr` which are suppose to work with their respective backends - [cardano-http-bridge](https://github.com/input-output-hk/cardano-http-bridge) and [jormungandr](https://github.com/input-output-hk/jormungandr). It is not released yet, but that's how it is in the current `master`.

[2019-07-22 08:25] Victoryfan commented on #571
Thanks. I mean how can use the following command as picture, or I should use cardano-wallet-jormungandr instead of cardano-wallet.
I don't know how to build and get the 'cardano-wallet' to do as picture:
![image](https://user-images.githubusercontent.com/25604389/61617457-49d43e00-ac9d-11e9-9e76-d0ac97026442.png)

[2019-07-22 08:37] piotr-iohk commented on #571
If you are using recent `master` branch you can use `cardano-wallet-http-bridge` pretty much the same as you used to use `cardano-wallet` (they are using the same backend -> `cardano-http-bridge`). `cardano-wallet-jormungandr` is using different backend, so there will be some differences with its `launch` and `serve` parameters.

Please also note that our wikis (in particular https://github.com/in

[2019-07-22 08:38] piotr-iohk commented on #469
Unit test added in https://github.com/input-output-hk/cardano-wallet/pull/570.

[2019-07-22 08:38] #469 closed, assigned to KtorZ, paweljakubas

[2019-07-22 08:45] Victoryfan commented on #571
Thanks a lot! And do you know how to build offline wallet for exchange?

[2019-07-22 09:22] piotr-iohk commented on #571
Actually to interact with the current Cardano mainnet (Byron) I'd recommend using our front-end wallet -> [Daedalus](https://daedaluswallet.io/). (if you are aiming for having offline wallet it has a _paper wallet_ feature too).

Please note that this source code repository contains the next major version of Cardano Wallet Backend, which has been completely rewritten for the [Shelley](https://card

[2019-07-22 14:29] #571 closed, assigned to nobody

[2019-07-23 02:30] Victoryfan commented on #571
Do you mean the Daedalus is a offline wallet? So the process of creating address has walletid to join in
?

[2019-07-23 05:41] rvl opened #573 "Resolve address and amount for incoming transaction inputs"
# Context

When listing transactions, users expect to see the source address and amount used for each input of each transaction.

Currently cardano-wallet is able to show address and amount for inputs of outgoing transaction, but not incoming transactions. For incoming transactions, it can only show a `(TxId, Index)` pair.

# Decision

While restoring the wallet, the `(TxId, Index) -> (Address, Am

[2019-07-23 07:01] jonathanknowles commented on #467
@KtorZ @piotr-iohk

Regarding:

I think I can see a problem with using these _**particular**_ parameter names.

## Problem

Currently, specifying `--after t1` and `--before t2` will eventually cause the construction of an `Iso8601Range t1 t2` value, under the hood. This value will be communicated through the API to the back end.

There are two cases:

* If `t1 < t2`, then the back end will return

[2019-07-23 08:22] piotr-iohk commented on #467
Yes, definitely `--after` and `--before` are not fortunate names if that's the case. (I was actually thinking of a test case.. what if `--after` is bigger than `--before` and wouldn't expect such behavior :sweat_smile:) I'd be for `--from` and `--to` [or maybe to be consistent with the [api](https://input-output-hk.github.io/cardano-wallet/api/edge/#tag/Transactions) (`--range-start` and `--range-

[2019-07-23 08:47] KtorZ commented on #573
re-located as https://github.com/input-output-hk/cardano-wallet/wiki/Roadmap#transaction-history-index

[2019-07-23 08:47] #573 closed, assigned to nobody

[2019-07-23 08:49] KtorZ commented on #467
Good point. No particular preference between `from / to` and `start / end` (perhaps `from / to` reads better actually... :thinking: )

[2019-07-23 09:13] rvl commented on #467
The range header shouldn't be overloaded for specifying sort direction (see my comment in [#466](https://github.com/input-output-hk/cardano-wallet/issues/466#issuecomment-510299480)). The names "before" and "after" would be fine if it weren't for this unexpected behaviour.

[2019-07-23 09:16] jonathanknowles commented on #467
@rvl wrote:

From the above link:

I think this is a good point. But fixing this would require us to change the `Iso8601Range` API type, as well as the API specification.

@KtorZ what are your thoughts on this?

[2019-07-23 09:20] KtorZ commented on #571
@Victoryfan

May I ask you some precisions about what you call an "offline wallet" (to make sure that we can actually speak about the same thing :))

[2019-07-23 09:44] Victoryfan commented on #571
I mean i want to realize the aim of creating address by myself not through wallet. But the addresses I created are started with "Ae2tdPw.." they looked like walletid.  So if i want to created address start with"DdzFFz...", it should use walletid, right?

[2019-07-23 11:15] KtorZ commented on #571
@Victoryfan okay, you have several options then:

- Use the `cardano-wallet` as a Haskell library. In particular: https://input-output-hk.github.io/cardano-wallet/haddock/edge/cardano-wallet-core-2019.6.24/Cardano-Wallet-Primitive-AddressDerivation.html will be a useful module to write some Haskell code that will perform address derivation from a root private key.

- Use [`cardano-cli`](https://gi

[2019-07-24 03:16] Victoryfan commented on #571
@KtorZ okay, very thanks!
 And do you know how to traverse blocks. I should get the transactions related to addresses created by myself. Now i can use api only the wallet-api https://cardanodocs.com/technical/wallet/api/v1/#, but i should have walletid to use related interface. Are there some other methods to traverse block?

[2019-07-24 07:24] rvl commented on #551
The Sqlite DB backend sorts transaction history by slot only. This test case has a TxHistory with two transactions, and `readTxHistory` returned them in a different order to the model.

I will address this failure by adding a secondary ordering by txid (ascending) in Sqlite, then ensure the model does the same.

Debugging this is quite hard due to the amount of noise in the test case. It would be

[2019-07-24 08:46] KtorZ commented on #467
We could indeed make the ordering explicit by extending the format with an `[;order=asc|desc]`. If we go that way, we could add more meta-parameters like `limit`, following a similar syntax: `[;limit=<integer>]`.

A few examples:

- `Range: inserted-at 20190227T160329Z-*; order=asc; limit=10`
- `Range: inserted-at 20190227T160329Z-*; limit=10; order=desc`
- `Range: inserted-at 20190227T160329Z-202

[2019-07-24 08:46] KtorZ commented on #467
What do you think?

@rvl @jonathanknowles

[2019-07-24 09:14] Victoryfan commented on #571
@KtorZ I use http-bridge to send signed transaction,but it returned 'Block protocol error'. Is there someting wrong?
![image](https://user-images.githubusercontent.com/25604389/61781204-86876d00-ae36-11e9-85be-3c15cfd5a6b9.png)

[2019-07-24 11:35] piotr-iohk commented on #551
lgtm :+1:

[2019-07-24 11:35] #551 closed, assigned to rvl

[2019-07-24 11:37] piotr-iohk commented on #564
Will close after #575.

[2019-07-25 04:16] jonathanknowles commented on #467
Hi @KtorZ

@rvl and I just had a discussion about this. We feel it might be better to encode these arguments as query parameters. For example:

[code]
Advantages:
1. We don't need to document and validate a special format.
2. Dedicated handling of separators (`-`, ` ` and so on) is replaced with standardized parsing of query parameters (which is handled for us by Servant).
3. Because we're not rel

[2019-07-25 08:54] KtorZ commented on #467
Well, to be honest, I think query parameters shouldn't be used to convey meta-information like pagination in a REST API; This is abusing the HTTP specification which already provides mechanism for such things (like request headers, in particular `Range`, `Content-Range`, `Next-Range`). I find query parameters rather inelegant for that purpose, and usually greatly abused with all sort of symbols th

[2019-07-25 09:23] #564 closed, assigned to KtorZ

[2019-07-25 09:23] #549 closed, assigned to KtorZ, paweljakubas

[2019-07-25 09:24] jonathanknowles commented on #467
Hi @KtorZ

Thanks for sharing your perspective. I actually wasn't aware of this point of view.

Also, thanks for sharing this. I'll take a look.

As for:

I was under the impression that the `ToHttpApiData` class handles this automatically, provided that we use `toUrlPiece` and not `toEncodedUrlPiece` (in which case we must handle encoding ourselves).

To check this assumption, I coded up the `sta

[2019-07-25 12:57] Anviking commented on #467
Hello all! I just wanted to say that I'm a big fan of the `limit` parameter in particular.

If you implement an iOS `UITableView` with an `listTransactions` and infinite scroll, you're interested in loading an appropriate chunk of transactions as the user is getting close to the bottom. `limit` would give you fine control over the size of the response. It seems to me that only being able to specif

[2019-07-26 04:11] jonathanknowles commented on #466
A decision was made to implement the proposal outlined here:

https://github.com/input-output-hk/cardano-wallet/issues/467#issuecomment-514888695:

As a result of this decision, we created PR https://github.com/input-output-hk/cardano-wallet/pull/580, which uses the `start`, `end`, and `order` query parameters to specify a range in `listTransactions` (with CLI equivalents).

However, we still need

[2019-07-26 07:28] jonathanknowles opened #583 "Use shared libraries instead of symbolic links for code sharing"
# Context

Currently, the integration test suites for Jörmungandr and HTTP bridge share a **common code base** through the use of **symbolic links**.

Unfortunately, using symbolic links in this way **breaks code introspection and refactoring tools** such as `haskell-ide-engine`, `ghc-mod`, `HaRe` and so on, that depend on having a standard Cabal package structure.

We should move these common sou

[2019-07-26 09:03] jonathanknowles commented on #466
Decision from team discussion: use Option #3 from above.

In addition:

[2019-07-29 03:23] Victoryfan opened #585 "How can i use the wallet backend API 2.0.0?"
I don't know how to use the wallet backed API 2.0.0 and what's the difference between v1 and v2?
And how to start the cardano-wallet?

[2019-07-29 08:38] KtorZ commented on #585
Hi @Victoryfan, if you haven't yet looked into the latest release notes (https://github.com/input-output-hk/cardano-wallet/releases/tag/v2019-07-24), I encourage you to do so.

In particular, have a look at the `Installation Instructions` section for `Jörmungandr`.  There are also links to the [command-line interface user-guide](https://github.com/input-output-hk/cardano-wallet/wiki/Wallet-command

[2019-07-29 08:51] Victoryfan commented on #585
Thank you @KtorZ, could you give me some suggestions to traverse block and transaction. I created offline addresses, and i want to get these addresses related transactions. Is there api for analyzing block?

[2019-07-29 09:14] KtorZ commented on #585
Not currently. The `wallet-backend` is currently more like a all-in-the-box solution that keeps track of a bunch of addresses for you from a mnemonic sentence.

If you're looking into doing block traversal yourself, you might as well just connect to a node and use whatever networking interface it provides to fetch blocks.
Alternatively, you could use an explorer (seiza is being developed by Emurgo

[2019-07-29 09:26] Victoryfan commented on #585
Yeah, I builded wallet-connect-mainnet, explorer-connect-mainnet via cardano-sl. But the wallet-mainnet only supports the v1 api, it can't get trasactions related offline addresses. And the explorer-mainnet now syncs process has bug, it crashs very often during syncing.  So I don't know is there other plans for this issue or not.  HuoBi wallet has integrated ADA, do you know how they get transacti

[2019-07-29 09:28] Victoryfan commented on #585
And you say use whatever networking interface, can you tell me where is it? Or you say is also a wallet-mainnet?

[2019-07-29 09:33] KtorZ commented on #585
Nodes new networking interfaces are currently under development. You can have a look into [Jörmungandr](https://github.com/input-output-hk/jormungandr) or into [ouroboros-network](https://github.com/input-output-hk/ouroboros-network).

Yet, I'd recommend to stick with the current explorer and the tools that currently deployed in production. Have you tried contacting the technical support desk rega

[2019-07-29 10:34] Victoryfan commented on #585
Yeah, they are fixing bugs. Thank you.

[2019-07-29 14:50] #585 closed, assigned to nobody

[2019-08-02 14:29] #553 closed, assigned to rvl

[2019-08-02 14:29] #554 closed, assigned to rvl

[2019-08-02 14:29] #465 closed, assigned to Anviking

[2019-08-02 14:30] #467 closed, assigned to jonathanknowles

[2019-08-02 14:30] #561 closed, assigned to rvl

[2019-08-02 14:30] #583 closed, assigned to jonathanknowles

[2019-08-02 14:31] KtorZ commented on #555
LGTM :+1:

[2019-08-02 14:31] #555 closed, assigned to rvl

[2019-08-05 10:44] piotr-iohk opened #602 "Jormungandr generated config missing public_address causes ERROR in log"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux | Code  v Configuration |

# Context

Generated config is missing _public_address_:

[code]

Which causes error after ~5-6 minutes of running `cardano-wallet-jormungandr launch --genesis-block block-0.bin --bft-leaders pool-secret1.yaml`

[code]

When _public_address_ is ther

[2019-08-06 12:58] KtorZ commented on #466
@jonathanknowles As mentioned on slack, this story has taken way more time than originally. A reason for this has been the change from header to query parameters, but also, the introduction of a `limit` parameter, which gives birth to many more questions about pagination.

Yet, the initial requirements said nothing about the ability to limit the number of items in the response, and also this would

[2019-08-07 07:05] piotr-iohk commented on #602
Fixed in #604

[2019-08-07 07:07] #602 closed, assigned to nobody

[2019-08-07 10:23] jonathanknowles commented on #466
I've now removed the part of the design relating to paging.

I've created a new issue here to capture the discussion on how to provide a paging solution: https://github.com/input-output-hk/cardano-wallet-adr/issues/1

[2019-08-13 07:00] rvl opened #621 "Implement `PersistState` for random scheme"
# Context

To load/save random AD scheme wallets to the sqlite database, the class members of `PersistState` must be implemented.

# Decision

# Acceptance Criteria

1. The DBLayer can be instantiated with RndState.
2. Loading and saving wallets works for random AD scheme wallets.

---

# Development Plan

- [x] implement `instance PersistState DBLayer`
- [x] Arbitrary instance for RndState
- [x]

[2019-08-13 09:21] KtorZ commented on #557
I think this one is mostly done, right ?

[2019-08-14 08:42] paweljakubas opened #627 "Add API endpoint for submitting externally-signed-transaction"
# Context

Some client applications are expected to do key management themselves (e.g. implementing Ledger or Trezor support). For security reasons they are not into revealing their keys and prefer to prepare the transaction on their side and only submit it using Daedalus via wallet backend.  In such case cardano-wallet can be used as an intermediary to send the already signed transaction to the n

[2019-08-14 08:56] paweljakubas opened #628 "Add CLI support for submitting externally-signed-transaction"
# Context

When having API endpoint for `submitTxExternal` we want CLI support

# Decision

We add CLI support
We also going to support additionally post the transaction data directly with `content-type: application/octet-stream`

# Acceptance Criteria

---

# Development Plan

# PR

| Number   | Base      |
| ---      | ---       |
| #628        | `master`  |

# QA

[2019-08-15 08:30] rvl commented on #560
If we generate change address indices in a sequential, predictable way, then (I think) this will leak information about the symmetric key used to encrypt the derivation path payload - because the cardanoNonce is fixed. I'm not sure whether that's acceptable or not.

[2019-08-15 12:34] Anviking opened #630 "Human readable address format of Jörmungandr has changed"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code  v Configuration v Environment v Human v Unknown |

# Context

The user-facing encoding of Jörmungnadr addresses is bech32 which contains an human readable part (hrp) and a data part. Previously `jcli` used `ta` as hrp for the testnet network, and `ca` as hrp for the

[2019-08-15 13:07] Anviking opened #631 "Incorrect account-address-decoder causes wallet to crash"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code  v Configuration v Environment v Human v Unknown |

# Context

There are multiple types of addresses. I believe we have been only using and testing single-addresses.

https://github.com/input-output-hk/cardano-wallet/blob/a7e23556f29923cf9a30794d40a22e8dad969fd9/lib/j

[2019-08-16 06:47] KtorZ commented on #630
@Anviking Thanks for opening this.
Although Jörmungandr doesn't enforce any particular hrp for addresses anymore, I think we (as a user-facing app) still should. The node has a free format, precisely for allowing clients to choose one that is relevant for them. Since the encoding doesn't really interfere with the binary format, there's not much worry to have about addresses we would get from the n

[2019-08-16 08:03] rvl commented on #557
Yes it's mostly done and meets the AC. The last thing to do is "Remove hardcoding of SeqKey as much as possible, to make things more polymorphic." which I started with #623. But if that PR is blocked on a decision about the API, then we could say this is done now.

[2019-08-16 08:06] KtorZ commented on #557
Yes, the API layer isn't to be parameterized yet. We're still deciding on the features and the approach regarding legacy addresses. So, for now, we'll stick with the implementation of the building blocks for the random scheme and wait a bit for the requirements regarding the user facing aspects.

[2019-08-19 13:11] piotr-iohk commented on #558
lgtm :+1:

[2019-08-19 13:11] #558 closed, assigned to paweljakubas

[2019-08-19 13:12] piotr-iohk commented on #559
lgtm :+1:

[2019-08-19 13:12] #559 closed, assigned to paweljakubas

[2019-08-19 13:52] piotr-iohk commented on #631
Just a few questions:
1. so, I'm able to go through _Steps to reproduce_ and it works successfully, i.e. I can start `jormungandr`, but I'm not able to run integration tests on this regenerated block0, immediatelly getting:

[code]
is there something missing? I thought since I can start `jormungandr` I should be able to run tests too...

2. there is added a golden test for `account` address, maybe

[2019-08-19 14:52] piotr-iohk commented on #557
lgtm.

One question, so

_But it does add a function to derive and encode random scheme addresses._

fullfils the requirement ->

_6. It must be possible to derive an Address from a Key in the random scheme._
, correct?

[2019-08-19 20:03] Anviking commented on #631
Good points. When thinking about it, that should have been covered by #633. I checked the printed rust-objects again (actually, I maybe should add that functionality to the patch), and it seems that method only produces account- and and single-addresses. [block0-1.txt](https://github.com/input-output-hk/cardano-wallet/files/3517383/block0-1.txt)

[Jörmungandr addresses](https://github.com/input-ou

[2019-08-21 07:09] rvl commented on #557
Yes it derives/encodes from key →derivation path →payload → address.

[2019-08-21 07:28] #557 closed, assigned to rvl

[2019-08-21 08:22] rvl opened #639 "Change `applyBlocks` to return a list of checkpoints"
# Context

We want to save checkpoints individually rather than in chunks.

# Decision

Change `Cardano.Wallet.Primitive.Model.applyBlocks` to return a list of wallet checkpoints, one for each block that it has been given.

[code]

Since `TxMeta` contains a `SlotId` already, it's not necessary to split the transactions by block.

In `Cardano.Wallet`, adjust `restoreBlocks` accordingly. It should r

[2019-08-21 08:23] rvl opened #640 "Track block height"
# Context

From the [Ouroboros paper](https://eprint.iacr.org/2017/573.pdf), about transaction ledger properties:

So the wallet cannot merely keep checkpoints for the last _k_ slots. It must keep checkpoints for the last _k_ blocks, and therefore, it must know the block height of each block.

* The _block height_ is the number of blocks on the chain since genesis.

* The _block depth_ is the dist

[2019-08-21 08:25] rvl opened #641 "Unify DBLayer QSM model and DB.MVar"
# Context

To reduce maintenance burden we could either delete the MVar DBLayer, or have it share pure model code with the state-machine tests. Since the MVar DB is a useful diagnostic tool, let's keep it for now. Also its model datatype works better than the one in `StateMachine.hs`.

# Decision

Create a module `Cardano.Wallet.DB.Model` and move the data types from MVar to there, and modify them

[2019-08-21 08:29] rvl opened #642 "Prepare SQLite `DBLayer` for rollback"
# Context

One difficult part of dealing with rollback is updating the database.

All entities which are subject to rollback should have a slot field attached to them somehow.

This task adjusts the SQL schemas so that rollback is possible, but doesn't yet implement saving of multiple checkpoints, or deletion of checkpoints.

# Decision

This is a diagram of the current SQL schema. Note that some

[2019-08-21 08:30] rvl opened #643 "Save checkpoints in SQLite `DBLayer`"
# Context

Saving checkpoints to the SQL database involves attaching a slot number to all entities, and using a reversible method of deleting entities that are subject to rollback.

# Decision

1. `putTxHistory` already adds `SlotId` as part of `TxMeta`.

   But as a side-effect of inserting outgoing transactions, it
   must also "soft-delete" `utxo` entries.

   For each `InChain` transaction add

[2019-08-21 08:31] rvl opened #644 "Purge old checkpoints in `DBLayer`"
# Context

`putCheckpoint` needs adjustment so that it has enough information to maintain the checkpoint list and prune checkpoint data for stable blocks.

# Decision

The _k_ parameter is supplied as a configuration argument to
`putCheckpoint`.

[code]

After inserting the checkpoint, this function should now clean up
checkpoints which are greater than _k_ blocks old.

How to clean up:
1. Subtrac

[2019-08-21 08:33] rvl opened #645 "Implement rollback in `DBLayer`"
# Context

Rolling back the database is mostly a matter of deleting all entities
with a slot greater than the rollback point.

# Decision

1. Add the following function to `DBLayer`

[code]

2. This function will delete all of these with a `slot` > the rollback_slot:
    * **incoming** tx_meta (and related entites)
    * utxo
    * checkpoint (and related entities)
    * seq_state_address (require

[2019-08-21 08:36] rvl opened #646 "Prepare Shelley NetworkLayer for rollback"
# Context

Adjust the Shelley network layer `nextBlocks` function so that,
instead of returning an error on rollback, it returns `RollBackward`.

This relies on the Shelley version of the network layer being a
stateful process.

# Decision

Adjust nextBlocks to possibly return a RollBackward command.

The return types are modelled loosely on the Chain Synchronisation
Protocol from the Shelley netw

[2019-08-21 08:37] rvl opened #647 "Global state for rollback in Jormungandr"
# Context

The wallet must be able to handle receiving a network tip which is on a different chain to what it has. The optimum rollback point will be the latest common ancestor block between the wallet and the node.

To calculate the rollback point, the Jormungandr network layer needs to track information about the unstable blocks.

# Decision

Jormungandr network layer maintains information about

[2019-08-21 08:39] rvl opened #648 "`nextBlocks` rollback in Jormungandr"
# Context

Using the global unstable blocks state (#648), we can do a simple non-optimal rollback in the Jormungandr network layer when an alternate chain is detected.

# Decision

Adjust the `nextBlocks` return type so that rolling back is an option.

[code]

`nextBlocks` should be modified to detect a rollback condition:

1. It should first call `networkTip` to update the global state.
2. It com

[2019-08-21 09:21] rvl opened #650 "Perform rollback in wallet `restoreStep` restoration loop"
# Context

Glue the bits together to finish the rollback feature.

# Decision

1. Adjust `restoreBlocks` so that it adds a checkpoint for every `Wallet` returned by `applyBlocks`.
2. Change `restoreStep` so that it handles `RollBackward` by rolling back the database to the given slot.

# Acceptance Criteria

1. Wallet must roll back the database when `nextBlocks` returns RollBackward.
2. Restorati

[2019-08-23 05:18] rvl commented on #560
The symmetric payload encryption key is derived from the public key anyway. PR #655

[2019-08-23 08:03] #466 closed, assigned to jonathanknowles, Anviking, piotr-iohk

[2019-08-23 08:17] Anviking commented on #631
Yes this worked when I tried it (but also very expected).

The "Steps to reproduce" weren't written to work with the integration tests. Given that launching a wallet manually works, I _think_ it's safe to say that any integration test issues are likely unrelated, or at the very least out-of-scope.

[2019-08-23 14:05] Anviking commented on #631
Patch that only appends a normal single address to the genesis block:
[update-genesis-block-patch.txt](https://github.com/input-output-hk/cardano-wallet/files/3534842/update-genesis-block-patch.txt)

[Output (don't remember if it was with or without the minor fix below)](https://github.com/input-output-hk/cardano-wallet/files/3534889/jormungandr-integration-output.txt)

With it I get similar error

[2019-08-23 14:13] Anviking opened #658 "CI tests sometimes fails with `ErrGetBlockchainParamsNetworkUnreachable`"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code  v Configuration v Environment v Human v Unknown |

# Context

- https://travis-ci.org/input-output-hk/cardano-wallet/builds/574325876?u tm_source=slack&utm_medium=notification

- https://input-output-rnd.slack.com/archives/GBT05825V/p1565880698032500

We've had the f

[2019-08-23 15:07] Anviking commented on #639
@rvl Because of your response to my suggestion of removing `applyBlocks` in favour for `applyBlock` ([here](https://github.com/input-output-hk/cardano-wallet-adr/issues/3#issuecomment-523315774)), was the description here intentional:
[code]
? because it is also different from your original suggestion of returning a single `Map`.

**If** `applyBlocks` were to depend on the blockchain params, it wo

[2019-08-26 10:01] piotr-iohk commented on #621
lgtm.

[2019-08-26 10:01] #621 closed, assigned to rvl

[2019-08-26 10:08] piotr-iohk commented on #560
lgtm.

[2019-08-26 10:08] #560 closed, assigned to paweljakubas

[2019-08-26 11:16] piotr-iohk commented on #562
lgtm.

[2019-08-26 11:16] #562 closed, assigned to rvl

[2019-08-26 13:23] piotr-iohk commented on #631
lgtm.

I have addressed point 3 in #661

[2019-08-26 13:23] #631 closed, assigned to Anviking

[2019-08-26 23:49] rvl commented on #639
@Anviking Yes I adjusted `applyBlocks` return type so that it can be implemented more simply in terms of `applyBlock`. @jonathanknowles tells me this is a `scan` (more or less).

I guess the blockchain params you're talking about is slot duration (for TxMeta time). But let's cross that bridge when we come to it, and keep it simple for now.

[2019-08-30 11:50] piotr-iohk commented on #641
:+1:

[2019-08-30 11:50] #641 closed, assigned to rvl

[2019-09-03 12:08] KtorZ commented on #646
Any work regarding the Haskell nodes is now of lower priority until the wallet reaches completeness regarding early Shelley features. So, closing this in order to prioritize the work on Jörmungandr instead.

[2019-09-03 12:08] #646 closed, assigned to nobody

[2019-09-05 11:11] piotr-iohk commented on #639
@jonathanknowles, can you put few words in QA section? thx :)

[2019-09-06 08:14] jonathanknowles commented on #639
Done. I think that testing of this can be accomplished through mocks, what do you think?

[2019-09-06 09:03] piotr-iohk commented on #639
As discussed, two options for testing this:
 - with mocks, as mentioned in QA section,
 - include as part of QSM tests

To be sorted on Monday.

cc: @jonathanknowles, @rvl

[2019-09-06 15:21] Anviking commented on #658
I can estimate the failure rate from the Travis API to 7% from master-builds. Unfortunately it _seems_ like only builds from the last week are available.

[code]

The failing build is https://travis-ci.org/input-output-hk/cardano-wallet/builds/580092151 (note that the relative url doesn't include the `s` in builds)

So for this small sample we get a failure rate of `1/14 ≈ 7%`, excluding the cance

[2019-09-06 17:17] #627 closed, assigned to paweljakubas

[2019-09-06 17:17] #628 closed, assigned to paweljakubas

[2019-09-09 09:02] piotr-iohk commented on #639
As discussed, putting back to `in progress` as there is:
 - #684
 - additional work required to make the change more test friendly (i.e. making `restoreBlock` to be a pure function)

[2019-09-09 13:12] KtorZ commented on #647
@rvl, with #684 , the "epochStability" (a.k.a `k`) can now be extracted from the network (more exactly, from the genesis file) so it should be possible to remove the hard-coded constant once this is merged.

[2019-09-11 07:53] Anviking opened #698 "Test compatibility with Jörmungandr Praos/Genesis self-node in CI"
# Context

Currently we run integration tests against a Jörmungandr BFT self-node. We have to support Genesis/Praos.

Note that we don't currently support [rollbacks](https://github.com/input-output-hk/cardano-wallet/milestone/25), but it should be possible to configure jörmungandr in a self-node setup using genesis/praos (such that there are no rollbacks.)

# Decision

We will check that the wall

[2019-09-12 07:13] KtorZ commented on #639
@piotr-iohk, putting back in QA. #684 has been merged and "fixed" the nightly restoration as we wanted: https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/202

The nightly is still failing though, but because of the recent move from CI to Buildkite.. Seems like we have a problem clearing our cache.

[2019-09-13 05:37] rvl commented on #639
The nightly Buildkite pipeline was failing in a completely unrelated step which I recently added as part of the stack build caching work. I have fixed that in #702.

[2019-09-13 07:05] piotr-iohk commented on #639
@KtorZ thanks. Is: `additional work required to make the change more test friendly (i.e. making restoreBlock to be a pure function)` still a plan for this task @rvl, @jonathanknowles ?

[2019-09-13 07:36] KtorZ opened #703 "Wallet Backend builds and tests on Windows"
# Context

`cardano-wallet` ultimately results in two binaries as detailed in the root [.cabal](https://github.com/input-output-hk/cardano-wallet/blob/master/cardano-wallet.cabal):

- cardano-wallet-http-bridge
- cardano-wallet-jormungandr

Both are command-lines and web server doing "wallet backend stuff", but working with different chain producers.

# Decision

At the moment, our CI only produce

[2019-09-13 07:38] KtorZ opened #704 "Wallet Backend builds and tests on OSX"
# Context

`cardano-wallet` ultimately results in two binaries as detailed in the root [.cabal](https://github.com/input-output-hk/cardano-wallet/blob/master/cardano-wallet.cabal):

- cardano-wallet-http-bridge
- cardano-wallet-jormungandr

Both are command-lines and web server doing "wallet backend stuff", but working with different chain producers.

# Decision

At the moment, our CI only produce

[2019-09-13 07:41] KtorZ commented on #639
@piotr-iohk I am on it, hopefully I'll push that today although that's part of a bigger whole. I think this particular can be closed.

[2019-09-13 07:43] #639 closed, assigned to jonathanknowles

[2019-09-13 10:28] KtorZ commented on #658
I believe we can now close that one with fixes done to the integration done and the switch to Buildkite, the problem seems to have finally vanished.

[2019-09-13 16:33] Anviking opened #711 "Count how many blocks each pool produced — I. Simple approach"
# Context

To calculate a pool's performance in the current epoch, we need to count how many blocks it actually produced.

We can count them using the proofs in Jörmungandr block-headers:

[chain-libs/format.md at master · input-output-hk/chain-libs · GitHub](https://github.com/input-output-hk/chain-libs/blob/master/chain-impl-mockchain/doc/format.md)

The public keys match the `PoolId`s returned

[2019-09-13 17:08] Anviking opened #712 "Count how many blocks each pool produced — III. Sqlite"
# Context

We should now have some kind of state `s = (BlockHeader, Map PoolId [SlotId])` and a pure function `applyBlock :: (proof, blockHeader) -> s -> s`.

We need to persist that state.

_with f = applyBlocks, here is our situation:_
[code]

# Decision

- Add a Sqlite table `pool_performance` with `epoch`, `pool_id`, `produced_block_in_slot`. Note that the `SlotId` is here stored in two separa

[2019-09-13 17:21] Anviking opened #713 "List stake distribution and stake pool statistics"
# Context

:information_source: This ticket is now an aggregation of:

https://github.com/input-output-hk/cardano-wallet/issues/712
https://github.com/input-output-hk/cardano-wallet/issues/715
https://github.com/input-output-hk/cardano-wallet/issues/725
https://github.com/input-output-hk/cardano-wallet/issues/722

Jörmungandr provides an [endpoint](https://input-output-hk.github.io/jormungandr/jcl

[2019-09-15 15:21] Anviking opened #714 "Calculate performance and list stake pools in the WalletLayer"
# Context

Clients should be able to list stake pools.

We need a way to rank stake pools. For the incentivised testnet [we will](https://docs.google.com/document/d/1pjSa9KS9mvNXmPLZ2mHJJkKGooqvDFmg34CdATJPa38/edit#) use the formula
[code]
where
- `n` = number of blocks produced by the pool in the current epoch
- `N` = number of total blocks in the current epoch
- `s` = the stake of the pool in th

[2019-09-15 18:23] Anviking opened #715 "Add API endpoint for listing stake pools"
# Context

This will allow Daedalus (and other clients) to list stake pools, and see where they can delegate too.

Side-note: For this milestone we could only possibly show the id, stake and performance for each pool. In another U/S we will likely add more information once supported by jörmungandr.

The pool id should not be confused with the non-unique 3-4-letter ticker. The pool id is a public k

[2019-09-15 18:40] Anviking opened #716 "Cache stake-distribution from Jörmungandr's GET /stake ?"
# Context

The simplistic implementation of #714 will lead to calling the jörmungandr `GET /stake` once per `listStakePools`-request. This is wasteful as the results are fixed for the entire epoch.

Things are made slightly more complicated by the fact that rollbacks/fork-switches across epoch boundaries could alter the result.

# Decision

We could make efforts to cache the results.

# Acceptance

[2019-09-16 08:24] rvl commented on #703
## How to test cardano-wallet-jormungandr on Windows

1. If you don't already have it, set up Windows 10 in VirtualBox.
   You can use the Powershell script and instructions at
   [iohk-ops/windows/iohk-setup.ps1](https://github.com/input-output-hk/iohk-ops/blob/master/windows/iohk-setup.ps1).
   Just delete everything in the script starting from where it installs GHC.

   Also make sure you have

[2019-09-16 08:42] Anviking commented on #713
I'm not sure why `jcli rest v0 stake get -h http://127.0.0.1:8080/api` doesn't work for me on `jcli 0.3.3`, but curl-ing works:

[code]

[2019-09-16 08:55] Anviking commented on #714
- It might be impossible to know if `getStakeDistribution` and `getProducedBlocks` are on the same chain. So we might have an undetectable race-condition which would make the calculated performance wrong.
- If we are going to sort the stake-pools after performance, and the performance can be unavailable… then that might be slightly awkward.

[2019-09-16 11:17] #658 closed, assigned to Anviking

[2019-09-17 07:03] KtorZ commented on #716
This falls into the category of "optimizations", to be (maybe) done in another story IMO. First: let's make it work. Beside, I don't think it's worth the added complexity here. We are talking about optimizing one HTTP call away, which will happen quite rarely in the first place.

[2019-09-17 07:06] KtorZ commented on #711
Nice!

1. What about instead of adapting the wallet layer functionality, what about having a dedicated worker which doesn't interfer with wallets and simply keep track of pools' states?  Conceptually, there's no need to create any wallet to keep track of stake pools

2. In:

[code]

Does `blockHeader` refers to the last tip for which we fetched the pool states? Since this cannot change through an

[2019-09-17 07:14] KtorZ commented on #712
Perhaps `pool_metrics` here to not be too specific about this table. As features and accessors are added into Jörmungandr, we might collect more metrics upon which we'll build a performance indicator. For now, that indicator only involves the number of blocks produced. Also, `produced_block_in_slot` is really a `slot_id` right :grimacing: ?

And also, clean up as we move to the next epoch.... or n

[2019-09-17 07:25] KtorZ commented on #714
It doesn't matter much here. We can only be off by `k` blocks, which is 10% of the whole epoch. Even if we are on a fork, we should still get a distribution that reflects rather correctly the state of the chain anyway (unless we are really on an adversarial node trying self-assigning blocks to itself which is probably safe to discard).

Indeed. But that's a best effort here :/

One way to solve so

[2019-09-17 07:27] KtorZ commented on #715
Would be nice to outline the swagger specification in the ticket as a requirement? This gives a really clear indicator of what needs to be implemented :)

[2019-09-17 07:28] KtorZ commented on #711
From @rvl

- Be more specific about which keys correspond to PoolId.
- Is only the current epock relevant, or all epochs?
- If rollback can be separated from this task, let's make it separate.
- What is the blockHeader field for?
- Keeping a list of SlotIds per pool in order to support rollback seems ok, if this state object is like a special wallet.

[2019-09-17 07:29] KtorZ commented on #712
From @rvl

- maybe call the table pool_production with columns (epoch integer, local_slot integer, pool_id char(32))
- add an index on the epoch and pool_id columns
- be explicit about the dblayer function signature(s).

[code]

- if the old epoch data should be dropped, is the current epoch implicitly determined from the SlotId passed to putPoolProduction?
- For readPoolProduction, does it need t

[2019-09-17 07:30] KtorZ commented on #713
From @rvl

- yamlification was a good idea
- Put in the type signature of the function that will be implemented

[2019-09-17 07:31] KtorZ commented on #714
From @rvl

- I think if the wallet is not fully restored, then this function should not return a value.
- Is there any way to get the slot corresponding to the stake distribution? Then we could get pool production value for that slot and then the result will be consistent.
- Rather than returning no performance value at the start of the epoch, could the previous epoch's stake distibution be cached

[2019-09-17 07:31] KtorZ commented on #715
From @rvl

- Can we get an exact schema of the value returned, and the endpoint name? (Maybe this needs to be sorted with Daedalus team).
- Swagger.yaml should be updated as part of the AC.

[2019-09-17 07:31] KtorZ commented on #716
From @rvl

- If this task is an optimisation, then it needs some kind of benchmark in the AC. Otherwise, how do we know that it worked?

[2019-09-17 08:32] Anviking commented on #716
I also saw this as a place where we could potentially deal with the race-conditions. But since we shouldn't be concerned ( https://github.com/input-output-hk/cardano-wallet/issues/714#issuecomment-532096810)

… sure. This is maybe not worth it.

[2019-09-17 10:49] Anviking commented on #711
I wanted to at first! But I thought that it would possibly require some more, grander, architectural changes that would be difficult to realise.

So I thought it was easier to plan / start with adding things to the WalletLayer.

But since you suggest it… 🤔

[2019-09-17 12:01] KtorZ commented on #711
In this case, it's actually easier and causes less changes to have that completely separated from the wallet layer! Plus, with regards to responsibilities, it feels wrong to overload the wallet restoration with this.

[2019-09-17 12:57] piotr-iohk commented on #714
If I understand correctly, If user doesn't have stake performance information for the first 10% of an epoch then he cannot list stake pools at that time and as a result he's unable to actually delegate (cause there's no sufficient information to make a decision about where to delegate).

If that's the case, then this sounds as a possible solution:

[2019-09-17 16:14] KtorZ commented on #714
I am afraid that your understanding is incorrect :grimacing:

I a user doesn't have stake performance information for the first 10%, then it can still list stake pools but, they'll could be reported with an estimated performance `unknown` or `in calculation`. User is still free to delegate regardless.

Not really no. The rationale is the following:

- At a given point in time, we only know the sta

[2019-09-17 17:17] Anviking commented on #698
— @rvl

The meaning I intended was just "be able to run a blockchain despite having just one node". And I think this is close to what it means.

From https://iohk.io/blog/join-the-roll-out-of-the-cardano-shelley-testnet/:

[2019-09-18 06:24] Anviking opened #722 "Count how many blocks each pool produced — II. Rollback support"
# Context

See #711.

#711 uses a simple approach for counting blocks that is 1) in-memory (not persisted) and 2) doesn't support rollbacks.

# Decision

Adapt the simplistic model to support rollbacks. Do this by storing at *when* (at what slotId?) each stake pool produced blocks instead of just counting *how many*.

E.g instead of `Map PoolId Word`, we would use `Map PoolId [SlotId]` internally.

[2019-09-18 06:38] Anviking commented on #713
Not quite sure what this refers to 🤔, but I simply copied the yaml-example from the jörmungandr docs. I wasn't advocating that we should serve yaml (in #715 that would be).

[2019-09-18 06:50] Anviking commented on #714
— @rvl

That sounds sane to me.

— @rvl

The epoch number is included in the response. The slot number is not. So no, I believe.

— @rvl

I think @KtorZ makes good points for: no, let's keep that out of scope for now.

I also note there is talk about being able to get stake-distributions from previous epochs from jörmungandr [here](https://docs.google.com/document/d/1pjSa9KS9mvNXmPLZ2mHJJkKGooqvDF

[2019-09-18 07:13] piotr-iohk commented on #714
I acknowledge that user is able to delegate then, but what I meant is that he does not have sufficient information to make a decision.

Looking at how it's going to look in Daedalus -> https://deploy-preview-1545--daedalus-storybook.netlify.com/?path=/story/staking--stake-pools#themeName=Cardano&localeName=English&osName=Windows.

So does it mean that for the first 10% of the epoch, i.e. first 12h

[2019-09-18 07:24] KtorZ commented on #714
Indeed. Unless we make a non-recoverable metric based on the past as described here (2nd part of the comment).

https://github.com/input-output-hk/cardano-wallet/issues/714#issuecomment-532291843

Users that are more active will be "rewarded" more (in the sense of, getting more data and better metrics).

[2019-09-18 08:04] #716 closed, assigned to nobody

[2019-09-18 08:04] #714 closed, assigned to nobody

[2019-09-18 08:51] Anviking opened #725 "Add CLI command for listing stake pools"
# Context

We have the API endpoint. Now let's extend the CLI.

# Decision

Allow users of the CLI to list stake pools.

# Acceptance Criteria

- [ ] Users *must* be able to list stake pools via the CLI

---

# Development Plan

# PR

| Number   | Base      |
| ---      | ---       |
| #782        | `master`  |

# QA

[2019-09-18 10:31] Anviking commented on #714
Ah! Thanks for sharing that.

[2019-09-18 11:15] Anviking commented on #713
About what is included in the total stake: The U/S clearly specifies `S` as `the total stake currently delegated to pools`. So we shouldn't have to care about `unassigned` or `dangling`.

Running jörmungandr with the following stake distribution:
[code]
it produces blocks every slot.

Also, if the single pool has `0` stake, it doesn't produce blocks.

[2019-09-18 11:36] piotr-iohk commented on #640
@Anviking, @rvl - looking at the comment -> https://github.com/input-output-hk/cardano-wallet/pull/673#pullrequestreview-282740377

Would it be worth then to add an integration test for blockHeight?

[2019-09-18 12:19] KtorZ commented on #713
:+1: sounds intuitive.

[2019-09-18 16:19] Anviking commented on #640
🤔 Maybe… This situation made me a bit uncomfortable too.

We *could* expose blockHeight from the API somehow and have a test for that…

I was partly wondering some time ago whether we could take existing, pure, properties, and "lift" them to the integration-level.

Actually… we can compare our calculation with the truth from `chainHeight` in the block-binaries now. That would be really nice to tes

[2019-09-18 17:04] KtorZ commented on #640
Like this:

https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/getNetworkInformation

?

[2019-09-18 17:14] KtorZ opened #726 "Flaky integration wallet test"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| `master`    | Windows & OSX & Linux) | Human |

# Context

We had an unexpected failure in CI:

https://buildkite.com/input-output-hk/cardano-wallet/builds/1974#d43b7a97-9855-45fd-b3dd-e21ddcb30254/97-1126

The failing scenario is the following:

[code]

# Steps to Reproduce

1. Re-run integration tests oft

[2019-09-18 18:40] #642 closed, assigned to rvl

[2019-09-19 08:53] piotr-iohk commented on #640
So is this doable within this task?

[2019-09-19 09:01] KtorZ commented on #640
Would require to extract the block height from binary blobs, as @Anviking started in a PR. Though, we agreed to leave that for later until we know a bit more about the feasibility of this with the new haskell blocks. It's so-to-speak, out-of-scope.

Note that we already do it _in a way_. The restoration progress are measured by using the node's block height which is extracted from the binary block

[2019-09-19 09:35] piotr-iohk commented on #640
In case this happens what are the effects/implications for a working wallet? and are we able to discover such situation in tests?

[2019-09-20 07:28] piotr-iohk commented on #698
lgtm

[2019-09-20 07:28] #698 closed, assigned to Anviking

[2019-09-20 15:58] piotr-iohk commented on #647
lgtm :+1:

[2019-09-20 16:00] piotr-iohk commented on #726
lgtm :+1:

[2019-09-20 16:00] #647 closed, assigned to rvl

[2019-09-20 16:00] #726 closed, assigned to KtorZ

[2019-09-20 16:10] piotr-iohk commented on #643
and #724

[2019-09-20 16:13] KtorZ commented on #643
Indeed!

[2019-09-23 15:43] Anviking commented on #640
@piotr-iohk Now we use the block-height from the network. No calculation that can be wrong anymore.

[2019-09-23 15:56] piotr-iohk commented on #640
@Anviking - ok, I have added a simple manual procedure #745.

[2019-09-25 03:20] rvl opened #754 "CI: Code coverage is uploaded for `bors try`"
# Context

Buildkite CI.

# Steps to Reproduce

Run `bors try` on a PR.

## Actual behavior

It uploads test coverage to coveralls.

## Expected behavior

It should only upload test coverage for successful `bors r+` builds.

---

# Resolution Plan

* Note: The `bors r+` branch is `bors/staging` and the `bors try` branch is `bors/trying`.

# PR

| Number   | Base      |
| ---      | ---       |
| #

[2019-09-25 10:45] piotr-iohk opened #756 "Endpoints time out or unavailable during wallet restoration"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Linux | Code  v Configuration v Environment v Human v Unknown |

# Context

On restoration and mostly during the part it is "stuck" creating checkpoints (96% on Byron testnet) some of the wallet endpoints are not operational. That is for both - wallet that is being restored and wallets that are al

[2019-09-26 14:36] piotr-iohk opened #760 "Wallet restoration issues while the node is syncing"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Linux | Code  v Configuration v Environment v Human v Unknown |

# Context
  I've observed those 2 cases with restoration performed while the node is syncing:

*1. Wallet prematurely restored.*

Say I create this wallet and it gets _restored_ when the node is on epoch 2:

[code]

The node is then

[2019-09-27 07:37] #640 closed, assigned to Anviking

[2019-09-27 07:38] #643 closed, assigned to paweljakubas

[2019-09-30 07:28] piotr-iohk opened #767 "Misleading error on starting wallet with wrong genesis hash"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux | Code |

# Context

When doing `cardano-wallet-jormungandr serve --genesis-hash <wrong genesis hash but of 64 chars length>` The wallet is not started and there is a quite misleading error message reported:

[code]

# Steps to Reproduce
1. Start jormungandr
[code]
2. Run wal

[2019-09-30 12:38] piotr-iohk opened #769 "wallet.db size significantly big"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code  v Configuration v Environment v Human v Unknown |

# Context
`wallet.db` size for the server with transaction between wallets is much bigger comparing to the size of wallet.db with the same wallets that were restored on the fresh node.

I had a script running transac

[2019-09-30 16:49] KtorZ commented on #769
One idea: could be that the checkpoint pruning is not working well.

@piotr-iohk There was no data discrepancy between the wallets? Mostly: were all the transactions there in the small one? What about addresses?

[2019-09-30 17:15] piotr-iohk commented on #769
@KtorZ, yes there was a discrpancy. Small one did not have the pending transactions. But the pending transactions was only 90 out of ~6k.

Tx in the big one:

[code]

[2019-09-30 17:18] KtorZ commented on #769
Yeah, this is normal, pending transactions are a local construct and don't live on chain. Okay, so it's probably the UTxO that doesn't get cleared up as iy should... Txs are not duplicated and shared across checkpoints.

[2019-09-30 19:35] Anviking opened #773 "Integration tests are failing"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code  v Configuration v Environment v Human v Unknown |

# Context

Integration tests are failing

# Steps to Reproduce

1. Create a PR with trivial changes
2. `bors try`

## Expected behavior

Build succeeds

## Actual behavior

Build fails due to problems unrelated to th

[2019-10-01 05:31] jonathanknowles opened #774 "Add API endpoint to restore a legacy wallet."
# Context

This task will provide an API endpoint that allows users to restore a Byron wallet from a mnemonic sentence.

# Decision

The API will provide an endpoint similar to the following:
[code]

Where types have definitions similar to the following:

[code]
[code]
[code]

# Acceptance Criteria

Within the list of criteria below, a _**ticked**_ criterion indicates that there is _**test coverag

[2019-10-01 05:34] jonathanknowles opened #775 "Add API endpoint to list all legacy wallets."
# Context

This task will provide an API endpoint that allows users to list all known Byron wallets.

# Decision

The API will provide an endpoint similar to the following:
[code]
With schema definitions similar to the following:
[code]
See [`ApiByronWallet`](https://github.com/input-output-hk/cardano-wallet/issues/781) definition.

# Acceptance Criteria

Within the list of criteria below, a _**ti

[2019-10-01 05:37] jonathanknowles opened #776 "Add API endpoint to fetch information about a legacy wallet."
# Context

This task will provide an API endpoint that allows users to fetch information about a Byron wallet.

In order to use this endpoint for a given wallet, the wallet must have been previously restored with the [`postByronWallet`](https://github.com/input-output-hk/cardano-wallet/issues/774) endpoint.

# Decision

The API will provide an endpoint similar to the following:
[code]
With schema

[2019-10-01 05:39] jonathanknowles opened #777 "Add API endpoint to delete a legacy wallet."
# Context

This task will provide an API endpoint that allows users to delete a Byron wallet.

# Decision

The API will provide an endpoint similar to the following:
[code]

# Acceptance Criteria

Within the list of criteria below, a _**ticked**_ criterion indicates that there is _**test coverage**_ in the `master` branch to demonstrate that this criterion is _**satisfied**_.

- [x] The API _must_

[2019-10-01 05:41] jonathanknowles opened #778 "Add API endpoint to calculate the cost of migrating from a legacy wallet."
# Context

This task will provide an API endpoint that allows users to calculate the **exact** cost of migrating from a Byron wallet to a new wallet.

# Decision

The API will provide an endpoint similar to the following:
[code]

# Acceptance Criteria

Within the list of criteria below, a _**ticked**_ criterion indicates that there is _**test coverage**_ in the `master` branch to demonstrate that

[2019-10-01 05:45] jonathanknowles opened #779 "Add API endpoint to migrate funds from a legacy wallet."
# Context

This task will provide an API endpoint that allows users to **migrate** their funds from a Byron wallet to a new-style wallet.

# Usage

The basic sequence of a complete migration would be:

1. Use [`postByronWallet`](https://github.com/input-output-hk/cardano-wallet/issues/774) to restore a Byron wallet.
1. Use [`postWallet`](https://github.com/input-output-hk/cardano-wallet/blob/918eb

[2019-10-01 09:29] jonathanknowles opened #781 "Create `ApiByronWallet` type."
# Context

The `ApiByronWallet` type will be used to represent a Byron-style wallet in the wallet API.

Values of this type will be returned by the following API functions:

* [`getByronWallet`](https://github.com/input-output-hk/cardano-wallet/issues/776)
* [`listByronWallets`](https://github.com/input-output-hk/cardano-wallet/issues/775)
* [`postByronWallet`](https://github.com/input-output-hk/c

[2019-10-02 08:24] KtorZ commented on #767
@piotr-iohk I can't reproduce anymore on latest `master`:

[code]

[2019-10-02 08:36] piotr-iohk commented on #767
@KtorZ - I still see the issue with latest master and `jormungandr 0.5.5`... :thinking:

[2019-10-02 08:53] Anviking commented on #712
I removed this AC, because it adds complexity and we might not want to do it if we get access to the stake-distributions of all epochs.

I wrote: "Note that the SlotId is here stored in two separate columns. This way previous epochs can be cleaned easily." So the `slotNumber` component of it, yes.

Just a block count per pool _should_ be enough, I believe.

[2019-10-02 15:47] KtorZ commented on #767
I was running on Jörmungandr 0.5.2. With 0.5.5, i am able to reproduce but, it's even more interesting if we don't use the wallet and use cURL directly:

**valid hash**
[code]

**invalid hash**
[code]

Jörmungandr doesn't even reply, hence why it seems not connected on our side...

[2019-10-03 08:08] piotr-iohk commented on #781
lgtm! there are json roundtrip tests for the type.

[2019-10-03 08:08] #781 closed, assigned to jonathanknowles

[2019-10-03 09:11] piotr-iohk commented on #645
lgtm.

[2019-10-03 09:11] #645 closed, assigned to KtorZ, paweljakubas

[2019-10-03 22:17] #773 closed, assigned to Anviking, KtorZ

[2019-10-11 07:59] piotr-iohk opened #807 "Error reported in the log after deleting a wallet"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux | Code  v Configuration v Environment v Human v Unknown |

# Context

There is an error reported in the log after deleting a wallet. It shouldn't be there.

[code]

# Steps to Reproduce

1. Delete existing wallet `cardano-wallet-jormungandr wallet delete <wid>`

## Expected b

[2019-10-11 08:18] KtorZ commented on #767
@piotr-iohk, have we reported that to Jörmungandr's team ?

[2019-10-11 09:23] piotr-iohk commented on #767
Reported here -> https://github.com/input-output-hk/jormungandr/issues/922

[2019-10-11 10:22] piotr-iohk commented on #767
The issue seems to be fixed on recent Jormungandr master (now `404` is returned). Still on wallet we have:

[code]
which could be made nicer...

[2019-10-11 13:06] piotr-iohk commented on #769
That looks good! I've been making some tests also over `http-bridge`  doing restoring / transactions (not quite possible on Jormungandr now due to https://github.com/input-output-hk/jormungandr/issues/860).

 - DB size looks reasonable (80MB for ~6k tx across few wallets).
 - no timeout on endpoints during restoration

[2019-10-11 13:06] #769 closed, assigned to KtorZ

[2019-10-11 13:06] piotr-iohk commented on #756
Looking good! https://github.com/input-output-hk/cardano-wallet/issues/769#issuecomment-541056623

[2019-10-11 13:06] #756 closed, assigned to KtorZ

[2019-10-11 13:07] piotr-iohk commented on #644
:+1:

[2019-10-11 13:07] #644 closed, assigned to KtorZ

[2019-10-11 13:58] jonathanknowles opened #808 "Fork API server context into random and sequential variants."
# Context

The compatibility API server (which supports operations on Byron-style wallets) will require access to two contexts:

1. a _**random**_ context that corresponds to _**Byron**_ wallets.
2. a _**sequential**_ context that corresponds to _**modern**_ wallets.

# Decision

Fork the existing API server context into two separate contexts, as described above. The compatibility API server shoul

[2019-10-14 10:33] piotr-iohk commented on #648
LGTM :+1:

[2019-10-14 10:33] #648 closed, assigned to rvl, KtorZ

[2019-10-14 10:34] piotr-iohk commented on #650
lgtm :+1:

[2019-10-14 10:34] #650 closed, assigned to KtorZ

[2019-10-14 12:53] piotr-iohk commented on #807
I have noticed that on recent master (`117186d4f858b5d5685c8fa2247df7c274f59705`) there is also another error logged after deleting a wallet, i.e. there are two errors logged now:

 - `Unexpected failure while following the chain: thread killed` immediately after deletion.
 - `Failed to roll forward: ErrNoSuchWallet (WalletId {getWalletId = <wid>})` - when applying blocks after deletion

e.g.:

[c

[2019-10-14 15:08] KtorZ commented on #807
Which... makes sense ^^. If there's no more wallet, we can't roll forward. We need to better handle the race conditions here and make sure the worker thread is killed cleanly.

[2019-10-14 17:26] KtorZ opened #819 "Review and implement network information endpoint"
# Context

We are the de-facto proxy to the node and the underlying network for clients. Thus, it's useful for them to know some information about the network.

# Decision

Review the current endpoint specification which was designed almost a year ago. Things have evolved a bit since that day and we now have a clearer picture about how this information might be presented. In brief:

- Local chain

[2019-10-15 20:59] #767 closed, assigned to nobody

[2019-10-15 23:07] KtorZ commented on #703
@rvl @disasm

Can someone give a clear albeit concise status update on Windows builds?

In particular, answers to the following questions:

1. Can we build a Windows executable that runs, without crashing, the wallet server?
2. Can we run our unit tests on wine or Windows directly?
3. Can we run our integration scenarios on wine or Windows?
4. If it exists some build artifacts that are produced fo

[2019-10-16 03:55] rvl opened #832 "Allow launch of jormungandr in passive node mode"
# Context

When Daedalus starts `cardano-wallet-jormungandr launch` it needs control over which network the node backend connects to.

# Decision

Allow callers of `cardano-wallet-jormungandr launch` to provide extra command line arguments that are passed through to `jormungandr`.

# Acceptance Criteria

- Daedalus must be able to set which network Jormungandr connects to.
- The API port for the n

[2019-10-16 05:55] rvl opened #833 "Allow setting listen address for API server"
# Context

Have the wallet be able to listen on interfaces other than localhost. Relevant to these situations:

- Connecting to a wallet server on a remote host.
- Running the wallet server within a docker container.

# Decision

- [x] Add a command-line option `--listen-address` to `serve` and `launch` which accepts an IP address or hostname.
- [x] The special address `0.0.0.0` means listen on al

[2019-10-16 07:30] Anviking opened #835 "Restoration progress is non-linear and stops at ~70%"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code  v Configuration v Environment v Human v Unknown |

# Context

Restoration progress was recently changed to be calculated relative to the slot corresponding to the current time. Previously it was relative to the node's local tip.

#804

# Steps to Reproduce

1. Create

[2019-10-16 08:11] paweljakubas opened #836 "Forgetting pending transactions"
# Context

As an API client,
I want to be able to properly handle a transaction that has timed out and/or is stuck in a pending state,
so that I am to spend locked UTxOs for wallet users.

AC:

Given there is a pending transaction
And I can “forget” it via an API call by referring to its id
When a forgotten pending transaction may show up in a block
Then viewed within a wallet

# Decision

We are

[2019-10-16 09:16] KtorZ commented on #835
This doesn't seem to be a wallet issue, doesn't it? Jörmungandr's node seems stuck, and the sync progress kinda reflect that :thinking: ..

[2019-10-16 15:41] piotr-iohk opened #848 "Providing -- --config node_config.yaml on launch makes wallet exit ugly"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux | Code  v Configuration v Environment v Human v Unknown |

# Context

One can now do:
`cardano-wallet-jormungandr launch --genesis-block-hash <hash> -- --config node_config.yaml`

As a result underlying `jormungandr` fails cause `launch` provides two `--config`s to it. The er

[2019-10-17 04:36] rvl opened #851 "Improper shutdown of iohk-monitoring switchboard"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code  v Configuration v Environment v Human v Unknown |

# Context

There are currently some calls to `Cardano.BM.Setup.shutdown` (presumably to flush logs on exit). However, if any thread writes logs after `shutdown` has been called, the app deadlocks.

Upstream issue: in

[2019-10-17 08:07] KtorZ commented on #760
@piotr-iohk What's the status of that one :thinking: ?

[2019-10-18 05:21] rvl opened #863 "Provide a build for Daedalus installer"
# Context

Previous wallets had a Nix derivation called `daedalus-bridge` that would be integrated into the installer.

# Decision

The Daedalus installer generator should be able to `import <cardano-wallet/release.nix> {}` and use one of these attributes:

 - daedalus-jormungandr.linux
 - daedalus-jormungandr.macos
 - daedalus-jormungandr.windows

# Acceptance Criteria

- It's possible to generat

[2019-10-18 07:32] piotr-iohk commented on #819
lgtm.

[2019-10-18 07:32] #819 closed, assigned to KtorZ

[2019-10-18 07:33] piotr-iohk commented on #775
lgtm!

[2019-10-18 07:33] #775 closed, assigned to jonathanknowles

[2019-10-18 07:33] piotr-iohk commented on #776
lgtm!

[2019-10-18 07:33] #776 closed, assigned to jonathanknowles

[2019-10-18 07:34] piotr-iohk commented on #777
lgtm!

[2019-10-18 07:34] #777 closed, assigned to jonathanknowles

[2019-10-18 07:34] piotr-iohk commented on #808
lgtm!

[2019-10-18 07:34] #808 closed, assigned to jonathanknowles

[2019-10-18 09:35] Anviking opened #866 "Errors when running jörmungandr integration tests on macOS"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | macOS Catalina 10.15-beta (19A558d) | Code  v Configuration v Environment v Human v Unknown |

# Context

# Steps to Reproduce

1. `stack test cardano-wallet-jormungandr:integration`

## Expected behavior

Tests pass.

## Actual behavior

Most tests pass, except a few:

[code]

After making sure `

[2019-10-18 13:36] piotr-iohk commented on #774
lgtm!

[2019-10-18 13:36] #774 closed, assigned to jonathanknowles

[2019-10-18 14:19] #835 closed, assigned to nobody

[2019-10-18 14:23] piotr-iohk commented on #760
@KtorZ, this one seems to have disappeared after changes related to fixing #756 and #769. Closing for now.

[2019-10-18 14:23] #760 closed, assigned to nobody

[2019-10-20 23:16] rvl commented on #866
Lots of developer stuff got broken in Catalina.
It looks like that includes your installation of nodejs.
Does running `/usr/local/bin/node` by itself work?

[2019-10-21 08:36] piotr-iohk commented on #807
Fixed.

[2019-10-21 08:36] #807 closed, assigned to KtorZ

[2019-10-21 08:41] KtorZ commented on #712
Closing this ticket. Remaining work and QA will be tracked in #713

[2019-10-21 08:41] #712 closed, assigned to paweljakubas

[2019-10-21 08:41] KtorZ commented on #722
Closing this ticket. Remaining work and QA will be tracked in #713

[2019-10-21 08:41] #722 closed, assigned to nobody

[2019-10-21 08:41] KtorZ commented on #725
Closing this ticket. Remaining work and QA will be tracked in #713

[2019-10-21 08:41] #725 closed, assigned to paweljakubas

[2019-10-21 08:41] KtorZ commented on #715
Closing this ticket. Remaining work and QA will be tracked in #713

[2019-10-21 08:41] #715 closed, assigned to paweljakubas

[2019-10-21 08:42] KtorZ commented on #711
Closing this ticket. Remaining work and QA will be tracked in #713

[2019-10-21 08:42] #711 closed, assigned to Anviking

[2019-10-21 09:22] Anviking commented on #866
Ah! No:

[code]

_will try fixing that and re-running later_

[2019-10-21 13:46] piotr-iohk opened #877 "Jormungandr integration tests leave jormungandr running in background"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Linux | Code  v Configuration v Environment v Human v Unknown |

# Context

I think this is integration tests issue related to https://github.com/input-output-hk/cardano-wallet/blob/master/lib/jormungandr/test/integration/Main.hs#L101-L125
(`specWithServer` not cleaning properly, i.e. not killing

[2019-10-22 09:20] Anviking commented on #866
It all passes after
- Ensuring `/usr/local/bin/node` can launch
- `killall jormungandr` (updated description, I was probably seeing #877)

[2019-10-22 09:21] #866 closed, assigned to nobody

[2019-10-22 12:19] piotr-iohk commented on #851
That's perhaps a good candidate for automated tests

I see also that there is this option introduced:
[code]
Few questions:
 - What should be there in the `FILE.YAML`?
 - Are there any default values if no file is provided?

 I think it would be nice to have some tests illustrating the above, and also updated https://github.com/input-output-hk/cardano-wallet/wiki/Wallet-command-line-interface

[2019-10-22 17:34] #877 closed, assigned to rvl

[2019-10-23 14:02] piotr-iohk commented on #630
Discussion: https://input-output-rnd.slack.com/archives/GBT05825V/p1571838723033200?thread_ts=1571837252.031500&cid=GBT05825V

[2019-10-23 14:14] piotr-iohk commented on #836
Note so it is not lost:
https://input-output-rnd.slack.com/archives/GBT05825V/p1571834246030700
https://input-output-rnd.slack.com/archives/GBT05825V/p1571834379031200

 - Let's make diagrams and extend the documentation in the swagger spec before we release this.

 - One thing also: we need to remove the "invalidated" status for transactions. This is never used and confusing.

[2019-10-23 14:33] KtorZ opened #891 "Extend Jörmungandr Binary format to support Type 4 messages"
# Context

Our binary serializer/deserializer for Jörmungandr core types currently have holes. In particular, we do not support `Type 4: Certificate` type of messages (see also https://github.com/input-output-hk/chain-libs/blob/master/chain-impl-mockchain/doc/format.md#type-3-certificate).

In order to implement delegation, we'll need to be able to serialize and deserialize delegation certificates

[2019-10-23 14:39] KtorZ opened #892 "Extend Fee Policy With Flat Fee For Certificate"
# Context

The Jörmungandr fee policy actually consists of 3 values:

- A coefficient;
- A constant fee;
- A certificate flat fee.

(see also: https://github.com/input-output-hk/chain-libs/blob/master/chain-impl-mockchain/doc/format.md#type-0-initial-blockchain-configuration)

Our own `FeePolicy` only represents the first two, and discards the certificate flat fee during binary deserialization.

#

[2019-10-23 14:44] KtorZ opened #893 "Extend 'TransactionLayer' to allow construction of a certificate registration request"
# Context

To register a certificate, one needs to create a special kind of transaction (a.k.a token transfer in Jörmungandr's terminology) which contains the certificate registration as a payload.

https://github.com/input-output-hk/chain-libs/blob/master/chain-impl-mockchain/doc/format.md#witnesses

[code]

At the moment, we always construct transactions with empty payloads (`TokenTransfer<PAYLO

[2019-10-23 14:53] KtorZ opened #894 "HD Derivation for reward accounts"
# Context

We are extending the HD derivation path for sequential wallets to support an extra value for what is currently called the "change chain" path. A value of `2` will now indicates a reward account set of key.

See also https://github.com/input-output-hk/chain-wallet-libs/blob/master/doc/CRYPTO.md#extension-to-accounting-style

# Decision

  - Review and rename 'ChangeChain' to capture the

[2019-10-23 14:59] KtorZ opened #895 "Implement API types for delegation endpoints"
# Context

- https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/joinStakePool
- https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/quitStakePool

# Decision

- Create API types definitions needed to implement these endpoints
- Wire up the endpoint declarations into the Servant server
- Implement handlers as `throwError err501`

# Acceptance Criteria

1. The serv

[2019-10-23 15:07] KtorZ opened #896 "Implement 'joinStakePool' endpoint"
# Context

### Extract from API specification

#### Endpoint
[code]
#### Input
[code]
#### Output
[code]

### Request flow

A typical request flow goes as follows:

- Request is received, payload contains a PoolId
- Verify that the pool exists
- Create (and balance) a special transaction where flat certificate fees are taken into account
- Retrieve root private key for a wallet
- Derive a delegati

[2019-10-23 15:19] KtorZ opened #897 "Nuke `cardano-wallet-http-bridge`"
# Context

- `http-bridge` has more holes than any cheese :cheese:
- `http-bridge` is a development burden that costs us hours of maintenance
- We aren't running integration or unit tests for `http-bridge` in CI anymore
- There's now a TestNet for `jormungandr` which we'll be able to use for restoration benchmarks
- To implement delegation features, we will need to go into some heavy structural ch

[2019-10-23 15:23] KtorZ opened #898 "Extend 'Block' to also contain delegation certificates registrations"
# Context

Delegation certificate registration (a pair of a pool id and an account public key) can be present in blocks. We'll have to be able to process them and adjust the wallet delegation settings accordingly.

# Decision

- Extend primitive 'Block' type to also contain delegation certificates registrations. e.g.

[code]

- Extend Jörmungandr Binary decoder to decode certificate messages & adj

[2019-10-23 15:40] KtorZ opened #899 "Adjust restoration loop to look for known certificate registrations"
# Context

With #898, certificate registrations will now be part of blocks normally processed by the wallet layer.

# Decision

- Adjust restoration loop and keep track of certificates created by our wallet within already existing checkpoints.

# Acceptance Criteria

1. The wallet engine _must_ keep track of all certificates (modulo checkpoints) discovered on the chain as long as their date (as sl

[2019-10-23 15:52] KtorZ opened #900 "Allow address introspection within the wallet engine."
# Context

We currently represent addresses as raw `ByteString` which has the nice advantage of being opaque to the wallet engine. As a consequence, we are capable of having a wallet engine which is fairly agnostic to the underlying address format.

Yet, in order to implement delegation, we're going to need being able to extract a spending public key from an address (the address pool only keeps tr

[2019-10-23 16:00] KtorZ opened #901 "Revise 'AddressPool' to work with address public keys"
# Context

Our 'AddressPool' currently keeps track of a pool of 'Addresses' which has a major drawback:

- A spending address public key can be associated with infinitely many delegation key (which may result in an infinite number of addresses corresponding to same spending key).

- When discovering addresses, the wallet should only look at whether the spending key belongs to it. It is possible to

[2019-10-23 16:03] KtorZ opened #902 "Extend Jörmungandr Client to support fetching an account state"
# Context

https://input-output-hk.github.io/jormungandr/jcli/rest.html#get-account-state

# Decision

- Extend `JormungandrClient` with a function to get an account's state

# Acceptance Criteria

1. `JormungandrClient` _must_ support fetching an account's state.

---

# Development Plan

# PR

| Number   | Base      |
| ---      | ---       |
| #995       | `master`  |
| #1053      | `master`  |

[2019-10-23 16:09] KtorZ opened #903 "Extend wallet's API responses with a reward"
# Context

As an API client, when fetching a wallet, I want to know how much ADA is available on my reward account.
We know there's only a single reward account which can be derived from the root key so this value should always be available.

https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/getWallet

# Decision

- Extend the swagger definition for the wallet resource to also r

[2019-10-23 16:11] KtorZ opened #904 "Properly fetch and assign reward account value when fetching wallets"
# Context

Glue code between #903 and #902

# Decision

- Effectively implement the reward account reporting by fetching the value from the network layer when fetching or listing a wallet.

# Acceptance Criteria

1. The 'balance.reward' of the wallet resource _must_ reflect the actual value for that reward account as known by the node.

---

# Development Plan

1. Forward `getAccountState` of `Jor

[2019-10-24 05:16] jonathanknowles commented on #894
@KtorZ This sentence seems a bit mangled:

Are you able to unmangle it? (I would do it, but I'm not sure what the original meaning is.)

[2019-10-24 11:42] paweljakubas opened #908 "Unit test of coin selection migration fails"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code  v Configuration v Environment v Human v Unknown |

# Context

When running on Hydra `stack test cardano-wallet-core:unit`
https://hydra.iohk.io/build/1278531/nixlog/15
[code]
# Steps to Reproduce

See the below log :

[code]

---

# Resolution Plan

- Add a regressio

[2019-10-24 12:39] paweljakubas commented on #908
I can reproduce it locally :
[code]

[2019-10-24 13:08] paweljakubas commented on #908
so we have situation that :
[code]

[2019-10-24 13:40] paweljakubas commented on #908
So, for
[code]
actualFee:18446744073709551609

[2019-10-24 13:45] paweljakubas commented on #908
So, because
`inputBalance :: CoinSelection -> Word64`
`changeBalance :: CoinSelection -> Word64`
and
https://github.com/input-output-hk/cardano-wallet/blob/master/lib/core/src/Cardano/Wallet/Primitive/CoinSelection/Migration.hs#L142

[2019-10-24 16:05] KtorZ opened #913 "Extend SQLite to allow storing pool registration certificates"
# Context

With #898, certificate registrations will now be part of blocks normally processed by the wallet layer.

During restoration, we want to be able to also restore registration certificates that are ours and that have been submitted to the chain. We need to keep track of the full history to also be able to cope with rollbacks.

# Decision

- Extend the SQLite `Checkpoint` table to carry a `

[2019-10-24 16:11] KtorZ commented on #894
@jonathanknowles It's a typo, `know` --> `now`

[2019-10-24 16:18] KtorZ commented on #848
how are we with this one?

[2019-10-24 17:04] piotr-iohk commented on #848
no longer applies

[2019-10-24 17:04] #848 closed, assigned to rvl

[2019-10-25 09:32] piotr-iohk opened #917 "Test failures -> Cardano.Wallet.Primitive.Types.Ranges"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code  v Configuration v Environment v Human v Unknown |

# Context

Those tests failed already on several prs.

[code]

Additional context: https://github.com/input-output-hk/cardano-wallet/pull/915#issuecomment-546278537

# Steps to Reproduce

[code]

## Expected behavior

[2019-10-25 11:35] piotr-iohk opened #921 "Wallets reporting of sync progress is inconsistent"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code  v Configuration v Environment v Human v Unknown |

# Context

Observed on 0.7.x Jorm testnet, when my node was, sort of, getting out of sync.

# Steps to Reproduce

1. say that node is synced 95% (i.e. `cardano-wallet-jormungandr network information` reports 95%)
2.

[2019-10-25 11:40] piotr-iohk opened #922 "CLI transaction forget -> unfriendly user message when invalid txId is provided"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code  v Configuration v Environment v Human v Unknown |

# Context

# Steps to Reproduce

[code]
could be something like:
[code]

## Expected behavior

[code]

## Actual behavior

[code]

---

# Resolution Plan

# PR

| Number   | Base      |
| ---      | ---       |
| #?

[2019-10-25 11:50] piotr-iohk opened #923 "CentOS, RHEL 6+ and SuSe Linux defect for libcrypto.so.1.0.0"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Linux| Code  v Configuration v Environment v Human v Unknown |

# Context

It seems that libcrypto 1.0.0 is no longer shipped with RHEL for a while (since ver. 6) and it is impossible to install it using native package manager yum.

Seem to be the same for SuSe Linux and CentOS (which is derived f

[2019-10-28 06:37] piotr-iohk commented on #897
lgtm.

[2019-10-28 06:37] #897 closed, assigned to Anviking

[2019-10-28 06:40] piotr-iohk commented on #908
lgtm.

[2019-10-28 06:40] #908 closed, assigned to KtorZ

[2019-10-28 13:45] Anviking commented on #921
We store the `SyncProgress` itself in percent in the DB, and update it when we apply blocks.
https://github.com/input-output-hk/cardano-wallet/blob/4b279c2089736bce416fe7bc90b4b574682522b4/lib/core/src/Cardano/Wallet/Primitive/Types.hs#L241

Previously the percentage could only change when we applied blocks.

Now it is calculated in relation to the current time.

We should seek to remove `syncProg

[2019-10-28 14:14] Anviking commented on #921
Initially I was sceptical of comparing with the current time too. Now I'm more ambivalent about it. 🤷‍♂

I guess, what makes `syncProgress` useful is knowing that `100%` means the state we're seeing is the state on the network — i.e:
- another instance of the same wallet hasn't spent our funds
- if we haven't received a tx we expected, it is because it hasn't been included in the ledger yet, not b

[2019-10-28 15:01] KtorZ commented on #921
Saying that we're synced when we are synced with the node is somewhat misleading. If the node is lagging a lot behind, then the wallet might say that it is restored at 100% whereas it is actually missing many blocks.

That the node isn't able to sync with the network in a timely manner is an issue that the walley shouldn't be trying to solve.

I think @anviking's proposal is sound, we should have

[2019-10-28 18:19] KtorZ commented on #836
@paweljakubas are we ready to send this one into QA?

[2019-10-29 08:51] piotr-iohk commented on #863
@rvl, @KtorZ - Can you pls provide links from where I can download the builds?
https://hydra.iohk.io/jobset/Cardano/cardano-wallet#tabs-jobs has those _jobs_

daedalus-jormungandr.linux
daedalus-jormungandr.macos
daedalus-jormungandr.windows

but I don't see any downloadable binary artifacts there...

[2019-10-29 12:21] KtorZ opened #931 "Unreliable test cases in CI"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code  v Configuration |

# Context

https://buildkite.com/input-output-hk/cardano-wallet/builds/3377#97b21363-a48b-4a51-9787-eb22ff210771/6-7571

https://buildkite.com/input-output-hk/cardano-wallet/builds/3308#c9de0620-ac75-4a16-95b1-7bf2b37dd666/6-7555

https://buildkite

[2019-10-29 17:51] piotr-iohk opened #935 "Pending txs when listed on the wallet have `inserted_at` field instead of `pending_since`."
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code  v Configuration v Environment v Human v Unknown |

# Context
 Pending txs when listed on the wallet have `inserted_at` field instead of `pending_since`.

# Steps to Reproduce

1. Send the transaction. Response reads:
[code]
2. List txs on the wallet you just sent tx

[2019-10-30 17:00] piotr-iohk commented on #836
Still cannot fully test forget tx on byron wallets... (until https://github.com/input-output-hk/cardano-wallet/pull/934 is resolved).

[2019-10-30 17:22] KtorZ commented on #921
@Anviking please remember to send this to QA if it's fixed.

[2019-10-30 17:22] KtorZ commented on #917
@jonathanknowles please remember to send this to QA if now fixed.

[2019-10-30 19:04] Anviking commented on #921
This is the sync-progress (y) dropping over time (x) from following the QA section. It seems a bit weird; I wonder if we can do better, but that's another issue:
<img width="660" alt="Skärmavbild 2019-10-30 kl  20 00 23" src="https://user-images.githubusercontent.com/304423/67889939-103e8900-fb50-11e9-98df-ecdb55b250ea.png">

[2019-10-30 19:23] KtorZ commented on #921
@Anviking what exactly do you find weird in this graph?

[2019-10-30 19:38] Anviking commented on #921
I guess I'd expect it to be linear.

I'd expect that restoring 80%-100% would take twice the time as 90%-100% on a fully synced node.

I could be interested in knowing:
- How far (in time) am I from the network?
- How long will it take me to finish syncing given that I'm at 50%?

With non-linear progress it's much more difficult to build the intuition to answer those questions.

[2019-10-30 19:48] KtorZ commented on #921
There's no point trying to build linear progress because it'll never be linear. The main reasons being that:

- All blocks are different, some empty, some not. How long it takes to restore 1,10 or 100 blocks very much depends on what's inside the blocks.

-  Blocks will not have the same impact on the wallet. A block might contain 10k transaction but takes 100ms to restore because no transactions

[2019-10-31 05:14] jonathanknowles commented on #917
Done.

[2019-10-31 07:11] rvl commented on #851
@piotr-iohk I have updated the `serve` and `launch` usage on that wiki page.

The logging file format and defaults come from the iohk-monitoring project. I have asked if there is any documentation already available that we can use.

[2019-10-31 07:31] piotr-iohk commented on #935
lgtm.

[2019-10-31 07:31] #935 closed, assigned to KtorZ

[2019-10-31 13:14] piotr-iohk commented on #917
lgtm

[2019-10-31 13:14] #917 closed, assigned to jonathanknowles

[2019-10-31 13:37] piotr-iohk commented on #922
lgtm!

[2019-10-31 13:37] #922 closed, assigned to jonathanknowles

[2019-10-31 14:17] piotr-iohk commented on #921
@Anviking - I'm wondering. This could be an actual integration test I think... (those steps from QA). Maybe I'd extend it a bit.
- start jormungandr
- start wallet serve
- create wallet and have it 100% synced
- stop jormungandr
- make sure sync is dropping for the wallet
- start jormungandr
- make sure the sync for the wallet is back to 100%

Thoughts?

[2019-10-31 14:21] Anviking commented on #921
Hm. Yeah, when you say it, it does sound very plausible.

[2019-11-01 13:41] rvl commented on #931
I noticed this message in the logs of the first buildkite build (3377) listed in this ticket:
[code]
That would probably explain the `ExitFailure 66`.

[2019-11-04 00:28] rvl opened #949 "Let CLI client connect to remote hosts"
# Context

The wallet server can listen on interfaces other than localhost (#833).

The wallet CLI client ought to be able to connect to addresses other than localhost. Relevant to these situations:

- Connecting to a wallet server on a remote host.
- Connecting to the wallet server within a docker container.

# Decision

Change the CLI `--port=8090` argument to something like `--server=localhost:

[2019-11-04 00:30] rvl commented on #833
I moved the client part of this ticket to #949.

[2019-11-04 09:24] KtorZ commented on #833
We should probably move that to JIRA as a U/S for now. Although that something I'd like to see happening, we don't have any room for this at the moment.

[2019-11-04 13:08] piotr-iohk commented on #833
lgtm.

[2019-11-04 13:14] #833 closed, assigned to rvl

[2019-11-04 13:37] piotr-iohk opened #953 "Invalid Address first byte - error message could be more user-friendly."
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code  v Configuration v Environment v Human v Unknown |

# Context

Sending tx for account address e.g.:
[code]
[code]

produces error message:

[code]

The message could be made more friendly and informative.

Tests are here -> https://github.com/input-output-hk/cardano-w

[2019-11-05 06:39] rvl commented on #931
input-output-hk/jormungandr#982

[2019-11-05 07:37] rvl commented on #863
@piotr-iohk

That QA text I wrote is slightly vague - sorry.

Those attributes are intended to be imported and referenced from the Daedalus installers build, rather than downloaded from the Hydra web interface.

When you run these commands, it will download the builds from hydra.iohk.io. So that's what I meant to say.
[code]
(if it doesn't simply download the build, then try again from a clean git

[2019-11-05 08:55] piotr-iohk commented on #832
lgtm, I added a test in #887 and cleaned up old spec testing generated config.yaml, which is we no longer generate.

[2019-11-05 08:55] #832 closed, assigned to rvl

[2019-11-05 09:01] piotr-iohk commented on #851
@rvl thanks!

I will close this one then and report an issue to track this

[2019-11-05 09:01] #851 closed, assigned to rvl

[2019-11-05 09:20] piotr-iohk opened #961 "--logging-config FILE.YAML more info and tests required"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code  v Configuration v Environment v Human v Unknown |

# Context

As part of #851 there was this option provided for `launch` and `serve` commands:

[code]

The format of the file is somewhat unknown and it should be provided by iohk-monitoring team.
We need to have it d

[2019-11-06 02:16] cleverca22 opened #963 "wallet should accept a --node-bin arg"
wallet should accept a `--node-bin /path/to/jormungandr` flag
it should route the result to here: https://github.com/input-output-hk/cardano-wallet/blob/dcc30d4d077126beed47cdbebc3008885653a2ea/lib/jormungandr/src/Cardano/Wallet/Jormungandr/Network.hs#L497

| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code  v Configu

[2019-11-06 03:17] rvl commented on #963
There's no need for a CLI option.

On Linux and macOS just set the `PATH` variable before spawning the `cardano-wallet-jormungandr` child process.

On Windows, ensure the two exes are installed in the same directory.

[2019-11-06 11:25] piotr-iohk commented on #779
I have reviewed integration tests, they are quite nice.

I would like to add few more mostly around negative cases (BYRON_MIGRATE and BYRON_CALCULATE in the file): https://docs.google.com/spreadsheets/d/1fadIA_j4nCd3FbylPo5J8K9Fy6tixSC2T9V3xHKuUvU/edit#gid=0
I don't see many tests for caluclating migration cost too. (they are touched in the BYRON_MIGRATE suite)

Also testing of of big wallet with

[2019-11-06 11:26] piotr-iohk commented on #778
Closing this one. Added comment here -> https://github.com/input-output-hk/cardano-wallet/issues/779#issuecomment-550268161

[2019-11-06 11:26] #778 closed, assigned to jonathanknowles, paweljakubas

[2019-11-07 00:03] #963 closed, assigned to nobody

[2019-11-07 02:27] jonathanknowles commented on #779
@piotr-iohk wrote:

Good point. It's true that we don't have many tests to trigger a migration cost calculation in the integration layer.

Though have you seen the [property tests for migration coin selection](https://github.com/input-output-hk/cardano-wallet/blob/b46df2f29baf347c3a7d42ea8f071547cc28b3ed/lib/core/test/unit/Cardano/Wallet/Primitive/CoinSelection/MigrationSpec.hs)?

The `GetByronWal

[2019-11-07 08:29] piotr-iohk commented on #953
There is also another unpleasant case found by @jonathanknowles.
When the payload does not parse correctly there is this error: `"34: Failed reading: satisfy"`. Could be made more friendly and informative too.

e.g.:

[code]
(note: the payload is invalid, notice additional `,` after `"lovelace"`)
:point_down:
[code]

[2019-11-07 08:31] piotr-iohk commented on #953
We do have several cases for invalid payload but never verified the error message somehow -> e.g. https://github.com/input-output-hk/cardano-wallet/blob/master/lib/core-integration/src/Test/Integration/Scenario/API/Wallets.hs#L791-L808

(there are few others, to find search for `NonJson`)

[2019-11-07 09:10] piotr-iohk commented on #895
Added some preliminary tests in #962.

[2019-11-07 09:10] #895 closed, assigned to paweljakubas

[2019-11-07 09:21] piotr-iohk commented on #891
lgtm.

[2019-11-07 09:21] #891 closed, assigned to paweljakubas

[2019-11-07 09:25] piotr-iohk commented on #901
lgtm.

[2019-11-07 09:25] #901 closed, assigned to KtorZ

[2019-11-07 10:35] KtorZ commented on #953
This could be difficult. This error is from `aeson` (the library we use to parse JSON) and we don't have much control over it as the error occurs before it reaches our application layer (the `wai/servant` application is catching that for us).

Maybe we can "adjust" the error afterwards in the middleware we already use to rewrap servant errors:

https://github.com/input-output-hk/cardano-wallet/blo

[2019-11-07 10:36] KtorZ commented on #953
More specifically: this line https://github.com/input-output-hk/cardano-wallet/blob/master/lib/core/src/Cardano/Wallet/Api/Server.hs#L1562-L1608 could instead do some extra inspection of the underlying error and adjust the error message with something more user friendly.

[2019-11-07 10:45] Anviking commented on #921
We'd need a new module with a new setup to control jormungandr. Shouldn't be a problem.

We'd also need to be a able to kill the running jormungandr. This is more of a problem. I _think_ we'd be fine with tweaking existing bracketed launching-functions (to say return a `pid`), but might still be a bit unpleasant if it has cascading effects on other code.

[2019-11-07 10:47] Anviking commented on #921
We might also imagine alternative ways of stopping block production without actually killing jormungandr.

Maybe we could move `1 lovelace` from the address that is delegating to the running pool.

[2019-11-07 10:58] KtorZ commented on #921
Sounds like something we'd rather do manually for now. May we simply write the steps above as a manual test procedure :)?

[2019-11-07 11:28] Anviking commented on #921
--> https://github.com/input-output-hk/cardano-wallet/pull/977

[2019-11-07 11:51] piotr-iohk commented on #836
Enabled tests for Byron wallets in #978. Closing this one.

[2019-11-07 11:51] #836 closed, assigned to paweljakubas

[2019-11-07 12:23] piotr-iohk commented on #921
lgtm.

[2019-11-07 12:23] #921 closed, assigned to Anviking

[2019-11-08 03:50] jonathanknowles commented on #931
https://hydra.iohk.io/build/1330205

[2019-11-08 08:50] jonathanknowles commented on #953
@KtorZ @piotr-iohk

It seems as though both problems described in this issue have been addressed. Should we close the issue?

[2019-11-08 08:57] piotr-iohk commented on #953
:ok_hand:

[2019-11-08 08:57] #953 closed, assigned to jonathanknowles

[2019-11-08 09:28] piotr-iohk commented on #900
Is it possible/Would it make sense to add some roundtrip tests? Something like _address -> fingerprint -> address_ ?

[2019-11-08 09:39] jonathanknowles commented on #902
@KtorZ In our codebase, do we already have a suitable type that we can reuse for `AccountId`? Looking at the Jormungandr source code, it seems to just be:

source: https://github.com/input-output-hk/jormungandr/blob/650a005c6b3577921c1f754c2d91c0e038e31d11/jcli/src/jcli_app/utils/account_id.rs#L17

[2019-11-08 09:42] jonathanknowles commented on #902
@KtorZ I note that we also have this:

https://github.com/input-output-hk/cardano-wallet/blob/master/lib/jormungandr/src/Cardano/Wallet/Jormungandr/Binary.hs#L643

[2019-11-08 09:51] KtorZ commented on #902
@jonathanknowles we currently have `ChimericAccount` in the primitive types :+1:

[2019-11-08 09:52] KtorZ commented on #900
Yes!

[2019-11-08 17:25] piotr-iohk commented on #779
@jonathanknowles I think property tests look good. I have added a few more integration tests in #989.

[2019-11-11 04:37] jonathanknowles commented on #902
Great, thanks for confirming @KtorZ.

[2019-11-11 06:21] jonathanknowles opened #996 "SQLite DB state machine test failure."
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next | Linux | Code |

# Context

First seen here:

https://hydra.iohk.io/build/1338908
https://hydra.iohk.io/build/1338908/nixlog/23

# Steps to Reproduce

Run the following command:
[code]
## Expected behaviour

The tests pass.

## Actual behaviour

The tests do not pass:
[code]

---

# Resolution Plan

-

[2019-11-11 08:31] jonathanknowles commented on #931
Another one:
https://hydra.iohk.io/build/1339268/nixlog/68/tail
https://hydra.iohk.io/build/1339268

[2019-11-11 08:37] KtorZ commented on #931
We could try increasing a bit the epoch length. We've set it to 3 seconds and it seems to be causing issues as explained in this comment:

[2019-11-11 09:09] KtorZ commented on #630
So it appears that this is confusing quite a lot of people when playing with the explorer and the wallet. Being consistent with Jörmungandr and the explorer would help dispelling this confusion. Will do.

[2019-11-11 10:01] rvl commented on #923
There are other issues too -- for example, it won't work if the user's glibc version is too old (usually happens with RHEL/Centos or Debian stable). Also there are support difficulties around asking users to find and install the right libraries.

The two best ways to produce Linux builds which run in many environments are:
1. fully static binary (not dynamically linked at all)
2. docker image

The

[2019-11-11 10:20] jonathanknowles commented on #902
@KtorZ experimenting with `jcli`:
[code]
Gives the following result:
[code]

Within the list of stake pools, what is the value of `1` supposed to represent?
Within the Jormungandr source code, we have this definition:

[code]

source: https://github.com/input-output-hk/jormungandr/blob/master/jormungandr-lib/src/interfaces/account_state.rs#L69-L73

Which is defined in terms of this:
[code]
Looking

[2019-11-11 10:22] piotr-iohk opened #999 "--sync-tolerance should be listed before [[-- ARGUMENTS]] in CLI"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code  v Configuration v Environment v Human v Unknown |

# Context

[code]
:point_down:

which suggest you can put `--sync-tolerance` after Jormungandr's specific arguments, and you cannot.

You cannot do:
[code]
you have to do:

[code]

# Steps to Reproduce

[code]

## Ex

[2019-11-11 10:24] KtorZ commented on #902
@jonathanknowles
I believe this refers to the `delegation ratio`. Jörmungandr allows for delegating to multiple stake pools at once by providing a particular delegation ratio. The case we support in the wallet backend is a particular case of this where the delegation is fully done to one particular stake pool (ratio is then `1`). But in practice, you could have two stake pools in this list, with l

[2019-11-11 12:02] piotr-iohk commented on #863
ok

[2019-11-11 12:02] #863 closed, assigned to rvl

[2019-11-11 12:37] KtorZ commented on #999
Hmmm. Interesting. Thanks for bringing this up @piotr-iohk :+1:

[2019-11-11 12:40] KtorZ commented on #923
By the by @rvl, I've asked our legal representatives about the licensing issues that could cause a static linking with some libraries. Their answer is:

[code]

I believe we should aim for both 1. and 2. in the upcoming releases.

[2019-11-11 13:13] piotr-iohk commented on #999
The order of parameters is irrelevant except that `[-- ARGUMENTS]` must be the last one, cause they're all interpreted as jormungandr parameters after the last `--`

btw. also why is it `[[-- ARGUMENTS...]]` and not `[-- ARGUMENTS...]`?

[2019-11-11 16:17] KtorZ opened #1004 "Incorrect transaction amount reported on pending transactions"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| v2019-11-07    | Windows & OSX & Linux) | Code |

# Context

![Screenshot 2019-11-11 at 15 02 03](https://user-images.githubusercontent.com/5680256/68602342-71e2e980-04a6-11ea-900c-13b86a2a4ed3.png)

# Steps to Reproduce

1. Make a transaction
2. Observe the reported amount while pending
3. Compare the amou

[2019-11-12 08:02] piotr-iohk commented on #999
lgtm!

[2019-11-12 08:02] #999 closed, assigned to KtorZ

[2019-11-12 08:13] piotr-iohk commented on #630
lgtm!

[2019-11-12 08:13] #630 closed, assigned to KtorZ

[2019-11-12 08:16] piotr-iohk commented on #996
lgtm.

[2019-11-12 08:16] #996 closed, assigned to KtorZ

[2019-11-12 09:35] piotr-iohk opened #1007 "Calculating migration cost of the wallet that cannot be migrated should return 403"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code  v Configuration v Environment v Human v Unknown |

# Context

https://github.com/input-output-hk/cardano-wallet/pull/989#discussion_r344434182

We are returning `403` and error message when trying to migrate the wallets that are empty or contain only dust, however wh

[2019-11-12 10:09] piotr-iohk commented on #779
I have added yet additional tests in #1008 and an issue #1007 that actually was inspired by this comment https://github.com/input-output-hk/cardano-wallet/pull/989#discussion_r344434182.

Closing this one.

[2019-11-12 10:09] #779 closed, assigned to jonathanknowles, paweljakubas

[2019-11-12 10:32] KtorZ commented on #949
Moved to `cardano-wallet-laboratory` -> https://github.com/input-output-hk/cardano-wallet-laboratory/issues/14

[2019-11-12 10:32] #949 closed, assigned to nobody

[2019-11-12 12:33] piotr-iohk commented on #1007
lgtm.

[2019-11-12 12:33] #1007 closed, assigned to nobody

[2019-11-12 13:40] piotr-iohk commented on #1004
lgtm. I have only refactored the test script a bit -> #1010.

[2019-11-12 13:40] #1004 closed, assigned to KtorZ

[2019-11-12 13:45] piotr-iohk commented on #704
@rvl Question about: `cardano-wallet-core:benchmark:db should pass on OSX`

Do we run benchmark on OSX?

[2019-11-13 00:30] rvl commented on #704
@piotr-iohk The benchmark builds ok, but it is not run in the nightly CI job as it is done for Linux.

I consider this type of benchmark not worth running on two similar platforms because the results will be more or less the same.

However, we really really should bring back the nightly wallet restore acceptance test and benchmark. Because this type of benchmark should be run on multiple platforms

[2019-11-13 22:45] piotr-iohk commented on #704
:+1:

[2019-11-13 22:45] #704 closed, assigned to rvl

[2019-11-14 08:26] KtorZ opened #1025 "Word16 overflow in Jörmungandr binary (SlotId)"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| v2019-11-12    | Windows & OSX & Linux) | Code   |

# Context

https://github.com/input-output-hk/cardano-wallet/blob/master/lib/jormungandr/src/Cardano/Wallet/Jormungandr/Binary.hs#L196

The actual slot number goes up to 32 bits!

# Steps to Reproduce

1. It crashes if it encounters a value that is too big

[2019-11-14 10:04] Anviking opened #1027 "Chain follower does not backoff on errors"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code  v Configuration v Environment v Human v Unknown |

# Context

# Steps to Reproduce

Add `throwIO $ userError "no"` to `monitorStakePools`. The `follow` machinery should catch it. Or be on a revision/configuration that will error anyways.

## Expected behavior

Errors

[2019-11-14 19:47] KtorZ opened #1036 "Daedalus IPC working intermittently on windows"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| v2019-11-12 | Windows | Environment v Code |

# Context

On some machines, Daedalus remains stuck to the splash screen after starting the wallet backend. From looking at the logs, it seems that it never actually receives a `Started` message from the wallet backend IPC server.

This is somewhat strange and s

[2019-11-15 13:23] rvl commented on #1036
Sending IPC messages down the ipc channel on Windows seems to block on sending the 3rd message. From that point on the daedalusIPC function is stuck.

I have added a test case on the [rvl/1036/daedalus-ipc-race](https://github.com/input-output-hk/cardano-wallet/compare/rvl/1036/daedalus-ipc-race) branch.

[2019-11-15 14:32] KtorZ opened #1041 "Byron addresses have derivation indexes that are not only hardened."
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| v2019-11-14    | Windows & OSX & Linux) | Code  v Human |

# Context

Addresses in `Byron` uses HD derivation with 3 levels: root, account and addresses.
It was believed that Byron addresses indexes used only hardened derivation, i.e. they would range from `2^31=2147483648` to `2^32=4294967296`.

However, s

[2019-11-18 10:20] jonathanknowles commented on #898
Hi @KtorZ, are you able to say what "Type 3" and "Type 1" refer to in the acceptance criterion below:

I had a look through and couldn't see anything obvious. Thanks in advance!

[2019-11-18 10:40] KtorZ commented on #898
@jonathanknowles this refers to the fragment type (a.k.a fragment spec in Jormungandr).
Yet, since I wrote this ticket, type 3 became type 4 :)

What's important to capture here is that delegation certificates should now be part of our primitive blocks, as the title suggests.

[2019-11-19 08:44] piotr-iohk commented on #1036
lgtm.

[2019-11-19 08:44] #1036 closed, assigned to rvl, KtorZ

[2019-11-19 08:45] piotr-iohk commented on #900
lgtm.

[2019-11-19 08:45] #900 closed, assigned to KtorZ

[2019-11-19 09:05] jonathanknowles opened #1048 "Truncation of `SlotId` values in the persistence layer."
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | All | Code |

## Context

[`SlotId`](https://github.com/input-output-hk/cardano-wallet/blob/da58c9347eceeffd0f52f3885390ec4a581fdcad/lib/core/src/Cardano/Wallet/Primitive/Types.hs#L983) is a **96-bit** wide unsigned integer type, consisting of:

* a **64-bit** wide unsigned [`EpochNo`](https://git

[2019-11-19 10:13] KtorZ commented on #1048
Let's move this to the laboratory and keep #1025 to keep track of the issue. (cc @Anviking).

[2019-11-19 10:21] piotr-iohk commented on #1025
lgtm. Regression test added -> https://github.com/input-output-hk/cardano-wallet/blob/master/lib/jormungandr/test/unit/Cardano/Wallet/Jormungandr/BinarySpec.hs#L134

[2019-11-19 10:22] piotr-iohk commented on #1027
lgtm.

[2019-11-19 10:22] #1027 closed, assigned to Anviking

[2019-11-19 19:11] Anviking commented on #1025
https://github.com/input-output-hk/cardano-wallet/issues/1048#issuecomment-555433557

Ok, re-opening this then.

There was a remaining silent problem fixed by #1046.

But we should make sure to have regression tests and _maybe_ make it fail harder / faster with an explicit invariant.

Long discussion at https://input-output-rnd.slack.com/archives/GBT05825V/p1574113682014100

[2019-11-20 08:23] #1048 closed, assigned to nobody

[2019-11-20 08:23] jonathanknowles commented on #1048
Discussion has moved to this issue: https://github.com/input-output-hk/cardano-wallet-laboratory/issues/16

[2019-11-20 09:22] piotr-iohk opened #1049 "Recurring `Recoverable error following the chain` in the chain follower"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code  v Configuration v Environment v Human v Unknown |

# Context
Observed when using Daedalus. Syncing of the wallet got stuck for ~6hours. At some point following entries started to occur in the log repeatedly:

[code]

At the same time Jormungandr was logging OK:

[cod

[2019-11-20 10:41] piotr-iohk commented on #894
lgtm.

[2019-11-20 10:41] #894 closed, assigned to paweljakubas

[2019-11-20 12:07] piotr-iohk commented on #1025
@Anviking OK.
I thought we'll be tracking the above under another issue, but that's also fine. Putting to `in progress` then.

If I understand correctly we're missing regression test for #1046.

[2019-11-20 12:43] KtorZ commented on #1025
And the addition of a proper invariant in the code*

[2019-11-20 14:45] KtorZ commented on #703
@rvl How are we doing with wine tests execution here? Wine doesn't work for me locally for a.. mysterious reason and as far as I can see, the Hydra job doesn't really work either.

[2019-11-20 14:56] #923 closed, assigned to KtorZ

[2019-11-20 16:10] piotr-iohk commented on #902
I've added few additional tests -> #1053. And have a doubt/question about returned error in one case.

[2019-11-20 19:47] KtorZ commented on #713
Shall we close that one :no_mouth: ?

[2019-11-21 05:47] rvl commented on #703
We are waiting for execution of wine tests to be put back - input-output-hk/haskell.nix#316. Currently it builds the test suite for windows but does not run it, so it's always green in Hydra.

I don't know what version and configuration of wine you were using. But the version used in the nix build is capable of running the test suite and `jormungandr.exe`.

[2019-11-21 08:26] jonathanknowles commented on #1025
@KtorZ wrote:

Perhaps one way to enforce this invariant might be to define `EpochNo` in terms of a [`Word31`](http://hackage.haskell.org/package/OddWord-1.0.2.0/docs/Data-Word-Odd.html#t:Word31):

[code]

And then at the point where we decode epoch numbers from binary, **fail loudly** if we decode something that's wider than 31 bits.

I coded up an experimental branch here: https://github.com/inp

[2019-11-21 08:38] KtorZ commented on #1025
Sounds like a good idea. Would you mind making this a PR, I'll pick it up later today :pray:

[2019-11-21 08:49] jonathanknowles commented on #1025
@jonathanknowles wrote:

@KtorZ responded:

Sure, no problem.

**Question:** In terms of "failing loudly" at the point of decoding something that's wider than 31 bits, what would be your preferred mode of failure?

We **could** use `error` (along with a suitable message), but that would cause the wallet to crash. Perhaps there is a better way here.

[2019-11-21 09:02] KtorZ commented on #1025
Failing loudly is a synonym of "crashing" from my perspective. This is clearly something that should make the application inoperative and there's no way to recover from that.

In practice, it'd only kill the servant request thread and fail with a 500, which is, acceptable.

We don't need to be really fancy here but:

[code]

This is already a clear enough message for example.

[2019-11-21 09:56] piotr-iohk commented on #1049
I had the issue happening this morning on my Daedalus instance on incentivized testnet (restarting Daedalus wasn't helping.)

Using the master version `2019.11.18 (git revision: c2700b15a147ab8ec744d812ef483b9614597005)` after the #1054 fix resolved the issue, so I can confirm it is working in real life scenario. :tada:

[2019-11-21 09:56] #1049 closed, assigned to KtorZ

[2019-11-21 10:02] piotr-iohk commented on #713
Yes I think so, I was just keeping it here while doing some exploratory testing on different testnets (which discovered few issues)...

[2019-11-21 10:02] #713 closed, assigned to Anviking, KtorZ, paweljakubas

[2019-11-21 12:44] Anviking commented on #713
It might be worth attempting to generalise the performance calculation (to e.g. support exponential moving averages) and at the same time extending the tests.

[2019-11-21 13:28] piotr-iohk commented on #1041
lgtm.

[2019-11-21 13:28] #1041 closed, assigned to KtorZ

[2019-11-21 13:57] piotr-iohk commented on #913
lgtm.

[2019-11-21 13:57] #913 closed, assigned to KtorZ

[2019-11-21 14:12] piotr-iohk commented on #903
lgtm.

[2019-11-21 14:12] #903 closed, assigned to jonathanknowles

[2019-11-21 14:27] KtorZ commented on #713
To cover what business requirement exactly :thinking: ?

I think we already had 50 days for that :) ... Any more work on this would go in a new story, in a new ticket.

[2019-11-22 10:22] KtorZ commented on #931
I believe this one can be closed in favor of another item "re-enable code coverage calculations in CI".

@piotr-iohk , thoughts?

[2019-11-22 10:25] KtorZ commented on #703
I am using the "default" one from aptitude on Ubuntu 18.04, so it's probably not the most recent version as usual ^^" ...
I'll try getting it installed through nix and see.

[2019-11-22 14:15] piotr-iohk commented on #931
Sounds good.

Something to plan for recovery week I suppose?

[2019-11-22 14:15] #931 closed, assigned to nobody

[2019-11-22 14:17] KtorZ commented on #931
Possibly, although I'd just create a JIRA story for that one. This is important enough for us to spend a proper time on this.

[2019-11-22 14:22] KtorZ commented on #931
Done: https://jira.iohk.io/projects/WB/issues/WB-30?

[2019-11-22 14:22] KtorZ commented on #754
@piotr-iohk closing in favor of https://jira.iohk.io/projects/WB/issues/WB-30

[2019-11-22 14:22] #754 closed, assigned to nobody

[2019-11-22 14:50] piotr-iohk commented on #931
Although it is not a product feature, I understand it goes to Jira so we can book relevant amount of time for this, and also let product now about how important it is... :man_shrugging:

[2019-11-25 04:29] rvl opened #1063 "Define API Types for stake pool metadata"
# Context

Part of [WB-25 Collect stake pool metadata](https://jira.iohk.io/projects/WB/issues/WB-25).

The API client must be able to view metadata (when available) of the available stake pools.

# Decision

1. Modify `swagger.yaml` to include metadata within the `GET /stake-pools` (list) endpoint.

Metadata looks like this. (Note lack of pool ID)
[code]

Add this `metadata` as a nullable attribu

[2019-11-25 04:32] rvl opened #1064 "getStakePoolMetadata - fetches data from registry"
# Context

Part of [WB-25 Collect stake pool metadata](https://jira.iohk.io/projects/WB/issues/WB-25).

Given that metadata for registered stake pools are available in https://github.com/cardano-foundation/incentivized-testnet-stakepool-registry
And are stored in a "registry" folder as JSON objects matching the JSON meta-schema given in annex below
When I fetch all available metadata using a zip a

[2019-11-25 04:36] rvl opened #1065 "listStakePools - Include metadata in API responses"
# Context

Part of [WB-25 Collect stake pool metadata](https://jira.iohk.io/projects/WB/issues/WB-25).

Extend the response of `listStakePools` with a `metadata` matching those from the registry (minus the `id`).
For known stake pools which aren't present in the registry the metadata entry should be `Nothing` / `null`.

# Decision

Add a function to look up metadata by `PooId`. This will first nee

[2019-11-25 09:11] jonathanknowles commented on #899
@KtorZ

Our current definition of `Block` in the wallet layer includes a set of delegations from `ChimericAccount` to `PoolId`:

[code]

The definition of `applyBlock` has access to a `Wallet s`, which implies an `IsOurs s` constraint, which in turns gives us the `isOurs` function:

[code]

Of course, the above function gives us a way to recognize values of `Address` that are ours.

**Question: ho

[2019-11-25 09:34] KtorZ commented on #898
*Putting this back to `In progress` because:

- We're missing the PRs links into to PR section
- The `QA` section is empty.

[2019-11-25 09:35] KtorZ commented on #899
Definitely **NO** :sweat_smile:

We're going to need another function for that. Though, that function really is `==` :)
There's (by common agreement) a single chimeric account attached to a particular wallet. That chimeric account is known in advance so it's really a matter of finding it (or not) inside the list of certificates published in the current block or batch of blocks.

Additional reading

[2019-11-25 12:49] piotr-iohk opened #1067 "Benchmark is failing"
# Context

# Test Case

DB Benchmark -> https://buildkite.com/input-output-hk/cardano-wallet-nightly/builds/289

# Failure / Counter-example

[code]

---

# Resolution

- Fix the generation of arbitrary `Hash` which now must be 32 bytes in length ==> #1111
- Revised a bit bench scenarios and how db transaction are executed ==> #1124

---

# QA

- Latest nightly on top of #1124 https://buildkite.co

[2019-11-26 09:39] piotr-iohk commented on #892
lgtm

[2019-11-26 09:39] #892 closed, assigned to paweljakubas

[2019-11-26 09:39] piotr-iohk commented on #902
lgtm

[2019-11-26 09:39] #902 closed, assigned to jonathanknowles

[2019-11-26 10:01] jonathanknowles commented on #1063
@rvl Just a minor thing: I'm guessing that the convention in the swagger specification is that properties are named in `camelCase` style, so perhaps:

`pledge_address` -> `pledgeAddress`

[2019-11-26 10:12] KtorZ commented on #1063
@jonathanknowles actually no, we use `snake_case` for fields. Though, I just noticed that most path parameters are in `camelCase` (though it doesn't really have any impact here..). Consistency would be best and `snake_case` is definitely the one to pick :)

(why: a) because that's what already used by the API, changing to camel would be a breaking change, b) snake_case was a conscious choice in th

[2019-11-26 10:18] jonathanknowles commented on #1063
Ah sorry, you're right. My apologies for the noise. (I was looking at the wrong thing.)

[2019-11-26 11:25] KtorZ commented on #1063
(I agree though it's confusing that we use camelCase for path parameters :/ )

[2019-11-26 12:22] piotr-iohk commented on #1063
lgtm -> additional test #1070.

[2019-11-26 13:07] piotr-iohk commented on #1025
ok.

[2019-11-26 13:07] #1025 closed, assigned to jonathanknowles, KtorZ

[2019-11-26 13:30] KtorZ commented on #1063
@piotr-iohk I saw your message on Slack (about enforcing stricter validation on the data received) but answering here to keep some traceability.

a) I'd suggest not to _yet_ at least. There are some last minute problems raised regarding the registry and the format of some data may change in the upcoming days. This shouldn't prevent the progress of this story though because the overall idea would s

[2019-11-26 13:45] piotr-iohk commented on #1063
Closing.

[2019-11-26 13:45] #1063 closed, assigned to rvl

[2019-11-27 07:57] jonathanknowles commented on #899
@KtorZ wrote:

The `applyBlock` function is currently responsible for scanning a block and finding things that are relevant to the current wallet:

[code]

Given that `applyBlock` only has a `Block` and `Wallet s` available to it, we'd need to update the wallet abstraction so that it's possible to check whether a given `ChimericAccount` is owned by a wallet.

Questions:

**1. Do you have any prefe

[2019-11-27 11:12] piotr-iohk commented on #893
lgtm.

[2019-11-27 11:12] #893 closed, assigned to Anviking, rvl

[2019-11-27 12:28] piotr-iohk opened #1071 "Wallet not deleted properly (corrupted seq.*.sqlite file -> StatementAlreadyFinalized "BEGIN" in the log)"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | `cardano-wallet-jormungandr.exe version => 2019.11.18` |
| Platform     | Windows         |
| Installation |  (Daedalus: https://buildkite.com/input-output-hk/daedalus/builds/9145)         |

Issue encountered (only once now)

[2019-11-27 13:02] Anviking commented on #904
I don't see why this would be completely blocked by #899 so I'm starting it.

[2019-11-27 19:51] paweljakubas opened #1074 "Implement quitStakePool endpoint"
# Context

When it comes to certificate delegation we want a way to join (already done) and to quit already joined stake pool.

# Decision
We implement `quitStakePool` endpoint.

# Acceptance Criteria

1. `quitStakePool` sends request to Jormungandr to quit delegation. We can observe it later in the coming block, when accommodated, as (ChimericAccount, Nothing.). Nothing comes from capturing of Dl

[2019-11-28 06:09] rvl opened #1076 "Required adjustments for stake pool metadata"
# Context

Part of [WB-25 Collect stake pool metadata](https://jira.iohk.io/projects/WB/issues/WB-25).

There have been changes to the stake pool registry so that metadata are associated with stake pool owners rather than stake pool IDs.

Additionally, more metadata fields need to be added.

The relevant issue is input-output-hk/testnet-stake-pool-registry-validator#2

# Decision

* Stake pool met

[2019-11-28 07:46] KtorZ commented on #1076
@rvl

Note that, the `X` in `XPub` stands for `eXtended`, which refers to a public key + a chain code (typically 64 bits in total).

Here, metadata will be identified by 32-bit public keys.

[2019-11-28 07:49] rvl commented on #1076
OK corrected. This is starting to look like it should be split into more issues.

[2019-11-28 07:57] KtorZ commented on #1074
@paweljakubas

minus `ChimericAccount`. This isn't stored in the database (or at least, not in the DelegationCertificate table).

[2019-11-28 07:58] KtorZ commented on #1076
@rvl You may be right. The JSON updates are quite straightforward I think. The indirection however requires additional logic to map owners to  pool correctly and also, to extract the owner from the blocks which we currently don't do. So I'd say at least 3 issues yes.

[2019-11-29 04:51] jonathanknowles opened #1086 "Create `epochCeiling` function."
# Context

In order to support the ability for users to query the API about the _next epoch_, we need a function capable of calculating the next epoch _number_ from _any given time_.

# Decision

Create a new function within `Cardano.Wallet.Primitive.Types` with a definition similar to:
[code]

# Acceptance Criteria

1. There _must_ be a `epochCeiling` function in `Wallet.Primitive.Types`.
2. The

[2019-11-29 05:34] jonathanknowles opened #1087 "Create `ApiEpochInfo` type."
# Context

In order to support the ability for users to query the API about the _next epoch_, we need to provide an API type that contains this information.

# Decision

Create a new type in `Cardano.Wallet.Api.Types` with a definition similar to:
[code]

# Acceptance Criteria

- [x] There _must_ be an `ApiEpochInfo` type with fields that encode an epoch's _number_ and _start time_.
- [x] There _m

[2019-11-29 05:46] jonathanknowles opened #1088 "Add `nextEpoch` field to `ApiNetworkInformation`"
# Context

In order to support the ability for users to query the API about the _next epoch_, we need to extend the existing `getNetworkInformation` endpoint so that it provides this information.

# Decision

Add a `nextEpoch` field to the existing `ApiNetworkInformation` type, so that the definition becomes:

[code]
The associated swagger definition should also be updated so that the definition b

[2019-11-29 05:56] rvl opened #1089 "Implement Jörmungandr binary decoder for stake pool registrations"
# Context

We need to decode pool registrations in order to track the mapping from `PoolId` to `PoolOwner`.

# Decision

In relation to [format.abnf](https://github.com/input-output-hk/chain-libs/blob/master/chain-impl-mockchain/doc/format.abnf), implement decoders for fragments:

- 5 `POOL-REGISTRATION`
- ~6 `POOL-RETIREMENT`~

And add them to the Jormungandr block `Fragment` type.

Note that 7 `

[2019-11-29 05:58] rvl opened #1090 "Track stake pool registrations in `applyBlock`"
# Context

In order to provide stake pool metadata, the wallet must track the mapping from `PoolId` to `PoolOwner`.

# Decision

Add new fields to `Cardano.Pool.Metrics.Block`.

[code]

Modify `Cardano.Pool.Metrics.toSPBlock` to get stake pool registration certificates from the `Jormungandr.Binary.Block` type.

# Acceptance Criteria

1. Stake pool registrations must be in the `Block` (stake pool)

[2019-11-29 06:00] rvl opened #1091 "Add a database mapping for registered stake pool owners"
# Context

In order to provide stake pool metadata, the wallet must track the mapping from `PoolId` to `PoolOwner`.

# Decision

In `Cardano.Pool.DB` add the following database table:

[code]

This is a many-to-many relation by the way.

Add DBLayer functions:

[code]

Note that reading stake pool owners for a list of stake pools will not be very efficient, but let's ignore that until will start c

[2019-11-29 06:04] rvl opened #1092 "Update stake pool registrations in the restore loop"
# Context

In order to provide stake pool metadata, the wallet must track the mapping from `PoolId` to `PoolOwner`.

# Decision

Combine the results of #1090 and #1091.

When processing filtered blocks in the stake pool restore loop, update the `pool_owner` table.

# Acceptance Criteria

1. The `pool_owner` table must reflect the stake pool registrations and retirements received in the jormungandr

[2019-11-29 08:30] piotr-iohk commented on #1071
The problem seems to be also experienced by some Daedalus users.

[2019-11-29 08:33] paweljakubas commented on #1086
Task goals/development plan looking good and clear. Nevertheless, I would give here `2` mainly due to `nextEpochAfter` testing

[2019-11-29 08:33] paweljakubas commented on #1087
Task goals/development plan looking good and clear

[2019-11-29 08:36] paweljakubas commented on #1088
Task goals/development plan looking good and clear. Nevertheless, I would give here `2` estimate due to integration test to be added

[2019-11-29 08:52] Anviking opened #1094 "Add `Wallet.estimateJoinStakePoolFee`"
# Context

We currently have [`selectCoinsForPayment`](https://github.com/input-output-hk/cardano-wallet/blob/870914d3e684191bf5953f6445b0f1dbf32601d2/lib/core/src/Cardano/Wallet.hs#L738-L771), [`estimatePaymentFee`](https://github.com/input-output-hk/cardano-wallet/blob/870914d3e684191bf5953f6445b0f1dbf32601d2/lib/core/src/Cardano/Wallet.hs#L829-L851) and [`selectCoinsForDelegation`](https://gith

[2019-11-29 09:01] Anviking opened #1096 "Add API endpoint for delegation fee estimation"
# Context

Users of the API would like to know the cost of joining a stake-pool before pulling the trigger.

In this task we implement the API, leveraging the work of #1094.

# Decision

Add the following endpoint:
[code]

# Acceptance Criteria

- The endpoint _must_ be implemented
- JSON roundtrip tests for any added Api-types _should_ exist
- The endpoint _should_ be tested with integration test

[2019-11-29 09:24] paweljakubas opened #1097 "Add Jormungadr client measuring latencies of GET queries within integration test framework"
# Context

We want to have a way to query in regular fashion our API (GET endpoints) that informs us of latencies

# Decision

We add dedicated Jormungandr integration test suite (we want to reuse what is already done) that calls GET endpoints and measures the latencies for a given intial state of Jormungandr based wallet.

# Acceptance Criteria

1. We can invoke a client that talks with existing

[2019-11-29 09:43] paweljakubas opened #1098 "Define a number of interesting state points of wallet to measure"
# Context

What we are after are an interesting wallet states (not only empty) to measure and see how latencies scale with wallet state increase.

# Decision
We will decide a number of states in which we measure latencies.

# Acceptance Criteria
1. Define a number of o states and show results of latency measurement in the context of wallet state increase

---

# Development

- [x] I plan to add be

[2019-11-29 09:50] paweljakubas opened #1099 "Enable latency report in nightly build"
# Context
We want to have a way to run the latency measurement but also to have report from the run identifying the codebase snapshot and showing results.

# Decision
We want to have a way to run measurement any time but also have it stored for example every release/ every nightly build.

# Acceptance Criteria
1. The latency test can be run any time by `stack bench cardano-wallet-jormungandr`
2. T

[2019-11-29 10:45] jonathanknowles commented on #1096
We might want to add integration tests to check that:
- The _eventual_ fee paid for joining a stake pool is similar or identical to the _estimated_ delegation fee (similar to `BYRON_MIGRATE_03`).
- The estimated delegation fee for a non-empty wallet is `> 0` (similar to `BYRON_CALCULATE_01`).
- Attempting to calculate a delegation fee for an empty wallet produces an appropriate error (similar to `

[2019-11-29 10:48] jonathanknowles commented on #1094
@Anviking, are you able to expand a little more on the following point:

 I suspect this is something that could go in the `Development` section (instead of being an acceptance criterion per se). What do you think?

[2019-11-29 11:03] jonathanknowles commented on #1096
@KtorZ I've added a question regarding the original requirement here: https://jira.iohk.io/browse/WB-32?focusedCommentId=11089&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-11089

(The question is aimed at clarifying whether or not this endpoint should really be an HTTP GET operation, or whether the endpoint really does require a user-supplied payload, in which ca

[2019-11-29 11:25] jonathanknowles commented on #1094
**Regarding the precision of our fee estimation:**

When we added support for migration from Byron wallets (to Jörmungandr wallets), we were able to offer a **_precise_** fee calculation endpoint (`getByronWalletMigrationInfo`). Furthermore, we actually _test_ that the predicted value is precisely the same as the eventual value in our integration tests. (See `BYRON_MIGRATE_03`.)

The reason we can

[2019-11-29 11:48] jonathanknowles commented on #1094
**Regarding the calculation of the fee:**

If I'm not mistaken, the fee for a normal transaction seems to be calculated with a composition of the following functions:

1. `estimateSize :: CoinSelection -> Quantity "byte" Int`
2. `computeFee :: FeePolicy -> Quantity "byte" Int -> Fee`

However, there is also a `computeCertFee` function in `Wallet.Primitive.Fee` that we might need to take into accou

[2019-11-29 12:23] KtorZ commented on #1094
This statement is actually false :upside_down_face: UTxO are selected randomly to cover for fee. That selection may vary from a request to another. Therefore, even for an unchanged UTxO, several calls might result in different selections and different fees.

The case for the Byron migration is very special because, there are no randomness going on: we try to migrate everything.

[2019-12-02 08:30] KtorZ opened #1102 "Random shuffle seeded by wallet id"
# Context

We want the ability to shuffle elements randomly but, consistently for the same wallet. Considering two functions functions `shuffle` and `seed`

[code]

with the following properties

[code]

# Decision

- Provide an implementation for the `seed` function above
- Provide an implementation for the `shuffle` function above

# Acceptance Criteria

1. Both functions _must_ satisfy the abov

[2019-12-02 08:43] KtorZ opened #1103 "Allow special handling of the first epoch in stake pool metrics"
# Context

During the first epoch, stake pool performances are somewhat not very meaningful: one stake pool may seem to out-perform others simply because it was elected during the first slots of the epoch and therefore, already had a chance to produce blocks.

# Decision

We need to adjust how the list of stake pools is returned to users and make sure that pools are arbitrarily ordered during the

[2019-12-02 10:40] piotr-iohk commented on #1074
lgtm.

[2019-12-02 10:40] #1074 closed, assigned to paweljakubas

[2019-12-02 10:42] piotr-iohk commented on #896
lgtm. There are quite a lot of tests on integration level.
**Note:** Join/Quit stake pool has is not available via CLI, so this needs to be addressed later on.

[2019-12-02 10:42] #896 closed, assigned to paweljakubas

[2019-12-02 11:04] piotr-iohk commented on #1087
lgtm!

[2019-12-02 11:04] #1087 closed, assigned to jonathanknowles

[2019-12-02 15:44] piotr-iohk commented on #1064
lgtm.

[2019-12-02 15:44] #1064 closed, assigned to rvl

[2019-12-03 03:54] Sotatek-CongNguyen opened #1107 "Create new Address"
# Context

I couldn't find API to create a new address. I found a concerned API is "get list addresses". I could pass a param that is "used" or "unused". But I don't know the amount of address I can get is limited or unlimited and addresses returned are different from past addresses returned. I want to change the state of address I got into "used".

# Decision

I want to execute one basic task: cr

[2019-12-03 04:45] rvl commented on #1107
Hi @Sotatek-CongNguyen

There number of addresses is unlimited, however [list addresses](https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/listAddresses) will only display the next 20 unused addresses.

This number is the "address pool gap", a parameter supplied when [creating/restoring a wallet](https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/postWallet).

[2019-12-03 06:58] Sotatek-CongNguyen commented on #1107
Tks @rvl,
But I think that it's more convenient if we have an API creating the address really new!

[2019-12-03 07:42] KtorZ commented on #1107
@Sotatek-CongNguyen unfortunately, things are not that simple. Cardano wallets implement a variation of [BIP-0044](https://github.com/bitcoin/bips/blob/master/bip-0044.mediawiki) where the number of consecutive unused addresses has to be monitored closely. This is to allow wallets to be restored within a rather acceptable bound and, to be shared across various softwares (e.g. Daedalus <-> Yoroi).

[2019-12-03 07:42] #1107 closed, assigned to nobody

[2019-12-04 10:30] piotr-iohk opened #1115 "Faililing tests integration tests on Windows"
# Context

#703

# Test Case

Following 21 tests are failing (after the path issue fix -> #1109):
[code]
Also `jormungandr.exe` "stays" there and keeps logging to console after the tests are finished...

# Failure / Counter-example

---

# Resolution

 - #1125 - Fixes `TRANS_EXTERNAL_CREATE_01` and `CLI_VERSION`

---

# QA

[2019-12-04 10:39] rvl commented on #1115
Thanks

- The PermissionDenied errors should be easily fixed (windows file locking).
- The assertion for CLI_VERSION could be adjusted to only consider the version part.
- Maybe TRANS_EXTERNAL_CREATE_01 is a flaky test that also fails on Linux?
- The 4 other failures need more investigation.

It would be nice to find out which (failing) tests leave behind the `jormungandr.exe` process - it's proba

[2019-12-04 11:01] piotr-iohk commented on #1102
lgtm

[2019-12-04 11:01] #1102 closed, assigned to Anviking, KtorZ

[2019-12-04 16:57] KtorZ opened #1119 "Credentials and address for reward account"
# Context

As a stake pool operator,
I want an easy way to retrieve my assigned reward account credentials,
And its associated testnet address,
So that I can move funds to it using the wallet backend
And I can know what private key I should use for signing stake pool registration in jcli.

# Decision

Given that I have a valid 15-word mnemonic sentence,
When I call `cardano-wallet mnemonic reward-

[2019-12-04 17:03] piotr-iohk commented on #1115
**Edit: updated Failing/Passing after #1125**
Executing one by one I found that quite a few were passing, and none of those 21 did not leave hanging Jormungandr:

Failing :x: :
[code]

Passing :heavy_check_mark: :
[code]
Perhaps those that are now passing were failing due to this unexpected Jormungandr hanging in bg...

[2019-12-04 17:34] KtorZ commented on #1115
That is very plausible @piotr-iohk :thinking:

[2019-12-05 06:08] rvl commented on #1091
For the time being we are not concerned about handling stake pool retirement certificates, nor rollback. The mapping may contain stale entries, but the entries which aren't stale will still be correct. [WB-40](https://jira.iohk.io/projects/WB/issues/WB-40)

[2019-12-05 12:09] piotr-iohk commented on #1086
lgtm!

[2019-12-05 12:09] #1086 closed, assigned to jonathanknowles

[2019-12-05 12:19] piotr-iohk commented on #1076
OK, It was not quite clear to me what is the status of this one because there are quite a few issues linked in the **Development** section, which are still opened.

If I understand correctly that this particular issue corresponds to pr -> https://github.com/input-output-hk/cardano-wallet/pull/1078 (in terms of work done), and the rest is still in progress.

[2019-12-05 12:25] piotr-iohk commented on #1091
This will require db migration, correct?

[2019-12-05 12:30] piotr-iohk commented on #1065
Kind reminder (and ask) to add the way to point to custom registry via ENV variable to aid checking behavior on testnets... :pray: :)

[2019-12-05 12:32] piotr-iohk commented on #1076
lgtm.

Just a few comments/questions but on related issues:
 - https://github.com/input-output-hk/cardano-wallet/issues/1091#issuecomment-562107518
 - https://github.com/input-output-hk/cardano-wallet/issues/1065#issuecomment-562109207

[2019-12-05 12:32] #1076 closed, assigned to rvl

[2019-12-05 14:03] KtorZ commented on #1091
Probably _not_ because it's a new table. So it'll be part of the initial migration `CREATE TABLE IF NOT EXISTS` that are ran automatically by persistent.

_I think_

[2019-12-06 04:07] jonathanknowles commented on #899
@KtorZ are you able to clarify the following:

In particular, are you able to give a concrete set of reproduction steps for this issue? Thanks!

[2019-12-06 04:40] jonathanknowles commented on #898
@KtorZ in your opinion, are additional tests required over and above the tests already provided by #899? (PR #1050).

We could of course provide additional unit or property tests for the `convertBlock` function.

[2019-12-06 07:38] KtorZ commented on #898
I don't think so no. With all the integration tests for this one and the binary unit tests, it seems to me that it's already well tested. 1

[2019-12-06 07:38] KtorZ commented on #899
Ah! I forgot about this one, good I added a reminder ^.^ ... I'll explain in a PR, would be easier.

[2019-12-06 08:04] rvl commented on #1115
I had a closer look at the `removeDirectoryRecursive` errors.

[code]

Actually it's not simply a matter of ignoring the exception, as I previously thought.

By the time `removeDirectoryRecursive` is called, the launch code should have ensured that `jormungandr.exe` has exited. But this is not the case.

[2019-12-06 08:46] jonathanknowles commented on #898
@KtorZ wrote:

Okay in that case, I'll adjust the QA section to refer to the tests produced as part of fixing issue #899.

Thanks for confirming!

[2019-12-06 09:01] jonathanknowles opened #1133 "Create `ApiSelectCoinsData` data type."
# Context

In order to support users that wish to use a hardware wallet, we would like to expose our coin selection functionality as a new API function `selectCoins`. This function will take a list of payments as its input, and produce a coin selection as its output.

# Decision

Provide the following API datatype, values of which will be used as input to `selectCoins`:

[code]

The above type sho

[2019-12-06 09:01] jonathanknowles opened #1134 "Create `ApiCoinSelection` data type."
# Context

In order to support users that wish to use a hardware wallet, we would like to expose our coin selection functionality as a new API function `selectCoins`. This function will take a list of payments as its input, and produce a coin selection as its output.

# Decision

Provide the following API datatypes: (Values of `ApiCoinSelection` will be provided as output from `selectCoins`.)

[co

[2019-12-06 09:01] jonathanknowles opened #1135 "Create skeleton `selectCoins` endpoint."
# Context

In order to support users that wish to use a hardware wallet, we would like to expose our coin selection functionality as a new API function `selectCoins`. This function will take a list of payments as its input, and produce a coin selection as its output.

# Decision

Create a skeleton endpoint that matches the following specification:
[code]

The server implementation of this endpoint

[2019-12-06 09:01] jonathanknowles opened #1136 "Provide implementation of `selectCoins` API function."
# Context

In order to support users that wish to use a hardware wallet, we would like to expose our coin selection functionality as a new API function `selectCoins`. This function will take a list of payments as its input, and produce a coin selection as its output.

# Decision

Provide a complete server implementation of the skeleton endpoint created in #1135.

Ensure that the following error co

[2019-12-06 09:47] piotr-iohk commented on #1119
Looks good.

I think this is not needed though:
[code]
but I guess that's because it's part of reused code. Is it possible to remove it easily?

Probably we could add some negative tests too. (I can add those)

[2019-12-06 09:53] #1067 closed, assigned to KtorZ

[2019-12-06 10:19] jonathanknowles commented on #899
Great! I've moved this to the QA state.

[2019-12-06 10:20] KtorZ commented on #1119
Well, it is though. The second factor affects the seed generation. If a wallet has a second factor then it is needed to recover its root private key. And we allow settings those from the API and the command line, so it is indeed necessary.

:heart:

[2019-12-06 12:07] angerman opened #1138 "Why fix the compiler *and* the LTS in the stack.yaml?"
as lts's are compiler dependent, and hence bring in a compiler and with it all its boot/base packages, why specify the compiler as well as the lts?

[2019-12-06 12:09] piotr-iohk commented on #898
lgtm.

[2019-12-06 12:09] #898 closed, assigned to jonathanknowles

[2019-12-06 12:09] piotr-iohk commented on #899
lgtm.

[2019-12-06 12:09] #899 closed, assigned to jonathanknowles

[2019-12-06 12:18] piotr-iohk commented on #1119
Then we have some inconsistency with our API, cause with the API we allow 1st mnemonics to be  [15 .. 24] words and here we can only provide 15. if we want to have consistent with the API then we should change that. If we aim for consistency with what Daedalus exposes (that was my initial impression) then we should remove the second step.

[2019-12-06 12:21] piotr-iohk commented on #1089
lgtm.

[2019-12-06 12:21] #1089 closed, assigned to rvl

[2019-12-06 12:54] KtorZ commented on #1138
I don't have the answer on this one. Perhaps @rvl does. I always thought it was needed by the nix pipeline at some point...

[2019-12-06 18:05] piotr-iohk commented on #1119
more tests -> #1142

[2019-12-07 07:50] rvl commented on #1138
I didn't add it here, but the reason it was needed is due to a limitation of nix-tools. `stack-to-nix` doesn't output the LTS compiler version, unless it's explicitly defined in `stack.yaml`. And you need this if you are setting Haskell.nix module options which depend on the compiler version.

[2019-12-09 09:17] KtorZ opened #1144 "Transactions with minimal amount leave too many fee"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | 07c0ff4eb  |
| Platform     | All           |
| Installation | N/A             |

# Steps to Reproduce

1. Have a wallet with exactly the right amount to pay for delegation fee (i.e. enough to pay for a certificate, constant f

[2019-12-09 12:12] piotr-iohk opened #1146 "Zero balance reported on the wallet despite receiving funds from faucet"
# Context

Issue encountered by @alan-mcnicholas on his wallet connected to **nightly** testnet (in Daedalus)
Wallet had some funds from the faucet. After some time (after launching Daedalus again some time later) it was showing zero balance, despite there is transaction in the history.

The same wallet restored on different wallet backend shows balance correctly.

# Steps to Reproduce

No steps t

[2019-12-09 15:50] #1119 closed, assigned to KtorZ

[2019-12-09 16:06] KtorZ opened #1150 "Fee estimation for payments doesn't take fee balancing after selection into account"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | b13ddbc95  |
| Platform     | All           |
| Installation | N/A             |

When estimate fee for a standard payment, we stop the estimation after the coin selection. However, adjusting for fees may have an influence on

[2019-12-09 16:13] piotr-iohk commented on #904
lgtm.

[2019-12-09 16:13] #904 closed, assigned to Anviking

[2019-12-09 16:16] piotr-iohk commented on #1103
lgtm.

[2019-12-09 16:16] #1103 closed, assigned to Anviking, KtorZ

[2019-12-09 16:58] piotr-iohk commented on #1096
Few more tests would be handy on negative cases side of things. Also there is no assertion check for the `200` http status code for most basic fee request.

[2019-12-09 16:59] #1094 closed, assigned to Anviking

[2019-12-09 18:38] piotr-iohk commented on #1097
Looks good.

Although not mentioned in the original AC (cause it was not there yet I suppose), maybe also `delegation fee ep` could be added. It seems that it might be also heavily used, hence kind of critical.

[2019-12-09 18:38] #1097 closed, assigned to paweljakubas

[2019-12-09 19:33] piotr-iohk commented on #1096
Fee estimation also does not show correct amount -> https://github.com/input-output-hk/cardano-wallet/issues/1150 (the amount does not correspond with genesis.yaml parameters -> some more info also here https://input-output-rnd.slack.com/archives/GBT05825V/p1575876039070100)

[2019-12-10 07:59] craigem opened #1153 "Misleading Mnemonic Sentence Error message"
# Context

When running `cardano-wallet-jormungandr` from the CLI, if you submit a valid English word that is not in the the list of valid words, your are greeted with this misleading message:

[code]

This also happens at the second factor:

[code]

This example goes on for many valid English words.

A more accurate error would instead advise that the the selected words are not on the approved wo

[2019-12-10 09:18] KtorZ commented on #1153
Indeed! It might not be obvious that a mnemonic sentence is an encoding made of a composition of words coming from a known pre-established list and isn't simply free-form.

We could even point to some documentation like https://github.com/bitcoin/bips/blob/master/bip-0039/english.txt

cc @piotr-iohk

[2019-12-10 11:20] KtorZ commented on #1133
@jonathanknowles I'd suggest to remove the `PRs` section (especially when it contains PRs copy/pasted from another ticket :sweat_smile:) and stick with the current template:

PRs are tracked in the `Development` section as follows:

This makes it quite clear for the reader what are the outstanding points. But no hard feelings on this.

[2019-12-10 14:47] Anviking commented on #1096
@piotr-iohk what kind of negative tests would you like to see? There are already [three](https://github.com/input-output-hk/cardano-wallet/blob/c2ee747de248cfba8ec0345a7a2c96450063ef71/lib/jormungandr/test/integration/Test/Integration/Jormungandr/Scenario/API/StakePools.hs#L558-L585)

[2019-12-10 15:29] Anviking opened #1158 "Apparent performance could be wrong for brief times (because of multiple sources of truth)"
# Context

The `Pool.Metrics` chain-follower ensures a source of stake distributions and pool productions that are consistent with each other (always on the same fork).

The performance calculation is:
Apparent Performance = (n / N) * (S / s)
where
- n is the number of blocks produced by the pool in the last epoch
- N is the number of slots in the epoch
- s is the stake owned by the pool in the la

[2019-12-11 09:27] Anviking opened #1160 "Make old Haskell node network prototype compile again"
# Context

I want to identify gaps and outstanding effort required to integrate the wallet backend with the haskell nodes,
So that I can anticipate risks and start planning the integration.

[WB-26](https://jira.iohk.io/projects/WB/issues/WB-26?filter=allopenissues)

A while back, Matthias wrote a [prototype for integrating](https://github.com/input-output-hk/cardano-wallet/blob/cbd921f5cb8348baaf

[2019-12-11 09:38] Anviking opened #1161 "Inventory Jörmungandr on-chain types & Haskell equivalents"
# Context

I want to identify gaps and outstanding effort required to integrate the wallet backend with the haskell nodes,
So that I can anticipate risks and start planning the integration.

[WB-26](https://jira.iohk.io/projects/WB/issues/WB-26?filter=allopenissues)

# Decision

Make an inventory of all the types we retrieve from Jormungandr and look for Haskell equivalents.

# Acceptance Criteria

[2019-12-11 10:12] KtorZ commented on #1160
@Anviking note also that this prototype was doing a "conversion" from stateful to stateless which should not be necessary anymore.

[2019-12-11 12:21] piotr-iohk commented on #1088
Additional test -> #1162.
I was also wondering -> https://github.com/input-output-hk/cardano-wallet/pull/1162#discussion_r356563598

Also played around manually on testnet and calculated nextEpoch datetime is correct from observations.

[2019-12-11 13:02] piotr-iohk commented on #1144
I see that delegation fee is still shown incorrectly. Looking at our own integration tests fees config:
[code]
so, if I understand correctly, the fee for delegation fee should be 42 + 14 = 56. (if paid from one utxo)

Delegation fee endpoint shows = 58
Delegating to stake pool takes fee = 58

[2019-12-11 13:06] piotr-iohk commented on #703
Does it mean that tests are running on wine in CI?

[2019-12-11 13:13] KtorZ commented on #703
Whoops. My bad, I messed up when setting up the GH board

[2019-12-11 13:17] piotr-iohk commented on #1144
The same goes for transactions.
Tx fee (for single utxo tx) is calculated = 17 (instead of 16).

That is for both, making tx and tx fee.

[2019-12-11 13:27] piotr-iohk commented on #1144
So... tests do not catch that, Perhaps it would be better to have fee in the integration tests being part of hardcoded TestData rather than calculated by feeEstimator?

Refering to this -> https://github.com/input-output-hk/cardano-wallet/pull/1145/commits/3eee4a23f77ca8e99600c62717b5f8c122b5119d

[2019-12-11 13:27] KtorZ commented on #1144
@piotr-iohk you're forgetting the `coefficient` part. `1` means that each input or output cost `1`. So, in the case of a standard delegation that requires only one UTxO, it'll typically cost `58` because it requires one input (the UTxO) and one change output!

Only if your input is **exactly** of the right amount (i.e. 57 coins) will you be able to pay `57`, because no change output is needed. `56

[2019-12-11 13:28] KtorZ commented on #1144
We have integration tests testing for these edge-cases (sorry, I see the QA section on this ticket is empty :| ... ), let me find that back for you.

[2019-12-11 13:33] KtorZ commented on #1144
So,

1. https://github.com/input-output-hk/cardano-wallet/blob/master/lib/jormungandr/test/integration/Test/Integration/Jormungandr/Scenario/API/StakePools.hs#L345-L356

We are creating a wallet with a single UTxO that is exactly `57` coins (constant fee + certificate fee + coefficient fee for a single input). This is enough to create a delegation certificate. Perhaps it would be good to add an ex

[2019-12-11 13:48] piotr-iohk commented on #1144
OK, so is this correct then?
[code]

[2019-12-11 13:50] piotr-iohk commented on #1144
I'd be in favor of this idea. :)

[2019-12-11 13:51] KtorZ commented on #1144
Yes!

[2019-12-11 13:52] KtorZ commented on #1144
@piotr-iohk see also: https://github.com/input-output-hk/cardano-wallet/blob/master/lib/jormungandr/test/integration/Main.hs#L170-L193

[2019-12-11 13:58] piotr-iohk commented on #1144
lgtm :+1:

[2019-12-11 13:58] #1144 closed, assigned to KtorZ

[2019-12-12 05:35] rvl opened #1164 "Add caching of stake pool metadata registry"
# Context

Part of [WB-42](https://jira.iohk.io/browse/WB-42).

The listStakePools endpoint will be polled frequently by clients like Daedalus. It will fetch stake pool metadata from the registry every time. The metadata registry data won't change very often.

Add caching of the stake pool metadata with a TTL of say 1 hour.

# Decision

The best solution would be to load the registry metadata into

[2019-12-12 08:27] piotr-iohk commented on #1098
lgtm.

[2019-12-12 08:27] #1098 closed, assigned to paweljakubas

[2019-12-12 09:42] kristieguo opened #1167 "Encountered some issues during Cardano wallet onboarding"
Hi there.

This is the team of Jadepool Custody, a leading cryptocurrency custody product based in Shanghai. This is our website: https://www.jadepool.io/. So far we have supported 26 blockchains. Right now we are in the process of supporting Cardano.

Our developer has encountered some issues and is having some questions during onboarding. I was wondering if you can provide some technical help th

[2019-12-12 10:07] KtorZ commented on #1167
Hi @kristieguo. For lack of a better place at the moment, I'd suggest to have this discussion here, provided that your questions are about the wallet (if they are not, I will happily redirect you to the relevant projects in the Cardano eco-system :))

[2019-12-12 10:55] kristieguo commented on #1167
@KtorZ Hi, here is the list of questions we have. If they are not relevant to this project, please redirect me. Thank you.

1.1. Where to find the project of Cardano node? And RPC API?
1.2. Are there multiple testnet for Cardano? Which to choose? How to configure for node?

2.1. How to use API to get details of certain block by block index or block hash?
2.2. How to use API get balance of an addre

[2019-12-12 11:14] KtorZ commented on #1167
**1.1. Where to find the project of Cardano node? And RPC API?**

- The component for the Shelley MainNet can be found on https://github.com/input-output-hk/cardano-node/
  Note however that the node API is a in-house solution which at the moment, requires using a Haskell client / node. Likely, you'd be looking to deal with services built on top of the node like `cardano-wallet` or `cardano-explor

[2019-12-12 14:40] piotr-iohk commented on #1091
lgtm

[2019-12-12 14:40] #1091 closed, assigned to rvl

[2019-12-12 15:20] piotr-iohk commented on #1096
They are good indeed!
Just added 2 more to test against 405 and 406 -> #1170.

[2019-12-12 15:33] piotr-iohk commented on #1092
lgtm

[2019-12-12 15:33] #1092 closed, assigned to rvl

[2019-12-13 02:32] kristieguo commented on #1167
@KtorZ Hi thank you for your response. We still have some following questions regarding your answers.

1. your answer: "The component for the Shelley MainNet can be found on https://github.com/input-output-hk/cardano-node/
Note however that the node API is a in-house solution which at the moment, requires using a Haskell client / node. Likely, you'd be looking to deal with services built on top of

[2019-12-13 08:09] piotr-iohk commented on #1096
ok.

[2019-12-13 08:09] #1096 closed, assigned to Anviking

[2019-12-13 15:22] piotr-iohk commented on #1088
lgtm

[2019-12-13 15:22] #1088 closed, assigned to jonathanknowles

[2019-12-13 15:23] piotr-iohk commented on #1065
lgtm.

Also checked on nightly testnet with custom registry -> https://github.com/piotr-iohk/incentivized-testnet-stakepool-registry

[2019-12-13 15:23] #1065 closed, assigned to rvl

[2019-12-13 15:30] piotr-iohk commented on #1164
TC that fails:
 - list pools with metadata -> OK
 - remove the `/tmp/stake-pools-xxx` directory
 - list stake pools again -> Metadata is not fetched, in the log there is:
[code]

[2019-12-13 15:48] piotr-iohk commented on #1164
Putting back to _in progress_ for now until :point_up_2:  addressed (also such case can be added). Otherwise looks good.

[2019-12-13 15:48] KtorZ commented on #1164
I've actually already added it. Now looking into it :thinking:

[2019-12-13 15:53] KtorZ commented on #1164
Seems to work fine for me at the unit level at least @piotr-iohk

[code]

[2019-12-13 15:56] KtorZ commented on #1164
Doing it manually however from the command-line doesn't work indeed:

[code]

[2019-12-13 21:26] plessmann commented on #923
For debian 10 (buster) you'll need a symlink like this as workaround:

ln -s /usr/lib/x86_64-linux-gnu/libcrypto.so.1.1 /usr/lib/libcrypto.so.1.0.0

[2019-12-13 23:52] #1138 closed, assigned to rvl

[2019-12-13 23:57] KtorZ opened #1177 "Possible missing db migration between balance-check version and latest one"
# Context

| Information  | -                                                     |
| ---          | ---                                                   |
| Version      | 2019.12.13 (git revision: 11f269891d54b870b8768455292d2345e95b6810)  |
| Platform     | All           |
| Installation | Source             |

# Steps to Reproduce

1. Start a wallet server using v2019-11-18, create a wallet,

[2019-12-14 15:39] gufmar opened #1180 "Partial missing pool metadata"
---
name: Bug report
about: Create a bug report

---

# Context

By querying cardano-wallet-jormungandr endpoint v2/stake-pools (current master head) all on-chain registered pools are visible.

Most of them show up also with metadata from CF stakepool registry. But not all.

For example these pool-ID miss the metadata.

[code]

| Information  | -

[2019-12-14 16:02] KtorZ commented on #1180
@gufmar May I ask you to follow the [template for filling bugs](https://github.com/input-output-hk/cardano-wallet/blob/master/.github/ISSUE_TEMPLATE/bug_report.md) please :pray:
In particular, what versions are you using?

Also, note that the metadata are cached locally and only renewed every hour.

[2019-12-14 16:23] gufmar commented on #1180
@KtorZ ok updated the issue based on bug template

metadata for pool ID 366988...  was the first PR and merge. So it's not caching.

[2019-12-14 16:29] KtorZ commented on #1180
Okay, this is an expected behavior on `f3576be15`. This release heavily relies on [get stake distribution](https://input-output-hk.github.io/jormungandr/jcli/rest.html#get-stake-distribution) from Jörmungandr REST API which only show pools that are _active_ (i.e. that have registered the epoch before the previous epoch).

So, the missing pools should show up as expected 2 epochs after their regist

[2019-12-14 16:37] gufmar commented on #1180
That seems not possible to me. In current epoch 0 (and 1) only IOHK pools have an active stake.

But v2/stake-pools endpoint currently return 68 stakepool datasets.
https://gist.github.com/gufmar/cdbbe68918ec38a2cd462a7e5594870e

All IOHK pools also don't contain metadata. I guess because they are not registered (yet) in CF stakepool registry? So this is expected behaviour.

But "partial missing p