[2018-10-23 08:32] boothead commented on #1
This is really more of a milestone so I've closed this issue and updated the https://github.com/input-output-hk/cardano-sl-wallet/milestone/1 to be more descriptive

[2018-10-23 12:50] boothead opened #9 "Integrate the Wallet to Use the Node's API"
# Context

<What is the issue that we are seeing that is motivating this decision or
change. Give any elements that help understanding where this issue comes from.
Leave no room for suggestions or implicit deduction.>

In order to avoid breaking the API versioning contract, we are required to support the Node API in the V1 of cardano-wallet. The V2 of the wallet API will not need to support it.

#

[2018-10-23 12:52] boothead opened #10 "Comprehend and integrate with (part of) the Node-To-Node protocol to submit transactions"
2-5 man day

[2018-10-23 12:53] boothead opened #13 "Implement the interface by using the current Node-To-Node protocol"
15 manday

[2018-10-23 14:00] boothead opened #15 "Comprehend (part of) the Node-To-Node protocol to receive blocks"
# Context

<What is the issue that we are seeing that is motivating this decision or
change. Give any elements that help understanding where this issue comes from.
Leave no room for suggestions or implicit deduction.>

We want the Wallet to be able to receive blocks as they get validated by the underlying node.
The Wallet is interested in the blocks for several reasons:

- It maintains its own UTx

[2018-10-23 14:01] boothead opened #17 "Provide an Implementation Using The Node-to-Node Protocol"
# Context

<What is the issue that we are seeing that is motivating this decision or
change. Give any elements that help understanding where this issue comes from.
Leave no room for suggestions or implicit deduction.>

FIXME: To be completed with outcome from #15 & #16

# Decision

<Give details about the architectural decision and what it is doing. Be
extensive: use schemas and references when po

[2018-10-23 14:02] boothead opened #18 "Replace Current BListener and NodeStateAdaptor Usage And Query Information From The Network"
# Context

<What is the issue that we are seeing that is motivating this decision or
change. Give any elements that help understanding where this issue comes from.
Leave no room for suggestions or implicit deduction.>

FIXME: To be completed with outcome from #15 & #16

# Decision

<Give details about the architectural decision and what it is doing. Be
extensive: use schemas and references when po

[2018-10-23 14:03] boothead opened #19 "Sync-up on the Node <-> Consumer protocol, and possibly revisit the Wallet inner interface"

[2018-10-25 18:39] parsonsmatt commented on #7
I don't have any objection to the current design of the node management/info/settings API. I suggest that the API remain the same for the initial port.

Therefore, the definition is already complete, and only needs to be separated out.

Where should the new API definition go? Will the node also use `servant` etc to make porting easier, or is a different web library desirable?

[2018-10-25 20:05] KtorZ commented on #7
I don't think moving away from servant is a good idea. We already know how to use it and it works fine. Besides, it gives us a few things for free (easy API testing, swagger specs, HTTP client etc..)

For the package, it'd make sense to create a new package inside cardano-sl. I don't think this should import anything from the wallet so we'll have to "redefine" a few things. Though the node API is

[2018-10-31 11:00] KtorZ opened #24 "Testing Framework Foundation"
# Context

<What is the issue that we are seeing that is motivating this decision or
change. Give any elements that help understanding where this issue comes from.
Leave no room for suggestions or implicit deduction.>

We need to prepare testing of external wallets. It's not unrealistic to have it separated from the rest.
Let's not go to fancy here, but a few property tests with some basic BDD.

#

[2018-10-31 11:01] KtorZ opened #25 "Public Key Storage"
# Context

<What is the issue that we are seeing that is motivating this decision or
change. Give any elements that help understanding where this issue comes from.
Leave no room for suggestions or implicit deduction.>

Discuss whether to store account public keys in acid-state or in a dedicated keystore. Evaluate pro and cons and go for the best.

# Decision

<Give details about the architectural

[2018-10-31 11:02] KtorZ opened #26 "Manual Testing With Yoroi"
# Context

<What is the issue that we are seeing that is motivating this decision or
change. Give any elements that help understanding where this issue comes from.
Leave no room for suggestions or implicit deduction.>

Since Yoroi already implements the (ed25519)BIP-44 derivation scheme, they are a bunch of testing we can get from free by using it.

# Decision

<Give details about the architectura

[2018-10-31 16:43] KtorZ opened #27 "Review & Adapt Existing API"
# Context

<What is the issue that we are seeing that is motivating this decision or
change. Give any elements that help understanding where this issue comes from.
Leave no room for suggestions or implicit deduction.>

The current API for creating unsigned transactions works with F.O.R wallets only. This is slightly useless for exchanges as the whole point of doing off-wallet signing is to avoid c

[2018-10-31 16:43] KtorZ opened #28 "Review & Extend Existing API & Handlers"
# Context

<What is the issue that we are seeing that is motivating this decision or
change. Give any elements that help understanding where this issue comes from.
Leave no room for suggestions or implicit deduction.>

Part of the work done for defining external wallets was done without clear requirements on the underlying derivation scheme. Now that we have a brighter idea of what we need, we can

[2018-11-05 18:53] KtorZ commented on #7
Done in #3788

[2018-11-05 18:55] KtorZ commented on #8
Work started in https://github.com/input-output-hk/cardano-sl/pull/3788

[2018-11-05 18:56] KtorZ opened #30 "Start HTTP Server & Implement API on The Node's End"
# Context

<What is the issue that we are seeing that is motivating this decision or
change. Give any elements that help understanding where this issue comes from.
Leave no room for suggestions or implicit deduction.>

See #7

# Decision

<Give details about the architectural decision and what it is doing. Be
extensive: use schemas and references when possible. Do not hesitate to use
schemas and r

[2018-11-07 16:47] KtorZ opened #31 "BIP-44 Utils Part I: Module Skeleton & Public Derivations"
# Context

<What is the issue that we are seeing that is motivating this decision or
change. Give any elements that help understanding where this issue comes from.
Leave no room for suggestions or implicit deduction.>

BIP-0044 Multi-Account Hierarchy for Deterministic Wallets is a Bitcoin standards defining a structure and algorithm to build a hieararchy tree of keys from a single root private ke

[2018-11-07 16:48] KtorZ opened #32 "API Endpoint For Addresses à la BIP-44"
# Description

Obviously, this includes corresponding integration tests.

# Acceptance Criteria

- [ ] C.5 The API `must` support creation of new addresses for E.O.S. Wallets

# PR

| Number    | Base      |
| ---       | ---       |
| [][PR-1] | `develop` |

[PR-1]: https://github.com/input-output-hk/cardano-wallet/pull/

[2018-11-07 16:52] KtorZ opened #33 "Address Pool Module"
# Context

<What is the issue that we are seeing that is motivating this decision or
change. Give any elements that help understanding where this issue comes from.
Leave no room for suggestions or implicit deduction.>

Here, we are looking for a module which can keep track of address pools and answer the question:

[code]

This can be achieve in various way but a few pointers:

- We can have an op

[2018-11-07 16:56] KtorZ opened #34 "Review Prefiltering"
# Description

With #33, we should have the necessary tools to perform account discovery while applying blocks. Answering the question `isOurs` happens during pre-filtering where we skim through incoming blocks, looking for inputs that are related to our wallet(s).

Using the address pool module, we should be able to abstract away the account discovery to use the relevant method depending on wheth

[2018-11-07 16:59] KtorZ opened #35 "Manual Testing With Yoroi"
# Context

<What is the issue that we are seeing that is motivating this decision or
change. Give any elements that help understanding where this issue comes from.
Leave no room for suggestions or implicit deduction.>

Now that we can process blocks of transactions with addresses using the sequential derivation scheme à la BIP-44, we can try creating transactions through Yoroi and see whether they

[2018-11-07 17:03] KtorZ opened #36 "Finalize CRUD operations for E.O.S Wallets"
# Context

<What is the issue that we are seeing that is motivating this decision or
change. Give any elements that help understanding where this issue comes from.
Leave no room for suggestions or implicit deduction.>

Until here, we didn't need the remaining classic CRUD operations on E.O.S. wallets.

# Decision

<Give details about the architectural decision and what it is doing. Be
extensive: u

[2018-11-07 17:13] KtorZ opened #37 "Finalize CRUD operations for accounts of E.O.S. Wallets"
# Context

<What is the issue that we are seeing that is motivating this decision or
change. Give any elements that help understanding where this issue comes from.
Leave no room for suggestions or implicit deduction.>

This is a bit special for E.O. wallets because, it's not really about "creating" a new account. We just can't because we need the root private key for that (hardened child derivatio

[2018-11-07 17:17] Anviking opened #38 "Make unit tests run faster"
# Description
WIP Description

# Acceptance Criteria

- [x] `wallet-unit-tests` should take less than 15 minutes on CI (Travis presumably)

Takes 13 minutes [here](https://travis-ci.org/input-output-hk/cardano-wallet/jobs/453964484) including building the tests.

# PR

| Number    | Base      |
| ---       | ---       |
| [#49][PR-1] | `develop` |

[PR-1]: https://github.com/input-output-hk/cardan

[2018-11-07 17:20] Anviking commented on #38
Moving out spending passwords generation seemed to help *a little*.
https://github.com/input-output-hk/cardano-sl/blob/develop/wallet-new/test/unit/Test/Spec/Fixture.hs#L41
2.2 s with 0% spending passwords
3.2 with 80% spending password, 20% without
3.0 - 3.6 with 100% spending passwords

[2018-11-07 17:21] KtorZ opened #40 "Manual Testing With Yoroi"
# Description

In brief:

- Create a wallet on Yoroi
- Play with it, make transactions, create accounts etc.
- Restore some and/or all accounts using their public keys on cardano-wallet.
- Make a :coffee: :croissant:  and verify that corresponding accounts got successfully restored (with their historical data).
- Be excited :rainbow:

# Acceptance Criteria

- [ ] F.3 E.O.S. Wallets created from Yo

[2018-11-07 17:23] KtorZ opened #41 "BIP-44 Utils Part II: Hardened Derivations"
# Context

<What is the issue that we are seeing that is motivating this decision or
change. Give any elements that help understanding where this issue comes from.
Leave no room for suggestions or implicit deduction.>

This is finalizing the work started in #31 but including private key derivations and operations this time.

# Decision

<Give details about the architectural decision and what it is

[2018-11-07 17:30] KtorZ opened #42 "Extend API and F.O. Wallets Definition to Support Derivation Scheme à la BIP-44"
# Description

Now it's time to have "complexify" our classic fully owned wallets to support either scheme (random or sequential).
We will also extend our BIP39 support to enable passphrase on mnemonic words. This isn't and shouldn't be possible for random wallet for backward-compatibility reasons. However, wallet using the new scheme should have this feature.

Also, it's probably a good idea to p

[2018-11-07 17:32] KtorZ opened #43 "Extend Testing to Support Both Derivation Schemes"
# Context

<What is the issue that we are seeing that is motivating this decision or
change. Give any elements that help understanding where this issue comes from.
Leave no room for suggestions or implicit deduction.>

Our current unit tests are only testing F.O.R. accounts and we might need a bit of fiddling in the arbitrary generators to also test our new derivation scheme.

# Decision

<Give de

[2018-11-07 17:32] Anviking commented on #38
Next step: only generate a few wallets & addresses and reuse them for all tests.

[2018-11-07 17:33] KtorZ opened #44 "Review Addresses & Accounts Creation"
# Context

<What is the issue that we are seeing that is motivating this decision or
change. Give any elements that help understanding where this issue comes from.
Leave no room for suggestions or implicit deduction.>

- Address indexes are now created in sequence from the last known address

- Users should be warned if they try to create more addresses than the address gap.
  We may also simply f

[2018-11-07 17:35] KtorZ commented on #38
@Anviking

Think about making multiple PRs introducing your changes incrementally. No need to go for the final solution right away :)

[2018-11-07 17:36] KtorZ opened #45 "Review Transaction Signing"
# Description

Matter of picking the right derivation function for the underlying wallet / addresses.

# Acceptance Criteria

- [ ] G.10 Transaction signing _must_ be done according to the underlying wallet's scheme.
- [ ] G.11Testing _should_ be extended to control that nodes can validate (or not) transactions made using both schemes

# PR

| Number    | Base      |
| ---       | ---       |
| []

[2018-11-07 17:37] KtorZ opened #46 "Review Block Pre-filtering for F.O. Wallets"
# Context

<What is the issue that we are seeing that is motivating this decision or
change. Give any elements that help understanding where this issue comes from.
Leave no room for suggestions or implicit deduction.>

We've initially focused on externally owned wallets and separated the definition and treatment of E.O wallets from F.O. wallets. Now that F.O. wallets also support the new derivatio

[2018-11-07 17:40] KtorZ opened #47 "Review F.O. Wallets Restoration"
# Description

# Acceptance Criteria

- [ ] I.1 The API _must_ support restoration of F.O. Wallets using mnemonic with any compatible number of words within a fixed range and a passphrase.
- [ ] I.2 The API _must_ still support restoration of F.O. Wallets using 12-word mnemonic without passphrase.
- [ ] I.3 Restoration of F.O.S. Wallets _should_ be comparable (within an order of magnitude) in time

[2018-11-08 16:46] Anviking commented on #38
[anviking/38/faster-tests-2](https://github.com/input-output-hk/cardano-sl/compare/anviking/38/faster-tests-2?expand=1) 🤔 I think this calls out: is there really anything we want to QuickCheck?

On develop the only things we're  generating randomly are:
- [`Maybe V1.SpendingPassword`](https://github.com/input-output-hk/cardano-sl/blob/develop/wallet-new/test/unit/Test/Spec/Addresses.hs#L102) (expe

[2018-11-09 10:19] Anviking opened #48 "Setup Weeder on CI"
# Description
[weeder: Detect dead code](http://hackage.haskell.org/package/weeder)

# Acceptance Criteria

- [ ] Weeder runs on the codebase, on CI.

# PR

| Number    | Base      |
| ---       | ---       |
| [][PR-1] | `develop` |

[PR-1]: https://github.com/input-output-hk/cardano-wallet/pull/

[2018-11-09 10:52] Anviking commented on #38
Next step: `withMaxSuccess 5` everywhere, and if it works, create a new separate issue for improving tests and removing QuickCheck where it's not needed.

[2018-11-09 14:59] Anviking commented on #38
To note: removing `parallel` didn't seem to do anything in particular.
[`parallel` removed](https://travis-ci.org/KtorZ/cardano-wallet/builds/452847395)
[`parallel` still there](https://travis-ci.org/KtorZ/cardano-wallet/builds/452832247)

[2018-11-12 11:17] paweljakubas commented on #11
https://github.com/input-output-hk/cardano-wallet/wiki/Submitting-Transaction-Before

[2018-11-13 13:00] KtorZ commented on #6
Note: the explorer doesn't point to the wallet.

[2018-11-13 18:02] KtorZ commented on #48
Duplicated with #1

[2018-11-13 18:02] #48 closed

[2018-11-13 18:04] KtorZ commented on #38
Duplicated by #1

[2018-11-13 18:04] #38 closed

[2018-11-13 18:30] KtorZ commented on #22
Will re-open this later, once we are ready to approach / discuss again this problem.
For now, it just clutters things.

[2018-11-13 18:36] KtorZ commented on #21
Will re-open this later, once we are ready to approach / discuss again this problem.
For now, it just clutters things.

[2018-11-13 18:36] KtorZ commented on #20
Will re-open this later, once we are ready to approach / discuss again this problem.
For now, it just clutters things.

[2018-11-13 18:36] KtorZ commented on #19
Will re-open this later, once we are ready to approach / discuss again this problem.
For now, it just clutters things.

[2018-11-13 18:36] #19 closed

[2018-11-14 01:45] Viking0x opened #58 "Spanish Translation"
# Context

No spanish translation available

# Decision

I want to translate to spanish the Cardano wallet

# Acceptance Criteria

We are millions of people at world that speak spanish

# PR

| Number    | Base      |
| ---       | ---       |
| [][PR-1] | `develop` |

[PR-1]: https://github.com/input-output-hk/cardano-wallet/pull/

---

# Consequences

<To be completed in retrospective. What beco

[2018-11-14 07:35] KtorZ commented on #58
Hi @Viking0x, this is not the right place to consider translation. This is a wallet **backend** and it doesn't make sense for an API to be translated in many languages.

[2018-11-14 07:35] #58 closed

[2018-11-14 09:02] KtorZ opened #59 "Move or Remove Coupling Between cluster and cardano-wallet"
# Context

<What is the issue that we are seeing that is motivating this decision or
change. Give any elements that help understanding where this issue comes from.
Leave no room for suggestions or implicit deduction.>

Cluster has a dependency on the wallet's servant client. It will need to be fixed to point at the code's new location. At the moment, `cluster` (and a couple of other packages) live

[2018-11-14 23:37] paweljakubas commented on #10
Detailed description how transaction is shared among peers using diffusion layer conversational protocol is added : https://github.com/input-output-hk/cardano-wallet/wiki/Submitting-Transaction-Before

[2018-11-15 07:42] boothead commented on #10
That's a really great spec @paweljakubas!

[2018-11-19 08:22] KtorZ opened #65 "Decouple wallet dependency from cluster"
# Context

<What is the issue that we are seeing that is motivating this decision or
change. Give any elements that help understanding where this issue comes from.
Leave no room for suggestions or implicit deduction.>

Historically, we created the `cluster` package inside the `cardano-sl` repository to have an easy way to run cluster of nodes. However, at this time (and still today), edge nodes an

[2018-11-19 08:29] KtorZ commented on #14
Already done through the submission layer.

[2018-11-19 08:30] KtorZ commented on #25
No need to get fancy here; we will go for acid-state initially and maybe, re-assess later.

[2018-11-19 08:30] #25 closed

[2018-11-21 19:12] denisshevchenko opened #71 "Remove all custom Show instances"
I mean the code like this:

[code]

We have such instances for different types.

[2018-11-22 08:35] KtorZ opened #72 "Erroneous Documentation Description(s)"
# Context

<A clear and concise description of what the bug is.>

I just noticed that the description of the `GET /api/v1/addresses/{address}` endpoint was erroneous.

![image](https://user-images.githubusercontent.com/5680256/48890227-8b73c700-ee38-11e8-94ed-0ad4fc2399d2.png)

There are probably some other places that might need some revision for we've been a bit overlooking the maintenance of th

[2018-11-22 09:43] KtorZ opened #74 "Unwrapped response for internal endpoint 'next-update'"
# Context

<A clear and concise description of what the bug is.>

| |  |
| --- | --- |
| Commit Hash / Release Tag | input-output-hk/cardano-sl/release-2.0.0 |
| Operating System | (Windows, OSX, Linux) |

The API returns responses that are [jsend](https://labs.omniti.com/labs/jsend)-compliant for all endpoints; e.g.:

[code]

# Steps to Reproduce

<Steps to reproduce the behavior>

Actually hard

[2018-11-22 09:44] denisshevchenko opened #75 "TODOs for Review & Extend Existing API & Handlers #28"
# Context

<What is the issue that we are seeing that is motivating this decision or
change. Give any elements that help understanding where this issue comes from.
Leave no room for suggestions or implicit deduction.>

# Decision

<Give details about the architectural decision and what it is doing. Be
extensive: use schemas and references when possible. Do not hesitate to use
schemas and reference

[2018-11-22 09:46] KtorZ commented on #28
TODOs

1. - [ ] `oneof []` from arbitrary instance of `CreateEosWalletError` _must_ be removed.
2. - [ ] `EosRootId` _must_ be generated using a smart constructor.
3. - [ ] Tailored type for `addressPoolGap` _must_ be defined.
4. - [ ] Unused types and constructors (related to `PublicKeyAsBase58` mostly) _must_ be removed.

[2018-11-22 09:46] #75 closed

[2018-11-22 12:18] #72 closed

[2018-11-22 12:20] #74 closed

[2018-11-22 12:31] KtorZ opened #80 "Have stylish-haskell as part of the CI checks"
# Context

<What is the issue that we are seeing that is motivating this decision or
change. Give any elements that help understanding where this issue comes from.
Leave no room for suggestions or implicit deduction.>

We use [stylish-haskell](https://hackage.haskell.org/package/stylish-haskell) mostly to "prettify" imports and align a few stuff automatically in our editors. However, it can occur

[2018-11-22 12:35] KtorZ opened #81 "Documentation and weeder aren't ran and reported in the CI"
# Context

<A clear and concise description of what the bug is.>

| |  |
| --- | --- |
| Commit Hash / Release Tag | d0b8677fae881eef8a8f13d7648deaceaa851b32 |
| Operating System | (Windows, OSX, Linux) |

We've defined those as jobs in the CI. One should run after each merge on develop, the other nightly on cron jobs. This happens after I moved both jobs below an "allow_failures" section. The syn

[2018-11-22 13:36] paweljakubas opened #84 "Add `getNewBlocks` to diffusion layer and call it from dedicated wallet worker"
# Context

See https://github.com/input-output-hk/cardano-wallet/wiki/ApplyingBlocks-Rollback-After-Refactoring-Byron

# Decision

We want to add diffusion layer mediated way of getting blocks, at this stage in parallel to the existent mechanism in order to compare results

# Acceptance Criteria

1. - [ ] API call, `getNewBlocks`, must be added to diffusion layer. It may take header and return all

[2018-11-22 14:05] paweljakubas opened #86 "`applyBlocks` of BListener is used in tandem with diffusion layer mechanism of getting blocks"
# Context

See https://github.com/input-output-hk/cardano-wallet/wiki/ApplyingBlocks-Rollback-After-Refactoring-Byron

# Decision

We want to the diffusion layer mediated way of getting blocks to be the only way of retrieving blocks and use `applyBlocks` of BListener to accommodate the result of it

# Acceptance Criteria

1. - [ ] `applyBlocks` of BListener should be reused and must be propelled b

[2018-11-22 14:29] paweljakubas opened #87 "Remove protocol parameters from `NodeStateAdaptor`"
# Context

The wallet backend requires to know a few of the underlying blockchain protocol
parameters. Those parameters may change over time through updates, at epoch
boundaries. At the moment, nodes are keeping track of those parameters, and the
wallet reads them using some shared context via the `NodeStateAdaptor`.

# Decision

- Extend the monitoring API of cardano node to expose protocol param

[2018-11-22 14:39] paweljakubas opened #88 "Remove readerT mechanism that uses MonadBListener from the wallet and fetches blocks through the diffusion layer"
# Context

In order to operate and maintain its own UTxO state, the wallet applies blocks successively and extract information from them. This current implementation has been described in:

https://github.com/input-output-hk/cardano-wallet/wiki/ApplyingBlocks-Rollback-After-Decoupling-Byron

Here, we can see how blocks are received through a shared environment mechanism between the wallet and its

[2018-11-22 14:59] #81 closed

[2018-11-22 17:15] #18 closed

[2018-11-22 17:15] #17 closed

[2018-11-23 08:42] #80 closed

[2018-11-23 10:09] KtorZ opened #97 "Prefiltering Ignores `txId` From Inputs When Create Block Metadata"
# Context

<A clear and concise description of what the bug is.>

| |  |
| --- | --- |
| Commit Hash / Release Tag | ... |
| Operating System | (Windows, OSX, Linux) |

Prefiltering seems to totally ignore txIds from Inputs while creating blockMeta. On the other hand it uses TxIns to see which utxos are used. This means that if an account has only inputs in a tx, the tx will apear as Failed. This

[2018-11-23 10:09] #97 closed

[2018-11-23 10:13] KtorZ opened #98 "Multithreading at SQlite is not the Greatest"
# Context

<A clear and concise description of what the bug is.>

| |  |
| --- | --- |
| Commit Hash / Release Tag | ... |
| Operating System | (Windows, OSX, Linux) |

The intermediate libraries we use make things slightly worse. We already suffer from 2 known issues:
- unexpected exceptions because of race conditions (https://github.com/IreneKnapp/direct-sqlite/issues/77). This can make things l

[2018-11-23 10:13] #98 closed

[2018-11-23 11:30] KtorZ opened #103 "We Can Keep Track of E.O.S. Wallets When Applying Blocks"

[2018-11-23 11:33] KtorZ opened #104 "(BIP-44) E. We Can Read, Update, Delete & List E.O.S. Wallets"
See [wiki](https://github.com/input-output-hk/cardano-wallet/wiki/Address-Derivation-a-la-BIP---44#e-we-can-read-update-delete--list-eos-wallets-4-points)

[2018-11-23 11:34] KtorZ opened #105 "(BIP-44) F. We Can Restore E.O.S Wallets"
See [wiki](https://github.com/input-output-hk/cardano-wallet/wiki/Address-Derivation-a-la-BIP---44#f-we-can-restore-eos-wallets-8-points)

[2018-11-23 11:35] KtorZ opened #106 "(BIP-44) G. We Can Create, Read, Update, Delete & List F.O.S Wallets"
See [wiki](https://github.com/input-output-hk/cardano-wallet/wiki/Address-Derivation-a-la-BIP---44#g-we-can-create-read-update-delete--list-fos-wallets-14-points)

[2018-11-23 11:36] KtorZ opened #107 "(BIP-44) H. We Can Keep Track of F.O.S Wallets When Applying Blocks"
# Description

See [wiki](https://github.com/input-output-hk/cardano-wallet/wiki/Address-Derivation-a-la-BIP---44#h-we-can-keep-track-of-fos-wallets-when-applying-blocks-5-points)

# Business Value

As a direct follow-up of supporting classic CRUD operation for F.O.S wallets, we ought to be able to keep track of blocks and their corresponding UTxO. This piggy-backs on the E.O.S implementation and

[2018-11-23 11:37] KtorZ opened #108 "(BIP-44) I. We Can Restore F.O.S Wallets"
See [wiki](https://github.com/input-output-hk/cardano-wallet/wiki/Address-Derivation-a-la-BIP---44#i-we-can-restore-fos-wallets-5-points)

[2018-11-23 11:40] KtorZ opened #109 "(CI) We Can Build, Test & Work on Cardano-Wallet in a Dedicated Repository"
# Description

See [wiki](https://github.com/input-output-hk/cardano-wallet/wiki/Wallet-Decoupling#a-we-can-build-test--work-on-cardano-wallet-in-a-dedicated-repository-14-points)

# Business Value

Having a dedicated repository, we can hope for faster iteration times and more control over our own development. The reduction of noise from `cardano-sl` have many benefits in the decision making as we

[2018-11-23 11:51] KtorZ opened #111 "(Decoupling) C. We Can Consume Blocks From a Node Via The Network Using The Current Protocol"
# Description

See [wiki](https://github.com/input-output-hk/cardano-wallet/wiki/Wallet-Decoupling#c-we-can-submit-transactions-to-a-node-over-the-network-using-the-current-protocol-27-points)

# Business Value

Having the wallet comprehend and speak the node-to-node protocol enables two things (one being a consequence of the other)

- Wallet and Node can be started as separated process, possibly

[2018-11-23 13:47] KtorZ opened #112 "Review Structure and Implementation of Integration Tests"
We have got loads of complaints and troubles with people having difficulty to run or understand integration tests for the wallet backend. This is without mentioning errors / bugs appearing sometimes and being rather unclear. Also, they are at the moment very opaque for QA who can't properly assess the testing situation there.
For these reasons, we will make an attempt at reworking them a bit, tryi

[2018-11-23 14:00] #59 closed

[2018-11-26 10:24] KtorZ opened #115 "Restoration issue in 1.3.2 when addresses are discovered prior to accounts."
# Context

<A clear and concise description of what the bug is.>

| |  |
| --- | --- |
| Commit Hash / Release Tag | input-output-hk/cardano-sl/0d4617b5af4c90226172386a51e440756941efb8 |
| Operating System | (Windows, OSX, Linux) |

The previous incarnation of `addWAddress` (used for adding discovered address during restoration to the wallet state) has a bug: in case of new accounts (like the ones

[2018-11-26 10:58] #28 closed

[2018-11-27 08:13] KtorZ opened #117 "(CI) Review structure and implementation of integration tests"
# Context

<WHEN PROPOSED>
<What is the issue that we are seeing that is motivating this decision or
change. Give any elements that help understanding where this issue comes from.
Leave no room for suggestions or implicit deduction.>

This is roughly a "backport" of CO-256, split across multiple tasks. For a long time now, we have been willing to refactor our current integration tests such that th

[2018-11-29 08:17] KtorZ opened #119 "(CI) Remove use of `V1` wrapper."
# Context

<WHEN PROPOSED>
<What is the issue that we are seeing that is motivating this decision or
change. Give any elements that help understanding where this issue comes from.
Leave no room for suggestions or implicit deduction.>

We historically defined a newtype `V1` to help with maintaining multiple versions of our API types. Truth is that this has now gone out of hand and clutters the code

[2018-11-29 10:04] KtorZ opened #120 "Review structure of wallet source code: API -> WalletLayer -> Kernel -> DB"
# Context

<WHEN PROPOSED>
<What is the issue that we are seeing that is motivating this decision or
change. Give any elements that help understanding where this issue comes from.
Leave no room for suggestions or implicit deduction.>

With the introduction of the new data layer and the "Kernel", we've sketched the foundation for a better code architecture. Roughly, we now have the following archit

[2018-11-29 16:02] KtorZ opened #121 "Hlint in CI doesn't pick up the project's configuration"
# Context

<A clear and concise description of what the bug is.>

| |  |
| --- | --- |
| Commit Hash / Release Tag | release/2.0.0 |
| Operating System | (Windows, OSX, Linux) |

We use `hlint` locally and in CI to give us some hints on code style. Because the default `hlint` configuration is quite harsh and very opinionated, we defined a custom `.hlint.yaml` rules file with more lenient rules.
It

[2018-11-29 16:20] KtorZ commented on #121
The CI is actually rightly configured. I was using an old version of `hlint`.
CI uses snapshot's version, which is `2.1.10`

[2018-11-29 16:20] #121 closed

[2018-11-29 17:31] KtorZ opened #123 "TODO: Force Acid-State checkpoints on clean shutdown"
# Context

<WHEN PROPOSED>
<What is the issue that we are seeing that is motivating this decision or
change. Give any elements that help understanding where this issue comes from.
Leave no room for suggestions or implicit deduction.>

# Decision

<WHEN PROPOSED>
<Give details about the architectural decision and what it is doing. Be
extensive: use schemas and references when possible. Do not hesit

[2018-11-29 17:32] KtorZ opened #124 "TODO: Have a way to generate and verify exitence of golden tests"
# Context

<WHEN PROPOSED>
<What is the issue that we are seeing that is motivating this decision or
change. Give any elements that help understanding where this issue comes from.
Leave no room for suggestions or implicit deduction.>

# Decision

<WHEN PROPOSED>
<Give details about the architectural decision and what it is doing. Be
extensive: use schemas and references when possible. Do not hesit

[2018-11-29 17:39] KtorZ opened #125 "Investigate usage of `show` and `read` & custom corresponding instance declarations"
# Context

<WHEN PROPOSED>
<What is the issue that we are seeing that is motivating this decision or
change. Give any elements that help understanding where this issue comes from.
Leave no room for suggestions or implicit deduction.>

`Show` and `Read` **shouldn't** be manually defined.

# Decision

<WHEN PROPOSED>
<Give details about the architectural decision and what it is doing. Be
extensive:

[2018-12-03 12:45] #86 closed

[2018-12-03 12:45] #84 closed

[2018-12-03 12:45] KtorZ commented on #86
Included in #88

[2018-12-03 12:45] KtorZ commented on #84
Included in #88

[2018-12-03 13:30] Anviking commented on #87
Notes:
## Which protocol parameters?
I believe it was [these](https://github.com/input-output-hk/cardano-sl/blob/ba35fa068dff4c0d75d43fc2df1e1c58d6d56ead/wallet-new/src/Cardano/Wallet/Kernel/NodeStateAdaptor.hs#L236-L245) (?):
[code]

## Where / how are they used
### `getTipSlotId`
- [`Cardano.Wallet.WalletLayer.Kernel.Transactions.getTransactions`](https://github.com/input-output-hk/cardano-sl/bl

[2018-12-05 10:13] KtorZ opened #132 "Cache failures on CI"
# Context

<A clear and concise description of what the bug is.>

| |  |
| --- | --- |
| Commit Hash / Release Tag | 8804bc667691d3de470d5770e51b92ad901834dd |
| Operating System | (Windows, OSX, Linux) |

As we update our `stack.yaml` and `cardano-sl.yaml` to point to newer versions of cardano-sl; we are introducing some "dust" all the time as old packages remain in the cache and new one gets add

[2018-12-06 09:16] #132 closed

[2018-12-06 16:46] #65 closed

[2018-12-06 16:51] #15 closed

[2018-12-06 16:53] KtorZ commented on #24
Duplicated by #117

[2018-12-06 16:53] #24 closed

[2018-12-06 18:31] #33 closed

[2018-12-07 10:25] KtorZ opened #137 "`--wallet-rebuild-db` doesn't actually rebuild the sqlite database."
# Context

<A clear and concise description of what the bug is.>

| |  |
| --- | --- |
| Commit Hash / Release Tag | release/2.0.0 |
| Operating System | (Windows, OSX, Linux) |

We provide an API flag to cleanup the wallet's state upon starting it.

# Steps to Reproduce

<Steps to reproduce the behavior>

1. Launch the wallet
2. Restore a genesis wallet
3. Make a transaction from this genesis wal

[2018-12-07 14:45] #137 closed

[2018-12-07 18:38] KtorZ opened #141 "Metadata store becomes inconsistent after wallet or account is deleted"
# Context

<A clear and concise description of what the bug is.>

| |  |
| --- | --- |
| Commit Hash / Release Tag | release/2.0.0 |
| Operating System | (Windows, OSX, Linux) |

We store some information related to transaction in the metadata store (sqlite). However, when looking up transaction with metadata referring to wallet we don't know about, we fail with a not so friendly error "WalletNotF

[2018-12-07 18:57] akegalj opened #142 "Add wrappers for EncryptedSecretKey in cardano-wallet code"
# Context

Transaction signing is a process defined at https://github.com/input-output-hk/cardano-wallet/wiki/Address-Derivation-a-la-BIP---44#sign-a-transaction . Last step of this process is signing a transaction, which is done by `mkSigner` function: https://github.com/input-output-hk/cardano-wallet/blob/develop/src/Cardano/Wallet/Kernel/Transactions.hs#L602 :

[code]

Current `mkSigner` defini

[2018-12-10 08:48] #31 closed

[2018-12-11 09:54] #141 closed

[2018-12-11 14:48] #117 closed

[2018-12-11 16:26] KtorZ opened #151 "Updates can't actually be queued and postponed indefinitely"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code |

# Context

Here below is describe how updates are currently handled in `cardano-sl` (in
cunjunction with `cardano-wallet` still used as a middle-man for communicating
between `Daedalus` and its underlying node).

At epoch boundaries, node may extract and process co

[2018-12-12 08:16] #30 closed

[2018-12-12 14:02] akegalj commented on #142
An example of new code where this could be useful is https://github.com/input-output-hk/cardano-wallet/pull/133/files#diff-ab6bdce941f09e40581d4a2debad9d7aR21 . Instead of :
[code]
we might have
[code]

[2018-12-12 17:10] akegalj commented on #45
@KtorZ
How old code signs a transaction:

Transaction is sign during transaction creating function. This is defined at https://github.com/input-output-hk/cardano-wallet/blob/develop/src/Cardano/Wallet/Kernel/Transactions.hs#L410 .

Signing happens here https://github.com/input-output-hk/cardano-wallet/wiki/Address-Derivation-a-la-BIP---44#bip-44-utils-part-ii-hardened-derivations-2-points :

[code

[2018-12-13 22:04] Anviking commented on #124
We could also consider generating golden tests and writing them to disk automatically so that API changes are tracked in git. (This would require the modifications to the API being translated very well, and deterministically into changes to the golden tests.)

[2018-12-14 09:49] KtorZ opened #156 "TODO: Review usage of `beam` for SQLite"
# Context

# Decision

# Acceptance Criterias

---

# Development Plan

# PR

| Number   | Base      |
| ---      | ---       |
| #?       | `develop` |

# QA

| Criteria | Coverage |
| ---      | ---      |
| ?        | -        |

---

# Retrospective

[2018-12-14 09:58] KtorZ opened #157 "TODO: Testing coverage for the CLI"
# Context

# Decision

# Acceptance Criterias

---

# Development Plan

# PR

| Number   | Base      |
| ---      | ---       |
| #?       | `develop` |

# QA

| Criteria | Coverage |
| ---      | ---      |
| ?        | -        |

---

# Retrospective

[2018-12-17 15:18] akegalj opened #164 "WIP Rename things"
# Context

This issue serves as a collection of things I (akegalj) would like to rename. Motivation was difference between datatype/function namings in our codebase compared with bip44/bip32 protocols, but I would expect the list will accumulate after some time:
 * rename `SecretKey` into `PrivateKey`
     - why https://input-output-rnd.slack.com/archives/GBT05825V/p1545059562585300

# Decision

#

[2018-12-17 16:50] piotr-iohk opened #166 "`spendingPasswordLastUpdate` not updated correctly upon setting empty spending password (PUT /api/v1/wallets/{walletId}/password)"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux | Code |

# Context

`spendingPasswordLastUpdate` is one of the fields available on `/api/v1/wallets` endpoint (for example for `GET /api/v1/wallets/{walletId}`). The fleld should present datetime of the last spending password update. The problem is that when updating passwor

[2018-12-20 09:24] KtorZ opened #172 "Integration Tests Coverage: Wallets"
# Context

Our current coverage from integration tests is quite low and could be greatly improved. We now have the power to write many test scenarios rather easily and increase the code coverage. The [coverage reports](https://coveralls.io/github/input-output-hk/cardano-wallet) generated by the CI may help to identify cases where coverage is missing.

# Decision

We will identify (visible) wallet

[2018-12-20 09:55] KtorZ opened #173 "Ability to write raw (falsy) requests in integration tests to bypass type-safety"
# Context

The integration tests currently relies on a typed haskell http client when it comes to making request to the underlying cluster. This prevents us from creating malformed requests (which is the whole point of using such typed client) and hence, prevent us from testing a few "wrong" / failing interactions with the API.

# Decision

Integration tests could provide an extra constructor `raw

[2018-12-20 10:50] piotr-iohk opened #174 "Wallet name length constraints for the API"
# Context

Currently there are no constraints on wallet name length. Using wallet API one is able to create/restore/update a wallet with empty name (providing empty string) as well as very long name (probably limited only by a server's POST/PUT request size limit).
The latter may cause serious performance issues or may be even potentially used as a way for DDOS attack. I managed to create a wallet

[2018-12-20 16:52] KtorZ opened #176 "TODO: Limit request's size before they reach our application layer"
# Context

# Decision

# Acceptance Criterias

---

# Development Plan

# PR

| Number   | Base      |
| ---      | ---       |
| #?       | `develop` |

# QA

| Criteria | Coverage |
| ---      | ---      |
| ?        | -        |

---

# Retrospective

[2018-12-20 17:48] #173 closed

[2018-12-21 10:02] #119 closed

[2018-12-31 15:40] KtorZ opened #184 "Have a "Monkey" worker running alongisde integration tests to add noise"
# Context

Integration tests are intended to test "real-life" scenarios where the wallet communicates with a cluster of nodes in a real setup (with a layered topology). However, at the moment, some underlying features of the wallet aren't tested under real circumstances. For instance, prefiltering (which is the mechanism by which the wallet reduces incoming block's size by only keeping transaction

[2018-12-31 20:57] parsonsmatt commented on #151
I believe we can close this issue now, as the node and wallet have udpated behavior.

[2019-01-01 17:39] akegalj opened #187 "WIP Add bip32 property tests to cardano-crypto"
# Context

There was a bug discovered in `cardano-crypto` recently https://github.com/input-output-hk/cardano-crypto/pull/52 which was discovered by `cardano-wallet` property tests. These property tests were intended to test bip44 but as there is not much to test with bip44, instead we decided to write property tests for bip32 which reveled this bug.

It is already possibility that `cardano-crypto

[2019-01-01 17:46] akegalj opened #188 "WIP Check coverage of bip32/bip44"
# Context

With this issue https://github.com/input-output-hk/cardano-wallet/issues/41 we have added property tests for bip32/bip44 . It would be nice to check does coverage of generated arguments match our expectations. This will give us enough confidence that we have nice distribution.

See https://hackage.haskell.org/package/QuickCheck-2.12.6.1/docs/Test-QuickCheck.html#v:cover

# Decision

# A

[2019-01-01 18:03] akegalj opened #189 "WIP Add an isomorphic type to Word31"
# Context

bip32 defines hardened and normal/non-hardened keys https://github.com/bitcoin/bips/blob/master/bip-0032.mediawiki#extended-keys :

We use `Word32` type to capture this concept:
 * https://github.com/input-output-hk/cardano-sl/blob/develop/crypto/Pos/Crypto/HD.hs#L88
 * https://github.com/input-output-hk/cardano-wallet/pull/169/files#diff-ab6bdce941f09e40581d4a2debad9d7aR64

but because

[2019-01-02 18:12] KtorZ opened #190 "Improve instructions (and testing) about multi-output transactions"
# Context

The new coin selection algorithm has some limitations that aren't clearly stated from the documentation (nor in the specification actually). And a few points about multi-outputs transactions are still unresolved.
The coin selection can't split a UTxO across multiple outputs. In order to make a multi-outputs transaction, there should be several available UTxO.

# Decision

When trying to

[2019-01-03 07:37] KtorZ commented on #5
We won't. Decision was made to keep `cardano-sl` frozen and to evolve on new repositories for the new features.

[2019-01-03 09:17] KtorZ opened #191 "Fee sanity check is triggered more than it should"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| 1.4    | Windows & OSX & Linux) | Code  |

# Context

When solving [CSL-2526](https://github.com/input-output-hk/cardano-sl/pull/3815), we introduced an extra sanity check to make the API fails if it was to generate a transaction with _too many fees_ (to prevent us from creating illed transactions because o

[2019-01-03 14:20] piotr-iohk opened #194 "Provide spendingPassword as plain text, change fieldname to passphrase"
# Context

In current scheme when creating/restoring a wallet one needs to provide a hex-encoded `spendingPassword` that should be 64-char long. This does not give any extra security since it can be easily decoded. More convenient from the API user standpoint would be actually to provide password in plain text and do hashing/encoding on wallet backend side.
Also `spendingPassword` is not fortunate

[2019-01-03 15:13] akegalj opened #195 "Add golden tests for bip44 derivations"
# Context

In #41 we have implemented bip44 derivations and added property tests. Nicolas advised to use `cardano-cli` to generate golden tests for bip32/bip44 and add module for bip44ed255915 golden tests:
 * Nicolas advised to use rust's cardano-cli to generate golden tests https://github.com/input-output-hk/cardano-cli, https://cardanorust.iohkdev.io/cli-wallet/
 * use cardano-cli instructions

[2019-01-04 08:45] piotr-iohk commented on #41
Looks good to me :) Closing.

[2019-01-04 08:46] #41 closed

[2019-01-04 09:15] piotr-iohk commented on #151
Hey @parsonsmatt, can you provide info in the QA section? In particular, in the _Resolution Plan_ I see there was a plan to make changes to API endpoints:
`/api/v1/postpone-update`, `/api/v1/apply-update`, `/api/v1/next-update` (btw. shouldn't it be `/api/internal/...` instead of `/api/v1/...`?)
If that's the case then there's an opportunity for adding some integration tests for newly added/modifi

[2019-01-04 18:15] KtorZ opened #200 "(CI) Bug Fixing"
# Description

Parent ticket for bugs found during development.

# Business Value

Well. Less bugs sounds always like a good plan :beetle: .

[2019-01-07 08:41] KtorZ opened #202 "Wrong JSON-Schema / Swagger representation for transaction status."
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code  v Human |

# Context

Our API documentation is available [here](https://input-output-hk.github.io/cardano-wallet/) and is generated from our Servant API types via their `ToSchema` instances.

We don't currently have any process of reviewing this regularly, and theref

[2019-01-07 11:18] Anviking opened #205 "Swagger JSON-Schema validation test doesn't provide failure-reason"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code  |

# Context

We test the validity of our JSON encodings against the swagger schema using a [property test](https://github.com/input-output-hk/cardano-sl/blob/develop/wallet/test/unit/API/SwaggerSpec.hs#L62), ultimately relying on

[`validateJSON :: Definitions Schem

[2019-01-08 10:14] piotr-iohk commented on #166
Hey @denisshevchenko , there is no QA section filled for this ticket...
I would suggest also adding an integration test for the scenario from the bug. Actually it is even mentioned as one of the capabilities in the https://docs.google.com/spreadsheets/d/1ztF2PnnrMnkAxrhdq3LUbP1KazxcxuMrbiObTs1CuTk (WALLETS_UPDATE_PASS_04 - Updating password updates date in 'spendingPasswordLastUpdate'), so if you

[2019-01-08 16:09] denisshevchenko commented on #166
@piotr-iohk It's done: https://github.com/input-output-hk/cardano-wallet/pull/211

[2019-01-08 17:34] KtorZ opened #212 "TODO: initSubmission in Wallet/Kernel don't initialize foreign pending"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code  v Configuration v Environment v Human v Unknown |

# Context

# Steps to Reproduce

1. ...

## Expected behavior

## Actual behavior

<A clear and concise description of what you observe instead. If applicable add screenshots to help explain your problem.>

---

# Re

[2019-01-09 12:19] piotr-iohk opened #213 "Paginated result from the API returns data when not expected when page parameter is close to it's boundary value"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux| Code   |

# Context
The results returned by the API can be paginated in case the API returns a list of items (i.e. wallets, addresses, transactions etc.). One can filter them by `page` and `per_page` parameters. `per_page` is bounded between [1..50] and `page` should be >= 1

[2019-01-09 12:32] piotr-iohk opened #214 "Error message when page parameter is out of bounds"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux | Code  |

# Context

The results returned by the API can be paginated in case the API returns a list of items (i.e. wallets, addresses, transactions etc.). One can filter them by `page` and `per_page` parameters. `per_page` is bounded between [1..50] and `page` should be >=

[2019-01-10 10:07] piotr-iohk commented on #79
@parsonsmatt - I have one question. Is there a reason for limiting the tests generation to 10 examples per test only? Why not default 100 (or maybe more)? :)
i.e. -> https://github.com/input-output-hk/cardano-wallet/pull/185#issuecomment-450697280

[2019-01-11 17:02] parsonsmatt commented on #79
@piotr-iohk It's likely a performance thing. The more test cases, the more time the test takes to run. With 10 examples per test, it takes 2.2876s to run the Swagger schema tests. With 100 examples, it takes 25.881s to run.

It'd probably be wise to have the test case generation for local development smaller and the CI runs (or perhaps just the nightly tests) to be significantly larger.

[2019-01-11 19:34] parsonsmatt commented on #202
The Swagger schemas are tested by QuickCheck via the Swagger-ToJSON tests. I believe the instances are fine -- here's the relevant code:

[code]

The serialization instances and the ToSchema instance agree.

[2019-01-11 23:33] KtorZ commented on #202
Indeed the swagger schema is correct and matches the json serialization. I didn't dig much when I open the ticket but... the `ToJSON` instance for `TransactionStatus` really feels wrong...

[code]
This is rather inconsistent with the rest of the API. I'd definitely expectTransactionStatus` to serialize toJSON `String`. Anyway. This is indeed a non-bug, our JSON representation is just messed up and

[2019-01-11 23:33] #202 closed

[2019-01-14 10:14] piotr-iohk opened #221 "Extend Integration Tests DSL to support ClientHttpError and returned HTTP code"
# Context

This ticket addresses ask for extending DSL:
1. extend API DSL to support assertion for `ClientHttpError`
2. extend API DSL to support assertion for HTTP code returned by the API

Integration tests should not only cover happy path scenarios but also test that API behaves appropriately and returns correct error messages in case it is fed with faulty requests. (e.g. not supported API para

[2019-01-14 10:57] #166 closed

[2019-01-14 10:58] KtorZ commented on #221
Thanks for opening this ticket @piotr-iohk :pray:

[2019-01-14 11:08] piotr-iohk commented on #205
OK! Closing.

[2019-01-14 11:08] #205 closed

[2019-01-14 11:57] piotr-iohk opened #222 "Have more examples per property test when executed on CI"
# Context

This ask is inspired by https://github.com/input-output-hk/cardano-wallet/issues/79#issuecomment-453585904.

Currently we have different numbers of examples for different (categories of?) property tests in the test suite. Exemplary CI run -> https://travis-ci.org/input-output-hk/cardano-wallet/jobs/479336292 shows there are tests with `5`, `10`, `30` or `100` examples. I acknowledge tha

[2019-01-14 20:32] parsonsmatt commented on #151
Hmm -- an integration test seems like it would be difficult to orchestrate,  because it requires that the underlying node processes see an update and respond appropriately.

As far as the *wallet* is concerned, it is delegating to the Node API. The code on `develop` is this:

[code]

So `postponeUpdate` is not removed, but it is turned into a no-op. The other two update endpoints delegate to the N

[2019-01-14 20:33] parsonsmatt commented on #91
Copy from slack:

[2019-01-15 07:56] Anviking opened #224 "Todo/Draft/Idea: Recursive aesonRoundTripProp for failure reason"
# Context

Debugging Aeson roundtrip failures of big types are difficult. One method is to ensure roundtrip properties of sub-types are present. This leads to a big list of roundtrip properties that is likely to be partly incomplete.

It would be nice if `Aeson` roundtrips of product-types could recursively check if the roundtrip holds for each component.

Going even further and removing most exis

[2019-01-15 09:07] piotr-iohk commented on #151
Hey @parsonsmatt. Thanks for the answer!
As for the tests for `restartNode` and `getNextUpdate` - I'm for implementing those tests. My opinion is actually they would be good tests to have. I think it's better to have even simple tests than no tests at all ;) At least it will add some additional code coverage, even if it is not excercising any significant business scenario...

As for the `nextUpdat

[2019-01-15 11:11] KtorZ commented on #91
@parsonsmatt
To give you a bit more context, know that the frontend is already hiding this information (that was the immediate quickfix we agreed on). Though, not ideal because from their side, that's a regression.

There's actually a way to do it from the backend pretty easily. During restoration, we _know_ which slot and epoch we're in. And, until we reach blocks that are less than (k = 2160) cl

[2019-01-15 11:23] KtorZ commented on #151
I agree with @parsonsmatt on the "not so high value" in testing that `getNextUpdate` returns something when the MVar is full and 404 otherwise while providing a mock context to do so. Being able to submit update in our integration test and make sure they're correctly reported would be the way to go yet, this is much more complicated to orchestrate and is pretty much out-of-scope for this ticket (b

[2019-01-16 10:03] piotr-iohk commented on #151
OK. To sum up then:

 - manual procedure for _proper_ test for `nextUpdate` to be done as part of this ticket (here? -> https://github.com/input-output-hk/cardano-wallet/tree/develop/test/manual)
 - create separate ticket for implementing integration test for `nextUpdate` (based on the manual procedure)

 - `restartNode` - make attempt to implement such integration test under this ticket (if it tu

[2019-01-16 10:05] KtorZ commented on #151
@piotr-iohk Yes, although for the third point, I'd go right away for the ticket option. This is going to be non-trivial to instrument in automated tests.

[2019-01-16 10:08] KtorZ commented on #151
We have several options here: only show the internal endpoints documentation when ran under special flags (like a "dev-mode") for Daedalus to run. Some API endpoints used to be only accessible via `--debug` but this wasn't ideal because `--debug` also deactivate TLS :/ ...
And, we do need the endpoints in production mode, we may however remove them from the documentation.

Or, at the very least, a

[2019-01-16 10:09] KtorZ opened #228 "Add disclaimer in API documentation about internal endpoints"
# Context

As a follow-up from the discussion in https://github.com/input-output-hk/cardano-wallet/issues/151#issuecomment-454317532, we will add a proper disclaimer in the documentation about the internal endpoints.

# Decision

These endpoints are part of our API and are documented specifically for Daedalus. However, instead of leaving them stand there without much context, it'll be better to dr

[2019-01-16 16:51] parsonsmatt commented on #91
@KtorZ and I hashed this out in Slack. We agreed on this summary:

So, during restoration, we will assume that a transaction appearing in a block is `Confirmed`.

[2019-01-16 18:36] parsonsmatt commented on #224
This is a good idea! However, it's not guaranteed that a type uses the relevant instances for it's member fields. As a somewhat contrived example,

[code]

While the `ToJSON` instance of `Person` produces a value like `{ "name": name, "age": age }`, the PersonList instance produces a value like `[{"field":"personName", "value": name}, {"field": "personAge", "value": age }]`. If the parser in `Pers

[2019-01-16 22:10] disassembler opened #230 "Migration with no wallet imported from 1.4.1 fails"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code  v Configuration v Environment v Human v Unknown |

# Context

Testing some unrelated changes on develop, I came across this error when trying to switch from 1.4 -> develop.

# Steps to Reproduce

[code]

## Expected behavior

node to start and function.

## Actual be

[2019-01-17 07:48] piotr-iohk commented on #195
LGTM :+1:

[2019-01-17 07:48] #195 closed

[2019-01-17 08:36] piotr-iohk commented on #151
After thinking about it I come to conclusion I'd be for adding proper description for the internal group (explaining that these are only to be used by Daedalus etc.) rather than hiding. I guess that's more in the spirit of _open source_ :) (that's not a strong opinion though, so if you guys think otherwise, I'm ok:) )

In any case, putting the ticket back to _in progress_ for the remaining items -

[2019-01-17 10:17] denisshevchenko opened #231 "Finalize HD hierarchy for EOS-wallets"
# Context

We want to unify `Hd` type hierarchy for EOS-wallets. The main goal is to use existing `Hd***`-types as much as possible. Furthermore, we want to unify `HdRootId` both for FO-wallets and EOS-wallets, with backward-compatibility.

# Decision

# Acceptance Criterias

---

# Development Plan

- [x] Update `HdRootId` type to something more opaque.
- [x] Introduce a new branch in `HdAccount`

[2019-01-17 16:11] akegalj opened #232 "API Endpoints For Accounts à la BIP-44"
# Context

We want users to be able to create E.O.S account, delete E.O.S account and retrieve all E.O.S accounts of specific wallet. Software should prevent a creation of an account if a previous account does not have a transaction history (requirement for account discovery algorithm https://github.com/bitcoin/bips/blob/master/bip-0044.mediawiki#account-discovery)

# Decision

Extend the API to s

[2019-01-18 07:45] akegalj commented on #232
Duplicate of https://github.com/input-output-hk/cardano-wallet/issues/37

[2019-01-18 07:45] #232 closed

[2019-01-18 09:55] KtorZ opened #234 "TODO"
# Context

-- FIXME(adn) Do not allow creation or restoration of wallets if the underlying node
-- is still catching up.

# Decision

# Acceptance Criterias

---

# Development Plan

# PR

| Number   | Base      |
| ---      | ---       |
| #?       | `develop` |

# QA

| Criteria | Coverage |
| ---      | ---      |
| ?        | -        |

---

# Retrospective

[2019-01-18 10:36] KtorZ opened #235 "Remove WIP Paths and expose them in the API"
# Context

We marked #100 as done though, related endpoints for externally owned wallets are still under a WIP path and not quite ready to be used by anyone.
In order to really be able to wrap this up, we do need to expose those endpoints through the API first.

# Decision

We'll expose those WIP paths through "normal" API sections and make them part of the existing public API.

# Acceptance Crite

[2019-01-18 11:12] KtorZ opened #236 "Write integration tests for (and finalize implementation of) creation of E.O.S wallets"
# Context

Ideally, we want to replay most of our existing integration test suite for F.O. wallets against E.O. wallets (where it makes sense). As a first step, we want to at least cover the creation of such wallets and make sure we can correctly send API requests.

# Decision

Cover creation of E.O.S wallets via integration tests.

# Acceptance Criterias

- [x] Creation of E.O.S Wallets _should_

[2019-01-21 08:31] uroboros commented on #103
First PR: https://github.com/input-output-hk/cardano-wallet/pull/238

[2019-01-21 09:47] Anviking opened #240 "TODO: Cache responses from node monitoring API"
# Context

if the epoch has changed. This cache doesn't need to be persisted and be
stored in plain memory and its usage should be transparent for the wallet
backend.

#87

# Decision

# Acceptance Criterias

---

# Development Plan

# PR

| Number   | Base      |
| ---      | ---       |
| #?       | `develop` |

# QA

| Criteria | Coverage |
| ---      | ---      |
| ?        | -        |

---

[2019-01-21 16:50] Anviking opened #241 "TODO: Revisit protocol-parameter types in wallet"
# Context

Spawned by [this](https://github.com/input-output-hk/cardano-wallet/pull/218#discussion_r249373199) thread.

With #87, protocol parameters will no longer be accessed directly from the node, but via its node monitoring API.

Let us imagine each protocol parameter to have three associated types.

1. As used in the node / core
2. As used in the Node Monitoring API / the type of the Servant

[2019-01-22 15:36] Anviking commented on #224
Not guaranteed — but it should still be a very qualified guess I think. Then we'd only need roundtrips for the types *directly* present in the API. Will update 👍

[2019-01-22 15:36] KtorZ opened #244 "No clear failure reported when the documentation fails to generate"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code  v Configuration v Environment v Human v Unknown |

# Context

I just spend 4+ hours trying to identify a bug before figuring out that it was because _something_ we generate part of the API documentation was throwing hard:

[code]

Yet, this leaves no trace in the log

[2019-01-22 16:23] KtorZ commented on #172
I am going to reduce the scope of this one and close it _now_.
I suggest we open new tickets for remaining capabilties (one ticket per group would be ideal) to favor smaller iterations and be able to measure and show progresses more reliably.

[2019-01-23 17:18] akegalj opened #248 "WIP Creating unsigned tx shouldn't require a spending password"
# Context

`createUnsignedTx` from `ActiveWalletLayer` https://github.com/input-output-hk/cardano-wallet/blob/develop/src/Cardano/Wallet/WalletLayer.hs#L529 is using spending password from `V1.Payment` in order to generate a change address. I believe this is unfortunate as change address can be generated without knowledge of the spending password if we store account public keys within our wallet d

[2019-01-24 08:53] piotr-iohk commented on #230
I have a few questions:

 - does this mean that what actually is released as wallet is https://github.com/input-output-hk/cardano-sl/tree/develop/wallet rather than https://github.com/input-output-hk/cardano-wallet. Is that what's going to happen in the future also?
 - are those changes are reverts of particular commits to have this copy of frozen wallet on a certain level, or explicitly removing

[2019-01-24 09:04] KtorZ commented on #230
For 1.5, yes. Future releases will be pulled from `cardano-wallet`.

Well, it does revert commits that shouldn't be on the frozen `cardano-sl/wallet`. It also happens that we've also made some cleanup on `cardano-wallet` which overlap with this. So, some of this stuff was highly "experimental" and we've moved to another design already. The PR above brings `cardano-sl/wallet` back to before we star

[2019-01-24 09:12] piotr-iohk commented on #235
Can you please provide link to API documentation exposing this? I cannot find it here -> https://input-output-hk.github.io/cardano-wallet/ (perhaps not looking in the right place?)

[2019-01-24 09:13] KtorZ opened #251 "Prepare cardano-sl/wallet for the release 1.5"
# Context

We've frozen development on `cardano-sl/wallet` some times ago. However, the branch has been left partly "abandoned" and we've only taken care of applying bug fixes to this. Still, integration tests aren't available on `cardano-sl/wallet` and we haven't quite controlled whether it indeed includes all the patches from 1.4.x.
Also, there are maybe a few things to review from the API docum

[2019-01-24 09:14] KtorZ commented on #230
@piotr-iohk: https://github.com/input-output-hk/cardano-wallet/issues/251

[2019-01-24 09:17] KtorZ commented on #235
You're looking in the right place. Aaaaand... it's not there. The documentation isn't actually uploaded anymore:

https://travis-ci.org/input-output-hk/cardano-wallet/jobs/483553527

We forgot to update the CI configuration when we changed the executable name. I'll open a corresponding bug and fix ASAP.

[2019-01-24 09:22] piotr-iohk commented on #230
OK, so you did run the existing test suite (including integration) against the `cardano-sl\wallet` locally. Is that correct?

[2019-01-24 09:22] KtorZ opened #252 "Documentation isn't build nor uploaded from the CI anymore"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Configuration |

# Context

The CI has a special "documentation" job when things get merged into develop. This builds the documentation and publish it to the right `gh-pages` branch (then hosted here: https://input-output-hk.github.io/cardano-wallet/). However, this job is

[2019-01-24 10:03] piotr-iohk opened #254 "Integration Tests Coverage: [WALLETS_UPDATE_PASS] Update wallet password"
# Context

#172

# Decision

#172

This particular ticket addresses adding integration tests for `[WALLETS_UPDATE_PASS] Update wallet password` capability.

# Acceptance Criterias

1. Create integration test scenarios for wallet capability: `[WALLETS_UPDATE_PASS] Update wallet password` defined in https://docs.google.com/spreadsheets/d/1ztF2PnnrMnkAxrhdq3LUbP1KazxcxuMrbiObTs1CuTk/edit
2. Each inte

[2019-01-24 11:11] KtorZ commented on #235
@piotr-iohk Documentation was uploaded successfully :+1:, link above have been updated.

[2019-01-24 11:32] KtorZ commented on #230
I ran what's available on `cardano-sl` :disappointed: ... So not the integration tests _yet_.

[2019-01-24 11:56] piotr-iohk commented on #230
I would be strongly for running _our_ integration tests on that frozen wallet then if possible :)

There is 100 valid scenarios now, and that's already something. It would be a pity not to use them and then, for instance, find bugs during _regression_ phase that could have been potentially discovered with those tests much earlier...

[2019-01-24 12:00] piotr-iohk commented on #235
LGTM :)

[2019-01-24 12:00] #235 closed

[2019-01-24 12:59] piotr-iohk commented on #230
Ok. missed that! Cool then :)

[2019-01-24 13:00] #230 closed

[2019-01-24 13:01] piotr-iohk commented on #252
LGTM

[2019-01-24 13:01] #252 closed

[2019-01-25 08:32] KtorZ opened #258 "Support batch import of addresses through the API"
# Context

Exchanges typically use our wallet as a giant bucket of addresses, using a single account containing many addresses. Usually, they keep a mapping of 1 address per user, such that, they can advertise a "deposit address" to their users.
This means that, when they create a new random address from the API, and show it to their users, this address should remain available and known until used

[2019-01-25 09:49] akegalj commented on #248
This seems a duplicate of #27

[2019-01-25 09:49] #248 closed

[2019-01-25 13:51] paweljakubas opened #262 "Create two modes of applying blocks : old push and new pull mode"
# Context

We want to have two modes of operation when it comes to consuming blocks from the node. The old one (well tested, but introducing coupling) based on readerT mechanism and in essence being the push mechanism with all the responsibility of tracking consumed blocks laying on the node side. The new pull mechanism is based on active wallet side, polling tip of the block and requesting proper

[2019-01-28 09:09] #109 closed

[2019-01-28 09:59] KtorZ commented on #9
@piotr-iohk
No, these changes are rather invisible to the users. Things are happening "behind the scene" (the handlers gets implemented differently) but, the external API stays the same.

[2019-01-28 10:57] KtorZ commented on #239
@uroboros Hey, we are missing an estimate for that task. May you add one, according to what came up during your analysis of the issue?

[2019-01-28 10:57] KtorZ commented on #239
Also, if you're working on this, may you please move it to the `In Progress` column ?

[2019-01-28 11:01] #35 closed

[2019-01-28 11:07] KtorZ commented on #26
Goal is now to wrap-up implementation for E.O. wallets and do one round of testing for everything; we won't do any intermediate testing as hoped but only test the final result.

[2019-01-28 11:07] #26 closed

[2019-01-28 11:19] KtorZ commented on #44
Superseded by #231

[2019-01-28 11:19] #44 closed

[2019-01-28 11:21] KtorZ commented on #43
Superseded by #265

[2019-01-28 11:21] #43 closed

[2019-01-28 11:33] KtorZ commented on #46
Superseded by #34

[2019-01-28 11:33] #46 closed

[2019-01-28 11:35] KtorZ commented on #27
Superseded by #45

[2019-01-28 11:35] #27 closed

[2019-01-28 11:46] #9 closed

[2019-01-28 11:57] IuliaDolishniak opened #266 "Cardano node crashed after installing Daedalus that uses different branch"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code  v Configuration v Environment v Human v Unknown |

# Context

# Steps to Reproduce

1. Installed previous version, e.g. 11341
2. Installed using installer which uses Cardano develop branch
3. Launch Daedalus
or
1. On clean machine installed using installer which uses

[2019-01-28 13:05] #107 closed

[2019-01-28 14:44] IuliaDolishniak commented on #266
![unrecoverable](https://user-images.githubusercontent.com/47106784/51843555-ee437c00-231b-11e9-9b88-d54de6fc38cc.png)

[2019-01-28 14:45] IuliaDolishniak commented on #266
![crashed](https://user-images.githubusercontent.com/47106784/51843592-01eee280-231c-11e9-911d-da9dec53ed5a.png)
![errored](https://user-images.githubusercontent.com/47106784/51843595-03b8a600-231c-11e9-9a38-c96251cf6682.png)
[Daedalus.log](https://github.com/input-output-hk/cardano-wallet/files/2803445/Daedalus.log)

[2019-01-28 20:15] Anviking opened #269 "`cardano-wallet-server --help` command example outdated"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code  v Configuration v Environment v Human v Unknown |

# Context

# Steps to Reproduce

1. `stack exec -- cardano-wallet-server --help`
2. Look at the end of the output (under "Command example")

## Expected behavior

1. I expect the example to describe `cardano-wallet-s

[2019-01-28 22:39] Anviking commented on #266
From just seeing "cardano node crashed" I'm guessing it's caused by b539a6398543477f2d69aeb9aee4e1cdad360b9d. If so I should have a fix tomorrow

[2019-01-29 07:11] KtorZ commented on #266
Not sure actually. This isn't on develop, is it?

[2019-01-29 08:40] denisshevchenko opened #270 "Check uniqueness during EOS-wallet creation"
# Context

When we create new EOS-wallet, we receive a list of accounts' public keys and indexes. But this list _can_ contain the same public key and/or same index twice. Moreover, it is possible to receive the same account's public key for _different_ EOS-wallets (which doesn't make sense, because all accounts in all EOS-wallets must be unique).

# Decision

We must check uniqueness of accounts'

[2019-01-29 10:42] piotr-iohk opened #271 "Remove spendingPassword from /api/v1/transactions/fees"
# Context

The API doc dor `POST /api/v1/transactions/fees` reads -> `this endpoint does not require a spending password to be supplied...`, however it is listed there as an optional parameter. (cf https://input-output-hk.github.io/cardano-wallet/#tag/Transactions%2Fpaths%2F~1api~1v1~1transactions~1fees%2Fpost. )

Currently this parameter is not required at all for estimating fee so it can be remo

[2019-01-29 15:45] uroboros opened #275 "newPending/newForeign - incorrect metadata for new Tx"
| Release | Operating System       | Cause |
| current | Windows & OSX & Linux | Code |

# Context

When creating newPending or newForeign txs, we prefilter the tx outputs (looking for "ours") and derive the Tx metadata based on this.

For HdRnd wallets, we prefilter in the scope of the whole wallet, that is
for _all_ accounts in the given rootId, not just the one to which we're adding the Tx.

Fo

[2019-01-30 09:34] KtorZ opened #279 "Investigate CI failure: Node getNodeInfo ForceNtpCheck"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code  v Configuration  |

# Context

We made a first attempt to fix the node HTTP client timeout in #261, yet the failure has occurred again in the following job:

https://travis-ci.org/input-output-hk/cardano-wallet/jobs/486294382

Looking at the raw logs, we can find thi

[2019-01-30 09:44] tatyanavych commented on #258
Please, add CHANGELOG entry.

[2019-01-30 09:49] piotr-iohk commented on #154
lgtm :+1:
no brackets here -> https://input-output-hk.github.io/cardano-wallet/#section/Getting-Started/

[2019-01-30 10:08] KtorZ opened #281 "Upload integration tests artifacts from CI."
# Context

CI may sometimes fail for reasons we haven't anticipated. Having access to the test logs (in the case of integration tests) become rather essential in order to debug something we can't reproduce locally.

In #253, we added a naive dump of all the integration test logs to the console which can represent up to 50K lines of logs (a lot of noise caused, among other things, by the shared 'MV

[2019-01-30 10:20] piotr-iohk opened #282 "More meaningful/informative/user friendly error messages when updating password."
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux | Code  |

# Context

Currently when updating password using `PUT /api/v1/wallets/{walletId}/password` one needs to provide `old` and `new` password in the form of encoded hex|base-16 string which is 32 butes/64 chars long. When the hex string provided in the `old` password i

[2019-01-30 13:11] piotr-iohk opened #284 "Misleading error message when using wrong spendingPassword to perform various operations on the API"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux | Code |

# Context
 Currently spending password (set when creating/restoring a wallet) is used for several operations in the wallet. These are:
 - creating address
 - posting transaction and redeeming certificate
 - ~estimating fees~ -> #271

The error message for all those

[2019-01-30 13:42] piotr-iohk opened #285 "Make it possible to test syncing wallets in the integration tests"
# Context

From the user standpoint wallet can be in two states -> `syncing` and `synced`.
Regardless of the state of the wallet there are certain operations that can be performed on it. These are:
 - updating name and assurance level
 - updating password
 - deleting wallet
 - getting wallet details
 - (possibly others)

We should be able to test that, ideally in the integration tests.

Unfortunat

[2019-01-30 13:59] Anviking commented on #279
Hm. On initial investigation I've found
- inserting `threadDelay` of 31 s to the node server handler, curling the node -> WORKS
- inserting `threadDelay` of 30 s to the wallet server handler, curling the wallet -> WORKS (need to double check)
- inserting `threadDelay` of 30 s to the wallet server internal node client handler, curling the wallet -> WORKS (need to double check)

🤔 🤔 🤔

[2019-01-30 15:19] piotr-iohk commented on #279
fyi, just had that failure on my pr -> https://travis-ci.org/input-output-hk/cardano-wallet/jobs/486450230

[2019-01-30 15:22] piotr-iohk commented on #254
@KtorZ, putting this item for your QA review. I have added review suggestions / answered comments and rebased on corresponding pr #274.

[2019-01-30 17:06] parsonsmatt commented on #279
It's possibly the HTTP client request that's causing it -- [the settings for an `HttpManager`](http://hackage.haskell.org/package/http-client-0.6.1/docs/Network-HTTP-Client.html#v:managerResponseTimeout) have a `managerResponseTimeout` field which defaults to 30 seconds.

[2019-01-30 17:17] Anviking commented on #279
So we tried that… for the node client in #261

On the other hand, is there not some kind of HTTP client inside the test infrastructure itself?

[2019-01-30 18:02] KtorZ commented on #279
@Anviking Good point. Though it's not the one firing the requests here I think.

[2019-01-30 19:00] Anviking commented on #279
I think it is. And I think it just passed 100 retries of `getNodeInfo ForceNtpCheck` :D

[2019-01-31 10:06] KtorZ commented on #190
@paweljakubas I am just thinking about it but I believe we forgot to update the documentation about this. Unfortunately, since errors aren't included in Servant types, we don't really generate automatically any docs for them and they still have to be added manually in here:

https://github.com/input-output-hk/cardano-wallet/blob/develop/src/Cardano/Wallet/API/V1/Swagger.hs#L304-L340

[2019-01-31 12:21] nikolaglumac commented on #266
@KtorZ this is on `529060b7e73505b5c64125675a7ff4fa87fe0ae0` cardano revision...

[2019-01-31 13:51] piotr-iohk commented on #190
@paweljakubas - lgtm :+1: except for documentation update mentioned above ^^. I have also added one additional test triggering `UtxoNotEnoughFragmented` -> #288 (CC: @KtorZ )

[2019-01-31 17:44] KtorZ commented on #285
The ticket is definitely a good idea and, as we discussed during the weekly, it may be -- in its current form -- too big of a task. Therefore, we should find a way to split that across multiple smaller tickets.

[2019-02-01 09:11] piotr-iohk commented on #258
LGTM.

With slight exception of point 4. If I'm not mistaken that could be fairly easy tested using https://github.com/input-output-hk/cardano-wallet/wiki/Building-Running-and-Testing-a-wallet-node

1. start node connected to mainnet
2. start restoration of a wallet that existed on mainnet
3. while it is restoring perform the batch import of addresses

Also It is not clear to me whether we disallo

[2019-02-01 09:11] paweljakubas opened #290 "Add boundary integration tests for multioutput transactions"
# Context

The coin selection works by trying to maintain a one-to-one ratio between the outputs and change _of a same wallet_. So, for each output, there's a corresponding change output. Meaning that, after a multi-output transactions, the number of available UTxO tends to be constant. However, this can be not always true. If more than one inputs have to be selected to cover a single output (rega

[2019-02-01 09:50] KtorZ commented on #258
You're 100% right. The point 4 is a note because, I am not actually sure of _what_ will happen if we do import some addresses during restoration (especially some used ones). I _shouldn't_ matter and I can't see anything obviously wrong with that but you know, testing it is always better.

I suggest we do it before closing the ticket :+1:

Would you, or would you rather leave that to me?

[2019-02-01 10:11] piotr-iohk commented on #258
I'll go for it. Sure.

[2019-02-01 11:42] #290 closed

[2019-02-01 11:43] KtorZ commented on #290
This is a duplicate / part of #190
@paweljakubas, In such case, you may just add a point to your development plan :+1:

[2019-02-01 12:39] paweljakubas commented on #290
ok, did it

[2019-02-01 13:06] KtorZ commented on #228
@piotr-iohk This should also close the topic for #151 (cf your [last comment](https://github.com/input-output-hk/cardano-wallet/issues/151#issuecomment-455086700) on this ticket)

[2019-02-01 13:19] piotr-iohk commented on #228
@KtorZ - lgtm.

However it solves one point from #151. Pls see the last statement in the comment:

If I'm not mistaken these were the remaining actions:

[2019-02-01 13:20] #228 closed

[2019-02-01 13:38] KtorZ commented on #151
I'd say: yes. Especially because the last point will cause a breaking change for Daedalus and that's not something we want to do at the edge of a release. So, we'll do it for the next one.

[2019-02-01 13:51] KtorZ commented on #262
I'll close this in favor of #88. I know we open this ticket as a way to split the work of #88 but this is getting a bit out of hand.
Hence, let's "close the topic" of decoupling in its current state but on a side-branch on which we can continue experimenting if needed and adjusting the code until we think we have something stable enough to make it to `develop`.

Also, since we won't be releasing a

[2019-02-01 13:51] #262 closed

[2019-02-01 13:58] KtorZ commented on #88
Following up on: https://github.com/input-output-hk/cardano-wallet/issues/262#issuecomment-459728814

@piotr-iohk. I am closing this. This _exploratory_ ticket has been there for a while and @paweljakubas did achieve quite a nice job at documenting everything in the wiki and at proposing a prototype solution while also testing its correct behavior against a local cluster and mainnet.

Still remain

[2019-02-01 13:58] #88 closed

[2019-02-01 14:09] piotr-iohk opened #296 "Follow up actions for #151"
# Context

Remaining stuff to be done as a follow up to the #151.
- improve on internal endpoints for better consistency ->
  - remove `/api/internal/postpone-update`, since it is has been turned into no-op
  - rename `/api/internal/apply-update` to `/api/internal/restart-node` since it is only restarting the node

- manual procedure for proper test for `nextUpdate` to be done as part of this tick

[2019-02-01 14:09] piotr-iohk commented on #151
#296

[2019-02-01 14:10] #151 closed

[2019-02-04 08:48] piotr-iohk commented on #251
LGTM :+1:

[2019-02-04 09:52] piotr-iohk commented on #285
Maybe it makes sense then to make this one an epic?

[2019-02-04 09:53] KtorZ commented on #285
As a matter of fact, it does. :+1:

[2019-02-04 14:56] Anviking opened #299 "Unable to link to tags in docs"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code  v Configuration v Environment v Human v Unknown |

# Context

# Steps to Reproduce

1. Visit https://input-output-hk.github.io/cardano-wallet/#tag/Info

## Expected behavior

The docs load scrolled down to the "Info" section

<img width="1361" alt="skarmavbild 2019-0

[2019-02-04 15:15] KtorZ commented on #299
I think this might be caused by the small script that runs to handle relative paths. This completely disregards the fragment part of the URL.

[code]

[2019-02-04 18:21] KtorZ commented on #190
Closing this one as the documentation point has been covered and, more test addded. Also successfully backported into `cardano-sl/develop`

[2019-02-04 18:21] #190 closed

[2019-02-04 18:47] KtorZ commented on #91
Removing this from the next milestone. The frontend has already accommodated for it so it becomes a very minor priority at the moment.

[2019-02-05 12:48] Anviking opened #306 "Node Monitoring API Docs are unpolished"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code  v Configuration v Environment v Human v Unknown |

# Context

In addition to the wallet api docs, there is also the node monitoring api docs.

# Steps to Reproduce

1. launch wallet

[code]

Visit https://127.0.0.1:8180/docs/v1/index/#tag/Info

## Expected behavior

[2019-02-05 14:33] piotr-iohk commented on #258
I did some manual testing and documented scenarios under #308.

[2019-02-05 15:23] piotr-iohk commented on #279
lgtm :+1:

[2019-02-05 15:23] #279 closed

[2019-02-06 07:05] #299 closed

[2019-02-06 11:23] denisshevchenko opened #315 "Improve logging"
# Context

# Decision

# Acceptance Criterias

---

# Development Plan

# PR

| Number   | Base      |
| ---      | ---       |
| #?       | `develop` |

# QA

| Criteria | Coverage |
| ---      | ---      |
| ?        | -        |

---

# Retrospective

[2019-02-08 13:12] piotr-iohk commented on #36
@denisshevchenko, @KtorZ
There is no QA section on the ticket, however I understand that it is an old format. :)
In any case, in terms of QA, I think we should add some integration tests for CRUD operations. Probably we want to approach this in different task? (I haven't found any, so if there is one can you point me to it pls?).

There are some tests already added in #236. But they only touch on

[2019-02-08 13:59] KtorZ commented on #231
@denisshevchenko What's missing to send this one in QA :thinking: ?

[2019-02-08 14:00] KtorZ commented on #36
Indeed there's no QA / tests for this _yet_. I'll leave that decision to @denisshevchenko here; would you rather write them as part of this ticket? Or should we open another ticket a bit like #236 where you or I can write those integration tests?

[2019-02-08 14:05] #254 closed

[2019-02-08 14:06] KtorZ commented on #270
Superseded by #236 and #325 :+1:

[2019-02-08 14:06] #270 closed

[2019-02-08 14:09] KtorZ commented on #37
Won't do. It's unclear whether this is a requirement or not (the ability to support addition of accounts to an externally-owned wallet). If this becomes a clear requirement, we may reconsider this ticket -- if.

[2019-02-08 14:09] #37 closed

[2019-02-08 14:56] piotr-iohk commented on #236
lgtm :+1:
(with the assumption this suite will be extended in the nearest future)

[2019-02-08 14:56] #236 closed

[2019-02-08 14:57] Anviking commented on #87
I thought I'd look into what endpoints are affected for 1) the sake of testing 2) my own sake, and 3) might be useful later for removing `withNodeState`.

<hr/>

NodeStateAdaptor proviedes access to fields, ~"protocol parameters", over the node monitoring
api. Where are they used?

*Note:* `withNodeState x` does **not** rely on the node monitoring api.

### What functions rely on the Node API?

*I

[2019-02-09 11:18] KtorZ opened #330 "Legacy-Free Networking Layer Prototype"
# Context

As part of #10 and #88 , we've done quite some research on _how_ to deal with the current haskell core node to retrieve blocks via the existing diffusion layer. We'd like however to be completely free of the current Haskell implementation in a very near future. This means being able to receive block headers and blocks from the network, without relying on any of the existing implementati

[2019-02-11 08:13] piotr-iohk commented on #231
Well, there is QA section missing ^^ ;)
@denisshevchenko, can you fill it in please?

[2019-02-11 08:27] piotr-iohk commented on #220
@paweljakubas, can you pls fill in QA section on the ticket. Looking at the PRs it should be something like this I think (but please correct and add more if there's more info that could be added):
- Introduced new error banning 0 coin transactions (`ZeroAmountCoin`) and added integration tests for it in `test/integration/Test/Integration/Scenario/Transactions.hs`
- removed `pendingWith` from the `

[2019-02-11 09:04] paweljakubas commented on #220
@piotr-iohk done

[2019-02-11 09:16] piotr-iohk commented on #220
LGTM :+1:

[2019-02-11 12:01] piotr-iohk commented on #87
@Anviking , If I understand correctly there are now new parameters available now on `node-settings` endpoint and from there they are now being read by wallet backend?

Where there any new tests added for that?

In particular, perhaps it is a good opportunity to extend the integration test for `node-settings` (https://github.com/input-output-hk/cardano-wallet/blob/809246c524873afddcfe10ee70b15888e8

[2019-02-11 12:04] piotr-iohk commented on #36
@denisshevchenko I'm closing this one. As discussed I'll be adding more integration tests for EOS wallets CRUD operations under #331.

[2019-02-11 12:04] #36 closed

[2019-02-11 15:50] Anviking commented on #306
So we could do either:
<img width="832" alt="skarmavbild 2019-02-11 kl 16 39 10" src="https://user-images.githubusercontent.com/304423/52574324-51ed9f00-2e1c-11e9-9c49-5be20fa888bb.png">

or
<img width="827" alt="skarmavbild 2019-02-11 kl 16 42 43" src="https://user-images.githubusercontent.com/304423/52574327-544ff900-2e1c-11e9-9880-30a711609e7b.png">

🤔

[2019-02-11 18:37] Anviking commented on #87
@piotr-iohk

Yes

No :D

👍 This should already be verified by the existing test, as `Client.getNodeSettings` will unmarshall JSON to the [`NodeSettings`](https://github.com/input-output-hk/cardano-sl/blob/71f35231373994e45fbd79798486c8ad9786cdd4/lib/src/Pos/Node/API.hs#L602-L612) record. If we were to use another node server with different json format, `Integration/Scenario/Node.hs` should fail.

[2019-02-12 10:19] piotr-iohk commented on #87
:+1:

[2019-02-12 10:20] #87 closed

[2019-02-12 15:42] piotr-iohk opened #336 "Make EO endpoints to manipulate EO wallets and FO to manipulate FO wallets only"
# Context

While testing #331 we have observed that one can manipulate EOS wallets with FO endpoints and FO wallets with EOS endpoints. In particular:

 - You are able to list EOS wallets with FO enpoint `GET /api/v1/wallets`.
 - You can successfully delete EOS wallet with FO endpoint and vice versa. (EOS with `DELETE /api/v1/wallets/{walletId}` and FO with `DELETE /api/v1/wallets/externally-owned

[2019-02-14 21:36] Anviking opened #341 "Ctrl-c doesn't work for wallet in ghci"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code  v Configuration v Environment v Human v Unknown |

# Context

I wanted to use ghci for breakpoints.

# Steps to Reproduce

`stack ghci cardano-wallet --ghc-options=-optl-Wl,-dead_strip_dylibs`

When loaded, call :main with normal CLI commands:

[code]
Press ctrl-c

#

[2019-02-15 06:47] akegalj commented on #306
:man_facepalming:

[2019-02-15 07:55] uroboros commented on #275
this was solved by treating EO and FO in exactly the same way --> PR https://github.com/input-output-hk/cardano-wallet/pull/340 (see newTx and `coinForThisRoot`)

[2019-02-15 07:55] #275 closed

[2019-02-15 09:18] piotr-iohk opened #342 "Make error messages for index and addressPoolGap consistent"
# Context

When testing EOS Wallets under #334 I noticed that there are some inconsistent error messages returned for parameters `index` and `addressPoolGap` for certain values outside their ranges.
This is observed for endpoints:
- `Client.postEosWallet`
- `Client.updateEosWallet`

For `index` (range [2147483648..4294967295]):
- values 0, 1, 2147483647- `Account index should be in range [21474836

[2019-02-15 09:49] piotr-iohk opened #343 "Integration tests for [WALLETS_DETAILS] Return wallet details"
# Context

#172

# Decision

#172
This particular ticket addresses adding integration tests for `[WALLETS_DETAILS] Return wallet details` capability.

# Acceptance Criterias

* Create integration test scenarios for wallet capability: `[WALLETS_DETAILS] Return wallet details` defined in https://docs.google.com/spreadsheets/d/1ztF2PnnrMnkAxrhdq3LUbP1KazxcxuMrbiObTs1CuTk/edit
* Each integration tests

[2019-02-15 10:18] rvl commented on #291
I am so far unable to get the `RestorationFinishUnreachable` exception.

**Restoring wallet while in recovery mode**

I did get the wallet to fail by starting a restore from backup phrase while in recovery mode. If the chain is fully synced, the same restore does not fail.

What happens is that the wallet restore process finishes, but the node never exits recovery mode (absence of "Recovery mode e

[2019-02-15 16:14] denisshevchenko commented on #336
All tests are passed now, except this one: `EOSWALLETS_LIST_01 - cannot get FO wallets with EOS endpoint FAILED [5]`

[2019-02-18 09:07] piotr-iohk commented on #336
This test fails due to the fact Eos wallets list endpoint fails with error `WalletNotFound`, which still needs to be fixed.

[2019-02-18 10:43] Anviking commented on #306
@KtorZ your advice would be helpful here

Particularly if we
 - could do something with / remove the legacy api
- should have many tags or one tag (see pictures in comment above)

[2019-02-18 10:45] piotr-iohk commented on #231
lgtm :+1:

[2019-02-18 10:45] #231 closed

[2019-02-18 14:50] KtorZ commented on #333
#346

[2019-02-18 14:55] KtorZ commented on #306
Also, there's no real "legacy" node API (we've already cleaned that out and kept what was useful for ops). The API isn't perfect as it is to be 100% fair, and @cleverca22 already communicated on a few points they'd change.

Yet, we won't likely be spending any time on that. So, fixing the doc to better reflect what the API currently is, is the best we can do. About the tags, what would you do @Anv

[2019-02-20 10:23] akegalj commented on #315
I am not sure this is what we want? We are going to lose privacy option for our logs which we do want in production setting. Some people wouldn't want their account names being leaked into logs

[2019-02-21 07:29] KtorZ commented on #258
@piotr-iohk Last PR about displaying a more meaningful error message has been backported to develop. So I think we're good to go with this ticket :+1:

[2019-02-21 07:36] KtorZ commented on #291
One thing I'd like to clarify @rvl; were you able to reproduce the restoration finish unreachable with the first case? or is it another case of failure :thinking: ?

[2019-02-21 07:37] #200 closed

[2019-02-21 07:37] #111 closed

[2019-02-21 07:44] piotr-iohk commented on #353
From what I see after you start a node again after this initial `POST` that crashed it, then it will crash itself again without any action after few seconds. It seems that this one single `POST` breakes the whole node permamently.
Also if you manage to do another `POST` before it crashes then this log entry has more _addresses_. One addres per each `POST` that was made...

[code]

[2019-02-21 07:45] piotr-iohk commented on #258
lgtm :+1:

[2019-02-21 07:46] #258 closed

[2019-02-21 07:56] denisshevchenko commented on #353
This bug occur chaotically. In most cases last output in tests contains something like this:

[code]

or like this:

[code]

Actual error is this:

[code]

It means that something kills the node, and (some) next request after that cannot be handled, because node is already dead.

Last output in logs is:

[code]

This is corresponding code: https://github.com/input-output-hk/cardano-wallet/blob/dev

[2019-02-21 08:01] denisshevchenko commented on #353
This code tells about possible reason of this bug (https://github.com/input-output-hk/cardano-wallet/blob/develop/src/Cardano/Wallet/WalletLayer/Kernel/Internal.hs#L36-L42):

[code]

If we comment out whole `modifyMVar_` section - bug doesn't occur anymore. But even if we comment out just `clearMetaDB` line - it doesn't occur as well.

[2019-02-21 08:25] denisshevchenko commented on #353
@piotr-iohk said:

[2019-02-21 08:28] piotr-iohk commented on #353
^ as @Anviking pointed:

I know think that this issue might be the culprit of what we actually observed on CI and locally in the integration tests...

[2019-02-21 08:53] KtorZ commented on #353
Has anyone been able to reproduce this with executing only one test (repeatedly)? There might be a intricate inter-dependencies between tests (I better hope not), but that would already help to know this :/

[2019-02-21 08:54] piotr-iohk commented on #353
I was able to reproduce with the request from this issue:
[code]

[2019-02-21 17:14] KtorZ commented on #354
Note: the doc has been successfully updated on `develop` :wink:

https://input-output-hk.github.io/cardano-wallet/#tag/Externally-Owned-Wallets

[2019-02-22 13:49] piotr-iohk commented on #354
lgtm :+1:
I'll be adding more integration tests for listEosWallets in #331.

[2019-02-27 00:12] rvl commented on #291
In the first case, it was another case of failure, not `RestorationFinishUnreachable`.

It occurred to me later that this `RestorationFinishUnreachable` exception is unlikely to be related to upgrading from 1.3.2 -> 2.0.1 (second case) because I asked our user to update by deleting the state directory and restoring the wallet with 2.0.1, rather than migrating the DBs.

[2019-02-27 13:45] piotr-iohk commented on #333
This one appears to be fixed by #346, if I'm not mistaken? If so, I suppose it can be closed.

[2019-02-27 14:34] Anviking commented on #333
Nitpicky, but there is still this

Plus there is still *third person present tense* in the node api endpoints. https://github.com/input-output-hk/cardano-sl/pull/4100

[2019-03-01 11:11] piotr-iohk opened #1 "Review the .travis.yaml file from `cardano-wallet` (+ connect travis to new repository)"
# Context
We want to have CI set up for the new `cardano-wallet` in order to have a means to automatically build the code and run all our tests against the build. At this moment we decided to go with Travis, so we want to get the `.travis.yaml` from the previous `cardano-wallet` review it and remove all unnecessary dependencies to `cardano-sl` from it. This task is also to make sure that the new r

[2019-03-01 11:16] akegalj opened #2 "Add branch protections in GitHub & team permissions"
# Context

As part of setting up repo for wallet rewrite.

# Decision

[x] Every part of cardano-wallet team must get merge permission.
[x] Merge permission must be available if:
 * at least one reviewer accpeted the PR
 * our CI is green

NOTE: Reviews will be done mostly in pairs (pair-programming) with dev rotation around the code so that everyone is familiar with bits of the whole system.

---

[2019-03-01 11:22] piotr-iohk opened #3 "Ticking function to retrieve current tip and get next block (no handling of rollbacks)"
# Context

The task being part of _Receive And Process Blocks_ user story.

In the new architecture we are pursuing `pull mechanism` for getting blocks. It means the wallet is responsible for downloading the blocks. In order to do it the wallet has to poll for the current header tip of the block, and then download the corresponding block

# Decision

We will add ticking mechanism that polls the `c

[2019-03-01 11:24] Anviking opened #4 "Setup repository structure"
# Context

We’re starting fresh in a new repo! We need some basic things to work in it.

We should be able to quickly port over things from the old repo.

# Decision

- [ ] We *must* have a `.gitignore`
- [ ] We *must* have a basic `stack` setup, with appropriate folder structure (for instance `src`, `test/unit`, ...) ⇒ #15
- [ ] We *should* have a config files for hlint and stylish-haskell
- [ ]

[2019-03-01 11:24] paweljakubas opened #5 "Add building and caching of `cardano-http-bridge` in Travis conf file"
# Context

We want to have CI set up for the new `cardano-wallet` in order to have a means to automatically build the code and run all our tests against the build. At this moment we decided to go with Travis, so we want to get the `.travis.yaml` from the previous `cardano-wallet` review it and remove all unnecessary dependencies to `cardano-sl` from it. Instead, we want to depend on `cardano-http-

[2019-03-01 11:36] KtorZ opened #6 "Rename & Archive 'cardano-wallet' and create a new fresh repostiory"
# Context

As described in the [roadmap](https://github.com/input-output-hk/cardano-wallet/wiki/Roadmap), we are now creating a new repository and moving away from the legacy code. We have a bunch of things to setup in order to achieve this.

# Decision

Create a new repository and import relevants bits from the wiki and the github templates. We also need to re-create the Zenhub board and have pro

[2019-03-01 12:19] Anviking opened #7 "Define a small launcher CLI with a single 'start' command"
# Context

The wallet requires an underlying node. We should have a single command for starting both correctly.

# Decision

- Support the following CLI parameters
    - `--wallet-server-port` (the port we are serving the wallet API on)
    - `--node-port` (the port were communicating with the node on)
    - `--network` (mainnet or testnet)

---

# Development Plan

# PR

| Number   | Base      |

[2019-03-01 12:41] paweljakubas opened #8 "Spawn http bridge and a wallet server from specified options"
# Context

We need the launcher that enables us to start the cluster comprised of the wallet and cardano-htttp-bridge that is intermediary between the wallet and mainnet/testnet.

# Decision

We will enable launcher starting the cluster that consists of wallet and http bridge instance. As the http bridge is the gateway for block acquisition we will spawn two instances together as parts of lauhing,

[2019-03-01 13:07] KtorZ commented on #4
NOTE: We'll need to add a LICENSE file as well :+1:

[2019-03-01 13:34] paweljakubas commented on #9
btw. we agreed on using `.editorconfig` How it is going to live along with above files? Don't these files overlap somehow? (maybe stupid question -> I have not used EditorConfig before)

[2019-03-01 13:47] KtorZ commented on #4
I'll also add the specifications documents for both the API and the formal specs to have them versioned.

[2019-03-01 13:53] KtorZ commented on #9
@paweljakubas No they don't conflicts but they are complementary to each others.

[2019-03-01 17:49] KtorZ opened #11 "Implement necessary CBOR decoders (block and block header)"
# Context

The [cardano-http-bridge](https://github.com/input-output-hk/cardano-http-bridge) has a rather basic API where data can be retrieved in a binary format. The format used is a mix between the format used on a cardano-sl (a custom-made encoding / decoding protocol built on top of [CBOR](http://cbor.io/) and some custom [packfile](https://github.com/input-output-hk/rust-cardano/blob/master/

[2019-03-01 17:57] KtorZ opened #12 "Implement (part-of) http-bridge API (get network tip, get block)"
# Context

We want to outline a first network layer that abstract away the retrieval of blocks from a chain producer. In the first iteration, this chain producer will be the [cardano-http-bridge](https://github.com/input-output-hk/cardano-http-bridge) which serves blocks through a basic simple http API.

# Decision

- Implement the necessary HTTP calls to retrieve blocks from the network
- The imp

[2019-03-01 19:25] KtorZ commented on #10
@Anviking Good point, I've added a small README and an `index.html` file to ease a local preview :+1:

[2019-03-03 23:46] rvl opened #14 "Extend the Cardano.Mnemonic to support recovery passphrase"
# Context

The way the master key got generated from a mnemonic sentence has changed between the legacy random address scheme, and the new sequential scheme on Cardano. We do now have the possibility to add an extra `recovery passphrase` during the seed / master key generation which adds an extra protection on the mnemonic (having the mnemonics isn't enough, one would also need to know the recover

[2019-03-04 00:09] rvl commented on #1
We also have https://github.com/jonathanknowles/haskell-travis-example

[2019-03-04 08:21] KtorZ opened #16 "Porting and cleaning up Cardano.Mnemonic module (incl. corresponding tests)"
# Context

As part of this rewrite of the wallet backend, we do not want to depend on any of the code from `cardano-sl`; Yet, there are a few bits that were made in a fairly isolated manner that are still very relevant to the wallet This is the case of:

https://github.com/input-output-hk/cardano-sl/tree/develop/mnemonic

Minus a few bits that are strictly related to `cardano-sl` like:

- https://

[2019-03-04 08:26] KtorZ commented on #14
@rvl I've updated the context & decision. Estimates are still to be done in team :+1:

[2019-03-04 08:42] KtorZ commented on #15
@rvl If the nix part takes longer to review, it might be worth splitting the PR into two parts, so that we can get the .cabal stuff merged and get everyone started this way :stuck_out_tongue:

[2019-03-04 09:18] rvl commented on #15
Thanks for the reviews. It should be ready to go now.

[2019-03-04 09:35] piotr-iohk commented on #6
@KtorZ, I am sligthly hesitant on removing the `Acceptance Criteria`. I acknowledge that in reality it may be  sometimes the same thing, however in my understanding decision is rather to express high level intention of what one wants to do whereas acceptance criteria define set of statements that define when work item is complete and working as expected. Acceptance criteria is really a set of capa

[2019-03-04 09:36] piotr-iohk commented on #2
lgtm :+1:
(indeed, one needs admin access to see these settings :)

[2019-03-04 09:36] #2 closed, assigned to KtorZ

[2019-03-04 10:54] KtorZ commented on #17
Let's go for this now. We'll see where the discussion about line-length settles.

[2019-03-04 11:02] KtorZ commented on #1
I'll also add support for stylish-haskell & coveralls :+1:

[2019-03-04 12:33] Anviking commented on #7
When briefly interacting with the old CLI code, I had a few concerns which I thought I'd mention, in case it is avoidable.

Firstly, I found the amount of needed spread out components a bit annoying:

1. Name of CLI flag https://github.com/input-output-hk/cardano-wallet-legacy/blob/a40258f4b61c7a9dbcb03dac010e8fe201e99e28/src/Cardano/Wallet/Server/CLI.hs#L200
2. Help for the CLI flag https://githu

[2019-03-04 12:35] KtorZ opened #20 "Define type primitives needed to represent a wallet"
# Context

As per the [specification](https://github.com/input-output-hk/cardano-wallet/blob/master/specifications/wallet/formal-specification-for-a-cardano-wallet.pdf), there are various types and low-level primitives we may define for the wallet (about UTxO manipulation, block application etc).

# Decision

- A module _must_ define primitive types to represent a wallet in its very core
- A modul

[2019-03-04 12:40] KtorZ commented on #7
@Anviking , for the CLI, I am going to suggest something which will probably make most Haskeller screams but, I'd like us to consider `http://docopt.org/`. This is a DSL to represent CLI which has implementation in various languages, including Haskell (cf: https://github.com/input-output-hk/cardano-sl/blob/develop/cluster/app/demo/Main.hs#L29-L44)

It gives us the ability to also have a specificat

[2019-03-04 12:52] KtorZ opened #21 "Port and review the Ed25519 module from cardano-wallet to define derivation primitives needed for BIP-44 addressing"
# Context

This new wallet implementation will focus on implementing BIP-44's style of addressing and therefore, we can re-use most of the work already done in the legacy implementation and port the following module onto `cardano-wallet`:

- https://github.com/input-output-hk/cardano-wallet-legacy/blob/develop/src/Cardano/Wallet/Kernel/Ed25519Bip44.hs
- https://github.com/input-output-hk/cardano-w

[2019-03-04 13:05] KtorZ opened #22 "Port and review the Address discovery (AddressPool + AddressPoolGap modules) from cardano-wallet"
# Context

Similarly to #21, we do want to port existing logic from `cardano-wallet-legacy` onto `cardano-wallet`, from the following modules:

- https://github.com/input-output-hk/cardano-wallet-legacy/blob/develop/src/Cardano/Wallet/Kernel/AddressPool.hs
- https://github.com/input-output-hk/cardano-wallet-legacy/blob/develop/src/Cardano/Wallet/Kernel/AddressPoolGap.hs
- https://github.com/input-

[2019-03-04 13:16] Anviking commented on #19
https://coveralls.io/github/input-output-hk/cardano-wallet

Coveralls seems a bit confused, probably because of the archived `cardano-wallet`.

<img width="882" alt="skarmavbild 2019-03-04 kl 14 14 12" src="https://user-images.githubusercontent.com/304423/53735651-d36aa700-3e87-11e9-8ec1-6095dc095358.png">

[2019-03-04 13:17] Anviking commented on #19
Maybe it goes away after merging…?

[2019-03-04 13:21] KtorZ commented on #19
I believe Coveralls will sync up over time but yeah, it got a bit confused in the battle.

[2019-03-04 13:31] paweljakubas opened #23 "Sketch wallet layer to fetch and create a wallet"
# Context

As we are starting from scratch an want to add new lean wallet functionality there is a need to structure the code and layers properly. Following the path of previous `cardano-wallet` we are going to add kernel and API layers to decouple the concerns handle respective errors.

# Decision

We are going to add wallet kernel layer that is going to be called from API layer, handle errors, m

[2019-03-05 07:50] KtorZ commented on #6
@piotr-iohk re-introduced the 'Acceptance Criteria' section as part of the template, so this will hold for all new issues we create.

[2019-03-05 07:59] KtorZ commented on #26
Hmmm... There are a few things that worry me with this package :sweat_smile:  ... The main one being:

[code]

From the type signature, one can already tell that chances that some _nasty unsafe IO_ is happening are very high. It's probably _safe_ in practice, but feels somewhat magical :man_shrugging:

I'd advise going for [optparse-applicative](https://hackage.haskell.org/package/optparse-applica

[2019-03-05 08:03] KtorZ commented on #4
@Anviking Do we miss anything for this one :thinking: ?

[2019-03-05 08:10] KtorZ commented on #11
@rvl Not sure you'll be able to implement round-trips and full encoders without having full decoders. Also, in practice, we won't be serializing block, so the only encoders we need are the one to encode a transaction. Those can (_ought to_) be done as part of another task in another iteration :+1:

[2019-03-05 08:12] KtorZ commented on #11
Also for the `packfile`, make sure to check --> https://github.com/KtorZ/wallet-prototype/blob/master/app/Main.hs#L905 (if not already done :no_mouth:)

[2019-03-05 08:13] piotr-iohk commented on #6
lgtm :+1:

[2019-03-05 08:13] #6 closed, assigned to KtorZ

[2019-03-05 09:05] piotr-iohk commented on #1
lgtm :+1:

I think it would be nice to have stylish-haskell, weeder, hlint, tests as separate checks in Travis for better readibility (as it was on previous repo). I think also the checks are then capable of runnig in parallel.
Perhaps it is not needed now but I will add that as a thought to the wiki for discussion.

[2019-03-05 09:05] #1 closed, assigned to rvl

[2019-03-05 09:21] KtorZ commented on #1
Agreed @piotr-iohk , and ideally, we would even push it further and have the status reported inside github directly as separate CI checks. @Anviking had some ideas on the matter :)

[2019-03-05 10:10] Anviking commented on #26
If we can avoid creating a `WalletParams` record, I think `docopt` would be really nice.

[2019-03-05 10:22] Anviking commented on #4
I don't _think_ so

[2019-03-05 10:37] KtorZ commented on #4
Okay :+1: Let's move it into QA then :)

[2019-03-05 14:19] piotr-iohk commented on #4
lgtm :+1:

[2019-03-05 14:20] #4 closed, assigned to Anviking, KtorZ

[2019-03-06 08:57] KtorZ commented on #31
Thanks @jonathanknowles :+1:

[2019-03-06 09:36] KtorZ commented on #33
Note that, I've done it as part of #29 already, while adding new properties :wink:

[2019-03-06 09:37] KtorZ commented on #26
Closing in favor of #27

[2019-03-06 09:54] KtorZ commented on #28
Rebased on top of latest master :+1:

[2019-03-07 00:42] jonathanknowles commented on #33
Ah, well in that case, I'll close this one. :)

[2019-03-07 08:17] rvl commented on #32
Rebased and added tests for an actual pack file from mainnet.

[2019-03-07 14:19] piotr-iohk commented on #7
lgtm :+1:

[2019-03-07 14:19] #7 closed, assigned to Anviking

[2019-03-07 17:05] piotr-iohk commented on #36
Probably it was already discussed and ruled as no, but don't we need the endpoint for getting details of a single wallet `GET \wallets\{wallet_id}`?

[2019-03-08 07:32] jbgi opened #39 "Option for user-defined change address"
# Context

As a wallet user I want an option when sending a transaction to specify the change address. example: I have utxo with 100 Ada. I send 10 Ada to someone. Currently a new address is generated and 90 ADA goes into that address. But I want to be able to specify my-self the address that received the 90 ADA change.

# Decision

# Acceptance Criteria

---

# Development Plan

# PR

| Number

[2019-03-08 08:44] KtorZ commented on #37
@Anviking ^^^ Yeah, it was the case originally and when I did the split of this PR from #34, I did squash everything in one commit. I don't know why :/ ... Your remark is very sensible though -- sorry about that.

[2019-03-08 08:51] KtorZ commented on #39
Moved to: https://github.com/input-output-hk/cardano-wallet/wiki/Blackboard

[2019-03-08 08:51] #39 closed, assigned to nobody

[2019-03-08 09:16] KtorZ commented on #36
Thanks for catching this. This is indeed an oversight.

[2019-03-08 09:31] KtorZ commented on #12
What do you mean by "import some" ? We won't import anything from `cardano-sl`, though we may port code from there that is relevant and have a fairly small impact / footprint. Have you examples of that? It's maybe overkill for the wallet to be testing those things :thinking: ? As far as we are concerned, the slot and epoch are just indexes.

In the long-run, yes, this is a protocol parameter which

[2019-03-08 09:37] rvl commented on #12
Cheers.

I was thinking about the Slotting functions in `cardano-chain`. Or maybe someone has a nice little module somewhere. If we could import just those it might save some work and avoid some bugs.

[2019-03-08 09:50] KtorZ commented on #12
I truly believe it's unnecessary here. And that would be opening the door to many more issues and coupling. Let's not. Slot and Epoch number are really just indexes for us; there's nothing we really do with them.

[2019-03-08 13:23] paweljakubas commented on #35
problems with tests are because of IORef use. I will refactor the code with MVar

[2019-03-08 14:35] KtorZ commented on #34
Damn. I merged it to the wrong branch :|

[2019-03-08 17:23] KtorZ commented on #11
Some required encoders were done as part of #42

[2019-03-11 03:28] jonathanknowles commented on #40
That's a good point. I've renamed these modules as per your suggestions.

[2019-03-11 10:06] KtorZ commented on #44
Whoops. I think I didn't squash the commits after all :sweat_smile:  ...
@paweljakubas I'll leave that to you when you rebase the branch.

[2019-03-11 11:18] paweljakubas commented on #35
rebased and squashed

[2019-03-11 11:35] paweljakubas commented on #35
it seems we have :
[code]
and weeder still keeps complaining about **groups** and **duplicateMaybe** not used outside module

[2019-03-11 12:20] KtorZ commented on #45
Thanks :tada:

[2019-03-11 12:21] KtorZ commented on #35
@paweljakubas Whoops. Sorry about the pragma, I typically do that when developing to iterate quickly and I clean up the imports before making a PR. This should be removed, and imports cleaned up as well :+1:

[2019-03-11 12:27] paweljakubas commented on #35
ahh, I have already added proper **.weeder.yaml** being the product of:
[code]

We do not want it, right? Just remove pragma and superfluous exports?

[2019-03-12 08:59] piotr-iohk commented on #11
As discussed and agreed:
 - need to add negative tests for block decoding (#48 in progress)
 - need to add tests decoding blocks with more than one transaction

For the time being I'll put the task back to `In progress`.

[2019-03-12 11:26] KtorZ commented on #48
@piotr-iohk I've fixed @jonathanknowles remarks & added a test to unserialize a block contains MANY (many = 2) transactions.

[2019-03-12 11:30] piotr-iohk commented on #3
ltgm :+1:

[2019-03-12 11:30] #3 closed, assigned to paweljakubas

[2019-03-12 13:15] piotr-iohk commented on #11
lgtm :+1: (outstanding items addressed in #48)

[2019-03-12 13:15] #11 closed, assigned to jonathanknowles, rvl

[2019-03-12 15:50] paweljakubas commented on #47
Complied with all remarks (hope so), rebased and squashed

[2019-03-12 19:47] KtorZ commented on #14
Some work started as part of #46 (see: https://github.com/input-output-hk/cardano-wallet/pull/46/files#diff-d3f54da283c61e7577ea1c27c7627e7aR218)

[2019-03-13 03:42] rvl opened #52 "Use ticking function to get blocks"
# Context

We have:
- a ticking function (#3)
- a function to get blocks (#12)
- a running `cardano-http-bridge` subprocess (#8 -- in progress)

The ticking function should call the function to get blocks.

# Decision

Add a function to get blocks every tick and log them.

[code]

This function will be called from `main` and won't normally return.

# Acceptance Criteria

1. Must be able to catch u

[2019-03-13 04:54] jonathanknowles opened #53 "Translate the Swagger API specification into a Servant API specification."
## Context

We intend to maintain both a Swagger API specification and a Servant API specification, and to keep the two in synchronization with one another.

## Task

Translate the Swagger API specification (`specifications/api/swagger.yaml`) into an equivalent Servant API specification, including:

* Types
* Endpoints

## Acceptance Criteria

1. Our Servant API **must** satisfy the Swagger API sp

[2019-03-13 04:57] jonathanknowles commented on #53
We also need to think about how we'll test that the Servant API is equivalent to the Swagger API specification.

[2019-03-13 05:22] paweljakubas commented on #47
Removed Aeson instances and forbidenMnemonics from `Cardano.Wallet.Mnemonic`. Refatored tests and added new one checking if mnemonic from API is really invalid.

Code rebased and squashed.

[2019-03-13 07:44] piotr-iohk commented on #20
lgtm :+1:

[2019-03-13 07:45] #20 closed, assigned to KtorZ

[2019-03-13 07:52] KtorZ commented on #52
We need to discuss that further before going to far with this :)
This is almost a U/S on its own and requires proper thoughts, pros and cons, etc..

[2019-03-13 09:16] rvl commented on #52
Sure, agreed.

[2019-03-13 09:49] Anviking opened #55 "Port the DSL module from the integration framework"
# Context

In `cardano-wallet-legacy` we had [integration tests](https://github.com/input-output-hk/cardano-wallet-legacy/tree/develop/test/integration/Test/Integration) written in a custom [DSL](https://github.com/input-output-hk/cardano-wallet-legacy/blob/develop/test/integration/Test/Integration/Framework/DSL.hs). We want integration tests in this repo.
# Decision

Port the DSL in preparation o

[2019-03-13 10:08] piotr-iohk opened #56 "Port the Request module from the integration framework minus the typed client (only allow arbitrary raw JSON requests)"
# Context

Since we are starting to shape API for the wallet we want a way to have it tested using integration tests.
This task is about porting the [Request](https://github.com/input-output-hk/cardano-wallet-legacy/blob/develop/test/integration/Test/Integration/Framework/Request.hs) module from the cardano-wallet-legacy into new wallet.

For the new wallet's integration tests we want to use only

[2019-03-13 11:46] piotr-iohk commented on #12
lgtm :+1:  
I wanted to ask about `SlottingOrphans.hs` but I see it has been removed by #57.

[2019-03-13 11:46] #12 closed, assigned to jonathanknowles, rvl

[2019-03-13 14:55] piotr-iohk commented on #16
lgtm :+1:
(I have added few more tests and adjusted API spec in #58)

[2019-03-13 14:55] #16 closed, assigned to paweljakubas

[2019-03-13 15:42] KtorZ commented on #46
Removed the unnecessary `mempty` & added a few comments in the code according to your feedbacks :+1:

[2019-03-13 15:48] KtorZ commented on #59
How we're going to handle this is still unclear but I see one easy option:

- We actually embed the epoch length inside the `SlotId` definition which allows us to make various computations on list of slots

We won't be able to safely compute the successors of a given slots when we cross the epoch boundary.. Though, in practice, the wallet never has to do that... We always look at slot that have pa

[2019-03-14 07:32] KtorZ commented on #59
I kinda missed the shot and it was merged already when I started to look into this (which is fine, I mean, there's no "blessed code", so, if we later feel like re-organizing a bit some module(s) to make things a bit clearer or, in preparation of an upcoming feature, then let's not be afraid of doing so).

Which spot do you find weak exactly? From my experience, spreading common responsibility acro

[2019-03-14 07:43] KtorZ commented on #59
@Anviking

Cf the previous answer, but truth is that, it depends on the language / technology you use. I would recommend a very different approach in JavaScript for instance, because code isn't weakly and dynamically typed. In JS, having many small modules is usually a good practice (small being, they should fit on your screen without scrolling). Having more modules with well-defined frontiers hel

[2019-03-14 08:20] KtorZ commented on #23
This isn't exactly true. So here, we are interested in our WalletLayer which sits between the API Layer, the Network Layer and the DB Layer. I'll provide a diagram on slack to make things a bit clearer. But this particular task is NOT about creating the API layer.

What we need here is really just a few effectful functions that can compose the functions from:

- The wallet business logic (`Cardano

[2019-03-14 08:29] KtorZ commented on #53
@jonathanknowles On that last remark, I'd recommend looking into:

https://hackage.haskell.org/package/servant-swagger-1.1.7/docs/Servant-Swagger-Test.html#v:validateEveryToJSON

with some inspiration from (https://github.com/input-output-hk/cardano-wallet-legacy/blob/develop/test/unit/API/SwaggerSpec.hs)

And maybe later, give a shot to https://hackage.haskell.org/package/servant-quickcheck-0.0.2

[2019-03-14 10:46] piotr-iohk commented on #21
lgtm! :+1:

[2019-03-14 10:46] #21 closed, assigned to KtorZ

[2019-03-14 10:47] piotr-iohk commented on #22
lgtm! :+1:

[2019-03-14 10:47] #22 closed, assigned to KtorZ

[2019-03-14 15:47] KtorZ opened #67 "Explore the possibility of running the cardano-http-bridge against a local cluster"
# Context

In order to test our wallet backend in a "real-life" scenario, we would need to be able to run a few integration tests where a the wallet server connects to a given chain producer backend in order to retrieve blocks.

For now, our only chain producer is the `cardano-http-bridge` and, it only connects to `mainnet` or `testnet` which is fine for testing a few things, but pretty limited wh

[2019-03-14 15:54] KtorZ opened #68 "Run integration tests in CI"
# Context

After we figured out #67, #55 and #56 we should have all the keys in hand in order to run integration tests for our wallet, testing the end-2-end connectivity between a cluster of node, our wallet backend and an http client making request to the wallet server.

# Decision

Implement simple example of integration tests which illustrate a complete setup running tests against a local clust

[2019-03-14 16:01] KtorZ opened #69 "Connect the wallet primitive to the chain producer through the wallet layer"
# Context

We have:

- A set of core primitives and types to represent and keep track of a wallet
- A network layer that retrieves blocks from a chain producer (i.e. the cardano-http-bridge)
- A db layer that define an interface for persisting pieces of information to some db engine / storage
- A wallet layer that connects the dots and make use of the above to provide a simple interface for wallet

[2019-03-14 16:31] KtorZ commented on #14
Actually now obsolete. The root key generation is done in the AddressDerivation module and do support having a mnemonic passphrase associated. We do even have corresponding golden tests for that.

[2019-03-14 16:31] #14 closed, assigned to nobody

[2019-03-14 16:32] KtorZ commented on #23
This now sounds like duplicated with #69. I'll close #69 in favor of this one, but move this one in the next milestone :+1:

[2019-03-14 16:34] KtorZ commented on #23
Okay, re-reading the decisions, they aren't really the same. This one is about implementing the `create` and `get` part of the wallet layer, while #69 is really about the wallet worker which would apply block and maintain a wallet state. So, they are related and will share a state through the DB layer, but they aren't strictly the same.

[2019-03-15 01:26] rvl commented on #38
If your tests are failing, it could be because the tests are correct , and there is something missing from `supervise`.

I pushed a commit with an example of using `withCreateProcess` and `race_` together. Then it's all done by the libraries and you don't need the `supervise` code.

What's the purpose of having a separate `cardano-wallet-launcher` executable? Unless I'm missing something, it can a

[2019-03-15 08:04] paweljakubas commented on #65
so why Tests on CI has failed?

[2019-03-15 08:05] KtorZ commented on #65
This is what I am trying to figure out. I made another round of testing yesterday, completely clearing the cache, and it seems that I broke something :thinking: ... Will figure it out..

[2019-03-15 11:59] paweljakubas commented on #65
that's strange :
[code]
There is no `Cardano.Wallet.BlockSyncerSpec` in the **unit** section because there is not this module anymore. Moreover, `time-units` is needed in `test/unit/Cardano/NetworkLayerSpec.hs` as there is import there in line 29:
[code]

There is some caching problem out there as @KtorZ  underlined

[2019-03-15 14:21] KtorZ commented on #71
Please don't merge now. I am trying to resolve issues with building the http bridge first.

[2019-03-15 14:23] paweljakubas commented on #71
just rebased

[2019-03-15 14:40] KtorZ commented on #65
Ok, I figured. We can't actually have two parallels jobs which share the same cache. I hoped Travis would be "smart enough" to merge the cache when there are uploads to the cache from different sources, but it doesn't. So, the job building the http bridge was finishing first, uploading his cache and then, got overwritten by the job that compiles the haskell sources.

In the next stage, only the la

[2019-03-18 07:31] KtorZ commented on #74
Wow. Sweet stuff :tada:

Neat-picking a bit but, I'd suggest a different name than `base` which is rather confusing with the hackage's `base` package in this context.

[2019-03-18 07:38] KtorZ commented on #75
@rvl Have you tested this :thinking: ?
When I was finalizing the PR on the launcher, I spent quite some time trying to install some signal handlers without much success for the SIG_KILL. Others, and in particular SIG_INT are handled properly by the `process` library and the bracket we use, making sure to clean up children as the main launcher exits.

However, I doesn't seem possible to catch a `SI

[2019-03-18 07:48] rvl commented on #75
Yes I've tested it. You can't do much about SIGKILL (`kill -9`).

But SIGTERM (`kill` with the default signal) was not working until I made this change. SIGTERM will be a common way of stopping the wallet.

[2019-03-18 08:26] KtorZ commented on #75
~~@rvl May you specify the manual steps you use to test this? It doesn't seem to work for me using the default signal for `kill`~~

My bad. I didn't check the branch out actually.

[2019-03-18 09:00] rvl commented on #74
OK I have changed it from `base` → `cardano-wallet-common`.

[2019-03-18 10:24] Anviking commented on #59
Thanks for the recommendation btw, @KtorZ!

[2019-03-18 10:44] piotr-iohk commented on #52
lgtm :+1:
I was able to connect and get blocks from `mainnet` and `testnet`:
1.  Mainnet: Run cardano-http-bridge with `cargo run --release -- start --port 1337 --template mainnet` and wallet with `stack exec -- cardano-wallet-server --network mainnet --http-bridge-port 1337`
2. Testnet: Run cardano-http-bridge with `cargo run --release -- start --port 1337 --template testnet` and wallet: `stack e

[2019-03-18 11:57] piotr-iohk commented on #5
lgtm :+1:

[2019-03-18 11:57] #5 closed, assigned to KtorZ

[2019-03-18 12:55] #52 closed, assigned to rvl, KtorZ

[2019-03-18 13:30] JayMaree opened #79 "The wallet won't confirm a few transactions"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| 2.0.1    | Ubuntu Bionic) | Code  v Configuration v Environment v Human v Unknown |

# Context
We run both `cardano-wallet` and `cardano-explorer` on one Ubuntu server. We execute API calls against the wallet to generate new transactions. A few transactions (on daily basis) won't end up in the Blockchain.
T

[2019-03-18 13:51] KtorZ commented on #79
@JayMaree, thanks for reporting this though this isn't the best place at the moment.
This repository contains a fresh implementation that shares nothing with the current Byron wallet on cardano-sl.
I'll therefore suggest you to open this issue on https://github.com/input-output-hk/cardano-sl directly as this is where the corresponding code currently lives.

Regarding the issue itself, I am sure to

[2019-03-18 14:16] JayMaree commented on #79
Hi @KtorZ . Thanks! I will create a ticket in the cardano-sl repo.

Some transactions do make it and end in the blockchain. Yes, we use the API.

[2019-03-18 23:36] Anviking commented on #81
👍

[2019-03-19 06:37] rvl commented on #74
In my view, _internal libraries > Weeder_. So if Weeder doesn't work, weed Weeder.

[2019-03-19 07:49] paweljakubas commented on #81
it is good to choose one (the same for the lens), the slimmest one but good enough to service our needs. Started using only `transformers` primitives in my PRs

[2019-03-19 07:50] paweljakubas commented on #80
hmm, why it is all the time running? Because it was out-of-date at the time of pushing?

[2019-03-19 07:53] KtorZ commented on #80
It seems that Travis failed to report the status to GitHub somehow. And, I realized I forgot to actually disable the integration tests for now in CI since we'll need a bit of caching first (or to run a local cluster)
:sweat_smile:

[2019-03-19 08:14] KtorZ commented on #74
I slightly disagree here :no_mouth:  ... Unless internal libraries allow us for computing coverage on them too but it seems to me that the stack toolkit hasn't quite caught up with this cabal features as well. This requires a bit more work I think before we can merge it, to make sure we keep our current tooling working fine with internal libraries / stanzas (I am not sure which one is causing issu

[2019-03-19 11:59] #79 closed, assigned to nobody

[2019-03-19 14:16] Anviking commented on #81
Although how would you change this? (from #83) https://github.com/input-output-hk/cardano-wallet/blob/9bcbc098f1f64e66ba26f29663c2f493e3eeab08/test/integration/Test/Integration/Framework/Request.hs#L75-L87

[2019-03-19 14:28] KtorZ commented on #81
You would just remove the `MonadReader` and directly work with a `ReaderT` (which is already what we do anyway because GHC can't figure out the right type to pick otherwise).

[2019-03-19 17:18] KtorZ commented on #53
@jonathanknowles let's tackle generation of golden tests in a separate ticket (I'll explain tomorrow in the planning meeting).

[2019-03-19 21:46] piotr-iohk commented on #8
lgtm :+1:

[2019-03-19 21:46] #8 closed, assigned to Anviking, rvl, KtorZ

[2019-03-19 22:14] piotr-iohk commented on #23
@paweljakubas, @KtorZ - looking at https://github.com/input-output-hk/cardano-wallet/blob/master/src/Cardano/WalletLayer.hs#L71-L75

[code]
this does not to seem to be inline with API spec ->

[code]

[2019-03-19 22:24] KtorZ commented on #23
@piotr.stachyra indeed, and it doesn't have to be. This is the wallet layer to which the API layer talks to.
The representation of the second factor as a mnemonic sequence is really just a detail of the API.
Actually, we could say the same for the main mnemonic and have the wallet layer receives a seed directly.

[2019-03-20 07:55] piotr-iohk commented on #23
lgtm :+1:

[2019-03-20 07:55] #23 closed, assigned to paweljakubas

[2019-03-20 11:40] piotr-iohk opened #89 "Extend network layer to support transaction creation"
# Context

This task is part of the `Submit transaction` story. We need to have our [Network Layer](https://github.com/input-output-hk/cardano-wallet/tree/master/src/Cardano/NetworkLayer) extended such that we can post transaction to the blockchain. [`Cardano-http-bridge`](https://github.com/input-output-hk/cardano-http-bridge) has already the endpoint for posting a transaction `POST: /:network/tx

[2019-03-20 11:48] paweljakubas opened #90 "Keep track of known transactions in the wallet primitive logic"
# Context

At this moment we follow pending transaction set. We need to account also for confirmed transactions. In order to do it we need to extend the wallet state by the list of transaction. Caution should be put here as this extension (in contrast to pending transaction set) is not covered in the wallet spec. There may be the need to extend the wallet spec because of that. Moreover, the keepin

[2019-03-20 11:55] Anviking opened #91 "Automatically generate golden tests for ToJSON instances of API types"
# Context

Golden tests can help us verify that our API json format doesn't change accidentally.

There were some talk about golden-tests on the legacy-wallet (and there was one ticket created  https://github.com/input-output-hk/cardano-wallet-legacy/issues/124)

We have / will have API-level types with `Aeson` `ToJSON`/`FromJSON` - instances. The API types can be composed of smaller types as prod

[2019-03-20 13:13] KtorZ opened #92 "Port coin selection and fee calculation from legacy"
# Context

Coin selection happens in order to choose UTxO from the available ones in a wallet to cover (when possible) for the cost of a transaction. More details in [About Coin Selection](https://github.com/input-output-hk/cardano-wallet/wiki/About-Coin-Selection)

In the context of this new wallet backend, we will need a subset of the coin selection previously developed in the legacy code base:

[2019-03-20 13:15] Anviking opened #93 "Model API Types for Transactions in Servant"
# Context

Adding support for transactions. **In a separate issue** (to be created), Transaction-related types will be introduced inside  [WalletLayer](https://github.com/input-output-hk/cardano-wallet/blob/master/src/Cardano/WalletLayer.hs). **This ticket** is about modeling this functionality on the API-level — creating wrapping types, JSON instances, etc.

- Cf https://github.com/input-output-h

[2019-03-20 13:19] KtorZ opened #94 "Technical Debts from v0.0.1"
# Context

During the development of [v0.0.1](https://github.com/input-output-hk/cardano-wallet/releases/tag/v0.0.1), we have accumulated some technical debts we may get rid of while getting started with this next release.

#### Poor README

| Module | Comments | PR |
| --- | --- | --- |
| - | Our README is quite poor in information and it would be worth adding some basics stuff to it. That's a po

[2019-03-20 13:38] KtorZ opened #95 "Extend Wallet Layer to Support Transaction Creation"
# Context

We do have a [wallet layer](https://github.com/input-output-hk/cardano-wallet/blob/master/src/Cardano/WalletLayer.hs) which is our main interface to deal with wallet operation and make modification on our various checkpoints.

This layer is missing the ability to submit new pending transactions and sign them!

# Decision

Extend the WalletLayer API with a way to submit transaction and k

[2019-03-20 13:57] paweljakubas commented on #94
I am taking `Cardano.NetworkLayer.HttpBridge    - Error cases from convertError`

[2019-03-20 14:27] KtorZ opened #96 "Extend cardano Wallet CLI with selected commands"
# Context

We'll provide a CLI to interact with the wallet layer from the terminal. The CLI acts as a proxy to the wallet backend server (and therefore, requires the wallet server to be up-and-running) such that every endpoint from the API has an equivalent command in the CLI (which delegates the logic to the API via an HTTP call).

e.g. `POST /api/wallets` has a corresponding command `cardano-wal

[2019-03-20 15:02] piotr-iohk commented on #68
lgtm :+1:

[2019-03-20 22:05] #68 closed, assigned to KtorZ

[2019-03-21 00:27] rvl commented on #74
OK, closing this for now :frowning_face: until we can fix Weeder.

@KtorZ What is the issue with stack and code coverage? Has a bug report been made to the HPC or SHC projects?

[2019-03-21 04:42] rvl opened #100 "Monitor memory allocation and stress wallet primitives"
# Context

We need automated tests to ensure that our wallet meets its performance requirements.

In particular, we need these test cases to detect space leaks, or wrong algorithmic complexity.

# Decision

* Come up with test scenarios. For example:
   - receiving blocks from the backend
   - wallet restoration
   - listing transactions
   - input selection
* Make sure benchmarks are run in CI, a

[2019-03-21 09:20] akegalj opened #101 "Compute metadata for transaction"
# Context

A real wallet implementation may need to store more information than we have modelled in the specification so far. For instance, users may wish to know when their pending transactions got confirmed in the blockchain (as opposed to merely that they were confirmed), or what the effect was of a particular transaction on their balance (rather than merely being able to see the current balanc

[2019-03-21 14:09] piotr-iohk commented on #55
lgtm :+1:

[2019-03-21 14:10] #55 closed, assigned to Anviking

[2019-03-21 14:43] piotr-iohk commented on #56
lgtm :+1:

I have added also response code verification in #104.
Also, I have some ideas to extend the framework to make it more negative scenarios friendly. Will add this also to wiki:

- ability to get a response code from the response and use DSL expectiations to assert if it is as expected (kinda addressed in #104)
- ability to explicitly set request headers in order to verify destructive scen

[2019-03-21 15:23] KtorZ commented on #103
May I ask, what's the rational here :no_mouth: ?

[2019-03-21 15:58] jbgi commented on #103
I would say cross-compilation support and better caching are the main reasons.

[2019-03-21 19:34] KtorZ commented on #108
:warning: Beware, the base branch targets #107 :warning:

[2019-03-22 08:31] KtorZ commented on #108
@jonathanknowles Wording & Grammar (& line formatting) reviewed :+1:

[2019-03-22 08:35] KtorZ commented on #103
I wonder: is there a way to get cross-compilation _without_ nix? We aren't going to use nix on our CI (or get the whole team trained for that before, but I don't see this happening in the near future :/) but we might want to get cross-compilation to windows?

[2019-03-22 09:39] KtorZ commented on #106
@piotr-iohk I believe the coverage didn't improve here because you aren't actually evaluating the errors but just, verifying that the constructor yields a `Left`. So GHC doesn't need to go much further in the evaluation steps and _what_ errors is actually triggered isn't tested :wink:

So, we do need a stronger assertion than `isLeft`, likely, a strong equality.

[2019-03-22 10:25] KtorZ commented on #91
(ready for QA?)

[2019-03-22 10:27] KtorZ commented on #107
And you're write, I've fixed it locally (wrong merge conflict resolution from rebase), haven't yet pushed.

[2019-03-22 10:31] piotr-iohk commented on #104
Fixed and cleaned up the imports. :+1:

[2019-03-22 10:34] KtorZ commented on #104
Will rebase/squash and merge after #107 :+1:

[2019-03-22 11:40] KtorZ commented on #56
@piotr-iohk Are you intending to the development for the points you mentioned as part of this ticket? (in which case, I'd suggest to put it back to 'In Progress'), or can close this one and tackle the remaining points as debts next week ?

[2019-03-22 12:11] #56 closed, assigned to rvl

[2019-03-22 12:13] piotr-iohk commented on #56
@KtorZ - yes, the latter :+1: i.e.:

[2019-03-22 14:20] piotr-iohk commented on #69
@KtorZ, code coverage on `WalletLayer.hs` is rather low now ~53%. Mostly due to not exercised `watchWallet` (and called within it `applyBlocks` and `printInfo`).

Perhaps it would be possible to add some integration tests for `watchWallet` similar to [HttpBridgeSpec](https://github.com/input-output-hk/cardano-wallet/blob/master/test/integration/Cardano/NetworkLayer/HttpBridgeSpec.hs)?

[2019-03-22 14:47] KtorZ commented on #69
@piotr-iohk
Yup, I am actually about to cover those as part of the debt ticket we have (those are mentioned points). The watch wallet is a bit tricky to cover since it runs forever; I believe we can just run it for a while in a thread and then, nuke the thread at some point :thinking:
Will do as part of #94

[2019-03-22 14:50] piotr-iohk commented on #69
oh yes, I actually glimpsed at #94 but somehow missed the second table (`Unused code`), where it actually is stated. :)

lgtm :+1:

[2019-03-22 14:50] #69 closed, assigned to KtorZ, paweljakubas

[2019-03-22 15:01] KtorZ commented on #94
I'll look into removing unused code from the WalletLayer & testing the `listen` and `watchWallet` functions through integration tests.

[2019-03-25 04:21] jonathanknowles opened #118 "Servant API: add `postWallet` and `putWallet` operations."
# Context

Sub-issue of issue #53 (Translate the Swagger API specification into a Servant API specification).

# Decision

Translate the `postWallet` and `putWallet` operations to the Servant API, along with all associated types.

# Acceptance Criteria

1. The Servant API _must_ support the `postWallet` and `putWallet` operations.

# PR

PR #119

[2019-03-25 12:40] piotr-iohk commented on #106
@KtorZ, I have added expectations against specific values where I could. Code coverage now increased indeed :+1:

The only error I was not able to produce was `UnexpectedEntropyError` in:
[code]

[2019-03-25 14:28] Anviking commented on #115
I fixed missing import error, but tests are failing for me
[code]

Ah:

[code]

Not sure if we should use different ports, or make sure they are not running at the same time.

[2019-03-25 15:11] KtorZ commented on #117
I'd advise not to spend too much time chasing code styling issues in the current code. If you run into something **while working on a module**, then fix it and makes sure it's in a separate commit so that it's easy to review.
Otherwise, if one isn't adding features or making change to a module, there's no particular reason to change it :+1:

[2019-03-25 16:36] paweljakubas commented on #120
OK - modulo would be good to rebase the branch against master

[2019-03-26 01:37] jonathanknowles commented on #117
Fair enough! In future, will limit any changes to modules in which I'm working.

With that in mind, what would you prefer to do with this PR?

[2019-03-26 14:44] KtorZ commented on #118
Closing this. Let's not open issues outside of the iteration planning meeting, especially when they are sub-tasks of already existing tasks. Rather, use comments on Github or, add bullet points to your development plan :+1:

[2019-03-26 14:44] #118 closed, assigned to jonathanknowles

[2019-03-27 07:08] KtorZ commented on #125
Arg! We agreed on the scope during the last meeting:

- getWallet
- listWallet
- postWallet
- postTransaction
- listTransaction

I've put the ticket in QA already; let's get these merged, but we can move on to something else now :+1:

[2019-03-27 07:13] KtorZ commented on #124
@jonathanknowles I've edit your PR's comments to add the template back with the associated ticket number. Let's try not to get rid of the template, they are the result of several iterations already and have their usage :pray:

[2019-03-27 07:34] jonathanknowles commented on #125
I had interpreted the scope to be everything within issue #53, which states:

But now I notice that it also states (later on):

planning meeting

In which case I now understand your comment. :)

In that case, perhaps we should update the the scope of issue #53, so that it no longer states "all endpoints"?

[2019-03-27 07:36] KtorZ commented on #125
@jonathanknowles Yes, let's update the scope. I mean, no big deal, we'll to get them done at some point. But I'd integrate endpoints incrementally and start implementing handlers and CLI commands for those we already have, so that we are able to deliver _something_ already.

[2019-03-27 07:39] jonathanknowles commented on #125
Okay!

[2019-03-27 07:40] jonathanknowles commented on #125
Done.

[2019-03-27 08:36] KtorZ commented on #94
Looking into quickly adding tests for the overflow cases.

[2019-03-27 08:55] piotr-iohk commented on #91
lgtm :+1:

[2019-03-27 08:55] #91 closed, assigned to Anviking

[2019-03-27 10:39] piotr-iohk commented on #53
@jonathanknowles, @KtorZ - really nice sets of tests for this. I like :+1:

Looking at coveralls there are few places where some cases could be produced:
 - https://coveralls.io/builds/22429878/source?filename=src/Cardano/Wallet/Api/Types.hs#L207
 - https://coveralls.io/builds/22429878/source?filename=src/Cardano/Wallet/Api/Types.hs#L236
 - https://coveralls.io/builds/22429878/source?filename=src/

[2019-03-27 11:43] KtorZ commented on #53
I admit I don't full understand the third one :thinking:  ... But I'll look into them all :+1:

[2019-03-27 12:17] piotr-iohk commented on #53
Also this one seems weird -> https://coveralls.io/builds/22429878/source?filename=src/Cardano/Wallet/Api/Types.hs#L388 since `eitherToParser` is used in other places (e.g. https://coveralls.io/builds/22429878/source?filename=src/Cardano/Wallet/Api/Types.hs#L279).

Anyway, I'll put back to in progress for the time being.

[2019-03-27 13:15] KtorZ commented on #53
For `eitherToParser`, I suspect lazyness is at play here. The other one seems to be an unused option from our serialization option. Will remove.

[2019-03-27 19:02] paweljakubas commented on #121
just rebased to update the branch with master

[2019-03-28 11:06] piotr-iohk commented on #53
lgtm :+1:

[2019-03-28 11:07] #53 closed, assigned to jonathanknowles, KtorZ

[2019-03-29 08:03] KtorZ commented on #132
Merging this to get the `cardano-http-bridge` pre-compiled available on master, and making another PR to change the usage of `bridge` + `server` with launcher + update .travis.yaml to actually have cardano-http-bridge in scope.

[2019-03-29 16:07] piotr-iohk commented on #67
lgtm :+1:

[2019-03-29 16:07] #67 closed, assigned to KtorZ

[2019-03-29 17:26] KtorZ commented on #100
It'd be nice if we could then set some thresholds that would make the CI fails if they are crossed. Also, the ticket only mentions _space_ benchmarking, but would it make sense to also do some _time_ benchmarking on some operations (like coin selection, wallet restoration against mainnet, address discovery for BIG set of addresses)?

[2019-03-31 23:08] rvl commented on #103
@KtorZ I am more than happy to provide training in Nix. It won't take long to learn the basics.
Cross-compilation (and other things) would be a lot harder without Nix.

[2019-04-01 16:27] KtorZ commented on #89
@anviking

This will be done as part of #95

This will also be part of #95 (which is a likely follow-up for this task anyway I suppose :) )

[2019-04-02 18:27] KtorZ commented on #94
Closing as discussed. We'll open a new ticket for the next iteration with new debts.

[2019-04-02 18:27] #94 closed, assigned to rvl, KtorZ, paweljakubas

[2019-04-02 18:31] KtorZ commented on #101
This was done as part of #137 . This ticket is actually redundant with #90 so closing in favor of the latter.

[2019-04-02 18:31] #101 closed, assigned to akegalj

[2019-04-03 08:27] jonathanknowles opened #143 "Define encoders & decoders to and from SQL types"
# Context

Once we've defined an SQL database schema for our wallet backend, we'll need a way to perform:

1. **Encoding**: the conversion of Haskell values into values that can be stored in the database.
2. **Decoding**: the conversion of database values back into Haskell values.

# Decision

When decoding certain values, such as the Wallet state, we may need to trust that the data held within th

[2019-04-03 09:20] KtorZ opened #144 "Make the wallet into a child_process IPC server with support for QueryPort/ReplyPort"
# Context

Daedalus (our main client) works by spawning a corresponding node backend process ensuring the supervision of the node. There are a few steps Daedalus goes through when starting a node as detailed in the diagram below:

![image](https://user-images.githubusercontent.com/5680256/55466176-f4492800-55fe-11e9-820c-eed33d686da8.png)

Among them, one is of particular interest for us at this s

[2019-04-03 09:48] Anviking opened #145 "Finalize manipulation of wallet metadata"
# Context

Before we create a proper SQL DB Store, we'd like to finalize the wallet metadata.

In the our current `MVar` DB layer we're not storing `WalletMetadata`. We'd like to do that.

The current [`WalletId`](https://github.com/input-output-hk/cardano-wallet/blob/c8a276e8711e2683d475f5df2d0c984f0ec7c197/src/Cardano/Wallet/Primitive/Types.hs#L150-L151) is an [`UUID`](http://hackage.haskell.org

[2019-04-03 10:07] piotr-iohk commented on #89
lgtm :+1:
I have added few more tests in #146. @Anviking - pls review if you have a chance.

[2019-04-03 10:12] paweljakubas opened #147 "Define SQL Schema representing relevant Haskell types"
# Context

SQL like db solution is decided to act as db backend for the wallet.

# Decision

SQLite is chosen as SQL db solution. Hence, the schemas for all data to be stored has to be defined. Moreover, the corresponding tables has to be created, and checked that they can be inscribed correctly into the running db process (CREATE TABLE).

# Acceptance Criteria

1 SQL schemas for all types
 (a) Wa

[2019-04-03 10:39] #89 closed, assigned to Anviking

[2019-04-04 07:03] KtorZ commented on #100
@rvl What do you think about using mainnet or testnet data for this? (at least initially). One "fun" thing maybe, would be to provide an 'isOurs' implementation that pretty much recognize ALL addresses as ours, (or one every other) which will such out pretty much everything from mainnet / testnet. Not sure how many transactions is represents, but probably something like 21600 * 110 ~ 2M :man_shrug

[2019-04-04 07:51] rvl commented on #100
That is something we should definitely do -- an acceptance test like we have for the old wallet. The nightly test also measures time taken and heap usage.

I am happy to use the existing chains initially. However we will only be testing historical data, not future possible inputs. And there are other drawbacks.

Adding special `isOurs` implementations is a good idea.

[2019-04-04 15:07] akegalj opened #154 "Extend the current DB layer with an SQLite interface"
# Context

Our current implementation has db layer interface defined in https://github.com/input-output-hk/cardano-wallet/blob/master/src/Cardano/Wallet/DB.hs with `MVar` implementation of this interface defined in https://github.com/input-output-hk/cardano-wallet/blob/master/src/Cardano/Wallet/DB/MVar.hs . This `MVar` interface gives us ability to have in-memory db system. `MVar` was implemented

[2019-04-08 16:36] Anviking commented on #151
Closing to be replaced by other PRs.

[2019-04-09 11:48] KtorZ commented on #157
rebased on top of master + removed unused dependencies in dot cabal.

[2019-04-09 12:28] KtorZ commented on #100
@rvl let's not tackle the **Better** section as part of this ticket but, keep that for another ticket later on.

[2019-04-10 06:33] piotr-iohk commented on #145
lgtm :+1:

[2019-04-10 06:33] #145 closed, assigned to KtorZ

[2019-04-11 12:40] piotr-iohk commented on #90
lgtm :+1:

[2019-04-11 12:40] #90 closed, assigned to rvl, akegalj, KtorZ

[2019-04-11 18:53] KtorZ commented on #172
By the way, restoring from `mainnet` also still looks okay:

![image](https://user-images.githubusercontent.com/5680256/55983607-c8cbda80-5c9b-11e9-92a5-371d397514d8.png)

[2019-04-24 12:20] KtorZ commented on #103
Closing until we decide to allocate resources on this particular feature / tooling.

[2019-04-26 04:38] paweljakubas commented on #176
Reimplemented estimation (based on extensive private talk with @KtorZ). Now, we try not to to be exactly like in cardano-sl, but estimate fee based on current CBOR byte size of `(Tx, [TxWitness])` . Added numerous unit tests that exemplify boundary transition cases. And also one property

[2019-04-26 09:50] KtorZ commented on #93
@akegalj I believe we can put this one in QA now right?

[2019-04-26 09:58] akegalj commented on #93
yes - its ready

[2019-04-26 10:13] paweljakubas opened #186 "Fee estimation"
# Context

We have added coin selection and fee calculation in the context of the former.

# Decision

We need to add fee estimation. Fee estimation is determined based on bytes imprinted in transaction send to the node. The estimation can be relatively simple as:
(a) Inputs are always of the same size because they're a hash and index
(b) Outputs have variable sizes, but that can be easily determi

[2019-04-26 12:10] KtorZ commented on #173
Closing as discussed.

[2019-04-26 18:14] piotr-iohk commented on #92
@paweljakubas, @KtorZ - the ticket is in QA however there is still open pr #176 related to it ( at least it has #92 in Issue number)...

[2019-04-26 18:18] KtorZ commented on #92
Yes, @piotr.stachyra this PR should be attached to another ticket we opened today because the fee calculation was a bit out of scope for #92

[2019-04-29 08:45] piotr-iohk commented on #93
lgtm :+1:

[2019-04-29 08:45] #93 closed, assigned to akegalj

[2019-04-29 09:09] piotr-iohk commented on #100
lgtm :+1:
Good that it is a badge on README and also that it's added as part of `release checklist`, so it is not something that just runs somewhere and noone checks the results or checks them very seldom.

For that matter I have added also the idea from the comment -> https://github.com/input-output-hk/cardano-wallet/wiki/Blackboard#benchmark-tests---automatically-check-the-results

[2019-04-29 09:09] #100 closed, assigned to rvl

[2019-04-29 09:34] KtorZ commented on #190
Well.. it seems it still doesn't work. There's some nix magic going on here I suppose :| ... I am not sure to understand what's happening. I'll investigate a bit more.

[2019-04-29 09:38] piotr-iohk commented on #92
@KtorZ (addressing you since @paweljakubas is off) - seems there are few areas here that are not _covered_ by tests:

- https://coveralls.io/builds/23064602/source?filename=src/Cardano/Wallet/CoinSelection/Policy/Random.hs#L135
- https://coveralls.io/builds/23064602/source?filename=src/Cardano/Wallet/CoinSelection/Policy/Random.hs#L183
- https://coveralls.io/builds/23064602/source?filename=src/Car

[2019-04-29 10:11] piotr-iohk commented on #186
I have same remark as -> https://github.com/input-output-hk/cardano-wallet/issues/92#issuecomment-487516998, but with regards to https://coveralls.io/builds/23064602/source?filename=src/Cardano/Wallet/CoinSelection/Fee.hs.

I'm not sure how feasible is to cover the missing parts for both [Fee.hs](https://github.com/input-output-hk/cardano-wallet/blob/master/src/Cardano/Wallet/CoinSelection/Fee.hs)

[2019-04-29 10:38] KtorZ commented on #186
Well, for the invariant, we won't be able to cover them (otherwise it means something's really going wrong :joy:). However, there are indeed some extreme corner case / overflow case we could probably cover with a hand-written unit test. Let me try.

[2019-04-29 10:43] KtorZ commented on #92
So. @piotr-iohk

- L135 & L209: This is interesting. It looks like we are not evaluating the resulting change in our tests :thinking: ... I'll have a look into this.

- L183: Looking a bit more into `condC`, it seems that this condition is _redundant_ with `condB`. Indeed, the only way to exceed the maximum amount would be by selecting an input that doesn't get us closer to our ideal (but get us r

[2019-04-29 12:55] piotr-iohk opened #192 "Error message for mnemonics (mnemonic_sentence and mnemonic_second_factor)"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Linux | Code  |

# Context

Error message for `mnemonic_sentence` and `mnemonic_second_factor` need to be improved:

E.g. when doing `POST v2\wallets` and providing invalid mnemonic sentence or valid mnemonic sentence but with invalid length to one of the parameters the following error is returned

[2019-04-29 13:39] KtorZ commented on #190
Finally nailed it and buildkite just finished successfully.

[2019-04-29 17:22] Anviking commented on #195
The third I can get, but the first two 🤔

[code]

[2019-04-29 17:24] KtorZ commented on #195
@Anviking you're probably running integration tests against mainnet, aren't you ?

[2019-04-29 17:36] Anviking commented on #195
"you're holding it wrong" :trollface:

But, yep, thanks. Thought I tried it.

[2019-04-29 17:38] KtorZ commented on #195
Might be a good idea to have a check before running the integration tests making sure the network is NOT mainnet..

[2019-04-30 11:04] KtorZ commented on #92
@piotr-iohk The first previous point has been fixed with #196.
Second point won't be fixed here, the condition is never evaluated in our testing and I do believe we can't encounter it, but I don't want to remove it without proper thinking / analysis and keep it as a guard.

[2019-04-30 15:09] piotr-iohk commented on #192
lgtm :+1:
tested on #194

[2019-04-30 15:09] #192 closed, assigned to KtorZ

[2019-04-30 15:24] piotr-iohk commented on #92
:+1:

[2019-04-30 15:24] #92 closed, assigned to paweljakubas

[2019-04-30 15:59] piotr-iohk opened #204 "Error message for address_pool_gap"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Linux | Code |

# Context

While doing `POST v2/wallets` one needs to provide `address_pool_gap` which needs to be between 10 and 100.
When providing the value that is outside range there is an error message thrown `Error in $['address_pool_gap']: ErrGapOutOfRange`. This message should be made mor

[2019-05-02 09:24] KtorZ commented on #186
@piotr-iohk I believe we can now close this one. Remaining "uncovered" areas are:

- Invariants:
![image](https://user-images.githubusercontent.com/5680256/57066261-071d4e00-6ccc-11e9-86dd-4d3a03e9247b.png)
![image](https://user-images.githubusercontent.com/5680256/57066276-10a6b600-6ccc-11e9-97ea-3f840da19d78.png)

- Some un-evaluated `Coin 0` or `[]` because the results are always discarded (cle

[2019-05-02 09:59] #186 closed, assigned to paweljakubas

[2019-05-02 11:55] akegalj commented on #96
I don't believe this is necessary. My experience with CLI tools is that sometimes there is an option to read passphrase from stdin - and then user can redirect file to stdin or similar.

But adding option to store passphrase to the file might not be the wise thing - as it might lead to errors from the user:
 * user might forget that there is a file with his passphrase
 * user might forget to chang

[2019-05-06 09:46] piotr-iohk commented on #95
lgtm... conditionally (well, ok, the scope was `Extend Wallet Layer...` and this is delivered so... ok... lgtm :+1: ).

However I cannot yet test it on `testnet` with actual public facing API endpoint (in spite it is already implemented). The blocking issue is mainly that `GET addresses` endpoint is not implemented, hence there is no way to send any funds to the wallet (as address is unknown).

Al

[2019-05-06 09:47] #95 closed, assigned to Anviking

[2019-05-06 09:58] piotr-iohk commented on #204
I need to return that back to `In progress` as still there are few cases producing not expected behaviour:

Some particular negative values (but not all of them), e.g.:
address_pool_gap = -1000 -> creates wallet with `address_pool_gap = 24`
address_pool_gap = -132323000 > creates wallet with `address_pool_gap = 72`

floating point numbers:
address_pool_gap = 2.5 -> `Int is either floating or will

[2019-05-06 10:48] KtorZ opened #217 "Address format in Shelley era (single address)"
# Context

In the next Cardano era, address format is going to be different from what it is currently.
A specification of this revision is available on [input-output-hk/implementation-decisions](https://github.com/input-output-hk/implementation-decisions/blob/master/text/0001-address.md).

Note that in Shelley, addresses can now hold a staking key when they're involved into
delegation.

Another si

[2019-05-06 10:51] KtorZ opened #218 "Jörmungandr block format"
# Context

Jörmungandr introduces a new binary block format. This format is described in
[rust-cardano-/chain-impl-mockchain/doc/format.md](https://github.com/input-output-hk/rust-cardano/blob/master/chain-impl-mockchain/doc/format.md).

In order to integrate with Jörmungandr, we therefore need to build a few
primitives first, starting with the block format. As a starter for testing,
we have the f

[2019-05-06 10:51] KtorZ opened #219 "Jörmungandr REST-API / Network Layer"
# Context

In a similar fashion to how the cardano-http-bridge works, Jörmungandr offers a
REST API to work with. This API is still in progress / under development but
already offers a few endpoints we can start integrating with in order to communicate
with the node.

A swagger specification for this API is available [here](https://gist.github.com/CodeSandwich/1349fef0d1fd277b018be04e996c6df2/) ([

[2019-05-06 11:50] KtorZ opened #220 "Technical Debts - Week 18"
# Context

Open a ticket to work on a few technical debts we've accumulated and could fix. The idea is similar to what we did in #94, and have a few bullet points of items that don't necessarily fit into any other milestones but still have some value for the project:

# Decision

- [x] (@KtorZ) [#222] Review Buildable instances for primitive types to be more readable & tested
- [x] (@Anviking  ) [

[2019-05-06 13:05] KtorZ commented on #221
I'll look into fixing the failing cases :thinking:

[2019-05-06 14:22] KtorZ commented on #204
@piotr-iohk, parser for non-integer & out-of-range values fixed it #221. Putting this back in QA (cf integration tests related to address_pool_gap).

[2019-05-06 14:40] piotr-iohk commented on #204
lgtm :+1:

[2019-05-06 14:40] #204 closed, assigned to KtorZ

[2019-05-07 07:59] KtorZ commented on #147
@paweljakubas
The schema for pending transaction and transaction history should actually be the same. This is still under some discussion with the formal spec team, but we might re-consider the way we approach pending transactions. In the end, pending transactions (from a data perspective) are nothing less than classic transactions. They have a special "status" at a given point in time but, with r

[2019-05-07 08:45] piotr-iohk opened #229 "cardano-wallet CLI - few issues to be tackled"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Linux | Code  v Configuration v Environment v Human v Unknown |

# Context

Bug to gather and address some issues that need to be fixed for CLI

**Need to be fixed:**
- ~`get wallet` doesn't work, prints out `Something went wrong`~ fixed by #230
- `--version` doesn't print out anything
- `--port`

[2019-05-07 12:03] piotr-iohk commented on #229
FYI, same thing for is for `get wallet` - I've added bullet point to the ticket description :+1:

[2019-05-08 08:25] KtorZ opened #238 "Bech32 Library"
# Context

In Shelley, addresses are encoded in [bech32](https://github.com/bitcoin/bips/blob/master/bip-0173.mediawiki).  A reference implementation (in Haskell) for bech32 encoding available [here](https://github.com/sipa/bech32/tree/master/ref/haskell).

# Decision

- Evaluate the quality of this reference implementation
- Extract it as a package and re-locate it in our `lib/`
- Add extra tests

[2019-05-08 08:29] KtorZ opened #239 "Address format in Shelley era (grouped address)"
# Context

See #217. In this ticket, we're interested in the _grouped address_, containing a staking key.

# Decision

- Finalize the implementation for the address format, and support the grouped address

# Acceptance Criteria

1. We _must_ support creating _grouped addresses_ from a public address key and a public staking key using the new format

---

# Development Plan

- [x] Actually got tack

[2019-05-08 09:06] KtorZ opened #242 "Jörmungandr in CI"
# Context

In order to start experimenting with Jörmungandr API, we'll need to set it up in the CI and make it available, in a very similar fashion the cardano-http-bridge is available.

Being a full node (and not a proxy like the bridge), Jörmungandr requires some extra configuration and details in order to be set up. A full documentation is available on the repository, and hosted [here](https://

[2019-05-08 09:07] piotr-iohk commented on #229
lgtm :+1:

Few things that will go to the list of _Ideas_:
- if the passphrases don't match - prompt user to put them again twice
- make wallet backend server introduce itself in the HTTP header `server` (and make CLI to check for that value and put some warning/error if it don't match)
- `create wallet` wizard to be a whole responsive/prompt CLI
- different levels of `--help`

[2019-05-08 09:07] #229 closed, assigned to KtorZ

[2019-05-08 09:14] KtorZ commented on #219
@Anviking I'd recommend having a look at #242 before looking into that one :pray:

[2019-05-09 07:11] KtorZ commented on #244
Indeed :upside_down_face:

[2019-05-09 13:40] piotr-iohk opened #250 "GET v2/wallets does not list wallets from oldest to newest"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Linux| Code or Human or Unknown |

# Context

https://input-output-hk.github.io/cardano-wallet/api/#operation/listWallets says `Return a list of known wallets, ordered from oldest to newest.` which currently it not the case.

# Steps to Reproduce

1. Add wallets "1", "2" and "3" in the following o

[2019-05-09 14:02] KtorZ commented on #220
Not 100% sure if those are the right ones, but time will tell. I'll try to make transactions coming from those redemption addresses:

<details>
    <summary>See Local Redemption Address + Private Key</summary>

Public Address (Base58) | Private Key (Base16)
--- | ---
2cWKMJemoBaiFVqCFz8u5coqEfnrSB4FPGf7bcf1NmTrCf3nJUBSufmjSbKqvm5STgFyR | f9555ea827d77ceb6516851d04ac51f2e2d5cdcabb84ab182104bd227861

[2019-05-09 21:31] rvl commented on #238
I am against reformatting code of vendored dependencies.
It doesn't improve the functionality in any way, and will make applying changes more difficult if the reference implementation changes.

[2019-05-11 09:56] KtorZ commented on #144
Closing this until we resolve the discussion about this topic with the frontend team.

[2019-05-14 04:41] jonathanknowles commented on #238
@rvl @KtorZ

Current limitations of the reference implementation.

## Building

The reference implementation is not available on Hackage.

## Testing

1. Several building-block functions are not individually tested for correctness.
    * `convertBits`, `toBase32`, `toBase256`, `bech32HRPExpand`

2. Certain properties that should hold between functions are not individually tested. For example:

[2019-05-14 04:55] jonathanknowles commented on #238
@rvl wrote:

Assuming that it's feasible for us to push our changes upstream, and then consume upstream as an ordinary library (the ideal scenario), then I completely agree with this objection.

On the other hand, if we're aiming to (effectively) produce a new library (with code that is substantially different from the reference implementation), then I think this becomes less necessary. We do need

[2019-05-14 07:17] jonathanknowles commented on #154
@KtorZ @rvl @akegalj

Regarding concurrency:

1. For the Sqlite implementation, are there any invariants or constraints that can only be maintained programmatically, in Haskell code, rather than by the underlying database implementation?
2. For the functions provided by `DBLayer` (`createWallet`, `removeWallet`, `listWallets`, and so on) what level of concurrency do we need to provide to consumers

[2019-05-14 07:33] piotr-iohk commented on #258
Looks good (but does not compile ;) )

[2019-05-14 07:34] KtorZ commented on #258
Yes, just noticed some functionalities moved from a module to another :) .. Fixed.

[2019-05-14 11:36] piotr-iohk opened #260 "No additional error message in case of 4xx responses"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    |  Linux |  Code |

# Context

For some 4xx response codes returned by the API we do deliver additional error message indicating what is _wrong_ with the request (These are mainly true for `400` responses which are most often due to invalid request parameters - additional message often explains what

[2019-05-14 12:10] KtorZ commented on #238
@rvl Point is we'll probably not push changes upstream as this isn't a vendored dependency but a reference implementation on a repository. I'd be keen to actually publish our revised implementation to hackage (with consent of and credits to its original author) and maintain this published version.

The reference implementation is a good starting point, it gives a baseline for the core logic, but w

[2019-05-14 19:00] Anviking commented on #218
I think the example is wrong 🙃 (or so I hope at least)

The `Initial`- and `Transaction`-messages were just way off from the format spec (and mockchain code).

This (from the mockchain) works much better:

<details>

[code]

</details>

[code]
though it is only the `Initial` message.

[2019-05-15 09:43] jonathanknowles commented on #248
@KtorZ I've added more tests, and separated out the modules into public (`Bech32`) and internal (`Bech32.Internal`). This PR is ready for final review and merging.

I've moved the WIP error location detection code to a separate branch for the moment. (`jonathanknowles/bech32-lib-error-location-detection`)

[2019-05-15 11:57] KtorZ commented on #218
@Anviking So indeed, the format seems to have changed a bit but after checking with the Rust team, the documentation seems _okay_. Here-below is a new genesis block generated from the latest master branch (+ some small tweaks to resolve compile-error :s). It should also include some initial certificate and legacy funds. So, more fun to decode:

[code]

[2019-05-15 13:12] piotr-iohk commented on #96
I have added some integration tests for CLI #264 (however don't know if it's gonna work, in particular still not sure how to test `cardano-wallet wallet create` since it is a _responsive_ cli)
Also planning actually to create some manual regression test suite and make it part of the Release Checklist. (especially for anything that cannot be covered by integration tests)

Anyway still it would be g

[2019-05-15 13:45] piotr-iohk opened #265 "Inconsistent response code on wallet update pass (403 and 404)"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    |  Linux | Code  |

# Context

https://github.com/input-output-hk/cardano-wallet/pull/261#discussion_r283760753

# Steps to Reproduce

[code]

## Expected behavior

should be probably `404` for all cases

## Actual behavior

when the wallet ID is valid 40 hex but non-existing -> `403`
when the walle

[2019-05-15 15:39] KtorZ opened #268 "Missing 'Transaction' schema from list transaction and create transaction in API documentation"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Configuration |

# Context

The response schema from `listTransaction` and `createTransaction` in the API shows nothing, or inconsistent values... Something's probably off with the swagger specification.

- https://input-output-hk.github.io/cardano-wallet/api/#operation/li

[2019-05-16 11:28] piotr-iohk commented on #265
:+1:

[2019-05-16 11:28] #265 closed, assigned to KtorZ

[2019-05-16 12:20] piotr-iohk commented on #268
:+1:

[2019-05-16 12:20] #268 closed, assigned to KtorZ

[2019-05-16 22:25] Anviking commented on #218
I am thinking of starting #242  to get more blocks to test vectors here… 🤔

[2019-05-17 06:46] KtorZ commented on #218
By the way @Anviking, this is the genesis file that was used to generate the block above:

[code]

[2019-05-17 06:47] KtorZ commented on #218
I'd suggest to finalize #218 first. This ticket was really about getting the block content and header decoded as a first step. You also added (partial) transaction decoding which is cool. So I'd suggest to wrap up and send this one in QA before going with #242

[2019-05-17 07:46] KtorZ commented on #275
bors r+

[2019-05-17 09:04] KtorZ commented on #96
@piotr-iohk I just realized that we won't get any code-coverage with the CLISpec integration tests. Because stack only collects code-coverage for code that is executed through the test-suites (and here, it's executed through a separate executable).

There seems to be a way to instrument stack to generate coverage reports with extra inputs from other executables. I'll have a look and see whether I

[2019-05-17 12:35] Anviking commented on #275
bors r+

[2019-05-17 14:12] piotr-iohk commented on #96
Added more integration tests. Still plan to add more, but we can close this one.

[2019-05-17 14:12] #96 closed, assigned to jonathanknowles, KtorZ

[2019-05-17 14:13] piotr-iohk commented on #220
:+1:

[2019-05-17 14:13] #220 closed, assigned to Anviking, KtorZ, piotr-iohk

[2019-05-20 07:57] piotr-iohk commented on #238
@jonathanknowles, @KtorZ  This ticket is still in progress, isn't it? (as there is an open PR that's related https://github.com/input-output-hk/cardano-wallet/pull/277)

[2019-05-20 09:19] piotr-iohk commented on #218
lgtm :+1:

[2019-05-20 09:19] #218 closed, assigned to Anviking

[2019-05-20 10:07] rvl commented on #285
bors try

[2019-05-20 13:01] piotr-iohk opened #286 "Total and available balance are reported as 0 until transaction gets into ledger"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Linux | Code  v Configuration v Environment v Human v Unknown |

# Context

# Steps to Reproduce

0. start cadrano-http-bridge and server
[code]

1. Create two wallets (get some funds to one of the wallet's from the faucet - https://webdevc.iohk.io/cardano/faucet/)
2. Send transaction from one wal

[2019-05-20 13:04] KtorZ commented on #238
@piotr-iohk Technically ... no. The PR corresponds to some enhancement that are non-necessary for the ticket itself. But, we might as well wait for them the PR to be merged now...

[2019-05-20 14:38] KtorZ commented on #144
As discussed with Daedalus, this is back up on the roadmap, so re-opening this ticket which is still valid.

[2019-05-21 06:45] jonathanknowles commented on #238
@KtorZ wrote:

 The error location detection is of course non-essential to this issue.

However, that particular PR (#277) had another component: it added a set of **property tests** to verify that corrupted Bech32 strings are correctly rejected by the decode function. Corruption is simulated in various ways:
- deleting characters
- inserting characters
- swapping characters
- mutating characters

[2019-05-21 06:48] KtorZ commented on #238
Didn't realize that. Thanks for the heads up @jonathanknowles :pray:

[2019-05-21 06:52] jonathanknowles commented on #238
No problem! :)

[2019-05-21 07:41] KtorZ opened #291 "Shuffle statistical tests sometimes fail ..."
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code  |

# Context

We use statistical tests to verify that our shuffle function does a fair job at .. shuffling:

https://github.com/input-output-hk/cardano-wallet/blob/master/lib/core/test/unit/Cardano/Wallet/Primitive/CoinSelectionSpec.hs#L77-L83

However, sometimes, qu

[2019-05-21 08:15] KtorZ commented on #147
Closing in favor or #154
The initial task split was done "horizontally" which doesn't really suit well the development on this feature. In the end, it's much easier to implement a bit of the layer, the corresponding schemas and the corresponding DB queries and move on to the next bits of the layer and so forth.

[2019-05-21 08:15] #147 closed, assigned to jonathanknowles, rvl, paweljakubas

[2019-05-21 08:15] KtorZ commented on #143
Closing in favor or #154
The initial task split was done "horizontally" which doesn't really suit well the development on this feature. In the end, it's much easier to implement a bit of the layer, the corresponding schemas and the corresponding DB queries and move on to the next bits of the layer and so forth.

[2019-05-21 08:15] #143 closed, assigned to rvl, paweljakubas

[2019-05-21 08:29] zhangtiantian222 opened #294 "wallet"
Launched a Daedalus purse, but there is no port 8090, how to configure with this portubuntu 18.04 | Launched a Daedalus purse, but there is no port 8090, how to configure with this portubuntu 18.04
-- | --
Launched a Daedalus purse, but there is no port 8090, how to configure with this portubuntu 18.04

[2019-05-21 08:30] zhangtiantian222 commented on #294
![TIM截图20190521113914](https://user-images.githubusercontent.com/38236278/58080386-b3749500-7be5-11e9-8980-657aa96bc01b.png)

[2019-05-21 08:58] jonathanknowles commented on #250
@KtorZ Do you know if there's an operation or interface that makes it possible to determine the "creation time" of a wallet? (I had a brief look through the code, but couldn't spot anything relevant.) If not, how we would go about determining this info? (And where should it be stored?)

[2019-05-21 09:30] KtorZ commented on #250
We cannot do this at the moment indeed. So we should have some sort of timestamp somewhere. What makes most sense is probably to have that within the wallet metadata and store it upon creation.

[2019-05-21 09:37] KtorZ commented on #294
Hello :)
I don't think you're in the right place here or, I am missing some context from your issue.

If you have trouble using Deadalus, please refer to the [support portal](https://iohk.zendesk.com/hc/en-us/categories/360000877653-Daedalus-wallet-mainnet) which contains quite some troubleshooting information. If needed, you can always submit a ticket to the support team to have them help you.

I

[2019-05-21 09:37] #294 closed, assigned to nobody

[2019-05-21 10:08] piotr-iohk commented on #238
@jonathanknowles I have added small pr to #296 to improve coveralls of the bech32 lib. Can you double check if the _invalid checksum_ is expected to produce the corresponding _error_? (https://github.com/input-output-hk/cardano-wallet/pull/296/files#diff-5f9d3bec57a1b2fd69dbc65646199e44R276)

[2019-05-21 10:56] KtorZ commented on #296
bors r+

[2019-05-21 11:11] piotr-iohk commented on #296
bors r+

[2019-05-21 11:56] KtorZ commented on #296
bors r+

[2019-05-22 08:29] #238 closed, assigned to jonathanknowles

[2019-05-22 08:32] piotr-iohk commented on #242
:+1:

[2019-05-22 08:32] #242 closed, assigned to Anviking

[2019-05-22 08:54] jonathanknowles commented on #238
Hi @piotr-iohk. I've just checked, and this looks good to me.

[2019-05-22 10:49] piotr-iohk commented on #286
:+1:

[2019-05-22 10:49] #286 closed, assigned to KtorZ

[2019-05-22 11:12] piotr-iohk commented on #291
:+1:

[2019-05-22 11:12] #291 closed, assigned to KtorZ

[2019-05-22 11:41] KtorZ opened #302 "Technical Debt Week 21"
# Context

When using `unsafeGenerateKeyFromSeed` or `generateKeyFromSeed` from the `Cardano.Wallet.Primitive.AddressDerivation` module, the length of the seed should be at least 16-bytes (cf: [cardano-crypto@Cardano/Crypto/Wallet.hs#L119-L124](https://github.com/input-output-hk/cardano-crypto/blob/3c5db489c71a4d70ee43f5f9b979fcde3c797f2a/src/Cardano/Crypto/Wallet.hs#L119-L124))

# Decision

It's

[2019-05-23 13:15] jonathanknowles opened #311 "Bech32 decoder fails for certain valid Bech32 strings."
## Overview

When presented with certain **known-valid** Bech32 strings from [BIP 173](https://github.com/bitcoin/bips/blob/master/bip-0173.mediawiki) (the Bech32 specification), our [Bech32 decoder](https://github.com/input-output-hk/cardano-wallet/blob/501f5157e179d8c62eb082813c45b2a830e26643/lib/bech32/src/Codec/Binary/Bech32/Internal.hs) currently fails:

[code]

The reference Haskell implemen

[2019-05-24 07:56] jonathanknowles opened #314 "Bech32 encoder can be coerced into producing a string that can't be decoded"
## Context

When `encode` is applied to a `HumanReadablePart` containing one or more **upper-case** characters, it results in an **invalid** Bech32 string that cannot be decoded with the `decode` function.

## Steps to Reproduce
[code]

## Expected behaviour
[code]

## Actual behaviour
[code]

## Cause

This appears to be caused by the [`encode`](https://github.com/input-output-hk/cardano-wallet/b

[2019-05-24 09:20] jonathanknowles commented on #314
Raised this issue as a bug against the Haskell Bech32 reference implementation here: https://github.com/sipa/bech32/issues/49

[2019-05-24 09:28] jonathanknowles commented on #314
Fix available in https://github.com/input-output-hk/cardano-wallet/pull/312

[2019-05-24 10:12] KtorZ opened #316 "Invalid boundaries for fee estimation in transaction scenario"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Human |

# Context

It's a bit tricky to know exactly how much fee a transaction will have to leave in the transaction... In practice, it depends on the size of the input indexes. Bigger indexes take few more bytes to encode, smaller one less bytes. So we are checking fees

[2019-05-24 11:21] piotr-iohk commented on #260
well done :) :+1:

[2019-05-24 11:21] #260 closed, assigned to KtorZ

[2019-05-24 11:23] piotr-iohk commented on #316
:ok_hand:

[2019-05-24 11:23] #316 closed, assigned to KtorZ

[2019-05-24 13:01] piotr-iohk commented on #311
nice one :+1:

[2019-05-24 13:01] #311 closed, assigned to jonathanknowles

[2019-05-24 13:07] piotr-iohk commented on #314
:+1:

[2019-05-24 13:07] #314 closed, assigned to jonathanknowles

[2019-05-27 07:14] jonathanknowles opened #324 "Bech32 `decode` function successfully decodes certain classes of corrupted strings."
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | (Windows & OSX & Linux) | Code |

# Context

For certain Bech32 strings, **deleting** or **inserting** a single character will produce strings that are **still valid** according to our implementation. There appear to be **two** main cases:

1. **Insertion**: if a valid Bech32 string has the suffix

[2019-05-27 07:46] jonathanknowles commented on #324
An example with more debugging information:
[code]

In the above example, the character has been omitted from the **checksum** part.

[2019-05-27 08:00] jonathanknowles commented on #324
Every counterexample I've found so far has the same thing in common:

1. The character chosen (to be randomly omitted by the test) is the **second-to-last** character.
2. The character omitted is `q`, which corresponds to a `Word5` value of `0`.

Another example:
[code]

[2019-05-27 08:32] jonathanknowles commented on #324
Sometimes the letter `q` can be inserted into a valid string (as the second-to-last character), and it doesn't cause the decoder to fail:
[code]

[2019-05-27 12:45] piotr-iohk opened #326 "Cannot post transaction after updating wallet's passphrase"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Linux | Code  |

# Context

# Steps to Reproduce

1. Create wallet (with some funds)
2. update wallet's password
3. Try to post transaction using newly updated password

## Expected behavior

Transaction should be posted.

## Actual behavior

[code]

---

# Resolution Plan

After investigation, it

[2019-05-27 15:30] KtorZ commented on #217
# Current State of Affairs

We currently manipulate and represent addresses as:

[code]

where the address internal representation is the whole address payload on Byron. In other
words, the `ByteString` is a cbor encoding of various consistuent derived from the address
public key.

We represent addresses in a human-friendly way using a `Base58` encoding at the API-level.
This goes though `ToText`

[2019-05-28 09:11] jonathanknowles commented on #324
I've raised an issue against the reference implementation, here: https://github.com/sipa/bech32/issues/51

[2019-05-28 09:22] jonathanknowles opened #331 "Bech32 character mutation test occasionally fails."
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code |

# Context

https://travis-ci.org/input-output-hk/cardano-wallet/jobs/538075040

# Steps to Reproduce

Run the test suite with `--match "mutated"`, and with seed 998627727.

## Expected behavior

The test suite will pass.

## Actual behavior

We see the following er

[2019-05-28 09:59] jonathanknowles commented on #331
This particular failure appears to occur because the **separator character** was replaced by a **different** character.  This then causes the decoder to treat the _earlier_ `1` as a separator character. The decoder **correctly** rejects the new string, but with an error that was different from what the test case was expecting.

**Recommendation**: change the test case to make it just check for `is

[2019-05-28 10:20] jonathanknowles commented on #331
Fix available here: #332

[2019-05-28 11:22] piotr-iohk opened #333 "Sending transaction to not-valid address (yet being base58 encoded string) gives HTTP 500 -> "Something went wrong""
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Linux | Code |

# Context

When trying to send  transaction to in-valid address there should be a meaningful error message provided. Currently when trying to send transaction to address that is NOT base58 encoded string there is a `HTTP 400` response and an error message:

[code]
(yet this message

[2019-05-28 13:33] piotr-iohk commented on #333
:+1:

[2019-05-28 13:33] #333 closed, assigned to KtorZ

[2019-05-28 15:32] piotr-iohk commented on #326
:+1:
Also there is integration tests covering this case in #335.

[2019-05-28 15:32] #326 closed, assigned to KtorZ

[2019-05-29 07:27] piotr-iohk commented on #331
:+1:

[2019-05-29 07:27] #331 closed, assigned to jonathanknowles

[2019-05-29 07:32] piotr-iohk commented on #324
:+1:

[2019-05-29 07:32] #324 closed, assigned to jonathanknowles

[2019-05-29 08:16] jonathanknowles opened #339 "Bech32 mixed-case mutation test fails occasionally."
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code |

# Context

Occasionally, the Bech32 mixed-case mutation test fails with an error similar to:

[code]

# Cause

The cause of this appears to be obvious: if the generated string only has a single alphabetic character, and if we change the case of just that character,

[2019-05-29 08:31] jonathanknowles commented on #339
Fix available: #340

[2019-05-29 12:50] KtorZ commented on #342
Well, that's actually the same idea. I ran into this again with the bridge and did a bit of debugging. It appears that this little delay might solve the issue. At least, it doesn't cost much to try :man_shrugging:

[2019-05-30 02:18] jonathanknowles commented on #339
:champagne:

[2019-05-30 07:26] piotr-iohk commented on #339
:+1:  (thanks a million! 😁)

[2019-05-30 07:26] #339 closed, assigned to jonathanknowles

[2019-05-30 07:28] jonathanknowles commented on #250
Fix available: #344

[2019-05-30 13:20] piotr-iohk commented on #217
lgtm! :+1:

[2019-05-30 13:20] #217 closed, assigned to KtorZ

[2019-05-30 13:20] piotr-iohk commented on #239
:+1:

[2019-05-30 13:20] #239 closed, assigned to KtorZ

[2019-05-31 06:54] piotr-iohk commented on #250
fixed :+1:

[2019-05-31 06:54] #250 closed, assigned to jonathanknowles

[2019-06-04 08:45] KtorZ opened #350 "Set up proper logging"
# Context

The [iohk-monitoring-framework](https://github.com/input-output-hk/iohk-monitoring-framework) offers a set of tools including logging. We currently don't have any proper logging solution setup in our codebase. We fake it via some `TIO.putStrLn` and `sayErr` but, nothing very meaningful or production-ready.

A simple logging solution is an event-stream of structured data output by the ap

[2019-06-04 08:52] KtorZ opened #351 "Define and document logging semantics"
# Context

One of the hardest question to answer when it comes to logging is what NOT to log, and when logging, to which degree? What is an error? What is an info?

# Decision

- Document as a coding standard the semantics we give to various log levels
- Have a few examples for each level
- Have a few examples of things NOT to log
- Define what is private and shouldn't appear in the log

# Accepta

[2019-06-04 09:00] KtorZ opened #352 "Middleware for API logging"
# Context

Server and API logging are somewhat special. They provide little insights about the internals of the application as they only log the user-visible part. Still, they are very useful to have when debugging in order to trace back what users have been doing and better understand what caused some other application logs.

# Decision

- Create a new Wai middleware to log request and response f

[2019-06-04 09:34] jonathanknowles opened #353 "QSM DB tests don't check that all tags are covered."
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code |

# Context

Module `Cardano.Wallet.DB.StateMachine` defines set of `Tag` values to represent various test scenarios that are considered important or interesting. It also supplies a `tag` function to match `Tag` values to arbitrary sequences of commands.

However, th

[2019-06-04 11:50] KtorZ opened #354 "Review and add logging into the application layer"
# Context

Our application lacks helpful logging that would improve diagnosis of errors or bad behaviours over time. According to the semantics defined in #351 and the logging capability introduced in #350, we should be able to provide insights for various pieces of the wallet back-end, where it makes sense.

# Decision

- Replace existing "fake" logging attempts like `say` or `putStrLn` by actual

[2019-06-04 12:01] KtorZ opened #355 "Improve context and details of existing errors"
# Context

Many of our application errors are poorly self-documenting. For instance, when the network is unreachable, we get a `ErrNetworkUnreachable Text` where this `Text` is raw network error without any context.
Another example, when we fail to select coins because there's not enough money, we return a `ErrNotEnoughMoney Word64 Word64` capturing the available UTxO amount and the payment amount

[2019-06-04 12:05] KtorZ opened #356 "Allow filtering by address state when fetching all addresses"
# Context

In order to test transaction creation and submission, earlier on we had to implement the ability to list known addresses from the API. However, according to the specification, we should be able to filter known addresses by state (used vs unused).

See: [Api Doc - listAddresses](https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/listAddresses)

# Decision

- Allow filte

[2019-06-04 12:11] KtorZ opened #357 "Support Jörmungandr as a backend target in CLI"
# Context

The CLI offers a command `server` for starting a wallet backend server. That server is intended to connect and work with a specific node backend. At the moment, the CLI necessarily spawns a `server` which solely supports `cardano-http-bridge` as a backend.

In the long run, we want the CLI to support many backends (at least 3 among: http-bridge, jormungandr and shelley Haskell).

Some e

[2019-06-04 12:18] KtorZ opened #358 "Integration tests on Jörmungandr"
# Context

Our integration test scenarios (see [Test/Integration/Scenario](https://github.com/input-output-hk/cardano-wallet/tree/master/lib/http-bridge/test/integration/Test/Integration/Scenario)) describe interactions with the API or CLI and expectations from these interactions. In practice, most of these scenarios are backend-agnostic and, we should be able to replay most of them for either `ca

[2019-06-04 12:20] KtorZ opened #359 "Resolve integration issues with Jörmungandr"
# Context

Since we are integrating for the first time with a brand new piece of software, built "in isolation", an for which we have little control of, it is very likely that something will go wrong during this integration. We will face issues and have to cope with unforeseen problems.

# Decision

This task is simply a buffer / bucket for problems that we may find during the integration. There's

[2019-06-04 14:03] KtorZ opened #361 "Fee estimation comparison failed in CI"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Test |

# Context

I've observed the following failure in one of our quickcheck test comparing an estimated tx size with its actual computed size. Here's the counter example yield by quickcheck:

<details>
    <summary>Failing transaction</summary>

[code]
</details>

<det

[2019-06-04 15:27] piotr-iohk opened #364 "Transaction with amount 0 on http bridge fails with error HTTP 500"
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Linux | Code  v Configuration v Environment v Human v Unknown |

# Context

The transaction with 0 amount on Byron node should fail more gracefully than HTTP 500. cf https://github.com/input-output-hk/cardano-wallet/pull/335#discussion_r288165883

# Steps to Reproduce

Run transaction with 0 amoun

[2019-06-05 03:16] jonathanknowles commented on #353
Fix available: #367

[2019-06-05 06:35] jonathanknowles commented on #357
@KtorZ wrote:

I'm just curious as to what's the rationale behind this decision? Why not handle the choice at run-time?

[2019-06-05 06:37] jonathanknowles commented on #356
@KtorZ Can we rename this task to something like:

(It seems clearer than the current title, which appears to describe a side effect of completing this task.)

[2019-06-05 06:40] KtorZ commented on #357
Because there's a lot of type-level machinery here. So, by not making a choice at compile time, we give up on a few possible GHC optimization and, we make the instantiation of the target backend much harder.
In addition, this was agreed business-wise to have separate executables for each target backend. The wallet isn't intended to work with more than one backend at a time, so we have in practice

[2019-06-05 06:42] jonathanknowles commented on #355
@KtorZ I'm guessing the first task here would be to build a complete list of these errors, and for each error, specify the metadata we intend to attach to it. (This could be reviewed separately, before actually attempting to implement the change.)

[2019-06-05 06:43] KtorZ commented on #355
Sounds like a good start for a development plan indeed :smile:

[2019-06-05 06:44] jonathanknowles commented on #357
Does this compilation-time choice entail the usage of `#ifdef` statements within our code? Or will we be able to separate out these different implementations at the module or package level?

[2019-06-05 06:51] jonathanknowles commented on #354
@KtorZ Is the [IOHK monitoring framework](https://github.com/input-output-hk/iohk-monitoring-framework) relevant to our needs for this?

[2019-06-05 06:57] KtorZ commented on #357
That's not decided yet. I'd be more inclined for multiple packages, but CPP+ifdef could work too.

[2019-06-05 06:57] KtorZ commented on #354
Yes, see #350

[2019-06-05 06:58] jonathanknowles commented on #357
I would be in favour of handling this at the package level, if possible.

I suspect (but could be wrong) that `#ifdef` statements don't play very nicely with tools for code introspection (such as `haskell-ide-engine`). I could be wrong about that though.

[2019-06-05 08:04] KtorZ commented on #351
Good ideas / people to have discussion with:

- Technical Support Desk
- Daedalus
- Duncan

[2019-06-05 08:11] jonathanknowles commented on #350
Are there any standard structured log file formats that we could / should use? Using a pre-existing standard might mean that people can use standard tools to examine our logs.

[2019-06-05 08:43] KtorZ commented on #350
One of them is obviously JSON, and, some other might exist. I'd suggest to have a look at what other projects are doing and what's suggested by [iohk-monitoring-framework](https://github.com/input-output-hk/iohk-monitoring-framework).

[2019-06-05 09:00] KtorZ commented on #355
Closed. As discussed, this will be an ongoing work we'll do as part of refining our logging and error types as we ran into issues that aren't sufficiently detailed with context.

[2019-06-05 09:00] #355 closed, assigned to nobody

[2019-06-05 09:29] KtorZ opened #368 "Merge `cardano-wallet-launcher` into `cardano-wallet`"
# Context

We currently maintain two separate executables as we historically needed to have a separate
process for launching and monitoring both the wallet server and its backend node. It was recently agreed with Daedalus' team that in the long run, Daedalus will be managing both processes itself and would only require the wallet to take care of itself.

# Decision

- Moving towards this direction

[2019-06-05 11:18] rvl commented on #353
If this issue is called a BUG, then to avoid BUGs, I would have to keep my PRs open until everything has been implemented fully and therefore free of BUGs.

[2019-06-05 11:30] KtorZ commented on #353
@rvl Don't feel attacked with the word "bug", maybe it's too strong of a word. In the workflow, we simply open bugs for oversights or, things we caught after a task was completed or merged. This allows us to keep track of the work more thoroughly than having PR staying opened for too long.

[2019-06-05 14:11] piotr-iohk commented on #361
:+1:

[2019-06-05 14:11] #361 closed, assigned to KtorZ

[2019-06-05 14:19] piotr-iohk commented on #353
lgtm :+1:

[2019-06-05 14:19] #353 closed, assigned to jonathanknowles

[2019-06-06 01:46] jonathanknowles commented on #353
@KtorZ @rvl

Perhaps I can explain my reasoning for adding the "bug" tag here:

1. With a traditional test suite, we **expect** to see failure if one or more test cases don't pass.
2. If a traditional test suite runs to completion reporting **success** ✅, but **silently fails to run** one or more test cases, then we'd **probably** consider it a bug,  as it violates our expectations of what a test

[2019-06-06 04:10] jonathanknowles opened #371 "CLI is not very helpful when arguments are missing."
| Release | Operating System       | Cause |
| ---     | ---                    | ---   |
| next    | Windows & OSX & Linux) | Code |

# Context

When the user issues a CLI command **but forgets one of the required arguments**, the CLI prints the **entire** help string and then exits.

It would be more helpful to the user if the CLI could instead point out **which** arguments are missing.

# Steps

[2019-06-06 04:33] jonathanknowles commented on #356
Fix available: https://github.com/input-output-hk/cardano-wallet/pull/372

[2019-06-06 07:49] piotr-iohk commented on #371
I remember there was a similar point about showing CLI help (along with some other minor improvements to the CLI) on https://github.com/input-output-hk/cardano-wallet/wiki/Blackboard and we even discussed it on one of the meetings. I don't see it anymore however, I don't remember if it was supposed to land as a ticket (but I don't see ticket either) (@KtorZ?)

[2019-06-06 08:06] KtorZ commented on #371
This is now on our [roadmap](https://github.com/input-output-hk/cardano-wallet/wiki/Roadmap#improvements-to-the-cli). As a consequence, I'll close this ticket and point to that roadmap instead. This is a known issue that we'll eventually tackle :+1: